<h3 class="landmark heading"><%= ts("Navigation") %></h3>
<ul class="navigation actions" role="navigation">
  <li><%= span_if_current ts("All Challenges"), list_challenges_collections_path %></li>		
  <li><%= span_if_current ts("Gift Exchange Challenges"), list_ge_challenges_collections_path %></li>
  <li><%= span_if_current ts("Prompt Meme Challenges"), list_pm_challenges_collections_path %></li>
  <li><%= link_to ts("Top-Level Collections"), collections_path %></li>
  <% if @sort_and_filter %>
      <% # Filters button for narrow screens jumps to filters when JavaScript is disabled and opens filters when JavaScript is enabled %>
      <li class="narrow-shown hidden"><a href="#collection-filters" id="go_to_filters"><%= ts("Filters") %></a></li>
  <% end %>
</ul>