<li class="<% if collection.user_is_owner?(current_user) %>own <% end %>collection picture blurb group" role="article">
  <% logged_in = (logged_in_as_admin? || logged_in?) ? "logged-in" : "logged-out" %>
  <%# remember to update collection_sweeper if you change this key %>
  <% cache("collection-blurb-#{logged_in}-#{collection.id}-v5", expires_in: ArchiveConfig.MINUTES_UNTIL_COLLECTION_BLURBS_EXPIRE.minutes, skip_digest: true) do %>
    <div class="header module group">
      <h4 class="heading">
        <%= link_to collection.title, collection_path(collection) %>
        <span class="name">(<%= collection.name %>)</span>
        <%= ts('by') %>
        <%= safe_join(collection.maintainers.uniq.map { |maintainer| link_to(maintainer.byline, maintainer.user, class: collection.user_is_owner?(maintainer.user) ? "owner" : "mod") }, t("support.array.words_connector")) %>
      </h4>
      <!--collections header iconised header image-->
      <div class="icon">
        <%= collection_icon_display(collection) %>
      </div>
      <p class="datetime"><%= set_format_for_date(collection.updated_at) %></p>
      <% unless collection.tag_string.blank? %>
        <h5 class="tags heading">
          <span class="landmark"><%= t(".collection_tags") %></span>
          <%= safe_join(collection.tags.collect{ |tag| link_to_tag_works(tag) }, t("support.array.words_connector")) %>
        </h5>
      <% end %>
    </div>

    <!--summary/descriptions-->
    <h6 class="landmark heading"><%= ts("Summary") %></h6>
    <blockquote class="userstuff summary">
      <%=raw strip_images(sanitize_field(collection, :description)) || "&nbsp;".html_safe %>

      <% if collection.challenge && collection.challenge.signup_open %>
        <p><%= ts("Sign-ups close at:") %> <%= time_in_zone(collection.challenge.signups_close_at, (collection.challenge.time_zone || Time.zone.name)) %></p>
      <% end %>
    </blockquote>

    <p class="type">
      (<%= collection.closed? ? ts("Closed") : ts("Open") %>, <%= collection.moderated? ? ts("Moderated") : ts("Unmoderated") %><%= collection.unrevealed? ? ts(", Unrevealed") : "" %><%= collection.anonymous? ? ts(", Anonymous") : "" %><%= collection.gift_exchange? ? ts(", Gift Exchange Challenge") : "" %><%= collection.prompt_meme? ? ts(", Prompt Meme Challenge") : "" %>)
    </p>

    <!--stats-->
    <dl class="stats">
      <% if (@challenges_count = collection.children.count) > 0 %>
        <dt class="collections"><%= ts("Challenges/Subcollections:") %></dt>
        <dd class="collections"><%= link_to(@challenges_count, collection_collections_path(collection)) %></dd>
      <% end %>
      <% if collection.challenge? && collection.prompt_meme? %>
        <dt class="prompts"><%= ts("Prompts:") %></dt>
        <dd class="prompts"><%= link_to(collection.prompts.count.to_s, collection_requests_path(collection)) %></dd>
      <% end %>
      <dt class="works"><%= ts("Works:") %></dt>
      <dd class="works"><%= link_to(collection.approved_works_count, collection_works_path(collection)) %></dd>
      <% if (@bookmarks_count = collection.approved_bookmarked_items_count) > 0 %>
        <dt class="bookmarks"><%= ts("Bookmarked Items:") %></dt>
        <dd class="bookmarks"><%= link_to(@bookmarks_count, collection_bookmarks_path(collection)) %></dd>
      <% end %>
    </dl>

  <% end %><!-- end cache -->

  <% if collection.user_is_owner?(current_user) || (collection.challenge && collection.challenge.signup_open && logged_in?) || (collection.moderated? && logged_in?) %>
    <h6 class="landmark heading"><%= ts("User Actions") %></h6>
    <ul class="actions">
      <% if collection.user_is_owner?(current_user) %>
        <li><%= link_to ts("Edit"), edit_collection_path(collection) %></li>
      <% end %>
      <% if collection.challenge && collection.challenge.signup_open && logged_in? %>
        <%= render "challenge/#{challenge_class_name(collection)}/challenge_navigation_user", collection: collection %>
      <% end %>
      <% if !collection.user_is_owner?(current_user) && collection.moderated? && !(collection.challenge && collection.challenge.signup_open) %>
        <li>
          <% if (participant = collection.get_participants_for_user(current_user).first) %>
            <%= link_to ts("Leave"), collection_participant_path(collection, participant),
              data: {confirm: ts('Are you certain you want to leave this collection?')},
              :method => :delete %></li>
          <% else %>
            <%= button_to ts("Join"), join_collection_participants_path(collection), method: :post %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
<!--end single blurb-->
