<%= error_messages_for :collection -%>

<% form_for(@collection) do |collection_form| %>
  <p>
    <% if @collection.new_record? && current_user.pseuds.size > 1 %>
      <%= label_tag :owner_pseuds, t("collection_form.owners", :default => "Select owner pseudonym(s): ") -%><br />
      <%= select_tag :owner_pseuds, options_from_collection_for_select(current_user.pseuds, :id, :name, current_user.default_pseud), :multiple => true %>
    <% else -%>
      <%= hidden_field_tag :owner_pseuds, [current_user.default_pseud.id] -%>
    <% end %>
  </p>
  
  <% if @collection.children.empty? %>
  <p>
    <%= collection_form.label :parent_name, t('collections.parent_name', :default => "Parent collection (must be one you maintain): ") -%><br />
    <%= collection_form.text_field :parent_name -%>
    <div class="auto_complete" id="collection_parent_name_auto_complete" ></div>
    <%= javascript_tag("new Autocompleter.Local('collection_parent_name', 'collection_parent_name_auto_complete', #{current_user.maintained_collections.map(&:name).sort.to_json}, {fullSearch: true});") %>
  </p>
  <% end -%>

  <p>
    <%= collection_form.label :name, t("collection_form.name", :default => "Collection Name* (letters, numbers, underscores):") %><br />
    <%= collection_form.text_field :name %>
  </p>

  <p>
    <%= collection_form.label :title, t("collection_form.title", :default => "Display Title* (text only):") %><br />
    <%= collection_form.text_field :title %>
  </p>

  <p>
    <%= collection_form.label :email, t("collection_form.email", :default => "Email (optional, otherwise notices will go to owners):") %><br />
    <%= collection_form.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= collection_form.label :header_image_url, t("collection_form.header_image_url", :default => "URL for custom header image (jpg, gif, png): ") %><br />
    <%= collection_form.text_field :header_image_url %>
  </p>
  <p>
    <%= collection_form.label :description, t("collection_form.description", :default => "Brief Description: ") %><br />
    <%= collection_form.text_area :description, :rows => 4, :cols => 60, :class => "description-field" %>
  </p>

  <% @collection.build_collection_preference unless @collection.collection_preference %>
  <% collection_form.fields_for :collection_preference do |preference_form| %>
  <p>
    <%= preference_form.label :moderated, t("collection_form.moderated", :default => "Is this collection moderated?") %> <%= link_to_help "moderated-collection" -%>
    <%= preference_form.check_box :moderated %>
  </p>
  <p>
    <%= preference_form.label :closed, t("collection_form.closed", :default => "Is this collection closed?") %>
    <%= preference_form.check_box :closed %>
  </p>
  <p>
    <%= preference_form.label :unrevealed, t("collection_form.unrevealed", :default => "Is this collection currently unrevealed") %>
    <%= preference_form.check_box :unrevealed %>
  </p>
  <p>
    <%= preference_form.label :anonymous, t("collection_form.anonymous", :default => "Is this collection currently anonymous?") %>
    <%= preference_form.check_box :anonymous %>
  </p>
  <p>
    <%= preference_form.label :gift_exchange, t("collection_form.gift_exchange", :default => "Is this collection a gift exchange?") %>
    <%= preference_form.check_box :gift_exchange %>
  </p>
  <% end %>

  <% @collection.build_collection_profile unless @collection.collection_profile %>
  <% collection_form.fields_for :collection_profile do |profile_form| %>
  <p>
    <%= profile_form.label :intro, t("collection_form.intro", :default => "Introduction: ") %><br />
    <%= profile_form.text_area :intro, :rows => 10, :cols => 80 %>
  </p>
  <p>
    <%= profile_form.label :faq, t("collection_form.faq", :default => "FAQ: ") %><br />
    <%= profile_form.text_area :faq, :rows => 10, :cols => 80 %>
  </p>
  <p>
    <%= profile_form.label :rules, t("collection_form.rules", :default => "Rules: ") %><br />
    <%= profile_form.text_area :rules, :rows => 10, :cols => 80 %>
  </p>
  <% end %>
  
  <p>
    <%= collection_form.submit 'Submit' %>
  </p>
<% end %>
