<h1><%=h t('listing_collections', :default => "Listing collections") %></h1>

<table summary="" class="collections">
	<caption></caption>
  <thead>
	<tr>
    <th scope="col"><%=h t('name', :default => "Name") %></th>
    <th scope="col"><%=h t('title', :default => "Title") %></th>
    <th scope="col"><%=h t('email', :default => "Email") %></th>
    <th scope="col"><%=h t('header_image_url', :default => "Header image url") %></th>
    <th scope="col"><%=h t('description', :default => "Description") %></th>
  </tr>
</thead>
<tbody>

<% @collections.each do |collection| %>
  <tr>
    <td><%=h collection.name %></td>
    <td><%=h collection.title %></td>
    <td><%=h collection.email %></td>
    <td><%=h collection.header_image_url %></td>
    <td><%=h collection.description %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<ul class="navigation">
<li><%= link_to 'New collection', new_collection_path %></li>
</ul>