<!--Descriptive page name and system messages, descriptions, and instructions.-->
<% if @user %>
<h2><%=h t('owned_collections', :default => "{{user_name}}'s Collections", :user_name => @user.login) %></h2>
<% elsif @collection %>
<h2><%=h t('listing_sub_collections', :default => "Challenges/Subcollections in {{collection_name}}", :collection_name => @collection.title) %></h2>
<% elsif @work -%>
<h2><%=h t('listing_work_collections', :default => "Collections including {{work_name}}", :work_name => @work.title) %></h2>
<% else %>
<h2><%=h t('listing_collections', :default => "Collections in the {{archive_name}}", :archive_name => ArchiveConfig.APP_NAME) %></h2>
<% end %>
<!--/descriptions-->

<!--Subnavigation, sorting and actions-->
<div class="navigation module">
<%- if logged_in? %>
<h3 class="landmark">Navigation</h3>
<ul class="navigation" role="navigation">
  <% if @user && @user == current_user %>
    <li><%= link_to t('collections.my_collection_items', :default => "Manage Collected Works"), user_collection_items_path(@user) -%></li>
  <% end %>
  <% if @collection && !@collection.parent && @collection.user_is_maintainer?(current_user) %>
    <li><%= link_to t('collections.new_collection', :default => "New Subcollection"), new_collection_collection_path(@collection) %></li>
  <% else %>
	  <li><%= link_to t('collections.new_collection', :default => "New Collection"), new_collection_path %></li>
	<% end %>
</ul>
<% end -%>
<!--pagination here-->

<%- if @sort_and_filter -%> 
<!--sorting subnav-->
  <ul class="sorting navigation" role="navigation">
    <li><h4><%= t('sort_by', :default => 'Sort By') -%></h4></li>
    <li><%= sort_link t('sort.title', :default => 'Title'), :title -%></li>
    <li><%= sort_link t('sort.date', :default => 'Date'), :created_at -%></li>
    <li><%= sort_link t('sort.size', :default => 'Size'), :count -%></li>
  </ul>
<!---/subnav-->
<%- end -%>
</div>

<%= will_paginate @collections, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} %>

<!--main content-->
<h3 class="landmark">List of Collections</h3>
<ul class="collection index<% if @user %> works-own<% end %>">
<% @collections.each do |collection| %>
  <li class="<% if collection.user_is_owner?(current_user) %>own<%- end -%> collection blurb">
 		<div class="header module">
			<h4 title="name">
			<%= link_to sanitize_title_for_display(collection.title, :tags => %w(em i b strong strike small)), collection_path(collection) -%>
				<span>(<%=h collection.name -%>)</span>
					<%= t('collection_by_owner', :default => 'by') -%>
					<%= collection.all_owners.map {|owner| link_to(owner.byline, owner.user)}.join(", ") -%>
			</h4>
					<!--collections header iconised header image-->
			<p class="datetime"><!--collection updated at--></p>
<%- cache("collections-#{collection.id}", :expires_in => AdminSetting.cache_expiration.minutes ) do -%>
	<% if collection.all_moderators.length > 0%>
			<h6 class="landmark">Mods</h6>
			<ul title="moderated by" class="mods">
			  <%= collection.all_moderators.map {|mod| "<li>#{link_to(mod.byline, mod.user)}</li>"}.join(", ") -%>
			</ul>
	<% end -%>
		</div>
	<!--unless tags are less than one
	<li>
		<dl class="tags">
		<dt>Tags</dt>
		<dd>
			<ul>
				<li>link to tag</li>
				...
			</ul>
		</dd>
		</dl>
	</li>
	-->
	<!--summary/descriptions-->
	<h6 class="landmark">Summary</h6>
	<blockquote class="user-generated-view summary">
	<%= sanitize_strip_images_and_format_for_display collection.description %>
	</blockquote>

    <p class="type">
	(<%= collection.closed? ? t('collections_index.is_closed', :default => "Closed") : t('collections_index.open', :default => "Open") %>, <%= collection.moderated? ? t('collections_index.is_moderated', :default => "Moderated") : t('collections_index.unmoderated', :default => "Unmoderated") %><%= collection.unrevealed? ? t('collections_index.is_unrevealed', :default => ", Unrevealed") : "" %><%= collection.anonymous? ? t('collections_index.is_anonymous', :default => ", Anonymous") : "" %><%= collection.challenge ? t('collections_index.is_challenge', :default => ", Challenge") : "" %>)
	</p>

	<!--stats-->
	<%- if collection.not_empty? -%>
		<dl class="stats" title="stats">
      <% if (@challenges_count = collection.children.count) > 0%>
      <dt><%= t('collections.children', :default => "Challenges/Subcollections") -%></dt>
        <dd><%= link_to(@challenges_count, collection_collections_path(collection)) -%></dd>
      <% end %>
			<% if (@works_count = collection.all_approved_works_count) > 0%>
			<dt><%=h t('fandoms', :default => "Fandoms") %></dt>
    		<dd><%= link_to(collection.all_fandoms_count, collection_fandoms_path(collection)) -%></dd>			
			<dt><%=h t('works', :default => "Works") %></dt>
    		<dd><%= link_to(@works_count, collection_works_path(collection)) -%></dd>
  		<% end %>
			<% if (@bookmarks_count = collection.all_approved_bookmarks_count) > 0%>
     	<dt><%=h t('bookmarks', :default => "Bookmarks") %></dt>
	      <dd><%= link_to(@bookmarks_count, collection_bookmarks_path(collection)) -%></dd>
			<% end %>
	  </dl>
  <%- end -%>
<%- end -%>  
  <% if collection.user_is_owner?(current_user) %>
	  <p class="navigation"><%= link_to 'Edit', edit_collection_path(collection) %></p>
  <% end %>
</li>
<!--end single blurb-->
<% end %>
</ul>

<%- if @sort_and_filter -%>
<!--filters subnav-->
<%= render :partial => 'collections/filters' %>
<!---/subnav-->
<%- end -%> 
<div class="clear"><!-- presentational--></div>

<%= will_paginate @collections, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} %>