<!--Descriptive page name and system messages, descriptions, and instructions.-->
<% if @user %>
  <h2 class="heading"><%= ts("%{user_name}'s Collections", :user_name => @user.login) %></h2>
<% elsif @collection %>
  <h2 class="heading"><%= ts("Challenges/Subcollections in %{collection_name}", :collection_name => @collection.title) %></h2>
<% elsif @work %>
  <h2 class="heading"><%= ts("Collections including ") + @work.title.html_safe %></h2>
<% else %>
  <h2 class="heading"><%= ts("Collections in the %{archive_name}", :archive_name => ArchiveConfig.APP_NAME) %></h2>
<% end %>

<% if @collections.empty? %>
  <h3 class="heading"><%= ts("Sorry, there were no collections found.") %></h3>
<% else %>
  <h3 class="heading"><%= search_header @collections, @query, ts("Collection") %> </h3>
<% end %>
 
<!--/descriptions-->
<!--Subnavigation, sorting and actions-->
<div class="navigation module">
  <% if logged_in? %>
    <h3 class="landmark heading"><%= ts("Navigation") %></h3>
    <ul class="navigation actions" role="navigation">
      <% if @user && @user == current_user %>
        <li><%= link_to ts("Manage Collected Works"), user_collection_items_path(@user) %></li>
      <% end %>
      <% if @collection && !@collection.parent && @collection.user_is_maintainer?(current_user) %>
        <li><%= link_to ts("New Subcollection"), new_collection_collection_path(@collection) %></li>
      <% else %>
    	  <li><%= link_to ts("Open Challenges"), list_challenges_collections_path %></li>
    	  <li><%= link_to ts("New Collection"), new_collection_path %></li>
    	<% end %>
    </ul>
  <% end %>

  <% if @sort_and_filter %> 
  <!--sorting subnav-->
    <ul class="sorting actions" role="menu">
      <li><%= sort_link ts('Title'), "collections.title" %></li>
      <li><%= sort_link ts('Date'), "collections.created_at", {:sort_default => true, :desc_default => true} %></li>
    </ul>
  <!---/subnav-->
  <% end %>
</div>

<% unless @collections.blank? %>
  <!--pagination here-->
  <%= will_paginate @collections %>

  <!--main content-->
  <h3 class="landmark heading"><%= ts("List of Collections") %></h3>
  <ul class="collection picture index group">
  <% @collections.each do |collection| %>
    <%= render :partial => "collection_blurb", :locals => {:collection => collection} %>
  <% end %>
  </ul>
<% end %>

<% if @sort_and_filter %>
<!--filters subnav-->
<%= render :partial => 'collections/filters' %>
<!---/subnav-->
<% end %> 

<% unless @collections.blank? %>
<%= will_paginate @collections %>
<% end %>
