<% if @user %>
<h1><%=h t('owned_collections', :default => "Collections owned by {{user_name}}", :user_name => @user.login) %></h1>
<% elsif @collection %>
<h1><%=h t('listing_sub_collections', :default => "Challenges/Subcollections in {{collection_name}}", :collection_name => @collection.title) %></h1>
<% elsif @work -%>
<h1><%=h t('listing_work_collections', :default => "Collections including {{work_name}}", :work_name => @work.title) %></h1>
<% else %>
<h1><%=h t('listing_collections', :default => "Collections in the {{archive_name}}", :archive_name => ArchiveConfig.APP_NAME) %></h1>
<% end %>

<%- if logged_in? %>
<ul class="navigation">
  <% if @user && @user == current_user %>
    <li><%= link_to t('collections.my_collection_items', :default => "Manage Collected Works"), user_collection_items_path(@user) -%></li>
  <% end %>
	<li><%= link_to t('collections.new_collection', :default => "New Collection"), new_collection_path %></li>
</ul>
<% end -%>

<!--pagination here-->
<!--sort navigation here-->
<!--filters-->
<ul class="work-list collections">
<% @collections.each do |collection| %>
  <li class="work collections">
  	<ul class="work collections<% if collection.user_is_owner?(current_user) %> own<%- end -%>">
 		<li class="heading">
			<span class="icon"><img src="/images/collections.png" class="icon" alt="" /></span>
			<!--or collections header image-->
			<h3><%= link_to sanitize_title_for_display(collection.title, :tags => %w(em i b strong strike small)), collection_works_path(collection) -%>
				<span>(<%=h collection.name -%>)</span>
					<%= t('collection_by_owner', :default => 'by') -%>
					<%= collection.all_owners.map {|owner| link_to(owner.byline, owner.user)}.join(", ") -%></h3>
			<p class="update"><!--collection updated at--></p>
	</li>
	<% if collection.all_moderators.length > 0%>
	<li>
		<dl class="mods">
		<dt>Mods</dt>
		<dd>
			<ul>
			  <%= collection.all_moderators.map {|mod| "<li>#{link_to(mod.byline, mod.user)}</li>"}.join(", ") -%>
			</ul>
		</dd>
		</dl>
	</li>
	<% end -%>
	<!--unless tags are less than one
	<li>
		<dl class="tags">
		<dt>Tags</dt>
		<dd>
			<ul>
				<li>link to tag</li>
				...
			</ul>
		</dd>
		</dl>
	</li>
	-->
	<li class="summary">
	  <%= sanitize_strip_images_and_format_for_display collection.description %>

    (<%= collection.closed? ? t('collections_index.is_closed', :default => "Closed") : t('collections_index.open', :default => "Open") %>, <%= collection.moderated? ? t('collections_index.is_moderated', :default => "Moderated") : t('collections_index.unmoderated', :default => "Unmoderated") %><%= collection.unrevealed? ? t('collections_index.is_unrevealed', :default => ", Unrevealed") : "" %><%= collection.anonymous? ? t('collections_index.is_anonymous', :default => ", Anonymous") : "" %><%= collection.gift_exchange? ? t('collections_index.is_gift_exchange', :default => ", Gift Exchange") : "" %>)
	</li>

	<%- if collection.not_empty? -%>
	<li class="stats">
		<dl>
      <% if (@challenges_count = collection.children.count) > 0%>
      <dt><%= t('collections.children', :default => "Challenges/Subcollections") -%></dt>
        <dd><%= @challenges_count -%></dd>
      <% end %>
			<% if (@works_count = collection.works.count) > 0%>
			<dt><%=h t('works', :default => "Works") %></dt>
    		<dd><%= @works_count -%></dd>
  		<% end %>
			<% if (@bookmarks_count = collection.bookmarks.count) > 0%>
     	<dt><%=h t('bookmarks', :default => "Bookmarks") %></dt>
	      <dd><%= @bookmarks_count -%></dd>
			<% end %>
	  </dl>
  </li>
  <%- end -%>
  <% if collection.user_is_owner?(current_user) %>
	  <li class="navigation"><%= link_to 'Edit', edit_collection_path(collection) %></li>
  <% end %>
</ul>
</li>
<% end %>
</ul>


