<h1><%=h t('listing_collections', :default => "Listing collections") %></h1>
<h2><!--search_header X works found--></h2>
<ul class="navigation">
	<li><%= link_to 'New collection', new_collection_path %></li>
</ul>
<!--pagination here-->
<!--sort navigation here-->
<!--filters-->
<ul class="work-list collections">
<% @collections.each do |collection| %>
  <li class="work collections">
  	<ul class="work collections">
 		<li class="heading">
			<span class="icon"><img src="/images/collections.png" class="icon" alt="" /></span>
			<!--or collections header image-->
			<h3><%= link_to collection.title, collection -%>
				<span>(<%= collection.name -%>)</span>
					<%= t('collection_by_owner', :default => 'by') -%>
					<%= collection.all_owners.map {|owner| link_to(owner.byline, owner.user)}.join(", ") -%></h3>
			<p class="update"><!--collection updated at--></p>
	</li>
	<% if collection.all_moderators.length > 0%>
	<li>
		<dl class="mods">
		<dt>Mods</dt>
		<dd>
			<ul>
			  <%= collection.all_moderators.map {|mod| "<li>#{link_to(mod.byline, mod.user)}</li>"} -%>
			</ul>
		</dd>
		</dl>
	</li>
	<% end -%>
	<!--unless tags are less than one
	<li>
		<dl class="tags">
		<dt>Tags</dt>
		<dd>
			<ul>
				<li>link to tag</li>
				...
			</ul>
		</dd>
		</dl>
	</li>
	-->
	<li class="summary">
		<%=h collection.description %>
		<!--if greater than x characters then 
		(...) link to collection show page-->		
    ( <%= collection.closed? ? t('collections_index.is_closed', :default => "Closed") : t('collections_index.open', :default => "Open") %>, 
    <%= collection.moderated? ? t('collections_index.is_moderated', :default => "Moderated") : t('collections_index.unmoderated', :default => "Unmoderated") %>
    <%= collection.unrevealed? ? t('collections_index.is_unrevealed', :default => ", Unrevealed") : "" %>
    <%= collection.anonymous? ? t('collections_index.is_anonymous', :default => ", Anonymous") : "" %> )
	</li>
	<!-- ONLY print if stats are available-->
	<li class="stats">
		<dl>
      <% if (@challenges_count = collection.children.count) > 0%>
      <dt><%= t('collections.children', :default => "Challenges/Subcollections") -%></dt>
        <dd><%= @challenges_count -%></dd>
      <% end %>
			<% if (@works_count = collection.works.count) > 0%>
			<dt><%=h t('works', :default => "Works") %></dt>
    		<dd><%= @works_count -%></dd>
  		<% end %>
			<% if (@bookmarks_count = collection.bookmarks.count) > 0%>
     	<dt><%=h t('bookmarks', :default => "Bookmarks") %></dt>
	      <dd><%= @bookmarks_count -%></dd>
			<% end %>
	  </dl>
  </li>
  <% if collection.user_is_owner?(current_user) %>
	  <li><%= link_to 'Edit', edit_collection_path(collection) %></li>
  <% end %>
<% end %>
</ul>

