<ul class="navigation">
	<li><%= link_to 'Manage Participants', collection_participants_path(@collection) -%> </li>
	<li><%= link_to 'Manage Items', collection_items_path(@collection) -%></li>
	<li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
	<li><%= link_to 'Back', collections_path %></li>
</ul>


<h2><%=h @collection.title %><h2>
<h3>(<%=h @collection.name %>)</h3>
	<dl class="blurb">
	<dt><%=h t('mods', :default => "Collection Email:") %></dt>
	<dd>
	<%=h @collection.email %>
	<dt><%=h t('description', :default => "Description:") %></dt>
	<dd>
	<%=h @collection.description %>
	</dd>
</dl>

<div class="preface">
	<blockquote>
		<h3><%=h t('intro', :default => "Intro:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.intro %>
	</blockquote>
	<blockquote>
		<h3><%=h t('faq', :default => "FAQ:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.faq %>
	</blockquote>
	<blockquote>
		<h3><%=h t('rules', :default => "Rules:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.rules %>
	</blockquote>
</div>

<ul class="navigation">
	<li><%= link_to 'Manage Participants', collection_participants_path(@collection) -%> </li>
	<li><%= link_to 'Manage Items', collection_items_path(@collection) -%></li>
	<li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
	<li><%= link_to 'Back', collections_path %></li>
</ul>