<p>
  <b>Name:</b>
  <%=h @collection.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @collection.title %>
</p>

<p>
  <b>Collection Email:</b>
  <%=h @collection.email %>
</p>

<p>
  <b>Header image url:</b>
  <%=h @collection.header_image_url %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize_and_format_for_display @collection.description %>
</p>

<p>
Intro: <%= sanitize_and_format_for_display @collection.collection_profile.intro %>
</p>

<p>
FAQ: <%= sanitize_and_format_for_display @collection.collection_profile.faq %>
</p>

<p>
Rules: <%= sanitize_and_format_for_display @collection.collection_profile.rules %>
</p>

<%= link_to 'Manage Participants', collection_participants_path(@collection) -%> |
<%= link_to 'Manage Items', collection_items_path(@collection) -%> |

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>