<ul class="navigation">
  <% if (@participant = @collection.get_participants_for_user(current_user).first) -%>  
    <li><%= link_to t('participant_remove', :default => "Leave"), collection_participant_path(@collection, @participant), 
      :confirm => t('participant_confirm_delete', :default => 'Are you certain you want to remove {{participant}}?', 
                  :participant => @participant.pseud.name), 
      :method => :delete %></li>
  <% elsif logged_in? %>
    <li><%= link_to 'Join', join_collection_participant_path(@collection) -%></li>
  <% end %>
  <% if @collection.user_is_maintainer?(current_user) %>
  	<li><%= link_to 'Manage Participants', collection_participants_path(@collection) -%></li>
  	<li><%= link_to 'Manage Items', collection_items_path(@collection) -%></li>
  <% end %>
  <% if @collection.user_is_owner?(current_user) %>
	  <li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
	  <li><%= link_to 'Delete', collection_path(@collection), 
      :confirm => t('collection_confirm_delete', :default => 'Are you certain you want to delete this collection?'),
      :method => :delete %></li>
  <% end %>
	<li><%= link_to 'Back', collections_path %></li>
</ul>


<h2><%=h @collection.title %></h2>
<h3>(<%=h @collection.name %>)</h3>
	<dl class="blurb">
	<dt><%=h t('mods', :default => "Collection Email:") %></dt>
	<dd>
	<%=h @collection.email %>
	<dt><%=h t('description', :default => "Description:") %></dt>
	<dd>
	<%=h @collection.description %>
	</dd>
</dl>

<div class="preface">
	<blockquote>
		<h3><%=h t('intro', :default => "Intro:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.intro %>
	</blockquote>
	<blockquote>
		<h3><%=h t('faq', :default => "FAQ:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.faq %>
	</blockquote>
	<blockquote>
		<h3><%=h t('rules', :default => "Rules:") %></h3>
		<%= sanitize_and_format_for_display @collection.collection_profile.rules %>
	</blockquote>
</div>

<ul class="navigation">
  <% if (@participant = @collection.get_participants_for_user(current_user).first) -%>  
    <li><%= link_to t('participant_remove', :default => "Leave"), collection_participant_path(@collection, @participant), 
      :confirm => t('participant_confirm_delete', :default => 'Are you certain you want to remove {{participant}}?', 
                  :participant => @participant.pseud.name), 
      :method => :delete %></li>
  <% else %>
    <li><%= link_to 'Join', join_collection_participant_path(@collection) -%></li>
  <% end %>
	<li><%= link_to 'Manage Participants', collection_participants_path(@collection) -%></li>
	<li><%= link_to 'Manage Items', collection_items_path(@collection) -%></li>
	<li><%= link_to 'Edit', edit_collection_path(@collection) %></li>
	<li><%= link_to 'Back', collections_path %></li>
</ul>
