<div id="collection-page" class="profile">

  <%= render :partial => "collections/header", :locals => {:collection => @collection} %>

  <!--main content-->
  <!-- expects @works, @bookmarks -->
    <%- unless @works.blank? -%>
    <div class="works module" id="collection-works">
      <h3><%=h @collection.closed? ? t('collections.random_works', :default => "Random works") : t('recent_works', :default => "Recent works") %></h3>
      <ul class="index">
        <%- for work in @works -%>
      	  <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
          <%- end -%>
      </ul>
    </div>
    <%- end -%>

    <%- unless @bookmarks.blank? -%>
    <div class="bookmarks module" id="collection-bookmarks">
      <h3><%=h @collection.closed? ? t('collections.random_bookmarks', :default => "Random bookmarks") : t('recent_bookmarks', :default => "Recent bookmarks") %></h3>
      <ul class="index">
      <%- for bookmark in @bookmarks -%>
        <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
      <%- end -%>
      </ul>
    </div>
    <%- end -%>

  <% if @works.blank? && @bookmarks.blank? %>
    <p class="alt message">There are no works or bookmarks in this collection yet.</p>
  <% end %>
  <!--/content-->
  
</div> 
