<h1><%= sanitize_title_for_display @collection.title %> <span>(<%=h @collection.name %>)</span></h1>

<%= render :partial => "collection_show_navigation" -%>

<%- cache("collection-show-#{@collection.id}-top", :expires_in => AdminSetting.cache_expiration.minutes ) do -%>

<dl class="blurb">
	<dt><%=h t('collections.owners', :default => "Owners:") %></dt>
	<dd>
		<ul>
		  <%= @collection.all_owners.map {|owner| "<li>#{link_to(owner.byline, owner.user)}</li>"}.join(', ') -%>
		</ul>
	</dd>

	<%- unless @collection.all_moderators.map.blank? -%>
	<dt><%=h t('collections.mods', :default => "Moderators:") %></dt>
	<dd>
		<ul>
		  <%= @collection.all_moderators.map {|mod| "<li>#{link_to(mod.byline, mod.user)}</li>"}.join(', ') -%>
		</ul>
	</dd>
	<% end -%>
	
	<%- unless @collection.email.blank? -%>
	<dt><%=h t('collection.email', :default => "Collection Email:") %></dt>
	<dd><%=h @collection.email %></dd>
	<% end -%>
	
	<%- unless @collection.description.blank? -%>
	<dt><%=h t('collection.description', :default => "Description:") %></dt>
	<dd><%= sanitize_and_format_for_display @collection.description %></dd>
	<%- end -%>
	
<%- end -%>	

 <% unless @collection.parent || (@collection.children.empty? && !@collection.user_is_maintainer?(current_user)) %>
	<dt><%=h t('collections.children', :default => "Challenges and subcollections: ") -%></dt>
  <dd>
    <%= @collection.children.sort_by {|child| child.created_at}.map {|child| link_to(sanitize_title_for_display(child.title), child)}.join(", ") -%>
    <% if @collection.user_is_maintainer?(current_user) -%>
      (<%= link_to t('collections.add_child', :default => "Add new challenge/subcollection"), new_collection_collection_path(@collection) %>)
    <% end %>
  </dd>
 <% end -%>
 
<%- cache("collection-show-#{@collection.id}-bottom", :expires_in => AdminSetting.cache_expiration.minutes ) do -%> 
 <% if @collection.parent %>
   <dt><%=h t('collections.parent', :default => "Parent Collection: ") -%></dt>
   <dd><%= link_to(sanitize_title_for_display(@collection.parent.title), @collection.parent) -%></dd>
 <% end -%>

 <dt><%= t('collections.settings', :default => "Settings: ") %></dt>
   <dd><%= @collection.closed? ? t('collections.is_closed', :default => "This collection is not accepting new stories at this time. ") : 
         t('collections.is_open', :default => "This collection is currently open for new stories. ")%>
   <%= @collection.moderated? ? t('collections.is_moderated', :default => "This collection is moderated. ") : 
         t('collections.is_unmoderated', :default => "This collection is not moderated: anyone may post. ") %>
   <%= @collection.unrevealed? ? t('collections.is_unrevealed', :default => "Stories in this collection are currently hidden. ") : "" %>
   <%= @collection.anonymous? ? t('collections.is_anonymous', :default => "Story authors are currently hidden. ") : "" %>
   <%= (@collection.unrevealed? || @collection.anonymous?) ? t('collections.see_details', :default => "See the collection details below for more information about how and when they will be revealed! ") : "" %>
   </dd>
   
 	<%- if @collection.not_empty? -%>
		<% if (@works_count = @collection.all_approved_works_count) > 0%>
  		<dt><%=h t('collection_show.fandoms', :default => "Fandoms") %></dt>
   		<dd><%= link_to(@collection.all_fandoms_count, collection_fandoms_path(@collection)) -%></dd>

  		<dt><%=h t('collection_show.works', :default => "Works") %></dt>
   		<dd><%= link_to(@works_count, collection_works_path(@collection)) -%></dd>
		<% end %>

		<% if (@bookmarks_count = @collection.all_approved_bookmarks_count) > 0%>
  	  <dt><%=h t('collection_show.bookmarks', :default => "Bookmarks") %></dt>
      <dd><%= link_to(@bookmarks_count, collection_bookmarks_path(@collection)) -%></dd>
		<% end %>
  <%end %>
</dl>

<div class="preface profile user-generated-view">
  <% if !@collection.collection_profile.intro.blank? || (@collection.parent && !@collection.parent.collection_profile.intro.blank?) %>
  <blockquote id="intro">
    <%= render :partial => 'collection_profile_navigation', :locals => {:section => 'intro'} -%>
    <h3><%=h t('intro', :default => "Intro:") %></h3>
    <%= sanitize_and_format_for_display(@collection.collection_profile.intro.blank? ? @collection.parent.collection_profile.intro : @collection.collection_profile.intro) %>
  </blockquote>
  <% end -%>
	
  <%- if !@collection.collection_profile.faq.blank? || (@collection.parent && !@collection.parent.collection_profile.faq.blank?) -%>
	<blockquote id="faq">
    <%= render :partial => 'collection_profile_navigation', :locals => {:section => 'faq'} -%>
		<h3><%=h t('faq', :default => "FAQ:") %></h3>
		<%= sanitize_and_format_for_display(@collection.collection_profile.faq.blank? ? @collection.parent.collection_profile.faq : @collection.collection_profile.faq) %>
	</blockquote>
	<%- end -%>

 <% if !@collection.collection_profile.rules.blank? || (@collection.parent && !@collection.parent.collection_profile.rules.blank?) %>
	<blockquote id="rules">
    <%= render :partial => 'collection_profile_navigation', :locals => {:section => 'rules'} -%>
		<h3><%=h t('rules', :default => "Rules:") %></h3>
		<%= sanitize_and_format_for_display(@collection.collection_profile.rules.blank? ? @collection.parent.collection_profile.rules : @collection.collection_profile.rules) %>
	</blockquote>
	<%- end -%>
</div>

<%- end -%>

<%= render :partial => "collection_show_navigation" -%>
