<div id="collection-page" class="collection home">

  <%= render "collections/header", :collection => @collection %>

  <% unless @collection.tag_string.blank? %>
    <h5 class="meta heading"><%= t(".collection_tags") %></h5>
    <ul class="meta tags commas">
      <% @collection.tags.each do |tag| %>
        <li><%= link_to(tag.name, link_to_tag_works(tag), class: "tag") %></li>
      <% end %>
    </ul>
  <% end %>

  <!--main content-->
  <% # expects @works, @bookmarks %>  
  <% unless @works.blank? %>
    <%= render 'works_module', :collection => @collection, :works => @works %>
  <% end %>

  <% unless @bookmarks.blank? %>
    <%= render 'bookmarks_module', :collection => @collection, :bookmarks => @bookmarks %>
  <% end %>

  <% if @works.blank? && @bookmarks.blank? %>
    <p class="alt message"><%= ts("There are no works or bookmarks in this collection yet.") %></p>
  <% end %>
  <!--/content-->
  
</div> 
