<h2><%= ts("Tag Nominations") %></h2>

<h3><%= ts("Notes") %></h3>
<ul class="notes">
	<li>Please nominate the canonical form of a tag if possible. The autocomplete will only list canonical tags.</li>
	<li>Your nominations will be reviewed by the tag set moderators and may not be included.</li> 
</ul>

<!-- /descriptions-->

<!--main content-->
<h3 class="landmark"><%= ts("Tag Nominations") %></h3>

<%= form_for(@tag_set_nomination, :url => (@tag_set_nomination.new_record? ? tag_set_nominations_path(@tag_set) : tag_set_nomination_path(@tag_set, @tag_set_nomination)), :html => {:method => (@tag_set_nomination.new_record? ? :post : :put)}) do |f| %>
  <fieldset class="preface profile">
    <legend>Basic Information</legend>
    <h4>Basic Information</h4>
    <dl>
      <dt><%= f.label :owned_tag_set_id, ts("Nominating For: ") %></dt>
      <dd><%= f.hidden_field :owned_tag_set_id, :value => @tag_set_nomination.owned_tag_set.id %><%= @tag_set_nomination.owned_tag_set.title %></dd>
        
      <dt><%= f.label :pseud_id, ts("Pseud: ") %></dt>
      <dd><%= f.select :pseud_id, current_user.pseuds.collect {|p| [p.name, p.id] } %></dd>
    </dl>
  </fieldset>
  <fieldset class="tagset preface profile">
    <legend>Tag Nominations</legend>
    <h4>Tag Nominations</h4>
    <% limit = {} %>
	  <% limit[:fandom] = @tag_set.fandom_nomination_limit %>
	  <% limit[:character] = @tag_set.character_nomination_limit %>
	  <% limit[:relationship] = @tag_set.relationship_nomination_limit %>
	  <% limit[:freeform] = @tag_set.freeform_nomination_limit %>
	  <p class="notes"><%= nomination_notes(limit) %></p>
	  <% if limit[:relationship] > 0 && limit[:fandom] > 1 %>
	    <p class="notes"><%= ts("If crossover relationships are allowed, you can enter them under either fandom.") %></p>
	  <% end %>
  	<dl> 
  	  <% if limit[:fandom] > 0 %>
  	    <% limit[:fandom].times do |i| %>
          <dt><%= label_tag "tag_set_nomination_fandom_nominations_#{i}", ts("Fandom %{index}", :index => i+1) %></dt>
          <dd><%= text_field_tag "tag_set_nomination[fandom_nominations][]", @tag_set_nomination.fandom_nominations.try(:at, i),
                  autocomplete_options("fandom", :autocomplete_token_limit => 1, :id => "tag_set_nomination_fandom_nominations_#{i}", :class => "autocomplete_with_canon_check") %></dd>
          <dd id="info_for_tag_set_nomination_fandom_nominations_<%= i %>" class="hideme">
            The fandom you've entered isn't canonical. If it really is a new fandom, please give us some more information to help the moderators and tag wranglers set up the tags!
            <dl>
              <dt><%= label_tag "tag_set_nomination_fandom_nomination_medias_#{i}", ts("Type of fandom?") %></dt>
              <dd><%= select_tag "tag_set_nomination[fandom_nomination_medias][]", options_for_select(Media.canonical.by_name.collect {|m| [m.name, m.id]}), 
                      :include_blank => true, :id => "tag_set_nomination_fandom_nomination_medias_#{i}" %></dd>

    	 	      <dt><%= label_tag "tag_set_nomination_fandom_nomination_notes_#{i}", ts("Brief Notes?") %></dt>
    	 	      <dd>
    	 	        <%= text_area_tag "tag_set_nomination[fandom_nomination_notes][]", @tag_set_nomination.fandom_nomination_notes.try(:at, i),
    	 	                  :id => "tag_set_nomination_fandom_nomination_notes_#{i}" %>
    	 	      </dd>
    	 	    </dl>
    	 	  </dd>
                    
          <% # if fandoms are being nominated then any character/relationship noms go under fandom %>
          <% %w(character relationship).each do |tag_type| %>
            <% if limit[tag_type.to_sym] > 0 %>
              <dt><%= label_tag "tag_set_nomination_#{tag_type}_nominations_#{i}", ts("#{tag_type.classify.pluralize} (up to %{limit})", :limit => limit[tag_type.to_sym]) %></dt>
              <dd>
                <%= text_field_tag "tag_set_nomination[#{tag_type}_nominations][]",  @tag_set_nomination.send("#{tag_type}_nominations").try(:at, i),
                        autocomplete_options("#{tag_type}_in_fandom", :autocomplete_live_params => "fandom=tag_set_nomination_fandom_nominations_#{i}", 
                            :autocomplete_token_limit => limit[tag_type.to_sym], :id => "tag_set_nomination_#{tag_type}_nominations_#{i}") %>
              </dd>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if limit[:fandom] < 1 %>
        <% # if no fandom nominations are allowed, char/relationship nominations go on their own with optional fandom specification %>
        <% %w(character relationship).each do |tag_type| %>
          <% limit[tag_type.to_sym].times do |i| %>
            <dt><%= label_tag "tag_set_nomination_#{tag_type}_nominations_#{i}", ts("#{tag_type.classify} %{index}", :index => i+1) %></dt>
            <dd>
              <%= text_field_tag "tag_set_nomination[#{tag_type}_nominations][]",  @tag_set_nomination.send("#{tag_type}_nominations").try(:at, i),
                      autocomplete_options("#{tag_type}_in_fandom", :autocomplete_live_params => "fandom=tag_set_nomination_#{tag_type}_nomination_fandoms_#{i}", 
                          :autocomplete_token_limit => limit[tag_type.to_sym], :id => "tag_set_nomination_#{tag_type}_nominations_#{i}") %>
            </dd>
	 	        <dt><%= label_tag "tag_set_nomination_#{tag_type}_nomination_notes_#{i}", ts("Brief Notes") %></dt>
	 	        <dd><%= text_area_tag "tag_set_nomination[#{tag_type}_nomination_notes][]", @tag_set_nomination.send("#{tag_type}_nomination_notes").try(:at, i),
	 	                        :id => "tag_set_nomination_#{tag_type}_nomination_notes_#{i}" %>
	 	        </dd>
            <dt><%= label_tag "tag_set_nomination_#{tag_type}_nomination_fandoms_#{i}", ts("Fandom (only needed if new)") %></dt>
            <dd><%= text_field_tag "tag_set_nomination[#{tag_type}_nomination_fandoms][]", @tag_set_nomination.send("#{tag_type}_nomination_fandoms").try(:at, i),
                      autocomplete_options("fandom", :autocomplete_token_limit => 1) %></dd>
          <% end %>
        <% end %>
      <% end %>

      <% # freeform tags %>  	  
      <% if limit[:freeform] > 0 %>
        <dt><%= f.label :freeform_nominations, ts("Freeforms (Up To %{limit})", :limit => limit[:freeform]) %></dt>
        <dd><%= f.text_field :freeform_nominations, autocomplete_options("freeform", :autocomplete_token_limit => limit[:freeform]) %></dd>
      <% end %>

    </dl>
  </fieldset>

  <fieldset>
  	<legend><%= ts('Submit') %></legend> 
    <p class="submit">
      <%= f.submit ts('Submit') %>
    </p>
  </fieldset>
<% end %>
