<div class="navigation module">
  <h3 class="landmark">Navigation</h3>
  <ul class="navigation" role="navigation">
	  <li><%= link_to h(ts("Back To ")) + @tag_set_nomination.owned_tag_set.title, tag_set_path(@tag_set_nomination.owned_tag_set) %></li>
    <li><%= link_to ts("Tag Sets"), tag_sets_path %></li>
  </ul>
</div>

<h2><%= ts("Tag Nominations") %></h2>

<h3 class="landmark"><%= ts("Notes") %></h3>
<ul class="notes">
	<li>Please nominate the canonical form of a tag if possible. The autocomplete will only list canonical tags.</li>
	<li>Your nominations will be reviewed by the tag set moderators and may not be included.</li> 
</ul>

<!-- /descriptions-->

<!--main content-->
<h3 class="landmark"><%= ts("Tag Nominations") %></h3>

<%= error_messages_for :tag_set_nomination %>

<%= form_for(@tag_set_nomination, :url => (@tag_set_nomination.new_record? ? tag_set_nominations_path(@tag_set) : tag_set_nomination_path(@tag_set, @tag_set_nomination)), :html => {:method => (@tag_set_nomination.new_record? ? :post : :put)}) do |f| %>
  <fieldset>
    <legend>Basic Information</legend>
    <dl>
      <dt><%= f.label :owned_tag_set_id, ts("Nominating For: ") %></dt>
      <dd><%= f.hidden_field :owned_tag_set_id, :value => @tag_set_nomination.owned_tag_set.id %><%= link_to @tag_set_nomination.owned_tag_set.title, tag_set_path(@tag_set_nomination.owned_tag_set) %></dd>
        
      <dt><%= f.label :pseud_id, ts("Pseud: ") %></dt>
      <dd><%= f.select :pseud_id, current_user.pseuds.collect {|p| [p.name, p.id] } %></dd>
    </dl>
  </fieldset>

  <h4><%= ts("Tag Nominations") %></h4>
  <p class="notes"><%= nomination_notes(@limit) %></p>
  <% if @limit[:relationship] > 0 && @limit[:fandom] > 1 %>
    <p class="notes"><%= ts("If crossover relationships are allowed, you can enter them under either fandom.") %></p>
  <% end %>

  <% if @limit[:fandom] > 0 %>
    <% # char and relationship nominations grouped by fandom in separate fieldsets %>
    <% @tag_set_nomination.fandom_nominations.each_with_index do |fandom_nomination, index| %>
      <%= f.fields_for :fandom_nominations, fandom_nomination do |nom_form| %>
        <%= render 'fandom_nominations', :nom_form => nom_form, :fandom_nominations_counter => index %>
      <% end %>
    <% end %>


  <% else %>
    <% # nominations all on same level in fieldset/dls %>
    <fieldset class="tagset">
      <dl>
        <% @tag_set_nomination.character_nominations.each_with_index do |character_nomination, index| %>
          <%= f.fields_for :character_nominations, character_nomination do |nom_form| %>
            <%= render 'tag_nominations', :nom_form => nom_form, :tag_type => 'character', :tag_nominations_counter => index %>
          <% end %>
        <% end %>
      </dl>
    </fieldset>

    <fieldset class="tagset">
      <dl>
        <% @tag_set_nomination.relationship_nominations.each_with_index do |relationship_nomination, index| %>
          <%= f.fields_for :relationship_nominations, relationship_nomination do |nom_form| %>
            <%= render 'tag_nominations', :nom_form => nom_form, :tag_type => 'relationship', :tag_nominations_counter => index %>
          <% end %>
        <% end %>
      </dl>
    </fieldset>
  <% end %>

  <% # freeform nominations go in their own fieldset %>
  <% if @limit[:freeform] > 0 %>
    <fieldset class="tagset <%= cycle :odd, :even %>">
      <dl>
        <% @tag_set_nomination.freeform_nominations.each_with_index do |freeform_nomination, index| %>
          <%= f.fields_for :freeform_nominations, freeform_nomination do |nom_form| %>
            <%= render 'freeform_nominations', :nom_form => nom_form, :freeform_nominations_counter => index %>
          <% end %>
        <% end %>
      </dl>      
    </fieldset>
  <% end %>


  <fieldset>
  	<legend><%= ts('Submit') %></legend> 
    <p class="submit">
      <%= f.submit ts('Submit') %>
    </p>
  </fieldset>
<% end %>
