<h2><%= ts("Review Nominations") %></h2>

<div class="navigation module">
  <h3 class="landmark">Navigation</h3>
  <ul class="navigation" role="navigation">
    <% @tag_types.each do |type| %>
  	  <li><%= link_to_unless (@tag_type == type), ts("#{type.classify.pluralize}"), url_for(:tag_type => type) %></li>
  	<% end %>
  	<% if @tag_set.user_is_owner?(current_user) %>
      <li><%= link_to ts("Clear Nominations"), destroy_multiple_tag_set_nominations_path(@tag_set),
        :confirm => ts('Are you certain you want to clear nominations for this tag set? (This will NOT affect tags you have approved, but it will clear the history of rejected tags.)'),
        :method => :post %></li>
    <% end %>
  </ul>
</div>

<p class="notes">
  You can either approve or reject nominations, or leave them unmarked if you want to review them later on. Once a nomination
  is either approved or rejected, it will no longer appear on this page. (You can always manually add a tag yourself if you 
  accidentally reject one that you meant to approve.)
</p>
<p class="notes">
  Please note that we may occasionally clear out old nominations after several months to avoid database clutter, so please don't 
  leave nominations turned on unless you are actively reviewing nominations on a regular basis.
</p>

<%= form_for :tag_set_nominations, :url => update_multiple_tag_set_nominations_path(@tag_set), :html => { :method => :put } do |form| %>
  <h3>Nominated <%= @tag_type.classify.pluralize %><%= hidden_field_tag "tag_type", @tag_type %></h3>
  <% noms = @nominations.where(:canonical => true) %>
  <% unless noms.empty? %>
    <fieldset>
    <h4><%=ts("Canonical")%></h4>
    <p class="notes">
      The following nominated tags are canonical and wrangled. However, note that you may have more and less specific versions of the same tag
      nominated (eg, "Sam" and "Sam Winchester" where "Sam" is a meta tag covering all characters named Sam Whatever). 
    </p>
    <p>
      Approve <a href="#" class="check_all" checkbox_name_filter="approve">All</a> | <a href="#" class="check_none" checkbox_name_filter="approve">None</a>
      Reject <a href="#" class="check_all" checkbox_name_filter="reject">All</a> | <a href="#" class="check_none" checkbox_name_filter="reject">None</a>
    </p>
    <ul class="options<%= noms.count > (ArchiveConfig.OPTIONS_TO_SHOW * 3) ? ' many' : ''%>">
    <% noms.names_with_count.each do |nom| %>
      <li class="<%= cycle("odd", "even") %>">
        <%= nom.tagname %> (<%= nom.count %>)
        <%= label_tag "approve_#{nom.tagname}" do %>
          <%= ts("Approve") %>
          <%= check_box_tag "approve_#{nom.tagname}", 1, params["approve_#{nom.tagname}"] %>            
        <% end %>
        <%= label_tag "reject_#{nom.tagname}" do %>
          <%= ts("Reject") %>
          <%= check_box_tag "reject_#{nom.tagname}", 1, params["reject_#{nom.tagname}"] %>            
        <% end %>
      </li>        
    <% end %>
    </ul>
    </fieldset>
  <% end %>

  <% # existing but noncanonical tags %>
  <% noms = @nominations.where(:canonical => false, :exists => true) %>
  <% unless noms.empty? %>
    <fieldset>
    <h4>Existing Tags</h4>
    <p class="notes">
      The following nominated tags exist but are not canonical. They may have an official synonym, in which case
      you can approve the synonym instead (or in addition if you really want, but that is not recommended).
    </p>
    <p>
      Approve <a href="#" class="check_all" checkbox_name_filter="approve">All</a> | <a href="#" class="check_none" checkbox_name_filter="approve">None</a>
      Reject <a href="#" class="check_all" checkbox_name_filter="reject">All</a> | <a href="#" class="check_none" checkbox_name_filter="reject">None</a>
      Synonyms <a href="#" class="check_all" checkbox_name_filter="synonym">All</a> | <a href="#" class="check_none" checkbox_name_filter="synonym">None</a>
    </p>
    <ul class="options<%= noms.count > (ArchiveConfig.OPTIONS_TO_SHOW * 3) ? ' many' : ''%>">
    <% noms.names_with_count.each do |nom| %>
      <li class="<%= cycle("odd", "even") %>">
        <%= nom.tagname %> (<%= nom.count %>)
        <%= label_tag "approve_#{nom.tagname}" do %>
          <%= ts("Approve") %>
          <%= check_box_tag "approve_#{nom.tagname}", 1, params["approve_#{nom.tagname}"] %>            
        <% end %>
        <%= label_tag "reject_#{nom.tagname}" do %>
          <%= ts("Reject") %>
          <%= check_box_tag "reject_#{nom.tagname}", 1, params["reject_#{nom.tagname}"] %>
        <% end %>
        <% if nom.synonym %>
          <%= label_tag "approve_#{nom.synonym}" do %>
            <%= ts("Approve Synonym Instead: ") %>
            <%= nom.synonym %>
            <%= check_box_tag "synonym_#{nom.synonym}", 1, params["synonym_#{nom.synonym}"] %>            
          <% end %>
        <% end %>
      </li>        
    <% end %>
    </ul>
    </fieldset>
  <% end %>

  <% # nonexistent tags nominated %>
  <% noms = @nominations.where(:exists => false) %>
  <% unless noms.empty? %>
    <fieldset>
    <h4>Nonexistent Tags</h4>
    <p class="notes">
      The following nominated tags don't exist on the archive at all. Please check these over
      closely before approving them for addition!
    </p>
    <p>
      Approve <a href="#" class="check_all" checkbox_name_filter="approve">All</a> | <a href="#" class="check_none" checkbox_name_filter="approve">None</a>
      Reject <a href="#" class="check_all" checkbox_name_filter="reject">All</a> | <a href="#" class="check_none" checkbox_name_filter="reject">None</a>
    </p>
    <ul class="options<%= noms.count > (ArchiveConfig.OPTIONS_TO_SHOW * 3) ? ' many' : ''%>">
    <% noms.names_with_count.each do |nom| %>
      <li class="<%= cycle("odd", "even") %>">
        <%= nom.tagname %> (<%= nom.count %>)
        <%= label_tag "approve_#{nom.tagname}" do %>
          <%= ts("Approve") %>
          <%= check_box_tag "approve_#{nom.tagname}", 1, params["approve_#{nom.tagname}"] %>            
        <% end %>
        <%= label_tag "reject_#{nom.tagname}" do %>
          <%= ts("Reject") %>
          <%= check_box_tag "reject_#{nom.tagname}", 1, params["reject_#{nom.tagname}"] %>            
        <% end %>
      </li>
    <% end %>
    </ul>
    </fieldset>
  <% end %>

  <fieldset>
    <p class="submit"><%= submit_tag "Submit" %></p>      
  </fieldset>    

<% end %>
