<div class="tag tagset"><!--this is probably what we should do for each feature, reckon?-->
	<h2 class="heading"><%= ts("Review Nominations for %{title}", :title => @tag_set.title) %></h2>

<ul class="navigation actions" role="navigation">
	<% if @tag_set.user_is_owner?(current_user) %>
    <li><%= link_to ts("Clear Nominations"), destroy_multiple_tag_set_nominations_path(@tag_set),
      :confirm => ts('Are you certain you want to clear nominations for this tag set? (This will NOT affect the tags already in your set, but it will clear the history of rejected tags and users will be able to nominate again.)'),
      :method => :post %></li>
  <% end %>
  <li><%= link_to ts("Back To %{title}", :title => @tag_set.title), tag_set_path(@tag_set) %></li>
</ul>


<ul class="notes">
  <li>Old (several months) nominations are sometimes cleared from the database. Please review
    nominations regularly or turn them off.</li>  

  <li>You can approve or reject nominations, or leave them for later. Once a nomination
  has been either approved or rejected, it won't appear on this page again.</li>
  
  <li>If you reject a fandom nomination, we will automatically reject all character and relationship nominations submitted 
    for that fandom. We will <em>not</em> automatically approve character nominations.</li>
    
  <li>If you approve non-canonical fandoms and characters, you will have to set up associations for them.</li>
</ul>

<%= form_for :tag_set_nominations, :url => update_multiple_tag_set_nominations_path(@tag_set), :html => { :method => :put, :class => "tagset review" } do |form| %>
  <%= error_messages_formatted @errors %>

  <% @tagnames_seen = {} %>

  <% %w(cast fandom character relationship freeform).each do |tag_type| %>
    <% if @nominations[tag_type] %>
      <fieldset class="<%= tag_type %> listbox <%= cycle :odd, :even, :name => "top_level" %>">
        <% heading = tag_type == "cast" ? ts("Already Approved Fandoms") : ts("#{tag_type.classify.pluralize}")%>
        <legend><%= heading %></legend>
        <h3 class="heading"><%= heading %></h3>
          <%= check_all_none("Reject All", "Reject None", "reject") %>
          <%= check_all_none("Approve All", "Approve None", "approve") %>
        <ol class="tags index">
          <% if tag_type == "fandom" %>
            <%= render "review_fandoms", :fandoms => @nominations[:fandom] %>
          <% elsif tag_type == "cast" %>
            <%= render "review_cast", :cast => @nominations[:cast] %>
          <% else %>
            <% @nominations[tag_type].each do |nom| %>
              <li><%= render "review_individual_nom", :nom => nom %></li>
            <% end %>
          <% end %>
        </ol>
      </fieldset>
    <% end %>
  <% end %>

  <fieldset>
    <p class="submit"><%= submit_tag "Submit" %></p>      
  </fieldset>    

<% end %>
</div>