<h2><%= ts("Review Nominations") %></h2>

<% if @nomination_count < 1 %>
  <p class="notes">
    <%= ts("There aren't any nominations for this tag set to review.") %>
  </p>
<% else %>

  <div class="navigation module">
    <h3 class="landmark">Navigation</h3>
    <ul class="navigation" role="navigation">
      <% @tag_types.each do |type| %>
    	  <li><%= link_to_unless (@tag_type == type), ts("#{type.classify}"), url_for(:tag_type => type) %></li>
    	<% end %>
    </ul>
  </div>

  <%= form_for :tag_set_nominations, :url => update_multiple_tag_set_nominations_path(@tag_set), :html => { :method => :put } do |form| %>
    <h3>Nominated <%= @tag_type.classify.pluralize %></h3>
    <% noms = @nominations.where(:canonical => true) %>
    <% unless noms.first.nil? %>
      <h4><%=ts("Canonical")%></h4>
      <p class="notes">
        The following nominated tags are canonical and wrangled, so they are safe to add.
      </p>
      <ul>
      <% noms.each do |nom| %>
        <li>
          <%= label_tag "approve_#{nom.tagname}" do %>
            <%= nom.tagname %> (<%= nom.count %>)
            <%= check_box_tag "approve_#{nom.tagname}", 1, true %>            
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  
        <% # existing but noncanonical tags nominated %>
        <% noms = @nominations.where(:canonical => false, :exists => true) %>
        <% unless noms.first.nil? %>
          <h4>Existing Tags</h4>
          <ul>
          <% noms.each do |nom| %>
            <li><%= nom.tagname %> (<%= nom.count %>)</li>
          <% end %>
          </ul>
        <% end %>
  
        <% # nonexistent tags nominated %>
        <% noms = @nominations.where(:exists => false) %>
        <% unless noms.first.nil? %>
          <h4>Nonexistent Tags</h4>
          <ul>
          <% noms.each do |nom| %>
            <li><%= nom.tagname %> (<%= nom.count %>)</li>
          <% end %>
          </ul>
        <% end %>
  
        <% # unparented tags nominated %>
        <% if %w(character relationship).include?(@tag_type) %>
          <% noms = @nominations.where(:parented => false) %>
          <% unless noms.first.nil? %>
            <h4>Unparented Tags</h4>
            <ul>
            <% noms.each do |nom| %>
              <li><%= nom.tagname %> (<%= nom.count %>)</li>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  
  
  <!-- 
    
    The following canonical tags not already in the set were nominated:
    (scrollable checkboxes, all checked by default)
    
    The following tags were nominated but are not canonical and have synonyms; you can add either the nominated version or the canonical version:
    (scrollable checkboxes, canonical versions checked)
    
    The following tags were nominated but are unwrangled:
    (scrollable checkboxes, unchecked)
    
    The following tags were nominated but don't exist on the archive at all: 

    
    The following nominated character tags don't have a fandom: 
    
    The following nominated relationship tags don't have a fandom:  -->


<% end %>