<div class="tagset"><!--this is probably what we should do for each feature, reckon?-->
	<h2><%= ts("Review Nominations for %{title}", :title => @tag_set.title) %></h2>

<h3 class="landmark">Navigation</h3>
  <ul class="navigation actions" role="navigation">
  	<% if @tag_set.user_is_owner?(current_user) %>
      <li><%= link_to ts("Clear Nominations"), destroy_multiple_tag_set_nominations_path(@tag_set),
        :confirm => ts('Are you certain you want to clear nominations for this tag set? (This will NOT affect tags you have approved, but it will clear the history of rejected tags.)'),
        :method => :post %></li>
    <% end %>
    <li><%= link_to ts("Back To %{title}", :title => @tag_set.title), tag_set_path(@tag_set) %></li>
  </ul>


<ul class="notes">
  <li>You can approve or reject nominations, or leave them for later. Once a nomination
  has been either approved or rejected, it won't appear on this page.</li>
  <li>If you reject a tag that you meant to approve, you can re-add it manually.</li>
  <li>We might clear out old nominations after several months to avoid database clutter, so please don't 
  leave nominations turned on unless you are reviewing nominations regularly.</li>
  <li>If you reject a fandom nomination, we will automatically reject all character and relationship nominations submitted 
    for that fandom. We will NOT automatically approve character nominations.</li>
</ul>

<%= form_for :tag_set_nominations, :url => update_multiple_tag_set_nominations_path(@tag_set), :html => { :method => :put, :class => "tagset" } do |form| %>
  <% @tagnames_seen = [] %>
  <% @tag_types.each do |tag_type| %>

    <h3>Nominated <%= tag_type.classify.pluralize %></h3>
  
    <% %w(canonical existing nonexistent).each do |section| %>
      <% noms = @nominations[tag_type][section] %>
      <% unless noms.empty? %>
        <fieldset>
          <legend><%=ts("#{section.capitalize}")%></legend>
  	      <h4><%=ts("#{section.capitalize}")%></h4>
          <p class="notes">
            <% if section == "canonical" %>          
              These tags are canonical and wrangled. However, you may have more and less specific versions of the same tag
              nominated (eg, "Sam" and "Sam Winchester" where "Sam" is a meta tag covering all characters named Sam Whatever). 
            <% elsif section == "existing" %>
              The following nominated tags exist but are not canonical. They may have an official synonym, in which case
              you can approve the synonym instead (or in addition if you really want, but that is not recommended).
            <% else %>
              These nominated tags don't exist on the archive at all. Please check them
              closely before approving them for addition!
            <% end %>
          </p>
          <ul class="navigation actions">
        		<li>Approve</li>
        		<li><a href="#" class="check_all" checkbox_name_filter="approve">All</a></li>
        		<li><a href="#" class="check_none" checkbox_name_filter="approve">None</a></li>
  	        <li>Reject</li>
        		<li><a href="#" class="check_all" checkbox_name_filter="reject">All</a></li>
        	 	<li><a href="#" class="check_none" checkbox_name_filter="reject">None</a></li>
        	 	<% if section == "existing" %>
              <li>Synonym</li>
          	  <li><a href="#" class="check_all" checkbox_name_filter="synonym">All</a></li>
          	  <li><a href="#" class="check_none" checkbox_name_filter="synonym">None</a></li>
        	 	<% end %>
          </ul>
          <ul class="options all">
            <% noms.each do |nom| %>
              <% next if @tagnames_seen.include?(nom.tagname) %>
              <% @tagnames_seen << nom.tagname %>
              <li class="<%= cycle("odd", "even") %>">
                <%= render "review_individual_nom", :nom => nom, :section => section %>
              </li>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
    <% end %>
  <% end %>

  <fieldset>
    <p class="submit"><%= submit_tag "Submit" %></p>      
  </fieldset>    

<% end %>
</div>