<div class="tagset"><!--this is probably what we should do for each feature, reckon?-->
	<h2><%= ts("Review Nominations for %{title}", :title => @tag_set.title) %></h2>

<h3 class="landmark">Navigation</h3>
  <ul class="navigation actions" role="navigation">
  	<% if @tag_set.user_is_owner?(current_user) %>
      <li><%= link_to ts("Clear Nominations"), destroy_multiple_tag_set_nominations_path(@tag_set),
        :confirm => ts('Are you certain you want to clear nominations for this tag set? (This will NOT affect tags you have approved, but it will clear the history of rejected tags.)'),
        :method => :post %></li>
    <% end %>
    <li><%= link_to ts("Back To %{title}", :title => @tag_set.title), tag_set_path(@tag_set) %></li>
  </ul>


<ul class="notes">
  <li>You can approve or reject nominations, or leave them for later. Once a nomination
  has been either approved or rejected, it won't appear on this page.</li>

  <li>We might clear out old nominations after several months to avoid database clutter, so please don't 
  leave nominations turned on unless you are reviewing nominations regularly.</li>

  <li>If you reject a fandom nomination, we will automatically reject all character and relationship nominations submitted 
    for that fandom. We will <em>not</em> automatically approve character nominations.</li>

  <li>If you approve an official synonym, we will automatically approve all the nominations with that synonym, 
      but only add that one synonym to your tag set.</li>

  <li>If you make a tag that uses the same name as an existing tag of another type (eg if you made a character tag "Firefly" but that tag was already used for the show), the archive will automatically tag on the type, so you'll see "Firefly - Character" in your tag set.</li> 

</ul>

<%= form_for :tag_set_nominations, :url => update_multiple_tag_set_nominations_path(@tag_set), :html => { :method => :put, :class => "tagset" } do |form| %>
  <%= error_messages_formatted @errors %>

  <% @tagnames_seen = {} %>
  <% @tag_types.each do |tag_type| %>

    <h3>Nominated <%= tag_type.classify.pluralize %> <%= expand_contract_shuffle("list_for_review_#{tag_type}", shuffle=false) %></h3>
    <ul id="list_for_review_<%= tag_type %>" force_contract="true">
      <% %w(canonical existing nonexistent).each do |section| %>
        <% noms = @nominations[tag_type][section] %>
        <% if TagSet::TAG_TYPES_RESTRICTED_TO_FANDOM.include?(tag_type) %>
          <% noms = noms.order(:parent_tagname, :tagname) %>
          <% @last_parent_tagname = ""; @no_parent_tagname_seen = false %>
        <% else %>
          <% noms = noms.order(:tagname) %>
        <% end %>
        <% unless noms.empty? %>
          <li>
            <fieldset class="<%= section %>">
              <legend><%=ts("#{section.capitalize}")%></legend>
      	      <h4><%=ts("#{section.capitalize}")%></h4>
      	      <ul class="actions">
            		<li>Approve</li>
            		<li><a href="#" class="check_all" checkbox_name_filter="approve">All</a></li>
            		<li><a href="#" class="check_none" checkbox_name_filter="approve">None</a></li>
                <li>Reject</li>
            		<li><a href="#" class="check_all" checkbox_name_filter="reject">All</a></li>
            	 	<li><a href="#" class="check_none" checkbox_name_filter="reject">None</a></li>
            	 	<% if section == "existing" %>
                  <li>Synonym</li>
              	  <li><a href="#" class="check_all" checkbox_name_filter="synonym">All</a></li>
              	  <li><a href="#" class="check_none" checkbox_name_filter="synonym">None</a></li>
            	 	<% end %>
              </ul>
              <table summary="<%= ts("approve, reject, or edit nominations for #{section} #{tag_type.pluralize}") %>">
      	        <caption><%=ts("#{section.capitalize}")%></caption>
                <%= render "review_thead", :section => section %>
                <tbody>
                  <% noms.each do |nom| %>
                    <% next if @tagnames_seen[nom.tagname] %>
                    <% @tagnames_seen[nom.tagname] = 1 %>
                    <%= render "review_individual_nom", :tag_type => tag_type, :nom => nom, :section => section %>
                  <% end %>
                </tbody>
              </table>
            </fieldset>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <fieldset>
    <p class="submit"><%= submit_tag "Submit" %></p>      
  </fieldset>    

<% end %>
</div>