<h1>Listing tag_set_nominations</h1>

    <td><%= tag_set_nomination.pseud %></td>
    <td><%= tag_set_nomination.owned_tag_set %></td>
    <td><%= tag_set_nomination.fandom_nominations %></td>
    <td><%= tag_set_nomination.character_nominations %></td>
    <td><%= tag_set_nomination.relationship_nominations %></td>
    <td><%= tag_set_nomination.freeform_nominations %></td>
    <td><%= tag_set_nomination.fandom_nominations_notes %></td>
    <td><%= tag_set_nomination.character_nominations_notes %></td>
    <td><%= tag_set_nomination.relationship_nominations_notes %></td>
    <td><%= tag_set_nomination.freeform_nominations_notes %></td>
    <td><%= link_to 'Show', tag_set_nomination %></td>
    <td><%= link_to 'Edit', edit_tag_set_nomination_path(tag_set_nomination) %></td>
    <td><%= link_to 'Destroy', tag_set_nomination, :confirm => 'Are you sure?', :method => :delete %></td>
