<div class="navigation module">
  <h3 class="landmark">Navigation</h3>
  <ul class="navigation" role="navigation">
    <li><%= link_to ts("Back To %{title}", :title => @tag_set.title), tag_set_path(@tag_set) %>
    <% if @tag_set.nominated %>
  	  <li><%= link_to ts("Edit"), edit_tag_set_nomination_path(@tag_set, @tag_set_nomination) %></li>
  	<% end %>
    <li><%= link_to ts("Delete"), tag_set_nomination_path(@tag_set),
      :confirm => ts('Are you certain you want to delete these nominations?'),
      :method => :delete %></li>
  </ul>
</div>

<div class="tag_set module">
  <h3><%= ts("Your Nominations For %{title}", :title => @tag_set.title) %></h3>
  <div class="wrapper">
    <dl class="meta">
      <dt><%= ts("Created at: ") %></dt>
      <dd><%= l(@tag_set_nomination.created_at.to_date) %></dd>
    </dl>
  </div>
</div>

<h3><%= ts("Nominated Tags") %> <%= link_to_help "tagset-nominated-tags" %></h3>

<ol class="nominations media index">			
  <% TagSet::TAG_TYPES_INITIALIZABLE.each do |tag_type| %>
    <% if @limit[tag_type] > 0 %>
      <li class="category <%= cycle :odd, :even %>">
	  <h3><%= ts("#{tag_type.classify.pluralize}: ") %></h3>
     
        <% if @tag_set_nomination.nominated_tags(tag_type).count == 0 %>
          <p><%= ts("(None Nominated)") %></p>
        <% else %>
          <ol>
            <% @tag_set_nomination.send("#{tag_type}_nominations").each do |tag|%>
              <li>
                <%= nomination_status(tag) %>
                
                <% if !tag.parent_tagname.blank? %>
                  <div class="hasnotes">
                <% end %>
                <% if (tagobj = tag_type.classify.constantize.find_by_name(tag.tagname)) %>
                  <% if tagobj.canonical %>
                    <%= link_to_tag_works(tagobj) %>
                  <% elsif tagobj.merger %>
                    <%= tag.tagname %> (<%= link_to_tag_works(tagobj.merger) %>)
                  <% else %>
                    <span class="unwrangled"><%= tag.tagname %></span>                  
                  <% end %>
                <% else %>
                  <span class="nonexistent"><%= tag.tagname %></span>
                <% end %>
                <% if !tag.parent_tagname.blank? %>
                  </div>
                  <div class="notes"><%= tag.parent_tagname %></div>
                <% end %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ol>

