<h4><%= t(".header") %></h4>

<p><%= t(".instructions") %></p>

<p><%= t(".collection_names") %></p>

<p><%= t(".moderated_and_anonymous_collections_html") %></p>

<p><%= t(".removing_from_collection") %></p>
