<h4><%= t(".page_heading") %></h4>

<p><%= t(".guidance") %></p>

<p><%= t(".collection_names") %></p>

<p><%= t(".moderated_and_anonymous_collections") %></p>

<p><%= t(".removing_from_collection") %></p>
