<h4><%= t(".page_heading") %></h4>

<p><%= t(".description") %></p>

<dl>
  <dt>TITLE - AUTHOR - FANDOM</dt>
  <dd><%= t(".example.default") %></dd>
  <dt>TITLE - AUTHOR</dt>
  <dd><%= t(".example.no_fandom") %></dd>
  <dt>FANDOM_AUTHOR_TITLE</dt>
  <dd><%= t(".example.reverse_underscore") %></dd>
</dl>

