<h4><%= t(".page_heading") %></h4>

<dl id="help">
  <dt><%= t(".allow_collection_invitation.header") %></dt>
  <dd>
    <p>
      <%= t(".allow_collection_invitation.enabling_html",
            how_to_approve_faq_link: link_to(t(".allow_collection_invitation.how_to_approve_faq"), archive_faq_path("collections", anchor: "collectionitems"))) %>
    </p>
    <p><%= t(".allow_collection_invitation.disabling") %></p>
    <p><%= t(".allow_collection_invitation.changing") %></p>
  </dd>

  <dt><%= t(".allow_gifts.header") %></dt>
  <dd>
    <%= t(".allow_gifts.description_html",
          how_to_refuse_faq_link: link_to(t(".allow_gifts.how_to_refuse_faq"), archive_faq_path("your-account", anchor: "refusegift"))) %>
  </dd>
  
  <dt><%= t(".turn_off_collection_emails.header") %></dt>
  <dd><%= t(".turn_off_collection_emails.description") %></dd>
  
  <dt><%= t(".turn_off_collection_inbox.header") %></dt>
  <dd><%= t(".turn_off_collection_inbox.description") %></dd>
  
  <dt><%= t(".turn_off_gift_emails.header") %></dt>
  <dd><%= t(".turn_off_gift_emails.description") %></dd>
</dl>
