<h4><%= t(".page_heading") %></h4>

<dl id="help">
  <dt><%= t(".turn_on_history.header") %></dt>
  <dd><%= t(".turn_on_history.description") %></dd>

  <dt><%= t(".turn_on_new_user_help.header") %></dt>
  <dd><%= t(".turn_on_new_user_help.description") %></dd>

  <dt><%= t(".turn_off_banner_every_page.header") %></dt>
  <dd><%= t(".turn_off_banner_every_page.description") %></dd>
</dl>
