<h4><%= t(".page_heading") %></h4>

<dl id="help">
  <dt><%= t(".show_adult_content.header") %></dt>
  <dd><%= t(".show_adult_content.description") %></dd>
  <dt><%= t(".show_whole_work_default.header") %></dt>
  <dd><%= t(".show_whole_work_default.description") %></dd>
  <dt><%= t(".hide_warnings.header") %></dt>
  <dd><%= t(".hide_warnings.description") %></dd>
  <dt><%= t(".hide_additional_tags.header") %></dt>
  <dd><%= t(".hide_additional_tags.description") %></dd>
  <dt><%= t(".hide_work_skins.header") %></dt>
  <dd><%= t(".hide_work_skins.description") %></dd>
</dl>
