<h4><%= t(".page_heading") %></h4>
<dl>
  <dt><%= t(".enable_all") %></dt>
  <dd><%= t(".enable_all_description") %></dd>
  <dt><%= t(".disable_anon") %></dt>
  <dd><%= t(".disable_anon_description_html", default_option_bold: tag.strong(t(".default_option"))) %></dd>
  <dt><%= t(".disable_all") %></dt>
  <dd><%= t(".disable_all_description") %></dd>
</dl>
<p><%= t(".existing_unaffected_html", deleting_others_comments_link: link_to(t(".deleting_others_comments"), archive_faq_path("comments-and-kudos", anchor: "commentother"))) %></p>
