<h3><%= t(".skins_parents.header") %></h3>

<p>
  <%= t(".skins_parents.layering_html",
        skins_interface_faq_link: link_to(t(".skins_parents.skins_interface_faq"),
          "/faq/skins-and-archive-interface")) %>
</p>

<p><%= t(".skins_parents.inheriting_default") %></p>

<h4><%= t(".load_archive_skin_components.header") %></h4>

<p><%= t(".load_archive_skin_components.description") %></p>
