<h3><%= t(".header") %></h3>

<p>
  <%= t(".layering_html",
        skins_interface_faq_link: link_to(t(".skins_interface_faq"),
          archive_faq_path("skins-and-archive-interface"))) %>
</p>

<p><%= t(".inheriting_default") %></p>

<h4><%= t(".load_archive_skin_components_header") %></h4>

<p><%= t(".load_archive_skin_components") %></p>
