<h4><%= t(".page_heading") %></h4>

<p><%= t(".more_info.html", tags_faq_section_link: link_to(t(".more_info.tags_faq_section"), archive_faq_path("tags"))) %></p>

<p><%= t(".description") %></p>
  
  <dl>
    <dt><%= t(".femslash.abbreviation") %></dt>
    <dd><%= t(".femslash.description") %></dd>
    <dt><%= t(".het.abbreviation") %></dt>
    <dd><%= t(".het.description") %></dd>
    <dt><%= t(".general.abbreviation") %></dt>
    <dd><%= t(".general.description") %></dd>
    <dt><%= t(".slash.abbreviation") %></dt>
    <dd><%= t(".slash.description") %></dd>
    <dt><%= t(".multiple.abbreviation") %></dt>
    <dd><%= t(".multiple.description") %></dd>
    <dt><%= t(".other.abbreviation") %></dt>
    <dd><%= t(".other.description") %></dd>
  </dl>
  