<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
<% if @locale %>
  <%= ts('Translators for %{current_locale}', :current_locale => @locale.name) %>
<% else %>  
  <%= ts('Translators') %>
<% end %>
</h2>
<!--/descriptions-->

<!--subnav-->
<% if current_user.is_a?(User) && current_user.is_translation_admin? %>
<ul class="navigation actions" role="navigation">
<li><%= link_to ts('Add new translators'), 
        (@locale ? new_locale_translator_path(@locale) : new_translator_path) %></li>
</ul>
<% end %>
<!--/subnav-->

<!--main content-->
<table id="translators_table" summary="<%= ts('Name, email, and locale for active translators.') %>">
  <caption><%= ts("Active Translators") %></caption>
  <thead>
	<tr>
  	<th scope="col"><%= ts("Name") %></th>
  	<th scope="col"><%= ts("Email") %></th>
  	<% if @locale.blank? %>
  	  <th scope="col"><%= ts("Locale") %></th>
  	<% end %>
  </tr>
 </thead>
<tbody> 
  <% for translator in @translators %>
    <% if @locale %>
    <tr>
      <td><%= link_to translator.login, locale_translator_path(@locale.iso, translator) %></td>
      <td><%= translator.email %></td>    
    </tr>
    <% else %>
      <% for locale in translator.is_translator_for_what.compact %>
      <tr>
        <td><%= link_to translator.login, locale_translator_path(locale.iso, translator) %></td>
        <td><%= translator.email %></td>
        <td><%= link_to locale.name, locale_path(locale.iso) %></td>    
      </tr>
      <% end %> 
    <% end %>
  <% end %>
</tbody>
</table>
<!--/content-->