<h2>
<%- if @locale -%>
  <%= t('translators.index.translators_for_locale', :default => 'Translators for {{locale}}', :locale => @locale.name) %>
<%- else -%>  
  <%= t('translators.index.translators', :default => 'Translators') %>
<%- end -%>
</h2>

<%- if current_user.is_a?(User) && current_user.is_translation_admin? -%>
<p><%= link_to t('translators.index.link_to_new', :default => 'Add new translators'), 
        (@locale ? new_locale_translator_path(@locale) : new_translator_path) %></p>
<%- end -%>

<table id="translators_table">
  <caption><%=h t('translators.index.list', :default => "List of active translators") -%></caption>
  <tr>
  	<th scope="col"><%=h t('translators.index.name', :default => "Name") -%></th>
  	<th scope="col"><%=h t('translators.index.email', :default => "Email") -%></th>
  	<%- if @locale.blank? -%>
  	<th scope="col"><%=h t('translators.index.locale', :default => "Locale") -%></th>
  	<%- end -%>
  </tr>
  
  <%- for translator in @translators -%>
    <%- if @locale -%>
    <tr>
      <td><%= link_to translator.login, locale_translator_path(@locale.short, translator) %></td>
      <td><%= translator.email %></td>    
    </tr>
    <%- else -%>
      <%- for locale in translator.is_translator_for_what -%>
      <tr>
        <td><%= link_to translator.login, locale_translator_path(locale.iso, translator) %></td>
        <td><%= translator.email %></td>
        <td><%= link_to locale.name, locale_path(locale.iso) %></td>    
      </tr>
      <%- end -%> 
    <%- end -%>
  <%- end -%>
</table>