<!-- This partial requires local variable 'bookmark' -->
<li class="user<% if is_author_of?(bookmark) %> own<% end %>">
	<div class="header module">
  	<h5 class="byline">
      <%= ts("Bookmarked by ") %>
      <%= link_to(bookmark.pseud.byline, user_pseud_path(bookmark.pseud.user, bookmark.pseud)) %>
    </h5>
    <p class="datetime"><%= set_format_for_date(bookmark.created_at) %></p>
  	<%= get_symbol_for_bookmark(bookmark) %>
	</div>
<!--tags-->
    <% unless bookmark.tag_string.blank? %>
        <dl class="tags">
          <dt><%= ts "Bookmarker's Tags:" %></dt>
          <dd>
            <ul class="tags">
              <% bookmark.tags.each do |tag| %>
                <li><%= link_to(tag.name, link_to_tag_bookmarks(tag), :class => 'tag') %><% unless tag == bookmark.tags.last %><%= "," %><% end %></li>
              <% end %>
            </ul>
          </dd>
        </dl>
    <% end %>
<!--summary-->    
	<% unless bookmark.notes.blank? %>
    <blockquote class="userstuff summary" title="notes">
		<%=raw sanitize_limit_and_format_for_display bookmark.notes %>
	  </blockquote>
    <% end %>
<!--actions-->
  <% if is_author_of?(bookmark) %>
      <%= render :partial => 'bookmarks/bookmark_owner_navi', :locals => {:bookmark => bookmark} %>
  <% elsif logged_in_as_admin? %>
    <%= render :partial => 'admin/admin_options', :locals => {:item => bookmark} %>
  <% end %>
</li>
