<!-- This partial requires local variable 'bookmark' -->
<li class="bookmark <%- if is_author_of?(bookmark) -%>own<%- end -%>">
  <ul class="user-info">
    <!-- Show user-entered info unless we want to view work details only -->
    <li class="user-notes">
      <%- unless bookmark.notes.blank? -%>
      <%=sanitize_limit_and_format_for_display bookmark.notes -%>
      <%- end -%>
    </li>
    <%- unless bookmark.tag_string.blank? -%>
      <li class="user-tags">
        <dl>
          <dt><%=h t('bookmark_tags', :default => "User's Tags:") -%></dt>
          <dd>
            <ul>
              <%- bookmark.tags.each do |tag| -%>
                <li><%= link_to(tag.name, link_to_tag_bookmarks(tag), :class => 'tag') -%><%- unless tag == bookmark.tags.last -%><%= "," -%><%- end -%></li>
              <%- end -%>
            </ul>
          </dd>
        </dl>
      </li>
    <%- end -%>
    <li>
      <p class="byline">
      - <%= link_to bookmark.pseud.byline, [bookmark.pseud.user, bookmark.pseud] -%>&nbsp;(<%= link_to bookmark.pseud.bookmarks.visible.size.to_s, user_pseud_bookmarks_path(bookmark.pseud.user, bookmark.pseud) -%>)    
      <%- if bookmark.private -%>
        <%= image_tag("lockblack.png", :size => "15x15", :alt => t('bookmark_private', :default => "(Private)"), :title => "Private bookmark") %>
      <%- end -%><br />
      <%= set_format_for_date(bookmark.updated_at) %>
    </p>
    </li>
  <%- if is_author_of?(bookmark) -%>
    <li>
      <%= render :partial => 'bookmarks/bookmark_owner_navi', :locals => {:bookmark => bookmark} %>
    </li>
  <%- end -%>
  </ul>
</li>
