<%- bookmarkable ||= @bookmarkable -%>
<%- @bookmark ||= Bookmark.new -%>
<div id="bookmark-form">
<%- if @bookmark.new_record? && bookmarkable.class != ExternalWork -%>
  <p><%=h t('bookmark_add_new', :default => 'Add a new bookmark for "{{title}}"', :title => bookmarkable.title) %></p>
  <%- elsif bookmarkable.class == ExternalWork && !@bookmark.new_record? -%>
  <p><%=h t('bookmark_add_new_external', :default => 'Add a new bookmark for an external work') %></p>
<%- end -%>

<%- form_for([bookmarkable, @bookmark], :url => {:controller => 'bookmarks', :action => (action ||= 'create')}) do |f| -%>
<dl>
  <dt><label><%=h t('form_pseud', :default => "Pseud: ") -%></label></dt>
  <dd>
    <% if current_user.pseuds.count > 1 %>
      <%= select_tag "bookmark[pseud_id]", options_for_select(current_user.pseuds.map{|pseud| [pseud.name, pseud.id]}, @bookmark.pseud ? @bookmark.pseud.id : current_user.default_pseud.id) %>
    <% else %>
    <%= current_user.default_pseud.name -%>
      <%= f.hidden_field :pseud_id, :value => "#{current_user.default_pseud.id}" %>
    <% end %>
  </dd>
</dl>
<% if bookmarkable.class == ExternalWork && bookmarkable.new_record? %>
  <% fields_for 'bookmark[external]', bookmarkable do |ew| %>
  <fieldset>
    <legend>Work Preface</legend>
  <dl>
    <dt><%= ew.label :url, t('form_url', :default => "URL: ") %></dt>
    <dd>
	    <%= ew.text_field :url%>
	    <%= observe_field 'bookmark_external_url', :url => {:controller => 'external_works', :action => 'fetch'}, :with => 'external_url', :on => 'blur' %>
	    <%= hidden_field 'fetched', :value => '' %>
    </dd>
    <dt><%= ew.label :author, t('form_author', :default => "Author: ") %></dt>
    <dd>
      <%= ew.text_field :author %>
      <%= generate_countdown_html("bookmark_external_author", ExternalWork::AUTHOR_LENGTH_MAX) -%>      
    </dd>
	<dt><%= ew.label :title, t('form_title', :default => "Title: ") %></dt>
		<dd>
      <%= ew.text_field :title %>
      <%= generate_countdown_html("bookmark_external_title", ArchiveConfig.TITLE_MAX) -%>      
    </dd>
	<dt>
	<%= ew.label :summary, t('form_authors_summary', :default => "Author's Summary") %>
	<%=h t('form_please_paste', :default => "(please copy and paste from original work)") %></dt>
		<dd>
      <%= ew.text_area :summary, :rows => 5, :class => "summary-field"%>
      <%= generate_countdown_html("bookmark_external_summary", ArchiveConfig.SUMMARY_MAX) -%>      
    </dd>
  </dl>
  </fieldset>
  <fieldset>
    <legend>Work Tags</legend>
    <p><%= "Author's Tags (comma separated, #{ArchiveConfig.TAG_MAX} characters per tag). Please note that only fandom is required." -%><%= link_to_help "tagging-help" -%></p>
  <dl>
    <dt>
      <%= ew.label :fandom_string, Fandom::NAME.pluralize -%>
    </dt>
    <dd>
      <%= ew.text_field :fandom_string %>
      <div class="auto_complete" id="bookmark_external_fandom_string_auto_complete" ></div>
      <%= javascript_tag("new Autocompleter.Local('bookmark_external_fandom_string', 'bookmark_external_fandom_string_auto_complete', #{Fandom.canonical.find(:all, :order => :name).map(&:name).to_json}, {tokens: ','});") %>
    </dd>
    <dt class="rating">
      <%= ew.label :rating_string, Rating::NAME -%><%= link_to_help "rating-help" -%>
    </dt>
    <dd>
      <%= ew.collection_select(:rating_string, Rating.canonical, :name, :name, {:selected => ArchiveConfig.RATING_DEFAULT_TAG_NAME}) -%>		
    </dd>  
    <dt>
      <%= ew.label :category_string, Category::NAME -%><%= link_to_help "category-help" -%>
    </dt>
    <dd>
      <%= ew.collection_select(:category_string, Category.canonical, :name, :name, {:include_blank => true}) -%>		
    </dd>
    <dt>
      <%= ew.label :pairing_string, Pairing::NAME.pluralize -%>
    </dt>
    <dd>
      <%= ew.text_field :pairing_string %>
      <div class="auto_complete" id="bookmark_external_pairing_string_auto_complete" ></div>
      <%= javascript_tag("new Autocompleter.Local('bookmark_external_pairing_string', 'bookmark_external_pairing_string_auto_complete', #{Pairing.canonical.find(:all, :order => :name).map(&:name).to_json}, {tokens: ','});") %>
    </dd>
    <dt>
      <%= ew.label :character_string, Character::NAME.pluralize -%>
    </dt>
    <dd>
      <%= ew.text_field :character_string %>
      <div class="auto_complete" id="bookmark_external_character_string_auto_complete" ></div>
      <%= javascript_tag("new Autocompleter.Local('bookmark_external_character_string', 'bookmark_external_character_string_auto_complete', #{Character.canonical.find(:all, :order => :name).map(&:name).to_json}, {tokens: ','});") %>
    </dd>    
  </dl>
  </fieldset>
  <% end %>
<% end %>
<fieldset>
  <legend>Bookmark Comments</legend>
<dl>
  <dt><%= f.label :notes, t('form_your_notes', :default => "Your Notes") %></dt>
  <dd style="max-width: 25em;">
    <code>a href, b, big, blockquote, br, center, cite, code, del, em, i, img, ins, p, pre, q, small, strike, strong, sub, sup, u </code><br/>
      <%= f.text_area :notes %>
      <%= generate_countdown_html("bookmark_notes", ArchiveConfig.NOTES_MAX) -%> 
      
    </dd>
	<dt><%= f.label :tag_string, t('form_your_tags', :default => "Your Tags") %></dt>
	<dd>
    <%= text_field_tag 'tag_string', @tag_string, :size => ArchiveConfig.TAG_MAX %>
    <div class="auto_complete" id="tag_string_auto_complete" ></div>
    <%= javascript_tag("new Autocompleter.Local('tag_string', 'tag_string_auto_complete', #{Tag.all(:order => :name).map(&:name).to_json}, {tokens: ','});") %>
    <div class="character_counter">
      <%=h t("comma_separated", :default => "Comma separated, #{ArchiveConfig.TAG_MAX} characters per tag") %>
    </div>
  </dd>
</dl>
</fieldset>
<%- if bookmarkable.class != ExternalWork -%>
  <p><%= t('note_author', :default => "Please note that the author's summary and tags will be added automatically.") %>
<%- end -%>
<p> <%= f.check_box :private %> <%= f.label :private, t('form_private', :default => "Private bookmark?") %>&nbsp;&nbsp;&nbsp;<%= f.check_box :rec %> <%= f.label :rec, t('form_rec', :default => "Rec?") %></p>
<%= f.hidden_field :bookmarkable_id, :value => bookmarkable.id %>
<%= f.hidden_field :bookmarkable_type, :value => bookmarkable.class.to_s %>
<p class="submit"><%= f.submit(button_name ||= t('forms.create', :default => "Create")) %></p>
<% end %>
</div>