<ul>
  <li class="heading bookmark-heading">
    <ul class="bookmark-icons">
      <li><%= image_tag 'category-none.png', :alt => '' -%></li>
      <%= get_symbol_for_bookmark(bookmark) %>
    </ul>

  <%= render :partial => "bookmarks/#{bookmark.bookmarkable.class.to_s.underscore}_bookmark", :locals => { :bookmark => bookmark } -%>   
    
  <%- unless bookmark.bookmarkable.summary.blank? %>
    <li class="summary">
      <%= sanitize_strip_images_and_format_for_display bookmark.bookmarkable.summary %>
    </li>
  <%- end %>
  <li>
    <%= link_to_bookmarkable_bookmarks(bookmark.bookmarkable) -%>
  </li>
  <%- if logged_in? -%>
    <li>
      <%= bookmark_link(bookmark.bookmarkable, true)%>
    </li>
  <%- end -%>    
</ul>
    <hr style="margin-left: 75px; border: 0; background: #DDDDDD; height: 1px;">
  <ul class="user-info">
    <li class="user-notes">
      <%- unless bookmark.notes.blank? -%>
        <dl>
          <dt><%=h t('bookmark notes', :default => "User's Notes:") -%></dt>
          <dd><%=sanitize_limit_and_format_for_display bookmark.notes -%></dd>
        </dl>
      <%- end -%>
    </li>
    <%- unless bookmark.tag_string.blank? -%>
      <li class="user-tags">
        <dl>
          <dt><%=h t('bookmark_tags', :default => "User's Tags:") -%></dt>
          <dd>
            <ul>
              <%- bookmark.tags.each do |tag| -%>
                <li><%= link_to(tag.name, link_to_tag_bookmarks(tag), :class => 'tag') -%><%- unless tag == bookmark.tags.last -%><%= "," -%><%- end -%></li>
              <%- end -%>
            </ul>
          </dd>
        </dl>
      </li>
    <%- end -%>
    <li>  <p class="byline">
      - <%= link_to bookmark.pseud.byline, [bookmark.pseud.user, bookmark.pseud] -%>&nbsp;(<%= link_to bookmark.pseud.bookmarks.visible.size.to_s, user_pseud_bookmarks_path(bookmark.pseud.user, bookmark.pseud) -%>)<br />    
      <%= set_format_for_date(bookmark.updated_at) %>
    </p></li>
  </ul>
<%- if is_author_of?(bookmark) -%>
 <%= render :partial => 'bookmarks/bookmark_owner_navi', :locals => {:bookmark => bookmark} %>
<%- elsif logged_in_as_admin? -%>
  <%= render :partial => 'admin/admin_options', :locals => {:item => bookmark} %>
<%- end -%> 