<% bookmarkable ||= @bookmarkable %>
<% @bookmark ||= Bookmark.new %>
<% if @bookmark.new_record? && bookmarkable.class != ExternalWork %>
  <p><%=h "Add a new bookmark for".t %> "<%=h bookmarkable.title %>"</p>
<% end %>

<% form_for([bookmarkable, @bookmark], :url => {:controller => 'bookmarks', :action => (action ||= 'create')}) do |f| %>

  <% if bookmarkable.class == ExternalWork && bookmarkable.new_record? %>
    <% fields_for 'bookmark[external]', bookmarkable do |ew| %>
      
      <p>
        <%= ew.label :url, "URL: ".t %>
        <%= ew.text_field :url %>
        <%= observe_field 'bookmark_external_url', :url => {:controller => 'external_works', :action => 'fetch'},
            :with => 'external_url', :on => 'blur' %>
        <%= hidden_field 'fetched', :value => '' %>
      </p>
      
      <p>
        <%= ew.label :author, "Author: ".t %>
        <%= ew.text_field :author %>  
      </p>
      
      <p>
        <%= ew.label :title, "Title: ".t %>
        <%= ew.text_field :title %> 
      </p>
      
      <p>
        <%= ew.label :summary, "Author's Summary".t %><%=h "(please copy and paste from original work)".t %><br />
        <%= ew.text_area :summary %> 
      </p>
      
    <% end %>
  <% end %>

  <p>
    <%=h "Your Notes".t %><br />
    <%= f.text_area :notes %>
  </p>

  <p>
    <%=h "Your Tags".t %><br />
    <%= text_field_tag 'tag_string', @tag_string %>
  </p>

  
  <p>
    <%= f.check_box :private %> <%=h "Private bookmark?".t %>
  </p> 
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :bookmarkable_id, :value => bookmarkable.id %>
  <%= f.hidden_field :bookmarkable_type, :value => bookmarkable.class.to_s %>

  <p>
    <%= f.submit(button_name ||= "Create".t) %>
  </p>
<% end %>
