<!-- This partial requires local variable 'bookmark' -->
<li>
  <ul class="user-info<%- if is_author_of?(bookmark) -%> own<%- end -%>">
    <ul class="bookmark-icons">
      <%= get_symbol_for_bookmark(bookmark) %>
    </ul>
    <li class="byline">
    <%= t('bookmarked_by', :default=>'Bookmarked by {{user}}', :user=>link_to(bookmark.pseud.byline, [bookmark.pseud.user, bookmark.pseud])) %>
    </li>
    <li class="byline-date"><span class="byline-date"><%= set_format_for_date(bookmark.updated_at) %></span></li>

    <li class="user-notes">
      <%- unless bookmark.notes.blank? -%>
      <%=sanitize_limit_and_format_for_display bookmark.notes -%>
      <%- end -%>
    </li>
    <%- unless bookmark.tag_string.blank? -%>
      <li class="user-tags">
        <dl>
          <dt><%=h t('bookmark_tags', :default => "User's Tags:") -%></dt>
          <dd>
            <ul>
              <%- bookmark.tags.each do |tag| -%>
                <li><%= link_to(tag.name, link_to_tag_bookmarks(tag), :class => 'tag') -%><%- unless tag == bookmark.tags.last -%><%= "," -%><%- end -%></li>
              <%- end -%>
            </ul>
          </dd>
        </dl>
      </li>
    <%- end -%>
  <%- if is_author_of?(bookmark) -%>
    <li>
      <%= render :partial => 'bookmarks/bookmark_owner_navi', :locals => {:bookmark => bookmark} %>
    </li>
  <%- elsif logged_in_as_admin? -%>
    <%= render :partial => 'admin/admin_options', :locals => {:item => bookmark} %>
  <%- end -%>
  </ul>
</li>
