  <% if bookmark.bookmarkable.blank? %>
      <p class="message"><%= "This item has been deleted, sorry!" %></p>
    <% else %>
    <% bookmark_count = bookmark.bookmarkable.bookmarks.is_public.count %>
    <p class="symbols count" title="<%= bookmark_count %> Bookmarks">
      <%= get_symbol_for_bookmark(bookmark) %>
      <span><%=  (bookmark_count < 100) ? bookmark_count : '*' %></span>
  </p>
    
  <%= render :partial => "bookmarks/#{bookmark.bookmarkable.class.to_s.underscore}_bookmark", :locals => { :bookmark => bookmark } %>   

<!--summary-->
<% unless bookmark.bookmarkable.summary.blank? || (bookmark.bookmarkable.respond_to?('unrevealed?') && bookmark.bookmarkable.unrevealed?) %>
    <h6 class="landmark">Summary</h6>
  <blockquote class="userstuff summary" title="summary">
    <%=raw strip_images(sanitize_field(bookmark.bookmarkable, :summary)) %>
  </blockquote>
  <% end %>

<!--navigation and actions-->
  <ul class="navigation" role="navigation">
      <% if bookmark_count > 1 %>
        <li><%= link_to_bookmarkable_bookmarks(bookmark.bookmarkable, ts('Bookmarked %{count} times', :count=>bookmark_count)) %></li>
      <% else %>
        <li><%= link_to_bookmarkable_bookmarks(bookmark.bookmarkable, ts('Bookmarked %{count} time', :count=>bookmark_count)) %></li>
      <% end %>
    <% if logged_in? && !is_author_of?(bookmark) %>
       <li><%= bookmark_link(bookmark.bookmarkable, true)%></li>
    <% end %>
  <% if bookmark_count > 1 %>
    <% if params[:tag_id] || @most_recent_bookmarks %>
    <li id="recent_link_<%= "#{bookmark.bookmarkable_type.underscore}_#{bookmark.bookmarkable_id}" %>" style="display: none;" class="showme">
      <%= link_to ts("View most recent bookmarks"), 
          url_for({:controller => 'bookmarks', :action => 'fetch_recent', :id => bookmark.id }),
         :remote => true %></li>
<!--/actions-->
    <% end %>
  <% end %>
  <% end %>
</ul>

 <div class="user module<% if is_author_of?(bookmark) %> own<% end %>">

<!--time, bookmarker-->
  <p class="datetime"><%= set_format_for_date(bookmark.created_at) %></p>
  <h5 class="byline">
    <%= ts("Bookmarked by ") %>
    <%= link_to(bookmark.pseud.byline, user_pseud_path(bookmark.pseud.user, bookmark.pseud)) %>
  </h5>
   
<!--tags-->
 <% unless bookmark.tag_string.blank? %>
      <dl class="tags">
        <dt><%= ts "Bookmarker's Tags:" %></dt>
        <dd>
          <ul>
            <% bookmark.tags.each do |tag| %>
              <li><%= link_to(tag.name, link_to_tag_bookmarks(tag), :class => 'tag') %><% unless tag == bookmark.tags.last %><%= "," %><% end %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
  <% end %>

<!--notes-->
  <% unless bookmark.notes.blank? %>
        <h6 class="landmark">Notes</h6>
    <blockquote class="userstuff notes" title="notes">
      <%=raw sanitize_field(bookmark, :notes) %>
    </blockquote>
  <% end %>

<!--navigation and actions-->
  <% if is_author_of?(bookmark) %>
    <%= render :partial => 'bookmarks/bookmark_owner_navi', :locals => {:bookmark => bookmark} %>
  <% elsif logged_in_as_admin? %>
   <%= render :partial => 'admin/admin_options', :locals => {:item => bookmark} %>
  <% end %>
</div>
