<div class="external module">
	<h4>
  <%- if bookmark.bookmarkable.nil? -%>
    (<%= t('bookmark_oh_noes', :default => 'Oh noes, this work has been deleted.') -%>)
  <%- else -%>
    <%- if bookmark.bookmarkable.hidden_by_admin -%>
      <%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
    <%- end -%>
    <%= link_to bookmark.bookmarkable.title, bookmark.bookmarkable.url -%>
    <%=h t('bookmark_by', :default => 'by') %>
    <%= bookmark.bookmarkable.author -%>
  <%- end -%>   
</h4>
<%- unless bookmark.bookmarkable.tags.blank? %>
    <%- if not bookmark.bookmarkable.nil? -%>
      <%= get_symbols_for(bookmark.bookmarkable) -%>
    <%- end -%>
      <%- unless bookmark.bookmarkable.fandom_tags.blank? -%>  
        <h4 class="fandom" title="fandom"><%= bookmark.bookmarkable.fandom_tags.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', ') %></h4>
      <%- end -%>
      <%- author_tags = bookmark.bookmarkable.cast_tags
        unless author_tags.size < 1 -%>
<ul class="tags" title="tags"><li><%= author_tags.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', </li><li> ') %></li></ul>
        <%- end -%>
      <p class="message"><%= t('external_work_warning', :default => 'Please note: this work is not hosted on the Archive; the information here may be incomplete or inaccurate.') %></p>
<%- end -%>
</div>