<div class="series module">
<!--title, byline, fandom-->
		<h4><%- if bookmark.bookmarkable.nil? -%>
      (<%= t('bookmark_oh_noes', :default => 'Oh noes, this series has been deleted.') -%>)
    <%- end -%>
    <%- if bookmark.bookmarkable.restricted -%>
      <%= image_tag("lockblue.png", :size => "15x15", :alt => t('bookmark_restricted', :default => "(Restricted)"), :title => "Restricted Series") %>
    <%- end -%>
    <%- if bookmark.bookmarkable.hidden_by_admin -%>
      <%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
    <%- end -%>
    <%= link_to bookmark.bookmarkable.title, bookmark.bookmarkable %>
    <%=h t('bookmark_by', :default => 'by') %>
    <%= byline(bookmark.bookmarkable) %>
		</h4>
  <h5 class="fandoms">
    <% author_fandoms = bookmark.bookmarkable.works.visible.collect(&:fandom_tags).flatten.compact.uniq
      unless author_fandoms.size <1 -%>
		    <%= author_fandoms.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', ') %>
		  <% end %>
    </h5>
	<%- if not bookmark.bookmarkable.nil? -%>
	    <ul class="required-tags">
				<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
				<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
				<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
				<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
		  </ul>
	  <%- end -%>
<!--tags-->
<ul class="tags" title="tags">
<%- author_warnings = bookmark.bookmarkable.works.visible.collect(&:warning_tags).flatten.compact.uniq -%>
<%- unless author_warnings.size < 1 -%>      
  <%- if hide_warnings?(bookmark.bookmarkable) -%>
    <li class="warnings"><strong><%= show_warnings_link(bookmark.bookmarkable) %></strong></li>
  <%- else -%>
    <li class="warnings"><strong><%= author_warnings.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag))}.join(',</strong> </li> ') %></li>
  <%- end -%>        
<%- end -%>
<%- author_tags = bookmark.bookmarkable.works.visible.collect{|w| [w.cast_tags, w.freeform_tags]}.transpose.flatten.uniq
    unless author_tags.size < 1 -%> 
	    <li><%= author_tags.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', </li><li> ') %></li>
    <%- end -%>
</ul>
</div>