<div class="series module">
<div class="header module">
<!--title, byline, fandom-->
  <h4><% if bookmark.bookmarkable.nil? %>
      (<%= t('.bookmark_oh_noes_series', :default => 'Oh noes, this series has been deleted.') %>)
    <% end %>
    <% if bookmark.bookmarkable.restricted %>
      <%= image_tag("lockblue.png", :size => "15x15", :alt => t('.bookmark_restricted', :default => "(Restricted)"), :title => "Restricted Series") %>
    <% end %>
    <% if bookmark.bookmarkable.hidden_by_admin %>
      <%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
    <% end %>
    <%= link_to bookmark.bookmarkable.title, bookmark.bookmarkable %>
    <%=h t('.bookmark_by', :default => 'by') %>
    <%= byline(bookmark.bookmarkable) %>
  </h4>
  <h5 class="fandom">
    <% author_fandoms = bookmark.bookmarkable.works.visible.collect(&:fandom_tags).flatten.compact.uniq
      unless author_fandoms.size <1 %>
		    <%= author_fandoms.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', ').html_safe %>
		  <% end %>
  </h5>
	<% if not bookmark.bookmarkable.nil? %>
	  <%= get_symbols_for(bookmark.bookmarkable) %>
	<% end %>
</div>
<!--tags-->
<% if not bookmark.bookmarkable.nil? %>
  <ul class="tags" title="tags">
    <%= blurb_tag_block(bookmark.bookmarkable) %>
  </ul>
<% end %>
</div>
