<div class="work module">
<div class="header module">
<!--title byline fandom-->
<h4>
  <% if bookmark.bookmarkable.nil? %>
    (<%= t('.bookmark_oh_noes', :default => 'Oh noes, this work has been deleted.') %>)
  <% else %>
    <% if bookmark.bookmarkable.restricted %>
      <%= image_tag("lockblue.png", :size => "15x15", :alt => t('.bookmark_restricted', :default => "(Restricted)"), :title => "Restricted Work") %>
    <% end %>
    <% if bookmark.bookmarkable.hidden_by_admin %>
      <%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
    <% end %>
    <%= link_to bookmark.bookmarkable.title, bookmark.bookmarkable %>
    <%=h t('.bookmark_by', :default => 'by') %>
    <%= byline(bookmark.bookmarkable) %>
  <% end %>
</h4>

<% tag_groups = bookmark.bookmarkable.tags.group_by { |t| t.type.to_s } %>

<h5 title="fandom"><%= tag_groups['Fandom'].collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', ').html_safe %></h5>

<% if not bookmark.bookmarkable.nil? %>
  <%= get_symbols_for(bookmark.bookmarkable, tag_groups) %>
<% end %>
</div>
<!--tags-->
<% if not bookmark.bookmarkable.nil? %>
<ul class="tags" title="tags">
  <%= blurb_tag_block(bookmark.bookmarkable, tag_groups) %>
</ul>
<% end %>
</div>
