<div class="work module">
<!--title byline fandom-->
	<h4>
  <%- if bookmark.bookmarkable.nil? -%>
    (<%= t('bookmark_oh_noes', :default => 'Oh noes, this work has been deleted.') -%>)
  <%- else -%>
    <%- if bookmark.bookmarkable.restricted -%>
      <%= image_tag("lockblue.png", :size => "15x15", :alt => t('bookmark_restricted', :default => "(Restricted)"), :title => "Restricted Work") %>
    <%- end -%>
    <%- if bookmark.bookmarkable.hidden_by_admin -%>
      <%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
    <%- end -%>
    <%= link_to bookmark.bookmarkable.title, bookmark.bookmarkable %>
    <%=h t('bookmark_by', :default => 'by') %>
    <%= byline(bookmark.bookmarkable) %>
  <%- end -%>
</h4>
<h5><%= bookmark.bookmarkable.fandom_tags.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', ') %></h5>

<%- if not bookmark.bookmarkable.nil? -%>
    <%= get_symbols_for(bookmark.bookmarkable) -%>
  <%- end -%>

<!--tags-->
<ul class="tags" title="tags">
<%- unless bookmark.bookmarkable.warning_tags.size < 1 -%>
	<%- if hide_warnings?(bookmark.bookmarkable) -%>
        <li class="warnings"><strong><%= show_warnings_link(bookmark.bookmarkable) %></strong></li>
      <%- else -%>
        <%= bookmark.bookmarkable.warning_tags.collect{|tag| '<li class="warnings"><strong>' + link_to(warning_display_name(tag.name), link_to_tag_bookmarks(tag)) + '</strong>, </li>' }.join(' ') %>
      <%- end -%>
<%- author_tags = bookmark.bookmarkable.cast_tags + bookmark.bookmarkable.freeform_tags
    unless author_tags.size < 1 -%>
	<li><%= author_tags.collect{|tag| link_to(tag.name, link_to_tag_bookmarks(tag)) }.join(', </li><li> ') %></li>
    <%- end -%>
    <%- end -%>
</ul>
</div>
