<h1><%=h 'Editing bookmark'.t %></h1>

<%= error_messages_for :bookmark %>

<%= render :partial => 'bookmark_form', :locals => {:button_name => 'Update'.t, :action => 'update'} %>

<ul class="navigation">
<li><%= link_to 'Show'.t, @bookmark %></li>
<li><%= link_to 'Back'.t, bookmarks_path %></li>
</ul>
