<h1><%=h t('editing', :default => 'Editing bookmark') %></h1>

<%= error_messages_for :bookmark %>

<%= render :partial => 'bookmark_form', :locals => {:button_name => t('forms.update', :default => 'Update'), :action => 'update'} %>

<ul class="navigation">
<li><%= link_to t('show_link', :default => 'Show'), @bookmark %></li>
<li><%= link_to t('links.back', :default => 'Back'), bookmarks_path %></li>
</ul>
