<!--SEARCHBROWSE descriptive page name and system messages, descriptions, and instructions.-->
<h2 class="heading">
  <% if @most_recent_bookmarks %>
    <%= ts("Recent") %>
  <% elsif @user %>
    <%= @user.login %>'s
  <% else %>
    <%= ts("Listing") %>
<% end %>
<% if params[:recs_only] %>
  <%= ts("Recs") %>
<% else %>
  <%= ts("Bookmarks") %>
<% end %>
</h2>
<!-- /descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
  <% if current_user.is_a?(User) %>
    <li><%= link_to ts("Bookmark External Work"), new_external_work_path %></li>
  <% end %>
  <!--BACK END pls regularise this with other navigation to show both options at all times and span_if_current-->
  <li>
    <% if params[:recs_only] %>
      <%= link_to ts("View All Bookmarks"), url_for(params.merge :recs_only => false) %>
    <% else %>
      <%= link_to ts("View Recs Only"), url_for(params.merge :recs_only => true) %>
    <% end %>
  </li>
<% if params[:tag_id] %>
  <%= taggable_list(params[:tag_id], "bookmarks") %>
<% end %>
</ul>
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading">List of Bookmarks</h3>
<ol class="bookmark index">
	<%= render 'bookmarks/bookmarks' %>
</ol>
<!-- /content-->

<div id="dynamic-bookmark" class="dynamic hidden"></div>

<!--subnav-->
	  <%= will_paginate @bookmarks %>
<!-- /subnav-->
