<!--descriptive page name and system messages, descriptions, and instructions.-->
<%- if @most_recent_bookmarks -%>
  <h2>Recent Bookmarks</h2>
<%- elsif @user -%>
<h2><%=h t('owned_bookmarks', :default => "{{user_name}}'s Bookmarks", :user_name => @user.login) %></h2>
<%- else -%>
  <h2><%=h t('listing', :default => 'Listing bookmarks') %></h2>
<%- end -%>
<!-- /descriptions-->

<!--subnav-->
<h3 class="landmark">Actions</h3>
<ul class="navigation" role="navigation">
  <% if current_user.is_a?(User) %>
    <li><%= link_to t('add_new', :default => "Bookmark External Work"), new_external_work_path %></li>
  <% end %>
  <li><%= toggle_recs_bookmarks %></li>
<% if params[:tag_id] %>
  <%= taggable_list(params[:tag_id], "bookmarks") -%>
<% end %>
</ul>
<!--/subnav-->

<!--main content-->
<h3 class="landmark">List of Bookmarks</h3>
<ol class="bookmark index">
	<%= render :partial => 'bookmarks/bookmarks' %>
</ol>
<!-- /content-->

<div id="dynamic-bookmark" style="display:none;">	</div>

<!--subnav-->
	  <%= will_paginate @bookmarks, :prev_label =>  "&laquo; " + t('pagination.previous', :default => "Previous"), :next_label => t('pagination.next', :default => "Next") + " &raquo;" %>
<!-- /subnav-->
