<%= taggable_list(params[:tag_id], "bookmarks") if params[:tag_id] -%>

<%- if @most_recent_bookmarks -%>
  <h1>Bookmarks saved in the last month</h1>
<%- else -%>
  <h1><%=h t('listing', :default => 'Listing bookmarks') %></h1>
<%- end -%>

<!-- BEGIN bookmark link -->
<% if @user && current_user && current_user == @user %>
<ul class="navigation">
<li><%= link_to t('add_new', :default => "Add A New Bookmark"), new_external_work_path %></li>
</ul>
<% end %> 
<!-- END bookmark link -->

<ul class="work-list bookmark" id="bookmarks">
	<%= render :partial => 'bookmarks/bookmarks' %>
</ul>

<div id="dynamic-bookmark" style="display:none;">	
</div>

<div class="pagination">
	  <%= will_paginate @bookmarks, :prev_label =>  "&laquo; " + t('pagination.previous', :default => "Previous"), :next_label => t('pagination.next', :default => "Next") + " &raquo;" %>
</div>
