<!--SEARCHBROWSE descriptive page name and system messages, descriptions, and instructions.-->
<h2 class="heading">
  <% if @most_recent_bookmarks %>
    <%= ts("Recent") %>
  <% elsif @user %>
    <%= @user.login %>'s
  <% else %>
    <%= ts("Listing") %>
<% end %>
<% if params[:recs_only] %>
  <%= ts("Recs") %>
<% else %>
  <%= ts("Bookmarks") %>
<% end %>
</h2>
<!-- /descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
  <% if current_user.is_a?(User) %>
  	<% if @user == current_user || @most_recent_bookmarks || @collection %>
    	<li><%= link_to ts("Bookmark External Work"), new_external_work_path %></li>
    <% elsif params[:work_id] %>
			<li><%= link_to ts("Save"), get_new_bookmark_path(@bookmarkable), :id => "bookmark_form_trigger_for_#{@bookmarkable.id}", :remote => true %></li>
		<% end %>
  <% end %>
  <li>
    <%= span_if_current(ts("All Bookmarks"), url_for(params.merge :recs_only => false), params[:recs_only].blank?) %>
  </li>
  <li>
    <%= span_if_current ts("Recs Only"), url_for(params.merge :recs_only => true) %>
  </li>
<% if params[:tag_id] %>
  <%= taggable_list(params[:tag_id], "bookmarks") %>
<% end %>
</ul>
<!--/subnav-->

<% if params[:work_id] %>
  <% # bookmark form loaded here if requested %>
  <div class="new dynamic" id="bookmark_form_placement_for_<%= @bookmarkable.id %>"></div>
<% end %>

<!--main content-->
<h3 class="landmark heading">List of Bookmarks</h3>
<ol class="bookmark index">
	<%= render 'bookmarks/bookmarks' %>
</ol>
<!-- /content-->

<!--subnav-->
	  <%= will_paginate @bookmarks %>
<!-- /subnav-->
