<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("Bookmark Search: Beta") %></h2>

<ul class="navigation actions" role="navigation">
	<li><%= link_to(ts("Advanced search"), search_index_path(:query => @query)) %></li></ul>

<%= render :partial => 'bookmarks/search_form' %>

<% if @bookmarks %>
  <p><strong><%= @bookmarks.total_entries %> Found</strong><%= link_to_help "bookmark-search-results-help" %></p>
  <h3 class="landmark heading">Bookmarks List</h3>
  <ol class="bookmark index group">
    <% for bookmark in @bookmarks %>
      <% unless bookmark.nil? %>
        <%= render 'bookmarks/bookmark_blurb', :bookmark => bookmark %>
      <% end %>
    <% end %>
  </ol>
  <%= will_paginate @bookmarks %>
<% end %>
