<% # expects collection_item, form %>
<ul class="actions">
  <% if collection_item.item %>
    <li>
      <% # TODO: AO3-6508 Revamp this so we don't have two useless links showing when JavaScript is disabled. %>
      <% id = "blurb_#{collection_item.item_type}_#{collection_item.item_id}_#{collection_item.collection.name}" %>
      <%= link_to h(ts("Details")) + ' &#8595;'.html_safe, "#", :class => "#{id}_open" %>
      <%= link_to h(ts("Close Details")) + ' &#8593;'.html_safe, "#", :class => "#{id}_close" %>
    </li>
  <% end %>

  <li class="user status">
    <%= form.label(:user_approval_status,
      options = {},
      html_options = { class: @collection ? "disabled" :  nil }) do %>
      <span class="landmark"><%= collection_item_approval_options_label(
        actor: "user",
        item_type: collection_item.item_type) %></span>
      <%= form.select(:user_approval_status,
        collection_item_approval_options(
          actor: "user",
          item_type: collection_item.item_type),
        options = {},
        html_options = { disabled: @collection ? true :  nil }) %>
    <% end %>
  </li>

  <li class="collection status">
    <%= form.label(:collection_approval_status,
      options = {},
      html_options = { class: @user ? "disabled" :  nil }) do %>
      <span class="landmark"><%= collection_item_approval_options_label(
          actor: "collection",
          item_type: collection_item.item_type) %></span>
      <%= form.select(:collection_approval_status,
        collection_item_approval_options(
          actor: "collection",
          item_type: collection_item.item_type),
        options = {},
        html_options = { disabled: @user ? true :  nil }) %>
    <% end %>
  </li>

  <% if collection_item.collection.unrevealed? %>
    <li>
      <%= form.label(:unrevealed,
        options = {},
        html_options = { class: @user ? "disabled" :  nil }) do %>
        <%= form.check_box :unrevealed, disabled: @user %>
        <%= ts("Unrevealed") %>
      <% end %>
    </li>
  <% end %>

  <% if collection_item.collection.anonymous? %>
    <li>
      <%= form.label(:anonymous,
        options = {},
        html_options = { class: @user ? "disabled" :  nil }) do %>
        <%= form.check_box :anonymous, disabled: @user %>
        <%= ts("Anonymous") %>
      <% end %>
    </li>
  <% end %>        

  <li>
    <% disable_destroy = !collection_item.user_allowed_to_destroy?(@current_user) %>
    <%= form.label(:remove,
      options = {},
      html_options = { class: disable_destroy ? "disabled" : nil }) do %>
      <%= form.check_box :remove, disabled: disable_destroy %>
      <%= ts("Remove") %>
    <% end %>
  </li>
</ul>
