<!--BACK END, not this deploy-will need to see a generated blurb-but suggest if bookmark add class bookmark to this containing li-->
<li class="collection item picture blurb group">
<div class="header module">
<% item_name = collection_item.item_type == "Bookmark" ? 
            ts("Bookmark for %{title}", :title => collection_item.item.bookmarkable.title) : 
            (collection_item.item.title + (!collection_item.item.posted? ? ts("(draft)") : "")) %>

<%= fields_for("collection_items[]", collection_item) do |form| %>
  <!--title-->
  <h4 class="heading" id="collection_item_<%= collection_item.id %>">
    <%= error_messages_for collection_item %>
    
    <%= form.hidden_field :collection_id %>
    <%= link_to(item_name, collection_item.item) %>   
  </h4>


    <% unless @user %>
<!-- mod version -->
        <h5 class="heading" title="by">
          <% collection_item.item_creator_pseuds.each do |pseud| %>

              <%= pseud.byline %>
              <% if collection_item.collection.user_is_posting_participant?(pseud.user) %>
                <%= ts("(Member)")%>
              <% end %>

          <% end %>
          <% # TODO: currently recipients is just a string tho this should be changed %>
          <% unless collection_item.recipients.blank? %>
            <span class="recipients" title="recipients">for <span class="user"><%= collection_item.recipients %></span></span>
          <% end %>
        </h5>

      <% else %>
<!-- user version -->
      <h5 class="heading">
        in <span class="collection"><%= link_to collection_item.collection.title, collection_path(collection_item.collection) %></span>
        <% if collection_item.collection.user_is_posting_participant?(@user) %>
          <%= ts("(Member)") %>
        <% end %>
      </h5>
    <% end %>

<!-- shows for both mods and users -->
    <p class="datetime" title="added"><%= collection_item.item_date.to_date %></p>
    <div class="icon"></div> 
</div>
   
   <% if collection_item.item %>
    <% id = "blurb_#{collection_item.item_type}_#{collection_item.item_id}" %>
    <ul id="<%= id %>" class="toggled">
        <% if collection_item.item_type == 'Work' %>
          <%= render "works/work_blurb", :work => collection_item.item, :is_unrevealed => false %>
        <% elsif collection_item.item_type == 'Bookmark' %>
          <%= render "bookmarks/bookmark_blurb", :bookmark => collection_item.item %>
        <% end %>
      </ul>
     <% end %>
  

<!--actions--> 
    <ul class="actions" role="menu">
      <% if collection_item.item %>
        <li>
          <% id = "blurb_#{collection_item.item_type}_#{collection_item.item_id}" %>
          <%= link_to h(ts("Details")) + ' &#8595;'.html_safe, "#", :class => "#{id}_open" %>
          <%= link_to h(ts("Close Details")) + ' &#8593;'.html_safe, "#", :class => "#{id}_close" %>
        </li>
      <% end %>
      <li class="status action">
        <% if @user %>
          <%= form.select(:user_approval_status, CollectionItem::APPROVAL_OPTIONS) %>
        <% else %>
          <%= form.select(:collection_approval_status, CollectionItem::APPROVAL_OPTIONS) %>
        <% end %>
      </li>

<!-- shows for both mods and users -->
      <% id = "collection_items_" %>
      <% if collection_item.collection.unrevealed? %>
        <li>
          <label for="collection_items_<%= collection_item.id %>_unrevealed">
            <%= ts("Unrevealed") %>
            <%= form.check_box :unrevealed %>
          </label>
        </li>
      <% end %>
      <% if collection_item.collection.anonymous? %>
        <li>
          <label for="collection_items_<%= collection_item.id %>_anonymous">
            <%= ts("Anonymous") %>
            <%= form.check_box :anonymous %>
          </label>
        </li>
      <% end %>        
      <li>
        <label for="collection_items_<%= collection_item.id %>_remove">
          <%= ts("Remove") %>
          <%= form.check_box :remove %>
        </label>
      </li>
    </ul>
</li>
<% end %>
