<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <% if @user %>
    <%= t(".user.page_name", username: @user.login) %>
  <% else %>
    <%= t(".collection.page_name", collection_link: link_to(@collection.title, @collection)).html_safe %>
  <% end %>
</h2>
<!--/descriptions-->
<!--subnav-->
<%
  base_path = @user ? user_collection_items_path(@user) : collection_items_path(@collection)
  approved_path = @user ? user_collection_items_path(@user, status: "approved") : collection_items_path(@collection, status: "approved")
  awaiting_collection_approval_path = @user ? user_collection_items_path(@user, status: "unreviewed_by_collection") : base_path
  awaiting_user_approval_path = @user ? base_path : collection_items_path(@collection, status: "unreviewed_by_user")
  rejected_by_user_path = base_path + "?status=rejected_by_user"
  rejected_by_collection_path = base_path + "?status=rejected_by_collection"
  known_params = (params[:status] == "approved" || params[:status] == "unreviewed_by_user" || params[:status] == "unreviewed_by_collection" || params[:status] == "rejected_by_user" || params[:status] == "rejected_by_collection")
%>

<ul class="navigation actions" role="navigation">
  <% # Default page for collection. Set as current if this is a collection and no other known params are set, or if this is not a collection and the awaiting_collection param is set. %>
  <li><%= span_if_current t(".navigation.collection_neutral"),
    awaiting_collection_approval_path, 
    @collection ? !known_params : params[:status] == "unreviewed_by_collection" %></li>

  <% # Default page for user. Set as current if this is a user and no other known params are set, or if this is not a user and the invited param is set. %>
  <li><%= span_if_current t(".navigation.user_neutral"),
    awaiting_user_approval_path,
    @user ? !known_params : params[:status] == "unreviewed_by_user" %></li>

  <li><%= span_if_current t(".navigation.collection_rejected"), rejected_by_collection_path %></li>
  <li><%= span_if_current t(".navigation.user_rejected"), rejected_by_user_path %></li>
  <li><%= span_if_current t(".navigation.approved"), approved_path %></li>
</ul>
<!--/subnav-->

<% # TODO: Update notice text. Items can be bookmarks or works. %>
<% if @collection && params[:status] == "unreviewed_by_user" %>
  <p class="notice">
    <%= t(".collection.notice.user_neutral") %>
  </p>
<% end %>
<% if @user && params[:status] == "unreviewed_by_collection" %>
  <p class="notice">
    <%= t(".user.notice.collection_neutral") %>
  </p>
<% end %>
<% if @collection_items.count < 1 %>
  <p class="note"><%= t(".no_items") %></p>
<% else %>
  <%= form_tag (@user ? update_multiple_user_collection_items_path(@user) : update_multiple_collection_items_path(@collection)), method: :patch do %>
    <ul class="index group">
      <% @collection_items.each do |collection_item| %>
        <%= render "item_fields", collection_item: collection_item %>
      <% end %>
    </ul>
    <%= submit_fieldset %>
  <% end %>

  <%= will_paginate @collection_items %>
<% end %>
<!--/content-->
