<!-- prompt restriction_form partial, expects a local variable called "challenge_form" and @challenge and "type", as well as boolean "is_offer" and "show_tag_options"  -->
<% if is_offer %>
  <% @challenge.build_offer_restriction unless @challenge.offer_restriction %>
  <% restriction = @challenge.offer_restriction %>
<% else %>
  <% @challenge.build_request_restriction unless @challenge.request_restriction %>
  <% restriction = @challenge.request_restriction %>
<% end %>

<%= challenge_form.fields_for(is_offer ? :offer_restriction : :request_restriction) do |prompt_restriction_form| %>

  <fieldset>

    <% if is_offer %>
      <!-- skip the notes -->
    	<legend>Offer Settings</legend>
    	<h3>Offer Settings</h3>
    	<p class="note">
    	  These settings determine what each separate offer can contain. Note these can be entirely different from the request settings!
    	</p>
    <% else %>
    	<legend>Request Settings</legend>
    	<h3>Request Settings</h3>
    	<p class="note">
    	  These settings determine what each separate request can contain, and in particular how many different tags of each kind.
    	  <% unless type == "prompt_meme" %>If you plan to use automated matching, keep in mind it will be slower the more tags you allow people to request.<% end %>
    	</p>
    	<% unless type == "prompt_meme" %><p class="note">
    	  If you check "Allow Any?" then users will be able to select "Any" for that field, which means they will match no matter 
    	  what the person offering has put into that field. Note: this option is generally safer for offers than requests!
    	</p><% end %>
    	<p class="note">
    	  If you check "Must Be Unique?" then users will not be allowed to repeat the same value across prompts. That is, if 
    	  you allow three prompts and specify that fandom must be unique, the user will have to specify completely different fandoms
    	  for all three prompts -- no overlap allowed. Please explain this in your signup instructions!
    	</p> 
    <% end %>
    <dl>
      <% if type == "gift_exchange" %>
        <%= prompt_restriction_settings(prompt_restriction_form, (is_offer ? false : true), true) %>
      <% else %>
        <%= prompt_restriction_settings(prompt_restriction_form, (is_offer ? false : true), false) %>
      <% end %>
    </dl>
  </fieldset>

  <% if show_tag_options %>
    <fieldset>
      <legend><%= ts("Tag Options") %></legend>
      <h3><%= ts("Tag Options") %> <%= link_to_help("prompt-restriction-tag-set" + (type == "gift_exchange" ? "" : "-promptmeme")) %> </h3>
      <p class="note">
        Here you can select one or more <%= link_to(ts("tag sets"), tag_sets_path) %> which will determine what tags users can choose from in
        your challenge. You can make your own custom tag set(s) or use any existing public tag set (but be aware that if it's not a tag set 
        that you own, the tag set owners may change the contents of the tag set without warning).
      </p> 
      <dl>
        <% unless restriction.owned_tag_sets.empty? %>
          <dt><%= prompt_restriction_form.label :tag_sets_to_remove, ts("Current Tag Sets (check to remove):") %></dt>
          <dd>
            <%= checkbox_section(prompt_restriction_form, :tag_sets_to_remove, restriction.owned_tag_sets, :name_method => "title") %>
          </dd>
        <% end %>
        <dt><%= prompt_restriction_form.label :tag_sets_to_add, ts("Tag Sets To Use: ") %></dt>
        <dd title="tag sets to use"><%= prompt_restriction_form.text_field :tag_sets_to_add, autocomplete_options("owned_tag_sets") %></dd>
        <% TagSet::TAG_TYPES_RESTRICTED_TO_FANDOM.each do |tag_type| %>
          <dt><%= ts("#{tag_type.classify} Settings") %> <%= link_to_help("prompt-restriction-character-and-relationship") %></dt>
          <dd>
            <ul>
              <li>
                <%= prompt_restriction_form.check_box "#{tag_type}_restrict_to_fandom", :checked => restriction.send("#{tag_type}_restrict_to_fandom") %>
              <%= prompt_restriction_form.label "#{tag_type}_restrict_to_fandom", ts("Fandom only?") %>
              </li>
              <li>
                <%= prompt_restriction_form.check_box "#{tag_type}_restrict_to_tag_set", :checked => restriction.send("#{tag_type}_restrict_to_tag_set") %>
                <%= prompt_restriction_form.label "#{tag_type}_restrict_to_tag_set", ts("Tag set fandom only?") %>
              </li>
            </ul>
          </dd>
        <% end %>
      </dl>
    </fieldset>
  <% end %>

<% end %>
