<!-- request_restriction_form partial, expects a local variable called "challenge_form" and @challenge -->
<% @challenge.build_request_restriction unless @challenge.request_restriction %>
<% challenge_form.fields_for :request_restriction do |request_restriction_form| %>
<fieldset class="preface profile">
	<legend>Request Settings</legend>
	<h3>Request Settings</h3>
	<p class="note">
	  These settings determine what each separate request can contain, and in particular how many different tags of each kind. 
	  If you plan to use automated matching, keep in mind it will be slower the more options you allow people to request. 
	</p>
	<p class="note">
	  If you set the "Required" number of a particular tag to be higher than the "Allowed" number of that tag, we will 
	  automatically assume that you want the allowed number to be the same as the number required. You only need to manually
	  set the "Allowed" number if you want more tags allowed than required. 
	</p> 
  <dl>

    <%= prompt_restriction_settings(request_restriction_form, true) -%>

    <% @challenge.request_restriction.build_tag_set unless @challenge.request_restriction.tag_set %>
    <% request_restriction_form.fields_for :tag_set_attributes do |tag_set_form| %>
    <dt><%= tag_set_form.label :tagnames, t('request_restrictions.tagnames', :default => "Tag Options") %> <%= link_to_help("prompt-restriction-tag-set")%></dt>
    <dd>
      <%= tag_set_form.text_area :tagnames, :rows => 6, :cols => 70, :value => (@challenge.request_restriction.tag_set ? @challenge.request_restriction.tag_set.tagnames : "") %>
      <%= autocomplete_text_field("#{@challenge.class.name.tableize.singularize}_request_restriction_attributes_tag_set_attributes_tagnames", "canonical_tag_finder") %>      
    </dd>
    <% end %>
  </dl>
</fieldset>
<% end -%>
