<h2><%= ts("Submit a Prompt for %{title}", :title => @collection.title) %></h2>

<% # note for FRONT END
  # The fields in the form frequently wrap around to a second line.
  # So if anyone can think of a better design for this, that would be awesome %>

<!-- descriptions-->
<!-- /descriptions-->
<!--subnavigation, sorting and actions-->
<% unless params[:single_prompt] == "true" %>
<ul class="navigation">
  <% if params[:single_prompt] == "true" %>
    <li>
    <%= link_to( ts('Edit other existing prompts instead?'),
      {:url => {:controller => :challenge_signups, :action => :edit, :single_prompt => false}},
      :href => url_for(:controller => :challenge_signups, :action => :edit, :single_prompt => false)) %>
    </li>
  <% elsif controller.action_name == "edit" %>
    <li>
    <%= link_to( ts('Just add one new prompt instead?'),
      {:url => {:controller => :prompts, :action => :new}},
      :href => url_for(:controller => :prompts, :action => :new)) %>
    </li>
  <% end %>
</ul>
<% end %>
<!--/subnav-->

<!--main content-->

<ul>
  <% @challenge_signup.send("requests").each_with_index do |prompt, index| %>
    <% if edit_record == true && index < @challenge_signup.requests.count %>
      <li><%= link_to(ts("Edit Request %{num}", :num => index+1), edit_collection_prompt_path(@challenge_signup.collection, prompt)) %>
      <% if prompt.tag_set && !prompt.tag_set.tags.empty? %>(<ul class="tags inline"><%= tag_link_list(prompt.tag_set.tags, link_to_works=false) %></ul>)<% end %></li>
    <% else %>
      <li><%= ts("Request %{num}", :num => index+1) %></li>
    <% end %>
  <% end %>
</ul>

<% if params[:single_prompt] == "true" %>

  <%= form_for([@collection, @challenge_signup], :url => (edit_record ? collection_signup_path(@collection, :single_prompt => params[:single_prompt]) : collection_signups_path(@collection))) do |signup_form| %>
    <%= error_messages_for @challenge_signup %>
  
  <% if @challenge.signup_instructions_general %>
    <fieldset class="preface profile">
      <legend>General Information</legend>
      <h3>General Information</h3>
      <%=raw sanitize_field(@challenge, :signup_instructions_general) %>
    </fieldset>
  <% end %>
  
  <fieldset class="preface profile">
  	<legend><%= ts("Requests") %></legend>
  	<h3>
  	  <%= ts("Requests") %> 
  	  (<%= @challenge.send("requests_num_required") -%>
  	  <% if @challenge.send("requests_num_required") != @challenge.send("requests_num_allowed") -%>
  	    - <%= @challenge.send("requests_num_allowed") -%><% end -%>)
  	</h3>
    <% if @challenge.send("signup_instructions_requests") %>
      <%=raw sanitize_field(@challenge, "signup_instructions_requests".to_sym) %>
    <% end %>
    <% last_request = @challenge_signup.requests.new %>
    <% index = @challenge_signup.requests.count %>
      <%= signup_form.fields_for("requests".to_sym, last_request, :child_index => index) do |prompt_form| %>
        <%= render :partial => "prompts/prompt_form", 
            :locals => {:form => prompt_form, :is_offer => false, :index => index,
                        :required => true, :edit_record => false} %>
      <% end %>
  </fieldset>
  
  <fieldset>
  	<legend><%= 'Submit' -%></legend> 
    <p class="submit">
      <%= signup_form.submit 'Submit' %>
    </p>
  </fieldset>
    
  <% end %>
  
<% else %>

  <%= form_for([@collection, @challenge_signup], :url => collection_signup_path(@collection)) do |signup_form| %>
    <%= error_messages_for @challenge_signup %>

  <% if !@challenge.signup_instructions_general.nil? || current_user.pseuds.size > 1 %>
  <fieldset class="preface profile">
  	<legend>General Information</legend>
  	<h3>General Information</h3>
    <% if @challenge.signup_instructions_general %>
      <%=raw sanitize_field(@challenge, :signup_instructions_general) %>
    <% end %>
    <dl>
     	<% if current_user.pseuds.size > 1 %>
        <dt><%= signup_form.label :pseud_id, ts("Select pseudonym: ") -%></dt>
        <dd><%= signup_form.select :pseud_id, options_from_collection_for_select(current_user.pseuds, :id, :name, current_user.default_pseud.id) %></dd>
      <% end %>  
    </dl>
  </fieldset>
  <% end %>
  
  <% if current_user.pseuds.size == 1 %>
    <p><%= signup_form.hidden_field :pseud_id, :value => (signup_form.object.new_record? ? current_user.default_pseud.id : signup_form.object.pseud.id) %></p>
  <% end %>

  <% %w(requests).each do |prompt_type| %>
  <fieldset class="preface profile">
  	<legend><%= ts("Requests") %></legend>
  	<h3>
  	  <%= ts("Requests") %> 
  	  (<%= @challenge.send("requests_num_required") -%>
  	  <% if @challenge.send("requests_num_required") != @challenge.send("requests_num_allowed") -%>
  	    - <%= @challenge.send("requests_num_allowed") -%><% end -%>)
  	</h3>
    <% if @challenge.send("signup_instructions_requests") %>
      <%=raw sanitize_field(@challenge, "signup_instructions_requests".to_sym) %>
    <% end %>
    <% if @challenge_signup.send("requests").empty? %>
  	  <% 1.upto(@challenge.send("requests_num_required")) do %>
        <% @challenge_signup.send("requests").build %>
      <% end %>
    <% end %>
    <% @challenge_signup.send("requests").each_with_index do |prompt, index| %>
      <%= signup_form.fields_for prompt_type.to_sym, prompt do |prompt_form| %>
        <%= render :partial => "prompts/prompt_form", 
            :locals => {:form => prompt_form, :is_offer => false, :index => index, 
                        :required => (index < @challenge.send("requests_num_required")), :edit_record => edit_record} %>
      <% end %>
    <% end %>
    <% if @challenge.send("requests_num_allowed") > @challenge.send("requests_num_required") %>
      <p class="navigation">
        <%= link_to_add_section(
             ts("Add another prompt? (Up to %{allowed} allowed.)", :allowed => @challenge.send("requests_num_allowed")), 
             signup_form, prompt_type.to_sym, "prompts/prompt_form", {:is_offer => false, :required => false, :edit_record => false}) 
        %>
      </p>
    <% end %>
  </fieldset>
  <% end # requests section %>

  <fieldset>
  	<legend><%= 'Submit' -%></legend> 
    <p class="submit">
      <%= signup_form.submit 'Submit' %>
    </p>
  </fieldset>

  <% end %>
<% end %>

<!--/content-->

<!--subnav-->
<ul class="navigation" role="navigation">
<li><%= link_to 'Back', @collection %></li>
</ul>
<!--/subnav-->
