<!-- expects local variable "challenge_signup" -->
<% challenge_signup.offers.each_with_index do |offer, index| %>
  <h3><%=h t('.signup.show.offer', :default => "Offer {{num}}", :num => index+1) %></h3>
  <div class="wrapper">
    <dl class="collection meta">
      <%= offer.url.blank? ? "" : "<dt>URL:</dt><dd>" + link_to(offer.url, offer.url) + "</dd>" -%>
      <%= offer.description.blank? ? "" : "<dt>Details:</dt><dd>" + sanitize_and_format_for_display(offer.description) + "</dd>" %>
      <% if offer.tag_set && !offer.tag_set.tags.empty? %>        
        <dt>Tags:</dt>
        <dd>
          <ul class="tags">
            <%= tag_link_list offer.tag_set.tags %>
          </ul>
          <% if offer.optional_tag_set && !offer.optional_tag_set.tags.empty? %>
            <p>Optional:</p>
            <ul class="tags">
              <%= tag_link_list offer.optional_tag_set.tags %>
            </ul>
          <% end %>
        </dd>
      <% end -%>
    </dl>
  </div>
<% end %>
