<!-- expects local value "prompt" -->
<div class="wrapper">
  <dl class="collection meta">
    <% unless prompt.url.blank? %>
      <dt><%= ts("URL") %>:</dt>
      <dd><%= link_to(prompt.url, prompt.url) %></dd>
    <% end %>
    <% unless prompt.description.blank? %> 
      <dt><%= ts("Details") %>:</dt>
      <dd><%= raw sanitize_field(prompt, :description) %></dd>
    <% end %>
    <% if prompt.tag_set && !prompt.tag_set.tags.empty? %>
      <dt>Tags:</dt>
      <dd>
        <ul class="tags">
          <%= tag_link_list prompt.tag_set.tags %>
        </ul>
        <% if prompt.optional_tag_set && !prompt.optional_tag_set.tags.empty? %>
          <p>Optional:</p>
          <ul class="tags">
            <%= tag_link_list(prompt.optional_tag_set.tags) %>
          </ul>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>
