<!-- expects local value "prompt" -->
<div class="wrapper">
  <dl class="collection meta">
  <% if prompt.anonymous? %>
    <dt>Secret</dt><dd>This request is anonymous</dd>
  <% else %>
    <% any_types = TagSet::TAG_TYPES.select {|type| prompt.send("any_#{type}")} %>
    <% if any_types || (prompt.tag_set && !prompt.tag_set.tags.empty?) %>
      <dt>Tags:</dt>
      <dd>
        <ul class="tags">
          <%= prompt.tag_set && !prompt.tag_set.tags.empty? ? tag_works_links_list(prompt.tag_set.tags) + (any_types.empty? ? "" : ", ") : "" %>
          <% unless any_types.empty? %>
            <%= any_types.map {|type| content_tag(:li, ts("Any %{type}", :type => type.capitalize)) }.join(", ").html_safe %>
          <% end %>
        </ul>
        <% if prompt.optional_tag_set && !prompt.optional_tag_set.tags.empty? %>
          <p>Optional:</p>
          <ul class="tags">
            <%= tag_works_links_list(prompt.optional_tag_set.tags) %>
          </ul>
        <% end %>
      </dd>
    <% end %>
    <% unless prompt.url.blank? %>
      <dt><% url_label = prompt.collection.challenge.send("request_url_label") %><%= url_label.blank? ? ts("URL") : url_label %>:</dt>
      <dd><%= link_to(prompt.url, prompt.url) %></dd>
    <% end %>
    <% unless prompt.description.blank? %> 
      <dt><% desc_label = prompt.collection.challenge.send("request_description_label") %><%= details_label.blank? ? ts("Details") : desc_label %>:</dt>
      <dd><%= raw sanitize_field(prompt, :description) %></dd>
    <% end %>
  <% end %>
  </dl>
</div>
