<!-- expects local variable "challenge_signup" -->
<% challenge_signup.requests.each_with_index do |request, index| %>
  <h3 class="clear-right"><%= ts("Request %{num}", :num => index+1) %></h3>
  <%= render :partial => "challenge_signups/show_prompt", :locals => {:prompt => request, :display_anon => false} %>
  
  <%= # form_for([@collection, @challenge_signup], :url => (collection_signup_path(@collection))) do |signup_form| %>
  <%= # error_messages_for @challenge_signup %>
  <%= # signup_form.fields_for :request, request do |prompt_form| %>
  <% # p class="navigation" %><% # link_to_remove_section(ts("Remove?"), prompt_form) %>
  <% # end %>
  <% # end %>
<% end %>
