<div id="collection-page" class="collection challenge home">
  <!--main content-->
  <h2 class="heading"><%= ts("Signup for %{person}", :person => @challenge_signup.pseud.byline) %></h2>
  <!--subnav-->
    <%= render :partial => "signup_controls", :locals => {:challenge_signup => @challenge_signup} %>
  <!--/subnav-->

<!--main content-->

 <%= render :partial => "show_requests", :locals => {:challenge_signup => @challenge_signup} %>

   <%= render :partial => "show_offers", :locals => {:challenge_signup => @challenge_signup} %>

  <!--/content-->

  <!--subnav-->
    <%= render :partial => "signup_controls", :locals => {:challenge_signup => @challenge_signup} %>
  <!--/subnav-->

</div>

