<div id="collection-page" class="collection challenge home">
  <!--main content-->
  <h2 class="heading"><%= ts("Sign-up for %{person}", :person => @challenge_signup.pseud.byline) %></h2>
  <!--subnav-->
  <%= render "signup_controls", :challenge_signup => @challenge_signup %>
  <!--/subnav-->

  <!--main content-->

  <%= render "show_requests", :challenge_signup => @challenge_signup %>
  <%= render "show_offers", :challenge_signup => @challenge_signup %>

  <!--/content-->

  <!--subnav-->
  <%= render "signup_controls", :challenge_signup => @challenge_signup %>
  <!--/subnav-->
</div>
