<h1><%= ts("Unsorted Tags") %></h1>

<% if @tags %>

  <% form_tag mass_update_unsorted_tags_path do %>

  <p><%= submit_tag ts("Update") %></p>

  <table>
    <% @tags.each do |tag| %>
      <% cache("unsorted-#{tag.cache_key}") do %>
      <tr>
        <td><%= link_to tag.name, edit_tag_path(tag) %></td>
        <td><%= link_to ts("Bookmarks (%{count})", :count => tag.bookmarks.count), tag_bookmarks_path(tag) %></td>
        <td><%= select_tag "tags[#{tag.id}]", options_for_select(["", ts("Fandom"), ts("Character"), ts("Relationship"), ts("Freeform")]) %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

  <p><%= submit_tag ts("Update") %></p>

  <% end %>

<% end %>
