<%- form_remote_for(@tag_relationship) do |f| -%>

  <div id="tag-relationship-categories">  
    <%= collection_select 'tag', :tag_category, @tag_categories, :id, :name, {:prompt => 'First Tag Category'} %> 
    <%= f.collection_select :tag_relationship_kind_id, @relationships, :id, :name, {:prompt => 'Relationship'} %>
    <%= collection_select 'related_tag', :tag_category, @tag_categories, :id, :name, {:prompt => 'Second Tag Category'} %>
  </div>

  <div id="tag-relationship-tags">
    <span id="tag1"></span>
    <span id="verb"></span>
    <span id="tag2"></span>
  </div>

  <p><%= f.submit "Create" %></p>

<%- end -%>

<%= observe_field :tag_tag_category, :url => { :controller => :tag_wrangling, :action => :dynamic_relationships }, :with => 'tag1' %>
<%= observe_field :tag_relationship_tag_relationship_kind_id, :url => { :controller => :tag_wrangling, :action => :dynamic_relationships }, :with => 'relationship' %>
<%= observe_field :related_tag_tag_category, :url => { :controller => :tag_wrangling, :action => :dynamic_relationships }, :with => 'tag2' %>
