<h2><%=h 'TagWrangler: Edit Relationship'.t %> <%= @tag_relationship.name %></h2>

<% form_for(@tag_relationship) do |f| %>
  <%=h 'tag1'.t %> <%= f.text_field("verb_phrase") %> <%=h 'tag2'.t %>
  <p>
  <p>
  <%=h 'tag1 is'.t %>
    <%= f.radio_button("distance", 0) %> 0
    <%= f.radio_button("distance", 1)%> 1
    <%= f.radio_button("distance", 2) %> 2
    <%= f.radio_button("distance", 3) %> 3
  <%=h 'far away from tag2 when sorted'.t %>
  <p>
  <%=h 'the relationship goes both ways:'.t %> <%= f.check_box("reciprocal") %>
  <p>
  <%= f.submit %>
  <p>
<% end %>

<%= tag_wrangler_footer %>

