<h2><%=h 'TagWrangler: Relationships'.t %></h2>

<table id="tag-wrangling">
<caption><!--A summary of the table contents and purpose here please--></caption>
  <tr>
    <th><%=h 'Name'.t %></th>
    <th><%=h 'Relationship'.t %></th>
    <th><%=h 'Distance'.t %></th>
    <th><%=h 'Reciprocal?'.t %></th>
  </tr>
  <% @tag_relationships.each do |relationship| %>
	<tr>
    <td> <%= relationship.name%></td>
    <td><%= relationship.verb_phrase %> </td>
    <td> <%= relationship.distance %></td>
    <td> <%= relationship.reciprocal? %></td>
    <td> <%= link_to 'edit'.t, edit_tag_relationship_path(relationship) %></td>
    <td>
      <%= link_to "delete".t, relationship, :confirm => "This destroys the relationship for all current tags, are you sure?".t, :method => :delete %><% if relationship == TagRelationship.synonym || relationship == TagRelationship.disambiguate -%>*<% end -%>
    </td>
    <td><%= link_to 'wrangle tags'.t, tag_relationship_path(relationship) %> </td>
  </tr>
  <% end %>
</table>
<p>
<p><%=h '*Note: If deleted, this relationship will be re-generated (without any associated tags) when you refresh the page'.t %>

<%= tag_wrangler_footer %>
