<h2>TagWrangler: Relationships</h2>

<table>  <tr>
    <th>Name<br></th>
    <th>Relationship<br></th>
    <th>Distance</th>
    <th>Reciprocal?</th>
  </tr>
<% @tag_relationships.each do |relationship| %>
	<tr>
 <td> <%= relationship.name%></td>
 <td><%= relationship.verb_phrase %> </td>
 <td> <%= relationship.distance %></td>
 <td> <%= relationship.reciprocal? %></td>
 <td> <%= link_to 'edit', edit_tag_relationship_path(relationship) %></td>
		<td><%= link_to 'wrangle tags', tag_relationship_path(relationship) %> </td>
 </tr>
<% end %>
</table>
<p>
<%= tag_wrangler_footer %>
