<h2><%=h 'TagWrangler: New Relationship'.t %></h2>

<% form_for(@tag_relationship) do |f| %>
  <p>
  <%=h 'Name:'.t %> <%= f.text_field("name", :size => 12)%>
  <p>
  <%=h 'Phrase:'.t %> <%= f.text_field("verb_phrase") %>
  <br />
  <%=h '(used in the instructions in the draggable interface:'.t %>
  <br />
  <%=h "'tag1 phrase tag2' when tag1 is dropped on tag2)".t %>
  <p>
  <%=h 'Distance:'.t %>
    <%= f.radio_button("distance", 0) %> 0
    <%= f.radio_button("distance", 1, :checked => 'checked')%> 1
    <%= f.radio_button("distance", 2) %> 2
    <%= f.radio_button("distance", 3) %> 3
  <br />
  <%=h '(tags are sorted based on the distance of their relationships:'.t %>
  <br /><%=h '0 means they are the same, 3 means they have something in common, 1 is the default)'.t %>
  <p>
  <%=h 'Reciprocal:'.t %> <%= f.check_box("reciprocal") %>
  <br /><%=h 'This relationship is the same in both directions.'.t %><br /><%=h 'If I drop tag1 on tag2, tag2 will be created with the same relationship towards tag1.'.t %>
  <br /><%=h "e.g. 'synonym' is reciprocal, 'is a child of' is not".t %>
  <p>
  <%= f.submit %>
  <p>
<% end %>

<%= tag_wrangler_footer %>

