<h2>TagWrangler: Tags in Relationship <%= @tag_relationship.name %></h2>
<table id='table'>
  <tr>
    <th></th>
    <th><%= @tag_relationship.verb_phrase %></th>
  </tr>
<% @taggings.each do |tagging| -%>
  <%= render :partial => 'table', :locals => { :tag => tagging.tag, :taggable => tagging.taggable }%>   
<% end -%>
</table>
<p>Drag a tag by it's handle (<img src="/images/drag.png" alt="drag me">) and drop it onto another tag, in order to create a <%= @tag_relationship.name%> relationship where the first tag <%=@tag_relationship.verb_phrase%> the second tag</p>

<% @categories.each do |category| -%>
  <p><b><%= category.display_name %> Tags:</b>
  <% category.tags.each do |tag| -%>
    <%= render :partial => 'droppable', :locals => { :tag => tag }%>
  <% end %>
  </p>
<% end %>

<%= tag_wrangler_footer %>

