<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Request more invites") %></h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
   <li><%= span_if_current t('.invitations', :default =>"Invitations"), user_invitations_path(@user) %></li>
   <li><%= span_if_current "Manage invitations", {:controller => :invitations, :action => :manage, :user_id => @user.login} %></li>
  <li><%= span_if_current "Request more", new_user_invite_request_path %></li>
</ul>

<!--main content-->
<%= form_for(@user_invite_request) do |f| %>
  <%= error_messages_for @user_invite_request %>
  <dl>
    <dt><%= f.label "How many invites would you like?" %></dt> 
    <dd><%= f.text_field :quantity, :size => '2', :class => 'number' %></dd>
    <dt><%= f.label "Any special reason you'd like them?" %></dt>
    <dd><%= f.text_area :reason, :size => '50x5' %></dd>
    <dt class="landmark">Submit</dt>
    <dd class="submit actions"><%= f.submit 'Send Request' %></dd>
  </dl>
<% end %>
<!--/content-->