<!--Descriptive page name, messages and instructions-->
<h2>Request more invites</h2>
<!--/descriptions-->

<!--main content-->
<%= form_for(@user_invite_request) do |f| %>
  <%= error_messages_for @user_invite_request %>
  <p>
    <%= f.label "How many invites are you requesting?" %> 
  </p>
  <p>
    <%= f.text_field :quantity, :size => '2' %>
  </p>
  <p>
    <%= f.label "Reason for your request:" %>
  </p>
  <p>
    <%= f.text_area :reason, :size => '50x5' %>
  </p>
  <p class="submit">
    <%= f.submit 'Create' %>
  </p>
<% end %>
<!--/content-->