<li class="blurb">
  <%= render "support_notice", support_notice: support_notice %>

  <h3 class="landmark heading"><%= t(".landmark") %></h3>
  <ul class="actions">
    <li>
      <%= link_to t(".edit"), edit_admin_support_notice_path(support_notice) %>
    </li>
    <% if support_notice.active? %>
      <li>
        <span class="active current"><%= t(".active") %></span>
      </li>
    <% else %>
      <li>
        <%= link_to t(".delete"), confirm_delete_admin_support_notice_path(support_notice), data: { confirm: t(".confirm_delete") } %>
      </li>
    <% end %>
  </ul>
</li>
