<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t(".page_heading") %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <%= render "navigation" %>
  <!--/subnav-->

  <%== pagy_nav(@pagy) %>

  <!--main content-->
  <ul class="support-notice index group">
    <% @support_notices.each do |support_notice| %>
      <%= render "support_notice", support_notice: support_notice %>
    <% end %>
  </ul>
  <!--/content-->

  <%== pagy_nav(@pagy) %>

</div>
