<p><%= ts("Dear ") %><%= @user.default_pseud.byline %><%= ts(":") %></p>
<p><%= ts("Your work") %> <cite><%= @work.title.html_safe %></cite> <%= ts("was deleted from the Archive by our Abuse team.") %></p>
<p><%= ts("If you have questions regarding this action, please contact") %> <%= ts("Abuse (http://archiveofourown.org/abuse_reports/new)") %>.</p>
<p><%= ts("Attached is a copy of your work for your reference.") %></p>
