<% content_for :message do %>
  <p>
    <% if @username.present? %>
      <%= t("mailer.general.greeting.informal.addressed_html", name: style_bold(@username)) %></p>
    <% else %>
      <%= t("mailer.general.greeting.informal.unaddressed") %>
  </p>
  <% end %>

  <p><%= t(".report_received") %></p>

  <p><%= t(".resubmission") %></p>

  <p><%= t(".copy.intro") %></p>

  <p>
    <%= style_metadata_label(t(".copy.url")) %><%= style_link(@url, @url) %>
  </p>

  <p>
    <%# TODO: Remove to_plain_text when AO3-6519 is fixed. %>
    <%= style_metadata_label(t(".copy.summary")) %><%= to_plain_text(raw(@summary)) %>
  </p>

  <p><%= style_metadata_label(t(".copy.comment")) %></p>
  <p><%= style_quote(raw(strip_images(@comment, keep_src: true))) %></p>

  <p><%= t(".thank_you") %></p>

  <p>
    <%= t("mailer.general.closing.formal") %><br />
    <%= style_bold(t("mailer.general.signature.abuse_team")) %>
  </p>
<% end %>

<% content_for :sent_at do %>
  <%= l(Time.now) %>
<% end %>
