<p><%= ts("The following abuse report has been sent to the Abuse team:") %></p>
<p><%= ts("URL of the page the abuse is on") %>: <%= link_to(@url, @url) %></p>
<p><%= ts("Description of the abuse") %>:</p>
<%= @comment %>
