<% content_for :message do %>
  <p><%= t(".greeting", name: style_bold(@user.default_pseud.byline)).html_safe %></p>

  <p><%= t(".part1", collection: style_link(@collection.title, collection_url(@collection)).html_safe, work: style_link(@work.title.html_safe, work_url(@work)).html_safe).html_safe %></p>

  <p><%= t(".part2") %></p>

  <p><%= t(".html.part3", link: style_link(t(".html.link_text").html_safe, user_collection_items_url(@user) + "?approved=true").html_safe).html_safe %></p>

  <p><%= t(".html.part4", prefs: style_link(t(".html.preferences"), user_preferences_url(@user)), quote: style_quote(t(".html.quote_link")).html_safe).html_safe %>
  </p>

  <p><%= t(".bye") %></p>
<% end %>
