<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal_html", name: style_bold(@user.login)) %></p>

  <p><%= t(".hidden.html", title: style_creation_link(@work.title, @work)) %></p>

  <p><%= t(".access") %></p>

  <p><%= t(".check_email") %></p>

  <p><%= t(".tos_violation.html", tos_link: tos_link(t(".tos"))) %></p>

  <p><%= t(".help.html", contact_abuse_link: abuse_link(t(".contact_abuse"))) %></p>
<% end %>
