<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.addressed_html", name: style_bold(@user.login)) %></p>

  <p><%= t(".deleted.html", title: style_creation_title(@work.title)) %> <%= t(".attachment") %></p>

  <p><%= t(".tos_violation.html", tos_link: tos_link(t(".tos")), content_policy_link: style_link(t(".content_policy"), content_url), tos_faq_link: style_link(t(".tos_faq"), tos_faq_url(anchor: "repost_my_work"))) %></p>

  <p><%= t(".check_email.html", contact_abuse_link: abuse_link(t(".contact_abuse"))) %></p>
<% end %>
