<% content_for :message do %>
    <p>Dear <%= @user.default_pseud.byline %>,</p>

    <p>Your work <i><%= style_link(@work.title.html_safe, work_url(@work)) %></i> has been reported as being in violation of the Archive of Our Own's <%= style_link("Terms of Service", tos_url) %>.</p>

    <p>We are investigating the matter and will contact you once the investigation has been completed. While the work is under investigation it has been hidden; only you will be able to access it.</p>

    <p>If you have any questions, please <%= abuse_link("contact our Abuse Team") %>.</p>

    <p>Sincerely,</p>
    <p><%= style_bold("AO3 Abuse") %></p>
<% end %>
