<% @seen = {} %>

<% @creations.each do |creation| %>

  <% this_work = creation.respond_to?(:work) ? creation.work : creation %>
  <% if creation.is_a?(Chapter) %>
  
    <p>
      <%= creation.work.pseuds.map{|p| p.byline}.to_sentence %> posted 
      <%= link_to @subscription.chapter_name(creation), work_chapter_url(this_work, creation) %> of 
      <%= link_to this_work.title.html_safe, work_url(this_work) %> at 
      <%= link_to work_chapter_url(this_work, creation), work_chapter_url(this_work, creation) %>.
    </p>
    
    <% unless creation.summary.blank? %>
      <p>Chapter Summary:</p> <%= raw sanitize_field(creation, :summary) %>
    <% end %>

  <% elsif creation.is_a?(Work) %>

    <p>
      <%= creation.pseuds.map{|p| p.byline}.to_sentence %> posted a <%= this_work.backdate ? "backdated" : "new" %> work:
    </p>

  <% end %>

  <% unless @seen[this_work.id] %>
    <%= raw simple_format(get_embed_link(this_work)) %>
    <% @seen[this_work.id] = true %>
  <% end %>

<% end %>


<p>You're receiving this email because of your subscription to <%= link_to @subscription.name, polymorphic_url(@subscription.subscribable) %>. Follow the link to unsubscribe if you no longer want to receive updates.</p>
