<% content_for :message do %>
  <% @seen = {} %>
  <% @seen_summary = {} %>
  <% @creations.each_with_index do |creation, index| %>

    <% this_work = creation.respond_to?(:work) ? creation.work : creation %>
    <% creation_url = creation.is_a?(Work) ? work_url(this_work) : work_chapter_url(this_work, creation) %>
    <% dating_key = this_work.backdate ? "backdated" : "new" %>

    <% cache("/v1/subscription-email-preface-#{creation.cache_key}") do %>
      <p>
        <% if creation.is_a?(Work) && creation.anonymous? %>
          <%= t(".anon.preface.work.#{dating_key}") %>
        <% elsif creation.is_a?(Chapter) && creation.anonymous? %>
          <%= t(".anon.preface.chapter.html", work_link_with_word_count: creation_link_with_word_count(this_work, work_url(this_work))) %>
        <% elsif creation.is_a?(Work) %>
          <%# i18n-tasks-use t("user_mailer.batch_subscription_notification.named.preface.work.backdated.html")
              i18n-tasks-use t("user_mailer.batch_subscription_notification.named.preface.work.new.html")-%>
          <%= t(".named.preface.work.#{dating_key}.html", creator_links: creator_links(this_work), count: this_work.creators.size) %>
        <% else %>
          <%= t(".named.preface.chapter.html", creator_links: creator_links(this_work), count: this_work.creators.size, work_link_with_word_count: creation_link_with_word_count(this_work, work_url(this_work))) %>
        <% end %>
      </p>
    <% end %>

    <p>
      <%= creation_link_with_word_count(creation, creation_url) %><% unless @seen[this_work.id] %><br><%= creation_attribution_links(this_work) %><% end %>
    </p>

    <% if creation.summary.present? && creation.is_a?(Chapter) %>
      <p><%= style_work_metadata_label(t(".chapter_summary")) %></p>
      <%= style_quote(raw sanitize_field(creation, :summary)) %>
    <% end %>

    <% unless @seen[this_work.id] %>
      <% cache("/v1/subscription-email-meta-#{creation.cache_key}") do %>
        <p><%= render "work_info", work: this_work, suppress_summary: true %></p>
      <% end %>

      <% @seen[this_work.id] = true %>
    <% end %>

    <% unless @seen_summary[this_work.id] || this_work.summary.blank? %>
      <p><%= style_work_metadata_label(Work.human_attribute_name("summary")) %></p>
      <%= style_quote(raw sanitize_field(this_work, :summary)) %>
      <% @seen_summary[this_work.id] = true %>
    <% end %>

    <% if (index < @creations.length-1) %>
      <%= styled_divider %>
    <% end %>

  <% end %>
<% end %>


<% content_for :footer_note do %>
  <%= t(".footer_note.html", subscription_link: style_footer_link(@subscription.name, polymorphic_url(@subscription.subscribable))) %>
<% end %>
