<% @creations.each do |creation| %>

  <% this_work = creation.is_a?(Work) ? creation.work : creation %>
  
  <% content_for :author_names do %>
    <%= this_work.pseuds.map{|p| p.byline}.to_sentence %>
  <% end %>
  
  <% content_for :author_links do %>
    <%= this_work.pseuds.map{|p| ("<a href\"" + user_pseud_url(p.user, p) + "\" style=\"color:#990000;\">" + p.byline + "</a>")}.to_sentence %>
    # <%= this_work.pseuds.map{|p| link_to(p.byline, user_pseud_url(p.user, p))}.to_sentence %>
  <% end %>
  
  <% content_for :work_title do %>
    <%= this_work.title %>    
  <% end %>  
  <% content_for :work_url do %>
    <%= work_url(this_work) %>    
  <% end %>
  
  <% if creation.is_a?(Work) %>
    <% content_for :new_old do %>
      <%= this_work.backdate ? "backdated" : "new" %> 
    <% end %>
  <% else %>
    <% content_for :chapter_title do %>
      <%= @subscription.chapter_name(creation) %>
    <% end %>
    <% content_for :chapter_url do %>
      <%= work_chapter_url(this_work, creation) %>
    <% end %>
  <% end %>  
  
  <% content_for :word_count do %>
    <%= this_work.word_count %>    
  <% end %>
  
  <% content_for :fandom_links do %>
    <%= this_work.fandoms.map{|f| ("<a href\"" + fandom_url(f) + "\" style=\"color:#990000;\">" + f.name + "</a>")}.to_sentence %>
  <% end %>
  
  <% content_for :rating do %>
    <%= this_work.rating_string %>
  <% end %>  
  
  <% content_for :warnings do %>
    <%= this_work.warning_string %>
  <% end %>  
  
  <% content_for :relationships do %>
    <%= this_work.relationship_string %>
  <% end %>  
  
  <% content_for :characters do %>
    <%= this_work.character_string %>
  <% end %>  
  
  <% content_for :summary do %>
    <%= raw sanitize_field(creation, :summary) %>
  <% end %>  
  
  <% content_for :subscription_title %> 
    <%= @subscription.name %>
  <% end %>
  <% content_for :subscription_url %> 
    <%= polymorphic_url(@subscription.subscribable) %>
  <% end %>
  
<% end %>
  
