<h2 class="heading">Your Assignment</h2>

<p>
  You have been assigned the following request in the <%= link_to(h(@collection.title), collection_url(@collection)) %> challenge at the Archive of Our Own!
</p>

<p>
  This assignment is due at: <%= time_in_zone(@collection.challenge.assignments_due_at, (@collection.challenge.time_zone || Time.zone.name), @assigned_user) %>
</p>

<p>
  Recipient: <%= @request.nil? ? "None: contact a moderator for help!" : link_to(@request.pseud.byline, user_pseud_url(@request.pseud.user, @request.pseud)) %>
</p>

<%= render :partial => "challenge_signups/show_requests", :locals => {:challenge_signup => @request} %>

<p>
  You can look up this assignment from your archive dashboard at: 
  <%= user_assignments_url(@assigned_user) %>
</p>

<% if @collection && !@collection.assignment_notification.blank? %>
  <%= @collection.assignment_notification %>
<% end %>

<p>
  Please note that you should only have received this message if you signed up for this challenge. 
  For more information about this challenge and contact information for the moderators, please see
  <%= collection_profile_url(@collection) %> 
</p>

<p><%=h "Sent at:" %> <%= Time.now.to_s(:time_for_mailers) %></p>
