<% content_for :message do %>
  <h2 class="heading">
    <%= t("mailer.general.greeting.introductory") %>
  </h2>

  <p><%= t(".introduction.html", open_doors_name_link: style_link(t(".introduction.open_doors_name"), "http://opendoors.transformativeworks.org"), app_link: style_link(t(".introduction.ao3_name"), root_url)) %></p>

  <p><%= t(".more_info.html", ao3_news_link: style_link(t(".more_info.ao3_news"), admin_posts_url(tag: 18)), faq_page_link: style_link(t(".more_info.faq_page"), "http://opendoors.transformativeworks.org/faq"), tutorial_page_link: style_link(t(".more_info.tutorial_page"), "http://opendoors.transformativeworks.org/tutorials"), contact_support_link: support_link(t(".more_info.contact_support"))) %></p>

  <p><%= t(".mistake.html", contact_open_doors_link: opendoors_link(t(".mistake.contact_open_doors"))) %></p>

  <p><%= t(".access.html", contact_support_link: support_link(t(".access.contact_support"))) %></p>

  <p><%= t(".works_by", email: @external_email) %></p>

  <ul>
    <% @claimed_works.each do |work| %>
      <li>
        <% if work.fandom_string.present? %>
          <%= t(".work_info.html", work_link: style_link(work.title, work_url(work)), fandom: work.fandom_string.split(",").to_sentence) %>
        <% else %>
          <%= style_link(work.title, work_url(work)) %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p><%= t(".redirects.html", negation: style_bold(t(".redirects.negation"))) %></p>

  <p><%= t(".update_redirect.html", contact_open_doors_link: opendoors_link(t(".update_redirect.contact_open_doors"))) %></p>

  <p><%= t(".other_works.html", contact_open_doors_link: opendoors_link(t(".other_works.contact_open_doors"))) %></p>

  <p><%= t(".questions.html", contact_support_link: support_link(t(".questions.contact_support"))) %></p>

  <p><%= t(".email_tips") %></p>

  <p><%= t("mailer.general.closing.informal") %><br/>
    <%= style_bold(t("mailer.general.signature.open_doors")) %><br/>
    <%= style_bold(t("mailer.general.signature.parent_org")) %></p>
<% end %>
