<p><%=h "Dear Collection Maintainers!" %></p>

<p>
  <%= h(ts("You have received a message about your collection ")) +  
      link_to(@collection.title, collection_url(@collection, :host => @host))
      + h(ts(": ")) %>
</p>

<%=raw @message %>

<p><%=h "Sent at:" %> <%= Time.now.strftime(common_timestring) %></p>
