<p><%= "Dear Collection Maintainers!" %></p>

<p>
  <%= ts("You have received a message about your collection ") %>
  <%= link_to(@collection.title.html_safe, collection_url(@collection)) %>:
</p>

<%=raw @message %>

<p><%= "Sent at:" %> <%= Time.now.to_s(:time_for_mailers) %></p>
