<h4>
<%= @comment_owner_link_or_name %> <%= t('.user_mailer.comment_reply', :default => 'replied to your comment on') %> 
<%= link_to @commentable.commentable_name, @commentable_link %>.
</h4>

<p><%= t('.user_mailer.comment_reply_youwrote', :default => "You wrote: ") %></p>
<blockquote>  
  <%=raw sanitize_limit_and_format_for_display @comment.commentable && @comment.commentable.content ? @comment.commentable.content : "" %>
</blockquote>

<p><%= @comment_owner_link_or_name %> <%= t('.user_mailer.comment_reply_responded', :default => "responded:") %></p>

<p><%=raw sanitize_limit_and_format_for_display @comment.content %></p>

<%= render :partial => 'comment_notification_footer' %>
