<p><%=h @comment.comment_owner_name -%> <%=h 'left the following comment on' %> <%=h @commentable.commentable_name -%>:</p>

<p><%=h @comment.content %></p>

<%= render :partial => 'comment_notification_footer' -%>