<% creation_type = @creation.model_name.human.downcase %>
<% content_for :message do %>
  <p>
    <% if creation_type == "work" %>
      <%= t(".intro_work", archivist: @archivist.login, pseud: @creatorship.pseud.name) %>
    <% elsif creation_type == "chapter" %>
      <%= t(".intro_chapter", archivist: @archivist.login, pseud: @creatorship.pseud.name) %>
    <% elsif creation_type == "series" %>
      <%= t(".intro_series", archivist: @archivist.login, pseud: @creatorship.pseud.name) %>
    <% else %>
      <%= t(".intro", type: creation_type, archivist: @archivist.login,
          pseud: @creatorship.pseud.name) %>
    <% end %>
  </p>

  <p>
    <%= t(".html.creation",
    creation_link: "<i><b>#{style_link(creation_title(@creation), polymorphic_url(@creation))}</b></i>".html_safe,
    pseud_links: @creation.pseuds.map{ |p| style_pseud_link(p) }.to_sentence.html_safe).html_safe %>
  </p>

  <p><%= t(".explanation") %></p>

  <p>
    <% if creation_type == "work" %>
      <%= t(".html.remove_work", edit: style_link(t(".html.edit_work"), edit_polymorphic_url(@creation))).html_safe %>
    <% elsif creation_type == "chapter" %>
      <%= t(".html.remove_chapter", edit: style_link(t(".html.edit_chapter"), edit_polymorphic_url(@creation))).html_safe %>
    <% elsif creation_type == "series" %>
      <%= t(".html.remove_series", edit: style_link(t(".html.edit_series"), edit_polymorphic_url(@creation))).html_safe %>
    <% else %>
      <%= t(".html.remove", edit: style_link(t(".html.edit", type: creation_type), edit_polymorphic_url(@creation))).html_safe %>
    <% end %>
  </p>
<% end %>
