<p><%=h 'Your story'.t %> <strong><%=h @work.title %></strong> <%=h 'was deleted at your request.'.t %></p>
<p><%=h 'If you have questions, please contact'.t %> <a href="mailto:<%= ArchiveConfig.SUPPORT_ADDRESS%>"><%=h 'support'.t %></a>.</p>
