<p><%=h 'Your story' %> <strong><%=h @work.title %></strong> <%=h 'was deleted at your request.' %></p>
<p><%=h 'If you have questions, please contact' %> <a href="mailto:<%= ArchiveConfig.SUPPORT_ADDRESS%>"><%=h 'support' %></a>.</p>
