<h4><%=h @comment.comment_owner_name -%> <%=h "edited the following reply to your comment on" -%> <%=h @commentable.commentable_name -%>:</h4>

<p><%=h @comment.content %></p>

<%= render :partial => 'comment_notification_footer' -%>
