<% if @comment.commentable_type == @comment.class.to_s %>
  <%=h @comment.name || @comment.pseud.name %> <%=h 'replied to your comment:'.t %>
<% else %>  
  <%=h @comment.name || @comment.pseud.name %> <%=h 'left feedback on your'.t %> <%= @comment.commentable_type.downcase %>:
<% end %>

<p><%=h @comment.content %></p>

<p><%=h 'Posted at:'.t %> <%= @comment.created_at %></p>

<%=h 'View all feedback here'.t %> (will be a link)
