<% if @comment.commentable_type == @comment.class.to_s %>
  <%=h @comment.name || @comment.pseud.name %> replied to your comment:
<% else %>  
  <%=h @comment.name || @comment.pseud.name %> left feedback on your <%= @comment.commentable_type.downcase %>:
<% end %>

<p><%=h @comment.content %></p>

<p>Posted at: <%= @comment.created_at %></p>

View all feedback here (will be a link)
