<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.addressed_html", name: style_bold(@username)) %></p>

  <p><%= t(".inactive", app_name: ArchiveConfig.APP_NAME, count: @inactivity_weeks, weeks: @inactivity_weeks_formatted, inactive_days: t(".inactive_days", count: @inactivity_days)) %></p>

  <p><%= t(".not_in_trouble") %></p>

  <p><%= t(".message_only_for_you") %></p>

  <p><%= t(".supervisors_notification", count: @supervisor_distance_weeks, weeks: @supervisor_distance_weeks_formatted, supervisors_notification_days: t(".supervisors_notification_days", count: @supervisor_distance_days)) %></p>

  <p><%= t(".please_reply.title") %></p>

  <ul>
    <li><%= t(".please_reply.technical_issues") %></li>
    <li><%= t(".please_reply.training") %></li>
    <li><%= t(".please_reply.more_tags") %></li>
    <li><%= t(".please_reply.mentor") %></li>
    <li><%= t(".please_reply.sent_in_error", count: @inactivity_weeks, weeks: @inactivity_weeks_formatted) %></li>
    <li><%= t(".please_reply.another_issue") %></li>
  </ul>

  <p><%= t(".already_on_break") %></p>

  <p><%= t(".request_hiatus.html", hiatus_form_link: style_link(t(".hiatus_form"), ArchiveConfig.WRANGLING_HIATUS_FORM_URL)) %></p>

  <p><%= t(".last_wrangled_date") %></p>

  <p><%= t(".thank_you") %></p>

  <p>
    <%= t("mailer.general.closing.informal") %><br />
    <%= t("mailer.general.signature.app_short_name") %>
  </p>
<% end %>
