<p><%= ts("Dear #{@user.login}, ")%></p>

<p><%= ts("We regret to inform you that your request for #{@total} new invitation(s) cannot be fulfilled at this time.") %> </p>
<p><%= ts("Your request was: ") %></p>
<p><%= @reason %></p>

<p>Regards,</p>
<p><%= link_to ArchiveConfig.APP_SHORT_NAME, root_path %></p>


