<% content_for :message do %>
  <p>
    <% if !@user_name.blank? %>
      <%= t(".has_invited.html", user_name: style_bold(@user_name)) %>
    <% else %>
      <%= t ".been_invited" %>
    <% end %>
  </p>

  <p>
    <%= t(".about.html", otw_link: style_link(t(".about.otw_link_text"), "https://www.transformativeworks.org")) %>
  </p>

  <p>
    <%= t ".features" %>
  </p>

  <p>
    <%= t(".join.html", invitation_link: style_link(t(".join.invitation_link_text"), signup_url(invitation_token: @invitation.token))) %>
  </p>

  <p>
    <%= t(".activation_support.html", support_link: style_link(t(".activation_support.support_link_text"), new_feedback_report_url)) %>
  </p>

  <p>
    <%= t(".faq.html", faq_link: style_link(t(".faq.faq_link_text"), archive_faqs_url)) %>
  </p>
<% end %>
