<h2 class="heading">
  Hello from the Archive of Our Own!
</h2>

<p>
  A fanfic archive including your works has been backed up to the AO3 by <%= @archivist %>.
  We'd like to make sure you don't mind, and give you a chance to claim those works if you want to.
  And if you don't already have an account, we'd like to invite you aboard!
</p>
  
<p>
  If you're concerned about privacy: these works have been locked to registered users only, 
  so your works will not appear in Google searches (unless you choose to log in and unlock them). 
  You can also choose to remove your contact information from them or delete them entirely.
</p>

<p>  
  <%= link_to("Claim or remove your works: ", claim_url(:invitation_token => @token)) %>
  <%= link_to(claim_url(:invitation_token => @token), claim_url(:invitation_token => @token)) %>
</p>  

<p>
  The works uploaded include: 
</p>

<ul>
  <% @external_author.works.each do |work| %>
    <li><%= link_to(work.title.html_safe, work_url(work)) %><%= (work.fandom_string.blank? ? "" : " (#{work.fandom_string})") %></li>
  <% end %>
</ul>
