<%- if @user_name.blank? -%>
<p><%=h "You've been invited to join our beta!".t -%></p>
<%- else -%>
<p><%= @user_name %> <%=h "has invited you to join our beta!".t -%></p>
<%- end -%>

<p><%=h "You can sign up at the following address:".t -%>
<%= link_to @signup_url, @signup_url %></p>