<% content_for :message do %>
  <p>
    <%= t 'user_mailer.invitation.greeting', app_name: ArchiveConfig.APP_NAME %>
  </p>

  <p>
    <% if !@user_name.blank? %>
      <%= t 'user_mailer.invitation.has_invited', user_name: style_bold(@user_name) %>
    <% else %>
      <%= t 'user_mailer.invitation.been_invited' %>
    <% end %>
  </p>

  <p>
    <%= t 'user_mailer.invitation.para1' %>
  </p>

  <p>
    <%= t 'user_mailer.invitation.para2' %>
  </p>

  <p>
    <%= t 'user_mailer.invitation.para3' %>
    <%= style_link(signup_url(:invitation_token => @invitation.token), signup_url(:invitation_token => @invitation.token)) %>
  </p>

  <p>
    <%= t 'user_mailer.invitation.html.faq_link' %> <%= style_link(t 'user_mailer.invitation.html.faq_link_text', archive_faqs_url) %>.
  </p>
<% end %>