<% content_for :message do %>

  <p>
    You're receiving this e-mail because <%= style_link("852 Prospect", "http://852prospect.org/archive/") %>, the Sentinel Adult Fiction Archive, has recently been imported by <%= style_link("Open Doors", "http://opendoors.transformativeworks.org/") %> into the <%= style_link("Archive of Our Own", root_url) %>, and we believe that the following fanworks belong to you. We'd like to give you a chance to claim (or delete) these stories if you want to. And if you don't already have an account under a different e-mail, we'd like to invite you aboard!
  </p>

  <p>
    852 Prospect's software has become somewhat creaky over the years, to the point where all updates are now required by hand. Looking for a more sustainable home for the archive, the archivist <%= @archivist %> has decided to move 852 Prospect to AO3. (You can read the rest of the announcement in the post <%= style_link("852 Prospect Moves In With The AO3", "http://archiveofourown.org/admin_posts/215") %>, and find additional information on <%= style_link("Open Doors' FAQ page", "http://opendoors.transformativeworks.org/faq") %>. For any questions not answered in the FAQ or this e-mail, please <%= style_link("contact Support", root_url + "support") %>.)
  </p>

  <p>
    All of these imported stories are restricted to registered users only (to keep them out of Google searches), so your works will only be readable by logged-in users unless you choose to make them fully visible. By the current archivist's request, all unclaimed imported works will be unrestricted and open to all visitors 3 months after the import, just like the original archive site. For help removing restrictions, orphaning, or deleting your works, please <%= support_link("contact Support") %>.
  </p>

  <p>
    Claim or remove your works: <%= style_link(claim_url(:invitation_token => @token), claim_url(:invitation_token => @token)) %>
  </p>

  <p>
    The works uploaded include:
  </p>

  <ul>
    <% @external_author.works.each do |work| %>
      <li><i><b><%= style_link(work.title.html_safe, work_url(work)) %></b></i> <%= (work.fandom_string.blank? ? "" : " (#{work.fandom_string})") %></li>
    <% end %>
  </ul>

  <p>
    If these works <%= style_bold("don't") %> belong to you, please don't delete them! Copy the above links and <%= style_link("contact Open Doors", "http://opendoors.transformativeworks.org/contact") %> so that we can move them for safekeeping.
  </p>

  <p>
    If these works do belong to you, but you don't want them, you can claim them and then orphan or delete them. (For assistance, please <%= support_link("contact Support") %>.)
  </p>

  <p>
    To preserve rec lists and bookmarks, the imported archive's web addresses will redirect to the imported copy of these works. If you've already uploaded a copy of these stories, a merge tool is currently in development to combine the hit counts and reviews of both copies, while keeping only one story body (and preserving the redirect link). You may also request that Open Doors reset the redirect to point toward the pre-existing copy on AO3. To do so, please <%= style_link("contact Open Doors", "http://opendoors.transformativeworks.org/contact") %> with your AO3 account name, imported archive's account name, and links to both the original archive URL, and the URL of the fanwork designated as the redirect.
  </p>

  <p>
    If you have other stories on the imported archive under an e-mail address you can no longer access, please <%= style_link("contact Open Doors", "http://opendoors.transformativeworks.org/contact") %> with any information that can help verify your identity.
  </p>

  <p>
    For other inquiries, please <%= support_link("contact Support") %>.
  </p>

  <p>
    Many thanks!
    <br>
    - The Open Doors team
  </p>
  
<% end %>
