<% content_for :message do %>
  <h2 class="heading">
    Hello from the Archive of Our Own!
  </h2>

  <p>You're receiving this e-mail because an archive has recently been imported by <%= style_link("Open Doors", "http://opendoors.transformativeworks.org/") %> into the <%= style_link("Archive of Our Own", root_url) %> (AO3), and we believe that the following fanworks belong to you. We'd like to give you a chance to claim (or delete/orphan) these stories if you want to. And if you don't already have an account under a different e-mail, we'd like to invite you aboard!</p>

  <p>You can read announcements about recent archive moves at <%=  style_link( "AO3 News", "http://archiveofourown.org/admin_posts?tag=18" )%>, and find additional information on Open Doors' <%= style_link("FAQ page", "http://opendoors.transformativeworks.org/faq") %> or <%= style_link("tutorials page", "http://opendoors.transformativeworks.org/tutorials") %>. For any questions not answered in the FAQ, tutorials, or this e-mail, please <%= support_link("contact AO3 Support") %>.</p>

  <p>If this is a mistake and these are not your works, please don't delete them! Please just <%= style_link( "contact Open Doors", "http://opendoors.transformativeworks.org/contact/open%20doors") %> and we will sort it out.</p>

  <p>Depending on the archive, your works may have been imported restricted to registered users only (to keep them out of Google searches). If this is the case, the works will only be accessible by logged-in users unless you choose to make them fully visible. For help unlocking, orphaning, or deleting your works, please <%= support_link("contact Support") %>.</p>

  <p><%= link_to("Claim or remove your works: ", claim_url(:invitation_token => @token)) %> <%= link_to(claim_url(:invitation_token => @token), claim_url(:invitation_token => @token)) %></p>

  <p>The works uploaded include:</p>
  <% @external_author.works.each do |work| %>
    <%= link_to(work.title.html_safe, work_url(work)) %>
    <%= (work.fandom_string.blank? ? "" : " (#{work.fandom_string})") %>
  <% end %>

  <p>If these works do belong to you, but you don't want them, you can orphan (so that they remain on the AO3, but with your name removed) or delete them (so that they are entirely removed from the AO3). You do not need to add these stories to any account in order to orphan or delete them--you can do this directly from the claim link above. (For assistance, please <%= support_link("contact Support") %>.)</p>

    <p>To preserve rec lists and bookmarks, the imported archive's web addresses may redirect to the imported copy of these works for a limited time. If you've already uploaded a copy of these works and you did NOT use the import from URL feature, there will be two copies of the same story on the archive. Please don't delete the newly imported copies as it will break the redirect--instead, please claim the stories and request that Open Doors reset the redirect to point toward the pre-existing copy on AO3 by <%= style_link( "contacting Open Doors", "http://opendoors.transformativeworks.org/contact/open%20doors") %> with your AO3 account name, your account name on the imported archive, and links to both the original archive URL, and the URL of the fanwork designated as the redirect.</p>

    <p>If you had other works on the imported archive under an e-mail address you can no longer access, please <%= style_link( "contact Open Doors", "http://opendoors.transformativeworks.org/contact/open%20doors") %> with any information that can help verify your identity.</p>

    <p>For other inquiries, please <%= support_link("contact AO3 Support") %>.</p>

    <p>If you're contacting us, please whitelist email addresses from @transformativeworks.org and check your spam folders for our reply.</p>

    <p>Best,<br/>
    The Open Doors team<br/>
    Organization for Transformative Works</p>
  <% end %>
