<% content_for :message do %>
  <p><%= t('.greeting', user: style_bold(@user.login)).html_safe %></p>

  <p><%= t('.main', count: @total) %></p>
  <p><%= t('.reason') %></p>
  <p><%= style_quote(@reason) %></p>

  <p><%= t('.signoff') %></p>
  <p><%= style_link(ArchiveConfig.APP_SHORT_NAME, root_url) %></p>
<% end %>


