<% content_for :message do %>
  <p>
    <% if @collection %>
      <%= t(".a_response_to_your_prompt.collection.html",
            collection_link: style_link(@collection.title, collection_url(@collection))) %>
    <% else %>
      <%= t(".a_response_to_your_prompt.no_collection") %>
    <% end %>
  </p>

  <p>
    <% url = @collection ? collection_work_url(@collection, @work) : work_url(@work) %>
    <%= creation_link_with_word_count(@work, url) %>
    <br>
    <%= creation_attribution_links(@work) %>
    <br>
    <% if @work.fandom_string.present? %>
      <%= style_work_tag_metadata(@work.fandoms) %>
    <% end %>
  </p>

  <% if @work.summary.present? %>
    <%= style_metadata_label(Work.human_attribute_name("summary")) %>
    <%= style_quote(raw sanitize_field(@work, :summary)) %>
  <% end %>

  <% if @collection && @collection.gift_notification.present? %>
    <p><%= @collection.gift_notification %></p>
  <% end %>
<% end %>
