<p>
<%= ts("A response to your prompt has been posted") %>
<%= @collection ? " in the #{@collection.title} collection" : "" %> at the Archive of Our Own!
</p>

<p>
  <% if @collection.nil? %>
    <%= link_to @work.title.html_safe, work_url(@work) %> <%= "(#{@work.word_count} words)" %><br />
    by <%= @work.anonymous? ? "an anonymous responder" : @work.pseuds.collect(&:byline).join(", ") %><br />
    <%= "Fandom: " + @work.fandom_string unless @work.fandom_string.blank? %></br />
  <% else %>
    <%= link_to @work.title.html_safe, collection_work_url(@collection, @work) %><%= "(#{@work.word_count} words)" %><br />
    by <%= @work.anonymous? ? "an anonymous responder" : @work.pseuds.collect(&:byline).join(", ") %><br />
    <%= "Fandom: " + @work.fandom_string unless @work.fandom_string.blank? %></br />
  <% end %>
  <% unless @work.summary.blank? %>
    Summary: 
    <blockquote>
      <%=raw sanitize_field(@work, :summary) %>
    </blockquote>
  <% end %>
  <% if @collection && !@collection.gift_notification.blank? %>
    <%= @collection.gift_notification %>
  <% end %>
</p>
