Your story "<%= @related_work.parent.title %>" was listed as the inspiration of "<%= @related_work.work.title %>"
 by <%= @related_work.work.pseuds.collect(&:name).join(", ") %>

<!--go here violates WCAG 1.0 6.1. this needs rewording-->
To link back to "<%= @related_work.work.title %>" from your story, please go <a href="<%= @url %>">here</a>. 