<p><%=h "Your work" -%> <cite><%= @related_work.parent.title %></cite> <%=h "was listed as the inspiration of" -%> <cite><%= @related_work.work.title %></cite>
 <%=h "by" -%> <%= @related_work.work.pseuds.collect(&:name).join(", ") %></p>

<!--go here violates WCAG 1.0 6.1. this needs rewording-->
<p><%=h "To link back to" -%> <cite><%= @related_work.work.title %></cite> <%=h "from your work, please go" -%> <a href="<%= @url %>">here</a>.</p>