<%= @user.login %>, <%= ts('Your password has been reset. Your temporary password is:') %>

<%= @password %>

<p><%= ts("When you log in, you'll be asked to change it.") %></p>

<p><%= ts("If you did not request this password reset, please contact") %> <%= ArchiveConfig.SUPPORT_ADDRESS %></p>
