<% content_for :message do %>
  <p>Welcome to the Archive of Our Own, <%= style_bold(@user.login) %>!</p>

  <p>Please activate your account at: <%= style_link(activate_url(:id => @user.activation_code), activate_url(:id => @user.activation_code)) %>.</p>

  <p>Once your account is up and running, you can post your fanworks, set up email subscriptions to let you know when your favorite authors or works have updated, set preferences to customize the way the site looks and works for you, keep track of the works you've viewed on the Archive via your history, and much more.</p>

  <p>There's lots of information and advice on how to use the Archive in our <%= style_link("FAQ", archive_faqs_url) %>. You'll find the latest news about site developments in our <%= style_link("Archive admin posts", root_url + "admin_posts") %>. If you need more help, run into a bug, or have questions or comments, please <%= support_link("get in touch with our Support team") %>, who are always happy to help out.</p>

  <p>We hope you enjoy using the Archive.</p>
<% end %>