<% content_for :message do %>
  <p><%= t 'user_mailer.signup_notification.welcome', user: style_bold(@user.login)%></p>

  <p><%= t 'user_mailer.signup_notification.activate', link: style_link(activate_url(:id => @user.activation_code), activate_url(:id => @user.activation_code)) %></p>

  <p><%= t 'user_mailer.signup_notification.para1' %></p>

  <p><%= t 'user_mailer.signup_notification.para2', archive_faqs_url: style_link(t('user_mailer.signup_notification.faq'), archive_faqs_url), admin_posts: style_link(t('user_mailer.signup_notification.admin_posts'), root_url + "admin_posts"), support: support_link(t 'user_mailer.signup_notification.support') %></p>

  <p><%= t 'user_mailer.signup_notification.bye' %></p>
<% end %>
