<% @work = @creation.respond_to?(:work) ? @creation.work : @creation %>
<% if @creation.is_a?(Chapter) %>
  <p>
    <%= @creation.work.pseuds.map{|p| p.byline}.to_sentence %> posted a new chapter of 
    <%= link_to @work.title, work_url(@work) %> at 
    <%= link_to work_chapter_url(@work, @creation), work_chapter_url(@work, @creation) %>:
  </p>
<% elsif @creation.is_a?(Work) %>
  <p>
    <%= @creation.pseuds.map{|p| p.byline}.to_sentence %> posted a new work:
  </p>
<% end %>

<%= raw simple_format(get_embed_link(@work)) %>

<p>You're receiving this email because you've subscribed to <%= link_to @subscription.name, polymorphic_url(@subscription.subscribable) %>. Follow the link to unsubscribe if you no longer wish to receive updates.</p>