<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_title", login: current_admin.login) %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="admin userstuff">
  <p><%= t(".confidentiality_reminder") %></p>

  <p class="important"><%= t(".log_out_reminder") %></p>

  <hr />

</div>

<h3 class="heading"><%= t(".account.heading") %></h3>
<div class="wrapper">
  <dl class="account meta group">
    <div class="role wrapper">
      <dt><%= t(".account.roles.label") %></dt>
      <dd>
        <% if current_admin.roles.any? %>
          <ul class="commas">
            <% current_admin.roles.each do |role| %>
              <li><%= t("activerecord.attributes.admin/role.#{role}") %></li>
            <% end %>
          </ul>
        <% else %>
          <p><%= t(".account.roles.none") %></p>
        <% end %>
      </dd>
    </div>

    <div class="verification wrapper">
      <dt><%= t(".account.totp.label") %></dt>
      <% if current_admin.otp_required_for_login %>
        <dd>
          <p><%= t(".account.totp.enabled") %></p>
          <p>
            <%= link_to t(".account.totp.disable_totp"), confirm_disable_admin_totp_path(current_admin) %>
          </p>
          <p>
            <%= link_to t(".account.totp.regenerate_backup_codes"), show_backup_codes_admin_totp_path(current_admin) %>
          </p>
        </dd>
      <% else %>
        <dd>
          <p><%= t(".account.totp.disabled") %></p>
          <p><%= link_to t(".account.totp.enable_totp"), new_admin_totp_path(current_admin) %></p>
        </dd>
      <% end %>
    </div>
  </dl>
</div>
<!--/content-->
