<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Listing Admins') %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<table summary="<%= ts('List of administrator accounts with option to destroy each account.') %>">
<caption><%= ts('All Administrator Accounts in the Archive') %></caption>
  <tr>
    <th scope="col"><%= ts('Account') %></th>
    <th scope="col"><%= ts('Destroy Account') %></th>
  </tr>

<% for admin in @admins %>
  <tr>
    <td><%= link_to ts('Show'), admin %></td>
    <td><%= link_to ts('Destroy'), admin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<!--/content-->