<% form_for([commentable, @comment]) do |f| %>
  
  <% unless logged_in? %>
    <p>
      Name: <%= f.text_field :name %><br />
      Email: <%= f.text_field :email %>
      <%= f.hidden_field :ip_address, :value => "#{request.remote_addr}" %>      
    </p>
  <% end %>
       
  <p>
    <%= f.text_area :content %>
  </p>  
    
    <%= f.hidden_field :commentable_id, :value => commentable.id %>
    <%= f.hidden_field :commentable_type, :value => commentable.class.to_s %>    

  <p>
    <%= f.submit button_name %>
  </p>
<% end %>