<% if !commentable && @commentable %>
  <% commentable = @commentable %>
<% end %> 
<% form_for([commentable, @comment]) do |f| %>
  
  <% if logged_in? %>
    <p>
      <% if current_user.pseuds.count > 1 %>
        <%= f.collection_select :pseud_id, current_user.pseuds, :id, :name %>
      <% else %>
        <%= f.hidden_field :pseud_id, :value => "#{current_user.default_pseud.id}" %>
      <% end %>
    </p>
  <% else %>  
    <p>
      Name: <%= f.text_field :name %><br />
      Email: <%= f.text_field :email %>
      <%= f.hidden_field :ip_address, :value => "#{request.remote_addr}" %>      
    </p>
  <% end %>
       
  <p>
    <%= f.text_area :content %>
  </p>  
    
    <%= f.hidden_field :commentable_id, :value => commentable.id %>
    <%= f.hidden_field :commentable_type, :value => commentable.class.to_s %>    

  <p>
    <%= f.submit button_name %>
  </p>
<% end %>