<%- current_depth = nil -%>
<%- for comment in @comments -%>
    
  <%- if current_depth && comment.depth <= current_depth -%>
    <%- (current_depth - comment.depth + 1).times do -%>
      </div>
    <%- end -%>  
  <%- end -%>

  <%- if current_depth.nil? || comment.depth == 0 -%>
    <div class="thread">
  <%- end -%>


  <div class="comment" id="<%=comment.id %>">
    <%- if comment.depth % 2 == 0 -%>
      <span class='even-comment'>
    <%- else -%>
      <span class='odd-comment'>
    <%- end -%>  
    
    <%- if comment.is_deleted -%>
      <p>(comment deleted)</p>
    <%- else -%>  

      <h3>
        <%- if comment.pseud_id -%>
          <%= link_to comment.pseud.name, comment %> says:
        <%- else -%>
          <%= mail_to comment.email, comment.name %> says:
        <%- end -%>  
      </h3>

      <p><%=h comment.content %></p>
        
      <p>Posted at: <%= comment.created_at %></p>
      
      <p> 
        <%= link_to_function('Reply', "Element.toggle('add-comment#{comment.id}')") %>
        <% if logged_in? && comment.pseud == current_user.default_pseud %> | 
          <%= link_to 'Edit', edit_comment_path(comment) %> | 
          <%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %> 
        <% end %>
      </p>

      <div id="add-comment<%= comment.id %>" style="display : none;">
        <%= render :partial => @comment = Comment.new, :locals => {:commentable => comment, :button_name => 'Create'} %>
      </div>
    
    <%- end -%> 
    </span>
    <%- current_depth = comment.depth -%>
<%- end -%>

<%- (current_depth + 1).times do -%>
  </div>
<%- end -%>
