<!-- Gets embedded anywhere we need to list comments on a top-level commentable. We need the local variable "commentable" here. -->
<div id="feedback" class="feedback" role="complementary">

  <h3 class="landmark heading"><%= ts("Actions") %></h3>

  <ul class="navigation actions" role="navigation">
    <% if @work || @admin_post %>
      <li><%= link_to '&#8593; '.html_safe + ts('Top'), "#main" %></li>
    <% end %>

    <% if @work && @previous_chapter %>
      <li><%= link_to '&#8592;'.html_safe + ts('Previous Chapter'), [@work, @previous_chapter] %></li>
    <% end %>

    <% if @work && @next_chapter %>
      <li><%= link_to h(ts('Next Chapter')) + ' &#8594;'.html_safe, [@work, @next_chapter] %></li>
    <% end %>

    <% if @previous_admin_post %>
      <li><%= link_to("Previous Post", @previous_admin_post) %></li>
    <% end %>

    <% if @next_admin_post %>
      <li><%= link_to("Next Post", @next_admin_post) %></li>
    <% end %>

    <% if @admin_post %>
      <li><%= link_to ts('Back to AO3 News Index'), admin_posts_path %></li>
    <% end %>

    <% if @work && !is_author_of?(@work) %>
      <li>
        <%= form_for(:kudo, url: kudos_path, html: { method: 'post', id: 'new_kudo' }) do |kudo_form| %>
          <%= kudo_form.hidden_field :commentable_id, :value => @work.id %>
          <%= kudo_form.hidden_field :commentable_type, :value => 'Work' %>
          <%= kudo_form.submit ts("Kudos ♥"), :id => 'kudo_submit' %>
        <% end %>
      </li>
    <% end %>

    <% if @work && is_author_of?(@work) %>
      <li>
        <%= link_to ts("Add To Collections"), "#collection-form", :class => "collection_item_form_placement_open" %>
      </li>
    <% end %>

    <% if logged_in? && @work %>
      <li>
        <% @bookmark ||= bookmark_if_exists(commentable) %>
        <%= link_to (@bookmark ? ts("Edit Bookmark") : ts("Bookmark")), "#bookmark-form", :class => "bookmark_form_placement_open" %>
      </li>
    <% end %>

    <% if logged_in? && @work && marked_for_later?(@work) %>
      <li>
        <%= markasread_link(@work) %>
      </li>
    <% end %>

    <% if commentable.count_visible_comments > 0 && !commentable.is_a?(Tag) %>
        <li id="show_comments_link"><%= show_hide_comments_link(commentable) %></li>
    <% end %>
  </ul>
  
  <div id="kudos_message"></div>

  <h3 class="landmark heading"><a name="comments"><%= ts("Comments") %></a></h3>

  <%= flash_div :comment_error, :comment_notice %>

  <% if @work && (@chapter.blank? || @chapter.posted?) %>
    <%= render "kudos/kudos", :kudos => @kudos, :guest_kudos_count => @work.guest_kudos_count, :commentable => @work %>
  <% end %>

  <% if !logged_in? && (commentable.is_a?(Work) && commentable.anon_commenting_disabled || commentable.is_a?(Chapter) && commentable.work.anon_commenting_disabled) %>
    <p class="notice">
      <%= ts("Sorry, this work doesn't allow non-Archive users to comment. You can however still leave Kudos!") %>
    </p>
  <% else %>
    <div id="add_comment_placeholder" title="top level comment">
      <div id="add_comment">
        <%= render 'comments/comment_form', {:comment => Comment.new, :commentable => commentable, :button_name => ts('Comment')} %>
      </div>
    </div>
  <% end %>

  <!-- If we have javascript, here is where the comments will be spiffily inserted -->
  <!-- If not, and show_comments is true, here is where the comments will be rendered -->
  <div id="comments_placeholder">
    <% if params[:show_comments] || params[:tag_id] %>
      <% @comments = commentable.comments.paginate(:page => params[:page]) %>
      <%= will_paginate @comments %>
      <%= render 'comments/comment_thread', { :depth => 0, :comments => @comments } %>
      </ol><!-- need to tack this on to close thread -->
      <%= will_paginate @comments %>
    <% end %>
  </div>

  <% if logged_in? && @work %>
    <% if is_author_of?(@work) %>
      <div id="collection_item_form_placement" class="wrapper toggled">
        <%= render "collection_items/collection_item_form", :item => @work, :in_page => true %>
      </div>
    <% end %>

    <div id="bookmark_form_placement" class="wrapper toggled">
      <% @bookmark ||= bookmark_if_exists(commentable) %>
      <% bookmarkable = (commentable.respond_to?(:work) ? commentable.work : commentable) %>
      <% if @bookmark %>
        <%= render "bookmarks/bookmark_form", :bookmarkable => bookmarkable, :bookmark => @bookmark, :button_name => ts("Edit"), :action => :update, :in_page => true %>
      <% else %>
        <%= render "bookmarks/bookmark_form", :bookmarkable => bookmarkable, :bookmark => Bookmark.new, :button_name => ts("Create"), :action => :create, :in_page => true %>
      <% end %>
    </div>
  <% end %>

</div>
<!-- END comments -->

<%= content_for :footer_js do %>
  <script src="/javascripts/jquery.scrollTo.min.js" type="text/javascript"></script>

  <%= javascript_tag do %>
    $j('#kudo_submit').on("click", function(event) {
      event.preventDefault();

      $j.ajax({
        type: 'POST',
        url: '/kudos.js',
        data: jQuery('#new_kudo').serialize(),
        error: function(jqXHR, textStatus, errorThrown ) {
          var msg = 'Sorry, we were unable to save your kudos';
          var data = $j.parseJSON(jqXHR.responseText);

          if (data.errors && (data.errors.pseud_id || data.errors.ip_address)) {
            msg = "You have already left kudos here. :)";
          }

          $j('#kudos_message').addClass('comment_error').text(msg);
        },
        success: function(data) { 
          $j('#kudos_message').addClass('notice').text('Thank you for leaving kudos!');
        }
      });
    });

    // Set things up to scroll to the top of the comments section when loading additional pages via Ajax in comment pagination.
    $j('#comments_placeholder .pagination a[data-remote]').livequery('click.rails', function(e){
      $j.scrollTo('#comments_placeholder');
    });
  <% end %>
<% end %>
