<!-- Gets embedded anywhere we need to list comments on a top-level commentable. We need the local variable "commentable" here. -->
<div id="feedback" role="complementary">
	
  <h3 class="landmark">Actions</h3>
	<ul class="navigation" role="navigation">
<%- if @work || @admin_post -%>
    <li><%= link_to t('top_link_text', :default => "&#8593; Top"), :anchor => "main" %></li>
<%- end -%>
<%- if @work && @previous_chapter -%>
    <li><%= link_to t('previous_chapter', :default => "&#8592; Previous Chapter"), [@work, @previous_chapter] %></li>
<%- end -%>
<%- if @work && @next_chapter -%>
    <li><%= link_to t('next_chapter', :default => "Next Chapter &#8594;"), [@work, @next_chapter] %></li>
<%- end -%>
<%- if @admin_post -%>
    <li><%= link_to t('admin_posts_link_text', :default => 'Back to AO3 News Index'), admin_posts_path %></li>
<%- end -%>
<%- if is_author_of?(commentable) && commentable.class == Work -%>
    <li id="add_collection_link"><%= collection_link(commentable) -%></li>
<%- end -%>
<%- if logged_in? && @work -%>
    <li id="add_bookmark_link"><%= bookmark_link(commentable) %></li>			
<%- end -%>
<% if commentable.count_visible_comments > 0 -%>
    <li id="show_comments_link"><%= show_hide_comments_link(commentable) -%></li>
<%- end -%>
    <li id="add_comment_link"><%= add_cancel_comment_link(commentable) -%></li>
  </ul>

  <!-- if we have javascript, here is where the collection window will pop up -->
  <div id="dynamic-collection_item" class="wrapper" style="display:none;"></div>
  <!-- if we have javascript, here is where the bookmark window will pop up -->
  <div style="position:relative;"><div id="dynamic-bookmark" class="wrapper" style="display:none;"></div></div>
  <%= flash_div :comment_error, :comment_notice -%>
  <!-- If we have javascript, here is where the Add Comment window will appear. -->
  <!-- If not, and we have params telling us to comment on this object, we will manually display the comment window. --> 
  <%- if params[:add_comment] -%>
    <div id="add_comment_placeholder">
      <div id="add_comment">
        <%= render :partial => 'comments/comment_form', :locals => {:comment => Comment.new, :commentable => commentable, :button_name => t('forms.add_comment', :default => "Add Comment")}%> 		
      </div>
  <%- else -%>
    <div id="add_comment_placeholder" style="display:none;">
  <%- end -%>	
    </div>

  <!-- If we have javascript, here is where the comments will be spiffily inserted -->
  <!-- If not, and show_comments is true, here is where the comments will be rendered -->
  <%- if params[:show_comments] || params[:tag_id] -%>
    	<h3 class="landmark"><a name="comments">Comments</a></h3>
		<div id="comments_placeholder">
      <%= render :partial => 'comments/comment_thread', :locals => { :comments => commentable.comments, :depth => 0 }%></ol>
  <%- else -%>
    <div id="comments_placeholder" style="display: none;">
  <%- end -%>
    </div>

</div>
<!-- END comments -->
