<% if !commentable && @commentable %>
  <%- commentable = @commentable -%>
<%- end -%> 
<%- remote_form_for([commentable, @comment], :html => {:id => "new_comment_#{commentable.class.to_s.downcase}_#{commentable.id}"}) do |f| -%>  
  <%- if logged_in? -%>
    <p>
      <% if current_user.pseuds.count > 1 %>
        <%= f.collection_select :pseud_id, current_user.pseuds, :id, :name %>
      <% else %>
        <%= f.hidden_field :pseud_id, :value => "#{current_user.default_pseud.id}" %>
      <% end %>
    </p>
  <% else %>  
    <p>
      <%= f.label :name, "Name: " %><%= f.text_field :name, :live => true %><br />
      <%= f.label :email, "Email: " %><%= f.text_field :email, :live => true %>
      <%= f.hidden_field :ip_address, :value => "#{request.remote_addr}" %>      
    </p>
  <% end %>
       
  <p>
    <%= f.label :content, "Comment: " %><br />
    <%= f.text_area :content, :live => true %>
  </p>  
    
    <%= f.hidden_field :commentable_id, :value => commentable.id %>
    <%= f.hidden_field :commentable_type, :value => commentable.class.to_s %>    

  <p>
    <%= f.submit button_name %>
    <%= create_cancel_button(@comment, commentable) %>
  </p>
<%- end -%>