<!-- expects the local variables comment, commentable, and button_name -->
<% if !commentable && @commentable %>
  <%- commentable = @commentable -%>
<%- end -%>
<div id="comment_form_div">
	<a name="comment_form"></a>
	<%- form_for [commentable, comment] do |f| -%>
	  <dl>
		<%- if logged_in? -%>
	    <dt><%=h t('form_name', :default => "Name: ") -%></dt>
      <dd>
        <% if current_user.pseuds.count > 1 %>
          <%= select_tag "comment[pseud_id]", options_for_select(current_user.pseuds.map{|pseud| [pseud.name, pseud.id]}, comment.pseud ? comment.pseud.id : current_user.default_pseud.id) %>
	      <% else %>
          <%= current_user.default_pseud.name -%>
          <%= f.hidden_field :pseud_id, :value => "#{current_user.default_pseud.id}" %>
	      <% end %>
	    </dd>
	  <% else %>  
    
      <p class="instructions"><%=t('comment_requirements', :default => "All fields required. Your email address will not be published.") %></p>
                  
	    <dt><%= f.label :name, t('form_name', :default => "Name: ") %></dt>
      <dd><%= f.text_field :name, :live => true -%></dd>
      
	    <dt><%= f.label :email, t('form_email', :default => "Email: ") %></dt>
		  <dd><%= f.text_field :email, :live => true -%></dd>
	    <dd><%= f.hidden_field :ip_address, :value => "#{request.remote_addr}" -%></dd>     
	  <% end %>
	       
      <dt><%= f.label :content, t('form_comment', :default => "Comment: ") %></dt>
      <dd>
        <p class="instructions">Plain text with limited html <%= link_to_help "html-help" -%><br/><code>a href, b, blockquote, br, center, cite, code, del, em, i, img, ins, pre, q, small, strike, strong, sub, sup, u</code></p>
        <%= f.text_area :content %>
        <%= generate_countdown_html("comment_content", ArchiveConfig.COMMENT_MAX) -%>
        <%= live_validation_for_field("comment_content",
				      :failureMessage => t('comment_not_there', :default => 'Brevity is the soul of wit, but we need your comment to have text in it.'),
				      :maximum_length => ArchiveConfig.COMMENT_MAX,
				      :tooLongMessage => t('comment_too_long', :default => "must be less than {{count}} characters long.", :count => ArchiveConfig.COMMENT_MAX)) %>
      </dd>	    
      <dd>
        <input type="hidden" id="controller_name" name="controller_name" value="<%= @controller_name ||= @controller.controller_name %>" />
      </dd>  
    </dl>
	  <p class="submit">
      <%= f.submit button_name %>
	    <%- unless controller.controller_name == 'inbox' -%>
        <%= cancel_comment_button(comment, commentable) -%>
      <%- end -%>
	  </p>
  <% end -%>
</div> 
