<!-- expects the local variables comment, commentable, and button_name -->
<% if !commentable && @commentable %>
  <%- commentable = @commentable -%>
<%- end -%>
<div id="comment_form">
  <a name="#comment_form"></a>
	<%- form_for [commentable, comment] do |f| -%>
	  <%- if logged_in? -%>
	    <p>
	      <%=h "Name: ".t -%>
	      <% if current_user.pseuds.count > 1 %>
	        <%= f.collection_select :pseud_id, current_user.pseuds, :id, :name %>
	      <% else %>
		    <%= current_user.default_pseud.name -%>
	        <%= f.hidden_field :pseud_id, :value => "#{current_user.default_pseud.id}" %>
	      <% end %>
	    </p>
	  <% else %>  
	    <p>
	      <%= f.label :name, "Name: ".t %><%= f.text_field :name -%><br />
	      <%= f.label :email, "Email: ".t %><%= f.text_field :email -%>
	      <%= f.hidden_field :ip_address, :value => "#{request.remote_addr}" -%>      
	    </p>
	  <% end %>
	       
	  <p>
	    <%= f.label :content, "Comment: ".t %><br />
	    <%= f.text_area :content %>
	  </p>  
	    
	    <%= f.hidden_field :commentable_id, :value => commentable.id %>
	    <%= f.hidden_field :commentable_type, :value => commentable.class.to_s %>
	    <input type="hidden" id="controller_name" name="controller_name" value="<%= @controller_name ||= @controller.controller_name %>" />  
	
	  <p>
	    <%= f.submit button_name %>
		<%= cancel_comment_button(comment, commentable) -%>
	  </p>
  <% end -%>
</div> 
