<span class="<%= cycle :oddcomment, :evencomment %>" id="data_for_comment_<%= single_comment.id %>">
  <a name="comment<%=single_comment.id %>"></a>
	<%- if single_comment.is_deleted -%>
    <p>
        (comment deleted)
    </p>
  <%- else -%>
    <h3><%= get_pseud_or_mailaddress(single_comment) %> says:</h3>
    <p>
        <%=sanitize_format single_comment.content %>
    </p>
    <p>
        Posted at: <%= single_comment.created_at %>
    </p>
    <p>
        <%= create_reply_link single_comment -%>
        <%- if is_author_of?(single_comment) -%>
        | <%= create_edit_link single_comment %>
        | <%= create_destroy_link single_comment %>
        <%- end -%>
        <%- if !single_comment.pseud && logged_in? -%>
        | <%= create_tag_as_spam_link single_comment %>
        <%- end -%>
    </p>
    <div id="add_comment_comment_<%= single_comment.id -%>">
    </div>
  <%- end -%>
</span>      