<!-- START of single comment -->
<div class="comment <%= cycle :odd, :even %>" id="comment_<%= single_comment.id -%>">
  <a name="comment<%=single_comment.id %>"></a>
  <%- if params[:edit_comment_id] && params[:edit_comment_id] == single_comment.id.to_s && is_author_of?(single_comment) -%>
    <!-- we're editing this comment -->
    <%= render :partial => 'comments/comment_form', 
               :locals => {:comment => single_comment, :commentable => single_comment.commentable, :button_name => t('forms.update', :default => 'Update')} -%>	  
  <%- else -%>
    <%- if single_comment.is_deleted -%>
      <p>(<%=sanitize_whitelist t('single_comment_deleted_comment', :default => "previous comment by {{commenter}} deleted", :commenter => get_pseud_or_mailaddress(single_comment)) -%>)</p>
    <%- elsif single_comment.hidden_by_admin? && !logged_in_as_admin? -%>
      <p>(<%=h t('single_comment_admin_review', :default => "This comment is under review by an admin and is currently unavailable.") -%>)</p>
    <%- else -%>
      <%- unless single_comment.pseud.nil? -%>
        <p><img class="icon" src="/images/icon_placeholder.png" alt="icon placeholder"></p>
      <%- end -%>
      
      <h3><%= get_pseud_or_mailaddress(single_comment) %></h3>
      <%=sanitize_and_format_for_display single_comment.content %>
      <h4 class="datestamp"><%=h t('single_comment_posted', :default => "Posted {{date}}", :date => single_comment.created_at) %></h4>
      
      <ul class="">
        <li id="add_comment_reply_link_<%= single_comment.id -%>"><%= add_cancel_comment_reply_link single_comment -%></li>
        <li id="thread_link">(<%= link_to t('single_comment_thread_link', :default => "Thread"), single_comment -%>)</li>
        <%- if is_author_of?(single_comment) && single_comment.count_all_comments == 0 -%>
          <li id="edit_comment_link_<%= single_comment.id -%>"><%= edit_comment_link single_comment -%></li>
        <%- end -%>
        <%- if is_author_of?(single_comment) || is_author_of?(single_comment.ultimate_parent) -%>				
          <li id="delete_comment_link_<%= single_comment.id -%>"><%= do_cancel_delete_comment_link single_comment -%></li>
        <%- elsif logged_in_as_admin? -%>
          <li><%= render :partial => 'admin/admin_options', :locals => {:item => single_comment} %></li>
        <%- end -%>
        <%- if single_comment.pseud.nil? and is_author_of?(single_comment.ultimate_parent) -%>
          <li id="tag_comment_as_spam_link_<%= single_comment.id -%>"><%= tag_comment_as_spam_link single_comment -%></li>
        <%- end -%>
      </ul>

      <!-- this is where the comment delete confirmation will be displayed if we have javascript -->
      <!-- if not, here is where we will render the delete-comment form -->
      <%- if params[:delete_comment_id] && params[:delete_comment_id] == single_comment.id.to_s -%>
        <div id="delete_comment_placeholder_<%= single_comment.id -%>">
          <%= render :partial => 'comments/confirm_delete', :locals => {:comment => single_comment} -%>
      <%- else -%>
        <div id="delete_comment_placeholder_<%= single_comment.id -%>" style="display:none;">      
      <%- end -%>
        </div>

      <!-- This is where the reply-to box will be added when "Reply" is hit, if the user has javascript -->	
      <!-- if not, we will render the comment form if this is the comment we are replying to. -->
      <%- if params[:add_comment_reply_id] && params[:add_comment_reply_id] == single_comment.id.to_s -%>
        <div id="add_comment_reply_placeholder_<%= single_comment.id -%>">
          <%= render :partial => 'comments/comment_form', 
                     :locals => {:comment => Comment.new, :commentable => single_comment, :button_name => t('forms.add_comment', :default => "Add Comment")} -%>
      <%- else -%>
        <div id="add_comment_reply_placeholder_<%= single_comment.id -%>" style="display: none;">
      <%- end -%>
        </div>

    <%- end -%>
  <%- end -%>
</div>
<!-- END of single comment -->
