<div class="comment <%= cycle :odd, :even %>" id="comment_<%= single_comment.id -%>">
	<%- unless single_comment.pseud.nil? -%>
		<p><img class="icon" src="/images/icon_placeholder.png" alt="icon placeholder"></p>
	<%- end -%>
	
	<h3><%=h t('single_comment_abbr_posted_on', :default => "Posted on") -%> <%= link_to_comment_ultimate_parent(single_comment) %>
	by <%= get_pseud_or_mailaddress(single_comment) %></h3>
	
	<%=sanitize_and_format_for_display single_comment.content %>
	
	<h4 class="datestamp"><%=h t('single_comment_abbr_posted', :default => 'Posted {{date}}', :date => single_comment.created_at) %></h4>
  <%- unless single_comment.edited_at.blank? -%>
    <h4 class="datestamp"><%=h t('single_comment_edited', :default => "Last Edited {{date}}", :date => l(single_comment.edited_at)) %></h4>
  <%- end -%>
  </div>