<li class="<% if single_comment.unreviewed? %>unreviewed <% end %>comment group <%= cycle :odd, :even %>" id="comment_<%= single_comment.id %>" role="article">
  <h4 class="heading byline">
    <%= h(ts('Posted on')) + ' ' + link_to_comment_ultimate_parent(single_comment) + ' ' + h(ts('by')) + ' ' %>
    <% if !single_comment.pseud.nil? %>
      <%= (single_comment.ultimate_parent.is_a?(Work) && single_comment.ultimate_parent.anonymous? && single_comment.pseud.user.is_author_of?(single_comment.ultimate_parent)) ? ts("Anonymous Creator") : get_commenter_pseud_or_name(single_comment) %>
    <% else %>
      <%= get_commenter_pseud_or_name(single_comment) %>
    <% end %>
    <% if single_comment.unreviewed? %>
      <span class="unreviewed status">
        <%= ts("(Unreviewed)") %>
      </span>
    <% end %>
    <span class="posted datetime">
      <%= time_in_zone(single_comment.created_at) %>
    </span>
  </h4>
  <div class="icon">
    <% if !single_comment.pseud.nil? %>
      <% if single_comment.pseud.user.is_author_of?(single_comment.ultimate_parent) && single_comment.ultimate_parent.anonymous? %>
        <span class="anonymous icon"><!-- anonymous creator icon holder --></span>
      <% else %>
        <%= icon_display(single_comment.pseud.user, single_comment.pseud) %>
      <% end %>
    <% else %>
      <span class="visitor icon"><!-- visitor icon holder --></span>
    <% end %>
  </div>
  <blockquote class="userstuff"><%=raw sanitize_field(single_comment, :comment_content) %></blockquote>
  <% unless single_comment.edited_at.blank? %>
    <p class="edited datetime">
      <%= ts('Last Edited') %> <%= time_in_zone(single_comment.edited_at) %>
    </p>
  <% end %>
  <% if logged_in_as_admin? %>
    <p class="ip"><%= ts("IP Address: %{ip_address}", ip_address: single_comment.ip_address.blank? ? "No address recorded" : single_comment.ip_address) %></p>
  <% end %>
</li>
