<li class="comment <%= cycle :odd, :even %>" id="comment_<%= single_comment.id -%>" role="article">
	<!--title should be the first element in this list item, not icon. icon goes after name and before comment text-->
	<h4>
	  <%= t('.single_comment_abbr_posted_on', :default => "Posted on {{commented_on}} by {{commenter}}", 
	        :commented_on => link_to_comment_ultimate_parent(single_comment), :commenter => get_pseud_or_mailaddress(single_comment)) -%>
	</h4>
	<%- unless single_comment.pseud.nil? -%>
		<div class="icon">
	  <%= standard_icon_display(single_comment.pseud.user, single_comment.pseud) %>
		</div>
	<%- end -%>
	<blockquote class="user-generated-view"><%=sanitize_and_format_for_display single_comment.content %></blockquote>
	
	<p class="datetime"><%=h t('.single_comment_abbr_posted', :default => 'Posted {{date}}', :date => single_comment.created_at) %>
  <%- unless single_comment.edited_at.blank? -%>
  <%=h t('.single_comment_edited', :default => ", Last Edited {{date}}", :date => l(single_comment.edited_at)) %>
  <%- end -%>
	</p>
</li>
