<!--Descriptive page name, messages and instructions-->
<h2><%= ts("Editing comment") %></h2>

<%= error_messages_for :comment %>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render :partial => 'comments/comment_form', :locals => {:comment => @comment, :commentable => @comment.commentable, :button_name => ts("Update")}%>
<!--/content-->

<!--subnav-->
<ul class="navigation" role="navigation">
	<li><%= link_to ts("Show"), @comment %></li>
	<li><%= link_to ts("Back"), @comment.commentable %></li>
</ul>
<!--/subnav-->
