<%- if @commentable.nil? -%>
	<!-- the most recent comments -->
	<h2><%= 'Viewing the last %d comments posted in the archive'.t/@comments.size -%></h2>
	<%- for comment in @comments -%>
		<%- if comment.approved or logged_in? -%>
		  <%= render :partial => 'comments/single_comment_abbreviated', :locals => {:single_comment => comment} -%>
		<%- end -%>
	<%- end -%>
<%- else -%>
	<h2><%=h 'Viewing Comments on'.t %> <%= link_to sanitize(@commentable.title, :tags => %w(em i b strong strike small)), @commentable %></h2>  
	<%= render :partial => 'comments/comment_thread', :locals => { :comments => @comments, :depth => 0 } %>
<%- end -%>

