<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("New comment on %{name}", :name => @name) %></h2>
<%= error_messages_for :comment %>
<!--/descriptions-->
<!--main content-->
<% if @commentable.is_a?(Chapter) %>
    <%= render :partial => 'comments/commentable', :locals => {
            :comment => @comment,
            :commentable => @commentable,
            :button_name => ts("Comment")
    }
    %>
    <% else %>

<%= render :partial => 'comments/mobile_commentable', :locals => {
    :comment => @comment,
    :commentable => @commentable,
    :button_name => ts("Comment")
  }
%>
    <% end %>

<!--/content-->

<!--subnav-->
<p class="navigation actions" role="navigation"><!--INVESTIGATE this baffling link--><%= link_to ts("Back"), @commentable.is_a?(Tag) ? tag_path(@commentable) : polymorphic_path(@commentable) %></p>
<!--/subnav-->
