<h2 class="heading"><%= t(".page_heading") %></h2>

<!--main content-->
<div id="previewpane">
  <ul class="comment-list">
    <li class="<%= cycle :odd, :even %> <%= css_classes_for_comment(@comment) %> preview" id="comment_preview" role="article">
      <h4 class="heading byline">
        <% if @comment.by_anonymous_creator? %>
          <%= ts("Anonymous Creator") %>
        <% else %>
          <%= get_commenter_pseud_or_name(@comment) %>
        <% end %>
        <span class="posted datetime">
          <%= time_in_zone(Time.current) %>
        </span>
      </h4>
      <div class="icon">
        <% if !@comment.pseud.nil? %>
          <% if @comment.by_anonymous_creator? %>
            <span class="anonymous icon"></span>
          <% else %>
            <%= icon_display(@comment.pseud.user, @comment.pseud) %>
          <% end %>
        <% else %>
          <span class="visitor icon"></span>
        <% end %>
      </div>
      <blockquote class="userstuff">
        <%= raw sanitize_field(@comment, :comment_content) %>
      </blockquote>
    </li>
  </ul>
</div>
<!--/content-->

<!--action buttons-->
<div class="actions right">
  <%= link_to t(".back_to_edit"), new_comment_path(@context_params), class: "button" %>

  <%= form_for @comment, url: comments_path, method: :post, local: true, html: { id: "post_comment_from_preview" } do |f| %>
    <%= f.hidden_field :comment_content %>
    
    <% if @comment.pseud_id %>
      <%= f.hidden_field :pseud_id %>
    <% elsif @comment.name %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
    <% end %>

    <% @context_params.each do |key, value| %>
      <% next if key.in?(:comment_content, :pseud_id, :name, :email) %>
      <%= hidden_field_tag key, value %>
    <% end %>

    <%= f.submit t(".post_comment"), class: "button submit" %>
  <% end %>
</div>
<!--/actions-->
