<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Unreviewed Comments on") %> <%= link_to(@commentable.commentable_name, @commentable) %></h2> 
<!--/descriptions-->

<!--main content-->
<% if @comments.count > 0 %>
  <%= will_paginate @comments %>
  <% @comments.each do |comment| %>
    <%= render :partial => 'comments/single_comment', :object => comment %>
  <% end %>
  <%= will_paginate @comments %>
<% else %>
  <p class="notice"><%= ts("No unreviewed comments.")%></p>
<% end %>
<!--main content-->

<!--subnav-->
<!--/subnav-->