<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading_html", commentable_link: link_to(@commentable.commentable_name, @commentable)) %></h2>
<!--/descriptions-->

<!--Subnavigation, sorting and actions-->
<% if can_review_all_comments?(@commentable) %>
  <ul class="navigation actions">
    <% path = @commentable.is_a?(AdminPost) ? review_all_admin_post_comments_path(@commentable) : review_all_work_comments_path(@commentable) %>
    <li><%= button_to(t(".approve_all"), path, method: :put) %></li>
  </ul>
<% end %>
<!--/subnav-->

<!--main content-->
<%# i18n-tasks-use t("comments.unreviewed.note.admin_post")
    i18n-tasks-use t("comments.unreviewed.note.work") %>
<p class="note"><%= t(".note.#{@commentable.model_name.i18n_key}") %></p>

<% if @comments.count > 0 %>
  <%= will_paginate @comments %>
  <% @comments.each do |comment| %>
    <%= render partial: "comments/single_comment", object: comment %>
  <% end %>
  <%= will_paginate @comments %>
<% else %>
  <p class="notice"><%= t(".no_unreviewed") %></p>
<% end %>
<!--main content-->

<!--subnav-->
<!--/subnav-->
