<div id="afterword">
  <h2 class="toc-heading"><%= ts("Afterword") %></h2>

  <% unless @work.endnotes.blank? && @work.approved_children.blank? %>
    <div class="meta">
      <% unless @work.endnotes.blank? %>
        <div id="endnotes">
          <p><%= ts("End Notes") %></p>
          <blockquote class="userstuff"><%=raw sanitize_field(@work, :endnotes) %></blockquote>
        </div>
      <% end %>

      <% if @work.approved_children.present? %>
        <dl>
          <dt><%= t(".inspired_by.title") %></dt>
          <% for child_work in @work.approved_related_works %>
            <% next if child_work.translation %>

            <% work_link = link_to child_work.work.title, child_work.work %>
            <% creator_link = byline(child_work.work, visibility: "public", only_path: false) %>

            <dd>
            <% if child_work.work.is_a?(ExternalWork) || !child_work.work.unrevealed? %>
                <%= t(".inspired_by.revealed_html",
                    work_link: work_link,
                    creator_link: creator_link) %>
            <% else %>
              <%= t(".inspired_by.unrevealed") %>
            <% end %>
            </dd>
          <% end %>
        </dl>
      <% end %>
    </div>
  <% end %>

  <p class="message"><%= ts("Please") %> <%= link_to ts("drop by the archive and comment"), new_work_comment_url(@work) %> <%= ts("to let the author know if you enjoyed their work!") %></p>
</div>
