<%= render "downloads/download_preface" %>

<div id="chapters" class="userstuff">
  <% if @work.chaptered? %>
    <% for chapter in @chapters %>
      <%= render "downloads/download_chapter", chapter: chapter %>
    <% end %>
  <% else %>
    <h2 class="toc-heading"><%= @work.title %></h2>
    <div class="userstuff">
      <%= raw sanitize_field(@chapters.first, :content) %>
    </div>
  <% end %>
</div>

<%= render "downloads/download_afterword" %>
