<% if @downloadable.is_a?(Series) %>
  <% works = @downloadable.works %>
  <%= render "downloads/download_series_preface.html", series: @downloadable %>
<% else %>
  <% works = [@downloadable] %>
<% end %>

<% for work in works %>

  <%= render 'downloads/download_work_preface.html', work: work %>

  <div id="chapters" class="userstuff">
    <% if work.chapters_in_order.size > 1 %>
      <% for chapter in work.chapters_in_order %>
        <%= render 'downloads/download_chapter.html', chapter: chapter %>
      <% end %>
    <% else %>
      <h2 class="toc-heading"><%= @work.title.html_safe %></h2>
      <div class="userstuff">
        <%= raw sanitize_field(work.chapters_in_order.first, :content) %>
      </div>
    <% end %>
  </div>

  <%= render 'downloads/download_work_afterword.html', work: work %>

<% end %>
