<li class="user pseud picture blurb group" role="article">
  <div class="header module">
    <h4 class="heading"><%= link_to(author.name, user_pseud_path(author.user, author)) %> 
      <% if (author.name != author.user.login) %>
        (<%= link_to(author.user_name, user_path(author.user)) %>)
      <% end %>
    </h4>
    <% unless authored_items(author, @work_counts, @rec_counts).blank? %>
      <h5 class="heading"><%= authored_items(author, @work_counts, @rec_counts) %></h5>
    <% end %>
    <div class="icon">
      <%= icon_display(author.user, author) %>
    </div>
  </div>
  <% unless author.description.blank? %>
    <blockquote class="userstuff">
      <p><%=raw sanitize_field(author, :description) %></p>
    </blockquote>
  <% end %>
  <!-- most used tags temporarily suppressed until proper bugfix for showing concealed info is in -->
  <!-- warning: Tag::USER_DEFINED has changed and includes a sub-array to allow for display name-class name pairs
  (specifically for Freeform vs Additional tag). This needs to be taken into account when this code is reinstated
   (though a quick spot check suggests it does still work - freeforms appear in the author blurbs anyway) -->
  <% unless true %>
    <% unless (most_popular = author.most_popular_tags(:categories => Tag::USER_DEFINED, :limit => 5)).blank? %>
      <h5 class="heading"><%= "Most used tags: " %></h5>
      <ul>      
        <% most_popular.each do |tag_w_count| %>
        <li><%= link_to_tag_with_count(author, tag_w_count) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</li>
