<li class="user">
  <div>
    <p><%= image_tag("icon_placeholder.png", :size => "75x75", :alt => "(Icon!)") %></p>
    <div class="author-data">
      <h3><%= link_to(author.name, user_pseud_path(author.user, author)) -%> 
      <%- if (author.name != author.user_name || author.user.pseuds.size > 1) -%>
        (<%= link_to(author.user_name, user_path(author.user)) -%>)
      <%- end -%>
      </h3>
      <h4><%= authored_items(author) -%></h4>
      <p><%= author.description -%></p>
      <span><%= "Most used tags: " -%></span>
  	  <ul class="tags">      
        <%- author.most_popular_tags(:categories => Tag::USER_DEFINED, :limit => 5).each do |tag_w_count| -%>
        <li><%= link_to_tag_with_count(author, tag_w_count) %></li>
        <%- end -%>
  	  </ul>
  	</div>
  </div>
</li>