<%= form_tag url_for(:controller => 'people', :action => 'search'), :class => 'search', :role => 'search', :method => :get do %>
<fieldset>
  <legend>Search people</legend>
  <dl>
  <dt>
    <label for="people_search"><%= ts('Name:') %></label>
 	<%= link_to_help "people-search-people-help" %>
  </dt>
  <dd>
    <%= text_field_tag "query[name]", @query[:name], :id => 'people_search'  %>
  </dd>
  <dt>
    <label for="refine_bookmark_count"><%= ts('Number of Bookmarks:') %></label>
	 <%= link_to_help "people-search-numerical-help" %>
  </dt>
  <dd>
    <%= text_field_tag "query[bookmarks]", @query[:bookmarks], :id => 'refine_bookmark_count' %>
  </dd>

  <dt>
    <label for="text"><%= ts('All fields:') %></label>
    <%= link_to_help "people-search-text-help" %>
  </dt>
  <dd>
    <%= text_field_tag "query[text]", @query[:text], :id => 'text' %>
  </dd>
  </dl>
  <p class="submit actions"><%= submit_tag ts('Search people'), :name => nil %></p>
</fieldset>
<% end %>
