<h1><%= "People" -%></h1>
<div class="navigation">
  <span class="navitem"><%= link_to "All", people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "all") -%></span>
  <span class="navitem"><%= link_to "Authors", people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "authors") -%></span>  
  <span class="navitem"><%= link_to "Reccers", people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "reccers") -%></span>
</div>

<%= alpha_paginated_section @pseuds_alphabet -%>

<h2><%= authors_header @authors -%> <%= "in" -%> '<%= (params[:letter] && params[:letter].is_a?(String)) ? params[:letter] : @pseuds_alphabet[0] -%>'</h2>

<% paginated_section @authors, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>
<ul>
  <%- @authors.each do |author| -%>
    <%= render :partial => 'author_blurb', :locals => {:author => author} -%>
  <%- end -%>  
</ul>
<% end %>

<%= alpha_paginated_section @pseuds_alphabet -%>