<% if @collection %>
<h1><%= t('people.collection', :default => "People in {{collection}}", :collection => @collection.title) -%></h1>
<% else -%>
<h1><%= t('people.people', :default => "People") -%></h1>
<ul class="navigation">
  <li><%= link_to t('people.All', :default => "All"), people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "all") -%></li>
  <li><%= link_to t('people.Authors', :default => "Authors"), people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "authors") -%></li>  
  <li><%= link_to t('people.Reccers', :default => "Reccers"), people_path(:letter => params[:letter], 
      :page => params[:page], :per_page => params[:per_page], :show => "reccers") -%></li>
</ul>
<% end %>

<%= alpha_paginated_section @pseuds_alphabet -%>

<h2><%= authors_header @authors -%> <%= "in" -%> '<%= (params[:letter] && params[:letter].is_a?(String)) ? params[:letter] : @pseuds_alphabet[0] -%>'</h2>

<% paginated_section @authors, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>
<ul>
  <%- @authors.each do |author| -%>
    <%= render :partial => 'author_blurb', :locals => {:author => author} -%>
  <%- end -%>  
</ul>
<% end %>

<%= alpha_paginated_section @pseuds_alphabet -%>