<!--Descriptive page name, messages and instructions-->
<% if @collection %>
  <h2><%= authors_header @authors %> <%= "in" %> '<%= (params[:letter] && params[:letter].is_a?(String)) ? params[:letter] : @pseuds_alphabet[0] %>' <%= t('.people.collection', :default => "in {{collection}}", :collection => @collection.title) %></h2>
  <h3 class="landmark">Next Page Navigation</h3>
  <%= alpha_paginated_section @pseuds_alphabet %>
  <% paginated_section @authors, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>
  <!--/subnav-->
  <!--main content-->
  <ul class="pseud index">
    <% @authors.each do |author| %>
      <%= render :partial => 'author_blurb', :locals => {:author => author} %>
    <% end %>  
  </ul>
  <% end %>
  <!--/content-->
  <!--subnav-->
  <%= alpha_paginated_section @pseuds_alphabet %>
<% else %>
  <div class="pagination">
  <% for character in @navigation %>
    <a href="<%= person_path(character) %>"><%= character.char %></a>
  <% end %>
  </div>
  <div>
  <%= link_to "People Search (Alpha)", search_people_path %>
  </div>
<% end %>
