<!--SEARCHBROWSE Descriptive page name, messages and instructions-->
<h2 class="heading"><%= authors_header @people, @what %> in '<%= @character.char %>'</h2>
<!--/descriptions-->
<!-- BACK END PLS span_if_current-->
<ul class="navigation actions" role="navigation" title="show only">
  <li><%= link_to ts("All"), person_path(@character, :show => "all") %></li>
  <li><%= link_to ts("Authors"), person_path(@character, :show => "authors") %></li>  
  <li><%= link_to ts("Reccers"), person_path(@character, :show => "reccers") %></li>
</ul>

<div class="alphabetical pagination actions">
  <h5 class="landmark heading">By Letter</h5>
  <%= people_paginated_section(@what) %></div> 
<%= paginated_section @people do %>

<h3 class="landmark">Listing People</h3>
  <ul class="pseud index group">
    <% for person in @people %>
      <%= render 'author_blurb', :author => person %>
    <% end %>  
  </ul>
<% end %>

