<!-- 
CODE NOTES: 
This is meant to be used as a nested form inside other forms, so that multiple prompts can be submitted within a single form. 
It expects the local variables: 
"form" for the prompt form 
"is_offer" depending on if this is a request or offer
"index" representing which prompt this is, if there are multiple prompts being submitted

See the challenge_signup form for an example of how this is used. 
-->
<fieldset class="preface profile">
  <p>
    <%= form.hidden_field :collection_id, :value => @collection.id -%>
    <%= is_offer ? form.hidden_field(:offer, :value => true) : "" %>
  </p>
  
  <dl>

    <!-- tags section -->
    <% form.object.build_tag_set unless form.object.tag_set %>
    <% form.fields_for :tag_set do |tag_set_form| %>
      <% %w(fandom character pairing rating category freeform warning).each do |tag_type| %>
        <% num_allowed = eval("@challenge.#{is_offer ? "offer" : "request"}_restriction.#{tag_type}_num_allowed") %>
        <% num_required = eval("@challenge.#{is_offer ? "offer" : "request"}_restriction.#{tag_type}_num_required") %>
        <% taglist = (is_offer ? @challenge.offer_restriction.tags_of_type(tag_type.classify) : @challenge.request_restriction.tags_of_type(tag_type.classify)).sort  %>
        <% has_tags = !taglist.empty? %>
    
        <% if num_allowed > 0 %>
          <dt <%= num_required > 0 ? 'class="required"' : '' %>>
              <%= tag_set_form.label tag_type.pluralize.to_sym, ((num_allowed > 1) ? tag_type.pluralize : tag_type).titleize %>
              <%= num_required == num_allowed ? " (#{num_required})" : " (#{num_required} - #{num_allowed})" %>:
          </dt>
          <dd>
            <% if has_tags %>
              <!-- checkboxes -->
              <% tag_fieldname = "challenge_signup[#{(is_offer ? 'offers' : 'requests')}_attributes][#{index}][tag_set_attributes][#{tag_type}_tagnames][]" %>
              <% taglist.each do |tag| %>
                <%= tag.name %>
                <%= check_box_tag tag_fieldname, tag.name, eval("form.object.#{tag_type}_taglist").include?(tag) -%>
              <% end %>
              <!-- need to add hidden field to ensure this is passed if none of the boxes are checked -->
              <%= hidden_field_tag tag_fieldname, " " -%>           
            <% else %>
              <% tag_fieldname = "challenge_signup_#{(is_offer ? 'offers' : 'requests')}_attributes_#{index}_tag_set_attributes_#{tag_type}_tagnames" %>
              <%= tag_set_form.text_field "#{tag_type}_tagnames", :size => 50, :value => eval("form.object.#{tag_type}_tagnames") %>
              <%= autocomplete_text_field tag_fieldname, "canonical_#{tag_type}_finder" %>            
            <% end %>
          </dd>
        <% end %>
      <% end %>
    <% end %>
    
    <% if get_prompt_restriction.url_allowed %>
    <dt<%= get_prompt_restriction.url_required ? ' class="required"' : '' %>><%= form.label :url , t('prompts.url', :default => "Prompt URL: ") -%></dt>
    <dd><%= form.text_field :url, :size => 50 %></dd>
    <% end %>

    <% if get_prompt_restriction.description_allowed  %>
      <dt<%= get_prompt_restriction.description_required ? ' class="required"' : '' %>><%= form.label :description, t('prompts.description', :default => "Details: ") -%></dt>
      <dd><%= form.text_area :description, :rows => 6, :cols => 50 %></dd>
    <% end %>
    
    <% if get_prompt_restriction.optional_tags_allowed %>
      <% form.object.build_optional_tag_set unless form.object.optional_tag_set %>
      <% form.fields_for :optional_tag_set_attributes do |optional_tag_set_form| %>
        <dt><%= optional_tag_set_form.label :tagnames, t("optional_tag_set.tagnames", :default => "Optional Tags: ") %> <%= link_to_help("challenge-optional-tags-user")%></dt>
        <dd>          
          <%= optional_tag_set_form.text_area :tagnames, :rows => 2, :cols => 50, 
            :value => eval("form.object.optional_tag_set.tagnames") %>
          <% optional_tag_fieldname =  "challenge_signup_#{(is_offer ? 'offers' : 'requests')}_attributes_#{index}_optional_tag_set_attributes_tagnames" %>
          <%= autocomplete_text_field(optional_tag_fieldname, "canonical_tag_finder") %>
        </dd>
      <% end %>
    <% end %>    
  </dl>
</fieldset>
