<% # requires 'challenge_signup' and 'prompt' locals %>
<% # to make the code more readable: %>
<% collection = challenge_signup.collection %>
<% challenge = collection.challenge %>
<% user = challenge_signup.pseud.user %>

<% if challenge.signup_open || (!challenge.signup_open && collection.user_is_maintainer?(current_user)) || collection.challenge_type == "PromptMeme" %>
  <ul class="navigation actions" role="menu">
    <% # The edit link should show up only for the user who actually signed up while signups are open or for the owner or mod once signups are closed or always on a prompt meme %>
    <% if (challenge.signup_open && user == current_user) || (!challenge.signup_open && collection.user_is_maintainer?(current_user)) || (collection.challenge_type == "PromptMeme" && collection.user_is_maintainer?(current_user)) %>
      <li>
          <%= link_to(ts('Edit whole signup'), edit_collection_signup_path(collection, challenge_signup)) %>
      </li>
      <li>
          <%= link_to(ts('Edit prompt'), edit_collection_prompt_path(collection, prompt)) %>
      </li>
    <% end %>
    <% # The add new prompt link should show up only for the user who actually signed up while signups are open and only on a signup show page, and only for a prompt meme and if they haven't hit the max number of prompts %>
    <% if (challenge.signup_open && user == current_user && controller.action_name == "show" && collection.challenge_type == "PromptMeme" && challenge_signup.requests.count < challenge.requests_num_allowed)  %>
      <li>
        <%= link_to ts('Add another prompt'), new_collection_prompt_path(collection) %>
      </li>
    <% end %>
    <% # The delete link should show up only for the user who actually signed up while signups are open or for the owner or mod %>
		<% # it will also be hidden if the user already has the minimum number of prompts so can't delete without editing or deleting signup %>
    <% if ((challenge.signup_open && user == current_user) || (collection.user_is_maintainer?(current_user))) && prompt.can_delete? %>
    <li>
        <%= link_to ts("Delete"), 
          collection_prompt_path(collection, prompt), 
          :confirm => ts("Are you sure? All information in this prompt will be lost."), 
          :method => :delete %>
    </li>
    <% end %>
    
    <% # if this prompt can be claimed let the user unclaim/claim it %>
    <% if prompt.claimable? %>
      <% if !logged_in? %>
        <li><%= ts("Sign in to claim prompts") %></li>
      <% elsif (claim ||= prompt.claim_by(current_user).first) %>
        <% # already claimed %>
        <% if collection.open? || collection.user_is_maintainer?(current_user) %>
          <li><%= link_to ts("Fulfill"), new_collection_work_path(collection, :claim_id => claim.id) %></li>
        <% end %>
          <li><%= link_to ts("Drop Claim"), collection_claim_path(collection, claim), :confirm => ts('Do you really want to delete this claim?'), :method => :delete %></li>
      <% else %>
        <li>
          <% new_claim = ChallengeClaim.new %>
            <%= form_for [collection, new_claim], :url => collection_claims_path(collection) do |claim_form| %>
                <%= claim_form.hidden_field :collection_id, :value => collection.id %>
                <%= claim_form.hidden_field :request_signup_id, :value => challenge_signup.id %>
                <%= claim_form.hidden_field :request_prompt_id, :value => prompt.id %>
                <%= claim_form.hidden_field :claiming_user_id, :value => current_user.id %>
                <%= submit_tag "Claim", :id => "prompt_" + prompt.id.to_s %>
            <% end %>
        </li>
      <% end %>
    <% end %>
    
  </ul>
<% end %>
