<h2><%= ts("Submit a Prompt for %{title}", :title => @collection.title) %></h2>

<% # note for FRONT END
  # The fields in the form frequently wrap around to a second line.
  # So if anyone can think of a better design for this, that would be awesome %>
<% # needs @collection, @challenge_signup, edit_record, @prompt %>

<!-- descriptions-->
<!-- /descriptions-->
<!--subnavigation, sorting and actions-->
<ul class="navigation" role="navigation">
    <li>
    <%= link_to( ts('Edit whole signup instead?'),
      {:url => {:controller => :challenge_signups, :action => :edit, :single_prompt => false, :id => @challenge_signup.id}},
      :href => url_for(:controller => :challenge_signups, :action => :edit, :single_prompt => false, :id => @challenge_signup.id)) %>
    </li>
    <li><%= link_to 'Back to collection', @collection %></li>
</ul>
<!--/subnav-->

<!--main content-->

  <%= form_for([@collection, @challenge_signup], :url => (edit_record ? collection_signup_path(@collection, @challenge_signup, :single_prompt => "true") : collection_signup_path(@collection, @challenge_signup))) do |signup_form| %>
    <%= error_messages_for @challenge_signup %>
  
  <fieldset class="preface profile">
    <% if @challenge.send("signup_instructions_requests") %>
      <%=raw sanitize_field(@challenge, "signup_instructions_requests".to_sym) %>
    <% end %>
    <% if edit_record %>
      <% prompttodo = @prompt %>
    <% else %>
      <% prompttodo = @challenge_signup.requests.new %>
    <% end %>
    <% index = @challenge_signup.requests.count %>
      <%= signup_form.fields_for("requests".to_sym, prompttodo, :child_index => index) do |prompt_form| %>
        <%= render :partial => "prompts/prompt_form", 
            :locals => {:form => prompt_form, :is_offer => false, :index => index,
                        :required => true, :edit_record => false} %>
      <% end %>
  </fieldset>
  
  <fieldset>
  	<legend><%= ts('Submit') %></legend> 
    <p class="submit">
      <%= signup_form.submit ts('Submit') %>
    </p>
  </fieldset>
    
  <% end %>

<!--/content-->
