<% # requires 'challenge_signup' and 'prompt' locals %>
<% if challenge_signup.collection.challenge.signup_open || (!challenge_signup.collection.challenge.signup_open && challenge_signup.collection.user_is_maintainer?(current_user)) || challenge_signup.collection.challenge_type == "PromptMeme" %>
  <ul class="navigation" role="navigation">
    <% # The edit link should show up only for the user who actually signed up while signups are open or for the owner or mod once signups are closed or always on a prompt meme %>
    <% if (challenge_signup.collection.challenge.signup_open && challenge_signup.pseud.user == current_user) || (!challenge_signup.collection.challenge.signup_open && challenge_signup.collection.user_is_maintainer?(current_user)) || (challenge_signup.collection.challenge_type == "PromptMeme" && challenge_signup.collection.user_is_maintainer?(current_user)) %>
      <li>
          <%= link_to(ts('Edit whole signup'), edit_collection_signup_path(challenge_signup.collection, challenge_signup)) %>
      </li>
      <li>
          <%= link_to(ts('Edit this prompt'), edit_collection_prompt_path(challenge_signup.collection, prompt)) %>
      </li>
    <% end %>
    <% # The add new prompt link should show up only for the user who actually signed up while signups are open and only on a signup show page, and only for a prompt meme and if they haven't hit the max number of prompts %>
    <% if (challenge_signup.collection.challenge.signup_open && challenge_signup.pseud.user == current_user && controller.action_name == "show" && challenge_signup.collection.challenge_type == "PromptMeme" && challenge_signup.requests.count < challenge_signup.collection.challenge.requests_num_allowed)  %>
      <li>
        <%= link_to( ts('Add another prompt'), {:url => {:controller => :challenge_signups, :action => :edit, :single_prompt => true, :id => challenge_signup.id}},
      :href => url_for(:controller => :challenge_signups, :action => :edit, :single_prompt => true, :id => challenge_signup.id)) %>
      </li>
    <% end %>
    <% # The delete link should show up only for the user who actually signed up while signups are open or for the owner or mod %>
    <% if (challenge_signup.collection.challenge.signup_open && challenge_signup.pseud.user == current_user) || (challenge_signup.collection.user_is_maintainer?(current_user)) %>
    <li>
        <%= link_to ts("Delete"), 
          collection_prompt_path(challenge_signup.collection, prompt), 
          :confirm => ts("Are you sure? All information in this prompt will be lost."), 
          :method => :delete %>
    </li>
    <% end %>
    <% if current_user && challenge_signup.collection.challenge_type == "PromptMeme" && !@user && controller.action_name != "show" %>
    <% # hides this on a user's 'your signups' page and on a signup show page, since we only want it on the challenge index %>
      <% @claimed = 0
         challenge_signup.request_claims.each do |claim|
            if claim.claiming_user == current_user && claim.request_prompt_id == prompt.id
              @claimed = 1
            end
        end %>
      <% if @claimed == 1 %>
      <li>
        <%= ts("Already claimed by you") %>
      </li>
      <% else %>
      <li>
        <% new_claim = ChallengeClaim.new %>
          <%= form_for [@collection, new_claim], :url => collection_claims_path(@collection) do |claim_form| %>
              <%= claim_form.hidden_field :collection_id, :value => @collection.id %>
              <%= claim_form.hidden_field :request_signup_id, :value => challenge_signup.id %>
              <%= claim_form.hidden_field :request_prompt_id, :value => prompt.id %>
              <%= claim_form.hidden_field :claiming_user_id, :value => current_user.id %>
              <%= submit_tag "Claim", :id => "prompt_" + prompt.id.to_s %>
          <% end %>
      </li>
      <% end %>
    <% elsif challenge_signup.collection.challenge_type == "PromptMeme" && !@user && controller.action_name != "show" %>
      <li><%= ts("Sign in to claim prompts") %></li>
    <% end %>
  </ul>
<% end %>
