<h1>Listing prompts</h1>

<table>
  <tr>
    <th>Collection</th>
    <th>Pseud</th>
    <th>Url</th>
    <th>Description</th>
    <th>Offer</th>
    <th>Tag set</th>
  </tr>

<% @prompts.each do |prompt| %>
  <tr>
    <td><%=h prompt.collection %></td>
    <td><%=h prompt.pseud %></td>
    <td><%=h prompt.url %></td>
    <td><%=h prompt.description %></td>
    <td><%=h prompt.offer %></td>
    <td><%=h prompt.tag_set %></td>
    <td><%= link_to 'Show', prompt %></td>
    <td><%= link_to 'Edit', edit_prompt_path(prompt) %></td>
    <td><%= link_to 'Destroy', prompt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prompt', new_prompt_path %>