<h1>New prompt</h1>

<%= prompt_form.error_messages %>

<% form_for(@prompt) do |prompt_form| %>
  <%= prompt_form.hidden_field :collection, @collection -%>
  <%= render :partial => "prompts/prompt_form", :locals => {:form => prompt_form} %>

  <p>
    <%= prompt_form.submit 'Create' %>
  </p>

<% end %>

<%= link_to 'Back', prompts_path %>