<h1>New prompt</h1>

<%= form_for(@prompt) do |prompt_form| %>
  <%= error_messages_for @prompt %>

  <%= prompt_form.hidden_field :collection, @collection %>
  <%= render :partial => "prompts/prompt_form", :locals => {:form => prompt_form} %>

  <p>
    <%= prompt_form.submit 'Create' %>
  </p>

<% end %>

<%= link_to 'Back', prompts_path %>