<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t(".page_heading") %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <%= render 'navigation' %>
  <!--/subnav-->

  <%= will_paginate @admin_banners %>

  <!--main content-->
  <ul class="banners index group">
    <% for admin_banner in @admin_banners %>
      <li class="blurb">
        <%= render "banner", admin_banner: admin_banner %>
        <ul class="actions">
          <% if admin_banner.active? %>
            <li>
              <span class="active current"><%= t(".actions.active") %></span>
            </li>
          <% end %>
          </li>
          <li>
            <%= link_to t(".actions.edit"), edit_admin_banner_path(admin_banner) %>
          </li>
          <% if policy(AdminBanner).destroy? %>
            <li>
              <%= link_to t(".actions.delete"), confirm_delete_admin_banner_path(admin_banner), data: { confirm: t(".actions.confirm_delete") } %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <!--/content-->

  <%= will_paginate @admin_banners %>

</div>
