<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts('Banners') %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <%= render 'navigation' %>
  <!--/subnav-->

  <!--main content-->
  <ul class="banners index group">
    <% for admin_banner in @admin_banners %>
      <li class="blurb">
        <% # Before the announcement class, put in the type string. %>
        <div class="<%= admin_banner.type.to_s %> announcement group">
          <blockquote class="userstuff">
            <%=raw sanitize_field(admin_banner, :content) %>
          </blockquote>
        </div>
        <ul class="actions">
          <li>
            <span class="active current"><%= ts("Active") %></span>
            <span class="inactive"><%= ts("Inactive") %></span>
          </li>
          <li><%= link_to ts("Edit"), edit_admin_banner_path(admin_banner) %></li>
          <li><%= link_to ts("Delete"), confirm_delete_admin_banner_path(admin_banner), :confirm => ts("Are you sure you want to delete this banner?") %></li>
        </ul>
      </li>
    <% end %>
  </ul>

  <!--/content-->
</div>
