<div id="search-filters">
<%- form_tag(filter_search_path) do -%>
  <%- field_set_tag 'Filters' do -%>
		<dl class="story-filters">
      <%- for filter in @filters -%>
      <dt><%=h filter.name %></dt>
        <%- for tag in @tags_by_filter[filter][0..9] -%>
        <dd>
	        <%= check_box_tag "filters[#{filter.id}][]", tag.name, @selected_tags.include?(tag.name) %>
	        <%= label_tag "filters[#{filter.id}][#{tag.name}]", tag.name %>
        </dd>
        <%- end -%> 
			<%- end -%>
		</dl>
		<p><%= hidden_field_tag "query", @query %></p>
		<p><%= submit_tag "Filter Search Results" %></p>
  <%- end -%>
<%- end -%>
</div>