<h1>Standard Search</h1>

<div id='standard_search'>
<%= render :partial => 'works/search_box' %>
</div>

<h1>Advanced Search (Extreme Beta)</h1>
<p>Please note, this is extreme beta, and is not working yet.</p>
<% form_tag 'search', :id => 'search', :method => :get do -%> 
  <p>

  <%= text_field_tag :query, params[:query], :class => 'text', :title => 'advanced search term' %>
      <dt class="work-restricted">
      <%= label :restricted, t('restricted_viewing', :default => "Only show your work to registered users") %> <%= link_to_help "registered-users" -%>
    </dt>
    <dd class="work-restricted">
      <%= check_box_tag :restricted %>
    </dd>
  <%= submit_tag t('forms.advanced_search', :default => 'Advanced Search'), :class => 'button', :name => 'advanced_search_button' %>
  <%= submit_tag t('forms.cancel', :default => 'Cancel'), :class => 'button', :name => 'cancel_button' %>
  </p>
<% end -%>
