<%= render :partial => 'search_box' %>

<%- unless @results.nil? -%>
  <h1><%= @results.length %> <%=h 'search result(s) for'.t %> '<%= h params[:query] %>'</h1>
  <%- unless @results.empty? -%>
    <ul class="story-list">
    <%- for result in @results -%>
      <%= render :partial => 'works/work_blurb', :locals => {:work => result} %>
    <%- end -%>
    </ul>
  <%- else -%>
    <p><%=h 'No results were found!'.t %></p>
  <%- end -%>
<%- end -%>

<div class="pagination">
	  <%= will_paginate @results, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>