<h2>Log in as Admin</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <dl>
                <dt><%= form.label :login, ts("Admin user name") %></dt>
        <dd><%= form.text_field :login %></dd>
                <dt><%= form.label :password, ts("Admin password") %></dt>
        <dd><%= form.password_field :password %></dd>
        </dl>
  <p class="submit actions"><%= form.submit ts('Log in as admin') %></p>
<% end %>
