<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t("admin.sessions.new.page_heading") %></h2>
<!--/descriptions-->

<!--main content-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |form| %>
  <fieldset>
  <dl>
    <dt><%= label_tag "admin[otp_attempt]", t(".two_factor_authentication_code") %></dt>
    <dd>
      <%= form.text_field :otp_attempt, "aria-describedby": "otp-field-description" %>
      <p class="footnote" id="otp-field-description"><%= t(".backup_codes_also_usable") %></p>
    </dd>
  </dl>
  <p class="submit actions"><%= submit_tag t("admin.sessions.new.submit") %></p>
  </fieldset>
<% end %>
<!--/content-->
