<ul class="menu">
  <li><%= link_to t(".about_us"), about_path %></li>
  <li><%= link_to t(".news"), admin_posts_path %></li>
  <li><%= link_to t(".faq"), archive_faqs_path %></li>
  <li><%= link_to t(".wrangling_guidelines"), wrangling_guidelines_path %></li>
  <li><%= link_to t(".donate"), donate_path %></li>
</ul>
