<p>
<% if reading.work.nil? %>
  <span>(<%=h 'deleted work, last read'.t %> <%=h reading.updated_at -%>)</span>
<% else %>
  <%= render :partial => 'works/work_blurb', :locals => {:work => reading.work} %>
  <strong><%=h 'Last read:'.t %> </strong><%=h reading.updated_at.localize("%d %B %Y") %> 
  <% if reading.major_version_read < reading.work.major_version -%>
    (<%=h 'New version available.'.t -%>)
  <% elsif reading.minor_version_read != reading.work.minor_version -%>
    (<%=h 'Minor edits made since then.'.t -%>)
  <% else -%>
    (<%=h 'Most recent version.'.t -%>)
  <% end -%>	
<% end %>
</p>
