<p>
<% if reading.work.nil? %>
  <i>(deleted work, last read <%=h reading.updated_at -%>)</i>
<% else %>
  <b><%=h 'Title:'.t %> </b><%=h reading.work.title %><br/>
  <b><%=h 'by:'.t %> </B><%= byline(reading.work) %><br/>
  <b><%=h 'First read:'.t %> </B><%=h reading.created_at %><br/>
  <b><%=h 'Last read:'.t %> </B><%=h reading.updated_at %> (<%=h 'Version'.t %> <%= reading.major_version_read -%>.<%= reading.minor_version_read -%>)<br/>
<% end %>
</p>
