<% # expects "work" %>
<li <% unless reading.work.nil? %>id="work_<%= work.id %>"<% end %> class="<% if reading.work.nil? %>deleted <% end %><% if is_author_of?(work) %>own <% end %>reading work blurb group" role="article">

  <% if reading.work.nil? %>
    <h4 class="viewed heading"><%= ts("(deleted work, last viewed %{date})", :date => set_format_for_date(reading.last_viewed)) %></h4>
  <% else %>

    <% is_unrevealed ||= (work.unrevealed? || (work.anonymous? && !@over_anon_threshold && @search)) %>
    <% is_anonymous ||= (work.anonymous? && (@user || @pseud) && !(['gifts', 'readings'].include?(controller.controller_name))) %>
    <% if (is_unrevealed || is_anonymous) && !is_author_of?(work) %>
      <% if is_unrevealed %>
        <%= render 'works/mystery_blurb', :item => work, :unrevealed => true %>
      <% elsif is_anonymous %>
        <%= render 'works/mystery_blurb', :item => work, :unrevealed => false %>
      <% end %>
    <% else %>

      <div class="work module">
        <!--title, byline, fandom-->
        <div class="header module">

          <h4 class="heading" title="title">
  	        <%= link_to work.title.html_safe, @collection ? collection_work_path(@collection, work) : work %>
   		      <%= ts('by') %>
        
            <!-- do not cache -->
            <%= byline(work) %>

<!-- caching -->
<% cache("#{work.cache_key}-#{hide_warnings?(work) ? 'nowarn' : 'showwarn'}-#{hide_freeform?(work)  ? 'nofreeform' : 'showfreeform'}") do %>

            <% tag_groups = work.tags.group_by { |t| t.type.to_s } %>
  
            <% unless work.recipients.blank? %>
              <%= ts("for") %> <%= recipients_link(work) %>
            <% end %>
            <% if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") %><% end %>
            <% if work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %><% end %>
          </h4>

  	      <h5 class="fandoms heading" title="fandom">
            <% fandoms = tag_groups['Fandom'] %>
            <%= fandoms.collect{|tag| link_to_tag_works(tag) }.join(', ').html_safe if fandoms %>
  		      &nbsp;
  	      </h5>

          <!--required tags-->
  	      <%= get_symbols_for(work, tag_groups) %>
  	      <p class="datetime"><%= set_format_for_date(work.revised_at) %></p>
        </div>
	  
	      <!-- do not cache -->
        <!--warnings again, cast, freeform tags-->
  	    <h6 class="landmark heading">Tags</h6>
  	    <ul class="tags commas">
  	      <%= blurb_tag_block(work, tag_groups) %>
  	    </ul>
  	
  	  </div>

      <!--summary-->	
  	  <% unless work.summary.blank? %>
  		  <h6 class="landmark heading">Summary</h6>
  		  <blockquote class="userstuff summary" title="summary">
  		    <%=raw strip_images(sanitize_field(work, :summary)) %>
  		  </blockquote>
  	  <% end %>
  	
  	  <% unless work.series.empty? %>
  	    <h6 class="landmark heading">Series</h6>
  	    <ul class="series">
  	      <% work.series.each do |series| %>
  	      <li>
  	        <%= work_series_description(work, series) %>
  	      </li>
  	      <% end %>
  	    </ul>
  	  <% end %>

      <!--stats-->
  	  <dl class="stats" title="stats">
  		  <dt><%= ts('Words') %>:</dt>
  		  <dd><%= number_with_delimiter(work.word_count) %></dd>
  		  <dt><%= ts('Chapters') %>:</dt>
  		  <dd><%= work.chapter_total_display %></dd>

<% end %>
<!-- end cached section -->
	 
  	    <% unless work.approved_collections.empty? %>
  			  <dt><%= ts('Collections')  %>:</dt>
  			  <dd><%= link_to work.approved_collections.length, work_collections_path(work) %></dd>
  		  <% end %>
		
  		  <% if work.count_visible_comments > 0 %>
  		    <dt><%= ts('Comments') %>:</dt>
  			  <dd><%= link_to work.count_visible_comments, 
  			            @collection ? collection_work_path(@collection, work, :anchor => "comments", :show_comments => true) : 
  			                (work.chapter_total_display.to_i > 1 ? work_path(work, :anchor => "comments", :show_comments => true, :view_full_work => 'true') : work_path(work, :anchor => "comments", :show_comments => true)) %></dd>
  		  <% end %>
  		  <% if work.kudos.count > 0 %>
  		    <dt><%= ts('Kudos: ') %></dt>
  		    <dd><%= link_to (work.kudos.by_guest.count(:ip_address, :distinct => true) + work.kudos.with_pseud.count(:pseud_id, :distinct => true)).to_s, 
  		      @collection ? collection_work_path(@collection, work, :anchor => "comments") : 
              (work.chapter_total_display.to_i > 1 ? work_path(work, :anchor => "comments", :view_full_work => 'true') : 
                work_path(work, :anchor => "comments")) %></dd>
  		  <% end %>
  		  <% if (bookmark_count = work.bookmarks.is_public.count) > 0 %>
  		    <dt><%= ts('Bookmarks') %>:</dt>
  			  <dd><%= link_to_bookmarkable_bookmarks(work, bookmark_count.to_s) %></dd>
  		  <% end %>

    	  <% if show_hit_count?(work) %>
     		  <dt><%= ts("Hits") %>:</dt>
     		  <dd><%= work.hits %></dd>
     	  <% end %>
			
      </dl>

    <% end %>
  
    <div class="user module group">
      <h4 class="viewed heading">
        <span><%= ts("Last viewed:") %></span> <%= set_format_for_date(reading.last_viewed) %>
        <% if reading.major_version_read != reading.work.major_version %>
          <%= ts('(Update available.)') %>
        <% elsif reading.minor_version_read != reading.work.minor_version %>
          <%= ts('(Minor edits made since then.)') %>
        <% else %>
          <%= ts('(Latest version.)') %>
        <% end %>
        <% if reading.view_count == 1 %>
          <%= ts("Viewed once")%>
        <% else %>
          <%= ts("Viewed %{count} times", :count => reading.view_count) %>
        <% end %>
        <% if reading.toread? %><%= ts('(Flagged to read later.)') %><% end %>
        <% if reading.toskip? %><%= ts('(Flagged to skip.)') %><% end %>
      </h4>
  
      <ul class="navigation actions" role="menu">
        <li><%= link_to ts("Delete"), user_reading_path(current_user, reading), :confirm => ts('Are you sure?'), :method => :delete %></li>
      </ul>
    </div>

  <% end %>

</li>
