<!--Descriptive page name, messages and instructions-->
<h2><%= t('.history', :default => 'History') %></h2>
<!--/descriptions-->

<!--subnav-->
<% if logged_in? && !current_user.readings.empty? %>
<ul class="navigation" role="navigation">
  <li>
  <%= link_to t('.clear_history', :default => 'Clear Viewing History'), clear_user_readings_path(current_user), :confirm => t('.links.are_you_sure', :default => 'Are you sure?'), :method => :post %>
  </li>
  <li>
  <%= t('.readings_options', :default => "You can disable your viewing history in %{preferences_link}", :preferences_link => (link_to t('.user_preferences', :default => "Preferences"), user_preferences_path(@user))) %>
  </li>
</ul>
<% end %>
<!--/subnav-->

<!--main content-->
<% if logged_in? && !current_user.readings.empty? %>
    <%= render :partial => 'reading', :collection => @readings %>
<% end %>
<!--/content-->

<!--subnav-->
	  <%= will_paginate @readings, :prev_label =>  "&laquo; " + t('.pagination.previous', :default => "Previous") ,:next_label => t('.pagination.next', :default => "Next") + " &raquo;" %>
<!--/subnav-->