<% if params[:restricted] %>
  <h3 class="heading"><%= ts("Sorry!") %></h3>
  <p>
    <%= ts("This work is only available to registered users of the Archive.") %>
    <%= ts("If you already have an Archive of Our Own account, log in now.") %>
      <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
        <%= t(".restricted.no_account", request_invite_link: link_to(t(".restricted.request_invite"), invite_requests_path)).html_safe %>
      <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
        <%= link_to t(".restricted.signup"), signup_path %>
      <% end %>
  </p>
<% elsif params[:restricted_commenting] %>
  <h3 class="heading"><%= ts("Sorry!") %></h3>
  <p>
    <%= ts("Commenting on this work is only available to registered users of the Archive.") %>
    <%= ts("If you already have an Archive of Our Own account, log in now.") %>
    <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
      <%= t(".restricted.no_account", request_invite_link: link_to(t(".restricted.request_invite"), invite_requests_path)).html_safe %>
    <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
      <%= link_to t(".restricted.signup"), signup_path %>
    <% end %>
  </p>
<% else %>
  <h3 class="heading"><%= ts("Log in") %></h3>
  <p>
    <strong><%= ts("Reminder:") %></strong>
    <%= ts("This site is in beta. Things may break or crash without notice.") %>
    <%= t(".reminder.report_bugs", give_feedback_link: link_to(t(".reminder.give_feedback"), feedbacks_path)).html_safe %>
  </p>
<% end %>

<div id="loginform">
  <%= render "users/sessions/passwd" %>
</div>

<p>
  <%= t(".login.forgot", reset_password_link: link_to(t(".login.reset_password"), new_user_password_path)).html_safe %>
  <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
    <br \><%= t(".login.no_account", join_link: link_to(t(".login.request_invite"), invite_requests_path)).html_safe %>
  <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
    <br \><%= t(".login.no_account", join_link: link_to(t(".login.create_account"), signup_path)).html_safe %>
  <% end %>
</p>
