<% if params[:restricted] %>
  <h3 class="heading"><%= ts("Sorry!") %></h3>
  <p>
    <%= ts("This work is only available to registered users of the Archive.") %>
    <%= ts("If you already have an Archive of Our Own account, log in now.") %>
      <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
        <%= t("users.restricted.no_account") %> <%= link_to t("users.login.request_invite"), invite_requests_path %>
      <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
        <%= link_to t("users.restricted.signup"), signup_path %>
      <% end %>
  </p>
<% elsif params[:restricted_commenting] %>
  <h3 class="heading"><%= ts("Sorry!") %></h3>
  <p>
    <%= ts("Commenting on this work is only available to registered users of the Archive.") %>
    <%= ts("If you already have an Archive of Our Own account, log in now.") %>
    <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
      <%= t("users.restricted.no_account") %> <%= link_to t("users.login.request_invite"), invite_requests_path %>
    <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
      <%= link_to t("users.restricted.signup"), signup_path %>
    <% end %>
  </p>
<% else %>
  <h3 class="heading"><%= ts("Log in") %></h3>
  <p>
    <strong><%= ts("Reminder:") %></strong>
    <%= ts("This site is in beta. Things may break or crash without notice.") %>
    <%= t("users.login.beta_reminder.report_bugs") %>
    <%= link_to t("users.login.beta_reminder.feedback_link"), feedbacks_path %>!
  </p>
<% end %>

<div id="loginform">
  <%= render "users/sessions/passwd" %>
</div>

<p>
  <%= t("users.login.forgot_password") %> <%= link_to t("users.login.reset_password"), new_user_password_path %>
  <% if @admin_settings.invite_from_queue_enabled? && @admin_settings.creation_requires_invite? %>
    <br \><%= t("users.login.no_account") %> <%= link_to t("users.login.request_invite"), invite_requests_path %>
  <% elsif @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
    <br \><%= t("users.login.no_account") %> <%= link_to t("users.login.create_account"), signup_path %>
  <% end %>
</p>
