<% works_count = @external_author.works.size %>
<h2 class="heading"><%= t(".page_heading", count: works_count) %></h2>

<p class="message">
  <%= t(".archive_moved_message", count: works_count, app_full_name: ArchiveConfig.APP_NAME, app_name: ArchiveConfig.APP_SHORT_NAME) %>
</p>

<p class="message">
  <%= t(".claim_before_edit_message_html",
        dashboard_link: link_to(t(".dashboard"), archive_faq_path("glossary", anchor: "dashdef")),
        count: works_count) %>
</p>

<p class="message">
  <%= t(".review_before_decision_html",
        app_name: ArchiveConfig.APP_SHORT_NAME,
        contact_open_doors_link: link_to(t(".contact_open_doors"), "https://opendoors.transformativeworks.org/en/contact-open-doors/"),
        count: works_count) %>
</p>

<div class="claim module">
  <h3 id="claim"><%= t(".claim_all", count: works_count) %></h3>

  <% if logged_in? %>
    <p class="message">
      <%= t(".claim_works_logged_in_html", current_user: current_user.login, count: works_count) %>
    </p>
    <p class="actions">
      <%= button_to t(".add_works_to_account_button", current_user: current_user.login, count: works_count), complete_claim_path(invitation_token: @invitation.token) %>
    </p>
  <% else %>
    <p class="message">
      <%= t(".invitation_to_create_account", count: works_count, app_name: ArchiveConfig.APP_SHORT_NAME) %>
    </p>
    <p class="message">
      <%= t(".login_instructions", count: works_count, app_name: ArchiveConfig.APP_SHORT_NAME) %>
      <%= button_to t(".sign_up_button", count: works_count), signup_path(invitation_token: @invitation.token), method: :get %>
    </p>
  <% end %>
</div>

<div class="work listbox group">
  <h3 class="heading"><%= t(".my_imported", count: works_count) %></h3>
  <ul id="imported_works" class="index group">
    <% @external_author.works.each do |work| %>
      <%= render "works/work_blurb", work: work %>
    <% end %>
  </ul>
  <p class="actions">
    <% if logged_in? %>
      <%= button_to t(".add_works_to_account_button", current_user: current_user.login, count: works_count), complete_claim_path(invitation_token: @invitation.token) %>
    <% else %>
      <%= button_to t(".sign_up_button", count: works_count), signup_path(invitation_token: @invitation.token), method: :get %>
    <% end %>
  </p>
</div>

<h3 class="heading" id="other-options"><%= t(".other_options.heading") %></h3>
<%= form_for @external_author do |f| %>
  <fieldset>
    <legend><%= t(".other_options.legend") %></legend>
    <h4><%= t(".actions.label") %></h4>
    <ul>
      <li>
        <%= radio_button_tag "imported_stories", "nothing" %>
        <%= label_tag "imported_stories_nothing", t(".actions.leave_with_archivist", count: works_count) %>
      </li>
    </ul>
    <ul>
      <li>
        <%= hidden_field_tag :invitation_token, @invitation.token %>
        <%= radio_button_tag "imported_stories", "orphan" %>
        <%= label_tag "imported_stories_orphan", t(".actions.orphan_keep_name", count: works_count) %>
        <%= link_to(t(".refer_to_orphaning_faq"), archive_faq_path("orphaning")) %>
        <ul>
          <li>
            <%= check_box_tag "remove_pseud" %>
            <%= label_tag "remove_pseud",
                  t(".actions.assign_to_orphan_account",
                    count: works_count, app_name: ArchiveConfig.APP_SHORT_NAME) %>
          </li>
        </ul>
      </li>
      <li>
        <%= radio_button_tag "imported_stories", "delete" %>
        <%= label_tag "imported_stories_delete", t(".actions.remove_works_entirely", count: works_count, app_name: ArchiveConfig.APP_SHORT_NAME) %>
      </li>
      <li id="notimport">
        <%= f.check_box :do_not_import %>
        <%= f.label :do_not_import, t(".actions.do_not_import") %>
      </li>
    </ul>
    <h4><%= t(".notifications.label") %></h4>
    <ul>
      <li>
        <%= f.check_box :do_not_email %>
        <%= f.label :do_not_email, t(".notifications.do_not_email") %>
      </li>

    </ul>
    <p class="important message">
      <%= t(".import_without_email") %>
    </p>
    <%= submit_fieldset(f) %>
  </fieldset>

<% end %>

<div class="notes module">
  <h3><%= t(".notes.go_over_again") %></h3>
  <ul class="notes">
    <li><%= t(".notes.do_nothing", count: works_count) %></li>
    <% if logged_in? %>
      <li><%= t(".notes.claim", count: works_count) %></li>
    <% else %>
      <li><%= t(".notes.create_account", count: works_count) %></li>
    <% end %>
    <li><%= t(".notes.delete_or_orphan", count: works_count) %></li>
    <li><%= t(".notes.orphaning_explanation", count: works_count, app_name: ArchiveConfig.APP_SHORT_NAME) %></li>
    <li><%= t(".notes.do_not_email") %></li>
  </ul>
</div>
