<p>
  <%= ts("Posted") %>: <%= @comment.created_at %>
  <% unless @comment.edited_at.blank? %>
    <br /><%= ts("Last edited") %>: <%= @comment.edited_at %>
  <% end %>
</p>
<p>
  <% unless @noreply %>
    <%= email_reply_to_comment_link(@comment) %><br />
  <% end %>
  <%= email_comment_thread_link(@comment) %><br />
  <% unless @comment.id == @comment.thread %>
    <%= email_comment_full_thread_link(@comment) %><br />
  <% end %>
  <%= email_read_all_comments_link(@comment) %>
</p>
