<h4 class="heading">
<% if @comment.comment_owner %>
  <% if @comment.comment_owner.is_author_of?(@comment.ultimate_parent) && @comment.ultimate_parent.anonymous? %>
    <%= "Anon-Creator" %>
    <% else %>
  <%= link_to @comment.comment_owner_name, polymorphic_url(@comment.comment_owner, :only_path => false) %>
  <% end %>
<% else %>
  <%= @comment.comment_owner_name %>
<% end %>
<% if @comment.ultimate_parent.is_a?(Tag) %>
  <%= ts("replied to your comment on the tag") %> 
  <%= link_to @comment.ultimate_parent.commentable_name, {:controller => :tags, :action => :show, :id => @comment.ultimate_parent.to_param, :only_path => false} %>:
<% else %>
  <%= ts("replied to your comment on") %> 
  <%= link_to @comment.ultimate_parent.commentable_name.html_safe, polymorphic_url(@comment.ultimate_parent, :only_path => false) %>
<% end %>
</h4>

<p><%= ts("You wrote") %>:</p>
<blockquote>
<%=raw @your_comment.sanitized_content %>
</blockquote>
<% if @comment.comment_owner.is_author_of?(@comment.ultimate_parent) && @comment.ultimate_parent.anonymous? %>
  <p><%= "Anon-Creator" %> <%= ts("responded") %>:</p>
  <p><%=raw @comment.sanitized_content %></p>
<% else %>
<p><%= @comment.comment_owner_name %> <%= ts("responded") %>:</p>
<p><%=raw @comment.sanitized_content %></p>
<% end %>
<%= render :partial => 'comment_notification_footer' %>
