<% content_for :message do %>

  You replied to a comment on <%= commentable_title_link(@comment) %>

  <p>
    <%= commenter_pseud_or_name_link(@parent_comment) %> wrote:
    <%= style_quote(raw(@parent_comment.sanitized_mailer_content)) %>
  </p>

  <p>
    You responded:
    <%= style_quote(raw(@comment.sanitized_mailer_content)) %>
  </p>

  <%= render 'comment_notification_footer' %>

<% end %>
