<% content_for :message do %>

  <%= commenter_pseud_or_name_link(@comment) %> replied to your comment on <%= commentable_title_link(@comment) %>

  <p>
    You wrote:
    <%= style_quote(raw(@your_comment.sanitized_mailer_content)) %>
  </p>

  <p>
    <%= commenter_pseud_or_name_link(@comment) %> responded:
    <%= style_quote(raw(@comment.sanitized_mailer_content)) %>
  </p>

  <%= render 'comment_notification_footer' %>

<% end %>
