<h4>
<% if @comment.comment_owner %>
  <%= link_to @comment.comment_owner_name, polymorphic_url(@comment.comment_owner, :only_path => false) %>
<% else %>
  <%= @comment.comment_owner_name %>
<% end %>
<%= ts("edited their reply to your comment on") %> 
<%= link_to @comment.ultimate_parent.commentable_name, polymorphic_url(@comment.ultimate_parent, :only_path => false) %>
</h4>

<p><%= ts("You wrote") %>:</p>
<blockquote>
<%=raw @your_comment.sanitized_content %>
</blockquote>

<p><%= @comment.comment_owner_name %> <%= ts("edited their response to") %>:</p>
<p><%=raw @comment.sanitized_content %></p>

<%= render :partial => 'comment_notification_footer' %>
