<!--Descriptive page name, messages and instructions-->
<h2><%= t("known_issues", :default => "Known Issues") -%></h2>
<%- if @known_issues.empty? -%>
<p>There are no known issues posted, but you can <%= link_to 'make a new known issues post', new_known_issue_path %></p>		
<% end %>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<ul class="index">
<% @known_issues.each do |known_issue| %>
  <li>
	<h3 class="landmark">Actions</h3>
  	<ul class="navigation">
    	<li><%= link_to "Show", known_issue %></li>
    	<li><%= link_to "Edit", edit_known_issue_path(known_issue) %></li>
    	<li><%= link_to "Delete", known_issue, :confirm => 'Are you sure?', :method => :delete %></li>
  	</ul>
  	<div class="admin user-generated-view" role="article">
    	<h3><%= sanitize_and_format_for_display known_issue.title %></h3>
    	<h6>Updated at: <%=h known_issue.updated_at %></h6>
    	<%= sanitize_and_format_for_display known_issue.content %>
  	</div>
  </li>
<% end %>
</ul>
<!--/content-->

<!--subnav-->
<!--/subnav-->