<!--Descriptive page name, messages and instructions-->
<h2><%= ts("Known Issues") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="admin userstuff" role="article">
  <h3>
    <%= @known_issue.title %>
  </h3>
  <h4>Updated: <%= @known_issue.updated_at %>
    <% if logged_in_as_admin? %>
      <span class="navigation"><%= link_to 'Edit', edit_known_issue_path(@known_issue) %></span>
    <% end %>
  </h4>
  <%=raw sanitize_field(@known_issue, :content) %>
</div>
<!--/content-->

<!--subnav-->
<!--/subnav-->