<h1><%= t("known_issues", :default => "Known Issues") -%></h1>
<div id="tos" class="work-show">
		<h3>
			<%= sanitize_title_for_display @known_issue.title %>
		</h3>
			<h6>
				<b>Updated:</b> <%=h @known_issue.updated_at %>  
					<%- if logged_in_as_admin? -%>
				    | <%= link_to 'Edit', edit_known_issue_path(@known_issue) %>
				<%- end -%>
			</h6>
	    <%=sanitize_and_format_for_display @known_issue.content %>