<!--Descriptive page name, messages and instructions-->
<h2><%h= 'Approve skins' -%></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->

<% unless @unapproved_skins.blank? %>
  <% form_tag url_for(:controller => 'admin/approve_skins', :action => 'update'), :method => :post do %>
  <table id="unapproved">
    <tr>
      <th>Skin</th>
      <th>Creator</th>
    </tr>
    <% @unapproved_skins.each_with_index do |skin, i| %>
      <tr>
      <td>
      <%= check_box_tag "make_official[]", skin.id, false, :id => "make_official_#{skin.id}" %>
      <%= label_tag "make_official_#{skin.id}", (link_to skin.title, skin_path(skin)) %></td>
      <td><%= skin_author_link(skin) %></td>
      <td>
      </td>
      </tr>
    <% end %>
  </table>
  <p class="submit"><%= submit_tag "Approve skins" %></p>
  <% end %>
<% end %>

<% unless @approved_skins.blank? %>
  <% form_tag url_for(:controller => 'admin/approve_skins', :action => 'update'), :method => :post do %>
  <table id="approved">
    <tr>
      <th>Skin</th>
      <th>Creator</th>
    </tr>
    <% @approved_skins.each_with_index do |skin, i| %>
      <tr>
      <td>
      <%= check_box_tag "make_unofficial[]", skin.id, false, :id => "make_unofficial_#{skin.id}" %>
      <%= label_tag "make_unofficial_#{skin.id}", (link_to skin.title, skin_path(skin)) %>
      </td>
      <td><%= skin_author_link(skin) %></td>
      </tr>
    <% end %>
  </table>
  <p class="submit"><%= submit_tag "Unapprove skins (and remove them from use)" %></p>
  <% end %>
<% end %>

<!--/content-->

<!--subnav-->
<!--/subnav-->
