<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= link_to t(".heading"), wrangling_guidelines_path %> > <%= @wrangling_guideline.title %></h2>
<!--/descriptions-->

<!--subnav-->

<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
  <% if policy(:wrangling).edit? %>
    <div class="header">
      <h3 class="heading">
        Updated: <%= h @wrangling_guideline.updated_at %> | <%= link_to t(".edit"), edit_wrangling_guideline_path(@wrangling_guideline) %>
      </h3>
    </div>
  <% end %>
  <div class="userstuff">
    <%= raw sanitize_field(@wrangling_guideline, :content) %>
  </div>
</div>
<!--/content-->
