<!-- navigation tabs for admin users -->
<h3 class="landmark">Admins' Main Navigation</h3>
<ul class="admin navigation" role="navigation">
<li><%- if current_page?(admin_users_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_users', :default => "users"), admin_users_path %>
<%- if current_page?(admin_users_path) -%></span><%- end -%></li>
<li><%- if current_page?(notify_admin_users_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_notices', :default => "notices"), notify_admin_users_path %>
<%- if current_page?(notify_admin_users_path) -%></span><%- end -%></li>
<li><%- if current_page?(admin_invitations_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_invitations', :default => "invitations"), admin_invitations_path %>
<%- if current_page?(admin_invitations_path) -%></span><%- end -%></li>
<li><%- if current_page?(abuse_reports_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_abuse_reports', :default => "abuse reports"), abuse_reports_path %>
<%- if current_page?(abuse_reports_path) -%></span><%- end -%></li>
<li><%- if current_page?(admin_posts_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_admin_posts', :default => "admin posts"), admin_posts_path %>
<%- if current_page?(admin_posts_path) -%></span><%- end -%></li>
<li><%- if current_page?(admin_settings_path) -%><span class="current"><%- end -%>
  <%= link_to_unless_current t('admin_header_settings', :default => "settings"), admin_settings_path %>
<%- if current_page?(admin_settings_path) -%></span><%- end -%></li>
</ul>
