<h3 class="landmark heading"><%= ts("Admin Navigation") %></h3>
<ul class="admin primary navigation actions" role="navigation">
  <li><%= link_to ts("Manage Users"), admin_users_path %></li>
  <li><%= link_to ts("Notifications"), notify_admin_users_path %></li>
  <li class="dropdown">
    <%= link_to ts("Invitations"), admin_invitations_path %>
    <ul class="menu" role="menu">
      <li><%= span_if_current ts("Invite New Users"), admin_invitations_path %></li>
      <li><%= span_if_current ts("Manage Requests"), user_invite_requests_path %></li>
      <li><%= span_if_current ts("Manage Queue"), manage_invite_requests_path %></li>
    </ul>
  </li>
  <li><%= link_to ts("Abuse Reports"), abuse_reports_path %></li>
  <li class="dropdown">
    <%= link_to ts("Admin Posts"), admin_posts_path %>
    <ul class="menu" role="menu">
      <li><%= span_if_current ts("AO3 News"), admin_posts_path %>
      <li><%= span_if_current ts("Post AO3 News"), new_admin_post_path %></li>
      <li><%= span_if_current ts("Archive FAQ"), archive_faqs_path %></li>
      <li><%= span_if_current ts("Known Issues"), known_issues_path %></li>
    </ul>
  </li>
  <li><%= link_to ts("Settings"), admin_settings_path %></li>
  <li class="dropdown">
    <%= link_to ts("Skins"), admin_skins_path %>
    <ul class="menu" role="menu">
      <li><%= span_if_current ts("Approval Queue"), admin_skins_path %></li>
      <li><%= span_if_current ts("Approved Skins"), index_approved_admin_skins_path %></li>
      <li><%= span_if_current ts("Rejected Skins"), index_rejected_admin_skins_path %></li>
    </ul>
  </li>
  <li><%= link_to ts("Tag Wrangling"), tag_wranglings_path %></li>
</ul>