<%= form_with(url: reauthenticate_create_admin_totp_path, method: :post, class: "password simple confirm") do |form| %>
  <fieldset>

    <!--Descriptive page name, messages and instructions-->
    <legend><h2 class="heading"><%= t(".page_heading") %></h2></legend>
    <p class="note"><%= t(".required_before_enabling") %></p>
    <!--/descriptions-->

    <!--main content-->
    <p>
      <%= form.label :password_check, t(".password_label") %>
      <%= form.password_field :password_check %>
      <%= form.submit t(".submit") %>
    </p>
    <!--/content-->
  </fieldset>
<% end %>
