<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>

<p class="note"><%= t(".write_codes_down") %></p>
<!--/descriptions-->

<!--main content-->
<ul>
  <% @backup_codes.each do |code| %>
    <li>
      <code><%= code %></code>
    </li>
  <% end %>
</ul>

<p class="actions">
  <%= link_to t(".copy_to_clipboard"), "#", id: "copy-totp-backup-codes", onclick: "copyBackupCodes()", style: "visibility: hidden;" %>
  <%= link_to t(".finish"), admins_path %>
</p>
<!--/content-->

<script type="text/javascript">
    async function copyBackupCodes() {
        await navigator.clipboard.writeText("<%= @backup_codes.join('\n') %>");
        document.getElementById("copy-totp-backup-codes").textContent = "<%= t(".backup_codes_copied") %>";

        // Prevent reloading the page
        return false;
    }
</script>

<script type=text/javascript defer>
    document.getElementById("copy-totp-backup-codes").style.visibility = "visible";
</script>
