<h1>Listing banned_values</h1>

<table>
  <tr>
    <th>String value</th>
    <th>String type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @banned_valuess.each do |banned_value| %>
      <tr>
        <td><%= banned_value.string_value %></td>
        <td><%= banned_value.string_type %></td>
        <td><%= link_to 'Show', banned_value %></td>
        <td><%= link_to 'Edit', edit_banned_value_path(banned_value) %></td>
        <td><%= link_to 'Destroy', banned_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Banned value', new_banned_value_path %>
