<% if @tag_type %>
  <h4><%= @tag_type.classify.pluralize %> (<%= @tags.count %>)</h4>

  <% if @tag_type == "fandom" && @tags.count > ArchiveConfig.MAX_OPTIONS_TO_SHOW %>

    <!-- sort tags out by media -->
    <ol class="tagset media index">
	    <% Media.by_name.each do |medium| %>
        <% if @tags.with_parents([medium]).count > 0 %>
          <li class="category <%= cycle :odd, :even %>">
  			    <h3><%= medium.name %> (<%= @tags.with_parents([medium]).count %>) <%= expand_contract_shuffle("list_for_media_#{medium.id}") %></h3>
            <ol id="list_for_media_<%= medium.id %>" class="tags">
              <%= tag_relation_to_list @tags.with_parents([medium]) %>
            </ol>
        	</li>
        <% end %>
      <% end %>
      <% if @tags.with_no_parents.count > 0 %>
        <li class="category">
  		    <h3>No Media Specified (<%= @tags.with_no_parents.count %>)</h3>
          <ol class="tags">
            <%= tag_relation_to_list @tags.with_no_parents %>
          </ol>
  	    </li>
      <% end %>
    </ol>
    
  <% elsif (@tag_type == "character" || @tag_type == "relationship") && @tags.count > ArchiveConfig.MAX_OPTIONS_TO_SHOW %>

    <!-- sort tags out by fandom -->    
    <ol class="tagset fandom index">
      
	    <% @tag_set.with_type("fandom").by_name_without_articles.each do |fandom_id, fandom_name| %>
        <% if @tags.with_parents([fandom]).count > 0 %>
          <li class="category <%= cycle :odd, :even %>">
	          <h3><%= fandom.name %> (<%= @tags.with_parents([fandom]).count %>) <%= expand_contract_shuffle("list_for_fandom_#{fandom.id}") %></h3>
            <ol id="list_for_fandom_<%= fandom.id %>" class="tags">
              <%= tag_relation_to_list @tags.with_parents([fandom]) %>
            </ol>
        	</li>
        <% end %>
      <% end %>
      <% if @tags.with_no_parents.count > 0 %>
        <li class="category">
	        <h3>No Fandom Specified (<%= @tags.with_no_parents.count %>)</h3>
          <ol class="tags">
            <%= tag_relation_to_list @tags.with_no_parents %>
          </ol>
    	  </li>
      <% end %>
    </ol>

  <% else %>

    <!-- show all the tags alphabetically -->
    <ol class="tagset tags index">
      <%= tag_relation_to_list @tags %>
    </ol>

  <% end %>

<% else %>

  <!-- recursively render by type -->
  <% TagSet::TAG_TYPES.each do |type| %>
    <% @tag_type = type %>
    <% @tags = @tags.with_type(type) %>
    <% if @tags.count > 0 %>
      <%= render "show_tag_set_tags" %>
    <% end %>
  <% end %>

<% end %>
        