<fieldset>

  <%= f.object.tag.name %>
  <%= f.hidden_field :tag_id, :value => f.object.tag.id %>

  <label class="action">
    <%= ts("Parent(s): ") %>
    <% if false #@inline_autocomplete %>
      <% nominated_parents = TagNomination.where(:tagname => f.object.tag.name).group("parent_tagname").order("count_id DESC").count('id')[:parent_tagname] || [] %>
      <% nominated_parents = nominated_parents.map {|tagname| {id: tagname, name: tagname}} %>
      <%= f.text_field :parent_tagnames, autocomplete_options(nominated_parents, :autocomplete_min_chars => 0) %>
    <% else %>
      <%= f.text_field :parent_tagnames, autocomplete_options("nominated_parents?tagname=#{f.object.tag.name}", :autocomplete_min_chars => 0) %>
    <% end %>
  </label>

  <label class="action">
    <%= ts("Request") %>
    <%= f.check_box :do_request %>            
  </label>

</fieldset>
