<li class="<% if tag_set.user_is_owner?(current_user) %>own<% end %> tag_set blurb">
 	<div class="header">
		<h4 title="name">
		  <%= link_to tag_set.title, tag_set_path(tag_set) %>
			<%= ts('by') %>
			<%= tag_set.owners.map {|owner| link_to(owner.byline, owner.user)}.join(", ").html_safe %>
		</h4>
		<p class="datetime"><%= l(tag_set.updated_at.to_date) %></p>
	  <% if tag_set.moderators.length > 0 %>
  		<h6 class="landmark">Mods</h6>
  		<ul title="moderated by" class="mods">
  			<%= tag_set.moderators.map {|mod| content_tag(:li, link_to(mod.byline, mod.user))}.join(", ").html_safe %>
  	  </ul>
    <% end %>
	</div>

  <!--summary/descriptions-->
  <h6 class="landmark">Summary</h6>
  <blockquote class="userstuff summary">
    <%=raw strip_images(sanitize_field(tag_set, :description)) || "&nbsp;".html_safe %>
  </blockquote>

  <!--stats-->
	<dl class="stats" title="stats">
	  <dt><%= ts("Fandoms") %></dt>
	  <dd>#</dd>
	  <dt>etc</dt>
	  <dd>#</dd>
  </dl>
    
  <% if tag_set.user_is_moderator?(current_user) || (logged_in? && tag_set.nominated) %>
    <h6 class="landmark">User Actions</h6>
	  <ul class="navigation" role="navigation">
      <% if tag_set.user_is_owner?(current_user) %>
        <li><%= link_to ts('Edit'), edit_tag_set_path(tag_set) %></li>
      <% end %>
      <% if tag_set.user_is_moderator?(current_user)%>
        <li><%= link_to ts('Review'), review_tag_set_path(tag_set) %></li>
      <% end %>
      <% if tag_set.nominated %>
        <li><%= link_to ts("Nominate"), new_tag_set_nomination_path(tag_set)%></li>
      <% end %>
    </ul>
  <% end %>
</li>
<!--end single blurb-->