<h3><%= ts("Notes") %></h3>
<ul class="notes">
  <li>You can use tag sets when running a challenge.</li>
  <li>"Visible" tag sets are shown to all users.</li>
  <li>"Usable" tag sets can be used by others in their challenges.</li> 
  <li>Tag sets that are open to nominations can take nominations from the public.</li> 
</ul>

<!-- /descriptions-->

<%= render "navigation" %>

<!--main content-->
<h3 class="landmark">Tag Set Settings</h3>
<%= nested_form_for(@tag_set, :url => (@tag_set.new_record? ? tag_sets_path : tag_set_path(@tag_set)), :html => {:method => (@tag_set.new_record? ? :post : :put), :class => "verbose tagset"}) do |tag_set_form| %>
  <%= error_messages_for @tag_set %>

  <fieldset>
    <legend>Management</legend>
    <%= render "tag_set_form_management", :form => tag_set_form %>
  </fieldset>

  <fieldset class="tagset">
    <legend>Tags In Set</legend>
    <h3>Tags In Set (check to remove)</h3>
    <% @tag_set.build_tag_set unless @tag_set.tag_set %>
    <%= tag_set_form.fields_for :tag_set do |internal_tag_set_form| %>
      <%= render "internal_tag_set_fields", :form => internal_tag_set_form %>
    <% end %>
  </fieldset>
  
  <fieldset class="tagset">
    <legend>Tag Associations</legend>
    <h3>Tag Associations (check to remove)</h3>
    <% unless @tag_set.tag_set_associations.empty? %>
      <%= render "tag_set_associations_remove", :form => tag_set_form %>
    <% end %>
    <%= tag_set_form.fields_for :tag_set_associations %>
    <!--BAG END: This can't be p because cannot have dl as child of p. Can you pos close the p and then load the nested partial? Have bodged with div for now-->
    <div><%= tag_set_form.link_to_add ts("Add Association"), :tag_set_associations, :class => "action" %></div>
  </fieldset>
  
  <fieldset>
    <legend><%= ts('Submit') %></legend> 
    <p class="submit">
      <%= tag_set_form.submit ts('Submit') %>
    </p>
  </fieldset>
    
<% end %>
<div class="clear"><!--presentational--></div>