<h3><%= ts("Notes") %></h3>
<ul class="notes">
  <li>You can paste comma-separated lists into the main tag set editing interface.</li>
  <li>If you already have your desired character and fandom tags associated in another file and can save them in comma-separated format, this form will let you load them in a batch.</li>
  <li>Errors will be ignored so double-check your tag set afterwards to be sure you are happy with the results.</li>
</ul>

<!-- /descriptions-->
<%= render "navigation" %>

<!--main content-->
<%= form_for(@tag_set, :url => batch_load_associations_tag_set_path(@tag_set), :html => {:method => :put, :class => "verbose tagset"}) do |form| %>
  <fieldset class="tagset">
    <legend>Batch Load</legend>
    <h3><label for="batch_associations">Batch Load Tag Associations</label></h3>
    <p class="note">One line per fandom in the form: <code>fandom,character,character,character,...</code></p>
    <%= text_area_tag "batch_associations" %>
    <dl>
      <dt><%= label_tag "batch_do_relationships", ts("Relationships instead?") %></dt>
      <dd><%= check_box_tag "batch_do_relationships" %></dd>
    </dl>
  </fieldset>

  <fieldset>
    <legend><%= ts('Submit') %></legend> 
    <p class="submit">
      <%= form.submit ts('Submit') %>
    </p>
  </fieldset>
    
<% end %>
<div class="clear"><!--presentational--></div>
