<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2>
  <% if @user %>
    <%= ts("%{user_name}'s Tag Sets", :user_name => @user.login) %>
  <% elsif @tag_sets.empty? %>
    <%= ts("Sorry, there were no tag sets found.") %>
  <% elsif @query %>
    <%= search_header @tag_sets, @query, "Tag Set" %>
  <% else %>
    <%= ts("Tag Sets in the %{archive_name}", :archive_name => ArchiveConfig.APP_NAME) %>
  <% end %>
</h2>

<%= link_to_help 'tagset-about', h(ts("Tag Set Help")) + '<span class="symbol question"><span>?</span></span>'.html_safe %>

<%= form_tag tag_sets_path, :class => "search", :method => :get do |form| %>
  <%= label_tag "query", ts("Search: ") %>
  <%= text_field_tag "query", @query %>
  <%= submit_tag "Go" %>
<% end %>

<!--/descriptions-->
<!--Subnavigation, sorting and actions-->
<div class="navigation module">
  <% if logged_in? %>
    <h3 class="landmark">Navigation</h3>
    <ul class="navigation" role="navigation">
    	<li><%= link_to ts("New Tag Set"), new_tag_set_path %></li>
    	<li><%= link_to ts("Tags"), tags_path %></li>
    </ul>
  <% end %>
</div>


<% unless @tag_sets.empty? %>
  <%= will_paginate @tag_sets, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} %>

  <!--main content-->
  <h3 class="landmark">Tag Sets List</h3>

  <ul class="tagset index">
    <% @tag_sets.each do |tag_set| %>
      <%= render 'tag_set_blurb', :tag_set => tag_set %>
    <% end %>
  </ul>

  <div class="clear"><!-- presentational--></div>

  <%= will_paginate @tag_sets, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} %>
<% end %>
