

<% # unparented tags nominated %>
<% if %w(character relationship).include?(@tag_type) %>
  <% noms = @nominations.where(:parented => false) %>
  <% unless noms.first.nil? %>
    <fieldset>
    <h4>Unparented Tags</h4>
    <p class="notes">
      The following nominated tags haven't been associated with a fandom on the archive. Please add or confirm 
      the fandom you want for the tag. 
    <ul>
    <% noms.each do |nom| %>
      <li>
        <%= label_tag "approve_#{nom.tagname}" do %>
          <%= nom.tagname %> (<%= nom.count %>)
          <%= check_box_tag "approve_#{nom.tagname}", 1, false %>            
        <% end %>            

        <%= nom.tagname %> (<%= nom.count %>)
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
