<h2><%= ts("Review Nominations") %>h2>

<ul class="notes">
  <li>Once you close nominations, we'll begin processing the nominations.</li> 
</ul>

<% if @nomination_count < 1 %>
  <p class="notes">
    <%= ts("There aren't any nominations for this tag set to review.") %>
  </p>
<% elsif @tag_set.nominated %>
  <%= form_for(@tag_set, :url => tag_set_path(@tag_set), :html => {:method => :put}) do |tag_set_form| %>
    <%= error_messages_for @tag_set %>
    <p class="notes">
      <% ts("There are currently %{count} nominations submitted for this tag set.", :count => @nomination_count) %>
    </p>

    <fieldset>
      <dl>
      	<dt><%= label_tag "begin_review", ts("Close nominations and review?") %></dt>
      	<dd><%= check_box_tag "review" %></dd>
      </dl>
    </fieldset>
    <fieldset>
    	<legend><%= ts('Submit') %></legend> 
      <p class="submit">
        <%= tag_set_form.submit ts('Submit') %>
      </p>
    </fieldset>
  <% end %>    
<% else %>

  
  <!-- 
    
    The following canonical tags not already in the set were nominated:
    (scrollable checkboxes, all checked by default)
    
    The following tags were nominated but are not canonical and have synonyms; you can add either the nominated version or the canonical version:
    (scrollable checkboxes, canonical versions checked)
    
    The following tags were nominated but are unwrangled:
    (scrollable checkboxes, unchecked)
    
    The following tags were nominated but don't exist on the archive at all: 

    
    The following nominated character tags don't have a fandom: 
    
    The following nominated relationship tags don't have a fandom:  -->


<% end %>