<div class="navigation module">
  <h3 class="landmark">Navigation</h3>
  <ul class="navigation" role="navigation">
    <% if @tag_set.nominated %>
  	  <li><%= link_to ts("Nominate"), nominate_tag_set_path(@tag_set) %></li>
  	<% end %>
    <% if @tag_set.user_is_moderator?(current_user) %>
      <% if @tag_set.nominated %>
    	  <li><%= link_to ts("Review"), review_tag_set_path(@tag_set) %></li>
    	<% end %>
    	<% if @tag_set.submission %>
    	  <li><%= link_to ts("Edit"), nominate_tag_set_path(@tag_set.target_set) %></li>
    	<% else %>
  	    <li><%= link_to ts("Edit"), edit_tag_set_path(@tag_set) %></li>
    	<% end %>
    	<% if @tag_set.user_is_owner?(current_user) %>
        <li><%= link_to ts("Delete"), tag_set_path(@tag_set),
          :confirm => ts('Are you certain you want to delete this tag set?'),
          :method => :delete %></li>
      <% end %>
    <% end %>  
  </ul>
</div>

<% if @tag_set.submission %>
  <%= render 'submission_show' %>
<% else %>
  <%= render 'tag_set_show' %>
<% end %>