<% unless @requests.nil? || @requests.empty? %>
<h2><%= ts("Requests Summary for %{challenge_collection}", :challenge_collection => @collection.title) %></h2>

<% @challenge ||= @collection.challenge %>

<table>
  <!-- top header row showing requests and offers numbered -->
  <tr>
    <th rowspan=2>Pseud</th>
    <% @challenge.requests_num_allowed.times do |i| %>
      <th colspan=<%= (1 + (@challenge.request_restriction.optional_tags_allowed ? 1 : 0) + (@challenge.request_restriction.description_allowed ? 1 : 0 ) + (@challenge.request_restriction.url_allowed ? 1 : 0)) %>>
        <%= ts("Request %{num}", :num => i+1) %>
      </th>
    <% end %>
  </tr>

  <!-- secondary header row showing the tags, description, url -->
  <tr>
      <% eval("@challenge.requests_num_allowed").times do |i| %>
        <th>Tags</th>
        <% if @challenge.request_restriction.optional_tags_allowed %><th>Optional Tags</th><% end %>
        <% if @challenge.request_restriction.description_allowed %><th>Description</th><% end %>
        <% if @challenge.request_restriction.url_allowed %><th>URL</th><% end %>
      <% end %>
  </tr>

  <!-- body of table -->
  <% for request in @requests %>
  <% cache("collection-#{@collection.id}-request-#{request.id}") do %>
    <tr>
      <td><%= link_to request.challenge_signup.pseud.name, collection_signup_path(@collection, request.challenge_signup) %></td>
      <!-- show tags, description, url for all allowed requests and offers: using a lot of evals here to DRY up the code since it's so repetitive -->
        <% eval("@challenge.requests_num_allowed").times do |i| %>
          <% prompt = request.challenge_signup.requests[i] %>
          <td>
            <% any_types = TagSet::TAG_TYPES.select {|type| prompt && prompt.send("any_#{type}")} %>
            <%= !prompt || !prompt.tag_set ? "" : 
                  content_tag(:ul, tag_link_list(prompt.tag_set.tags) + 
                                    any_types.map {|type| content_tag(:li, h(ts("Any %{type}", :type => type.capitalize))) }.join("\n").html_safe) %>
          </td>
          <% if @challenge.request_restriction.optional_tags_allowed %>
            <td>
              <% if prompt && prompt.optional_tag_set && !prompt.optional_tag_set.tags.empty? %>
                <%= content_tag(:ul, tag_link_list(prompt.optional_tag_set.tags)) %>
              <% end %>
            </td>
          <% end %>
          <% if @challenge.request_restriction.description_allowed %>
            <td><%= !prompt || prompt.description.blank? ? "" : raw(sanitize_field(prompt, :description)) %></td>
          <% end %>
          <% if @challenge.request_restriction.url_allowed %>
            <td><%= !prompt || prompt.url.blank? ? "" : link_to(prompt.url, prompt.url) %></td>
          <% end %>
        <% end %>
    </tr>
  <% end %><!-- end cache --> 
  <% end %>
</table>
<% end %>
