<%= fields_for "challenge_assignments[]", assignment do |assignment_form| %>
  <dt>
    <label for="challenge_assignments_<%= assignment.id %>_pinch_request_signup_id">
      <%= ts("Pinch Recipient for %{participant}", :participant => email_and_signup_link(assignment.offer_signup, assignment.offer_byline)).html_safe %>
    </label>
  </dt>
  <dd>
    <%= assignment_form.hidden_field :collection_id, :value => @collection.id %>
    <%= assignment_form.hidden_field :offer_signup_id, :value => assignment.offer_signup.id %>
    <%= assignment_form.collection_select :pinch_request_signup_id, assignment.offer_signup.offer_potential_matches.sort.reverse.collect(&:request_signup), :id, :byline, :include_blank => true %>
  </dd>
<% end %>
