<!-- expects local "assignment" -->
<%= fields_for "challenge_assignments[]", assignment do |assignment_form| %>
  <% request_signup = assignment.request_signup %>
  <tr>
    <th scope="row">
      <%= mailto_link request_signup.pseud.user, :subject => "[#{h(@collection.title)}] Message from Collection Maintainer" %>
      <%= link_to assignment.request_byline, collection_signup_path(@collection, request_signup) %>
    </th>

    <td>
      <%= assignment_form.hidden_field :collection_id, :value => @collection.id %>
      <%= assignment_form.hidden_field :request_signup_id, :value => request_signup.id %>
      <%= render "list_recipients_for_pseud", :request_signup => request_signup %>
    </td>
    
    <%= render "list_potential_giver_select", :assignment_form => assignment_form, :request_signup => request_signup%>
    
    <td><!--BACK END this td should probably be titled, but what with?-->
      <%= assignment_form.text_field :pinch_hitter_byline, autocomplete_options("pseud", :autocomplete_token_limit => 1, :size => 20) %>
    </td>
  </tr>
  
<% end %> <!-- end form -->
