<% # expects local "assignment" %>
<%= fields_for "challenge_assignments[]", assignment do |assignment_form| %>
  <% request_signup = assignment.request_signup %>
  <tr>
    <th scope="row">
      <%= email_and_signup_link(assignment.request_byline, request_signup) %>
    </th>

    <td>
      <%= assignment_form.hidden_field :collection_id, :value => @collection.id %>
      <%= assignment_form.hidden_field :request_signup_id, :value => request_signup.id %>
      <%= request_signup.offer_assignments.map { |offer_assignment| 
        offer_assignment.request_signup ?
          "#{offer_assignment.request_signup.pseud.byline}" :
          (offer_assignment.pinch_request_signup ?
            "#{offer_assignment.pinch_request_signup.pseud.byline}* 
             (pinch recipient)" : 
             "<span class=\"warning\">None</span>")}.join(", ").html_safe
      %>
    </td>
    <td>
      <% @pmatches = request_signup.request_potential_matches.sort.reverse %>
      <%= assignment_form.collection_select :offer_signup_id, @pmatches.collect(&:offer_signup), :id, :byline, 
                                              :include_blank => ts("None Assigned") %>
    </td>
    <td>
      <% if @pmatches.size > 0 %>
        <a class="potentials_for_<%= request_signup.id %>_open hidden" href="#">
          <%= ts("Show %{number_of_matches}", :number_of_matches => @pmatches.size) %>
        </a>
        <div id="potentials_for_<%= request_signup.id %>" class="toggled">
          <%= @pmatches.map {|pm| link_to(pm.offer_signup.byline, collection_potential_match_path(@collection, pm))}.join(", ").html_safe %>
        </div>
        <a class="potentials_for_<%= request_signup.id %>_close hidden" href="#">
          <%= ts("Hide") %>
        </a>
      <% else %>
        <span class="warning"><%= ts("No potential matches.") %></span>
      <% end %>
    </td>
    <td title="<%= ts('Pinch hitter')%>">
      <%= assignment_form.text_field :pinch_hitter_byline, autocomplete_options("pseud", :autocomplete_token_limit => 1, :size => 20) %>
    </td>
  </tr>

<% end %>