<p class="note">
  <%= t(".generating_matches") %>
</p>

<p>
  <%= t(".if_progress_doesnt_change") %>
</p>

<p>
  <%= t(".generation_progress") %> <strong><%= @progress %>%</strong>
</p>

<span class="actions"><%= button_to t(".cancel"), cancel_generate_collection_potential_matches_path(@collection), method: :post %></span>
