<!-- expects locals "assignment_form and request_signup", lists the other potential givers who could be assigned to this person -->
<td>
  <% @pmatches = request_signup.request_potential_matches %>
  <%= assignment_form.collection_select :offer_signup_id, @pmatches.collect(&:offer_signup), :id, :byline, 
                                          :include_blank => "- None Assigned -" %>
</td>
<td>
  <% if @pmatches.size > 0 %>
    <h5 id="show_potentials_for_<%= request_signup.id %>">(Show <%= @pmatches.size %>)</h5>
    <div id="potentials_for_<%= request_signup.id %>" class="hideme">
      <%= @pmatches.map {|pm| link_to(pm.offer_signup.byline, collection_potential_match_path(@collection, pm))}.join(", ").html_safe %>
    </div>
    <h5 style="display: none" id="hide_potentials_for_<%= request_signup.id %>">(Hide)</h5>
  <% else %>
    <strong><%= ts("No potential givers.") %></strong>
    <%= ts("Either edit their signup and regenerate their potential matches in the section above, or manually assign a pinch hitter.") %>
  <% end %>
</td>

<%= content_for :footer_js do %>
  <%= javascript_tag do %>
    $j(document).ready(function() {
      $j("#show_potentials_for_<%= request_signup.id %>").click(function() {
          $j("#potentials_for_<%= request_signup.id %>").show();
          $j("#hide_potentials_for_<%= request_signup.id %>").show();
          $j(this).hide();
      });
      $j("#hide_potentials_for_<%= request_signup.id %>").click(function() {
          $j("#potentials_for_<%= request_signup.id %>").hide();
          $j("#show_potentials_for_<%= request_signup.id %>").show();
          $j(this).hide();
      });
    })
  <% end %>
<% end %>
