<% if !@collection.challenge.signup_open %>
  <% if !@potential_matches.empty? %>
    <ul class="navigation">
      <li>
        <%= submit_tag "Send Assignments", :name => "send", :confirm => "Are you sure? This will send out the currently saved assignments to all participants!" %>
      </li>
    </ul>
  <% end %>

  <ul class="navigation">
    <% if @potential_matches.empty? %>
      <li><%= link_to t("potential_matches.generate", :default => "Generate Potential Matches"), generate_collection_potential_matches_path(@collection) %></li>
    <% else %>
      <li><%= submit_tag "Update Assignments" %></li>
      <li><%= link_to t("potential_matches.generate_assignments", :default => "Regenerate Assignments"), generate_collection_assignments_path(@collection) %></li>
      <li><%= link_to t("potential_matches.generate", :default => "Regenerate Potential Matches"), generate_collection_potential_matches_path(@collection) %></li>
    <% end %>
  </ul>  
<% end %>
