<div class="matching listbox group">  
  <h3 class="heading"><%= ts("Participants with No Potential Recipients") %></h3>
  <p class="caution note">
    <strong><%= ts("Warning!") %></strong> <%= ts("No one has requested anything that matches what these people have offered.") %>
  </p>
  <p class="note">
    <%= ts("Everyone needs at least one potential recipient. Either edit your match settings or edit their sign-ups (or delete them). Then regenerate their potential matches to continue.") %>
  </p>

  <dl class="index group">
    <% @assignments_with_no_potential_recipients.each do |assignment| %>
      <dt class="byline" title="<%= ts("pseud") %>"><%= link_to assignment.offer_byline, collection_signup_path(@collection, assignment.offer_signup) %></dd>
      <dd>
        <ul class="actions" role="menu">
          <li title="<%= ts("email") %>"><%= mailto_link assignment.offer_signup.pseud.user,  :subject => "[#{h(@collection.title)}] Message from Collection Maintainer" %></li>
          <li><%= link_to ts("Edit"), edit_collection_signup_path(@collection, assignment.offer_signup) %></li>
          <li role="button"><%= link_to ts("Regenerate Matches For %{name}", :name => assignment.offer_byline), regenerate_for_signup_collection_potential_matches_path(@collection, :signup_id => assignment.offer_signup.id) %></li>
          <li role="button"><%= link_to ts("Delete"), 
              collection_signup_path(@collection, assignment.offer_signup), :confirm => ts('Are you sure?'), :method => :delete %></li></ul>
      </dd>
    <% end %>
  </dl>
</div>
