<div class="matching listbox group">
  <h3 class="heading"><%= ts("Participants with No Assigned Givers") %> <%= link_to_help "challenge-matching" %></h3>

  <!--TABLEWATCH!!-->
  <table summary="<%= ts("Lists assignments with no giver and provides information and options for assigning a pinch hitter.") %>">
    <caption><%= ts("Assignments with No Giver") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= ts("Pseud") %></th>
        <th scope="col"><%= ts("Assigned Recipient") %></th>
        <th scope="col"><%= ts("Assigned Giver") %></th>
        <th scope="col"><%= ts("Potential Givers") %> <%= link_to_help "challenge-potential-giver" %></th>
        <th scope="col"><%= ts("Write-In Pinch Hitter") %> <%= link_to_help "challenge-pinch-hitter" %></th>
      </tr>
    </thead>

    <% @assignments_with_no_giver.each do |assignment| %>
      <%= render :partial => "assignment_with_request", :locals => {:assignment => assignment} %>
    <% end %>
  </table>

</div>    
