<% unless @assignments_with_no_potential_recipients.blank? && @assignments_with_no_potential_givers.blank? %>
  <h3><%= ts("Potential Matching Incomplete") %></h3>
  <p><%= ts("Some participants have no potential matches. Below you can find them listed
            so you can fix the problems. Once you have resolved all the people who are missing potential matches,
            and reloaded, the successful assignments will be listed here as well.") %>
  </p>
<% end %>

<% if @assignments_with_no_potential_recipients.present? %>
  <%= render "no_potential_recipients" %>
<% end %>

<% if @assignments_with_no_potential_givers.present? %>
  <%= render "no_potential_givers" %>
<% end %>

<% # otherwise, list the assignments %>
<!-- list all the requesters with their potential matches -->
<%= form_tag set_collection_assignments_path, :method => :put do %>

  <% # the people with no one to write for - this is the hardest problem to solve %>
  <% if @assignments_with_no_recipient.present? %>
    <%= render "no_assigned_recipient" %>
  <% end %>

  <% # the people with no-one writing for them -- these people also get listed in the assignments section below %>
  <% if @assignments_with_no_giver.present? %>
    <%= render "no_assigned_giver" %>
  <% end %>
  
  <% if @assignments_with_no_potential_recipients.blank? && @assignments_with_no_potential_givers.blank? %>  
    <% # the successful assignments %>
    <% if @successful_assignments.present? %>
      <%= render "match_navigation", :top => true %>

      <%= render "successful_assignments" %>
    <% end %>
  <% end %>

  <%= render "match_navigation", :top => false %>

<% end %>
