<h3 id="main-assignments" class="heading"><%= ts("Main Assignments") %></h3>
<p class="note">
  <%= ts("You can shuffle these assignments around as much as you want. 
  Circular matches (where A is assigned to B and B is assigned to A)
  will happen sometimes randomly.") %> 
</p>
<!--TABLEWATCH!!-->   
<table summary="<%= ts("Lists assignments with giver and provides options to reassign.") %>">
  <caption><%= ts("Assignments with an Assigned Giver") %></caption>
  <thead>
    <tr>
      <th scope="col"><%= ts("Pseud") %></th>
      <th scope="col"><%= ts("Assigned Recipient") %></th>
      <th scope="col"><%= ts("Assigned Giver") %></th>
      <th scope="col"><%= ts("Potential Givers") %> <%= link_to_help "challenge-potential-giver" %></th>
      <th scope="col"><%= ts("Write-In Pinch Hitter") %> <%= link_to_help "challenge-pinch-hitter" %></th>
    </tr>
  </thead>

  <% @successful_assignments.each do |assignment| %>
    <%= render :partial => "assignment_with_request", :locals => {:assignment => assignment} %>
  <% end %>
</table>

<%= will_paginate @successful_assignments %>
