<%= form_tag set_collection_assignments_path, :method => :put do %>
  <%= render "match_navigation", :top => true %>
  <% if @assignments.empty? %>
    <p><%= ts("None here! Please check the other tabs.") %></p>
  <% else %>

    <!-- list all the requesters with their potential matches -->
    <!--TABLEWATCH!!-->   
    <table summary="<%= ts("Lists assignments and provides options to reassign.") %>">
      <caption><%= ts("Assignments") %></caption>
      <thead>
        <tr>
          <th scope="col"><%= ts("Assignment ID") %></th>
          <th scope="col"><%= ts("Recipient") %></th>
          <th scope="col"><%= ts("Giver") %> <%= link_to_help "challenge-potential-giver" %></th>
          <th scope="col"><%= ts("Write-In Giver") %> <%= link_to_help "challenge-pinch-hitter" %></th>
        </tr>
      </thead>

      <% @assignments.each do |assignment| %>
        <%= render "assignment_with_request", :assignment => assignment %>
      <% end %>
    </table>

    <%= will_paginate @assignments %>
    <%= render "match_navigation", :top => false %>
  <% end %>
<% end %>