<h2>Matching for <%= sanitize_title_for_display(@collection.title) -%></h2>
<% if @challenge.signup_open %>
  <p class="note">
    You cannot generate matches while signup is still open! After you have closed signup (in Challenge Settings),
    you will be able to generate potential matches here.
  </p>
<% elsif @in_progress %>
  <p class="note">
    The archive is currently generating potential matches for this challenge. This process can take some time,
    especially for a large challenge! A notification email will be sent to the collection maintainers when
    all potential matches have been generated.
  </p>
  
  <p>
    Currently generating potential matches for: <%= @current_position %>
  </p>
<% else %>  
  <% if !@collection.potential_matches.empty? %>  
    <p class="note">
      The following lists all the participants in your challenge, along with the archive's pass at an initial automated
      match for all of them. You can now update the assignments however you like. 
    </p>

    <h4>Useful Tips</h4>
    <ul>
      <li>If you have people with no potential matches, you will need to have them expand their signup options. (Once signups are closed, you can hand-edit their signup yourself without reopening signups.)</li>
      <li>The pull-down menus include all the potential matches for each person -- that is, everyone whose offer matched that person's request. They are listed in order of match "quality".</li>
      <li>You can write-in anyone with an archive account as a pinch hitter, whether or not they are participants or actually matched.</li>
      <li>Pinch "recipients" must be people who have actual signups. </li>
      <li>You can regenerate the assignments to get a new randomized match-up.</li>
      <li>You should <strong>not</strong> regenerate potential matches unless you have edited signups or your matching rules. You won't get different results and it will take a long time.</li>
      <li>You can update the assignments as many times as you want until you actually send them out.</li>
    </ul>
  <% end %>

  <!-- list all the requesters with their potential matches -->
  <% form_tag set_collection_assignments_path, :method => :get do %>

    <%= render :partial => "match_navigation" -%>

    <h3>This header bonks into the controls</h3>

    <table>
      <% if @assignments_with_no_request.size > 0 %>
        <tr>
          <th colspan=5>Missing Recipients</th>
        </tr>
        <tr>
          <td colspan=5>
            <p class="note">
              These people could not be assigned a request. 
              For these special cases, you may be able to assign a request by shuffling the assigned givers below in the
              main assignments (in which case the giver's line will disappear from this section after you update), 
              or you can manually assign a pinch recipient (who will then get two gifts instead of one).
            </p>
          </td>
        </tr>
        <tr>
          <th>Pseud</th>
          <th colspan=3>Write-In Pinch Recipient</th>
          <th>Manage</th>
        </tr>      

        <% @assignments_with_no_request.each do |assignment| %>
          <%= render :partial => "assignment_with_no_request", :locals => {:assignment => assignment} %>
        <% end %>
      <% end %>

      <% if @assignments_with_no_offer.size > 0 %>        
        <tr>
          <th colspan=5>Missing Givers</th>
        </tr>
        <tr>
          <td colspan=5>
            <p class="note">
              These people could not be assigned a giver. You can shuffle the main assignments below to free someone up and 
              assign them as a giver, or you can assign a pinch hitter. (Note: the form <em>will</em> allow you to double-assign
              people, but you need to make sure they are willing to write two assignments first!)
            </p>
          </td>
        </tr>
        <tr>
          <th>Pseud</th>
          <th>Giving Gift To</th>
          <th>Assigned Giver</th>
          <th>Write-In Pinch Hitter</th>
          <th>Manage</th>
        </tr>

        <% @assignments_with_no_offer.each do |assignment| %>
          <%= render :partial => "assignment_with_request", :locals => {:assignment => assignment} %>
        <% end %>
      <% end %>
      
      <tr>
        <th colspan=5>Main Assignments</th>
      </tr>
      <tr>
        <td colspan=5>
          <p class="note">
            Everyone in this section has been assigned a giver. You can shuffle these assignments around
            as much as you want. Note that circular matches (where A is assigned to B and B is assigned to A)
            do happen by random chance. 
          </p>
        </td>
      </tr>
      <tr>
        <th>Pseud</th>
        <th>Giving Gift To</th>
        <th>Assigned Giver</th>
        <th>Write-In Pinch Hitter</th>
        <th>Manage</th>
      </tr>

      <% @assignments_with_request_and_offer.each do |assignment| %>
        <%= render :partial => "assignment_with_request", :locals => {:assignment => assignment} %>
      <% end %>
    </table>

    <%= render :partial => "match_navigation" -%>

  <% end %>
  
<% end %>
