<%- if logged_in? -%>
  <ul id="greeting">
    <li>
      <%=h "Hi," -%>&nbsp;<%= link_to current_user.login, user_path(current_user), :class => 'login' -%>!
    </li>
  </ul>
  <ul id="login">
    <li>
      <%= link_to 'Post New', new_work_path -%>&nbsp;|
    </li>
    <li>
      <%= link_to 'Log out', logout_path -%>
    </li>
  </ul>
<% elsif logged_in_as_admin? -%>
  <ul id="greeting">
    <li>
      <span><%=h "Hello," -%></span>&nbsp;<%= link_to current_admin.login, admin_path(current_admin), :class => 'login login-admin' -%>!
    </li>
    <li>
      <%= link_to 'Log out', admin_logout_path -%>
    </li>
  </ul>
<%- end -%>