<!-- OpenID field -->
	<p>
		<%= label_tag 'openid_url', 'Log in with OpenID:'.t %>	<br />
		<%= image_tag("openid.png", :alt => ''.t, :class => 'openid') %> <%= text_field_tag "openid_url", '',  :tabindex => '1' %>
	</p>
	<p>
		<%= check_box_tag('remember_me', '1', false,  :tabindex => '2') %>
		<%= label_tag 'remember_me', 'Remember me'.t %>
		<%= submit_tag 'Log in'.t, :class => 'submit', :tabindex => '3' %>
	</p>
	<p class="footnote openid">
		<%= link_to_remote 'Return to standard login'.t , {:url => {:action => 'passwd'}}, :href => url_for( :action => 'new', :use_openid => false ), :tabindex => '4' %>
	</p>
