<p>
	<%= image_tag("openid.png", :alt => '', :class => 'openid', :title => 'Open Id') %>
	<%= text_field_tag "openid_url", '', :class => 'text' %>
</p>	
<p class="footnote">
  <%= check_box_tag('remember_me', '1', false) %>
  <%= label_tag 'remember_me', t('remember_me', :default => "Remember me") %>&nbsp;|
  <%= link_to_remote 'standard login', {:url => {:controller => :session, :action => 'passwd_small'}}, 
 										 :href => url_for(:overwrite_params => { :use_openid => false }), :class => 'footnote' %>
</p>
<p>
  <%= submit_tag t('login', :default => "Login"), :class => 'button' %>
</p>