<!-- OpenID field -->	
<span class="authentication-label"><label for="openid_url"><%=h 'Login with OpenID'.t %></label></span>
<br />
<%= image_tag("openid.png", :alt => h('OpenID logo').t, :class => 'authentication-openidlogo') %> <%= text_field_tag "openid_url", '', :class => 'authentication-textfield', :tabindex => '1' %>
<br />
<%= check_box_tag('remember_me', '1', false, :class => 'authentication-checkboxfield', :tabindex => '2') %>
<span class="authentication-label"><label for="remember_me"><%=h "Remember me".t %></label></span>
<%= submit_tag h('Login').t, :class => 'authentication-submitbutton', :tabindex => '3' %>
<br /><br /><br />
<%= link_to_remote h('Return to standard login').t , {:url => {:action => 'passwd'}}, :href => url_for( :action => 'new', :use_openid => false ), :class =>'authentication-subheading', :tabindex => '4' %>
