	<p>
		<%= label_tag 'login', 'User name:'.t  %><br />
		<%= text_field_tag 'login', '',  :tabindex => '1' %>
	</p>
	<p>
		<%= label_tag 'password', 'Password:'.t  %><br />
		<%= password_field_tag 'password', '',  :tabindex => '2' %>
	</p>
	<p>
		<%= check_box_tag('remember_me', '1', false,  :tabindex => '3') %>
  		<%= label_tag 'remember_me', 'Remember me'.t  %> 
		<%= submit_tag 'Login'.t, :class => 'submit', :tabindex => '4' %>
	</p>
	<p class="footnote">
		<%= link_to 'forgot password?'.t, new_password_path, :tabindex => '6' %>
	</p>
	<% if ArchiveConfig.USE_OPENID %>
	<p>
		<%= image_tag("openid.png", :alt => ''.t) %> <%= link_to_remote('Login with OpenID'.t, {:url => { :action => 'openid' }}, :href => url_for(:action => 'new', :use_openid => true ),  :tabindex => '5' )%>
	</p>
<%- end -%>
