<dl>
	<dt><%= label_tag 'login', 'User name:'.t  %></dt>
	<dd>
		<%= text_field_tag 'login', '' %>
    <%- if ArchiveConfig.USE_OPENID -%>
      <%= link_to_remote image_tag("openid.png", :class => 'openid', :alt => 'OpenID'.t, :title => 'OpenID'.t) , 
																	 {:url => {:controller => :session, :action => 'openid_small'}}, 
							 										 :href => url_for(:overwrite_params => { :use_openid => true }) 
																	 -%>
    <%- end -%>
	</dd>
	<dt>
		<%= label_tag 'password', 'Password:'.t  %>
	</dt>
	<dd>
	  <%= password_field_tag 'password', '' %>
	</dd>
</dl>
<p class="footnote">
	<%= check_box_tag('remember_me', '1', false) %>
	<%= label_tag 'remember_me', 'Remember me'.t  %>&nbsp;| 
	<%= link_to 'forgot password?'.t, new_password_path %>
</p>
<p class="submit">
  <%= submit_tag 'Login'.t, :class => 'submit' %>
</p>