<h1><%= "Log In!" .t %></h1>

  <p>Log in or <%= link_to 'sign up for a new account', new_user_path %>.</p>
  
	<% form_tag admin_session_path do -%>
	  <p><label for="login"><%= "Login" .t %></label><br/>
	  <%= text_field_tag 'login' %></p>
	
	  <p><label for="password"><%= "Password" .t %></label><br/>
	  <%= password_field_tag 'password' %></p>
	
	  <p><%= submit_tag 'Log in' %></p>
	<% end -%>