<!-- loginform floated right -->
<%- if @restricted -%>
  <h3><%=h "Sorry!" %></h3>
  <p>
    <%=h "This story is only available to registered users of the Archive." %> 
    <%=h "If you already have an Archive of Our Own account, sign in now." %> 
    <%=h "Or join us for free - it's easy." %>
  </p>
<%- else -%>
  <h3><%=h "Login" %></h3>
  <p>
    <strong><%=h "Reminder:" %></strong>
    <span><%=h "This site is in early beta. Things may break or crash without notice. Please" %></span>
    <a href="http://code.google.com/p/otwarchive/issues/entry"><%=h "report" %></a>
    <span><%=h "any pesky bugs and give us your feedback!" %></span>
  </p>
<%- end -%>

<% form_tag session_path do -%>
<!-- renders either the normal or openid version of the form -->
<div id="loginform">
  <%- if params[:use_openid] -%>
  <%= render :partial => "openid" %>
  <%- else -%>
  <%= render :partial => "passwd" %>
  <%- end -%>
</div>
<%- end -%><!-- END form -->

<%- if ArchiveConfig.ACCOUNT_CREATION_ENABLED -%>
<!-- Create account link -->
<p><%= "New tester?" %> <%= link_to 'Create an account now.', new_user_path %></p>
<%- end -%>
