<h2><%=h ArchiveConfig.APP_NAME .t %></h2>

<!-- Please note the tabindex: for logical progression through the page, 
I have it set to tab through this link, then the "report" link, then the 
login/password/forgot/submit options.  Questions: Should the login box 
receive initial tab focus?  Should the login box be first in the tab index? -->
<h3 class="authentication-subheading">A project of the <a href="http://transformativeworks.org" tabindex="1">Organization For Transformative Works</a></h3>

<!-- loginform floated right -->
<div id="authentication-loginform">

  <p>Welcome! You can <%= link_to 'browse the posted works', works_path -%> or log in below.</p>
			
  <% form_tag session_path do -%>	
	
<!-- login field -->
	<p>
	<span class="authentication-label"><label for="login"><%= "user name".t.capitalize %>:</label></span><br />
	<%= text_field_tag 'login', '', :class => 'authentication-textfield', :tabindex => '2' %><br />
	
			
<!-- Password field -->
	
	<span class="authentication-label"><label for="password"><%= "Password" .t %>:</label></span><br />
	<%= password_field_tag 'password', '', :class => 'authentication-textfield', :tabindex => '3' %><br />
	</p>
<% if ArchiveConfig.USE_OPENID %>	
	<p><%= "or use..." .t %></p>
	  
<!-- OpenID field -->	
	<p>  
	  <span class="authentication-label"><label for="openid_url"><%= "OpenID URL" .t %>:</label></span><br />
      <%= text_field_tag "openid_url", '', :class => 'authentication-textfield', :tabindex => '4' %><br />
	</p>
<% end %>
<!-- Remember me checkbox -->
	<p><span class="authentication-label"><label for="remember_me"><%= "Remember me" .t %>: </label></span>
	<%= check_box_tag 'remember_me', :class => 'authentication-checkboxfield' %></p>

<!-- Submit button -->
	<p><%= submit_tag 'Log in', :tabindex => '5' %></p>
  
  <% end -%>

<!-- forgot/change password link -->
	<p><%= link_to 'Forgot/change password?' .t, new_password_path, :tabindex => '6' %>
	</p>
	<br />
	
<!-- Create account link -->
	<p>
	<span class="authentication-footnote"><%= "New tester?" .t %> <%= link_to 'Create an account' .t, new_user_path, :tabindex => '7' %></span>
	</p>

</div>

<!-- And now the non-floated div. -->
<div id="authentication-logo"><%= image_tag(ArchiveConfig.LOGO, :alt => ArchiveConfig.ALT_LOGO) -%></div>

<!-- And now we clear the floats so the footer information will show up properly. -->
<div class="clearboth"></div>
