<!-- loginform floated right --><h2 class="authentication-loginheading"><%=h "Login".t %></h2>
<p>
  <strong><%=h "Warning:".t %></strong>
  <span><%=h "This site is in extreme alpha. Things may break or crash without notice. Please".t %></span>
  <a href="mailto:otw-testers@transformativeworks.org" tabindex = '8'><%=h "report".t %></a>
  <span><%=h "all crashes to us, and remain seated until the test has come to a full and complete stop.".t %></span>
</p>
<% form_tag session_path do -%>
<!-- renders either the normal or openid version of the form -->
<div id="loginform">
  <%- if params[:use_openid] -%>
  <%= render :partial => "openid" %>
  <%- else -%>
  <%= render :partial => "passwd" %>
  <%- end -%>
</div>
<%- end -%><!-- END form -->
<br/>
<!-- Create account link -->
<p>
  <span class="authentication-footnote"><%= "New tester?" .t %> <%= link_to 'Create an account now.' .t, new_user_path, :tabindex => '7' %></span>
</p>
