<%= form_with(model: @work, id: "work-form", class: "verbose work post", url: { action: "update" }) do |f| %>
  <p class="required notice">* <%= t(".required_information") %></p>

  <%= render "work_form_tags", include_blank: false %>

  <fieldset role="article">
    <legend><%= t(".associations_title") %></legend>
    <h3 class="landmark heading"><%= t(".associations_title") %></h3>
    <dl>
      <%= render "work_form_associations_language", f: f %>
    </dl>
  </fieldset>

  <% if policy(@work).comment_settings_access? %>
    <fieldset class="privacy" role="article">
      <legend><%= t("works.permissions.privacy") %></legend>
      <h3 class="landmark heading"><%= t("works.permissions.privacy") %></h3>
      <dl>
        <%= render "work_form_comment_permissions", f: f %>
      </dl>
    </fieldset>
  <% end %>

  <%= render "posting_fieldset" %>

<% end %>
