<h2 class="landmark heading"><%= t(".page_title") %></h2>

<p class="caution">
  <%= t(".caution") %>
</p>

<ul class="actions" role="navigation">
  <li>
    <%= link_to t(".navigation.continue"), current_path_with(view_adult: true) %>
  </li>
  <li>
    <%= link_to t(".navigation.back"), :back %>
  </li>
  <% if logged_in? %>
    <li>
      <%= link_to t(".navigation.preferences"), user_preferences_path(current_user) %>
    </li>
  <% end %> 
</ul>

<p class="message footnote">
  <%= t(".footnote") %>
</p>

<div class="clear"></div>

<ol class="work index group">
  <%= render "works/work_blurb", work: @work %>
</ol>
