<p class="message"><%= ts("Please verify the names of your co-authors") %></p>

<%= form_for(@work) do |f| %>
  
  <%= render 'pseuds/coauthor_form', :creation => @work, :form => f %>
  
  <%= render 'hidden_fields', :form => f %>

  <p class="submit cancel actions">
    <%= submit_tag ts('Preview'), :name => 'preview_button' %>
    <%= submit_tag ts('Cancel'), :name => 'cancel_coauthor_button' %> 
  </p>

<% end %>