<p class="message"><%=h 'Please verify the names of your co-authors'.t %></p>

<%- form_for(@work) do |f| -%>
  
  <%= render :partial => 'pseuds/coauthor_form', :locals => {:creation => @work, :form => f} %>
  
  <%= render :partial => 'hidden_fields', :locals => {:form => f} -%>

  <p class="field-right">
    <%= submit_tag 'Preview'.t, :name => 'preview_button' %>
    <%= submit_tag 'Cancel'.t, :name => 'cancel_coauthor_button' %> 
  </p>

<% end %>