<%= form_tag( @collection ? collection_works_path(@collection) : works_path, :class => 'filters', :method => :get, :id => 'work_filters') do %>
  <h3 class="landmark heading"><%= ts("Filters") %></h3>
  <%= field_set_tag (ts('Filter results:') + link_to_help("filters")).html_safe do %>
    <p>Tag filtering is undergoing maintenance and should return by the end of July. To narrow your results, consider using <%= link_to "advanced search", search_path %>.</p>
    <dl class="filters" role="menu">
      <dt><%= ts("Language") %></dt>
      <dd><%= select_tag :language_id, ('<option></option>' + options_from_collection_for_select(Language.default_order, :short, :name, params[:language_id])).html_safe %></dd>
      <dt><%= ts("Status") %></dt>
      <dd><%= check_box_tag 'complete', '1', params[:complete] == '1' %><%= label_tag 'complete', "Complete only" %></dd>
      <dt class="landmark"><%= ts("Submit") %></dt>
      <dd class="submit actions"><%= submit_tag ts('Filter Works') %></dd>
    </dl>
    <div>
      <%= hidden_field_tag("tag_id", @tag.name) if @tag %>
      <%= hidden_field_tag("query", @query) if @query %>
      <%= hidden_field_tag("fandom_id", @fandom.id) if @fandom %>
      <%= hidden_field_tag("pseud_id", @author.name) if @author %>
      <%= hidden_field_tag("user_id", @user.login) if @user %>
    </div>
  <% end %>
<% end %>
