<%- unless @filters.blank? && (@user.blank? || @user.psueds.size == 1) -%>
<%- form_tag(works_path, :class => 'story-filters', :method => :get) do -%>
  <%- field_set_tag 'Filter stories by: ' do -%>
 		<dl class="story-filters">
			<%- unless (@user.blank? || @user.pseuds.size == 1) -%>
        <dt onclick='toggleFilters("filter-pseuds")'>Pseud</dt>
        <dd id="filter-pseuds" class="filter-tags">
          <ul>
            <%- for pseud in @user.pseuds -%>
              <%- if pseud.works.count > 0 -%>
                <li>
                  <%= check_box_tag 'pseuds[]', pseud.name, @pseuds.include?(pseud.name) %>
                  <%= label_tag "pseuds[#{pseud.name}]", pseud.name %>  
                </li>
              <%- end -%>
            <%- end -%> 
          </ul>
        </dd>			
			<%- end -%>
      <%- unless @filters.blank? -%>
        <%- @filters.each_pair do |tag_category, tags| -%>
          <dt onclick='toggleFilters("tag_category_<%= tag_category.id %>")'><%= tag_category.name %></dt>
          <dd id="tag_category_<%= tag_category.id %>" class="filter-tags">
            <ul>              
              <%- for tag in tags -%>
                <li>
                  <%= check_box_tag "selected_tags[" + tag_category.name + '][]', tag.name, @selected_tags[tag_category.name].blank? ? false : @selected_tags[tag_category.name].include?(tag.name) %>
                  <%= label_tag "selected_tags[" + tag_category.name + "][#{tag.name}]", tag.name %>  
                </li>
              <%- end -%> 
           </ul>
          </dd>
        <%- end -%>         
      <%- end -%>
		</dl>
		<p><%= hidden_field_tag("query", @query) if @query %></p>
		<p><%= hidden_field_tag("tag_id", @tag.id) if @tag %></p>
		<p><%= hidden_field_tag("fandom_id", @fandom.id) if @fandom %></p>
		<p><%= hidden_field_tag("user_id", @user.login) if @user %></p>
		<p class="submit"><%= submit_tag "Filter Stories" %></p>
  <%- end -%>
  <%- end -%>
<%- end -%>
