<%- unless @filters.blank? && (@pseuds.size < 1 || (@user && @pseuds.size < 2)) -%>
<%- form_tag(works_path, :class => 'story-filters', :method => :get) do -%>
  <%- field_set_tag 'Filter these results: '.t do -%>
 		<dl class="story-filters">
			<%- unless (@pseuds.size < 1 || (@user && @pseuds.size < 2)) -%>
        <dt onclick='toggleFilters("filter-pseuds")'>
          <span id="filter-pseuds_closed" style="display: none;"><%= image_tag 'arrow-right.gif', :alt => "" -%></span>
          <span id="filter-pseuds_open"><%= image_tag 'arrow-down.gif', :alt => "" -%></span>              
          Author
        </dt>
        <dd id="filter-pseuds" class="filter-tags">
          <ul>
            <%- for pseud in @pseuds -%>
              <%- if pseud.works.count > 0 -%>
                <li>
                  <%= check_box_tag 'selected_pseuds[]', pseud.id, @selected_pseuds.include?(pseud) %>
                  <%= label_tag "selected_pseuds[#{pseud.name}]", pseud.name %>  
                </li>
              <%- end -%>
            <%- end -%> 
          </ul>
        </dd>			
			<%- end -%>
			<%- unless @filters.blank? -%>
			  <%- TagCategory::OFFICIAL.each do |tag_category| -%>
				  <%- unless @filters[tag_category.id.to_s].blank? -%>
          <dt onclick='toggleFilters("tag_category_<%= tag_category.id %>");'>
            <span id="tag_category_<%= tag_category.id %>_closed" style="display: none;"><%= image_tag 'arrow-right.gif', :alt => "" -%></span>
            <span id="tag_category_<%= tag_category.id %>_open"><%= image_tag 'arrow-down.gif', :alt => ""-%></span>              
            <%= tag_category.display_name %> 
          </dt>
          <dd id="tag_category_<%= tag_category.id %>" class="filter-tags">
            <ul>              
              <%- @filters[tag_category.id.to_s].each do |tag_info| -%>
                <li>
                  <%= check_box_tag "selected_tags[]", tag_info[:id], @selected_tags.include?(tag_info[:id]) -%>
                  <%= label_tag "selected_tags[#{tag_info[:id]}]", "#{tag_info[:name]} (#{tag_info[:count]})" %>  
                </li>
              <%- end -%> 
           </ul>
          </dd>
					<%- end -%>
        <%- end -%>         
      <%- end -%>
		</dl>
		<p>
  		<%= hidden_field_tag("query", @query) if @query %>
  		<%= hidden_field_tag("tag_id", @tag.id) if @tag %>
  		<%= hidden_field_tag("fandom_id", @fandom.id) if @fandom %>
  		<%= hidden_field_tag("user_id", @user.login) if @user %>
		</p>
		<p class="submit"><%= submit_tag "Filter Stories" %></p>
  <%- end -%>
  <%- end -%>
<%- end -%>
