<%= form_for @search, 
  url: (@collection ? collection_works_path(@collection) : works_path), 
  html: { 
    :method => :get, 
    :class => 'filters', 
    :id => 'work_filters'
  } do |f| %>
  <h3 class="landmark heading"><%= ts("Filters") %></h3>
  <%= field_set_tag ts('Filter results:') do %>
    <dl class="filters" role="menu">
      <dt class="landmark"><%= ts("Submit") %></dt>
      <dd class="submit actions"><%= f.submit ts('Sort and Filter') %></dd>
      <dt>
        <%= f.label :sort_column, ts("Sort by") %>
      </dt>
      <dd>
        <%= f.select :sort_column, options_for_select(@search.sort_options, @search.sort_column) %>
      </dd>
      <dt><%= ts("Top 10 Tags") %><%= link_to_help "filters-tags-help" %></dt>
      <dd>
        <dl>
          <% %w(rating warning category fandom character relationship freeform).each do |tag_type| %>
            <dt>
              <noscript><%= tag_type_label(tag_type) %></noscript>
              <a class="tag_category_<%= tag_type %>_open hidden" href="#">
                <%= image_tag 'arrow-right.gif', :alt => "" %>
                <%= tag_type_label(tag_type) %>
              </a>
              <a class="tag_category_<%= tag_type %>_close hidden" href="#">
                <%= image_tag 'arrow-down.gif', :alt => "" %>
                <%= tag_type_label(tag_type) %>
              </a>
            </dt>
            <dd id="tag_category_<%= tag_type %>" class="tags toggled">
              <ul>              
                <% @facets[tag_type].each do |tag| %>
                  <li>
                    <% if (tag_type == "rating") && @facets[tag_type].length > 1 %>
                      <%= radio_button_tag "work_search[#{tag_type}_ids][]", 
                        tag.id, 
                        @search.send("#{tag_type}_ids").present? && @search.send("#{tag_type}_ids").include?(tag.id.to_s), 
                        :id => "work_search_#{tag_type}_ids_#{tag.id}" %> 
                    <% else %>
                      <%= check_box_tag "work_search[#{tag_type}_ids][]", 
                        tag.id,
                        @search.send("#{tag_type}_ids").present? && @search.send("#{tag_type}_ids").include?(tag.id.to_s), 
                        :id => "work_search_#{tag_type}_ids_#{tag.id}" %>
                    <% end %>
                    <%= label_tag "work_search_#{tag_type}_ids_#{tag.id}", 
                      "#{tag.name} (#{tag.count})" %>
                  </li>
                <% end %>
              </ul>
            </dd>
          <% end %>
        </dl>
      </dd>
      <dt class="autocomplete"><%= f.label 'other_tag_names', ts("Other Tags") %><%= link_to_help "filters-tags-help" %></dt>
      <dd class="autocomplete">
        <%= f.text_field 'other_tag_names', autocomplete_options("tag") %>
      </dd>
      <dt><%= f.label :query, ts("Search within results") %><%= link_to_help "work-search-text-help" %></dt>
      <dd><%= f.text_field :query %></dd>
      <dt><%= ts("Language") %></dt>
      <dd><%= f.collection_select(:language_id, Language.default_order, :id, :name, include_blank: true) %></dd>
      <dt><%= ts("Status") %></dt>
      <dd>
        <%= f.check_box :complete %>
        <%= f.label :complete, ts("Complete only") %>
      </dd>
      <dt class="landmark"><%= ts("Submit") %></dt>
      <dd class="submit actions"><%= f.submit ts('Sort and Filter') %></dd>
    </dl>
    <div>
      <%= hidden_field_tag("collection_id", @collection.id) if @collection %>
      <%= hidden_field_tag("tag_id", @tag.to_param) if @tag %>
      <%= hidden_field_tag("fandom_id", @fandom.id) if @fandom %>
      <%= hidden_field_tag("pseud_id", @pseud.name) if @pseud %>
      <%= hidden_field_tag("user_id", @user.login) if @user %>
    </div>
  <% end %>
<% end %>

<%= content_for :footer_js do %>
  <script src="/javascripts/filters.js" type="text/javascript"></script>
<% end %>
