<!-- This partial renders a form for importing a work from an existing URL -->
<p class="message">
  <strong><%= t('import.please_note', :default => 'Please note!') %></strong> 
  <%= t('import.does_not_always_work', 
        :default => 'We cannot always automatically import works. If you have trouble, please 
                     <a href="http://code.google.com/p/otwarchive/issues/detail?id=785">let us know</a> so we can improve this tool!') %>
</p>
<p id="">
  <%= t('import.allowed_html', :default => 'Allowed HTML:') %><br />
  <code>a href, b, blockquote, br, center, cite, code, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, ul</code>
</p>
  
<% form_tag url_for(:controller => :works, :action => :import) do %>
<fieldset>
  <legend>Works URLs</legend>
  <p>
    <%= label_tag "urls", t('import.url', :default => 'URLs for existing work(s) or for the chapters of a single work, one URL per line (note: if you are importing a chaptered work from ff.net, you only need to enter the first chapter):') -%> <br />
    <%= text_area_tag "urls", @urls ? @urls.join("\n") : "", :rows => 20, :cols => 90 -%>
  </p>
  
  <p>
    <%= radio_button_tag "import_multiple", "works", true %>
    <%= label_tag "import_multiple_works", t('import.works', :default => "Works (limit of {{max}})", :max => current_user.is_archivist? ? ArchiveConfig.IMPORT_MAX_WORKS_BY_ARCHIVIST : ArchiveConfig.IMPORT_MAX_WORKS) -%>
    <br />
    <%= radio_button_tag "import_multiple", "chapters" %>
    <%= label_tag "import_multiple_chapters", t('import.chapters', :default => "Chapters in a single work (limit of {{max}})", :max => ArchiveConfig.IMPORT_MAX_CHAPTERS) -%>
  </p>
</fieldset>

<!-- this code is not yet functional 
<fieldset>
  <legend>Work Tags</legend>
  <p class="override-tags">
    <%= radio_button_tag "override_tags", "fallback", true %> <%= label_tag "override_tags_fallback", t('import_fallback_tags', :default => 'Use below tags as fallbacks if tags cannot be automatically detected.') -%>
    <br />
    <%= radio_button_tag "override_tags", "override" %> <%= label_tag "override_tags_override", t('import_override_tags', :default => 'Override all automatically detected tags with below values') -%>
  </p>
  <%= render :partial => 'work_tags_form', :locals => {:include_blank => true} -%>
</fieldset>
  <fieldset>
    <legend>Publishing Options</legend>
    <p>
    <%= radio_button_tag "post_without_preview", false, true %>
    <%= label_tag "post_manually", t('import.post_manually', :default => "Post Manually (after reviewing drafts)") -%>
    <br />
    <%= radio_button_tag "post_without_preview", "true" %>
    <%= label_tag "post_without_preview", t('import.post_without_preview', :default => "Post without preview (make sure you have tested manually on at least one work from this site first)") -%>
  </p>
  </fieldset>
-->
  
  <p class="submit">
  <%= submit_tag t('import.import_story', :default => 'Import') -%>
  </p>

<%- end -%>
