<!-- This partial renders a form for importing a work from an existing URL -->
<p class="message">
  <strong><%= t('import.please_note', :default => 'Please note!') %></strong> 
  <%= t('import.does_not_always_work', 
        :default => 'We cannot always automatically import works. If you have trouble, please 
                     <a href="http://code.google.com/p/otwarchive/issues/detail?id=785">let us know</a> so we can improve this tool!') %>
</p>
<p id="">
  <%= t('import.allowed_html', :default => 'Allowed HTML:') %><br />
  <code>a href, b, blockquote, br, center, cite, code, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, ul</code>
</p>
  
<% form_tag url_for(:controller => :works, :action => :import) do %>
  <p>
    <%= label_tag "urls", t('import.url', :default => 'URLs for existing work(s) or for the chapters of a single work:') -%> <br />
    <%= text_area_tag "urls", @urls ? @urls.join("\n") : "", :rows => 20, :cols => 90 -%>
  </p>
  
  <p>
    <%= radio_button_tag "import_multiple", "chapters", true %>
    <%= label_tag "import_multiple_chapters", t('import.chapters', :default => "Chapters in a single work (limit of {{max}})", :max => ArchiveConfig.IMPORT_MAX_CHAPTERS) -%>
    <br />
    <%= radio_button_tag "import_multiple", "works" %>
    <%= label_tag "import_multiple_works", t('import.works', :default => "Works (limit of {{max}})", :max => ArchiveConfig.IMPORT_MAX_WORKS) -%>
  </p>
  
  <%= submit_tag t('import.import_story', :default => 'Import') -%>

<%- end -%>
