
<dl class="work-meta">
	<%- work_tags = work.tags -%>
  <%- @tag_categories.each do |category| -%>
		<%- tags = work_tags.select{|tag| tag.tag_category_id == category.id} -%>
    <%- unless tags.blank? -%>
      <dt class="<%= category.display_name.downcase -%>">
        <%= category.display_name %>:
      </dt>
	    
      <dd>
        <ul id="work_<%= work.id %>_category_<%= category.id %>">
        <%- if category == TagCategory::WARNING && hide_warnings?(work) -%>        
          <li><%= show_warnings_link(work, category) %></li> 
        <%- else -%>
          <%- tags.each do |tag| -%>
          <li class="<%= category.display_name.downcase -%>">
            <%= link_to_tag(tag) %> 
          </li>
          <%- end -%>
        <%- end -%>
        </ul>
      </dd>
    <%- end -%>
  <%- end -%>
</dl>
