<dl class="work-meta">
  <%- work_tags = work.tags -%>
  <%- Tag::VISIBLE.each do |type| -%>
    <%- tags = work_tags.select{|tag| tag.type == type} -%>
    <%- unless tags.blank? -%>
      <dt class="<%= type.downcase -%>">
        <%= tags.size == 1 ? type.constantize::NAME : type.constantize::NAME.pluralize %>:
      </dt>
	    
      <dd>
        <ul id="work_<%= work.id %>_category_<%= type.downcase %>">
        <%- if type == "Warning" && hide_warnings?(work) -%>        
          <li><%= show_warnings_link(work) %></li> 
        <%- else -%>                   
          <%= tags.collect{|tag| "<li class=#{tag.type.downcase}>" + link_to_tag(tag) + '</li>' }.join(', ') %>
        <%- end -%>
        </ul>
      </dd>
    <%- end -%>
  <%- end -%>
</dl>
