<div class="work-meta">
  <%- work_tags = collect_work_tags(work, @preview_mode) -%>
  <ul class="column">
  <%- Tag::VISIBLE.each do |type| -%>
    <%- tags = work_tags.select{|tag| tag.type == type} -%>

    <%- unless tags.blank? -%>
    <li class="<%= type.downcase -%> meta tags">
      <div class="label">
        <%- if type == "Warning" -%>
          <%= link_to( tags.size == 1 ? type.constantize::NAME : type.constantize::NAME.pluralize, tos_faq_path(:anchor => "tags") ) %>:
        <%- else -%>
          <%= tags.size == 1 ? type.constantize::NAME : type.constantize::NAME.pluralize %>:
        <%- end -%>
      </div>
	    
      <div class="item" id="work_<%= work.id %>_category_<%= type.downcase %>">
        <%- if type == "Warning" && hide_warnings?(work) -%>        
          <%= show_warnings_link(work) %> 
          
          <%- else if type == "Freeform" && hide_freeform?(work) -%>
          <%= show_freeforms_link(work) %> 
          
        <%- else -%>                   
          <%= tags.collect{|tag| "<span class='#{tag.type.downcase}'>" + link_to_tag(tag) + '</span>' }.join(', ') %>
        <%- end -%>
        <%- end -%>
      </div>
    </li>
    <%- end -%>
  <%- end -%>
  </ul>
  <div class="spacer">&nbsp;</div>
</div>
