<dl class="work-meta">
  <%- work_tags = work.tags -%>
  <%- Tag::VISIBLE.each do |type| -%>
    <%- tags = work_tags.select{|tag| tag.type == type} -%>
    <%- unless tags.blank? -%>
      <dt class="<%= type.downcase -%>">
        <%= type.constantize::NAME %>:
      </dt>
	    
      <dd>
        <ul id="work_<%= work.id %>_category_<%= type.downcase %>">
        <%- if type == "Warning" && hide_warnings?(work) -%>        
          <li><%= show_warnings_link(work) %></li> 
        <%- else -%>
          <%- tags.each do |tag| -%>
            <li class="<%= type.downcase -%>">
              <%= link_to_tag(tag, true) %> 
            </li>
          <%- end -%>
        <%- end -%>
        </ul>
      </dd>
    <%- end -%>
  <%- end -%>
</dl>
