<%= render :partial => 'work' %> 

<%- form_for(@work) do |f| -%>

  <select name="work[author_attributes][ids][]" multiple="multiple" style="display : none;">
    <%= options_from_collection_for_select(@work.authors, :id, :name, @work.authors.collect {|pseud| pseud.id.to_i }) %>
  </select>

  <% fields_for_associated('work', @work.metadata) do |m| %>
    <%= m.hidden_field :title, :value => "#{@work.metadata.title}" %>
    <%= m.hidden_field :summary, :value => "#{@work.metadata.summary}" %>
    <%= m.hidden_field :notes, :value => "#{@work.metadata.notes}" %>
  <%- end -%>

  <% fields_for_associated('work', @chapter) do |c| %>
    <%= c.hidden_field :content, :value => "#{@work.chapters.first.content}" %>
  <%- end -%>

  <%= f.hidden_field :expected_number_of_chapters, :value => "#{@work.expected_number_of_chapters}" %>

  <p class="field-right">
	<% if @work.posted? %>
		<%= submit_tag 'Update', :name => 'update_button' %>
	<% else %>
		<%= submit_tag 'Post', :name => 'post_button' %>
	<% end %>
    <%= submit_tag 'Edit', :name => 'edit_button' %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %> 
  </p>

  <p class="clearbothdrop"></p>

<% end %>
