<div id="previewpane">
  <%= render :partial => 'work' %> 
</div>

<%- form_for(@work) do |f| -%>

  <select name="work[author_attributes][ids][]" multiple="multiple" style="display : none;">
    <%= options_from_collection_for_select(@work.authors, :id, :name, @work.authors.collect {|pseud| pseud.id.to_i }) %>
  </select>

  <% fields_for_associated('work', @work.metadata) do |m| %>
    <%= m.hidden_field :title, :value => "#{@work.metadata.title}" %>
    <%= m.hidden_field :summary, :value => "#{@work.metadata.summary}" %>
    <%= m.hidden_field :notes, :value => "#{@work.metadata.notes}" %>
  <%- end -%>

  <% fields_for_associated('work', @chapter) do |c| %>
    <%= c.hidden_field :content, :value => "#{@chapter.content}" %>
  <%- end -%>

  <%= f.hidden_field :expected_number_of_chapters, :value => "#{@work.expected_number_of_chapters}" %>
  <%= f.hidden_field :restricted, :value => "#{@work.restricted}" %>

	<p>
  <!-- Tags -->
 
	 <span class="required">* Required field</span> <%= image_tag("question.png", :size => "20x20", :alt => "More info") %>
	 <p>
		<span class="field-left">
		  <% TagCategory.official.each do |category| %>
        <% if category.required -%>
          <span class="required storylabel">
        <% else-%>
          <span class="storylabel">
        <% end -%>
        <%= category.display_name %>
          </span>
        <% if category.exclusive %>
          <%= collection_select(:work, category.name.to_sym, TagCategory.official_tags(category.name), :name, :name) %>		
        <% else %>
          <%= f.text_field category.name %>
        <% end %>
        <br />
	    <% end %>		
		</span>
	</p>
  <p class="clearbothdrop"></p>

  <p class="field-right">
	<% if @work.posted? %>
		<%= submit_tag 'Update', :name => 'update_button' %>
	<% else %>
		<%= submit_tag 'Post', :name => 'post_button' %>
	<% end %>
    <%= submit_tag 'Edit', :name => 'edit_button' %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %> 
  </p>

  <p class="clearbothdrop"></p>

<% end %>
