<%- form_tag url_for(:controller => 'works', :action => 'search'), :class => 'search', :method => :get do -%>
<fieldset>
	<legend>Search works</legend>
  <p>
	  <%= text_field_tag "query[text]", @query[:text], :id => 'refine_text' %>
    <%= link_to_help "work-search-text-help" -%> (any field)
  </p>
  <dl>
  <dt>
	  <label for="refine_tag"><%= t('tag', :default => 'tag:') %></label>
    </dt><dd>
    <%= text_field_tag "query[tag]", @query[:tag], :id => 'refine_tag' %>
    <%= link_to_help "work-search-text-help" -%>
  </dd>
  <dt>
	  <label for="refine_title"><%= t('title', :default => 'title:') %></label>
    </dt><dd>
    <%= text_field_tag "query[title]", @query[:title], :id => 'refine_title' %>
    <%= link_to_help "work-search-text-help" -%>
  </dd>
  <dt>
	  <label for="refine_author"><%= t('author', :default => 'author:') %></label>
    </dt><dd>
    <%= text_field_tag "query[author]", @query[:author], :id => 'refine_author' %>
    <%= link_to_help "work-search-text-help" -%>
  </dd>
  <dt>
	  <label for="refine_word_count"><%= t('words', :default => 'words:') %></label>
    </dt><dd>
    <%= text_field_tag "query[words]", @query[:words], :id => 'refine_word_count' %>
    <%= link_to_help "work-search-numerical-help" -%>
  </dd>
  <dt>
	  <label for="refine_hit_count"><%= t('hits', :default => 'hits:') %></label>
    </dt><dd>
    <%= text_field_tag "query[hits]", @query[:hits], :id => 'refine_hit_count' %>
    <%= link_to_help "work-search-numerical-help" -%>
  </dd>
  <dt>
	  <label for="refine_revised_at"><%= t('date_desc', :default => 
'date:') %></label>
    </dt><dd>
    <%= text_field_tag "query[date]", @query[:date], :id => 'refine_revised_at' %>
    <%= link_to_help "work-search-date-help" -%>
  </dd>
  <dt>
	  <label for="refine_language"><%= t('language', :default => 'language:') %></label>
    </dt><dd>
    <%= select_tag "query[language]", "<option></option>" + options_from_collection_for_select(@languages, 'name', 'name', @query[:language]), :id => 'refine_language' %>
    <%= link_to_help "work-search-language-help" -%>
  </dd>
  </dl>
  <span class="submit">
    <%= submit_tag t('forms.search', :default => 'Search works'), :class => 'button', :name => nil %>
  </span>
</fieldset>
<% end -%>
