<%= form_for WorkSearch.new, :url => search_works_path, :html => {:class => 'search', :id => 'search', :method => :get} do |f| %>
  <fieldset>
    <legend><%= ts("Search Works") %></legend>
    <p>
      <%= label_tag :site_search, ts("Work Search:"), :class => 'landmark' %>
      <%= f.text_field :query, :class => 'text', :id => 'site_search' %>
      <span class="tip"><%= ts("tip:") %> <%= random_search_tip %></span>
      <span class="submit actions"><%= submit_tag ts('Search'), :class => 'button', :name => nil %></span>
    </p>
  </fieldset>
<% end %>
