<!-- This partial renders a form for uploading a work from an existing URL -->
  <p class="message">
    <strong><%= t('upload.please_note', :default => 'Please note!') %></strong> 
    <%= t('upload.may_not_work', :default => 'This feature is in the early stages of development and may not work well (or at all!) on many existing works.') %>
  </p>
 	<p id=""><%= t('upload.allowed_html', :default => 'Allowed HTML:') %><br />
    <code>a href, b, blockquote, br, center, cite, code, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, ul</code>
  </p>
<% form_tag url_for(:controller => :works, :action => :upload_work) do %>
    <p>
      <%= label_tag "work_url", t('upload.url', :default => 'URL for existing work:') -%> 
      <%= text_field_tag "work_url" -%>
      <%= submit_tag t('upload.load_story', :default => 'Load Story From URL') -%>
    </p>
  <%- end -%>
