<tr>
  <td><%= check_box_tag "work_ids[]", work.id %></td>
  <td><%= link_to sanitize_title_for_display(work.title, :tags => %w(em i b strong strike small)), work %></td>
  <td><%= work.fandom_tags.collect{|tag| link_to_tag(tag) }.join(', ') %></td>
  <td><%= link_to t('short_blurb.edit', :default => 'Edit'), edit_work_path(work) -%></td>
	<td><%= link_to t('short_blurb.orphan_work', :default => 'Orphan'), {:controller => 'orphans', :action => 'new', :work_id => work.id} -%></td>
	<td><%= link_to t('short_blurb.delete_work', :default => 'Delete'), work, 
	        :confirm => t('links.are_you_sure', :default => 'Are you sure?'), :method => :delete -%></td>
</tr>
