<div class="navigation-left">
<% if current_user.unposted_work && !params[:load_unposted] && !@use_import_form -%>
  <span class="navitem" id='restore-link'><%= link_to 'Try To Restore From Last Unposted Draft?', url_for(:action => :new, :load_unposted => true) -%></span>
<%- end -%>

<span class="navitem" id="upload-link" <%= @use_import_form ? 'style="display: none;"' : '' -%> >
 <%= link_to_remote( t('import', :default => 'Import From An Existing URL Instead?'), 
{:url => {:controller => :works, :action => :new, :import => true}},
:href => url_for(:controller => :works, :action => :new, :import => true)) -%>	
</span>

<span class="navitem" id="form-link"  <%= @use_import_form ? '' : 'style="display: none;"' -%> >	
 <%= link_to_remote( t('standard', :default => 'Return to Standard Form'), 
{:url => {:controller => :works, :action => :new, :import => false}},
:href => url_for(:controller => :works, :action => :new, :import => false)) -%>	
</span>

</div>
<div id="upload-work-form">
	<% if params[:import] -%>
	<%= render :partial => "import_form" %>
	<%- end -%>
</div>

<div id="work-form" class="work-form">
  <%- unless params[:import] -%>
  <%= render :partial => "standard_form" %>
  <%- end -%>
</div>
