<div class="story-show">

  <%= render :partial => 'metadatas/metadata', :locals => {:metadata => @work.metadata } -%>

  <h2 class="story-title"><%=h @work.metadata.title %></h2>
  <h3 class="story-author">
   <%= byline(@work) -%>
  </h3>
  
  <p class="story-summary">
    <%=sanitize_format @work.metadata.summary %>
  </p>
  
  <p class="story-notes">
    <%=sanitize_format @work.metadata.notes %>
  </p>
  
  <% if @work.is_wip -%>
  <p class="story-complete">
    <%= wip_message(@work) %>
  </p>
  <% end -%>

  <p>
    <!--Chapters go here -->
  <%= render :partial => 'chapters/chapters' -%>
  </p>
  
  <%= bookmark_link(@work) %>
</div>
