<!-- Autocomplete fields need to be refactored and moved to a helper, but I'd like to make them completely functional first. -->
<fieldset class="work meta">
  <p><%= h t('tags', :default =>"Story Tags (comma separated, #{ArchiveConfig.TAG_MAX} characters per tag)") -%><%= link_to_help "tagging-help" -%></p>
  <dl>
    <dt class="rating required">
      <label for="work_rating_string"><%= Rating::NAME -%>*<%= link_to_help "rating-help" -%></label>
    </dt>
    <dd class="rating required">
      <select id="work_rating_string" name="work[rating_string]">
      <%= options_for_select((include_blank ? [""] : []) +  [ArchiveConfig.RATING_DEFAULT_TAG_NAME, ArchiveConfig.RATING_GENERAL_TAG_NAME, ArchiveConfig.RATING_TEEN_TAG_NAME, ArchiveConfig.RATING_MATURE_TAG_NAME, ArchiveConfig.RATING_EXPLICIT_TAG_NAME], :selected => include_blank ? nil : rating_selected(@work) ) -%>		
      </select>   
    </dd>
    
    <dt class="warning required">
      <label for="work_warning"><%= Warning::NAME.pluralize -%>*<%= link_to_help "warning-help" -%></label>
    </dt>
    <dd class="warning required">
      <select id="work_warning" name="work[warning_strings][]" multiple="multiple">
        <%= options_for_select(warnings_for_tag_form,  (include_blank ? nil : warning_selected(@work)) ) -%>
      </select>
    </dd>
    
    <dt class="fandom required">
      <label for="work_fandom"><%= Fandom::NAME.pluralize -%>*</label>
    </dt>
    <dd class="fandom required">
      <input type="text" name="work[fandom_string]" id="work_fandom" value="<%= @work ? @work.fandom_string : "" %>" />
      <%= autocomplete_text_field("work_fandom") -%>
    </dd>
  	<dd class="fandom delay_notice"><%=h t('first_for_fandom', :default => "If this is the first story for a fandom, it may not show up in the fandoms page for a day or two") -%></dd>
	
    <dt class="category">
      <label for="work_category_string"><%= Category::NAME -%></label>
    </dt>
    <dd class="category">
      <%= collection_select(:work, :category_string, Category.canonical, :name, :name, {:include_blank =>  true}) -%>
    </dd>
  
    <dt class="pairing">
      <label for="work_pairing"><%= Pairing::NAME.pluralize -%></label>
    </dt>
    <dd class="pairing">
      <input type="text" name="work[pairing_string]" id="work_pairing" value="<%= @work ? @work.pairing_string : "" %>"/>
      <%= autocomplete_text_field("work_pairing") -%>
    </dd>
  
    <dt class="character">
      <label for="work_character"><%= Character::NAME.pluralize -%></label>
    </dt>
    <dd class="character">
      <input type="text" name="work[character_string]" id="work_character" value="<%= @work ?  @work.character_string : "" %>" />
      <%= autocomplete_text_field("work_character") -%>
    </dd>
  
    <dt class="freeform">
      <label for="work_freeform"><%= Freeform::NAME -%></label>
    </dt>
    <dd class="freeform">
      <input type="text" name="work[freeform_string]" id="work_freeform" value="<%=  @work ? @work.freeform_string : "" %>" />
      <%= autocomplete_text_field("work_freeform") -%>
    </dd>
    
  </dl>
</fieldset>
