<% form_for(@work) do |f| %> 
   
	<p>
  	<b>Pseud:</b>
  	<% if current_user.pseuds.count > 1 %>
  	  <p>
    	  <select name="pseud[id][]" multiple="multiple">
          <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
        </select> 
  	  </p>
  	<% else %>
  	  <%= hidden_field :pseud, :id, :value => "#{current_user.default_pseud.id}" %>
  		<b><%= current_user.default_pseud.name %></b><br />
  	<% end %>
  	<%= link_to 'Create pseud?', new_user_pseud_path(current_user) %>
	</p>
	
  <p>
    <%= link_to_function('Add co-authors', "Element.toggle('extra-pseuds')") %>
  </p>
	
	<div id="extra-pseuds" style="display : none;">
	  <b>Co-Authors</b><br />
	  <%= text_field_tag :extra_pseuds %>
    <p>Example: <strong>username:pseud, username:pseud</strong></p>
	</div>
	
  <% fields_for :metadata_attributes, @work.metadata do |m| %>
    <p>
      <b>Title</b><br />
      <%= m.text_field :title %>
    </p>

    <p>
      <b>Summary</b><br />
      <%= m.text_area :summary %>
    </p>

    <p>
      <b>Notes</b><br />
      <%= m.text_area :notes %> 
    </p>
  <% end %>
  <p>
  <b>Story, in plain text</b><br />
  <% @work.chapters.each do |chapter| %>
    <% fields_for :chapter_attributes, chapter do |c| %>
      <%= c.text_area :content, :index => chapter.id -%>
    <% end %>
  <% end %>
  </p>
  <p>
    <b>Expected number of chapters</b><br />
    <%= f.text_field :expected_number_of_chapters %>
  </p>

  <p>
    <b>Is complete</b><br />
    <%= f.check_box :is_complete %>
  </p>

  <p>
    <%= submit_tag 'Preview', :name => 'preview_button' %>
  </p>
<% end %>

