<!-- BEGIN navigation -->
<ul id="navigation">
  <li class="go-back"><%= link_to '&lt;&lt; ' + h('Back to story list').t, works_path -%></li>
  	
	<% if is_author_of?(@work) -%>
	<li><%= link_to h('Edit').t, edit_work_path(@work) %>&nbsp;|</li>
	<li><%= link_to h('Delete').t, @work, :confirm => h('Are you sure?').t, :method => :delete -%></li>
	<% end -%>
</ul>
<!-- END navigation -->

<%= render :partial => 'works/meta' %>
  
  <div id="series-and-view-data">
    <%- unless @work.series.blank? -%>
      <span id="work-series-data">
      <%= show_series_data(@work) %>
      </span>
    <%- end -%> 
    
    <span id="chapter-view-option">
      <%- if @work.number_of_posted_chapters > 1 -%>
		<ul>
          <%- if @chapters.length == 1 -%> <!-- we're reading chapter-by-chapter -->
			<li><%= link_to "View entire work".t, @work -%></li>
			<li><%= next_and_previous_links(@work, @chapter) -%></li>
          <%- else -%>
		    <li>
		      <%= link_to "View chapter by chapter".t, 
                    url_for({:controller => :chapters, :action => :show, :work_id => @work, :id => @chapters.first}) -%>
			</li>
          <%- end -%>
		</ul>
      <%- end -%>
    </span>
  </div>

  <h2 class="story-title">
    <% if @work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)".t) %><% end %>
    <% if @work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)".t) %><% end %>
    <%=sanitize @work.title, :tags => %w(em i b strong strike small) %>
  </h2>
  <h3 class="story-author">
   <%= byline(@work) -%>
  </h3>
  
  <p class="story-summary">
    <%=sanitize_limited @work.summary %>
  </p>
  
  <p class="story-notes">
    <%=sanitize_format @work.notes %>
  </p>
  
  <% if @work.is_wip -%>
  <p class="story-complete">
    <%= wip_message(@work) %>
  </p>
  <% end -%>
  
