<li class="story" id="<%=h work.id %>">
	<ul>
		<li class="story-title-line">
		    <h3 title="Story Title">
		    <% if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") %><% end %>
		    <% if work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %><% end %>
		    <%= link_to sanitize(work.title), work %>
		    </h3>
		</li>
		
	    <li class="story-date">
	      <%=h work.created_at.localize("%d %B %Y") %>
	    </li>

	  	<li class="story-byline">
	  		<%=h 'by'.t %> <%= render :partial => 'pseuds/byline', :locals => { :creation => work } -%>
		</li>
	
		<li class="story-tags">
			<ul>
			    <% work.tags.each do |tag| %>
			    <li><%= link_to tag.name, tag_path(tag) %></li>
		    	<% end %>			
			</ul>
		</li>

		<li class="story-desc">
			<%= sanitize_limited work.summary %>
			<p><%=h 'Words:'.t %> <%=h number_with_delimiter(work.word_count) %></p>
		</li>
	</ul>
</li>
