    <!--There must be a more elegant way of assigning class/id to elements, mustn't there? -->
    <li class="story" id="<%=h work.id %>">
      
      <div class="story-title-line">
        <h3 title="Story Title">
          <% if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") %><% end %>
          <% if work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %><% end %>  
          <%= link_to sanitize(work.title), work %>
        </h3>
      
        <div class="story-date">
          <%=h work.created_at.localize("%d %B %Y") %>
        </div>
      </div>

  	  <%=h 'by'.t %> <%= render :partial => 'pseuds/byline', :locals => { :creation => work } -%>

      <p class="story-tags">
        <% work.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </p>
      
      <p class="story-desc">
        <%= sanitize_limited work.summary %>
      </p>
      
      <p><%=h 'Words:'.t %> <%=h number_with_delimiter(work.word_count) %></p>
      
    </li>