<!-- BEGIN navigation -->
<h3 class="landmark heading"><%= ts("Actions") %></h3>
<ul class="work navigation actions" role="menu">
  <% if is_author_of?(@work) %>
    <li class="add"><%= link_to ts("Add Chapter"), new_work_chapter_path(@work) %></li>
    <li class="edit"><%= link_to ts("Edit"), edit_work_path(@work) %></li>
    <li class="edit tag"><%= link_to ts("Edit Tags"), edit_tags_work_path(@work) %></li>
    <li class="del"><%= link_to ts("Delete Work"), confirm_delete_work_path(@work) %></li>
  <% end %>


  <% # chapter navigation %>
  <% if @previous_chapter || @next_chapter %>
    <li class="chapter entire"><%= link_to ts("Entire Work"), work_path(@work, :view_full_work => 'true') %></li>

    <% if @previous_chapter %>
      <li class="chapter previous"><%= link_to '&#8592; '.html_safe + ts("Previous Chapter"), [@work, @previous_chapter] %></li>
    <% end %>
    
    <% if @next_chapter %>
      <li class="chapter next"><%= link_to h(ts("Next Chapter")) + ' &#8594;'.html_safe, [@work, @next_chapter] %></li>
    <% end %>
    
    <li class="chapter" aria-haspopup="true">
      <noscript>
        <%= link_to ts('Chapter Index'), navigate_work_path(@work) %>
      </noscript>
      <a class="hidden" href="#"><%= ts('Chapter Index') %></a>
      <ul id="chapter_index" class="expandable secondary hidden">
        <li>
          <%= form_tag url_for({:controller => :chapters, :action => :show, :work_id => @work}), :method => :get do %>
            <p>
              <% options = @chapters.map{|c| [c.abbreviated_display_title.html_safe, c.id] } %>
              <%= select_tag :selected_id, options_for_select(options, params[:id].to_i) %>
              <span class="submit actions"><%= submit_tag ts("Go") %></span>
            </p>
          <% end %>
        </li>
        <li><%= link_to ts("Full-page index"), navigate_work_path(@work) %></li>
      </ul>
    </li>
  <% elsif @chapters %>
    <li class="chapter bychapter"><%= link_to ts("View chapter by chapter"), [@work, @chapter] %></li>
  <% end %>


  <% # for users, bookmark and mark to read later %>
  <% if current_user.is_a?(User) %>
    <% @bookmark ||= bookmark_if_exists(@work) %>
    <li class="bookmark"><%= link_to (@bookmark ? ts("Edit Bookmark") : ts("Bookmark")), "#bookmark-form", :class => "bookmark_form_placement_open" %></li>
    <li><%= link_to ts("Cancel Bookmark"), "#", :class => "bookmark_form_placement_close" %></li>

    <% unless current_user.is_author_of?(@work) || current_user.try(:preference).try(:history_enabled) == false || marked_for_later?(@work) %>
      <li class="mark"><%= marktoread_link(@work) %></li>
    <% end %>
  <% end %>

  <li class="comments"><%= link_to ts("Comments"), (params[:view_full_work] == 'true' ? work_path(@work, :view_full_work => 'true', :show_comments => true, :anchor => 'comments') : url_for(:show_comments => true, :anchor => 'comments')) %></li>

<!-- allow user to disable style on work if it has been customized -->
  <% if @work.work_skin %>
    <li class="style">
      <% if Preference.disable_work_skin?(params[:style]) %>
        <%= link_to(ts("Show Creator's Style"),
          params[:view_full_work] == 'true' ? url_for(:style => 'creator', :view_full_work => 'true') : url_for(:style => 'creator')) %>
      <% else %>
        <%= link_to(ts("Hide Creator's Style"),
          params[:view_full_work] == 'true' ? url_for(:style => 'disable', :view_full_work => 'true') : url_for(:style => 'disable')) %>
      <% end %>
    </li>
  <% end %>

  <li class="share hidden">
    <%= link_to_modal ts("Share"), :for => "#share", :title => ts("Share Work") %>
    <%= render 'share/share', :shareable => @work %>
  </li>
  
  <% if current_user && @subscription %>
    <li class="subscribe">
      <%= render 'subscriptions/form', :subscription => @subscription %>
    </li>
  <% end %>

  <li class="download" aria-haspopup="true">
    <a href="#"><%= ts("Download") %></a>
    <ul class="expandable secondary">
      <li><%= link_to ts("MOBI"), download_url_for_work(@work, "mobi") %></li>
      <li><%= link_to ts("EPUB"), download_url_for_work(@work, "epub") %></li>
      <li><%= link_to ts("PDF"), download_url_for_work(@work, "pdf") %></li>
      <li><%= link_to ts("HTML"), download_url_for_work(@work, "html") %></li>
    </ul>
  </li>
</ul>
<!-- END navigation -->
