<div class="story-show">

  <%= render :partial => 'metadatas/metadata', :locals => {:metadata => @work.metadata } -%>
  
  <%- unless @work.series.blank? -%>
  <p>Series: <%= link_to @work.series.first.title, @work.series %></p>
  <%- end -%> 

  <h2 class="story-title">
    <% if @work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") %><% end %>
    <%=sanitize @work.metadata.title, :tags => %w(em i b strong strike small) %>
  </h2>
  <h3 class="story-author">
   <%= byline(@work) -%>
  </h3>
  
  <p class="story-summary">
    <%=sanitize_format @work.metadata.summary %>
  </p>
  
  <p class="story-notes">
    <%=sanitize_format @work.metadata.notes %>
  </p>
  
  <% if @work.is_wip -%>
  <p class="story-complete">
    <%= wip_message(@work) %>
  </p>
  <% end -%>

  <!--Toggle between single-chapter view / view entire work -->
	<div id="single_all_chaps">
    <%= render :partial => 'link_single_chap' %>
  </div>
  
	<!--Chapters go here -->
  <div id="chapters">
	  <%= render :partial => 'chapters/chapters' -%>
 	</div>
 	
 	<%- unless @work.parents.blank? -%>
 	<div id="parents">
 	  <p>Inspired by:<p>
 	  <ul>
 	  <%- for parent in @work.parents -%>
 	    <li><%= link_to parent.metadata.title, parent %></li>
 	  <%- end -%>
 	  </ul>
	</div>
 	<%- end -%>
 	  
</div>
