<li class="story" id="work_<%=h work.id %>">
  <ul>
    <li class="story-title-line">
      <h3 title="Story Title">
        <%- if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") -%><%- end -%>
        <%- if work.hidden_by_admin -%><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %><%- end -%>
        <%= link_to sanitize_and_format_for_display(work.title, :tags => %w(em i b strong strike small)), work %>
      </h3>
    </li>
    <li class="story-byline">
      <%=h "by ".t %>
      <%= byline(work) %> 
    </li>
    <li class="story-date">
      <%=h work.created_at.localize("%d %B %Y") %>
    </li>
    <li class="story-tags">
			<%= render :partial => 'works/meta', :locals => {:work => work} %>
    </li>
    <li class="story-desc">
      <%= sanitize_and_format_for_display work.summary %>
      <ul>
        <li><%=h 'Words: %s'/number_with_delimiter(work.word_count) %></li>
        <%- if work.count_visible_comments.size > 0 -%>
          <li><%=h 'Comments: %d'.t/work.count_visible_comments -%></li>
        <%- end -%>
      </ul>
    </li>
  </ul>
</li>
