<li class="story" id="work_<%=h work.id %>">
	<ul>
		<li class="story-title-line">
		    <h3 title="Story Title">
		    <% if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") %><% end %>
		    <% if work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %><% end %>
		    <%= link_to sanitize_and_format_for_display(work.title, :tags => %w(em i b strong strike small)), work %>
		    </h3>
		</li>
		
	    <li class="story-date">
	      <%=h work.created_at.localize("%d %B %Y") %>
	    </li>

	  	<li class="story-byline">
	  		<%= byline(work) -%>
		</li>
	
		<li class="story-tags">
			
        <ul>
            <%- @tag_categories.each do |category| -%>
            <%- unless work.tags(category).blank? -%>
            <%= category.display_name %>:<% if current_user != :false && category.name == "Warnings" && current_user.preference && current_user.preference.hide_warnings && !is_author_of?(work) -%>
            <%= "Warnings are hidden.".t %>
            <%- else -%>
            <% work.tags(category).each do |tag| %>
            <li>
                <%= link_to tag.name, tag_path(tag) %>
            </li>
            <%- end -%>
            <%- end -%>
            <%- end -%>
            <%- end -%>
        </ul>
        </li>

		<li class="story-desc">
			<%= sanitize_and_format_for_display work.summary %>
			<p>
				<%=h 'Words: %s'/number_with_delimiter(work.word_count) %>
				<%- if work.count_visible_comments.size > 0 -%>
					| <%=h 'Comments: %d'.t/work.count_visible_comments -%>
				<%- end -%>
			</p>
		</li>
	</ul>
</li>
