<div id="story-form">
  <%- form_for(@work, :html => {:name => "storyForm"}) do |f| -%> 
 
    <p class="field-left">   
    
	  <% fields_for_associated('work', @work.metadata) do |m| %>
      <!-- Story title field (metadata_attributes_title) -->
        <%= m.label :title, "Story Title*", :class => "required" %><br />
        <%= m.text_field :title, :class => "storyinputfield" %>
        <%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br />
        
        <script>
          var work_metadata_attributes_title = new LiveValidation('work_metadata_attributes_title', { validMessage: 'Thanks, that length looks good.', wait: 500 });
          work_metadata_attributes_title.add(Validate.Length, {"failureMessage": "must be at least 3 letters long.", "minimum": 3, "validMessage": ""});
          work_metadata_attributes_title.add(Validate.Length, {"failureMessage": "must be less than 255 letters long.", "maximum": 255, "validMessage": ""});
          work_metadata_attributes_title.add(Validate.Presence, {"if": "is_work?", "failureMessage": "is required.", "validMessage": ""})
        </script>

      <!-- Chaptered checkbox (work_is_wip) -->
      <!-- Checking this box causes the expected number of chapters box to appear; unchecking it causes it to disappear. -->
      <input type="checkbox" name="isWip" tabindex="2" 
      onclick="showChapteredStoryOptions()" <%- if @work.chaptered? -%>checked="checked"<%- end -%>/> Chaptered work?

      <!-- Series checkbox (storyseriescheck) -->
      <!-- Checking this box causes the "manage series" dropdown to appear; unchecking it causes it to disappear.  STILL NEEDS Rails integration. -->
      <input type="checkbox" name="storyseriescheck" tabindex="3" onclick="new Effect.toggle($('seriesmanage'),'appear')"/>Part of a series?<br />

    </p>

    <!-- Toggles on with series checkbox -->
    <p id="seriesmanage" class="field-right" style="display:none;">
      <% fields_for "work[series_attributes]" do |s| %>

      <%= s.label 'series_id', 'Choose a series:' %><br /> 
      <%= s.collection_select(:id, @series, :id, :title, {:prompt => true}) %>
    	<%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br />
    	
    	<%= s.label :title, "Or add a new one:" %><br />
      <%= s.text_field :title, :class => "storyinputfield" %>

    	<%- end -%>
    </p>

    <p class="clearbothdrop"></p>
    
    <!-- Story text field (chapter_attributes_content) -->
  	<% fields_for_associated('work', @work.chapters.first) do |c| %>
    
    <!-- Number of chapters (work_expected_number_of_chapters) -->
    <div id="number-of-chapters">
      <p>
        Chapter 1 of <%= f.text_field :wip_length, :class => "number-field" %> Title: <%= c.text_field :title %>
      </p>
    </div>    

    <p>
      <%= c.label :content, "Story, in plain text with limited HTML*", :class => "required" %><br />
    	<%= c.text_area :content %>
    	<script>
        var work_chapter_attributes_content = new LiveValidation('work_chapter_attributes_content', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        work_chapter_attributes_content.add(Validate.Length, {"failureMessage": "must be less than 16777215 letters long.", "maximum": 16777215, "validMessage": ""});
        work_chapter_attributes_content.add(Validate.Presence, {"failureMessage": "is required.", "validMessage": ""})
      </script>
    </p>
  <% end %>

    <!-- Author dropdown (pseud_id) - hidden if user has only one pseud -->
		<%- if @pseuds.size > 1 -%>
  	  <p class="field-left">
  	<%- else -%>
		  <p style="display:none;">
		<%- end -%>	
  	  <%= label :pseud, :id, "Select author/pseudonym(s)" %><br />
   	  <select name="work[author_attributes][ids][]" multiple="multiple">
        <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
      </select>	 
  	  </p>
		
		<%- if @pseuds.size > 1 -%>
      <p class="field-right"> 
        <%= link_to 'Create pseud?', new_user_pseud_path(current_user) %><br />
		<%- else -%>
		  <p class="field-left">
		<%- end -%>		  
        <%= link_to_function('Add co-authors?', "Element.toggle('co-authors')") %>
      </p>
	
  	<p class="clearboth"></p>

    <div id="co-authors"> 	  
      <p id="coauthormanage">
        <p>
       	  <span class="storylabel"><label for="storycoauthor">Enter co-author name(s):</label></span>
       	  <%= text_field_with_auto_complete :pseud, :byline, { :size => 50 }, 
              { :url => {:controller => 'pseuds', :action => 'choose_coauthors'}, :method => :get, :param_name => 'search', 
                :tokens => ',', :min_chars => 2, :skip_style => true } %>
        </p> 
      </p>                   
    </div>

  	<p class="clearboth"></p> 
	
  	<!-- Privacy dropdown (storyprivacy) -->
  	<p>
      <%= f.check_box :restricted %>
      <%= f.label :restricted, "Only make my story visible to registered users" %>
      <%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br /> 
    </p>
	
    <!-- Summary field (metadata_attributes_summary) -->
    <p>
      <%= m.label :summary, "Summary (max %d letters)"/Metadata::SUMMARY_MAX %><br />
      <%= m.text_area :summary, :class => "metadata-field" %>
      <script>
        var work_metadata_attributes_summary = new LiveValidation('work_metadata_attributes_summary', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        work_metadata_attributes_summary.add(Validate.Length, {"failureMessage": "must be less than 1250 letters long.", "maximum": 1250, "validMessage": ""})
      </script>
      
    </p>

    <!-- Notes field (metadata_attributes_notes) -->
    <p>
      <%= m.label :notes, "Notes (max %d letters)"/Metadata::NOTES_MAX %><br />
      <%= m.text_area :notes, :class => "metadata-field" %> 
      <script>
        var work_metadata_attributes_notes = new LiveValidation('work_metadata_attributes_notes', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        work_metadata_attributes_notes.add(Validate.Length, {"failureMessage": "must be less than 2500 letters long.", "maximum": 2500, "validMessage": ""})
      </script>
    </p>
	<%- end -%>
	
	<p>If your story is a remix or was inspired by another story in the archive, copy and paste that story's url below:<br />
	<%= f.text_field :parent_url %></p>

    <p class="field-right">
      <%= submit_tag 'Preview', :name => 'preview_button' %>
      <%= button_to_function "Cancel", "javascript:history.back()" %>
    </p> 
    
  <%- end -%>

  <p class="clearboth"></p> 
</div>
