<% form_for(@work) do |f| %> 
   
	<p>
  	<b>Pseud:</b><br />
  	<% if current_user.pseuds.count > 1 %> 
  		<%= collection_select :pseud, :id, current_user.pseuds, :id ,:name %>
  	<% else %>
  	  <%= hidden_field :pseud, :id, :value => "#{current_user.default_pseud.id}" %>
  		<b><%= current_user.default_pseud.name %></b>
  	<% end %>
  	<%= link_to 'Create pseud?', new_user_pseud_path(current_user) %>
	</p>
	
  <% fields_for :metadata_attributes, @work.metadata do |m| %>
    <p>
      <b>Title</b><br />
      <%= m.text_field :title %>
    </p>

    <p>
      <b>Summary</b><br />
      <%= m.text_area :summary %>
    </p>

    <p>
      <b>Notes</b><br />
      <%= m.text_area :notes %> 
    </p>
  <% end %>
  <p>
  <b>Story, in plain text</b><br />
  <% @work.chapters.each do |chapter| %>
    <% fields_for :chapter_attributes, chapter do |c| %>
      <%= c.text_area :content, :index => chapter.id -%>
    <% end %>
  <% end %>
  </p>
  <p>
    <b>Expected number of chapters</b><br />
    <%= f.text_field :expected_number_of_chapters %>
  </p>

  <p>
    <b>Is complete</b><br />
    <%= f.check_box :is_complete %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>

