<!-- footer for work -->

  <% unless @work.approved_children.blank? %>
  <div id="children" class="module">
    <h4><%=h t('.inspired_by_this', :default => 'Works inspired by this one:') %></h4>
    <ul>
    <% for related_work in @work.approved_related_works %>
      <li>
        <%= link_to related_work.work.title, related_work.work %> by <%= byline(related_work.work) %> 
        <% if is_author_of?(@work) && !@downloading %>
          <h5 class="inline"><%= link_to t('.remove_relationship', :default => '[Remove link]'), {:controller => :related_works, :action => :update, :parent_id => @work.id, :work_id => related_work.work.id}, :method => :put %></h5>
        <% end %>
        <% if related_work.translation %>
          <%=h t('.translation', :default => '(translation into %{language})', :language => related_work.work.language.name) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
<!-- end of footer for work -->
