<div id="story-form">
  <%- form_for(@work, :html => {:name => "storyForm"}) do |f| -%> 
 
    <p class="field-left">   
    
        <%= f.label :title, h("Story Title*").t, :class => "required" %><br />
        <%= f.text_field :title, :class => "storyinputfield" %>
        <%= image_tag("question.png", :size => "20x20", :alt => h("More info").t) %><br />

      <!-- Chaptered checkbox (work_is_wip) -->
      <!-- Checking this box causes the expected number of chapters box to appear; unchecking it causes it to disappear. -->
      <input type="checkbox" name="isWip" tabindex="2" 
      onclick="showChapteredStoryOptions()" <%- if @work.chaptered? -%>checked="checked"<%- end -%>/> <%=h 'Chaptered work?'.t %>

      <!-- Series checkbox (storyseriescheck) -->
      <!-- Checking this box causes the "manage series" dropdown to appear; unchecking it causes it to disappear.  STILL NEEDS Rails integration. -->
      <input type="checkbox" name="storyseriescheck" tabindex="3" onclick="new Effect.toggle($('seriesmanage'),'appear')"/><%=h 'Part of a series?'.t %><br />

    </p>

    <!-- Toggles on with series checkbox -->
    <p id="seriesmanage" class="field-right" style="display:none;">
      <% fields_for "work[series_attributes]" do |s| %>

        <%= s.label 'series_id', h('Choose a series:').t %><br /> 
        <%= s.collection_select(:id, @series, :id, :title, {:prompt => true}) %>
        <%= image_tag("question.png", :size => "20x20", :alt => h("More info").t) %><br />
        
        <%= s.label :title, h("Or add a new one:").t %><br />
        <%= s.text_field :title, :class => "storyinputfield" %>

    	<%- end -%>
    </p>

    <p class="clearbothdrop"></p>
    
    <!-- Story text field (chapter_attributes_content) -->
  	<% fields_for_associated('work', @work.chapters.first) do |c| %>
    
    <!-- Number of chapters (work_expected_number_of_chapters) -->
    <div id="number-of-chapters">
      <p>
        <%=h 'Chapter 1 of'.t %> <%= f.text_field :wip_length, :class => "number-field" %> <%=h 'Title:'.t %> <%= c.text_field :title %>
      </p>
    </div>    

    <p>
      <%= c.label :content, h("Story, in plain text with limited HTML*").t, :class => "required" %><br />
    	<% use_tinymce -%>
		<a href="javascript:addEditor('content');"><%=h 'Rich text'.t %></a>  <a href="javascript:removeEditor('content');"><%=h 'HTML'.t %></a><br />
		<%= c.text_area :content, :class => "mce-editor", :id => "content" %>
    </p>

    <!-- Author dropdown (pseud_id) - hidden if user has only one pseud -->
		<% if @pseuds.size > 1 -%>
  	  <p class="field-left">
  	<%- else -%>
		  <p style="display:none;">
		<%- end -%>	
  	  <%= label :pseud, :id, h("Select author/pseudonym(s)").t %><br />
   	  <select name="work[author_attributes][ids][]" multiple="multiple">
        <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
      </select>	 
  	  </p>
		
		<% if @pseuds.size > 1 -%>
      <p class="field-right"> 
        <%= link_to h('Create pseud?').t, new_user_pseud_path(current_user) %><br />
		<%- else -%>
		  <p class="field-left">
		<%- end -%>		  
        <%= link_to_function(h('Add co-authors?').t, "Element.toggle('co-authors')") %>
      </p>
	
  	<p class="clearboth"></p>

    <div id="co-authors"> 	  
      <p id="coauthormanage">
      	  <span class="storylabel"><label for="storycoauthor"><%=h 'Enter co-author name(s):'.t %></label></span>
       	  <%= text_field_with_auto_complete :pseud, :byline, { :size => 50 }, 
              { :url => {:controller => 'pseuds', :action => 'choose_coauthors'}, :method => :get, :param_name => 'search', 
                :tokens => ',', :min_chars => 2, :skip_style => true } %>
      </p>                   
    </div>

  	<p class="clearboth"></p> 
	
  	<!-- Privacy dropdown (storyprivacy) -->
  	<p>
      <%= f.check_box :restricted %>
      <%= f.label :restricted, h("Only make my story visible to registered users").t %>
      <%= image_tag("question.png", :size => "20x20", :alt => h("More info").t) %><br /> 
    </p>
	
    <p>
      <%= f.label :summary, "Summary (max %d letters)"/ArchiveConfig.SUMMARY_MAX %><br />
      <%= f.text_area :summary, :class => "summary-field" %>
    </p>

    <p>
      <%= f.label :notes, "Notes (max %d letters)"/ArchiveConfig.NOTES_MAX %><br />
      <%= f.text_area :notes, :class => "notes-field" %> 
    </p>
	<%- end -%>
	
	<p><%=h "If your story is a remix or was inspired by another story in the archive, copy and paste that story's url below:".t %><br />
	<%= f.text_field :parent_url %></p>

    <p class="field-right">
      <%= submit_tag h('Preview').t, :name => 'preview_button' %>
      <%= button_to_function h("Cancel").t, "javascript:history.back()" %>
    </p> 
    
  <%- end -%>

  <p class="clearboth"></p> 
</div>
