<fieldset class="work meta">
  <legend><%= ts("Tags") %></legend>
  <h3 class="landmark">Tags</h3>
 <p class="note"><%= ts("Tags are comma separated, %{max} characters per tag.", :max => ArchiveConfig.TAG_MAX) %></p>

  <dl>
    <dt class="rating required">
      <label for="work_rating_string"><%= Rating::NAME %>* <%= link_to_help "rating-help" %></label>
    </dt>
    <dd class="rating required">
      <select id="work_rating_string" name="work[rating_string]">
      <%= options_for_select((include_blank ? [""] : []) +  [ArchiveConfig.RATING_DEFAULT_TAG_NAME, ArchiveConfig.RATING_GENERAL_TAG_NAME, ArchiveConfig.RATING_TEEN_TAG_NAME, ArchiveConfig.RATING_MATURE_TAG_NAME, ArchiveConfig.RATING_EXPLICIT_TAG_NAME], :selected => include_blank ? nil : rating_selected(@work) ) %>
      </select>
    </dd>

    <dt class="warning required">
      <label><%= Warning::NAME.pluralize %>* <%= link_to_help "warning-help" %></label>
    </dt>
    <dd class="warning required">
      	<fieldset class="warnings">
			<!--<legend class="landmark">Warning</legend>-->
			<ul>
        <% for tag in Warning.canonical.by_name %>
        <li><%= check_box_tag "work[warning_strings][]", tag.name, include_blank ? false : check_warning(@work, tag), :id => "work_warning_strings_#{tag.id}" %>
        <%= label_tag "work_warning_strings_#{tag.id}", tag.name %></li>
        <% end %>
      </ul>
	</fieldset>
    </dd>

    <dt class="fandom required">
      <label for="work_fandom" title="fandom"><%= Fandom::NAME.pluralize %>* <%= link_to_help "fandom-help" %></label>
    </dt>
    <dd class="fandom required" title="fandom">
      <%= text_field_tag "work[fandom_string]", include_blank ? "" : @work.fandom_string, 
            autocomplete_options('fandom',
            :id => "work_fandom") %>
    <p class="footnote"><%= ts("If this is the first work for a fandom, it may not show up in the fandoms page for a day or two") %></p>
	</dd>
    

    <dt class="category">
      <label><%= Category::NAME %>  <%= link_to_help "categories-help" %></label>
    </dt>
    <dd class="category">
      <fieldset>
		<!--<legend class="landmark">Category</legend>-->
		<ul>
        <% for tag in Category.canonical.by_name %>
        <% cycle_class = cycle("odd", "even") %>
        <li class="<%= cycle_class %>"><%= check_box_tag "work[category_string][]", tag.name, include_blank ? false : @work.category_strings.include?(tag.name), :id => "work_category_string_#{tag.id}" %>
        <%= label_tag "work_category_string_#{tag.id}", tag.name %></li>
        <% end %>
      </ul>
	</fieldset>
    </dd>

    <dt class="relationship">
      <label for="work_relationship"><%= Relationship::NAME.pluralize %> <%= link_to_help "relationships-help" %></label>
    </dt>
    <dd class="relationship" title="relationships">
      <%= text_field_tag "work[relationship_string]",
                         include_blank ? "" : @work.relationship_string,
                         autocomplete_options("relationship_in_fandom",
                                              :id => "work_relationship",
                                              :title => "relationship",
                                              :autocomplete_live_params => 'fandom=work_fandom') %>
    </dd>

    <dt class="character">
      <label for="work_character"><%= Character::NAME.pluralize %> <%= link_to_help "characters-help" %></label>
    </dt>
    <dd class="character" title="characters">
      <%= text_field_tag "work[character_string]",
                         include_blank ? "" : @work.character_string,
                         autocomplete_options('character_in_fandom',
                                              :id => "work_character",
                                              :title => "character",
                                              :autocomplete_live_params => 'fandom=work_fandom') %>
    </dd>

    <dt class="freeform">
      <label for="work_freeform"><%= Freeform::NAME.pluralize %> <%=	 link_to_help "additional-tags-help" %></label>
    </dt>
    <dd class="freeform" title="additional tags">
      <%= text_field_tag "work[freeform_string]",
                         include_blank ? "" : @work.freeform_string,
                         autocomplete_options('freeform',
                                              :id => "work_freeform",
                                              :title => "freeform") %>
    </dd>

  </dl>
</fieldset>
