<li class="work" id="work_<%=h work.id %>">
<ul class="work">
	<li class="heading">
	  <%= get_symbols_for(work) -%>

	  <h3>
	    <%= link_to sanitize_title_for_display(work.title, :tags => %w(em i b strong strike small)), work %>
  		<%= "by".t -%>
      <%= byline(work) -%>
  		<%- if work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") -%><%- end -%>
      <%- if work.hidden_by_admin -%><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %><%- end -%>
	  </h3>
	  
	  <h4>
  	  <%- logger.info "\n\n\n\n\n\n\nHERE!" + FANDOM_TAG_CATEGORY.to_yaml +  @tags_by_category.to_yaml + @tags_by_category[FANDOM_TAG_CATEGORY.id].to_yaml -%>
  	  <%- @tags_by_category[FANDOM_TAG_CATEGORY.id].each do |fandom| -%>
  	  <%= link_to_tag fandom -%>
  	  <%- end -%>
	  </h4>

	<p class="update"><%= time_ago_in_words(work.updated_at) %></p>
	<li>
	<li>
		<dl class="tags">
			<dt><%=h 'Cast'.t + ': ' %></dt>
			<dd>
				<ul>
				  <%- cast_tags_for(work).each do |tag| -%>
					  <li><%= link_to_tag(tag) -%></li>
					<%- end -%>
				</ul>
			</dd>
			<dt><%=h 'Tags'.t + ': ' %></dt>
			<dd>
				<ul>
				  <%- freeform_tags_for(work).each do |tag| -%>
					<li><%= link_to_tag(tag) -%></li>
					<%- end -%>
				</ul>
			</dd>
		</dl>
	</li>
	<li class="summary">
	<%= sanitize_limit_and_format_for_display work.summary %>
	</li>
	<li class="stats">
		<dl>
		<dt><%=h 'Words'.t + ': ' %></dt> 
			<dd><%= '%s'/number_with_delimiter(work.word_count) %></dd>
		<dt><%=h 'Chapters'.t + ': ' %></dt> 
			<dd><%= work.number_of_posted_chapters %>/<%= work.wip_length %></dd>
		<%- if work.count_visible_comments > 0 -%>
		<dt><%=h 'Comments'.t + ': '%></dt> 
			<dd><%= link_to '%d'.t/work.count_all_comments, work_path(:id => work.id, :anchor => "comments", :show_comments => true) -%></dd>
		<%- end -%>
		<%- if work.count_visible_bookmarks(current_user) > 0 -%>
		<dt><%=h 'Bookmarks'.t + ': '%></dt> 
			<dd><%= link_to '%d'.t/work.count_visible_bookmarks(current_user), work_bookmarks_path(:work_id => work.id) -%></dd>
		<%- end -%>
		</dl>
	</li>
	<%- if is_author_of?(work) -%>
	<li class="navigation"><%= link_to 'Edit'.t, edit_work_path(work) -%></li>
	<%- end -%>
</ul>
</li>
