<fieldset>
  <legend><%= "Story Tags".t -%></legend>
  <dl id="story-meta">
    <% TagCategory.official.each do |category| %>
      <dt class="<%= category.display_name.downcase + (category.required ? ' required' : '') -%>">
        <label for=""><%= category.display_name.t -%></label>
      </dt>
      <dd class="<%= category.display_name.downcase + (category.required ? ' required' : '') -%>">
        <% if category.exclusive %>
          <%= collection_select(:work, category.name.to_sym, TagCategory.official_tags(category.name), :name, :name) %>		
        <% else %>
          <%= text_field_with_auto_complete :work, category.name.to_sym, { :size => 50 }, 
            { :url => { :controller => 'tags', :action => 'index', :tag_category_id => category.id}, :method => :get, :param_name => 'search', 
                        :tokens => ',', :min_chars => 2, :skip_style => true } %>
        <% end %>
      </dd>
    <%- end -%>    
  </dl>
</fieldset>
