<div id="story-form">
  <%- form_for(@work) do |f| -%> 

  
    <p class="field-left">   
    
	<% fields_for_associated(@work.metadata) do |m| %>
      <!-- Story title field (metadata_attributes_title) -->
        <%= m.label :title, "Story Title*", :class => "required" %><br />
        <%= m.text_field :title, :class => "storyinputfield", :live => true, :object => :metadata, :validMessage => valid_length_message %>
        <%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br />

      <!-- Chaptered checkbox (work_is_complete) -->
      <!-- Checking this box causes the expected number of chapters box to appear; unchecking it causes it to disappear. -->
      <%= f.check_box :is_complete, {:onclick => "Element.toggle('number-of-chapters')"}, "0", "1" %> Chaptered story?

      <!-- Series checkbox (storyseriescheck) -->
      <!-- Checking this box causes the "manage series" dropdown to appear; unchecking it causes it to disappear.  STILL NEEDS Rails integration. -->
      <input type="checkbox" name="storyseriescheck" tabindex="3" onclick="new Effect.toggle($('seriesmanage'),'appear')"/>Part of a series?<br />

    </p>

    <!-- Toggles on with series checkbox -->
    <p id="seriesmanage" class="field-right" style="display:none;">
      <span class="storylabel"><label for="storyseries">Select Series</label></span><br />

      <!-- Dropdown/text field for adding series -->
    	<select name="storyseries" class="storyinputfield" tabindex="4">

      <!-- Fake options!  These need to be populated by the backend. -->
    		<option>New Series (enter title below)</option>
    		<option>Series 1</option>
    		<option>Series 2</option>
    	</select>
    	<%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br />

    	<span class="storylabel"><label for="newseriesinput">...or add a new Series Title</label></span><br />
    	<input type="text" name="newseriesinput" class="storyinputfield" tabindex="5" />
    </p>

    <p class="clearbothdrop"></p>
    
    <!-- Number of chapters (work_expected_number_of_chapters) -->
    <div id="number-of-chapters" style="display:none;">
      <p>
        <%= f.label :expected_number_of_chapters, "How many chapters do you expect the story to have?" %><br />
        <%= f.text_field :expected_number_of_chapters, :class => "number-field" %>
      </p>
    </div>    

    <!-- Story text field (chapter_attributes_content) -->
	<% fields_for_associated(@work.chapters.first) do |c| %>
      <p>
        <%= c.label :content, "Story, in plain text with limited HTML*", :class => "required" %><br />
      	<%= c.text_area :content %>
      </p>
    <% end %>
  
    <!-- Author dropdown (pseud_id) -->
  	<p class="field-left">
  	  <%= label :pseud, :id, "Select author/pseudonym(s)" %><br />
   	  <select name="pseud[id][]" multiple="multiple">
        <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
      </select> 
  	</p>
	
    <p class="field-right"> 
      <%= link_to 'Create pseud?', new_user_pseud_path(current_user) %><br />  
      <%= link_to_function('Add co-authors?', "Element.toggle('co-authors')") %>
    </p>
	
  	<p class="clearboth"></p>
	 
	<!-- Co-authorship - obviously this has to change 
  	<div id="co-authors" style="display : none;">
  	  <p id="coauthormanage">
  	    <p>
      	  <span class="storylabel"><label for="storycoauthor">Enter co-author name(s):</label></span>
    	     text_field :user, :login 
  	    </p>
      </p>
  	</div>
	-->

  	<p class="clearboth"></p> 
	
  	<!-- Privacy dropdown (storyprivacy) -->
  	<p>
      <span class="storylabel"><label for="storyprivacy">Privacy level</label></span><br />
      <select name="storyprivacy" class="storyinputfield" tabindex="10">
        <!-- Fake options!  These need to be populated by the backend or hard-coded, as appropriate. -->
      	<option>Public: Everyone can read</option>
      	<option>Fake option: insert real option here</option>
      	<option>Fake option #2: insert real option #2 here</option>
      </select>
      <%= image_tag("question.png", :size => "20x20", :alt => "More info") %><br /> 
    </p>
	
    <!-- Summary field (metadata_attributes_summary) -->
    <p>
      <%= m.label :summary, "Summary (max %d letters)"/Metadata::SUMMARY_MAX %><br />
      <%= m.text_area :summary, :class => "metadata-field", :live => true, :object => :metadata, :validMessage => valid_length_message %>
    </p>

    <!-- Notes field (metadata_attributes_notes) -->
    <p>
      <%= m.label :notes, "Notes (max %d letters)"/Metadata::NOTES_MAX %><br />
      <%= m.text_area :notes, :class => "metadata-field", :live => true, :object => :metadata, :validMessage => valid_length_message %> 
    </p>
	<%- end -%>

    <p class="field-right">
      <%= submit_tag 'Preview', :name => 'preview_button' %>
      <%= button_to_function "Cancel", "javascript:history.back()" %>
    </p> 
    
  <%- end -%>

  <p class="clearboth"></p> 
</div>
