<div class="story-show">

  <%= render :partial => 'metadatas/metadata', :locals => {:metadata => @work.metadata } -%>

  <h2 class="story-title">
    <% if @work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") %><% end %>
    <%=sanitize @work.metadata.title, :tags => %w(em i b strong strike small) %>
  </h2>
  <h3 class="story-author">
   <%= byline(@work) -%>
  </h3>
  
  <p class="story-summary">
    <%=sanitize_format @work.metadata.summary %>
  </p>
  
  <p class="story-notes">
    <%=sanitize_format @work.metadata.notes %>
  </p>
  
  <% if @work.is_wip -%>
  <p class="story-complete">
    <%= wip_message(@work) %>
  </p>
  <% end -%>

  <p>
    <!--Chapters go here -->
  <%= render :partial => 'chapters/chapters' -%>
  </p>
  
</div>
