<div class="story-show">

  <%= render :partial => 'works/meta' %>
  
  <div id="series-and-view-data">
    <%- unless @work.series.blank? -%>
      <span id="work-series-data">
      <%= show_series_data(@work) %>
      </span>
    <%- end -%> 
    
    <span id="chapter-view-option">
      <%- if @work.number_of_posted_chapters > 1 -%>
        <%- if @chapters.length == 1 -%>
        <%= view_all_chapters_link(@work, @chapters.first) %>
        <%- else -%>
        <%= view_first_chapter_link(@work) %>
        <%- end -%>
      <%- end -%>
    </span>
  </div>

  <h2 class="story-title">
    <% if @work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)".t) %><% end %>
    <% if @work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)".t) %><% end %>
    <%=sanitize @work.title, :tags => %w(em i b strong strike small) %>
  </h2>
  <h3 class="story-author">
   <%= byline(@work) -%>
  </h3>
  
  <p class="story-summary">
    <%=sanitize_limited @work.summary %>
  </p>
  
  <p class="story-notes">
    <%=sanitize_format @work.notes %>
  </p>
  
  <% if @work.is_wip -%>
  <p class="story-complete">
    <%= wip_message(@work) %>
  </p>
  <% end -%>
  
	<!--Chapters go here -->
  <div id="chapters">
	  <%= render :partial => 'chapters/chapters' -%>
 	</div>
 	
 	<%- unless @work.parents.blank? -%>
 	<div id="parents">
 	  <p>Inspired by:<p>
 	  <ul>
 	  <%- for parent in @work.parents -%>
 	    <li><%= link_to parent.title, parent %></li>
 	    <%- if is_author_of?(@work) -%>
    		<%= link_to h('Remove relationship').t, {:controller => :related_works, :action => :destroy, :parent_id => parent.id, :work_id => @work.id},  :confirm => h('Are you sure?').t, :method => :delete %>
    	<%- end -%>
 	  <%- end -%>
 	  </ul>
	</div>
 	<%- end -%>
 	
 	<%- unless @work.approved_children.blank? -%>
 	<div id="children">
 	  <p>Stories inspired by this one:<p>
 	  <ul>
 	  <%- for child in @work.approved_children -%>
 	    <li><%= link_to child.title, child %></li>
 	    <%- if is_author_of?(@work) -%>
    		<%= link_to h('Remove link').t, {:controller => :related_works, :action => :update, :parent_id => @work.id, :work_id => child.id}, :method => :put %>
    	<%- end -%>
 	  <%- end -%>
 	  </ul>
	</div>
 	<%- end -%>
 	  
</div>
