<!-- BEGIN navigation 
NOTE for backend, please refactor thus:

<h3 class="landmark">Actions</h3>
<ul class="navigation" role="navigation">
IF AUTHOR
<li> add chapter</li>
<li> edit</li>
<li> delete</li>
END
IF chapter by chapter
<li> view entire work</li>
<li> CURRENT chapter number 
<ol> <li>CHAPTERS IN ORDER</li></ol>
</li>
END
IF viewing entire
<li> view chapter by chapter </li>
END
UNLESS post is Admin
<li> bookmark </li>
END
<li> {{COUNT}} comment/s</li>
<li class="landmark"><a name="top">&nbsp;</a></li>
</ul>
-->
<%- unless @preview_mode -%>
  <% if is_author_of?(@work) -%>
    <ul class="navigation" role="navigation">
      <li><%= link_to t('add_chapter', :default => "Add Chapter"), new_work_chapter_path(@work) %></li>
      <li><%= link_to t('edit', :default => "Edit"), edit_work_path(@work) %></li>
      <li><%= link_to t('delete', :default => "Delete"), @work, :confirm => "Are you sure?", :method => :delete -%></li>
    </ul>
  <% end -%>
<%- end -%>
<!-- END navigation -->

<%- if @preview_mode || !AdminSetting.enable_test_caching? -%>
   <%= render :partial => 'works/meta', :locals => {:work => @work} %>

    <%- if @work.number_of_posted_chapters > 1 -%>
      <%- if @chapters.length == 1 -%> 
        <!-- we're reading chapter-by-chapter -->
        <ul class="navigation" role="navigation">
          <li><%= link_to t('view_entire_work', :default => "View Entire Work"), @work -%></li>
          <%= next_and_previous_links_listitems(@work, @chapter) -%>
        </ul>
      <%- else -%>
        <ul class="navigation" role="navigation">
          <li><%= link_to t('view-by-chapter', :default => "View Chapter By Chapter"), 
                 url_for({:controller => :chapters, :action => :show, :work_id => @work, :id => @chapters.first}) -%>
          </li>
        </ul>
      <%- end -%>
    <%- end -%>
 
<%- else -%>
  <%- cache("workshowmeta-#{@work.id}-#{@work.major_version}-#{@work.minor_version}", :expires_in => AdminSetting.cache_expiration.minutes ) do -%>
  <%= render :partial => 'works/meta', :locals => {:work => @work} %>
  <%- end -%> 
  <%- if @work.number_of_posted_chapters > 1 -%>
    <%- if @chapters.length == 1 -%> 
      <!-- we're reading chapter-by-chapter -->
      <ul class="navigation" role="navigation">
        <li><%= link_to t('view_entire_work', :default => "View Entire Work"), @work -%></li>
        <%= next_and_previous_links_listitems(@work, @chapter) -%>
      </ul>
    <%- else -%>
      <ul class="navigation" role="navigation">
        <li><%= link_to t('view-by-chapter', :default => "View Chapter By Chapter"), 
               url_for({:controller => :chapters, :action => :show, :work_id => @work, :id => @chapters.first}) -%>
        </li>
      </ul>
    <%- end -%>
  <%- end -%>
<%- end -%>

<div class="preface">
	<h2 class="title">
    <% if @work.restricted %><%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") %><% end %>
    <% if @work.hidden_by_admin %><%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %><% end %>
    <%=sanitize_title_for_display @work.title %>
	</h2>
  <h3 class="byline">
   <%= byline(@work) -%>
  </h3>
  
  <%- if @chapter == @work.first_chapter -%>
    <%- unless @work.summary.blank? -%>
      <div class="summary module" role="complementary">
        <h3><%=h t('work_header.summary', :default => "Summary:") %></h3>
        <blockquote class="user-generated-view"><%=sanitize_limit_and_format_for_display @work.summary %></blockquote>
      </div>
    <%- end -%>
  
    <%- unless @work.notes.blank? && @work.endnotes.blank? -%>
      <%- current_page?(:controller => 'chapters', :action => 'show') ? linkpath = "chapter_path(@work.last_chapter.id, :anchor => 'work_endnotes')" : linkpath = "work_path(@work, :anchor => 'work_endnotes')" %>
      <div class="notes module" role="complementary">
      <h3><%=h t('work_header.notes', :default => "Notes:") %></h3>
      <% if !@work.recipients.blank? %>
	    <p><%= t('work_header.recipients', :default => "For {{recipients}}", :recipients => recipients_link(@work)) -%></p>
	  <% end -%>
	<%- if @work.notes.blank? -%>
        <span class="endnotes-link"><%= t('link_to_endnotes', :default => "See the end of the work for more {{notes_link}}.", :notes_link => (link_to t('notes_link', :default => "notes"), eval(linkpath))) %></span>
      <%- else -%>
        <blockquote class="user-generated-view"><%= sanitize_and_format_for_display(@work.notes) -%></blockquote>
        <%- unless @work.endnotes.blank? -%>
          <span class="endnotes-link"> 
          <%= t('work_header.link_more_endnotes', :default => "See the end of the work for more {{notes_link}}.", 
                                    :notes_link => link_to( t('notes_link', :default => 'notes'), eval(linkpath) ) ) -%>
          </span>
        <%- end -%>  
      <%- end -%> 
      </div>
    <%- end -%>
  <%- end -%>  
</div>