<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Delete") + " " + (@work.posted? ? ts("Work") : ts("Draft")) %></h2>

<!--main content-->
<%= form_for(@work, :html => {:method => :delete, :class => "simple destroy"}) do |f| %>
  <p>
    <%= ts("Are you sure you want to delete the") %> <%= @work.posted? ? ts("work") : ts("draft") %> <%= link_to(@work.title, @work) %> <%= ts(" <strong>permanently</strong>? This <strong>cannot be undone</strong>.").html_safe %>
    <% if @work.posted? %>
      <%= ts("All bookmarks, comments, and kudos will be lost. If you just want to remove your association with the work, you could Orphan it instead.") %>
    <% end %>
  </p>
  <p>
    <%= f.submit ts("Yes, Delete") + " " + (@work.posted? ? ts("Work") : ts("Draft")) %>
    <% if @work.posted? %>
      <%= link_to ts("Orphan Work Instead"), new_orphan_path(:work_id => @work.id) %>
    <% end %>
  </p>
<% end %>
<!--/content-->
