<!-- BEGIN work -->
<p class="message">
  <%= ts("Posted originally on the") %>
  <a href="<%= ArchiveConfig.APP_URL %>"><%= ArchiveConfig.APP_NAME %></a>
  <%= ts("at") %>
  <a href="<%= work_url(@work) %>"><%= work_url(@work) %></a>.
</p>

<!--work description, metadata, notes and messages-->
<%= render :partial => 'works/work_header.html' %>
<!--/descriptions-->
