<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%= search_header @works, item_type: :unposted_draft %></h2>

<p class="caution notice">
  <strong><%= t(".please_note") %></strong>
  <%= t(".unposted_drafts_get_deleted", app_name: ArchiveConfig.APP_SHORT_NAME) %>
</p>
<!--/descriptions-->

<!--subnav-->
<%= will_paginate @works %>
<!--/subnav-->

<!--main content-->
<ul class="work index group">
  <% for work in @works %>
    <%= render 'work_blurb', :work => work %>
  <% end %>
</ul>
<!--/content-->

<!--subnav-->
<%= will_paginate @works %>
<!--/subnav-->
