<h2 class="heading"><%=h t('.unposted_drafts', :default => "Unposted Drafts") %></h2>

<p>
  <strong><%=h t('.note', :default => "Please note") %></strong>:
  <%=h t('.saved_one_week', :default => "Unposted drafts are only saved for a month from the day they are first created, and then deleted from the Archive.") %>
</p>

<!--BACK END, can we just remove this laquo etc-->
<%= paginated_section @works, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>

    <ul class="work index group">
      <% for work in @works %>
          <%= render :partial => 'work_blurb', :locals => {:work => work} %>
      <% end %>
    </ul>
<% end %>
