<h2><%=h "Editing Multiple Works" -%></h2>

<h3>Works Being Edited</h3>

<% form_for :work, :url => update_multiple_user_works_path(@user), :html => { :method => :put } do |form| %>  

  <ul class="story-list">
    <%- for work in @works -%>
      <li>
        <%= link_to sanitize_title_for_display(work.title, :tags => %w(em i b strong strike small)), work %>
        <%= hidden_field_tag "work_ids[]", work.id%>
      (<%= work.fandom_tags.collect{|tag| link_to_tag(tag) }.join(', ') %>, other tags go here)
      </li>
    <%- end -%>
  </ul>
  
  <p class="temp-hack">Note that your edits will be applied to ALL of these stories, REPLACING any existing values for these fields!</p>

  <p class="notice required temp-hack"><%=h '* Required information' %></p>
  <div id="work-form" class="work-form"><%= render :partial => 'work_tags_form', :locals => {:include_blank => true} -%></div>

<%= submit_tag t('update_multiple', :default => "Update All Stories") %>
  
<% end %>
