<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Editing Multiple Works") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<p class="note">
    Your edits will be applied to <em>all</em> of these stories, <strong>replacing</strong> any existing values for these fields!"
  </p>
<dl class="index group">
    <% for work in @works %>
      <dt>
          <%= hidden_field_tag "work_ids[]", work.id%>
          <%= link_to work.title.html_safe, work %>
          <span title="fandom">(<%= work.fandoms.collect {|tag| link_to_tag_works(tag) }.join(', ').html_safe %>)</span>
        </dt>
        <dd>
        <!--BACK END, please <ul class="tags commas"><li>tag</li></ul> ? possibly blurb_tag_block?-->
        <%= %w(warnings characters relationships freeforms categories ratings).collect {|type| work.send("#{type}")}.flatten.collect {|tag| link_to_tag_works(tag) }.join(', ').html_safe %>
      </dd>
    <% end %>
</dl>

<%= form_for :work, :url => update_multiple_user_works_path(@user), :html => { :method => :put } do |form| %> 
  <p class="required message"><%= ts("* Required information") %></p>

  <div id="work-form" class="edit work post"><%= render 'work_tags_form', :include_blank => true %></div>

  <p class="submit actions"><%= submit_tag ts("Update All Stories"), :confirm => ts("Are you sure? Remember this will replace all existing values!") %></p>

<% end %>
<!--/content-->

