<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= t(".page_heading.edit_tags_html", title: @work.title) %>
</h2>

<%= error_messages_for :work %>
<!--/descriptions-->

<!--main content-->
<%= form_for(@work, html: { id: "work-form", class: "verbose work post" }, url: { action: "update_tags" }) do |f| %>
  <p class="required notice">* <%= ts('Required information') %></p>

  <%= render 'work_form_tags', include_blank: false %>

  <%= render "posting_fieldset" %>

<% end %>
<!--/content-->
