<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <% if logged_in_as_admin? %>
    <%= t(".page_heading.edit_tags_and_language_html", title: @work.title) %>
  <% else %>
    <%= t(".page_heading.edit_tags_html", title: @work.title) %>
  <% end %>
</h2>

<%= error_messages_for :work %>
<!--/descriptions-->

<!--main content-->
<%= form_for(@work, html: { id: "work-form", class: "verbose work post" }, url: { action: "update_tags" }) do |f| %>
  <p class="required notice">* <%= ts('Required information') %></p>

  <%= render 'work_form_tags', include_blank: false %>

  <% if logged_in_as_admin? %>
    <fieldset role="article">
      <legend><%= t("works.associations.title") %></legend>
      <h3 class="landmark heading"><%= t("works.associations.title") %></h3>
      <dl>
        <%= render 'work_form_associations_language', f: f %>
      </dl>
    </fieldset>
  <% end %>

  <fieldset>
    <legend><%= t("works_helper.actions.post_work") %></legend>
      <p class="notice">
        <%= t(".post_notice_html",
              content_policy_link: link_to(t(".content_policy"), content_path),
              tos_faq_link: link_to(t(".tos_faq"), tos_faq_path(anchor: "content_faq"))) %>
      </p>
    <ul class="actions">
      <% unless @work.posted? %>
        <li><%= submit_tag t("works_helper.actions.save_draft"), name: "save_button" %></li>
      <% end %>
      <li><%= submit_tag t("works_helper.actions.preview"), name: "preview_button" %></li>
      <li><%= submit_tag @work.posted? ? t("works_helper.actions.update") : t("works_helper.actions.post"), name: "update_button" %></li>
      <li><%= submit_tag t("works_helper.actions.cancel"), name: "cancel_button" %></li>
    </ul>
  </fieldset>
<% end %>
<!--/content-->
