<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Editing Multiple Works") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->

<p class="caution">
  Your edits will be applied to <strong>all</strong> of the following works:
</p>

<%= render "works/work_abbreviated_list", :works => @works %>

<%= form_for :work, :url => update_multiple_user_works_path(@user), :html => { :method => :put } do |form| %> 
  <p class="required message">
    <%= ts("* Required information") %>
    <% @works.each do |work| %>
      <%= hidden_field_tag "work_ids[]", work.id %>
    <% end %>
  </p>

  <div id="work-form" class="edit work post">
    <%= render 'work_form_tags', :include_blank => true %>
  </div>
  
  <fieldset>
    <legend>Associations</legend>
    <h3 class="landmark">Associations</h3>
    <dl>
      <!-- change pseud -->
      <% pseuds = @works.collect(&:pseuds).flatten.uniq %>
      <% unless pseuds.size == 1 %>
        <dt><%= form.label :pseuds_to_remove, ts("Current Pseuds/Coauthors") %></dt>
        <dd>
          <fieldset class="listbox">
            <h4 class="heading">Check to remove</h4>
            <%= checkbox_section(form, :pseuds_to_remove, pseuds) %>
          </fieldset>
        </dd>
      <% end %>      
      <dt><%= form.label :pseuds_to_add, ts("Add Pseuds/Coauthors") %></dt>
      <dd><%= form.text_field :pseuds_to_add, autocomplete_options("pseud") %></dd>

      <!-- collections -->
      <% unless (collections = @works.collect(&:collections).flatten.uniq).empty? %>
        <dt><%= form.label :collections_to_remove, ts("Current Collections") %></dt>
        <dd>
          <fieldset class="listbox">
            <h4 class="heading">Check to remove</h4>
            <%= checkbox_section(form, :collections_to_remove, collections, :name_method => "title") %>
          </fieldset>
        </dd>
      <% end %>
        
      <dt><%= form.label :collections_to_add, ts("Add To Collections") %></dt>
      <dd title="add to collection">
        <%= form.text_field :collections_to_add, autocomplete_options("open_collection_names") %>
      </dd>
    </dl>
  </fieldset>
  
  <fieldset>
    <legend>Settings</legend>
    <h3 class="landmark">Settings</h3>
    <dl>
      <dt><%= ts("Visibility") %> <%= link_to_help "registered-users" %></dt>
      <dd>
        <label for="work_restricted">
          <%= ts("Only show to registered users") %>
          <%= form.check_box :restricted %>
        </label>
        <label for="work_unrestricted">
          <%= ts("Show to all") %>
          <%= form.check_box :unrestricted %>
        </label>
      </dd>
 
      <dt><%= form.label :language_id, ts("Language") %> <%= link_to_help "languages-help" %></dt>
      <dd>
        <%= form.collection_select :work_language_id, Language.all(:order => :short), :id, :name, {:include_blank => true} %>
      </dd>

      <dt><%= form.label :work_skin_id, ts("Custom Stylesheet") %> <%= link_to_help "work-skins" %></dt>
      <dd>
        <%= form.collection_select :work_skin_id, WorkSkin.approved_or_owned_by(current_user).order(:title), :id, :title, 
            {:include_blank => true} %>
      </dd>
    </dl>
  </fieldset>
  
  <p class="caution">
    Your edits will <strong>replace</strong> the existing values!
    (If you leave a field blank it will remain unchanged.)
  </p>
  
  <p class="submit actions"><%= submit_tag ts("Update All Stories"), :confirm => ts("Are you sure? Remember this will replace all existing values!") %></p>

<% end %>
<!--/content-->

