<!--main content-->
<h2 class="heading"><%= ts("Editing Multiple Works") %></h2>
<%= render "users/header_navigation" %>

<p class="caution">
  Your edits will be applied to <strong>all</strong> of the following works:
</p>

<%= render "works/work_abbreviated_list", :works => @works %>

<%= form_for :work, :url => update_multiple_user_works_path(@user), :html => { :method => :put } do |form| %> 
  <p class="required message">
    <%= ts("* Required information") %>
    <% @works.each do |work| %>
      <%= hidden_field_tag "work_ids[]", work.id %>
    <% end %>
  </p>

  <div id="work-form" class="edit work post">
    <%= render 'work_form_tags', :include_blank => true %>
  </div>
  
  <fieldset>
    <legend>Associations</legend>
    <h3 class="landmark">Associations</h3>
    <dl>
      <%= render "works/work_form_pseuds", :form => form, :works => @works %>

      <%= render "collectibles/collectible_form", :form => form, :collectibles => @works %>

    </dl>
  </fieldset>
  
  <fieldset>
    <legend>Settings</legend>
    <h3 class="landmark">Settings</h3>
    <dl>
      <dt><%= ts("Visibility") %> <%= link_to_help "registered-users" %></dt>
      <dd>
        <label for="work_restricted">
          <%= ts("Only show to registered users") %>
          <%= form.check_box :restricted %>
        </label>
        <label for="work_unrestricted">
          <%= ts("Show to all") %>
          <%= form.check_box :unrestricted %>
        </label>
      </dd>

      <dt><%= ts("Comment Settings") %><%= link_to_help "anonymous-commenting" %></dt>
      <dd>
        <label for="work_anon_commenting_disabled">
          <%= ts("Anonymous commenting disabled") %>
          <%= form.check_box :anon_commenting_disabled %>
        </label>
      </dd>
 
      <dt><%= form.label :language_id, ts("Language") %> <%= link_to_help "languages-help" %></dt>
      <dd>
        <%= form.collection_select :language_id, Language.all(:order => :short), :id, :name, {:include_blank => true} %>
      </dd>

      <dt><%= form.label :work_skin_id, ts("Custom Stylesheet") %> <%= link_to_help "work-skins" %></dt>
      <dd>
        <%= form.collection_select :work_skin_id, WorkSkin.approved_or_owned_by(current_user).order(:title), :id, :title, 
            {:include_blank => true} %>
      </dd>
    </dl>
  </fieldset>
  
  <p class="caution">
    Your edits will <strong>replace</strong> the existing values!
    (If you leave a field blank it will remain unchanged.)
  </p>
  
  <p class="submit actions"><%= submit_tag ts("Update All Works"), :confirm => ts("Are you sure? Remember this will replace all existing values!") %></p>

<% end %>
<!--/content-->
</div>
