<%- if @collection && @most_recent_works %>
  <h1><%= t('updated_works_in_collection', :default => "Works in {{collection_title}} updated in the last month", 
    :collection_title => link_to(sanitize_title_for_display(@collection.title), @collection)) -%></h1>
<%- elsif @collection -%>
  <h1><%= t('works_in_collection', :default => "Works in {{collection_title}}", 
    :collection_title => link_to(sanitize_title_for_display(@collection.title), @collection)) -%></h1>
<%- elsif @most_recent_works -%>
  <h1><%=h t('recently_updated', :default => "Works updated in the last month") %></h1>
<%- end -%>

<h2><%= search_header @works, @query %></h2>

<%-if !@most_recent_works and @works.total_entries > ArchiveConfig.SEARCH_RESULTS_MAX %>
  <p><%= t('search_too_broad', :default => "Your search was so broad it would have returned more than {{search_max}} works. You can either browse through the ones that we found first, or narrow your search down by adding some more keywords to your search, like character names or tags.", :search_max => ArchiveConfig.SEARCH_RESULTS_MAX) %></p>
<%- end -%>

<% paginated_section @works, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>

<% if params[:tag_id] || (@user && @user == current_user) %>
<ul class="navigation">
  <% if @user && @user == current_user %>
    <li id="edit_multiple">
      <%= link_to t('edit_multiple_link', :default => 'Edit Multiple Works'), show_multiple_user_works_path(@user) -%></li>
  <% end %>
  <% if params[:tag_id] %>
    <li><%= taggable_list(params[:tag_id], "works") -%></li>
  <% end %>
</ul>
<% end %>

  <ul class="navigation">
    <li><%= t('sort_by', :default => 'Sort By') -%></li>
    <%- unless @query.blank? -%>
    <li><%= sort_link t('sort.relevance', :default => 'Relevance') %></li>
    <%- end -%>
    <li><%= sort_link t('sort.author', :default => 'Author'), :author -%></li>
    <li><%= sort_link t('sort.title', :default => 'Title'), :title -%></li>
    <li><%= sort_link t('sort.date', :default => 'Date'), :date -%></li>
    <li><%= sort_link t('sort.word_count', :default => 'Word Count'), :word_count -%></li>
  </ul>

  <%= render :partial => 'filters' %>

  <ul class="work-list">
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb', :locals => {:work => work} %>
    <%- end -%>
  </ul>

<% end %>



