<h2><%=h "View All Stories".t %></h2>

<%= render :partial => 'filters' %>

<dl class="navigation">
	<dt>Sort by</dt> 
	<dd><%= sort_link 'Title', :title -%></dd>
	<dd><%= sort_link 'Date', :date -%></dd>
	<dd><%= sort_link 'Word Count', :word_count -%></dd>	
</dl>

<ul class="story-list">
  <% for work in @works %>
	<%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <% end %>
</ul>

<div class="pagination">
	  <%= will_paginate @works, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>