<h1>View All Stories</h1>

<% for work in @works %>
<!--There must be a more elegant way of assigning class/id to elements, mustn't there? -->
<div class="story" id="<%=h work.id %>"><%= link_to h(work.title), work %> by #:user
    <%=h work.summary %>
    <%=h work.notes %>
    <%=h work.created_at %>
    <%=h work.expected_number_of_chapters %><!--Should probably only be shown on incomplete works -->
    <%=h work.is_complete %><!--This returns a boolean, rather than some meaningful text.  That's no good. -->
    <%= link_to 'Edit', edit_work_path(work) %>
    <%= link_to 'Delete', work, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end %>

<br />

<%= link_to 'New work', new_work_path %>
