<%- if @most_recent_works -%><h1>Works updated in the last month</h1><%- end -%>
<h2><%= search_header @works, @query %></h2>

<% paginated_section @works, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>

  <dl class="navigation">
    <dt><%= t('sort_by', :default => 'Sort By') -%></dt> 
    <%- unless @query.blank? -%>
    <dd><%= sort_link t('sort.relevance', :default => 'Relevance') %></dd>
    <%- end -%>
    <dd><%= sort_link t('sort.author', :default => 'Author'), :author -%></dd>
    <dd><%= sort_link t('sort.title', :default => 'Title'), :title -%></dd>
    <dd><%= sort_link t('sort.date', :default => 'Date'), :date -%></dd>
    <dd><%= sort_link t('sort.word_count', :default => 'Word Count'), :word_count -%></dd>
  </dl>

  <%= render :partial => 'filters' %>

  <ul class="work-list">
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb', :locals => {:work => work} %>
    <%- end -%>
  </ul>

<% end %>
