<h2><%= search_header @works, @query %></h2>

<% paginated_section @works, {:previous_label => '&laquo; Previous'.t, :next_label => 'Next &raquo;'.t} do %>

  <dl class="navigation">
    <dt>Sort by</dt> 
    <dd><%= sort_link 'Title', :title -%></dd>
    <dd><%= sort_link 'Date', :date -%></dd>
    <dd><%= sort_link 'Word Count', :word_count -%></dd>
  </dl>

  <%= render :partial => 'filters' %>

  <ul class="story-list">
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb', :locals => {:work => work} %>
    <%- end -%>
  </ul>

<% end %>
