<h2><%= search_header @works, @query %></h2>

<% paginated_section @works, {:previous_label => '&laquo; Previous'.t, :next_label => 'Next &raquo;'.t} do %>

  <dl class="navigation">
    <dt>Sort by</dt> 
    <%- unless @query.blank? -%>
    <dd><%= sort_link 'Relevance'.t %></dd>
    <%- end -%>
    <dd><%= sort_link 'Title'.t, :title -%></dd>
    <dd><%= sort_link 'Date'.t, :date -%></dd>
    <dd><%= sort_link 'Word Count'.t, :word_count -%></dd>
  </dl>

  <%= render :partial => 'filters' %>

  <ul class="work-list">
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb', :locals => {:work => work} %>
    <%- end -%>
  </ul>

<% end %>
