<h2><%= search_header @works, @query %></h2>

<% paginated_section @works, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} do %>

  <dl class="navigation">
    <dt><%=h "Sort by" -%></dt> 
    <%- unless @query.blank? -%>
    <dd><%= sort_link 'Relevance' %></dd>
    <%- end -%>
    <dd><%= sort_link 'Author', :author -%></dd>
    <dd><%= sort_link 'Title', :title -%></dd>
    <dd><%= sort_link 'Date', :date -%></dd>
    <dd><%= sort_link 'Word Count', :word_count -%></dd>
  </dl>

  <%= render :partial => 'filters' %>

  <ul class="work-list">
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb', :locals => {:work => work} %>
    <%- end -%>
  </ul>

<% end %>
