<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Merge Work') %></h2>

<!--/descriptions-->

<!--main content-->

<%=form_tag :url => merge_work_path(@work), :method => 'put' %>
    <%=label_tag 'target_id' %>
    <%=text_field_tag 'target_id'%>


    <div><%= submit_tag 'Merge' %></div>
<% end %>


<!--/content-->


