<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Merge Work') %></h2>


<!--/descriptions-->



<!--main content-->
<%= form_for(@work, :url => { :action => "merge_work", :user_id => @user }) do |f| %>
    <fieldset>
      <legend><%= ts("Merge") %></legend>
      <h4 class="heading"><%= ts("Merge") %></h4>
      <ul>
        <li>
          <%= @work.title.to_s %>
        </li>

        <li>
          <%= f.text_field :target_id %>
          <%= f.label :target_id, ts("Target Id") %>
        </li>



      </ul>
    </fieldset>


    <%= submit_fieldset(f) %>

<% end %>
<!--/content-->


