<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Merge Work') %></h2>


<!--/descriptions-->



<!--main content-->
<%= form_for(@work, :url => { :action => "merge_work", :user_id => @user, :method => 'put'  }) do |f| %>
    <fieldset>
      <legend><%= ts("Merge") %></legend>
      <h4 class="heading"><%= ts("Merge") %></h4>
      <ul>
        <li>
          <%= @work.title.to_s %>
        </li>

        <li>
          <%=label_tag 'target_id' %>
          <%=text_field_tag 'target_id'%>
        </li>



      </ul>
    </fieldset>


    <%= submit_fieldset(f) %>

<% end %>
<!--/content-->


