<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Import New Work") %> <%= link_to_help 'work-import'%></h2>
<%= error_messages_for :work %>
<div class="notice">
  <p class="important">
    <%= ts("Please note! Imports from fanfiction.net are no longer available because of a block on their end.") %>
  </p>
  <p>
    <%= ts("If you have trouble importing from another site, ") %> 
    <%= link_to ts("please let us know"), new_feedback_report_path %>
    <%= ts("so we can improve this tool!") %>
  </p>
  <p>You might find the <a href="http://archiveofourown.org/archive_faqs/9">Import <abbr title="frequently asked questions">FAQ</abbr></a> useful.</p>
</div>

<!--/descriptions-->

<!--subnav-->
<ul class="actions" role="menu">
  <% if @unposted %>
    <li id='restore-link'>
      <%= link_to ts('Restore From Last Unposted Draft?'), url_for(:action => :new, :load_unposted => true) %>
    </li>
  <% end %>
  <li id="form-link">
     <%= link_to( ts("Post New Work Instead?"),
       {:url => {:controller => :works, :action => :new, :import => false}},
       :href => url_for(:controller => :works, :action => :new, :import => false)) %>
  </li>
</ul>

<!-- This partial renders a form for importing a work from an existing URL -->


  
<div class="import work post">
<%= form_tag url_for(:controller => :works, :action => :import) do %>
<fieldset>
  <legend><%= ts("Works URLs") %></legend>
  <dl>
    <dt class="required"><%= label_tag "urls", ts("URLs") %></dt>
   <dd><%= text_area_tag "urls", @urls ? @urls.join("\n") : "", :rows => 20, :cols => 90 %>
	<p class="footnote">URLs for existing work(s) or for the chapters of a single work; <strong>one URL per line</strong>.</p>
  </dd>
   <dt>
    <%= label_tag "encoding", ts("Set custom encoding") %> <%= link_to_help "encoding-help" %></dt> 
    <dd><%= select_tag "encoding", options_for_select([''] + Encoding.name_list.sort) %></dd>
	<dt>Preferences</dt>
	<dd>
	<ul>
	<li><%= radio_button_tag "import_multiple", "works", true %>
    <%= label_tag "import_multiple_works", ts("Works (limit of %{max})", :max => current_user.archivist ? ArchiveConfig.IMPORT_MAX_WORKS_BY_ARCHIVIST : ArchiveConfig.IMPORT_MAX_WORKS) %>
    </li>
    <li><%= radio_button_tag "import_multiple", "chapters" %>
    <%= label_tag "import_multiple_chapters", ts("Chapters in a single work (limit of %{max})", :max => ArchiveConfig.IMPORT_MAX_CHAPTERS) %>
  </li>
  
  <% if current_user.archivist %>
    <li>
      <%= check_box_tag "importing_for_others" %>
      <%= label_tag "importing_for_others", ts("Import for others ONLY with permission") %>
    </li>
    <li>
      <%= text_field_tag_original "external_author_name" %>
      <%= label_tag "external_author_name", ts("Author Name") %>
    </li>
    <li>
      <%= text_field_tag_original "external_author_email" %>
      <%= label_tag "external_author_email", ts("Author Email Address") %>
    </li>
    <li>
      <%= text_field_tag_original "external_coauthor_name" %>
      <%= label_tag "external_coauthor_name", ts("Co-Author Name") %>
    </li>
    <li>
      <%= text_field_tag_original "external_coauthor_email" %>
      <%= label_tag "external_coauthor_email", ts("Co-Author Email Address") %>
    </li>
  <% end %>

  <li>
    <%= check_box_tag "post_without_preview" %>
    <% if current_user.archivist %>
      <%= label_tag "post_without_preview", ts("Post without previewing (STRONGLY recommended if importing for others!)") %>
    <% else %>
      <%= label_tag "post_without_preview", ts("Post without previewing.") %>
    <% end %>
  </li>

  <li>
    <%= check_box_tag "restricted" %>
    <%= label_tag "restricted", ts("Lock all imports to registered users only.") %>
  </li>

  <li>
    <%= check_box_tag "override_tags" %>
    <%= label_tag "override_tags", ts("Set the following tags on all stories, overriding whatever the importer finds.") %>
  </li>
</ul>
</dd>
</dl>
</fieldset>

<%= render :partial => 'work_form_tags', :locals => {:include_blank => true} %>

<fieldset>
  <legend><%= "Submit" %></legend>
  <p class="submit actions">
  <%= submit_tag ts("Import") %>
  </p>
</fieldset>

<% end %>
</div>
