<%= error_messages_for :work -%>

  <h2><%=h 'Preview Story'.t %></h2>
  <p class="message"><%=h 'Further features coming soon. Questions?'.t %>  <a href="mailto:<%=ArchiveConfig.QUESTION_ADDRESS%>"><%=h 'Email us.'.t %></a>
	</p>

<%= render :partial => 'preview_edit' -%>
