<%= error_messages_for :work -%>

  <h2><%=h 'Preview Story' %></h2>
  <p class="message"><%=h 'Further features coming soon. Questions?' %>  <a href="mailto:<%=ArchiveConfig.QUESTION_ADDRESS%>"><%=h 'Email us.' %></a>
	</p>

<%= render :partial => 'preview_edit' -%>
