<h2 class="heading"><%= ts('Work Search: Beta') %></h2>

<%= render 'search_form' %>

<% if @works.present? %>
  <h3 class="heading"><%= @works.total_entries %> Found <%= link_to_help "work-search-results-help" %></h3>

  <h3 class="landmark heading">Works List</h3>
<!--BACK END, if work.nil do not show this ol at all-->
  <ol class="work index group">
    <% @works.each do |work| %>
      <% unless work.nil? %>
        <%= render :partial => 'work_blurb', :locals => {:work => work} %>
      <% end %>
    <% end %>
  </ol>
 
 <%= will_paginate @works %>
<% end %>
