<h2 class="heading"><%= ts('Work Search: Beta') %></h2>

<ul class="navigation actions" role="navigation">
  <li class="search">
    <%= form_tag url_for(:controller => 'works', :action => 'search'), :class => 'simple search', :method => :get do %>
    <fieldset>
      <legend>Search works</legend>
      <% unless @query %>
      <% @query ||= {} %>
      <% end %>
        <!--BACK END, please title this text field-->
    	<p><%= link_to_help "work-search-text-help" %> 
    	<%= text_field_tag "query[text]", @query[:text], :id => 'refine_text' %>

      <%= hidden_field_tag "query[tag]", @query[:tag] %>
      <%= hidden_field_tag "query[title]", @query[:title] %>
      <%= hidden_field_tag "query[author]", @query[:author] %>
      <%= hidden_field_tag "query[words]", @query[:words] %>
      <%= hidden_field_tag "query[hits]", @query[:hits] %>
      <%= hidden_field_tag "query[date]", @query[:date] %>
      <%= hidden_field_tag "query[language]", @query[:language] %>
      <%= hidden_field_tag "query[bookmarked]", @query[:bookmarked] %>
      <%= hidden_field_tag "query[recced]", @query[:recced] %>
      <%= hidden_field_tag "query[complete]", @query[:complete] %>

    	<span class="tip"><%= random_search_tip %></span>
      <span class="submit actions">
    <% if @query.blank? %>
        <%= submit_tag ts('Search'), :name => nil %>
    <% else %>
        <%= submit_tag ts('Refine search'), :name => nil %>
    <% end %>
      </span>
    </p>
    </fieldset>
    <% end %>
    </li>
    <li><%= link_to(ts("Advanced search"), search_index_path(:query => @query)) %></li>
    </ul>

<% unless @query.blank? %>
<p>
  <%= ts('You searched for') %>:
  <% unless @query[:text].blank? %><%= ts('Text') %>: <%= @query[:text] %> <% end %>
  <% unless @query[:tag].blank? %><%= ts('Tag') %>: <%= @query[:tag] %> <% end %>
  <% unless @query[:title].blank? %><%= ts('Title') %>: <%=  @query[:title] %> <% end %>
  <% unless @query[:author].blank? %><%= ts('Author') %>: <%= @query[:author] %> <% end %>
  <% unless @query[:words].blank? %><%= ts('Words') %>: <%= @query[:words] %> <% end %>
  <% unless @query[:hits].blank? %><%= ts('Hits') %>: <%= @query[:hits] %> <% end %>
  <% unless @query[:date].blank? %><%= ts('Date') %>: <%= @query[:date] %> <% end %>
  <% unless @query[:language].blank? %><%= ts('Language') %>: <%= @query[:language] %> <% end %>
  <% unless @query[:bookmarked].blank? %><%= ts('Bookmarked') %><% end %>
  <% unless @query[:recced].blank? %><%= ts('Recced') %><% end %>
  <% unless @query[:complete].blank? %><%= ts('Complete') %><% end %>
<% end %>
</p>



<% if @works %>
<% begin %>
  <h3 class="heading"><%= @works.total_entries %> Found <%= link_to_help "work-search-results-help" %></h3>

  <h3 class="landmark heading">Works List</h3>
<!--BACK END, if work.nil do not show this ol at all-->
  <ol class="work index group">
    <% @works.each do |work| %>
      <% unless work.nil? %>
        <%= render :partial => 'work_blurb', :locals => {:work => work} %>
      <% end %>
    <% end %>
  </ol>
 
 <%= will_paginate @works %>
<% rescue Riddle::ConnectionError %>
   <%= ts("The search engine seems to be down at the moment, try back later!")%>
  <% end %>
<% end %>
