<h2>Work Search: Beta</h2>

<ul class="navigation" role="navigation"><li>
  <%= link_to(t('.refine_search', :default => "Advanced search"), search_index_path(:query => @query)) %>
</li></ul>

<p>
  <%= t('.you_searched_for', :default => 'You searched for:') %>
    <% unless @query[:text].blank? %><%= t('.text', :default => 'Text') %>: <%= @query[:text] %> <% end %>
    <% unless @query[:tag].blank? %><%= t('.tag', :default => 'Tag') %>: <%= @query[:tag] %> <% end %>
    <% unless @query[:title].blank? %><%= t('.title', :default => 'Title') %>: <%=  @query[:title] %> <% end %>
    <% unless @query[:author].blank? %><%= t('.author', :default => 'Author') %>: <%= @query[:author] %> <% end %>
    <% unless @query[:words].blank? %><%= t('.words', :default => 'Words') %>: <%= @query[:words] %> <% end %>
    <% unless @query[:hits].blank? %><%= t('.hits', :default => 'Hits') %>: <%= @query[:hits] %> <% end %>
    <% unless @query[:date].blank? %><%= t('.date_desc', :default => 'Date') %>: <%= @query[:date] %> <% end %>
    <% unless @query[:language].blank? %><%= t('.language', :default => 'Language') %>: <%= @query[:language] %> <% end %>
    <% unless @query[:bookmarked].blank? %><%= t('.language', :default => 'Bookmarked') %><% end %>
    <% unless @query[:recced].blank? %><%= t('.language', :default => 'Recced') %><% end %>
    </p>

<%= form_tag url_for(:controller => 'works', :action => 'search'), :class => 'search', :method => :get do %>
<fieldset>
	<legend>Search works</legend>
  <% unless @query %>
  <% @query ||= {} %>
  <% end %>
	  <%= text_field_tag "query[text]", @query[:text], :id => 'refine_text' %>
    <%= link_to_help "work-search-text-help" %> (any field)
  
  <%= hidden_field_tag "query[tag]", @query[:tag], :id => 'refine_tag' %>
  <%= hidden_field_tag "query[title]", @query[:title], :id => 'refine_title' %>
  <%= hidden_field_tag "query[author]", @query[:author], :id => 'refine_author' %>
  <%= hidden_field_tag "query[words]", @query[:words], :id => 'refine_word_count' %>
  <%= hidden_field_tag "query[hits]", @query[:hits], :id => 'refine_hit_count' %>
  <%= hidden_field_tag "query[date]", @query[:date], :id => 'refine_revised_at' %>
  <%= hidden_field_tag "query[language]", @query[:language], :id => 'refine_language' %>
  <%= hidden_field_tag "query[bookmarked]", @query[:bookmarked] %>
  <%= hidden_field_tag "query[recced]", @query[:recced] %>
  
  <span class="submit">
    <%= submit_tag t('.forms.search', :default => 'Refine search'), :class => 'button', :name => nil %>
  </span>
</fieldset>
<% end %>

<% if @works %>
<% begin %>
  <p><strong><%= @works.total_entries %> Found</strong><%= link_to_help "work-search-results-help" %></p>
  
  <h3 class="landmark">Works List</h3>
  <ol class="work index">
    <% @works.each do |work| %>
      <% unless work.nil? %>
        <%= render :partial => 'work_blurb', :locals => {:work => work} %>
      <% end %>
    <% end %>
  </ol>
  <div class="clear"><!-- presentational--></div>
  <%= will_paginate @works, {:previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'} %>
<% rescue Riddle::ConnectionError %>
   <%= t('.errors.search_engine_down', :default => "The search engine seems to be down at the moment, try back later!")%>
  <% end %>
<% end %>
