<h2 id="story-title"> 
  <%=h @work.title %></h2>
<h3 class="story-author"><a href="#" class="username">username</a></h3>

<p class="story-notes">
  <%=h @work.notes %>
</p>
<hr />

<p>
	<!--Chapters go here -->
</p>

<p>
  <b>This work is complete:</b>
  <%=h @work.is_complete %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
