<!-- BEGIN navigation -->
<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
  <li>
  	<% if is_author_of?(@work) -%>
	<div class="list-right">
		<strong><%= link_to 'Edit', edit_work_path(@work) %></strong>
		|
		<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete -%>
	</div>
	<% end -%>
  </li>
</ul>
<div class="clearboth"></div>
<!-- END navigation -->

<!-- BEGIN work --> 
<%= render :partial => 'work' -%>
<!-- END work -->

<!-- BEGIN bookmark link -->
<%= bookmark_link(@work) %>
<div id="dynamic-bookmark" style="display:none"></div> 
<!-- END bookmark link -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @work.last_chapter, :is_work => true} %>
<!-- END comment section -->
