<h2><%=h t('works_edit', :default  => "Works To Edit") -%></h2>

<% form_tag edit_multiple_user_works_path(@user) do %>

<div style="text-align: center; margin: 0 auto;">
<%= render :partial => 'edit_multiple_controls' %>

  <table class="story-list">
    <tr>
      <th>&nbsp;</th>
      <th><%=h t('title', :default =>"Title") %></th>
      <th><%=h t('fandom', :default =>"Fandom") %></th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb_short', :locals => {:work => work} %>
    <%- end -%>
  </table>

<%= render :partial => 'edit_multiple_controls' %>
</div>

<% end %>
