<h2>Edit <%= @author ? print_pseud_works_link(@author) : print_works_link(@user) %> </h2>

<% form_tag edit_multiple_user_works_path(@user),  :id => 'edit-multiple-works' do %>
<table class="work index" summary="This page shows a list of your works. You can select a work, or many works, and then choose to edit, orphan, or delete them. You can post multiple drafts on this page too.">
    <caption><%=h t('works.editing multiple', :default => "Editing Multiple Works") -%></caption>
	<thead>
      	<tr>
		<td colspan="4"><%= render :partial => 'edit_multiple_controls' %></td>
		</tr>
		<tr>
			<th scope="col"><%=h t('title', :default =>"Title") %></th>
      <th scope="col"><%=h t('fandom', :default =>"Fandom") %></th>
		  <th scope="col"><%=h t('Select', :default =>"Select") %></th>
      <th abbr="options" scope="col"><%=h t('editing options', :default =>"Editing Options") %></th>
</tr>
    </thead>
    <tbody>
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb_short', :locals => {:work => work} %>
    <%- end -%>
</tbody>
<tfoot>
	<tr>
		<tr>
		<td colspan="4"><%= render :partial => 'edit_multiple_controls' %></td>
		</tr>
	</tr>
	</tfoot>
  </table>
<% end %>
