<!-- BEGIN navigation -->
<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
  <li>
	<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete, :class => 'list-right' -%>
  </li>
</ul>
<div class="clearboth"></div>
<!-- END navigation -->

<div class="story-show">
  <h2 class="story-title"><%=h @work.metadata.title %></h2>
  <h3 class="story-author"><%= render :partial => 'pseuds/byline', :locals => { :creation => @work } -%></h3>
  <p class="story-notes">
    <%=h @work.metadata.notes %>
  </p>
  <hr/>
  <p>
    <!--Chapters go here -->
    <% unless @work.chapters.nil? %>
      <% @work.chapters.each do |chapter| %>
        <%= chapter.content -%><br/>
      <% end %>
    <% end %>
  </p>
  <p>
    <b>This work is complete:</b>
    <%=h @work.is_complete %>
  </p>
  <p>
    <%= link_to 'Edit', edit_work_path(@work) %>
  </p>
</div>

<div id="comments-display">
  <p>
    <%= link_to_function('Add a comment', "Element.toggle('add-comment')") %>
  </p>
                  
  <div id="add-comment" style="display : none;">   
    <%= render :partial => @comment = Comment.new, :locals => {:commentable => @work, :button_name => 'Create'}%> 
  </div>  

  <p>
  <%= link_to_function('Read comments', "Element.toggle('comments')") %>   
  </p>

  <div id="comments" style="display : none;">   
    <%= render :partial => 'comments/comment_view' %> 
  </div>
</div>