<%- if logged_in_as_admin? -%>
<%= render :partial => 'admin/admin_options', :locals => {:item => @work} %>
<%- end -%>

<!-- BEGIN work --> 
<div class="work-show"><a name="top" />
	<%= render :partial => 'works/work_header' -%>
	<%- if logged_in_as_admin? -%>
	<%= render :partial => 'admin/admin_options', :locals => {:item => @work} %>
	<%- end -%>
	<div id="chapters">
	<%= render :partial => 'chapters/chapters' -%>
	</div>
  <%- unless @work.endnotes.blank? -%>
    <div class="preface">
      <blockquote id="work_endnotes" class="notes">
        <h3><%=h "Notes:" %></h3>
        <%=sanitize_and_format_for_display @work.endnotes %>
      </blockquote>
    </div>
  <%- end -%>
  <%- unless @work.series.blank? -%>
    <%= render :partial => 'works/series_links' -%>
  <%- end -%>
	<%= render :partial => 'works/work_footer' -%>
  <div id="link-to-top"><%= link_to image_tag("arrow-up.gif") + t('works_top_link_text', :default => "top"), work_path(@work, :anchor => "top")%></div>
</div>
<!-- END work -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @work} %>
<!-- END comment section -->
