<!-- BEGIN navigation -->
<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
  <li>
	<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete, :class => 'list-right' -%>
  </li>
</ul>
<div class="clearboth"></div>
<!-- END navigation -->

<div class="story-show">
  <h2 class="story-title"><%=h @work.title %></h2>
  <h3 class="story-author"><a href="#" class="username">username</a></h3>
  <p class="story-notes">
    <%=h @work.notes %>
  </p>
  <hr/>
  <p>
    <!--Chapters go here -->
    <% unless @work.chapters.nil? %>
      <% @work.chapters.each do |chapter| %>
        <%= chapter.content -%><br/>
      <% end %>
    <% end %>
  </p>
  <p>
    <b>This work is complete:</b>
    <%=h @work.is_complete %>
  </p>
  <p>
    <%= link_to 'Edit', edit_work_path(@work) %>
  </p>
</div>
