<!-- BEGIN navigation -->
<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
  <li>
  	<% if is_author_of?(@work) -%>
	<div class="list-right">
		<strong><%= link_to 'Edit', edit_work_path(@work) %></strong>
		|
		<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete -%>
	</div>
	<% end -%>
  </li>
</ul>
<div class="clearboth"></div>
<!-- END navigation -->

<!-- BEGIN work --> 
<%= render :partial => 'work' -%>
<!-- END work -->

<!-- BEGIN bookmark link -->
<%= bookmark_link(@work) %>
<div id="dynamic-bookmark" style="display:none"></div> 
<!-- END bookmark link -->

<!-- BEGIN comment section -->
<div id="comments-display">
  <p>
    <%= link_to_function('Add a comment', "Element.toggle('add-comment')", :href => new_chapter_comment_path(@work.last_chapter)) %>
  </p>
                  
  <div id="add-comment" style="display : none;">   
    <%= render :partial => @comment = Comment.new, :locals => {:commentable => @work.last_chapter, :button_name => 'Create'}%> 
  </div>  

  <!-- BEGIN comments -->
  <% unless @comments.empty? %>
    <div id="show_comments_link">
      <p>
      <%= show_hide_comments_link %>   
      </p>
	</div>
  <% end %>
  
  <div id="comments">   
    <%- if params[:show_comments] -%>   
      <%= render :partial => 'comments/comment_view' %>
	  <%- end -%>     
  </div>
  
  <!-- END comments -->
</div>
<!-- END comment section -->
