<!-- BEGIN navigation -->
<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
  <li>
  	<% if is_author_of?(@work) -%>
	<div class="list-right">
		<strong><%= link_to 'Edit', edit_work_path(@work) %></strong>
		|
		<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete -%>
	</div>
	<% end -%>
  </li>
</ul>
<div class="clearboth"></div>
<!-- END navigation -->

<!-- Show the work --> 
<%= render :partial => 'work' -%>

<!-- comments -->
<div id="comments-display">
  <p>
    <%= link_to_function('Add a comment', "Element.toggle('add-comment')", :href => new_work_comment_path(@work)) %>
  </p>
                  
  <div id="add-comment" style="display : none;">   
    <%= render :partial => @comment = Comment.new, :locals => {:commentable => @work, :button_name => 'Create'}%> 
  </div>  

  <% unless @comments.empty? %>
    <p>
      <%= link_to_function('Read comments', "Element.toggle('comments')", :href => work_comments_path(@work)) %>   
    </p>

    <div id="comments" style="display : none;">   
      <%= render :partial => 'comments/comment_view' %> 
    </div>
   <% end %>
</div>