<ul class="landmark skip">
  <li><a name="top">&nbsp;</a></li>
  <li><a href="#work"><%= ts("Skip header") %></a></li>
</ul>
<%= render "works/work_notices" %>
<% if policy(@work).show_admin_options? %>
  <%= render "admin/admin_options", item: @work %>
<% end %>
<% if !@work.unrevealed? || logged_in_as_admin? || can_access_unrevealed_work(@work, current_user) %>
  <div class="work">
    <%= render "works/work_header_navigation" %>

    <%= render "works/meta", work: @work %>

    <%= render "works/work_skin" %>

    <div id="workskin">
      <%= render "works/preface" %>
    <div id="chapters" role="article">
        <% if @chapters %>
          <% for chapter in @chapters %>
            <%= render "chapters/chapter", chapter: chapter %>
          <% end %>
        <% else %>
          <h3 class="landmark heading" id="work"><%= ts("Work Text:") %></h3>
          <% cache("#{@chapter.cache_key}-show-content", skip_digest: true) do %>
            <div class="userstuff"><%=raw sanitize_field(@chapter, :content) %></div>
          <% end %>
        <% end %>
      </div>
      <% inspired_by = get_inspired_by(@work) %>
      <% if !@work.endnotes.blank? || !@work.series.blank? || !inspired_by.empty? %>
        <div class="afterword preface group">
          <% unless @work.endnotes.blank? %>
            <%= render "works/work_endnotes" %>
          <% end %>
          <% unless @work.series.blank? %>
            <%= render "works/work_series_links" %>
          <% end %>
          <% unless inspired_by.empty? %>
            <%= render "works/work_approved_children", inspired_by: inspired_by %>
          <% end %>
        </div>
        <% end %>

    </div>
    </div>
  <%= render "comments/commentable", commentable: @work %>
  <% end %>
<%= render "hit_count/include" %>