<h2><%=h t('my_inbox', :default => 'My Inbox') %> (<%= t('unread_count', :default => "{{count}} unread", :count => @unread.length) %>)</h2>

<%= flash_div :comment_error, :comment_notice -%>

<%- unless @unread.blank? && @read.blank? -%>
  <%- form_tag user_inbox_path(@user), :method => :put, :id => 'inbox-form' do -%>
    <%- unless @unread.blank? -%>
      <h3><%= t('unread_comments', :default => "Unread comments") %></h3>
      <%- for comment in @unread -%>
        <!-- START of single comment -->
          <div class="comment unread" id="comment_<%= comment.id -%>">
            <p>
              <%= check_box_tag "comments[#{comment.id}]", "checked" %>
              <%= commentable_owner_link(comment) %> <%=h 'to' %> <%= commentable_description_link(comment) %> 
              <%= distance_of_time_in_words_to_now(comment.created_at) %>
            </p>
            <%= sanitize_and_format_for_display comment.content %>
            <div id="add_comment_reply_link_<%= comment.id -%>"><%= inbox_reply_link(comment) %></div>
          </div>
        <!-- END of single comment -->
      <%- end -%>
    <%- end -%>
    <%- unless @read.blank? -%>
      <h3><%= t('read_comments', :default => "Read comments") %></h3>
      <%- for comment in @read -%>
        <!-- START of single comment -->
          <div class="comment read" id="comment_<%= comment.id -%>">
            <p>
              <%= check_box_tag "comments[#{comment.id}]", "checked" %>
              <%= commentable_owner_link(comment) %> <%=h 'to' %> <%= commentable_description_link(comment) %> 
              <%= distance_of_time_in_words_to_now(comment.created_at) %>
            </p>
            <div id="full_read_comment_<%= comment.id -%>" style="display:none;">
              <%= sanitize_and_format_for_display comment.content %>
              <div id="add_comment_reply_link_<%= comment.id -%>"><%= inbox_reply_link(comment) %></div>
            </div>
          </div>
        <!-- END of single comment -->
      <%- end -%>
    <%- end -%>
    <%= "Mark checked as:" %> 
    <%= submit_tag t('read', :default => 'read') %>
    <%= submit_tag t('unread', :default => 'unread') %>
    <%= submit_tag t('spam', :default => 'spam') %>
    <%= submit_tag t('delete_from', :default => 'delete comments from story', :confirm => t('links.are_you_sure', :default => 'Are you sure?')) %>
    <!-- coming soon <%= submit_tag t('mass_reply', :default => 'mass reply') %> -->
  <%- end -%>
<%- end -%>
