<!--titled instead of labelled as per WCAG 2.0. do not revert.-->

<th scope="row"><%=h abuse_report.id %></th>
<td><%= abuse_report.email.blank? ? '(' + 'Anonymous'.t + ')' : mail_to(abuse_report.email) -%></td>
<td><%= link_to abuse_report.url -%></td>
<td><%= time_ago_in_words abuse_report.created_at -%></td>
<td><%= link_to 'Detail'.t, abuse_report_path(abuse_report) -%></td>
