<h1><%=h t('abuse_reports.index.about', :default => "All Abuse Reports:") -%></h1>

<table id="abuse_reports_table">
<caption><%=h t('abuse_reports.index.listing', :default => "Listing all the abuse reports made on the archive.") -%></caption>
<tr>
	<th scope="col"><%=h t('abuse_reports.index.id', :default => "ID") -%></th>
	<th scope="col"><%=h t('abuse_reports.index.from', :default => "From") -%></th>
	<th scope="col"><%=h t('abuse_reports.index.referring_to', :default => "Referring To") -%></th>
	<th scope="col"><%=h t('abuse_reports.index.reported', :default => "Reported") -%></th>
	<th scope="col"><%=h t('abuse_reports.index.show', :default => "Show") -%></th>
</tr>
	<%- for abuse_report in @abuse_reports -%>
	<tr id="abuse_report_<%= abuse_report.id %>">
    <%= render :partial => 'abuse_report', :locals => {:abuse_report => abuse_report} %>
  </tr>
  <%- end -%>
</table>

<div class="pagination">
	  <%= will_paginate @abuse_reports, :prev_label =>  "&laquo; " + t('pagination.previous', :default => "Previous"), :next_label => t('pagination.next', :default => "Next") + " &raquo;" %>
</div>
