<div class="admin">
<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%=ts("All Abuse Reports") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="wrapper">
<table id="abuse_reports_table" summary="<%= ts("Overview of all abuse reports, as well as links to view each detailed report.") %>">
<caption><%=ts("All Abuse Reports") %></caption>
<colgroup>
<col class="name" />
<col />
</colgroup>
<thead>
	<tr>
	<th scope="col"><%=ts("ID") %></th>
	<th scope="col"><%=ts("From") %></th>
	<th scope="col"><%=ts("Referring To") %></th>
	<th scope="col"><%=ts("Reported") %></th>
	<th scope="col"><%=ts("Show") %></th>
</tr>
</thead>
<tbody>
	<% for abuse_report in @abuse_reports %>
	<tr id="abuse_report_<%= abuse_report.id %>">
    <%= render :partial => 'abuse_report', :locals => {:abuse_report => abuse_report} %>
  </tr>
  <% end %>
</tbody>
</table>
</div>
<!--/content-->
<!--subnav-->
	  <%= will_paginate @abuse_reports %>
<!--/subnav-->
</div>