<h1><%=h "All Abuse Reports:".t -%></h1>

<table id="abuse_reports_table">
<caption><%=h "Listing all the abuse reports made on the archive.".t -%></caption>
<tr>
	<th scope="col"><%=h "ID".t -%></th>
	<th scope="col"><%=h "From".t -%></th>
	<th scope="col"><%=h "Referring To".t -%></th>
	<th scope="col"><%=h "Reported".t -%></th>
	<th scope="col"><%=h "Show".t -%></th>
</tr>
	<%- for abuse_report in @abuse_reports -%>
	<tr id="abuse_report_<%= abuse_report.id %>">
    <%= render :partial => 'abuse_report', :locals => {:abuse_report => abuse_report} %>
  </tr>
  <%- end -%>
</table>

<div class="pagination">
	  <%= will_paginate @abuse_reports, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>
