<h2><%= t('supported_languages', :default => 'The archive supports the following languages:') %></h2>

<p>
<%- if current_user.is_a?(User) && current_user.is_translation_admin? -%>
  <%= link_to t('link_to_new', :default => 'Add a new one'), new_language_path %>
<%- else -%>
  <%= link_to t('suggest_language', :default => 'Suggest a new one!'), new_feedback_report_path %>
<%- end -%>
</p>

<table id="languages_table">
  <caption><%=h t('list', :default => "List of all current languages in the archive") -%></caption>
  <tr>
  	<th scope="col"><%=h t('name', :default => "Name") -%></th>
  	<th scope="col"><%=h t('work_count', :default => "Works") -%></th>
  </tr>
  
  <%- for language in @languages -%>
  <tr>
    <td><%= link_to language.name, language %></td>
    <td><%= link_to language.works.count, language_works_path(language) %></td>
  </tr>
  <%- end -%>
</table>