<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".description") %></h2>
<!--/descriptions-->

<!--subnav-->
<p class="navigation actions" role="navigation">
  <% if policy(Language).new? %>
    <%= link_to t(".add"), new_language_path %>
  <% else %>
    <%= link_to t(".suggest"), new_feedback_report_path %>
  <% end %>
</p>
<!--/subnav-->

<!--main content-->
<dl class="language index group">
  <% @languages.each do |language| %>
    <% works_count = estimate_number(@works_counts[language.short] || 0) %>
    <% if language == Language.default %>
      <dt><span lang="<%= language.short %>"><%= language.name %></span></dt>
      <dd>
        <%= link_to t(".works_count", count: works_count), works_path %>
      </dd>
    <% else %>
      <dt><%= link_to language.name, language, lang: language.short %></dt>
      <dd>
        <%= link_to t(".works_count", count: works_count), language_works_path(language) %>
        <% if policy(Language).edit? %>
          <p class="actions">
            <%= link_to t(".edit"), edit_language_path(language) %>
          </p>
        <% end %>
      </dd>
    <% end %>
  <% end %>
</dl>
<!--main content-->
