<%= error_messages_for :language %>

<h2 class="heading"><%= ts('Add a new language:') %></h2>

<%= form_for(@language) do |f| %>
  <dl>
    <dt><%= f.label :name, ts("Name:") %></dt>
    <dd><%= f.text_field :name %></dd>
    
    <dt><%= f.label :short, ts("Abbreviation:") %></dt>
    <dd><%= f.text_field :short %></dd>
  </dl>
  <p><%= f.submit ts("Submit") %></p>
<% end %>


