<h2><%=h 'TagWrangler: New Kind of Relationship'.t %></h2>

<%- form_for(@tag_relationship_kind) do |f| -%>
  <dl>
    <dt><%=h 'Name:'.t %></dt> 
    <dd><%= f.text_field("name", :size => 12) %></dd>

    <dt><%=h 'Phrase:'.t %></dt> 
    <dd><%= f.text_field("verb_phrase") %></dd>

    <dt><%=h 'Distance:'.t %></dt>
    <dd>
      <%= f.radio_button("distance", 0) %> 0
      <%= f.radio_button("distance", 1, :checked => 'checked')%> 1
      <%= f.radio_button("distance", 2) %> 2
      <%= f.radio_button("distance", 3) %> 3 
      <p>
        <%=h '(tags are sorted based on the distance of their relationships:'.t %>
        <%=h '0 means they are the same, 3 means they have something in common, 1 is the default)'.t %>
      </p>
    </dd>
  
    <dt><%=h 'Reciprocal:'.t %></dt> 
    <dd>
      <%= f.check_box("reciprocal") %>
      <p>
        <%=h 'This relationship is the same in both directions.'.t %>
        <%=h 'If I drop tag1 on tag2, tag2 will be created with the same relationship towards tag1.'.t %>
        <%=h "e.g. 'synonym' is reciprocal, 'is a child of' is not".t %>
      </p>
    </dd>
  </dl>
  
  <p><%= f.submit %><p>
<%- end -%>

<%= tag_wrangler_footer %>