<h1>Tag Relationship Kind: <%=h @tag_relationship_kind.name %></h1>

<dl>
	<dt>Verb phrase:</dt>
	<dd>Tag X <strong><%= @tag_relationship_kind.verb_phrase %></strong> Tag Y.</dd>
	
	<dt>Distance:</dt>
	<dd><%= @tag_relationship_kind.distance %></dd>

	<dt>Reciprocal:</dt>
	<dd><%= @tag_relationship_kind.reciprocal? ? "Yes" : "No" %></dd>
</dl>

<h2>Current Relationships</h2>

<div id="current-tag-relationships">
  <ul id="relationship-list">
  <%- for relationship in @current_relationships -%>
    <li><%=h relationship.tag.name + " " + relationship.tag_relationship_kind.verb_phrase + " " + relationship.related_tag.name %></li>
  <%- end -%>
  </ul> 
</div>

<%= tag_wrangler_footer %>