<% # expects local variables kudos, guest_kudos_count, commentable %>
<div id="kudos">
  <% if kudos.length > 0 || guest_kudos_count > 0 %>
    <% cache "#{commentable.cache_key}/kudos-v1" do %>
      <p class="kudos">
        <% if kudos.length <= ArchiveConfig.MAX_KUDOS_TO_SHOW %>
          <%= kudos.map {|kudo| link_to kudo.pseud.byline, kudo.pseud.user}.
              to_sentence.
              html_safe %>
        <% else %>
          <%= kudos[0,ArchiveConfig.MAX_KUDOS_TO_SHOW].map {|kudo| link_to kudo.pseud.byline, kudo.pseud.user}.
              to_sentence(last_word_connector: ", ").
              html_safe + ", " %>
          <%= link_to work_kudos_path(commentable), id: "kudos_summary" do %>
           <% collapsed_count = kudos.length - ArchiveConfig.MAX_KUDOS_TO_SHOW %>
            <% if collapsed_count == 1 %>
              <%= ts(" and 1 more user") %>
            <% else %>
              <%= ts(" and %{collapsed_count} more users", collapsed_count: collapsed_count) %>
            <% end %>
          <% end %>
          <span class="kudos_expanded hidden">
            <%= kudos[ArchiveConfig.MAX_KUDOS_TO_SHOW..-1].map {|kudo| link_to kudo.pseud.byline, kudo.pseud.user}.
                to_sentence(two_words_connector: ts(" and "), last_word_connector: ts(" and ")).
                html_safe %>
          </span>
        <% end %>
        <% if guest_kudos_count > 0 %>
          <% if kudos.length > 0 %>
            <%= ts(" as well as ") %>
          <% end %>
          <%= ts(pluralize(guest_kudos_count, "guest")) %>
        <% end %>
        <%= ts(" left kudos on this work!") %>
        <span class="kudos_expanded hidden">
          <%= link_to ts("(collapse)"), "#", id: "kudos_collapser" %>
        </span>
      </p>
    <% end %>
  <% end %>
</div>
