<% if @work %>
<h2 class="heading">
  <%= ts("Kudos on %{work_link}", work_link: link_to(@work.title, @work)).html_safe %>
</h2>

<div id="kudos">
  <% if @kudos.length > 0 || @guest_kudos_count > 0 %>
    <% cache "#{@work.cache_key}/kudos/full" do %>
      <p class="kudos">
        <%= @kudos.map {|kudo| link_to kudo.pseud.byline, kudo.pseud.user}.
            to_sentence.
            html_safe %>
        <% if @guest_kudos_count > 0 %>
          <% if @kudos.length > 0 %>
            <%= ts(" as well as ") %>
          <% end %>
          <%= ts(pluralize(@guest_kudos_count, 'guest')) %>
        <% end %>
        <%= ts(" left kudos on this work!") %>
      </p>
    <% end %>
  <% end %>
</div>
<% end %>
<% if @kudos %>
<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Kudos History') %></h2>
  <div class="search"><form accept-charset="UTF-8" class="search" id="kudos_search" method="get">
  <fieldset>
    <legend>Search in Kudos</legend>
    <p>
      <label class="landmark" for="kudos_search">Search in Kudos:</label>
      <input value="<%= params[:search].blank? ? '' : params[:search] %>" class="text" id="kudos_search" name="search" type="text" />
      <input class="button" type="submit" value="Title Search In Kudos" />
    </p>
  </fieldset>
</form>
</div>
<!--/descriptions-->
<!--main content-->
<% if @kudos.present? %>
  <ol class="reading work index group">
    <% @kudos.each do |kudo| %>
      <%= render 'kudos_blurb', :work => kudo %>
    <% end %>
  </ol>
<% end %>
<!--/content-->

<!--subnav-->
<%= will_paginate @kudos %>
<!--/subnav-->
<% end %>

