<%= form_for(@locale, html: { class: 'post' }) do |f| %>
  <p class="required notice">* <%= t(".required_notice") %></p>
  
  <fieldset>
    <legend><%= t(".locale_legend") %></legend>
    <h3 class="landmark heading"><%= t(".locale_heading") %></h3>
    <dl>
      <dt class="required"><%= f.label :name, t(".name") + '*' %></dt>
      <dd class="required"><%= f.text_field :name %></dd>

      <dt class="required"><%= f.label :iso, t(".iso") + '*' %></dt>
      <dd class="required"><%= f.text_field :iso %></dd>

      <dt class="required"><%= f.label :language_id, t(".language") + '*' %></dt>
      <dd class="required"><%= f.select(:language_id, @languages.collect { |language| [ language.name, language.id ] }) %></dd>

      <dt><%= f.check_box :email_enabled %></dt>
      <dd><%= f.label :email_enabled, t(".enable_email") %></dd>

      <dt><%= f.check_box :interface_enabled %></dt>
      <dd><%= f.label :interface_enabled, t(".enable_interface") %></dd>

    </dl>
  </fieldset>
  <fieldset>
    <legend><%= t(".actions_legend") %></legend>
    <h3 class="landmark heading"><%= t(".actions_heading") %></h3>
    <p class="submit actions">
      <%= f.submit @locale.new_record? ? t(".create_button") : t(".edit_button") %>
    </p>
  </fieldset>
<% end %>
