<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t('.supported_locales', :default => 'Supported Locales') %></h2>
<!--/descriptions-->

<!--main content-->
<% if logged_in_as_admin? || permit?("translation_admin")  %>
<p>
  <%= link_to t('.link_to_new', :default => 'Add a new one'), new_locale_path %>
</p>
<!--main content-->
<h3 class="landmark heading">List of Locales</h3>
<table summary="Locales">
    <caption>Locales</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">ISO Code</th>
        <th scope="col">Primary Locale</th>
        <th scope="col">Use for Email</th>
        <th scope="col">Use for Interface</th>
        <th scope="col">Created at</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for locale in @locales %>
        <tr>
          <th scope="row"><%= locale.name %></th>
          <td><%= locale.iso %></td>
          <td><%= locale.main %></td>
          <td><%= locale.email_enabled %></td>
          <td><%= locale.interface_enabled %></td>
          <td><%= locale.updated_at %></td>
          <td class="actions">
            <%= link_to ts('Edit'), {controller: :locales, action: :edit, id: locale.iso} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <ul>
    <% for locale in @locales %>
      <li><%= locale.name %></li>
    <% end %>
  </ul>
  <p class="navigation actions" role="navigation">
    <%= link_to t('.suggest_locale', :default => 'Suggest a Locale!'), new_feedback_report_path %>
  </p>
<% end %>
<!--/content-->

<!--subnav-->
<!--/subnav-->
