<h2><%= t('supported_locales', :default => 'The archive supports the following locales:') %></h2>

<p>
<%- if current_user.is_a?(User) && current_user.is_translation_admin? -%>
  <%= link_to t('link_to_new', :default => 'Add a new one'), new_locale_path %>
<%- else -%>
  <%= link_to t('suggest_locale', :default => 'Suggest a new one!'), new_feedback_report_path %>
<%- end -%>
</p>

<table id="locales_table">
  <caption><%=h t('list', :default => "List of all current locales in the archive") -%></caption>
  <tr>
  	<th scope="col"><%=h t('name', :default => "Name") -%></th>
  	<th scope="col"><%=h t('translator_count', :default => "Translators") -%></th>
  </tr>
  
  <%- for locale in @locales -%>
  <tr>
    <td><%= link_to locale.name, locale %></td>
    <td><%= link_to locale.has_translators.size, locale_translators_path(locale) %></td>
  </tr>
  <%- end -%>
</table>