<!--main content-->
<!-- expects @works, @series, @bookmarks -->
  <%- unless @works.blank? -%>
  <div class="work module" id="user-works">
    <h3><%=h t('recent_works', :default => "Recent works") %></h3>
    <ul class="index">
      <%- for work in @works -%>
    	  <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
      <%- end -%>
    </ul>
    <%- if @works.count > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD -%>
      <ul class="navigation"><li><%= @author ? print_pseud_works_link(@author) : print_works_link(@user) %></li></ul>
    <%- end -%>
  </div>
  <%- end -%>
  
  <%- unless @series.blank? -%>
  <div class="series module" id="user-series">
    <h3><%=h t('recent_series', :default => "Recent series") %></h3>
    <ul class="index">
      <%- for series in @series -%>
        <%= render :partial => 'series/series_blurb', :locals => {:series => series} %>
      <%- end -%>
      <%- if @author -%>
        <%- if @author.series.count > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD -%>
        <ul class="navigation"><li><%= print_pseud_series_link(@author) %></li></ul>
        <%- end -%>
      <%- else -%>
        <%- if @user.series.count > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD -%>
        <ul class="navigation"><li><%= print_series_link(@user) %></li></ul>
        <%- end -%>
      <%- end -%> 
    </ul>
    
  </div>
  <%- end -%>
  
  <%- unless @bookmarks.blank? -%>
  <div class="bookmark module" id="user-bookmarks">
    <h3><%=h t('recent_bookmarks', :default => "Recent bookmarks") %></h3>
    <ul class="index">
<%- for bookmark in @bookmarks -%>
      <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
    <%- end -%>
    <%- unless @user == User.orphan_account -%>
      <%- if @author -%>
        <%- if @author.bookmarks.visible.size > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD -%>
        <ul class="navigation"><li><%= print_pseud_bookmarks_link(@author) %></li></ul>
        <%- end -%>
      <%- else -%>
        <%- if @user.bookmarks.visible.size > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD -%>
        <ul class="navigation"><li><%= print_bookmarks_link(@user) %></li></ul>
        <%- end -%>
      <%- end -%> 
  <%- end -%>
</ul>
  </div>
  <%- end -%>

<% if @works.blank? && @series.blank? && @bookmarks.blank? %>
  <p class="alt message">There are no works or bookmarks under this name yet.</p>
<% end %>
<!--/content-->