<!--Descriptive page name, messages and instructions-->
<div class="header module">
	<% 	display_name = @author ? @author.name : @user.login	%>
	<h2><%= @author ? link_to_unless_current(display_name, user_pseud_path(user, @author)) : link_to_unless_current(display_name, user) %>
	</h2>
	<!--pseuds switcher goes here structure: div class pseuds arrow ul id expandable end div. the code is in users/_sidebar and a helper. i will lay it out once it's in . lim-->
	<p><%= icon_display(@user, @author) %></p>
<!--/descriptions-->

<!--subnav-->
  <ul class="navigation" role="navigation">
    <li><%= span_if_current t('.profile', :default =>"Profile"), user_profile_path(user) %></li>
    <% if @user == current_user %>
      <li><%= link_to t('.post_new', :default =>"Post New"), new_work_path %></li>
    <% end %>
    <% unless @user == current_user %>  
      <li><%= link_to_help "coming-soon", t('.bookmark', :default =>"Bookmark") %></li>
    <% end %>
    <% if @subscription && @subscription.new_record? %>
      <li>
        <%= form_for @subscription do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :subscribable_id, :value => @user.id %>
          <%= f.hidden_field :subscribable_type, :value => @user.class.to_s %>
          <%= f.submit "Subscribe" %>
        <% end %>
      </li>
    <% elsif @subscription %>
      <%= link_to "Unsubscribe", @subscription, :method => :delete %>
    <% end %>
    <% if @user == current_user  %>
      <li><%= span_if_current t('.invitations', :default =>"Invitations"), user_invitations_path(user) %></li>
    <% end %>  
  </ul>
</div>
<!--/subnav-->
