<div id="user-header">
	<h1><%= link_to_unless_current user.login, user %></h1>
	<h2><%= image_tag("icon_placeholder.png", :size => "100x100", :alt => "(Icon!)") %></h2>

  <ul class="navigation">
    <li><%= link_to_unless_current "profile".t, user_profile_path(user) %></li>
    <li><%= link_to_help "coming-soon", "bookmark".t %></li>
    <li><%= link_to_help "coming-soon", "subscribe".t %></li>
    <%- if @user == current_user && @user.invitation_limit > 0 -%>
      <li><%= link_to 'Invite a friend'.t, new_invitation_path %></li>
    <%- end -%>  
  </ul>
</div>