<span class="authentication-label"><label for="login"><%= "What would you like as your ".t + "user name".t%>?</label></span><br />
<%= @f.text_field :login, :class => 'authentication-textfield', :tabindex => '1' %><br />
<!-- OpenID field -->	
<span class="authentication-label"><label for="openid_url">
</label></span>
<%= link_to "OpenID", 'http://openid.net/', :popup => true %> URL:
<br />
<%= @f.text_field :identity_url, :class => 'openid-url', :tabindex => '5' %>
  <%= link_to_function "I don't want to use OpenID".t, "Element.hide('openid'); Element.show('passwd')" %>
<br />
