<dl>
  <!-- Login -->
  <dt>
    <%= f.label :login, ts("User Name") %>
  </dt>
  <dd>
    <%= f.text_field :login, :class => "user_login" %>
    <%= live_validation_for_field('user_login', 
        :maximum_length => User::LOGIN_LENGTH_MAX, :minimum_length => User::LOGIN_LENGTH_MIN, 
        :failureMessage => 'You need a login name! (At least ' + User::LOGIN_LENGTH_MIN.to_s + ' letters long, please.)')%>
    <p class="footnote"><%= ts("3 to 40 characters, using A-Z, a-z, 0-9, or _ and it must begin or end with a letter or number")%></p>
  </dd>
  <!-- Password -->
  <dt>
    <%= f.label :password, "Password" %>
  </dt>
  <dd>
    <%= f.password_field :password  %>
    <%= live_validation_for_field('user_password',
          :maximum_length => User::PASSWORD_LENGTH_MAX, 
          :minimum_length => User::PASSWORD_LENGTH_MIN,
          :failureMessage => "Please enter a password! (At least #{User::PASSWORD_LENGTH_MIN} letters long, please.)") %>
  </dd>
  <!-- Confirm password -->
  <dt><%= f.label :password_confirmation, "Confirm Password" %></dt>
  <dd>
    <%= f.password_field :password_confirmation %>
    <%= live_validation_for_field('user_password_confirmation',
          :maximum_length => User::PASSWORD_LENGTH_MAX, 
          :minimum_length => User::PASSWORD_LENGTH_MIN,
          :failureMessage => 'Please enter the same password in both fields.') %>
    <p class="footnote"><%= ts("6 to 40 characters")%></p>
  </dd>
  <!-- Email -->
  <dt>
    <%= f.label :email, ts("Valid Email") %>
  </dt>
  <dd><%= f.text_field :email %></dd>
</dl>
