<!-- Password with link to strong password info (still needs to be added) -->
	  <!--This partial form is invalid. needs to be rewritten with the form elements wrapped in block level elements such as p, dl,dt,dd or li. I will totally do it as soon as I grok what the assembled form looks like. Or you could do it now, gentle reader.-->
	<%= f.label :password, h("And your password?").t, :class => "authentication-label" %> <%=h "(Make it a".t %>&nbsp;<a href="http://passwordstrength.net" tabindex="2"><%=h "strong".t %></a>&nbsp;<%=h "one! It needs to be at least 6 characters long.)".t %><br/>	
<%= f.password_field :password, :class => 'authentication-textfield', :tabindex => '3' %>
<br/>
<!-- Confirm password -->
<%= f.label :password_confirmation, h("Enter it again so we're sure we've got it?").t, :class => "authentication-label" %><br/>
<%= f.password_field :password_confirmation, :class => 'authentication-textfield', :tabindex => '4' %>
<br/>
