<!-- Password with link to strong password info (still needs to be added) -->
<%= f.label :password, h("And your password?").t, :class => "authentication-label" %> <%=h "(Make it a".t %> <a href="#" tabindex="2"><%=h "strong".t %></a> <%=h "one!)".t %><br/>	
<%= f.password_field :password, :class => 'authentication-textfield', :tabindex => '3' %>
<br/>
<!-- Confirm password -->
<%= f.label :password_confirmation, h("Enter it again so we're sure we've got it?").t, :class => "authentication-label" %><br/>
<%= f.password_field :password_confirmation, :class => 'authentication-textfield', :tabindex => '4' %>
<br/>

	  