<% prefix = @user == current_user ? "My " : "" %>

<%=
# Pseud Selector: ugleh, ugleh display by Enigel Dec 5 08
if @user.pseuds.size > 1
	"<ul class='pseud_selector_sidebar'>" + print_pseud_selector(@user.pseuds) + "</ul>"
end
%>
<ul>
  <li><%= link_to_unless_current prefix + "Dashboard", @user %></li>
  <li><%= @author ? print_pseud_works_link(@author) : print_works_link(@user) %></li>
  <%- if @user == current_user -%>
    <li><%= print_drafts_link(@user) -%></li>
  <%- end -%>
  <li><%= @author ? print_pseud_series_link(@author) : print_series_link(@user) %></li>
	<%- unless @user == User.orphan_account -%>
    <li><%= @author ? print_pseud_bookmarks_link(@author) : print_bookmarks_link(@user) %></li>
  <%- end -%>
	<li><%= link_to_help "coming-soon", prefix + "Communities" %></li>
  <% if @user == current_user %>    
  <li><%= link_to_unless_current "My Inbox (" + @user.unread_inbox_comments_count.to_s + ")", user_inbox_path(@user) %></li>
  <% if @user.preference.history_enabled? %>
    <li><%= link_to_unless_current "My Reading History", user_readings_path(@user) %></li>
  <% end %>
  <li><%= link_to_help "coming-soon", "My Subscriptions" %></li>
  <li><%= link_to_unless_current "My Preferences", user_preferences_path(@user) %></li>
  <% end %>
</ul>