<h1><%=h 'Please Change Your Password'.t %></h1> 

<p><%=h "We sent you an automated password by email, but it's a good idea to change it for security reasons".t %>  
<%=h "(and because random collections of letters and numbers are hard to remember!)".t %></p>

<%- form_for(@user) do |f| -%>
  <dl>
	<dt><%= f.label :password, "New Password".t %> <span><%=h '(Make it a'.t %> <a href="#" ><%=h 'strong'.t %></a> <%=h 'one!)'.t %></span></dt>	
  		<dd><%= f.password_field :password %></dd>
  	<dt><%= f.label :password_confirmation, "Confirm Password".t %></dt>
  		<dd><%= f.password_field :password_confirmation %></dd>
 </dl>
  <p class="submit"><%= submit_tag 'Change Password'.t, :name => 'change_password' %></p> 
  
<%- end -%>