<!--Descriptive page name, messages and instructions-->
<h2><%= ts("Change My Password") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation" role="navigation">
  <li><%= link_to ts("Edit default pseud and icon"), [:edit, @user, @user.default_pseud] %></li>
  <li><%= link_to ts("Change User Name"), change_username_user_path(@user) %></li>
  <li><%= link_to ts("Change Email"), change_email_user_path(@user) %></li>
  <% if ArchiveConfig.USE_OPENID %>	
    <li>
    <% if @user.identity_url %>
      <%= link_to ts("Change My OpenID"), change_openid_user_path(@user) %>
    <% else %>
      <%= link_to ts("Add An OpenID"), change_openid_user_path(@user) %>
    <% end %>
    </li>
  <% end %>
</ul> 
<!--/subnav-->

<!--main content-->
<%= form_tag change_password_user_path(@user) do %> 
<% if @user.recently_reset? %>
  <p><%= ts("You used a temporary password to log in. Please change it now as it will expire in a week.") %></p>
<% end %>

  <dl>
    <% unless @user.recently_reset? %>
	  <dt><%= label_tag :password_check, ts("Old Password") %></dt>
      <dd><%= password_field_tag :password_check%></dd>
    <% end %>
    <dt><%= label_tag :password, ts("New Password") %></dt>
    <dd><%= password_field_tag :password %></dd>
    <dt><%= label_tag :password_confirmation, ts("Confirm New Password") %></dt>
    <dd><%= password_field_tag :password_confirmation %></dd>
  </dl>
  <p class="submit">
    <%= submit_tag "Change Password" %>
  </p>

<% end %>
<hr class="clear" />
<!--/content-->
