<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Change My Password") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--subnav-->
<% # BACK END FIX THIS PLEASE SHOULD SHOW THE PAGE WE'RE ON AND MOVE NAV INTO PARTIAL %>
<ul class="navigation actions" role="navigation">
  <li><%= span_if_current ts("Edit My Profile"), edit_user_path(@user) %></li>
  <li><%= span_if_current ts("Edit default pseud and icon"), [:edit, @user, @user.default_pseud] %></li>
  <li><%= span_if_current ts("Change User Name"), change_username_user_path(@user) %></li>
  <li><%= span_if_current ts("Change Email"), change_email_user_path(@user) %></li>
</ul> 
<!--/subnav-->

<!--main content-->
<%= form_tag change_password_user_path(@user) do %> 
<% if @user.recently_reset? %>
  <p><%= ts("You used a temporary password to log in. Please change it now as it will expire in a week.") %></p>
<% end %>

  <dl>
    <% unless @user.recently_reset? %>
	  <dt><%= label_tag :password_check, ts("Old Password") %></dt>
      <dd><%= password_field_tag :password_check%></dd>
    <% end %>
    <dt><%= label_tag :password, ts("New Password") %></dt>
    <dd><%= password_field_tag :password %></dd>
    <dt><%= label_tag :password_confirmation, ts("Confirm New Password") %></dt>
    <dd>
      <%= password_field_tag :password_confirmation %>
      <p class="footnote"><%= ts("%d to %d characters") % [User::PASSWORD_LENGTH_MIN, User::PASSWORD_LENGTH_MAX] %></p>
    </dd>
	  	<dt class="landmark"><%= label_tag :submit, ts("Submit") %></dt>
		<dd class="submit actions">
	    <%= submit_tag "Change Password" %>
	  </dd>
	</dl>
<% end %>

<!--/content-->
