<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Change My Password") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--subnav-->
<%= render 'edit_header_navigation' %>
<!--/subnav-->

<!--main content-->
<%= form_tag change_password_user_path(@user) do %> 
  <% if @user.recently_reset? %>
    <p><%= ts("You used a temporary password to log in. Please change it now as it will expire in a week.") %></p>
  <% end %>

  <dl>
    <dt><%= label_tag :password, ts("New Password") %></dt>
    <dd>
      <%= password_field_tag :password %>
      <p class="footnote"><%= ts("%{minimum} to %{maximum} characters",
                                 :minimum => ArchiveConfig.PASSWORD_LENGTH_MIN,
                                 :maximum => ArchiveConfig.PASSWORD_LENGTH_MAX) %></p>
    </dd>
    <dt><%= label_tag :password_confirmation, ts("Confirm New Password") %></dt>
    <dd><%= password_field_tag :password_confirmation %></dd>
    <% unless @user.recently_reset? %>
      <dt><%= label_tag :password_check, ts("Old Password") %></dt>
      <dd><%= password_field_tag :password_check%></dd>
    <% end %>
    <dt class="landmark"><%= label_tag :submit, ts("Submit") %></dt>
    <dd class="submit actions">
      <%= submit_tag ts("Change Password") %>
    </dd>
  </dl>
<% end %>

<!--/content-->
