<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--subnav-->
<%= render 'edit_header_navigation' %>
<!--/subnav-->

<!--main content-->
<%= form_tag changed_password_user_path(@user) do %>
  <dl>
    <dt><%= label_tag :password_check, t(".old_password") %></dt>
    <dd><%= password_field_tag :password_check %></dd>
    <dt><%= label_tag :password, t(".new_password") %></dt>
    <dd>
      <%= password_field_tag :password, nil, "aria-describedby" => "password-field-description" %>
      <p class="footnote" id="password-field-description">
        <%= t(".password_length",
              count: ArchiveConfig.PASSWORD_LENGTH_MAX,
              minimum: ArchiveConfig.PASSWORD_LENGTH_MIN) %>
      </p>
    </dd>
    <dt><%= label_tag :password_confirmation, t(".confirm_new_password") %></dt>
    <dd><%= password_field_tag :password_confirmation %></dd>
    <dt class="landmark"><%= label_tag :submit, t(".submit") %></dt>
    <dd class="submit actions">
      <%= submit_tag t(".change_password") %>
    </dd>
  </dl>
<% end %>

<!--/content-->
