<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>
<!--/descriptions-->
<!--main content-->
<div class="userstuff">
  <p>
    <%= t(".receive_email_html", return_address: tag.strong(ArchiveConfig.RETURN_ADDRESS)) %>
  </p>
  <p>
    <%= t(".no_email_html", contact_support_link: link_to(t(".contact_support"), new_feedback_report_path)) %>
  </p>
  <p>
    <%# We do days_to_purge_unactivated * 7 because it's actually weeks %>
    <strong><%= t(".important")%></strong>
    <%= t(".must_activate", count: AdminSetting.current.days_to_purge_unactivated? ? (AdminSetting.current.days_to_purge_unactivated * 7) : ArchiveConfig.DAYS_TO_PURGE_UNACTIVATED) %>
  </p>
  <p>
    <%= link_to t(".go_back"), root_path %>
  </p>
</div>
<!--/content-->
