<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>
<%= error_messages_for :user %>
<%= error_messages_for @user.profile %>
<!--/descriptions-->

<!--subnav-->
<%= render "edit_header_navigation" %>
<!--/subnav-->

<!--main content-->
<p class="notice">
  <%= t(".public_information_notice_html", privacy_policy_link: link_to(t(".privacy_policy"), privacy_path)) %>
</p>

<h3 class="landmark heading"><%= t(".change_profile_landmark") %></h3>
<%= form_for(@user) do |f| %>
  <dl>
    <%= fields_for :profile_attributes, @user.profile do |p| %>
      <dt><%= p.label :title, t(".title") %></dt>
      <dd>
        <%= p.text_field :title, class: "observe_textlength" %>
        <%= live_validation_for_field("profile_attributes_title", presence: false, maximum_length: Profile::PROFILE_TITLE_MAX) %>
        <%= generate_countdown_html("profile_attributes_title", Profile::PROFILE_TITLE_MAX) %>
      </dd>

      <dt><%= p.label :location, t(".location") %></dt>
      <dd>
        <%= p.text_field :location, class: "observe_textlength" %>
        <%= live_validation_for_field("profile_attributes_location", presence: false, maximum_length: Profile::LOCATION_MAX) %>
        <%= generate_countdown_html("profile_attributes_location", Profile::LOCATION_MAX) %>
      </dd>

      <dt><%= p.label :date_of_birth, t(".date_of_birth") %></dt>
      <dd class="datetime"><%= p.date_select :date_of_birth, start_year: 12.years.ago.year, end_year: 90.years.ago.year, include_blank: true %></dd>

      <dt><%= p.label :about_me, t(".about_me") %></dt>
      <dd class="description">
        <p><%= allowed_html_instructions %></p>
        <%= p.text_area :about_me, class: "observe_textlength" %>
        <%= live_validation_for_field("profile_attributes_about_me", presence: false, maximum_length: Profile::ABOUT_ME_MAX) %>
        <%= generate_countdown_html("profile_attributes_about_me", Profile::ABOUT_ME_MAX) %>
      </dd>

      <% if policy(@user.profile).can_edit_profile? %>
        <dt><%= p.label :ticket_number, class: "required" %></dt>
        <dd>
          <%= p.text_field :ticket_number, class: "required" %>
        </dd>
      <% end %>

      <dt class="landmark"><%= p.label :update, t(".update") %></dt>
      <dd class="submit actions"><%= f.submit t(".update") %></dd>
    <% end %>
  </dl>
<% end %>

<!--/content-->
