<h1>Change your email address or password: </h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>  
  <p><label for="email"><%= "Change Email" .t %></label><br/>
	<%= f.text_field :email %></p>
	
	<p><label for="password"><%= "Change Password" .t %></label><br/>
	<%= f.password_field :password %></p>
	
	<p><label for="password_confirmation"><%= "Confirm New Password" .t %></label><br/>
	<%= f.password_field :password_confirmation %></p>
	
	<p>
    <label for="openid_url"><%= "Add or Change an OpenID URL" .t %></label><br />
    <%= f.text_field :identity_url %>
  </p>        

  <% fields_for :profile_attributes,  @user.profile do |p| %>
    <p>
      <b><%= "Location".t %></b><br />
      <%= p.text_field :location %>
    </p>
    <p>
       <b><%= "Date of Birth".t %></b><br />
       <%= p.date_select :date_of_birth, :start_year => 1930 %>
     </p>
     <p>
       <b><%= "About Me".t %></b><br />
       <%= p.text_area :about_me %>
     </p>
  <% end %>
	
  <b><%= h "Preferences:".t %> </b>
	<% fields_for :preference_attributes, @user.preference do |r| %>
   <p>
      <%= r.check_box :history_enabled %> <%= "Enable History".t %>
    </p>
    <p>
       <%= r.check_box :email_visible %> <%= "Display Email Address".t %>
     </p>
  <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
