<h1><%=h 'Edit My Profile' %></h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>  
  <dl>
	  <dt><%= f.label :email, "Change Email" %></dt>
		<dd><%= f.text_field :email %></dd>
  </dl>
	
	<!-- The password or OpenID login fields are shown in this div -->
			<div id="switch_fields">
<!-- use_openid set by link_to_passwd and link_to_openid below; needed for non-JS users to distinguish between versions of the page -->
					<%- if params[:use_openid] -%>
					<%= render :partial => 'profile_openid', :locals => {:f => f} %>
					<%- else -%>
					<%= render :partial => 'profile_passwd', :locals => {:f => f} %>
					<%- end -%>
			</div>
<!-- Link to toggle between password and OpenID. Ugly code! :( Also, must be a way to reuse partials from new user page? -->
<!-- Two versions of the div tag here so the link to passwd is not shown when the page is first loaded; for non-JS users clicking the link sets use_openid to true, showing the div on reload; for JS users the display is toggled -->
				<%- if params[:use_openid] -%>
					<div id="link_to_passwd">
			  <%- else -%>
					<div id="link_to_passwd" style="display: none;">
				<%- end -%>
					<%= link_to_function("Add or Change a Password", :href => url_for(:action => 'edit', :use_openid => false), :class => 'footnote') do |page|
						page.replace_html "switch_fields", :partial => 'profile_passwd', :locals => {:f => f}
						page[:link_to_passwd].hide
						page[:link_to_openid].show
						end %>
					</div>
				<div id="link_to_openid">
<!-- !params[:use_openid] ensures this is hidden on the openid version of the page for non-JS users -->
					<%- if !params[:use_openid] -%>
					<%- if ArchiveConfig.USE_OPENID -%>
						<%= image_tag("openid.png", :alt => ' ') %>
						<%= link_to_function("Add or Change an OpenID URL", :href => url_for(:action => 'edit', :use_openid => true), :class => 'footnote') do |page|
							page.replace_html "switch_fields", :partial => 'profile_openid', :locals => {:f => f}
							page[:link_to_openid].hide
							page[:link_to_passwd].show
							end %>
						<%- end -%>
					<%- end -%>
				</div>
  
  <% fields_for :profile_attributes,  @user.profile do |p| %>
  <dl>
	  <dt><%= p.label :title, "Title" %></dt>
    <dd>
      <%= p.text_field :title %>
      <%= live_validation_for_field("profile_attributes_title", :presence => false, :maximum_length => Profile::PROFILE_TITLE_MAX) -%>      
      <%= generate_countdown_html("profile_attributes_title", Profile::PROFILE_TITLE_MAX) -%>
    </dd>
    <dt><%= p.label :location, "Location" %></dt>
    <dd>
      <%= p.text_field :location %>
      <%= live_validation_for_field("profile_attributes_location", :presence => false, :maximum_length => Profile::LOCATION_MAX) -%>
      <%= generate_countdown_html("profile_attributes_location", Profile::LOCATION_MAX) -%>
    </dd>
    <dt><%= p.label :date_of_birth, "Date of Birth" %></dt>
    <dd><%= p.date_select :date_of_birth, :start_year => 13.years.ago.year, :end_year => 90.years.ago.year, :include_blank => true %></dd>
    <dt><p><%= p.label :about_me, "About Me" %></p>
    <p><code>a href, b, big, blockquote, br, caption, center, cite, code, col, colgroup, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, table, tr, td, th, tbody, thead, tfoot, ul</code></p>
    </dt>
    <dd>
      <%= p.text_area :about_me %>
      <%= live_validation_for_field("profile_attributes_about_me", :presence => false, :maximum_length => Profile::ABOUT_ME_MAX) -%>
      <%= generate_countdown_html("profile_attributes_about_me", Profile::ABOUT_ME_MAX) -%>
    </dd>
	</dl>
  <% end %>
	
	
  <p class="submit">
    <%= f.submit "Update" %>
  </p>
<% end %>
<hr class="clear" />
