<h1>Change your Profile or Preferences</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>  
  <p><label for="email"><%= "Change Email" .t %></label><br/>
	<%= f.text_field :email %></p>

  <div id="passwd">
	<p><label for="password"><%= "Change Password" .t %></label><br/>
	<%= f.password_field :password %>
	<% if ArchiveConfig.USE_OPENID %>
    <%= link_to_function image_tag('openid.png', :alt=>"Use OpenID to log in".t), "Element.hide('passwd'); Element.show('openid')" %>
  <% end -%>
  </p>
	<p><label for="password_confirmation"><%= "Confirm New Password" .t %></label><br/>
	<%= f.password_field :password_confirmation %></p>
  </div>
  <% if ArchiveConfig.USE_OPENID %>	
    <div id="openid" style="display: none">
    <label for="openid_url"><%= "Add or Change an OpenID URL" .t %></label>
    <br />
    <%= f.text_field :identity_url %>
    <%= link_to_function "Add or Change a Password".t, "Element.hide('openid'); Element.show('passwd')" %>
    </div>
  <% end -%>

  <% fields_for :profile_attributes,  @user.profile do |p| %>
    <p>
      <b><%= "Location".t %></b><br />
      <%= p.text_field :location %>
    </p>
    <p>
       <b><%= "Date of Birth".t %></b><br />
       <%= p.date_select :date_of_birth, :start_year => 1930, :end_year => 13.years.ago.year %>
     </p>
     <p>
       <b><%= "About Me".t %></b><br />
       <%= p.text_area :about_me %>
     </p>
  <% end %>
	
  <b><%= h "Preferences:".t %> </b>
	<% fields_for :preference_attributes, @user.preference do |r| %>
   <p>
      <%= r.check_box :history_enabled %> <%= "Enable History".t %>
    </p>
    <p>
       <%= r.check_box :email_visible %> <%= "Display Email Address".t %>
     </p>
    <p>
       <%= r.check_box :date_of_birth_visible %> <%= "Display Date of Birth".t %>
     </p>		 
  <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
