<!--Descriptive page name, messages and instructions-->
<h2><%=h 'Edit My Profile' %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--main content-->
<p>Please use this feature with caution. We will not redirect your old username to your new one, so outside links to your user page, and all your existing pseud pages, will no longer work.</p>
<p>If you don't want that, then please <%= link_to "create a new Pseud", new_user_pseud_path(@user) %> instead.</p>

<% form_for(@user) do |f| %>  
  <dl>
	  <dt>Current Username</dt>
		<dd><strong><%= @user.login %></strong></dd>
	  <dt><%= f.label :login, t('desired_username', :default => "Desired Username") %></dt>
		<dd><%= f.text_field :login %></dd>
    <%= live_validation_for_field('user_login', 
				      :exclusion => User.find(:all, :select => :login).map{|user| user.login}, 
				      :failureMessage => t('username_taken', :default => "username already taken"),
				      :validMessage => t('username_available', :default => "username available")) -%>
  </dl>
  <p>Please also enter your password in order to change your username.</p>
  <dl id="passwd">
	  <dt><%= f.label :password, t('password', :default => "Password") %></dt>
	  <dd><%= f.password_field :password %></dd>
	</dl>
  
  <p class="submit">
    <%= f.submit "Change" %>
  </p>
<% end %>

<hr class="clear" />