<% if @user == current_user && @user.preference.try(:first_login) %>
  <!-- pseudoflash because putting it in a real one was making for some ugly code -->
  <div class="flash notice" id="first-login-help-banner">
    <p>
      Hi! It looks like you've just logged into the archive for the first time. 
      <%= link_to_modal ts("Learn some tips and tricks"), :for => first_login_help_path, :title => "First login help" %> 
      or dismiss this message permanently.
    </p>
      <%= form_tag end_first_login_user_path(current_user), :method => :post, :remote => true do %>
    <p class="submit actions">
      <%= submit_tag ts("Dismiss permanently") %>
      <%= link_to "x", nil, :remote => true, :id => "hide-first-login-help", :title => "Hide first login help banner" %>
    </p>
      <% end %>
  </div>
<% end %>

<div class="user home">
  <%= render "users/header" %>
  <%= render "users/contents" %>
</div> 

<%= content_for :footer_js do %>
  <%= javascript_tag do %>
      $j("#hide-first-login-help").click(function() {
        $j("#first-login-help-banner").hide();
      })
  <% end %>
<% end %>
