<div id="user-page">
  <h1><%=h @user.login %>'s User Page</h1>
  
  <%- if logged_in? && current_user == @user -%>
      <p>
        <%= link_to "Edit profile".t, edit_user_path(@user) %> | 
        <%= link_to 'Manage pseuds'.t, user_pseuds_path(@user) %> | 
        <%= link_to "Reading history".t, readings_url %>
      </p>
  <%- end -%>

  <div class="user-category" id="user-pseuds">
    <span class="two-column-left">Pseuds (<%= @user.pseuds.count %>)</span>
    <div class="two-column-right"><%= print_pseuds(@user) %></div>
  </div>

  <div class="user-category" id="user-location">
    <span class="two-column-left">Location</span>
    <div class="two-column-right"><%=h @user.profile.location -%></div>
  </div>
  
  <%- if @user.preference.date_of_birth_visible -%>
  <div class="user-category" id="user-birthday">
    <span class="two-column-left">Birthday</span>
    <div class="two-column-right"><%=h @user.profile.date_of_birth -%></div> 
  </div>
  <%- end -%>

  <div class="user-category" id="user-bio">
    <span class="two-column-left">Bio</span>
    <div class="two-column-right"><%=sanitize_format @user.profile.about_me -%></div>
  </div>
  
  <%- if @user.preference.email_visible -%>
  <div class="user-category" id="user-email">
    <span class="two-column-left">Email</span>
    <div class="two-column-right"><%= mail_to @user.email, nil, :encode => "hex" %></div>
  </div>
  <%- end -%>

  <div class="user-category" id="user-bookmarks">
    <span class="two-column-left"><%= link_to 'Bookmarks (' + @user.bookmarks.count.to_s + ')', user_bookmarks_path(@user) %></span>
  </div>
  
  <div id="user-works">
    <% for pseud in @user.pseuds %>
      <div class="pseud-works">
        <a name="pseud-<%= pseud.id %>"></a>
        <h2>Works by <%= pseud.name %>:</h2>
        <ul><%= print_works(pseud) %></ul>
      </div>
    <% end %>
  </div>

</div> 


