<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
</ul>
<div class="clearboth"></div>

<h2><%=h "%s's home" / @user.login -%></h2>

<p>
	User profile and more goodness here. 
</p>

<% @user.pseuds.each do |pseud| -%>

<h3><%=h "Works under the name %s...".t / pseud.name -%></h3>
	<% pseud.works.each do |work| -%>
	<h4><%= link_to h(work.metadata.title), work_path(work) -%></h4>
	<% end -%>
<% end -%>

<p><%= link_to 'Manage Names'.t, user_pseuds_path(@user) -%></p>