<div id="user-page">
  <%= render :partial => 'users/header', :locals => {:user => @user} %>
 
  <%- unless @works.blank? -%>
  <div class="user-module" id="user-works">
    <h2><%=h 'Recent works'.t %></h2>
    <ul class="story-list">
      <%- for work in @works -%>
    	  <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>
  
  <%- unless @series.blank? -%>
  <div class="user-module" id="user-series">
    <h2><%=h 'Recent series'.t %></h2>
    <ul>
      <%- for series in @series -%>
        <li><%= link_to series.title, series %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>
  
  <%- unless @bookmarks.blank? -%>
  <div class="user-module" id="user-bookmarks">
    <h2><%=h 'Recent bookmarks'.t %></h2>
    <%- for bookmark in @bookmarks -%>
      <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
    <%- end -%>
  </div>
  <%- end -%>

</div> 


