<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
</ul>
<div class="clearboth"></div>

<h2><%=h "%s's home" / @user.login -%></h2>

<h3><%= "Profile".t -%></h3>
  <p>
    <b><%= "Location".t -%>:</b> 
    <%=h @user.profile.location -%>
  </p>

	<% if @user.preference.date_of_birth_visible %>
  <p>
    <b><%= "Date of Birth".t -%>:</b> 
    <%=h @user.profile.date_of_birth -%>
  </p>
	<%- end -%>

  <p>
    <b><%= "About Me".t -%>:</b><br />
    <%=sanitize_format @user.profile.about_me -%>
  </p>
	<% if @user.preference.email_visible %>
  <p>
    <b><%= "Email".t -%>:</b>
    <%= mail_to @user.email, nil, :encode => "hex" -%>
  </p>
	<% end %>
	<%- if current_user == @user -%>
    <%= link_to "Edit profile".t, edit_user_path(@user) -%>
  <%- end -%>
<% @user.pseuds.each do |pseud| -%>

  <h3><%=h "Works under the name %s...".t / pseud.name -%></h3>

	<%= print_works(pseud) %>
<%- end -%>

<p><%= link_to 'Manage Names'.t, user_pseuds_path(@user) -%></p>