<div id="user-page">
  <div id="user-icon"><%= image_tag("user_icon.png", :size => "100x100", :alt => "(Icon!)") %></div>
  <h1><%=h @user.login %></h1>
    
  <%- if logged_in? && current_user == @user -%>
    <p>
      <%= link_to "Edit profile".t, edit_user_path(@user) %> | 
      <%= link_to 'Manage pseuds'.t, user_pseuds_path(@user) %> | 
      <%= link_to 'Orphan works'.t, orphans_path %>
    </p>
  <%- end -%>
  
  <%- unless @works.blank? -%>
  <div class="user-module" id="user-works">
    <h2>Recent stories</h2>
    <ul class="story-list">
      <%- for work in @works -%>
    	  <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>
  
  <%- unless @series.blank? -%>
  <div class="user-module" id="user-series">
    <h2>Recent series</h2>
    <ul>
      <%- for series in @series -%>
        <li><%= link_to series.title, series %></li>
      <%- end -%>
    </ul>
  </div>
  <%- end -%>
  
  <%- unless @bookmarks.blank? -%>
  <div class="user-module" id="user-bookmarks">
    <h2>Recent bookmarks</h2>
    <%- for bookmark in @bookmarks -%>
      <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
    <%- end -%>
  </div>
  <%- end -%>

</div> 


