<h1><%= "Log in as Admin" .t %></h1>

<% form_tag(:controller => 'admin/session', :action => :create) do %>

  <p><label for="login"><%= "Admin ".t  + "user name" .t %></label><br/>
  <%= text_field_tag 'login' %></p>

  <p><label for="password"><%= "Admin password" .t %></label><br/>
  <%= password_field_tag 'password' %></p>

  <p><%= submit_tag 'Log in' %></p>
<% end -%>