<!--SUSPECT THIS OF BEING COLLECTION HOME ZONE-->
<h2 class="heading">Assignments for <%= @collection.title.html_safe %> <%= link_to_help 'challenge-assignments' %></h2>

<ul class="navigation actions" role="navigation">
  <li><%= span_if_current ts("Defaulted"), collection_assignments_path(@collection), !(params[:pinch_hit] || params[:unfulfilled] || params[:fulfilled]) %></li>
  <li><%= span_if_current ts("Pinch Hits"), collection_assignments_path(@collection, :pinch_hit => true)%></li>
  <li><%= span_if_current ts("Open"), collection_assignments_path(@collection, :unfulfilled => true) %></li>
  <% if @collection.moderated? %>
    <li><%= span_if_current ts("Awaiting Approval"), collection_items_path(@collection) %>
  <% end %>
  <li><%= span_if_current ts("Complete"), collection_assignments_path(@collection, :fulfilled => true) %></li>
  <li role="button">
    <%= link_to "Default All Incomplete", default_all_collection_assignments_path(@collection),
                :confirm => "Are you sure? This will mark all unposted or unapproved assignments in the challenge as defaulting." %>
  </li>
  <li role="button"><%= link_to ts("Purge Assignments"), purge_collection_assignments_path(@collection), 
          :confirm => ts("This will delete ALL assignments so you can edit and send them over. Please do not do this unless you absolutely must!") %>
  </li>
</ul>

<% if @assignments.count < 1 %>
  <p class="note">No assignments to review!</p>
<% else %>

  <%= will_paginate @assignments %>

  <% if params[:fulfilled] %>
    <%= render "maintainer_index_fulfilled" %>
  <% else %>
    <%= form_tag update_multiple_collection_assignments_path(@collection), :method => :put do %>
      <fieldset>

        <% if !(params[:pinch_hit] || params[:unfulfilled] || params[:fulfilled]) %>
          <%= render "maintainer_index_defaulted" %>
        <% elsif params[:pinch_hit] %>
          <legend><%= ts("Pinch Hit Assignments") %></legend>
          <h3><%=ts("Pinch Hit Assignments") %></h3>
          <%= render "maintainer_index_unfulfilled" %>
        <% elsif params[:unfulfilled] %>
          <legend><%= ts("Open Assignments") %></legend>
          <h3><%=ts("Open Assignments") %></h3>        
          <%= render "maintainer_index_unfulfilled" %>
        <% end %>
        
      </fieldset>
      <%= submit_fieldset %>
    <% end %>
  <% end %>

  <%= will_paginate @assignments %>
<% end %>
