<% #this and the unfulfilled view look like basically the same thing? %>
<% # list assignments which have a pinch hitter assigned %>
<%= form_tag update_multiple_collection_assignments_path(@collection), :method => :put do %>
<fieldset>
    <legend>Listing Pinch Hitters by Assignment</legend>
      <h3><%= ts("Pinch Hitters") %></h3>
    <dl class="index">
    <% @assignments.each do |assignment| %>
      <dt class="assignment">
        <!-- the recipient and if THEY have defaulted on their own assignment -->
        <%= link_to assignment.request_byline, collection_signup_path(@collection, assignment.request) %>
        <% if ChallengeAssignment.in_collection(@collection).by_offering_user(assignment.request.pseud.user).all? {|recip_assignment| recip_assignment.defaulted} %>
          <span class="defaulted">(<%= ts("defaulted") %>)</span>
        <% end %>
      </dt>          

<dd>
      <% if assignment.creation %>
        <%= link_to (assignment.creation.try(:title) || assignment.creation.class.name), assignment.creation %>
          <span class="datetime" title="posted on"><%= assignment.creation.published_at %></span>
          
          <% if assignment.creation.respond_to?(:word_count) %>
            Words: <%= ts("%{count}", :count => assignment.creation.word_count) %>
          <% end %>
          
      <% else %>
        <p class="actions">
          Pinch Hitter: <%= assignment.pinch_hitter.try(:byline) || assignment.pinch_hitter_id %>
          <%= label_tag "cancel_#{assignment.id}" do %>
            <%= ts("Cancel") %>
            <%= check_box_tag "cancel_#{assignment.id}" %>
          </p>
          <% end %>
        </dd>
      <% end %>
    <% end %>
  </dl>
</fieldset>
  <%= submit_fieldset %>

<% end %>
