<h2>Assignments for <%= sanitize_title_for_display @collection.title -%></h2>

<ul class="navigation">
  <li>
    <% if params[:show_covered] %>
      <%= link_to "Show Uncovered Defaults Only", collection_assignments_path(@collection) %>
    <% else %>
      <%= link_to "Show Covered Defaults", collection_assignments_path(@collection, :show_covered => true) %>
    <% end %>
  </li>
</ul>

<% if @collection.assignments.defaulted.count < 1 %>
  <p class="note">No defaulted assignments!</p>
<% elsif @collection.assignments.defaulted.uncovered.count < 1 && !params[:show_covered] %>
  <p class="note">All defaulted assignments are covered!</p>
<% else %>
  <h3>Defaulted Assignments</h3>
  <table>
    <tr>
      <th>Recipient</th>
      <th>Recipient Defaulted?</th>
      <% if params[:show_covered] %><th>Covered?</th><% end %>
      <th>Original Writer</th>
      <th>Pinch Hitter</th>
      <th>Manage</th>
    </tr>
    
    <% @defaulted_assignments.each do |assignment| %>
      <% request = assignment.request_signup || assignment.pinch_request_signup %>
      <% if request %>
        <tr>
          <td><%= link_to request.pseud.byline, collection_signup_path(@collection, request) -%></td>
          <td><%= ChallengeAssignment.in_collection(@collection).by_offering_user(request.pseud.user).all? {|recip_assignment| recip_assignment.defaulted} ? "Yes" : "No" %></td>
          <% if params[:show_covered] %><td><%= assignment.covered_at.nil? ? "No" : "Yes" %></td><% end %>
          <td><%= assignment.offer_signup ? assignment.offer_signup.pseud.byline : (assignment.pinch_hitter ? assignment.pinch_hitter.byline : "") -%></td>
          <td>
            <% new_assignment = ChallengeAssignment.new %>
            <% form_for [@collection, new_assignment], :url => collection_assignments_path(@collection) do |assignment_form| %>
              <%= hidden_field_tag :assignment_to_cover, assignment.id -%>
              <%= assignment_form.hidden_field :collection_id, :value => @collection.id %>
              <%= assignment_form.hidden_field :request_signup_id, :value => request.id %>
              <%= assignment_form.text_field :pinch_hitter_byline %>
              <%= autocomplete_text_field "challenge_assignment_pinch_hitter_byline", :methodname => "pseud_byline", :no_comma => true %>
          </td><td>
              <ul class="navigation">
                <li><%= submit_tag "Assign" %></li>
                <li><%= link_to "Undefault", undefault_collection_assignment_path(@collection, assignment) -%></li>
                <% unless assignment.covered_at.nil? %>
                  <li><%= link_to "Mark Uncovered", uncover_default_collection_assignment_path(@collection, assignment) -%></li>
                <% else %>
                  <li><%= link_to "Mark Covered", cover_default_collection_assignment_path(@collection, assignment) -%></li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>

<h3>Assignments</h3>

<% form_tag default_multiple_collection_assignments_path, :method => :put do %>
  <ul class="navigation">
    <li><%= submit_tag "Update Defaulters"%></li>
    <li>
      <%= link_to "Default All Unposted", default_all_collection_assignments_path(@collection),
                  :confirm => "Are you sure? This will mark all unposted or unapproved assignments in the challenge as defaulting." -%>
    </li>
  </ul>
  
  <div class="clear"></div>

  <table>
    <thead>
      <tr>
        <th>Pseud</th>
        <th>Email</th>
        <th>Writing For</th>
        <th>Work Info</th>
        <th>
          Default? 
          <%= button_to_function t('select_all', :default => "All"), "$$('input[type=checkbox]').each(function(box) {box.checked = true})" %>
          <%= button_to_function t('deselect_all', :default => "None"), "$$('input[type=checkbox]').each(function(box) {box.checked = false})" %>
        </th>
      </tr>
    </thead>

    <% @open_assignments.each do |assignment| %>
      <tr>
        <td><%= challenge_assignment_byline(assignment) -%></td>
        <td><%= challenge_assignment_email(assignment) %></td>
        <td>
          <% request = assignment.request_signup || assignment.pinch_request_signup %>
          <% if request %>
            <%= link_to request.pseud.byline, collection_assignment_path(@collection, assignment) -%>
            <%= assignment.pinch_request_signup && assignment.pinch_request_signup == request ? "* (pinch recipient)" : "" %>
          <% else %>
            <strong>No Recipient</strong>
          <% end %>
        </td>
        <td>
          <% if assignment.creation %>
            <%= link_to "Gift posted on #{assignment.creation.published_at}.", assignment.creation %>
            <% if assignment.creation.respond_to?(:word_count) %>
              <%= t("challenge_assignments.word_count", :default => "({{count}} words)", :count => assignment.creation.word_count) -%>
            <% end %>
            <% if !assignment.fulfilled? %>
              <strong>Not yet approved</strong>
            <% end %>
          <% else %>
            Not yet posted
          <% end %>
        </td>
        <td>
          <% unless assignment.fulfilled? %>
            <% fields_for "challenge_assignments[]", assignment do |assignment_form| %>
              <%= assignment_form.check_box :defaulted %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @open_assignments -%>

  <ul class="navigation">
    <li><%= submit_tag "Update Defaulters"%></li>
    <li>
      <%= link_to "Default All Unposted", default_all_collection_assignments_path(@collection),
                  :confirm => "Are you sure? This will mark all unposted or unapproved assignments in the challenge as defaulting." -%>
    </li>
    <li><%= link_to t("challenge_assignments.purge", :default => "Purge Assignments"), purge_collection_assignments_path(@collection), 
            :confirm => "This will delete ALL assignments so you can edit and send them over. Please do not do this unless you absolutely must!" %>
    </li>
  </ul>

<% end %>  
