<h1>Editing challenge_assignment</h1>

<% form_for(@challenge_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :collection %><br />
    <%= f.text_field :collection %>
  </p>
  <p>
    <%= f.label :creation %><br />
    <%= f.text_field :creation %>
  </p>
  <p>
    <%= f.label :offer_signup_id %><br />
    <%= f.text_field :offer_signup_id %>
  </p>
  <p>
    <%= f.label :request_signup_id %><br />
    <%= f.text_field :request_signup_id %>
  </p>
  <p>
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </p>
  <p>
    <%= f.label :fulfilled_at %><br />
    <%= f.datetime_select :fulfilled_at %>
  </p>
  <p>
    <%= f.label :defaulted_at %><br />
    <%= f.datetime_select :defaulted_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @challenge_assignment %> |
<%= link_to 'Back', challenge_assignments_path %>