<!-- descriptions-->
<div id="collection-page" class="profile">
  <!-- /descriptions-->
  <!--subnavigation, sorting and actions-->
  <!--/subnav-->
  <!--main content-->
  <% request = (@challenge_assignment.request_signup || @challenge_assignment.pinch_request_signup) %>
  <h3>
    <% if request %>
      <%=h t('challenge_assignment.view', :default => "Assigned to {{requester}}: {{offerer}}", 
        :requester => request.pseud.byline, :offerer => @challenge_assignment.offer_byline) -%>
    <% else %>
      No Assignment
    <% end %>
  </h3>

  <div class="collection preface">
    <% if request %>
      <h3><%=h t("challenge_assignments.requests_for", :default => "Requests by {{requester}}", :requester => request.pseud.byline) %></h3>
      <%= render :partial => "challenge_signups/show_requests", :locals => {:challenge_signup => request} %>
    <% else %>
      <p class="note">No request!</p>
      <p class="note">Contact challenge moderators for help.</p>
    <% end %>
    
    <% if @challenge_assignment.offer_signup %>
      <h3><%=h t("challenge_assignments.offers_for", :default => "Offers from {{offerer}}", :offerer => @challenge_assignment.offer_byline) %></h3>
      <%= render :partial => "challenge_signups/show_offers", :locals => {:challenge_signup => @challenge_assignment.offer_signup} %>
    <% elsif @challenge_assignment.pinch_hitter %>
      <p class="note">Pinch Hitter</p>
    <% else %>
      <p class="note">No assigned giver!</p>
      <p class="note">Contact challenge moderators for help.</p>
    <% end %>
  </div>

  <!--/content-->
  
</div>

