<!-- potential match settings partial form, expects a local variable called "challenge_form" and @challenge  -->
<% @challenge.build_potential_match_settings unless @challenge.potential_match_settings %>
<% potential_match_settings = @challenge.potential_match_settings %>

<%= challenge_form.fields_for(:potential_match_settings) do |match_settings_form| %>

  <fieldset id="match_settings">
    <legend>Minimum Number To Match</legend>
    <h3 class="heading">Minimum Number To Match</h3>
    <p class="note">
      This means the <em>minimum</em> level of matching needed for an offer to match a request.
      Any matches above the minimum required number will be used to rank the quality of potential matches.
    </p>

    <p class="note">
     If you change these
      settings <em>after</em> you generate potential matches,
      you will need to <em>regenerate potential matches</em> before your changes show.
    </p>

    <dl>
      <dt>
        <%= match_settings_form.label(:num_required_prompts, ts("Requests: ")) %>
      </dt>
      <dd><%= match_settings_form.select(:num_required_prompts, PotentialMatchSettings::REQUIRED_MATCH_OPTIONS.select {|k,v| k != "0"}, :selected => potential_match_settings.num_required_prompts) %></dd>

      <% TagSet::TAG_TYPES.map {|t| t.pluralize }.each do |type| %>
        <dt class="<%= type.downcase %>"><%= match_settings_form.label("num_required_#{type}", "#{type.capitalize}:") %></dt>
        <dd><%= match_settings_form.select("num_required_#{type}", PotentialMatchSettings::REQUIRED_MATCH_OPTIONS, :selected => potential_match_settings.send("num_required_#{type}")) %></dd>
      <% end %>

      <dt>
        <%= ts("Count optional tags for...") %>
        <%= link_to_help("challenge-include-optional-tags") %>
      </dt>
        <dd>
          <fieldset>
            <ul>
            <% TagSet::TAG_TYPES.map {|t| t.pluralize }.each do |type| %>
            <li class="<%= type.downcase %>"><%= match_settings_form.check_box("include_optional_#{type}", :checked => potential_match_settings.send("include_optional_#{type}")) %>
          <%= match_settings_form.label("include_optional_#{type}", type.capitalize) %></li>
      <% end %>
      </ul>
    </fieldset>
    </dd>
    </dl>

  </fieldset>

<% end %>
