<p>
  <%= t(".intro.purpose_html",
        reproduce_unauthorized_link: link_to(t(".intro.reproduce_unauthorized"), tos_faq_path(anchor: "copyright_plagiarism_faq")),
        uscode_link: link_to(t(".intro.uscode"), "https://www.law.cornell.edu/uscode/text/17/512")) %>
</p>
<p>
  <%= t(".intro.legality_html",
        requirements_link: link_to(t(".intro.requirements"), "#takedown_requirements"),
        transformative_works_legal_link: link_to(t(".intro.transformative_works_legal"), "https://www.transformativeworks.org/faq/#faq-WhydoestheOTWbelievethattransformativeworksarelegal"),
        contact_legal_link: link_to(t(".intro.contact_legal"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy")) %>
</p>

<nav class="toc-nav-heading" id="toc">
  <h3 class="heading" id="nav-toc-heading"><%= t(".toc.heading") %></h3>
    <ol>
      <li><%= link_to(t(".toc.removal"), "#removal_options") %>
        <ul>
          <li><%= link_to(t(".toc.takedown_instructions"), "#takedown_instructions") %></li>
          <li><%= link_to(t(".toc.takedown_requirements"), "#takedown_requirements") %></li>
          <li><%= link_to(t(".toc.takedown_process"), "#takedown_process") %></li>
        </ul>
      </li>
      <li><%= link_to(t(".toc.appeal"), "#appeal_options") %>
        <ul>
          <li><%= link_to(t(".toc.counternotice_instructions"), "#counternotice_instructions") %></li>
          <li><%= link_to(t(".toc.counternotice_requirements"), "#counternotice_requirements") %></li>
          <li><%= link_to(t(".toc.counternotice_process"), "#counternotice_process") %></li>
        </ul>
      </li>
      <li><%= link_to(t(".toc.penalties"), "#repeat_offenses") %></li>
    </ol>
</nav>

<h3 class="heading" id="removal_options"><%= t(".removal.heading") %></h3>
 <p><%= t(".removal.intro") %></p>
  <ul>
    <li>
      <%= t(".removal.abuse_report_html",
            submit_abuse_bold: tag.strong(t(".removal.submit_abuse_html",
              submit_abuse_link: link_to(t(".removal.submit_abuse"), new_abuse_report_path))),
            tos_link: link_to(t(".removal.tos"), tos_path),
            confidentiality_link: link_to(t(".removal.confidentiality"), tos_faq_path(anchor: "report_anonymity")),
            tos_faq_link: link_to(t(".removal.tos_faq"), tos_faq_path(anchor: "report_infringement"))) %>
    </li>
    <li>
      <%= t(".removal.dmca_html",
            file_dmca_bold: tag.strong(t(".removal.file_dmca_html",
              file_dmca_link: link_to(t(".removal.file_dmca"), "#takedown_instructions"))),
            requirements_link: link_to(t(".removal.requirements"), "#takedown_requirements"),
            not_confidential_link: link_to(t(".removal.not_confidential"), tos_faq_path(anchor: "dmca_complaint"))) %>
    </li>
  </ul>
<p>
  <%= t(".removal.do_not_spam_html",
        do_not_bold: tag.strong(t(".removal.do_not"))) %>
</p>

<h4 class="heading" id="takedown_instructions"><%= t(".takedown_instructions.heading") %></h4>
<p>
  <%= t(".takedown_instructions.initiate_html",
        contact_legal_link: link_to(t(".takedown_instructions.contact_legal"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy")) %>
</p>
<blockquote>
  <p>
    <%= t(".takedown_instructions.address_org") %><br />
    <%= t(".takedown_instructions.address_street") %><br />
    <%= t(".takedown_instructions.address_state") %><br />
    <%= t(".takedown_instructions.address_attn") %>
  </p>
</blockquote>
<p><%= t(".takedown_instructions.prefer") %></p>

<h4 class="heading" id="takedown_requirements"><%= t(".takedown_requirements.heading") %></h4>
<p><%= t(".takedown_requirements.intro") %></p>
<ol>
  <li><%= t(".takedown_requirements.signature") %></li>
  <li><%= t(".takedown_requirements.contact") %></li>
  <li><%= t(".takedown_requirements.source") %></li>
  <li><%= t(".takedown_requirements.url") %></li>
  <li><%= t(".takedown_requirements.good_faith") %></li>
  <li>
    <ol>
      <li><%= t(".takedown_requirements.authorized_html",
                perjury_bold: tag.strong(t(".takedown_requirements.perjury"))) %></li>
      <li><%= t(".takedown_requirements.accurate") %></li>
    </ol>
  </li>
</ol>
<p><%= t(".takedown_requirements.liability") %></p>

<h4 class="heading" id="takedown_process"><%= t(".takedown_process.heading") %></h4>
<p>
  <%= t(".takedown_process.valid_html",
        requirements_link: link_to(t(".takedown_process.requirements"), "takedown_requirements")) %>
</p>
<p>
  <%= t(".takedown_process.notification_html",
        lumen_link: link_to(t(".takedown_process.lumen"), "https://lumendatabase.org/")) %>
</p>
<p><%= t(".takedown_process.dispute") %></p>
<p><%= t(".takedown_process.counternotify") %></p>

<h3 class="heading" id="appeal_options"><%= t(".appeal.heading") %></h3>
<p>
  <%= t(".appeal.violations_html",
        copyright_link: link_to(t(".appeal.copyright"), content_path(anchor: "II.D")),
        plagiarism_link: link_to(t(".appeal.plagiarism"), content_path(anchor: "II.E")),
        tos_link: link_to(t(".appeal.tos"), tos_path),
        tos_faq_link: link_to(t(".appeal.tos_faq"), tos_faq_path(anchor: "copyright_plagiarism_faq"))) %>
</p>
<p>
  <%= t(".appeal.removal_html",
        notify_link: link_to(t(".appeal.notify"), tos_faq_path(anchor: "complaint_notification")),
        lumen_link: link_to(t(".appeal.lumen"), "https://lumendatabase.org/")) %>
</p>
<p>
  <%= t(".appeal.reupload_html",
        dispute_bold: tag.strong(t(".appeal.dispute_html", cannot_italic: tag.em(t(".appeal.cannot")))),
        suspend_link: link_to(t(".appeal.suspend"), "#repeat_offenses")) %>
</p>

<h4 class="heading" id="counternotice_instructions"><%= t(".counternotice_instructions.heading") %></h4>
<p>
  <%= t(".counternotice_instructions.dispute_html",
        defend_bold: tag.strong(t(".counternotice_instructions.defend"))) %>
</p>
<p>
  <%= t(".counternotice_instructions.consider_html",
        lumen_faq_link: link_to(t(".counternotice_instructions.lumen_faq"), "https://lumendatabase.org/topics/14")) %>
</p>
<p>
  <%= t(".counternotice_instructions.initiate_html",
        contact_legal_link: link_to(t(".counternotice_instructions.contact_legal"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy")) %>
</p>
<blockquote>
  <p>
    <%= t(".counternotice_instructions.address_org") %><br />
    <%= t(".counternotice_instructions.address_street") %><br />
    <%= t(".counternotice_instructions.address_state") %><br />
    <%= t(".counternotice_instructions.address_attn") %>
  </p>
</blockquote>
<p><%= t(".counternotice_instructions.prefer") %></p>
<p><%= t(".counternotice_instructions.time_limit") %></p>

<h4 class="heading" id="counternotice_requirements"><%= t(".counternotice_requirements.heading") %></h4>
<p><%= t(".counternotice_requirements.intro") %></p>
<ol>
  <li><%= t(".counternotice_requirements.signature") %></li>
  <li><%= t(".counternotice_requirements.contact") %></li>
  <li><%= t(".counternotice_requirements.url") %></li>
  <li><%= t(".counternotice_requirements.mistake_html",
            perjury_bold: tag.strong(t(".counternotice_requirements.perjury"))) %>
  </li>
  <li><%= t(".counternotice_requirements.consent") %>
    <ol>
      <li><%= t(".counternotice_requirements.usa_resident") %></li>
      <li>
        <%= t(".counternotice_requirements.non_us_resident_html",
              new_york_link: link_to(t(".counternotice_requirements.new_york"), tos_path(anchor: "I.A.3"))) %>
      </li>
    </ol>
  </li>
  <li><%= t(".counternotice_requirements.service") %></li>
</ol>
<p><%= t(".counternotice_requirements.liability") %></p>

<h4 class="heading" id="counternotice_process"><%= t(".counternotice_process.heading") %></h4>
<p>
  <%= t(".counternotice_process.valid") %>
</p>
<p>
  <%= t(".counternotice_process.notification_html",
        lumen_link: link_to(t(".counternotice_process.lumen"), "https://lumendatabase.org/")) %>
</p>

<h3 class="heading" id="repeat_offenses"><%= t(".repeat.heading") %></h3>
<p>
  <%= t(".repeat.required_html",
        suspend_link: link_to(t(".repeat.suspend"), tos_faq_path(anchor: "penalty"))) %>
</p>
<hr />
<p>
  <small>
      <%= t(".license.credit_html",
        cc_license_link: link_to(t(".license.cc_license"), "https://creativecommons.org/licenses/by-sa/4.0/")) %>
  </small>
</p>
