			<dl>
				<dt><%= label_tag 'login', 'User name:'.t  %></dt>
				<dd>
					<%= text_field_tag 'login', '' %>
				</dd>
				<dt>
					<%= label_tag 'password', 'Password:'.t  %>
				</dt>
				<dd>
				  <%= password_field_tag 'password', '' %>
				</dd>
			</dl>
			<p class="submit"><%= submit_tag 'Login'.t, :class => 'submit' %></p>
			<p class="footnote">
				<%= check_box_tag('remember_me', '1', false) %>
				<%= label_tag 'remember_me', 'Remember me'.t  %><br /><%= link_to 'forgot password?'.t, new_password_path %>
			</p>