<ul class="navigation actions">
  <% if local_assigns[:top_link] %>
    <li><%= span_if_current(t(".top", arrow: "↑"), "#main") %></li>
  <% end %>
  <li><%= span_if_current(t(".tos"), tos_path) %></li>
  <li><%= span_if_current(t(".content"), content_path) %></li>
  <li><%= span_if_current(t(".privacy"), privacy_path) %></li>
  <li><%= span_if_current(t(".tos_faq"), tos_faq_path) %></li>
</ul>
