<h2 class="heading"><%= t(".heading.html", otw: tag.abbr(t(".heading.otw"), title: t(".heading.otw_long"))) %></h2>

<div class="userstuff">
  <p><%= t(".general") %></p>
  <p><%= t(".details") %></p>
  <p><%= t(".ao3.html",
           github_repository_link: link_to(t(".ao3.github_repository"), "https://github.com/otwcode/otwarchive"),
           jira_project_link: link_to(t(".ao3.jira_project"), "https://otwarchive.atlassian.net/browse/AO3")) %></p>
  <p><%= t(".major_projects.title") %>
    <ul>
      <li><%= t(".major_projects.fanlore_details_html", fanlore_link: link_to(t(".major_projects.fanlore"), "https://fanlore.org")) %></li>
      <li><%= t(".major_projects.legal_details_html", legal_advocacy_link: link_to(t(".major_projects.legal_advocacy"), "https://transformativeworks.org/projects/legal")) %></li>
      <li><%= t(".major_projects.open_doors_details_html", open_doors_link: link_to(t(".major_projects.open_doors"), "https://opendoors.transformativeworks.org")) %></li>
      <li><%= t(".major_projects.twc_details_html", twc_link: link_to(t(".major_projects.twc"), "https://journal.transformativeworks.org/index.php/twc")) %></li>
    </ul>
  </p>
  <p><%= t(".more_info.html",
           transformative_works_link: link_to(t(".more_info.transformative_works"), "https://www.transformativeworks.org"),
           faq_page_link: link_to(t(".more_info.faq_page"), "https://www.transformativeworks.org/faq"),
           communications_team_link: link_to(t(".more_info.communications_team"), "https://www.transformativeworks.org/contact_us/")) %></p>
</div>
