<h2 class="heading"><%= ts('About the') %> <abbr title="<%= ts("Organization for Transformative Works")%>"><%= ts("OTW") %></abbr></h2>

<div class="userstuff">
  <p><%= ts("The Organization for Transformative Works (OTW) is a nonprofit organization, established by fans in 2007, to serve the interests of fans by providing access to and preserving the history of fanworks and fan culture in its myriad forms. We believe that fanworks are transformative and that transformative works are legitimate.") %></p>
  <p><%= ts("We are proactive and innovative in protecting and defending our work from commercial exploitation and legal challenge. We preserve our fannish economy, values, and creative expression by protecting and nurturing our fellow fans, our work, our commentary, our history, and our identity while providing the broadest possible access to fannish activity for all fans.") %></p>
  <p><%= ts("The Archive of Our Own offers a noncommercial and nonprofit central hosting place for fanworks using open-source archiving software.") %></p>
  <p><%= ts("Our other major projects include:") %>
    <ul>
      <li><%= link_to ts("Fanlore"), "http://fanlore.org" %><%= ts(", a fandom wiki devoted to preserving the history of
transformative fanworks and the fandoms from which they have arisen.") %></li>
      <li><%= link_to ts("Legal Advocacy"), "http://transformativeworks.org/projects/legal" %><%=ts (", committed to protecting and defending fanworks from
commercial exploitation and legal challenge.") %></li>
      <li><%= link_to ts("Open Doors"), "http://opendoors.transformativeworks.org" %><%=ts (", which offers shelter to at-risk fannish projects.") %></li>
      <li><%= link_to ts("Transformative Works and Cultures"), "http://journal.transformativeworks.org/index.php/twc" %><%= ts(", a peer-reviewed academic journal
that seeks to promote scholarship on fanworks and practices.") %></li>
    </ul>
  </p>
  <p><%= ts("You can find out more about the OTW and its projects at its website,") %> <%= link_to ts("transformativeworks.org"), "http://transformativeworks.org" %><%= ts(", and learn about how your financial support is vital to the continuation and expansion of the OTW's work on its") %> <%= link_to ts("FAQ page"), "http://transformativeworks.org/faq-page" %>.</p>
</div>
