<h2 class="heading"><%= t(".diversity_header") %></h2>

<div class="userstuff">
  <p><big><strong><%= t(".welcome_statement") %></strong></big></p>

  <p>
    <%= t(".archive_description_html",
          built_by_link: link_to(t(".built_by"), about_path)) %>
  </p>

  <p>
    <%= t(".inclusiveness_commitment_html",
          maximum_inclusiveness_link: link_to(t(".maximum_inclusiveness"), tos_faq_path(anchor: "max_inclusiveness")),
          content_policies_link: link_to(t(".content_policies"), content_path),
          privacy_policy_link: link_to(t(".privacy"), privacy_path),
          terms_of_service_link: link_to(t(".terms_of_service"), tos_path)) %>
  </p>

  <p>
    <%= t(".accessibility_commitment_html",
          update_ao3_link: link_to(t(".update_ao3"), admin_posts_path(tag: 1))) %>
  </p>

  <p>
    <%= t(".collaboration_statement_html",
          donors_users_volunteers_link: link_to(t(".donors_users_volunteers"), "https://www.transformativeworks.org/how-you-can-help/"),
          our_projects_link: link_to(t(".our_projects"), "https://www.transformativeworks.org/our-projects/")) %>
  </p>

  <p><%= t(".feedback_statement_html",
           your_feedback_link: link_to(t(".your_feedback"), new_feedback_report_path)) %>
  </p>
</div>
