<h2 class="heading"><%= t(".welcome_header") %></h2>

<div class="userstuff">
  <p><%= t(".archive_for_you") %></p>

  <p>
    <%= t(".archive_description_html",
          your_feedback_link: link_to(t(".your_feedback"), new_feedback_report_path)) %>
  </p>

  <p>
    <%= t(".what_we_do_html",
          archive_team_link: link_to(t(".archive_team"), admin_posts_path)) %>
  </p>

  <p>
    <%= t(".you_can_html",
          few_restrictions_link: link_to(t(".few_restrictions"), content_path),
          terms_of_service_link: link_to(t(".terms_of_service"), tos_path)) %>
  </p>

  <p>
    <%= t(".still_missing_html",
          some_essential_parts_link: link_to(t(".some_essential_parts"), admin_post_path(295))) %>
  </p>

  <p><%= t(".why_we_build") %></p>

  <p><%= t(".we_build_for") %></p>

  <br />
  <p>
    <%= t(".dreamwidth_remix_html",
          dreamwidth_link: link_to(t(".dreamwidth"), "http://www.dreamwidth.org"),
          diversity_statement_link: link_to(t(".diversity_statement"), "http://www.dreamwidth.org/legal/diversity")) %>
  </p>

  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
      <img alt="<%= t(".license.image_alt") %>" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
    </a>
    <br />
    <%= t(".license.html",
          creative_commons_by_sa_link: link_to(t(".license.creative_commons_by_sa"),
            "http://creativecommons.org/licenses/by-sa/3.0/")) %>
  </p>
</div>
