<h2 class="heading"><%= t(".general.title") %></h2>
<h3 class="heading"><%= t(".general.text") %></h3>

<div class="userstuff">
  <h3><%= t(".time.title") %></h3>
  <p><%= t(".time.details_html",
           otw_link: link_to(t(".time.otw"), "http://www.transformativeworks.org"),
           projects_link: link_to(t(".time.projects"), "http://www.transformativeworks.org/our-projects"),
           volunteer_link: link_to(t(".time.volunteer"), "http://www.transformativeworks.org/volunteer")) %></p>

  <h3><%= t(".money.title") %></h3>
  <p><%= t(".money.details_html",
           donation_link: link_to(t(".money.donation"), "https://donate.transformativeworks.org/otwgive")) %></p>
</div>
