<h2 class="heading"><%= t(".general.title") %></h2>
<h3 class="heading"><%= t(".general.text") %></h3>

<div class="userstuff">
  <h3><%= t(".time.title") %></h3>
  <p><%= t(
    ".time.text_html",
    otw_url: link_to(t('.time.otw_url_text'), t('.time.otw_url')),
    projects_url: link_to(t('.time.projects_url_text'), t('.time.projects_url')),
    volunteer_url: link_to(t('.time.volunteer_url_text'), t('.time.volunteer_url'))
  ) %></p>

  <h3><%= t(".money.title") %></h3>
  <p><%= t(".money.text_html", donation_url: link_to(t('.money.donation_url_text'), t('.money.donation_url'))) %></p>
</div>
