<h2 class="heading"><%= t(".general.title") %></h2>
<h3 class="heading"><%= t(".general.text") %></h3>

<div class="userstuff">
  <h3><%= t(".time.title") %></h3>
  <p><%= t(".time.info_html",
           otw_link: link_to(t(".time.otw"), "https://www.transformativeworks.org"),
           projects_link: link_to(t(".time.projects"), "https://www.transformativeworks.org/our-projects")) %></p>
  <p><%= t(".time.contribute_html",
           github_repository_link: link_to(t(".time.github_repository"), "https://github.com/otwcode/otwarchive"),
           jira_project_link: link_to(t(".time.jira_project"), "https://otwarchive.atlassian.net/browse/AO3"),
           volunteer_listings_link: link_to(t(".time.volunteer_listings"), "https://www.transformativeworks.org/volunteer"),
           news_by_email_link: link_to(t(".time.news_by_email"), "https://www.transformativeworks.org/you-can-now-subscribe-to-otw-news-by-email")) %></p>

  <h3><%= t(".money.title") %></h3>
  <p><%= t(".money.details_html",
           donation_link: link_to(t(".money.donation"), "https://donate.transformativeworks.org/otwgive")) %></p>
</div>
