<h2 class="heading"><%= t(".general.title") %></h2>
<h3 class="heading"><%= t(".general.text") %></h3>

<div class="userstuff">
  <h3><%= t(".time.title") %></h3>
  <p><%= t(".time.text_html") %></p>

  <h3><%= t(".money.title") %></h3>
  <p><%= t(".money.text_html") %></p>
</div>
