<h2 class="heading"><%= ts('Donations') %></h2>
<h3 class="heading"><%= ts('There are two main ways to support the AO3 - donating your time or money.') %></h3>

<div class="userstuff">
  <h3><%= ts('Donating Your Time') %></h3>
  <p><%= ts("The") %> <%= link_to ts('Organization for Transformative Works'), "http://www.transformativeworks.org" %> 
  <%= ts("is the parent organization of the Archive of Our Own. We are often looking for volunteers to contribute to") %> <%= link_to ts('our projects'), "http://transformativeworks.org/our-projects" %>.
  <%= ts("If you're interested in volunteering specifically to help the Archive of Our Own, the roles to look out for include tag wranglers, testers, coders, Support staff and Abuse staff.  We encourage you to browse through the") %> <%= link_to ts('available listings'), "http://transformativeworks.org/volunteer" %> 
  <%= ts("and apply for any roles which match your qualifications and interests.") %></p>

  <h3><%= ts('Donating Financially') %></h3>
  <p><%= ts("The AO3 has ongoing running costs - electricity for the servers and bandwidth so you can reach them - 
and one-off costs such as buying new servers as the number of users and works increases. 
Any") %> <%= link_to ts('donation to the OTW'), "http://transformativeworks.org/how-you-can-help/support" %> 
  <%= ts("is a big help.") %></p>
</div>
