<h2 class="heading"><%= ts('Donations') %></h2>
<h3 class="heading"><%= ts('There are two main ways to support the AO3 - donating your time or money.') %></h3>

<h3><%= ts('Donating Your Time') %></h3>
<p><%= ts("The AO3's parent organization, the") %> <%= link_to ts('OTW'), "http://www.transformativeworks.org" %> 
<%= ts("has a range of") %> <%= link_to ts('committees'), "http://transformativeworks.org/how-you-can-help/volunteer" %>
<%= ts("you can get involved in. In particular, we always need more people to help with tag wrangling, support, coding and testing. 
No experience necessary - we'll train you in everything you need to know. 
To sign up, fill out") %> <%= link_to ts('the volunteers form'), "http://transformativeworks.org/contact/volunteers%20and%20recruiting" %> 
<%= ts("saying which area you're most interested in.") %></p>

<h3><%= ts('Donating Financially') %></h3>
<p><%= ts("The AO3 has ongoing running costs - electricity for the servers and bandwidth so you can reach them - 
and one-off costs such as buying new servers as the number of users and works increases. 
Any") %> <%= link_to ts('donation to the OTW'), "http://transformativeworks.org/how-you-can-help/support" %> 
<%= ts("is a big help.") %></p>
