<div class="splash">
  <% if !logged_in? %>
    <%= render 'intro_module' %>
  <% end %>

  <% if logged_in? && @homepage.favorite_tags.present? %>
    <div class="favorite module">
      <h3 class="heading"><%= t(".find_your_favorites") %></h3>
      <ul>
        <% @homepage.favorite_tags.each do |favorite_tag| %>
          <li>
            <%= link_to_tag_works(favorite_tag.tag) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div role="navigation" aria-label="<%= t(".media_navigation_label") %>" class="browse module">
      <h3 class="heading"><%= t(".find_your_favorites") %></h3>
      <% if logged_in? %>
        <p class="note"><%= t(".browse_or_favorite", count: ArchiveConfig.MAX_FAVORITE_TAGS) %></p>
      <% end %>
      <%= render 'fandoms' %>
    </div>
  <% end %>

  <% if @homepage.admin_posts.present? %>
    <%= render 'news_module', admin_posts: @homepage.admin_posts %>
  <% end %>

  <% if logged_in? && @homepage.readings.present? %>
    <div class="random readings module">
      <h3 class="heading">
        <span class="title"><%= t(".readings.heading.title") %></span>
        <span class="link"><%= link_to t(".readings.heading.history_link"), user_readings_path(current_user) %></span>
      </h3>
      <div class="flash"></div>
      <p class="note"><%= t(".readings.note") %></p>
      <ol class="reading work index group">
        <% @homepage.readings.each do |reading| %>
          <%= render "readings/reading_blurb", work: reading.work, reading: reading %>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% if logged_in? && @homepage.inbox_comments.present? %>
    <%= render 'inbox_module', inbox_comments: @homepage.inbox_comments %>
  <% end %>

  <div class="social module">
    <h3 class="heading"><%= t(".social.heading") %></h3>
    <p class="note"><%= t(".social.note_html", other_outlets_link: link_to(t(".social.other_outlets"), "https://www.transformativeworks.org/where-find-us/")) %></p>

    <ul>
      <li class="twitter"><%= sharing_button("twitter", "https://twitter.com/AO3_Status", t(".social.twitter")) %></li>
      <li class="tumblr"><%= sharing_button("tumblr", "https://ao3org.tumblr.com", t(".social.tumblr")) %></li>
    </ul>
  </div>
</div>
