<!-- BEGIN BETA CAVEATS! -->
<noscript>
  <div id="javascript-warning">
    <p>
      <%=h t('js_disabled', :default => "While we've done our best to make this site accessible without javascript, it will work better and look prettier with it enabled. 
      Please consider turning it on!") %>
    </p>
  </div> 
</noscript>
<!-- END BETA CAVEATS! --> 
<div class="home-header">
<div id="home-signin">  
  <%- if logged_in? || logged_in_as_admin? -%>
    <div class="greeting"><%= render :partial => 'session/greeting' -%></div>
  <%- else -%>
    <%= render :partial => 'session/login' -%>
  <%- end -%>
</div>
<div class="searchbox">
  <%= render :partial => 'works/search_box' %>
</div>

<%= image_tag('logo.png', :alt =>
ArchiveConfig.APP_NAME + ' logo', :class => 'logo', :height => '60', :width => '60') %>

<h1><span><%= ArchiveConfig.APP_NAME -%>
  <% unless ArchiveConfig.REVISION.blank? %>(BETA <%=h t('revision', :default => 'rev. {{rev_number}}', :rev_number => ArchiveConfig.REVISION) %>)<% end %></span>
</h1>

<h2><%= t('otw_link', :default => "A project of the {{otw}}", :otw => '<a href="http://transformativeworks.org">Organization For Transformative Works</a>') %></h2>

<ul id="main-navigation">
	  <li>
      <%= link_to_unless_current t('layout.header.works', :default => "works"), works_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.fandoms', :default => "fandoms"), media_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.people', :default => "people"), people_path %>
    </li>
    <li>
      <%= link_to_help "coming-soon", t('layout.header.communities', :default => "collections") %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.recs', :default => "bookmarks"), bookmarks_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.tags', :default => "tags"), tags_path %>
    </li>
</ul>

<div class="clear"></div>

</div>
<div class="bigwrapper">

<div class="wrapper box">
	<h4><%= t('home.accounts', :default => 'Accounts') %></h4>
  <h3 class="red"><a href="session/new"><%= t('layout.header.sign_in', :default => 'Sign in') %></a></h3>
 <!-- commenting out request an invite link on test
<h3 class="red"><a href=""><%= t('home.request_invite', :default => 'Request an invite') %></a></h3>-->
</div>

<div class="wrapper" style="padding-top: 3em;">
	<h3><%= t('home.about_us', :default => 'The Archive of Our Own is a fan-created, fan-run, non-profit, noncommercial archive for transformative fanworks.') %></h3>
</div>

<div class="wrapper box">
	<h4><%= t('home.explore', :default => 'Explore') %></h4>
	<ul class="meters">
		<li><span class="red"><%= link_to t('home_fandoms', :default => 'fandoms'), media_path %></span>: <span><%= @fandom_count -%></span><%= ' ' + t('todate_count', :default => " to date") %></li>
		<li><span class="red"><%= link_to t('home_works', :default => 'works'), works_path %></span>: <span><%= @work_count %></span><%= ' ' + t('todate_count', :default => " to date") %></li>
    <li><span class="red"><%= link_to t('home_people', :default => 'people'), people_path %></span>: <span><%= @user_count %></span><%= ' ' + t('todate_count', :default => " to date") %></li>
	</ul>
</div>

<div class="wrapper lines col1">
  <% unless @admin_posts.empty? -%>
    <h3><%= t('home.updates', :default => 'Updates') %></h3>
    <%= t('home.latest_ao3_news', :default => 'Latest AO3 News') %>: 
    <%= link_to sanitize_title_for_display(@admin_posts.slice(0).title), @admin_posts.slice(0) %>
    <span class="date-posted">(<%= t('home.posted_on', :default => 'Posted on') %> <%=h @admin_posts.slice(0).created_at %>)</span>
  <% end -%>
</div>

<div class="wrapper lines">
  <h3><%= t('home.about', :default => 'About') %></h3>
  <%= t('home.about.content', :default => 'If you have questions or want to know more about the Archive check out the ') %><%= link_to 'Archive FAQ', archive_faqs_path %>.
</div>

<div class="wrapper lines">
  <h3><%= t('home.read', :default => 'Read') %></h3>
  <%- if @latest_work -%>
    <%=h t('latest_work', :default => 'Latest work') + ': '%> <span><%= link_to @latest_work.title, @latest_work -%></span>
  <%- end -%>
</div>

</div>

<!--<h5 id="signup"></h5>-->
