<!-- BEGIN BETA CAVEATS! -->
<%- if request.env['HTTP_USER_AGENT'].downcase =~ /msie/i -%>
  <%= javascript_tag "alert('Sorry! The current beta version of the site has been optimized for Firefox and may not display properly in your browser just yet.')" %>
<%- end -%>

<noscript>
  <div id="javascript-warning">
    <p>
      While we've done our best to make this site accessible without javascript, it will work better and look prettier with it enabled. 
      Please consider turning it on! Also, be aware that the current beta version of the site has been optimized for Firefox and may not display properly in other browsers just yet. 
    </p>
  </div> 
</noscript>
<!-- END BETA CAVEATS! --> 

	<div id="signin">
		<% form_tag session_path do -%>
			<div id="switch_fields">
      <%- if params[:use_openid] -%>
        <%= render :partial => "openid" %>
      <%- else -%>
        <%= render :partial => "passwd" %>
      <%- end -%>
			</div>
			<%- if params[:use_openid] -%>
			<p id="link_to_passwd">
					<%- else -%>
			<p id="link_to_passwd" style="display: none;">
					<%- end -%>
					<%= link_to_passwd %>
			</p>
				<p id="link_to_openid">
          <!-- !params[:use_openid] ensures this is hidden on the openid version of the page for non-JS users -->
					<%- if !params[:use_openid] -%>
					  <%- if ArchiveConfig.USE_OPENID -%>
						  <%= image_tag("openid.png", :alt => '') %>
						  <%= link_to_openid %>
					  <%- end -%>
					<%- end -%>
				</p>	
		<% end -%>
 	</div>
  <h1>An Archive of Our Own
  	<span><%= ArchiveConfig.APPNAME -%>
     <% unless ArchiveConfig.REVISION.blank? %>(rev. <%= ArchiveConfig.REVISION %>)<% end %></span>
  </h1>
	<h2>A project of the <a href="http://transformativeworks.org">Organization For Transformative Works</a></h2>
	<hr class="clear" />
	<blockquote id="quotebox">
		<p>"I came to realize that everything I do is fan fiction.  I think that everything that we all do, all fiction, is fan fiction is that you are always inspired to write by the things that you love.  So much of writing for me is about finding a way to convey my own love of other writers' work."</p>
		<p class="attribution">~ Michael Chabon</p>
	</blockquote>
	<h3 class="meter"><span><%= @work_count %></span>&nbsp;<%=h 'works by'.t %>&nbsp;<span><%= @user_count %></span>&nbsp;<%= link_to 'creators'.t, :controller => 'users', :action => 'index' %>.&nbsp;<span><%= @works_today %></span>&nbsp;<%=h 'uploaded'.t %>&nbsp;<%= link_to 'today'.t, :controller => 'works', :action => 'index' %>.</h3>
	<h4><%=h 'Share your fan works. Discover new favorites. Explore the possibilities.'.t %></h4>
	<div class="wrapper">
		<!-- Commenting out until we have screencasts
		<div id="screencasts">
			<h5><a href="">Learn more</a>&nbsp;<%=h 'from our screencasts'.t %></h5>
			
			<p><object>
				</object>
			</p> 
		</div>
		-->
		<h5 id="signup"><%= link_to 'Create an account' .t, new_user_path %></h5>
	</div>