<!-- BEGIN BETA CAVEATS! -->
<noscript>
  <div id="javascript-warning">
    <p>
      <%=h t('js_disabled', :default => "While we've done our best to make this site accessible without javascript, it will work better and look prettier with it enabled. 
      Please consider turning it on!") %>
    </p>
  </div> 
</noscript>
<!-- END BETA CAVEATS! --> 

<%- unless logged_in? || logged_in_as_admin? -%>
  <div id="home-signin">
  <%= render :partial => 'session/login' -%>
  </div>
<%- end -%>

<div id="home-header">
 
  <div id="login-block">
    <%- if logged_in? || logged_in_as_admin? -%>
      <%= render :partial => 'session/greeting' -%>
    <% end -%>
    <%= render :partial => 'works/search_box' %>
  </div>

<%= image_tag('logo.png', :alt => ArchiveConfig.APP_NAME + ' logo', :class => 'logo', :height=> '70', :width => '105') %>
  
<div class="titles">
<h1><%= ArchiveConfig.APP_NAME -%>
  <% unless ArchiveConfig.REVISION.blank? %>(BETA <%=h t('revision', :default => 'rev. {{rev_number}}', :rev_number => ArchiveConfig.REVISION) %>)<% end %>
</h1>

<h2><%= t('otw_link', :default => "A project of the {{otw}}", :otw => '<a href="http://transformativeworks.org">Organization For Transformative Works</a>') %></h2>
</div>

<ul id="main-navigation">
	  <li>
      <%= link_to_unless_current t('layout.header.works', :default => "works"), works_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.fandoms', :default => "fandoms"), media_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.people', :default => "people"), people_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.communities', :default => "collections"), collections_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.recs', :default => "bookmarks"), bookmarks_path %>
    </li>
    <li>
      <%= link_to_unless_current t('layout.header.tags', :default => "tags"), tags_path %>
    </li>
</ul>

<div class="clear"></div>

</div>
<div class="bigwrapper">

  <div class="open-beta-box">
  <%- if logged_in? || logged_in_as_admin? -%>
    <h2><%= t('home.you_are_signed_in', :default => 'Welcome to open beta!') %></h2>
    <h1><%= link_to t('invite_friends', :default => 'INVITE A FRIEND'), user_invitations_path(current_user) %></h1> 
  <%- else -%>
    <h2>Be part of our open beta!</h2>
    <%- if AdminSetting.invite_from_queue_enabled? -%>
    <h1><%= link_to t('home.request_invite', :default => 'SIGN UP NOW'), invite_requests_path %></h1>
    <%- else -%>
    <h2><a href="session/new"><%= t('layout.header.sign_in', :default => 'Sign in') %></a></h2>
    <%- end -%>
  <%- end -%>
    <p><%= t('home.about_us', :default => 'The Archive of Our Own is a fan-created, fan-run, non-profit, noncommercial archive for transformative fanworks.') %></p>
  </div>
  
  <div class="sidebar">
    <div class="sidebar-box">
      <h3>Explore</h3>
	    <ul class="meters">
		    <li>
		      <span><%= link_to t('home_fandoms', :default => 'fandoms'), media_path %></span>: 
		      <span><%= @fandom_count -%></span><%= ' ' + t('todate_count', :default => " to date") %>
		    </li>
		    <li>
		      <span><%= link_to t('home_works', :default => 'works'), works_path %></span>: 
		      <span><%= @work_count %></span><%= ' ' + t('todate_count', :default => " to date") %>
		    </li>
        <li>
          <span><%= link_to t('home_people', :default => 'people'), people_path %></span>: 
          <span><%= @user_count %></span><%= ' ' + t('todate_count', :default => " to date") %>
        </li>
	    </ul>    
    </div>
    <div class="sidebar-box">
       <h3>News</h3>
       <p>
         <%- if @admin_post -%><%= link_to sanitize_title_for_display(@admin_post.title), @admin_post %><%- end -%>
       </p>   
    </div>
    <div class="sidebar-box">
      <h3>About</h3>
      <p>
        <%= t('home.about.content', :default => 'If you have questions or want to know more about the Archive check out the ') %>
        <%= link_to 'Archive FAQ', archive_faqs_path %>.
      </p>    
    </div>    
  </div>
</div>

<!--<h5 id="signup"></h5>-->
