<%= render :partial => 'layouts/header' %>
<div id="inner" class="wrapper">
  
  <div id="main" class="system region" role="main">
    <%= flash_div :error, :caution, :notice %>
  
    <div class="intro module">
      <h2 class="heading"><%= ts('Welcome to the Archive of Our Own!') %></h2>
      <p><%= ts("We're a fan-created, fan-run, non-profit, non-commercial archive for transformative fanworks, like fanfiction, fanart, fan videos, and podfic.") %></p>
      <p><%= ts('While the site is in beta, you can get an invitation from another user or from our automated invite queue. All fans and fanworks are welcome!') %></p>
      <p><%= ts("The Archive of Our Own is a project of the ") %><%= link_to ts("Organization for Transformative Works"), "http://transformativeworks.org" %>.</p>
      <% if logged_in? %>
        <p id="signup" class="navigation actions" role="navigation"><%= link_to ts('Invite a friend'), user_invitations_path(current_user) %></p> 
      <% else %>
        <% if @admin_settings.account_creation_enabled? %>
          <p id="signup" class="navigation actions" role="navigation"><%= link_to ts('Log in'), login_path %> or <%= link_to ts("Create an Account"), new_user_path %> </p>
        <% elsif @admin_settings.invite_from_queue_enabled? %>
          <p id="signup" class="navigation actions" role="navigation"><%= link_to ts('Get an Invite'), invite_requests_path %></p>
        <% else %>
          <p id="signup" class="navigation actions" role="navigation"><%= link_to ts('Log in'), login_path %></p>
        <% end %>
      <% end %>
    </div>

    <% if @admin_post %>
      <div class="news module">
        <h3 class="heading"><%= ts("News") %></h3>
        <p><%= link_to @admin_post.title, @admin_post %></p>
        <% if @admin_post_show_more %>
          <p><%= link_to h(ts('More news')) + '&#8230;'.html_safe, admin_posts_path %></p>
        <% end %>
      </div>
    <% end %>
  
    <div class="latest module">
      <h3 class="heading"><%= ts("Explore") %></h3>
      <ul class="meters">
        <li>
				  <span><%= link_to ts('fandoms'), media_path %></span>: 
				  <span><%= @fandom_count %></span><%= ' ' + ts(" to date") %>
			  </li>
	      <li>
	        <span><%= link_to ts('works'), works_path %></span>:
	        <span><%= @work_count %></span><%= ' ' + ts(" to date") %>
	      </li>
        <li>
	        <span><%= link_to ts('people'), people_path %></span>:
	        <span><%= @user_count %></span><%= ' ' + ts(" to date") %>
        </li>
      </ul>    
    </div>
       
  </div>

</div>
