<h2><%= t('.site_map', :default => 'Site Map') %></h2>
<ol>
	<li><a href="http://lim.archiveofourown.org/abuse_reports/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/abuse_reports/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/abuse_reports/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admin_posts/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admin_posts/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admin_posts/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admin_posts/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admins/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/admins/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/archive_faqs/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/archive_faqs/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/archive_faqs/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/archive_faqs/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/bookmarks/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/bookmarks/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/bookmarks/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/bookmarks/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/manage.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/preview.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/chapters/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collection_items/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collection_items/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collection_participants/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collections/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collections/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collections/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/collections/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/comments/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/comments/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/comments/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/comments/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/external_authors/claim.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/external_authors/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/external_authors/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/external_authors/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/external_works/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/fandoms/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/fandoms/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/feedbacks/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/gifts/index_for_collection.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/gifts/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/home/first_login_help.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/home/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/home/site_map.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/home/tos_faq.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/home/tos.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/inbox/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invitations/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invitations/manage.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invitations/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invite_requests/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invite_requests/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invite_requests/manage.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invite_requests/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/invite_requests/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/known_issues/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/known_issues/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/known_issues/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/known_issues/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/languages/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/languages/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/languages/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/layouts/application.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/layouts/home.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/layouts/session.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/locales/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/locales/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/locales/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/media/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/media/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/orphans/about.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/orphans/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/orphans/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/passwords/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/people/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/preferences/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/profile/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/pseuds/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/pseuds/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/pseuds/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/pseuds/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/readings/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/redirect/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/related_works/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/related_works/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/search/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/series/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/series/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/series/manage.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/series/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/series/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/session/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/stats/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tags/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tags/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tags/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tags/search.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tags/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tag_wranglings/assign.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tag_wranglings/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/tag_wranglings/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation_notes/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation_notes/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation_notes/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation_notes/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation/show_tr.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translations/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translation/translate.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translators/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translators/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/translators/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/user_invite_requests/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/user_invite_requests/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/users/after_reset.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/users/delete_confirmation.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/users/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/users/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/users/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/drafts.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/edit.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/edit_multiple.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/import.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/index.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/navigate.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/new.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/preview.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/show.html"> </a></li>
<li><a href="http://lim.archiveofourown.org/works/show_multiple.html"> </a></li>
</ol>
<div class="user-generated-view">
<h3>Explore</h3>
	<ul>
	  <li><%= link_to t('.homepage', :default => "Homepage"), root_path %></li>
	  <li><%= link_to t('.fandoms', :default => "Fandoms"), media_path %></li>
	  <li><%= link_to t('.recent_works', :default => "Recent Works"), works_path %></li>
	  <li><%= link_to t('.people', :default => "People"), people_path %></li>
	  <li><%= link_to t('.bookmarks', :default => "Bookmarks"), bookmarks_path %></li>
	  <li><%= link_to t('.freeform_tag_cloud', :default => "Freeform Tag Cloud"), tags_path %></li>
	  <li><%= link_to t('.languages', :default => "Languages"), languages_path %></li>
	  <li><%= link_to t('.collections', :default => "Collections"), collections_path %></li>
	  <li>Challenges - coming soon</li>
	</ul>
	
<h3>About the Archive of Our Own</h3>
	<ul>
		<li><%= link_to t('.terms_of_service', :default => "Terms of Service"), tos_path -%></li>
		<li><%= link_to t('.archive_faq', :default => "Archive FAQ"), archive_faqs_path -%></li>
		<li><%= link_to t('.ao3_news', :default => "AO3 News"), admin_posts_path -%></li>
		<li><%= link_to t('.known_issues', :default => "Known Issues"), known_issues_path %></li>
		<li>The Archive of Our Own is a project of the <a href="http://transformativeworks.org"><acronym title="Organization for Transformative Works">OTW</acronym></a></li>
	</ul>
	
<%- if logged_in? -%>
<h3>Access your account</h3>
	<ul>
		<li><%= link_to t('.my_home', :default => "My Home"), user_path(current_user) %></li>
		<li><%= link_to t('.post_new', :default => "Post New"), new_work_path %></li>
		<li><%= link_to t('.my_works', :default => "My Works"), user_works_path(current_user) %></li>
		<li><%= link_to t('.my_drafts', :default => "My Drafts"), drafts_user_works_path(current_user) %></li>
		<li><%= link_to t('.my_series', :default => "My Series"), user_series_index_path(current_user) %></li>
		<li><%= link_to t('.my_bookmarks', :default => "My Bookmarks"), user_bookmarks_path(current_user) %></li>
		<li><%= link_to t('.my_collections', :default => "My Collections"), user_collections_path(current_user) %></li>
		<li>My Challenges - coming soon</li>
		<li><%= link_to t('.my_inbox', :default => "My Inbox"), user_inbox_path(current_user) %></li>
		<% if current_user.preference.history_enabled? %>
		<li><%= link_to t('.my_reading_history', :default => "My Reading History"), user_readings_path(current_user) %></li>
		<% end %>
		<li>My Subscriptions - coming soon</li>
		<li><%= link_to t('.set_preferences', :default => "Set My Preferences"), user_preferences_path(current_user) %>
	</ul>
	<h3>Change your account settings</h3>
	<ul>
    <li><a href="">Edit My Profile</a></li>
    <li><%= link_to t('.my_profile', :default => "My Profile"), user_profile_path(current_user) %></li>
    <li><%= link_to t('.manage_pseuds', :default => "Manage My Pseuds"), user_pseuds_path(current_user) %></li>
    <li><%= link_to t('.delete_account', :default => "Delete My Account"), @user, :confirm => t('.deletion_warning', :default => 'This will permanently delete your account and cannot be undone. Are you sure?'), :method => :delete %></li>
	</ul>
<%- end -%>
	
<h3>Contact Us</h3>
	<ul>
		<li><%= link_to t('.support_and_feedback', :default => "Support and Feedback"), new_feedback_report_path -%></li>
		<li><%= link_to t('.report_abuse', :default => "Report Abuse"), new_abuse_report_path %></li>
	</ul>
</div>
	