<h2 class="heading"><%= t(".heading") %></h2>
<div id="takedown" class="userstuff">
  <p><%= t(".intro.html", not_uphold_removal_request: tag.strong(t(".intro.not_uphold_removal_request"))) %></p>
  <nav id="toc" class="toc-nav-heading">
    <h3 id="toc-nav-heading" class="heading"><%= t(".toc.heading") %></h3>
    <h4><a href="#dmca_policy"><%= t(".toc.dmca_policy.heading") %></a></h4>
    <ul>
      <li><a href="#dmca_removal_options"><%= t(".toc.dmca_policy.dmca_removal_options.heading") %></a>
        <ul>
          <li><a href="#dmca_takedown_instructions"><%= t(".toc.dmca_policy.dmca_removal_options.dmca_takedown_instructions") %></a></li>
          <li><a href="#dmca_takedown_requirements"><%= t(".toc.dmca_policy.dmca_removal_options.dmca_takedown_requirements") %></a></li>
          <li><a href="#dmca_takedown_process"><%= t(".toc.dmca_policy.dmca_removal_options.dmca_takedown_process") %></a></li>
        </ul>
      </li>
      <li><a href="#dmca_appeal_options"><%= t(".toc.dmca_policy.dmca_appeal_options.heading") %></a>
        <ul>
          <li><a href="#dmca_counternotice_instructions"><%= t(".toc.dmca_policy.dmca_appeal_options.dmca_counternotice_instructions") %></a></li>
          <li><a href="#dmca_counternotice_requirements"><%= t(".toc.dmca_policy.dmca_appeal_options.dmca_counternotice_requirements") %></a></li>
          <li><a href="#dmca_counternotice_process"><%= t(".toc.dmca_policy.dmca_appeal_options.dmca_counternotice_process") %></a></li>
        </ul>
      </li>
    </ul>
    <h4><a href="#tida_policy"><%= t(".toc.tida_policy.heading") %></a></h4>
    <ul>
      <li><a href="#tida_removal_options"><%= t(".toc.tida_policy.tida_removal_options.heading") %></a>
        <ul>
          <li><a href="#tida_takedown_instructions"><%= t(".toc.tida_policy.tida_removal_options.tida_takedown_instructions") %></a></li>
          <li><a href="#tida_takedown_requirements"><%= t(".toc.tida_policy.tida_removal_options.tida_takedown_requirements") %></a></li>
          <li><a href="#tida_takedown_process"><%= t(".toc.tida_policy.tida_removal_options.tida_takedown_process") %></a></li>
        </ul>
      </li>
      <li><a href="#tida_appeal_options"><%= t(".toc.tida_policy.tida_appeal_options") %></a></li>
    </ul>
    <h4><a href="#repeat_offenses"><%= t(".toc.repeat_offenses") %></a></h4></nav>
  <h3 class="heading" id="dmca_policy"><%= t(".dmca_policy.heading") %></h3>
  <p><%= t(".dmca_policy.html", 
  copyright_infringement_link: link_to(t(".dmca_policy.copyright_infringement"), tos_faq_path(anchor: "copyright_plagiarism_faq"))) %></p>
  <p><%= t(".dmca_policy.details_html", 
  uscode_link: link_to(t(".dmca_policy.uscode"), "https://www.law.cornell.edu/uscode/text/17/512"), 
  legal_requirements_link: link_to(t(".dmca_policy.legal_requirements"), takedown_path(anchor: "dmca_takedown_requirements")), 
  transformative_fanworks_are_legal_link: link_to(t(".dmca_policy.transformative_fanworks_are_legal"), "https://www.transformativeworks.org/faq/#faq-WhydoestheOTWbelievethattransformativeworksarelegal"), 
  contact_legal_committee_link: link_to(t(".dmca_policy.contact_legal_committee"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy")) %></p>
  <h4 class="heading" id="dmca_removal_options"><%= t(".dmca_policy.dmca_removal_options.heading") %></h4>
  <p><%= t(".dmca_policy.dmca_removal_options.intro") %></p>
  <ul>
    <li><strong><a href="/abuse_reports/new"><%= t(".dmca_policy.dmca_removal_options.submit_an_abuse_report")%></a></strong><%= t(".dmca_policy.dmca_removal_options.submit_an_abuse_report_html",
    colon: tag.strong(t(".dmca_policy.dmca_removal_options.colon")),
    tos_link: link_to(t(".dmca_policy.dmca_removal_options.tos"), tos_path),
    standard_of_confidentiality_link: link_to(t(".dmca_policy.dmca_removal_options.standard_of_confidentiality"), tos_faq_path(anchor: "report_anonymity")),
    copyright_infringement_link: link_to(t(".dmca_policy.dmca_removal_options.copyright_infringement"), tos_faq_path(anchor: "copyright_plagiarism_faq")),
    tos_faq_link: link_to(t(".dmca_policy.dmca_removal_options.tos_faq"), tos_faq_path(anchor: "report_infringement")))%>
    </li>
    <li><strong><a href="#dmca_takedown_instructions"><%= t(".dmca_policy.dmca_removal_options.file_a_dmca_takedown_notice")%></a></strong><%= t(".dmca_policy.dmca_removal_options.file_a_dmca_takedown_notice_html",
    colon: tag.strong(t(".dmca_policy.dmca_removal_options.colon")),
    only: tag.strong(t(".dmca_policy.dmca_removal_options.only")),
    legal_requirements_link: link_to(t(".dmca_policy.dmca_removal_options.legal_requirements"),takedown_path(anchor: "dmca_takedown_requirements")),
    not_subject_to_confidentiality_link: link_to(t(".dmca_policy.dmca_removal_options.not_subject_to_confidentiality"), tos_faq_path(anchor: "dmca_complaint")))%>
    </li>
  </ul>
  <p><%= t(".dmca_policy.dmca_removal_options.do_not_submit_both_html", do_not: tag.strong(t(".dmca_policy.dmca_removal_options.do_not")))%></p>
  <h5 class="heading" id="dmca_takedown_instructions"><%= t(".dmca_policy.dmca_takedown_instructions.heading") %></h5>
  <p><%= t(".dmca_policy.dmca_takedown_instructions.initiate_a_dmca_html", legal_contact_form_link: link_to(t(".dmca_policy.dmca_takedown_instructions.legal_contact_form"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy"))%></p>
  <address>
    <%= t(".dmca_policy.dmca_takedown_instructions.otw")%><br />
    <%= t(".dmca_policy.dmca_takedown_instructions.street")%><br />
    <%= t(".dmca_policy.dmca_takedown_instructions.city")%><br />
    <%= t(".dmca_policy.dmca_takedown_instructions.attention_legal")%>
  </address>
  <p><%= t(".dmca_policy.dmca_takedown_instructions.prefer_to_receive_dmca")%></p>
  <h5 class="heading" id="dmca_takedown_requirements"><%= t(".dmca_policy.dmca_takedown_requirements.heading")%></h5>
  <p><%= t(".dmca_policy.dmca_takedown_requirements.notice_must_comply")%></p>
  <ol>
    <li><%=t(".dmca_policy.dmca_takedown_requirements.signature")%></li>
    <li><%=t(".dmca_policy.dmca_takedown_requirements.contact")%></li>
    <li><%=t(".dmca_policy.dmca_takedown_requirements.identification_of_work")%></li>
    <li><%=t(".dmca_policy.dmca_takedown_requirements.url_on_our_site")%></li>
    <li><%=t(".dmca_policy.dmca_takedown_requirements.statement_of_good_faith")%></li>
    <li>
      <ol>
        <li><%=t(".dmca_policy.dmca_takedown_requirements.perjury_statement_html", made_under_penalty_of_perjury: tag.strong(t(".dmca_policy.dmca_takedown_requirements.made_under_penalty_of_perjury")))%></li>
        <li><%=t(".dmca_policy.dmca_takedown_requirements.accurate_statement")%></li>
      </ol>
    </li>
  </ol>
  <p><%=t(".dmca_policy.dmca_takedown_requirements.subject_to_liability")%></p>
  <h5 class="heading" id="dmca_takedown_process"><%=t(".dmca_policy.dmca_takedown_process.heading")%></h5>
  <p><%=t(".dmca_policy.dmca_takedown_process.remove_the_content_html", legal_requirements_link: link_to(t(".dmca_policy.dmca_takedown_process.legal_requirements"), takedown_path(anchor: "dmca_takedown_requirements")))%></p>
  <p><%=t(".dmca_policy.dmca_takedown_process.when_the_content_is_removed_html", lumen_link: link_to(t(".dmca_policy.dmca_takedown_process.lumen"), "https://lumendatabase.org/"))%></p>
  <p><%=t(".dmca_policy.dmca_takedown_process.dmca_counternotice")%></p>
  <p><%=t(".dmca_policy.dmca_takedown_process.if_receives_a_dmca_counternotice")%></p>
  <h4 class="heading" id="dmca_appeal_options"><%=t(".dmca_policy.dmca_appeal_options.heading")%></h4>
  <p><a href="/content#II.D"><%=t(".dmca_policy.dmca_appeal_options.html", 
  copyright_infringement_link: link_to(t(".dmca_policy.dmca_appeal_options.copyright_infringement"), content_path(anchor: "#II.D")),
  plagiarism_link: link_to(t(".dmca_policy.dmca_appeal_options.plagiarism"), content_path(anchor: "#II.E")),
  tos_link: link_to(t(".dmca_policy.dmca_appeal_options.tos"), tos_path),
  tos_faq_link: link_to(t(".dmca_policy.dmca_appeal_options.tos_faq"), tos_faq_path)
  )%></p>
  <p><%=t(".dmca_policy.dmca_appeal_options.remove_the_content_html",
  notify_by_email_link: link_to(t(".dmca_policy.dmca_appeal_options.notify_by_email"), tos_faq_path(anchor: "complaint_notification")), 
  lumen_link: link_to(t(".dmca_policy.dmca_appeal_options.lumen"), "https://lumendatabase.org/")
  )%></p>
  <p><%=t(".dmca_policy.dmca_appeal_options.cannot_reupload_html",
  you: tag.strong(t(".dmca_policy.dmca_appeal_options.you")),
  cannot: tag.em(tag.strong(t(".dmca_policy.dmca_appeal_options.cannot"))),
  repost_until_counternotice: tag.strong(t(".dmca_policy.dmca_appeal_options.repost_until_counternotice")),
  suspend_your_account_link: link_to(t(".dmca_policy.dmca_appeal_options.suspend_your_account"), takedown_path(anchor: "repeat_offenses"))
  )%></p>
  <h5 class="heading" id="dmca_counternotice_instructions"><%=t(".dmca_policy.dmca_counternotice_instructions.heading")%></h5>
  <p><%=t(".dmca_policy.dmca_counternotice_instructions.counternotice_html",
  willing_to_defend: tag.strong(t(".dmca_policy.dmca_counternotice_instructions.willing_to_defend")),
  )%></p>
  <p>
  <%=t(".dmca_policy.dmca_counternotice_instructions.contact_lawyer_html",
  lumen_dmca_link: link_to(t(".dmca_policy.dmca_counternotice_instructions.lumen_dmca"), "https://lumendatabase.org/topics/14")
  )%></p>
  <p>
  <%=t(".dmca_policy.dmca_counternotice_instructions.initiate_counter_request_html",
  legal_contact_form_link: link_to(t(".dmca_policy.dmca_counternotice_instructions.legal_contact_form"), "https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy")
  )%></p>
  <address>
    <%= t(".dmca_policy.dmca_counternotice_instructions.otw")%><br />
    <%= t(".dmca_policy.dmca_counternotice_instructions.street")%><br />
    <%= t(".dmca_policy.dmca_counternotice_instructions.city")%><br />
    <%= t(".dmca_policy.dmca_counternotice_instructions.attention_legal")%>
  </address>
  <p><%= t(".dmca_policy.dmca_counternotice_instructions.prefer_to_receive_dmca")%></p>
  <p><%= t(".dmca_policy.dmca_counternotice_instructions.no_time_limit_to_file")%></p>
  <h5 class="heading" id="dmca_counternotice_requirements"><%=t(".dmca_policy.dmca_counternotice_requirements.heading")%></h5>
  <p><%= t(".dmca_policy.dmca_counternotice_requirements.counternotice_comply")%></p>
  <ol>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.signature")%></li>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.name_info")%></li>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.removed_url")%></li>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.statement_html", made_under_penalty_of_perjury: tag.strong(t(".dmca_policy.dmca_counternotice_requirements.made_under_penalty_of_perjury")))%></li>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.statement_of_consent")%>
      <ol>
        <li><%= t(".dmca_policy.dmca_counternotice_requirements.district")%></li>
        <li><%= t(".dmca_policy.dmca_counternotice_requirements.otw_district_html", manhattan_new_york_link: link_to(t(".dmca_policy.dmca_counternotice_requirements.manhattan_new_york"), tos_path(anchor: "I.A.3")))%></li>
      </ol>
    </li>
    <li><%= t(".dmca_policy.dmca_counternotice_requirements.statement_of_service")%></li>
  </ol>
  <p><%= t(".dmca_policy.dmca_counternotice_requirements.subject_to_liability")%></p>
  <h5 class="heading" id="dmca_counternotice_process"><%= t(".dmca_policy.dmca_counternotice_process.heading")%></h5>
  <p><%= t(".dmca_policy.dmca_counternotice_process.counternotice_notification")%></p>
  <p><%= t(".dmca_policy.dmca_counternotice_process.restore_content_html", lumen_link: link_to(t(".dmca_policy.dmca_counternotice_process.lumen"), "https://lumendatabase.org/"))%></p>
  <h3 class="heading" id="tida_policy">TIDA Policy</h3>
  <p>The "Tools to Address Known Exploitation by Immobilizing Technological Deepfakes on Websites and Networks Act" (Take It Down Act, or TIDA) establishes the procedure the OTW will follow when users of our sites (including AO3) embed or link to nonconsensual, sexually explicit photorealistic images of an identifiable individual, if the images are reported to us by the depicted individual or by someone legally authorized to act on their behalf.</p>
  <h4 class="heading" id="tida_removal_options">A sexually explicit photorealistic image depicting me was posted on AO3 without my consent. What can I do?</h4>
  <p>If you encounter a sexually explicit or suggestive photograph, video, photorealistic computer-generated image (including "deepfakes" and "AI" images), or other photorealistic image on AO3 that could potentially be mistaken for an actual photograph or video of you in a sexually explicit context, you have the following options:</p>
  <ul>
    <li><strong><a href="#tida_takedown_instructions">File a TIDA removal request with the OTW</a>:</strong> TIDA removal requests can <strong>only</strong> be filed by the individual depicted in the image or by someone legally authorized to act on their behalf. TIDA removal requests must be sent to the OTW's designated agent and comply with all <a href="#tida_takedown_requirements">legal requirements</a>.</li>
    <li><strong>File a TIDA removal request with the image host:</strong> Because images embedded in works are not hosted on AO3, filing a TIDA removal request with the OTW will not remove the image itself from the internet. You may therefore wish to contact the image host directly and file your removal request with them. If the hosting service removes the image, the image will no longer appear on any site, including AO3.</li>
  </ul>
  <h5 class="heading" id="tida_takedown_instructions">Filing a TIDA removal request</h5>
  <p>A TIDA removal request can be filed for photographs, videos, or other images (including "deepfakes" and "AI" images) that are sexually explicit or suggestive, "indistinguishable from an authentic visual depiction", and published without the consent of the person depicted in the image.</p>
  <p>To initiate a TIDA removal request, the depicted person or their legal representative must contact the OTW's designated agent using <a href="https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy">the Legal committee's contact form</a> or via email to legal@transformativeworks.org. Submitters should be prepared to present proof that they are the depicted person or their legal representative. <strong>We will not process third-party complaints.</strong></p>
  <h5 class="heading" id="tida_takedown_requirements">Requirements of a TIDA removal request</h5>
  <p>A valid TIDA removal request must include:</p>
  <ol>
    <li>a physical or electronic signature of the identifiable individual (or an authorized person acting on their behalf);</li>
    <li>contact information for the identifiable individual (or an authorized person acting on their behalf);</li>
    <li>the URL(s) on our site where the image(s) can be found;</li>
    <li>a statement, <strong>made by the identifiable individual</strong> (or an authorized person acting on their behalf), that they are requesting to remove the image(s) because:
      <ol>
        <li>the image(s) in question are photorealistic, sexually explicit, and identifiably depict the named individual; and</li>
        <li>they have a good-faith belief that the image(s) were published without the consent of the identifiable individual.</li>
      </ol>
    </li>
  </ol>
  <h5 class="heading" id="tida_takedown_process">TIDA takedown process</h5>
  <p>If the OTW receives a TIDA removal request that fulfills all <a href="#tida_takedown_requirements">legal requirements</a>, we will remove the content once we review the validity of the claim.</p>
  <p>When the content is removed from AO3, we will make reasonable efforts to notify the owner of the account responsible for posting the content.</p>
  <p>If the account owner believes that their content does not violate the Take It Down Act, they may appeal by responding to the removal notice and explaining which elements do not apply. Appeals will be resolved at the sole discretion of the OTW.</p>
  <h4 class="heading" id="tida_appeal_options">I was notified that my work contained images that were subject to removal under the Take It Down Act. What can I do?</h4>
  <p>If the OTW receives a valid TIDA removal request for images featured in content you posted on AO3, we will <a href="/tos_faq#complaint_notification">remove the content and make reasonable efforts to notify you by email</a>.</p>
  <p>If your content was removed due to a TIDA takedown notice, you have the following options:</p>
  <ul>
    <li><strong>Remove the images from your work:</strong> Because the Take It Down Act only applies to images, you can remove the linked or embedded images that were the subject of the TIDA removal request. As long as your work does not otherwise violate the <a href="/tos">Terms of Service</a>, we may restore your content (or, if your content has already been deleted, allow you to reupload it).</li>
    <li><strong>Submit an appeal:</strong> If you believe the TIDA takedown notice was invalid, you can appeal the removal of the images by replying to the notification email. You will need to explain which elements of <a href="#tida_takedown_requirements">the original TIDA removal request</a> do not apply to your situation. Appeals will be resolved at the sole discretion of the OTW.</li>
  </ul>
  <p>If you reupload or repost the content without removing the linked or embedded images, or without your appeal being granted, we may <a href="#repeat_offenses">suspend your account</a>.</p>
  <h3 class="heading" id="repeat_offenses">Repeat Offenses</h3>
  <p>As required by 17 U.S.C. § 512(i)(1)(A), we may <a href="/tos_faq#penalty">suspend</a> users who repeatedly violate others' copyright. We may also suspend users who repeatedly post images in violation of the Take It Down Act. The OTW has the discretion to decide what qualifies as a repeated offense.</p>
  <hr />
  <p><small>AO3's takedown policy is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Material in this policy has been drawn from the DMCA policies of Dreamwidth, the Electronic Frontier Foundation, and Wikipedia.</small></p>
</div>
