<h2 class="heading">Terms of Service <abbr title="frequently asked questions">FAQ</abbr></h2>
  <div class="admin userstuff">
		<div id="toc" class="toc" role="navigation">
			<h3 class="heading">Table of Contents</h3>
			<ul>
				<li>
					<a href="#general_faq">General Principles <abbr title="Frequently Asked Questions">FAQ</abbr></a>
				</li>
				<li>
					<a href="#age_faq">Age Policy <abbr title="Frequently Asked Questions">FAQ</abbr></a>
				</li>
				<li>
					<a href="#privacy_faq">Privacy Policy <abbr title="Frequently Asked Questions">FAQ</abbr></a>
				</li>
				<li>
					<a href="#content_faq">Content Policy and Abuse Procedures <abbr title="Frequently Asked Questions">FAQ</abbr></a>
				</li>
				<li>
					<a href="#specialized_faq">Assorted Specialized Policies <abbr title="Frequently Asked Questions">FAQ</abbr></a>
				</li>
			</ul>
		</div>
		<div id="faq">
			<h3 id="general_faq">General Principles</h3>
			<h4 id="max_inclusiveness">Why does the archive have a goal of maximum inclusiveness?
			</h4>
			<p>There are a number of wonderful specialized archives.  Our aim with this archive is to provide a place to preserve as many fanworks as possible.  At the same time, the archive software can be used by anyone to create their own archives, including archives limited to particular topics, fandoms, or ratings.
			</p>
			<h4 id="ny_law">Why is the agreement between the archive and archive users governed by the laws of New York?
			</h4>
			<p>Given the great variation among laws in different places, we want our agreement with you to be governed by predictable and consistent laws.
			</p>
			<h4 id="merchantability">What is an implied warranty of merchantability?
			</h4>
			<p>An implied warranty of merchantability is a legal agreement between a seller and a buyer that goods will be reasonably fit for the general purpose for which they are sold.  In the United States this warranty is governed by the Uniform Commercial Code (UCC), which allows sellers to disclaim it, thereby shifting the risk back to the buyer.
			</p>
			<h4 id="fitness">What is an implied warranty of fitness for a particular purpose?
			</h4>
			<p>An implied warranty of fitness for a particular purpose is a legal agreement that exists when a buyer relies upon the seller to provide goods to fit a specific request.  This warranty requires that the seller know or have reason to know of a specific purpose to which the goods are going to be put, and know that the buyer is relying on the seller's expertise or judgment.  In the United States this warranty is governed by the Uniform Commercial Code (UCC), which allows sellers to disclaim it, thereby shifting the risk back to the buyer.
			</p>
			<h4 id="out_of_date">Under what circumstances would you suspend an account for an out-of-date e-mail address?
			</h4>
			<p>If we need to communicate with you to resolve an abuse complaint, and the e-mail bounces, we will have to resolve it without your participation, which means you won't be able to tell your side of the story. If your e-mail continues to bounce, we will suspend your account because we need to be able to communicate with you if necessary.
			</p>
			<p>In that situation, you can get your account reinstated by associating it with a working email address and, if necessary, dealing with whatever problem led to the abuse complaint in the first place.
			</p>
			<p>Suspension for bouncing isn't a strike. Suspension for bouncing would never lead to permanent suspension, though a sufficient number of sustained abuse complaints while the email was bouncing could lead to permanent suspension.
			</p>
			<p>If we send a routine e-mail about general site policies and it bounces, that will not lead to account suspension, though whatever policies we announce will still apply to all account holders. We will only suspend accounts when individual abuse-related communications bounce.
			</p>
			<h4 id="non_us_resident">I am a non-<abbr title="United States of America">US</abbr> resident.  What does the Archive policy on <abbr title="United States of America">US</abbr> law mean for me?
			</h4>
			<p>The Archive welcomes fans from all over the globe, but it is set up under US law.  We believe that US law governs the Archive, which includes the relationship between the Archive and its users and the definitions of terms in the <abbr title="Terms of Service">ToS</abbr>.  Other laws may govern your behavior, however, and you are responsible for knowing them and complying with them.
			</p>
			<h4 id="impersonation"> What do you mean by banning "impersonation"?  Can I archive first-person real-person fiction?  Can I use a celebrity name as a pseudonym?
			</h4>
			<p>Roleplay is permitted when the assumption of such a persona is clearly disclosed (e.g., in a user profile or in another manner appropriate under the circumstances) and it doesn't otherwise violate the Content Policy, including the harassment policy.   Fiction marked as such, including real-person fiction in first-person format, is not impersonation. Please consult the
				<%= link_to 'content policy', tos_path(:anchor => 'content') %> for further information.
			</p>
			<h4 id="worldwide_nonexclusive"> What do we mean by "world-wide, royalty-free, nonexclusive license"?
			</h4>
			<p>This means the archive can make your content available to other people (subject to any login requirements that apply) without paying you. We will never charge for access to the archive or otherwise sell your content. You can put your content anywhere else you want, too.
			</p>
			<h3 id="age_faq">Age Policy</h3>
			<h4 id="under_13">Why are children under the age of 13 not permitted to have an account or upload Content?
			</h4>
			<p>In the U.S., the Children's Online Privacy Protection Act governs the collection of personal information (which can include things like usernames) from children under 13.  Requiring users to be over 13 is the easiest way for us to comply with this law.
			</p>
			<h3 id="privacy_faq">Privacy Policy</h3>
			<h4 id="cookies">Why do you use cookies?
			</h4>
			<p>Cookies may be required to customize your experience of the site. If you do not accept cookies, you may not be able to use the site.  There are many good ways to remove both browser history and cookies between sessions, and we encourage people who are concerned about privacy to investigate more global solutions.  For example, Firefox can clear all your private data between sessions.
			</p>
			<h3 id="content_faq">Content Policies and Abuse Procedures</h3>
			<h4 id="suspension">What sort of things would lead to permanent suspension?
			</h4>
			<p>It's impossible to define everything in advance.  We are most concerned with people who are actively and deliberately hostile to the community.  Wholesale plagiarism and deliberate disclosure of another person's real-life name or other identifying information readily justify permanent suspension, whereas a personal conflict that gets out of control may justify temporary suspension.  Small and honest mistakes, even if they are annoying, are more likely to draw warnings.
			</p>
			<h4 id="discretion">What constrains the abuse team's discretion?</h4>
			<p>Our commitment is to build a community that welcomes anyone with a willingness to learn the rules but defends itself against people who deliberately flout them.  Our discretion is aimed at that objective.  Procedurally, permanent suspensions for violations other than spam or threatening the technical integrity of the site require a majority vote of the abuse team.  Majority rule builds in checks on individual discretion without trying to resolve every possible situation in advance.
			</p>
			<h4 id="need_to_know">What do you mean by "only people who have a need to know" about a complaint will be informed of it?
			</h4>
			<p>Abuse and complaint information is kept confidential.  The abuse team guards all such information carefully, and all members of the abuse team have agreed to an industry-standard confidentiality policy.  On occasion, the abuse team may need to consult with the Systems committee, to request specific technical or log information to aid our investigation, for example, or the Legal committee, to discuss precise legal requirements.  We may also contact the subject of a complaint, to request his or her perspective or to inform him or her of penalties his or her actions have incurred.  For information about what details we would release to the subject of a complaint, please see our
				<%= link_to 'Privacy Policy', tos_path(:anchor => 'privacy') %> and
					<%= link_to 'other Abuse FAQs', tos_path(:anchor => 'content') %>.
			</p>
			<h4 id="recusal">What happens if someone who's a friend of someone on the abuse team is involved in a complaint?
			</h4>
			<p>We expect the members of the abuse team to behave professionally, even though <abbr>OTW</abbr> is entirely volunteer-staffed.  We take the responsibilities of serving on the abuse team seriously, and a member of the team with a personal relationship to either party in an abuse situation is expected to recuse him or herself entirely from the case, and, of course, to maintain our standards of confidentiality at all times; failure to do so may be grounds for dismissal from the team.
			</p>
			<h4 id="account_status">What do the different account statuses mean?
			</h4>
			<p>We define account statuses the following way:</p>
			<h5 id="account_status_warning">Warning
			</h5>
			<p>At its discretion, the abuse team may issue a warning, rather than a suspension, in the instance of minor violations of the  <abbr title="Terms of Service">ToS</abbr>.  A user who has recently received a warning and who violates the <abbr title="Terms of Service">ToS</abbr> again, especially in the same or a similar manner, is likely to incur a suspension.
			</p>
			<h5 id="account_status_suspension">Suspension
			</h5>
			<p>The abuse team may issue a time-limited ban on the uploading of new content and creation of new accounts; suspension occurs as the result of strikes incurred for violating the Archive's  <abbr title="Terms of Service">ToS</abbr>. During this time, the suspended user can remove, but not edit, content uploaded prior to the suspension.
			</p>
			<h5 id="account_status_permanent_suspension">Permanent Suspension
			</h5>
			<p>The abuse team may issue a permanent ban on the uploading of new content. Permanently suspended users cannot create new accounts or upload content to Archive, though they retain the right to remove, but not edit, content uploaded prior to the permanent suspension.
			</p>
			<h4 id="anonymity">If I complain non-anonymously, will the subject be told who complained?
			</h4>
			<p>Only people who need to know about a complaint will be informed about it.  The subject of a complaint may be among those who need to know. No information other than that provided in the complaint will be passed on, and the complainant has complete control over what information is submitted to Abuse. Complaints can be submitted anonymously. Legal names and other information sufficient to identify a person in the physical world will never be disclosed as part of a standard abuse complaint. For further clarification, please see our
				<%= link_to 'Privacy Policy', tos_path(:anchor => 'privacy') %>.
			</p>
			<h4 id="informed_of_complaints">Will I be informed of complaints against me?
			</h4>
			<p>In general, the abuse team will only communicate with the subject of a complaint if there appears to be a violation of the abuse policy, or if the abuse team needs more information to resolve the issue.
			</p>
			<h4 id="suspended_accounts">How would the suspended user control their nonobjectionable content without an account?
			</h4>
			<p>Non-objectionable fanworks are not removed from the site when a user is suspended. Suspended users who wish to delete or orphan their fanworks may contact the Abuse team to have this done for them.
			</p>
			<h4 id="deleted_accounts">What information is available about a permanently suspended or deleted account?  Can I reuse a <abbr title="User Identity">userID </abbr> that belonged to a deleted account?
			</h4>
			<p>Permanent suspension doesn't delete accounts; unless deleted by the user, any existing content that doesn't violate the content policy or other parts of the Terms of Service remains. It is possible that a <abbr title="User Identity">userID</abbr> that has been deleted by the user will be available to other people.
			</p>
            <h4 id="appeals">How  do I appeal the resolution of a complaint?</h4>
            <p>The person against whom a complaint was resolved can submit an appeal the same way as one would submit a complaint, by contacting Abuse.</p>
			<h3 id="spam_faq">Spam and Commercial Promotion
			</h3>
			<h4 id="no_commerce">How strict is the "no commerce" rule?
			</h4>
			<p>We want the Archive to remain a non-commercial space.  That means that it isn't the right place for offering merchandise, even fan-related merchandise.  Linking to a personal page is fine, even if the personal page offers items for sale, but the archive is not advertising space.  If the abuse team issues a warning or sustains a complaint about commercial activities, the original poster can always appeal.
			</p>
			<h4 id="charity_drives">What about charity drives?
			</h4>
			<p>The archive will host fanworks of any origin, including fanworks created in response to charity drives or other challenges.  A link to a charity drive to explain the origin of a fanwork is appropriate.  Solicitation itself, however, should take place outside the archive.  We concluded that this policy was the easiest to apply fairly to everyone, given the wide range of possible solicitation activities.
			</p>
			<h4 id="spam_filter">What's this about the spam filter?  Can I be permanently suspended if I fail the filter?
			</h4>
			<p>If you're logged in, you shouldn't see a spam filter, so the situation shouldn't arise.  If we find that accounts are being created simply to spam other users, we will permanently suspend those accounts.  If you're a human being reading this <abbr title="Frequently Asked Questions">FAQ</abbr>, you shouldn't worry about the automated spam-control measures.
			</p>
			<h4 id="technical_integrity">Technical integrity
			</h4>
			<h5 id="interfere">What do you mean by "attempting to interfere with the technical integrity of the site"?
			</h5>
			<p>Basically, we mean attempts to hack the site or spread viruses or other unwanted programs through it.  If a user deliberately exploits a code vulnerability in order to install unwanted programs, redirect users to spam sites, or other destructive behavior, that's attempting to interfere with the technical integrity of the site.
			</p>
			<h5 id="nifty_formatting">Does that mean I can't have nifty formatting in my story?
			</h5>
			<p>No, this is just a security policy.  As for formatting: you will be able to have plenty of nifty formatting, but not everything imaginable.  As a practical security matter, we will not be allowing javascript on the Archive, and only a limited subset of HTML.  Something elaborately custom-coded would have to go on your own webspace. That is just because there is no secure way to allow people to start uploading unfiltered code.  Our limits are designed in part to improve accessibility for all users, but we aren't trying to impose any editorial standard.  The basic reason is simply that it's not technically safe to allow unfiltered code.
			</p>
			<h5 class="heading">Do you have a policy on bots or scraping? These are ways of extracting information from or indexing websites.
			</h5>
			<p>Using bots or scraping is not against our Terms of Service unless it relates to our guidelines against spam or other activities. However, we do reserve the right to implement robots.txt or other protocols limiting what bots can do, or to notify you and ask you to discontinue if a bot or scraping program is causing problems for the site.
			</p>
			<h4 id="harassment">Harassment
			</h4>
			<h5 id="harassment_coverage">Does the harassment policy cover everyone, or just archive users?
			</h5>
			<p>Both archive users and non-users might potentially complain about harassment.  In today's online environment, the line between non-user and user can be blurry, and so our policy covers both users and non-users.  Writing <abbr title="real person fiction">RPF</abbr> (real-person fiction), however, never constitutes harassment in and of itself, even if the content is objectionable.  Please see the
				<%= link_to 'harassment policy', tos_path(:anchor => 'harassment') %> for more information.
			</p>
			<h4 id="plagiarism">Plagiarism
			</h4>
			<h5 id="anon_report">Can a person submit a plagiarism complaint anonymously, or without being the author of the plagiarized work?
			</h5>
			<p>Yes.  Except in the case of
				<%= link_to 'copyright complaints', tos_path(:anchor => 'copyright') %>, a complaining person may submit a complaint via the web form, which does not require identifying information.
			</p>
			<h4 id="pseudonyms">Pseudonyms
			</h4>
			<h5 id="different_pseudonyms">Why would I want to have different pseudonyms connected to the same account?
			</h5>
			<p>We distinguish between usernames and pseudonyms, allowing multiple pseudonyms for each username.  Pseudonyms are useful when more than one person wants to use a particular name; they allow multiple Sarahs or Kittens to coexist but be distinguished.  Also, if you have used different fannish names over time or in different fandoms, you can keep them all on the archive using pseudonyms.
			</p>
			<h4 id="icon_policy">User Icons
			</h4>
			<h5 id="icon_use">Why are the rules for user icons more restrictive than the general archive rules?</h5>
			<p>Right now, user icons appear on pages, such as user profiles, that are entirely unrated. The design provides for only one user icon per pseudonym, rather than multiple icons, which means that whatever icon a user picks will be visible to any browser.  If there is substantial interest in changing the system, we may revise the archive so that a user may have multiple icons and/or may rate his or her profile just as a fanwork may be rated, in which case we will change the user icon policy.  The icon policy is <strong>not</strong> the general fanart policy.  We presently allow embedding various kinds of files hosted elsewhere.  We do anticipate eventually hosting images created by fans and treating them like textual fanworks, governed mainly by ratings and warnings rather than by content restrictions.
   			</p>
		    <h4 id="profiles">Profiles
            </h4>
            <h5 id="profile_content">What can be on a user profile?
            </h5>
            <p>User profiles can contain information about the user, including information about the user's preferences and links to other sites on which the user can be found.  User profiles must comply with the Archive's policies on harassment, impersonation, plagiarism, commercial promotion, and other conduct that threatens the integrity of the site.  Users should not use their profiles to encourage the purchase of their other works (e.g., linking to a Kindle page).  Linking to a personal page on another service is fine, even if the personal page offers some items for sale (e.g., the personal page includes links to an Etsy page), but the archive is not advertising space.
            </p>
            <h4 id="ratings_and_warnings">Ratings and Warnings
			</h4>
			<h5 id="permissible_content">What kind of content do you allow?
			</h5>
			<p>We will not remove content from the archive because it contains explicit material, as long as it doesn't violate any other part of the content policy (e.g., the harassment policy).
			</p>
			<p>One basic consequence is that <em>users are responsible for reading and heeding the warnings provided by the creator.</em> Risk-averse users should keep in mind that not all content will carry full warnings. If you want to know more, you may also wish to consult the bookmarks that people other than the creator have used to categorize the fanwork.
			</p>
			<p>Some creators do not want to put specific ratings or warnings on their works.  Our policy aims to enable creators to choose appropriate labels or to opt not to use ratings and warnings, with the understanding that some users will avoid unrated or unwarned content.
			</p>
			<p>Though creators are not required to use ratings or warnings, they are often extremely useful to users.  Ratings or warnings can attract some readers who are looking for specific content, and they can also warn off readers who are trying to avoid that content.  Because fanworks may deal with controversial and painful issues, we encourage creators to choose ratings and warnings that help users make decisions about what to read.  The "not rated" and "choose not to use archive warnings" options will, of course, help users make decisions as well, though without much detail.
			</p>
			<h5 id="fanwork_info">What sort of information do I need to provide for my fanworks?
			</h5>
			<p>The aim of the archive is to let fanwork creators and audiences find each other.  Choosing at least one fandom is therefore the basic requirement.   If we don't have your fandom listed, you can always add it.  After that, you can add characters, relationships (if you want), a summary, and other information.
			</p>
			<p>The archive also uses rating and warning tags.  Our goal is to provide the maximum amount of control and flexibility for all users of the archive, both creators and audiences, so that each user can customize his/her experience.  It's always possible for creators to use "not rated" or "choose not to use archive warnings," but audiences will always be able to avoid unrated or unwarned fanworks if that's how they want to use the archive.
			</p>
			<p>From the user's perspective, users who wish to avoid warnings will be able to hide them.  Author-supplied warnings are displayed by default unless and until a user changes his or her preferences.
			</p>
			<p>Users who wish to serve as filters for other users may also use bookmarks and recommendation tags.  These will serve as an extra source of information for other users who are trying to determine whether or not to access a work.  Users will have to choose to use other users' bookmarks and recommendations.
			</p>
			<p>This system is designed to offer numerous different ways to customize the experience on the archive, which should in general accommodate users' desires for warnings or to avoid warnings, along with authors' ability to choose the appropriate warning or to choose not to provide warnings.  In most cases, users can control their experiences by accessing only fanworks that have ratings and warnings that are acceptable to them, and creators can use their artistic judgment about what ratings and/or warnings, if any, ought to be on a fanwork.
			</p>
			<h5 id="default_warning">If I don't choose, what's the default?
			</h5>
			<p>The default is "not rated" and "choose not to use archive warnings."</p>
			<h5 id="consequences">What's the consequence of a violation of the ratings/warnings policy?
			</h5>
			<p>Please see the
				<%= link_to 'Content Policy', tos_path(:anchor => 'content') %> for details.  If we sustain a complaint about ratings, the fanwork will remain available on the archive, but it will have the "not rated" label.  If we sustain a complaint about warnings, the fanwork will remain available on the archive, but it will have the "choose not to use archive warnings" label.
			</p>
			<h5 id="why_minimal">The ratings/warnings policy is really minimal.  Why is this?
			</h5>
			<p>We believe that appropriate ratings and warnings are often in the eye of the beholder.  Users who feel that a fanwork lacks an appropriate rating/warning are encouraged to try to resolve the issue with the creator. Users may also add tags of their own to on-site bookmarks of a fanwork, which other users can consult for more information. When those tags are present, you can click on the "Bookmarks" link at the top of the work to see them.
			</p>
			<h5 id="ratings_vs_warnings">What's the difference between ratings and warnings?
			</h5>
			<p>Ratings are a measure of the intensity of overall content. Warnings refer to more specific subjects and can be used to complete the sentences:
			</p>
			<p>I prefer not to read works that contain X</p>
			<p>I search out and enjoy works that contain X</p>
			<h5 id="screening">Do the archive maintainers screen works as they're uploaded for compliance with the ratings/warnings policy?
			</h5>
			<p>No.</p>
			<h5 id="beta">How will this work while the archive is in beta?
			</h5>
			<p>Since many features will not yet be available in the early version of the archive, the Content Policy only applies to active features.  Because we're just getting started, we will emphasize communication and dialogue about policies; everyone, including the archive maintainers, will be learning how this works.
			</p>
			<h5 id="rating_chapters">Can chapters of a larger work be rated/warned separately from each other?
			</h5>
			<p>Not in the initial version of the archive, but we have put it on the roadmap for later addition.</p>
			<h5 id="choosing_not_to_rate_or_warn">Can I use "not rated" but not "choose not to use archive warnings," or vice versa?
			</h5>
			<p>Yes, absolutely. So you could use "not rated" for a story that has a warning for rape, or you could rate a story "explicit" or "general" but choose not to give specific warnings.
			</p>
			<h5 id="rating_slash_vs_het">Do you distinguish between same-sex and opposite-sex relationships or activities for ratings purposes?
			</h5>
			<p>No.  Please note that the creator's choice of rating is presumed appropriate.  In assessing abuse complaints, we will not treat slash any differently than het.
			</p>
			<h5 id="defining_ratings">What's the difference between "general" and "teen and up" or "mature" and "explicit"?
			</h5>
			<p>This is left to the creator's judgment.  People disagree passionately about the nature and explicitness of content to which younger audiences should be exposed.  The creator's discretion to choose between "general" and "teen and up" or between "mature" and "explicit" is absolute: we will not mediate any disputes about those decisions.  Instead, we encourage creators to consider community norms, whether fandom-specific or more general (such as how you'd expect a video game or movie with similar content to be rated), in selecting a rating.
			</p>
			<h5 id="teen_vs_mature">What's the difference between "teen and up" and "mature"?
			</h5>
			<p>Likewise, this is almost entirely up to the creator's judgment.  In response to valid complaints about highly explicit content, the abuse team may redesignate a fanwork marked "general" or "teen and up" to "not rated," as explained in the
				<%= link_to "abuse policy", tos_path(:anchor => "content") %>, but our policy is generally to defer to the creator's decision.
			</p>
			<h5 id="not_rated">Suppose I'm searching for explicit fanworks.  How will "not rated" Fanworks be treated in my search?
			</h5>
			<p>You can include or exclude "not rated" Fanworks from a ratings-based search.
			</p>
			<h5 id="archive_vs_additional_tags">What are "archive" and "additional" tags?
			</h5>
			<p>In addition to ratings, the Archive provides two separate lists of tags for creators to choose from when uploading a fanwork. These tags allow creators to ensure that their stories are accurately labeled. They are also helpful for many users in finding and categorizing work, or avoiding work which they may not want to see.
			</p>
			<p>When uploading a fanwork to the Archive, creators must choose at least one item from the archive tags list.  Along with some specific warnings, the list allows creators to select "choose not to use archive warnings," and "none of these warnings apply."  It is also possible to choose multiple archive warning combinations, e.g. both "underage" and "graphic description of violence" if a fanwork contains both elements, or "choose not to use archive warnings" and "underage" if the creator wants to disclose the underage content but doesn't want to say whether the work contains major character death.  It's a little messy in that type of rare case, but trying to express that concept in other ways led to significant confusion.
			</p>
			<p>Creators may also choose to add additional tags to their work. These tags can be serious or humorous. They can be warnings or promises, or whatever else the creator chooses.  Tags may be made synonymous for purposes of filtering by our Tag Wranglers, but your tags will continue to appear in their original form on your work.
			</p>
			<p>Please see
				<%= link_to 'our ratings and warnings policy', tos_path(:anchor => 'ratings') %> for more information.
			</p>
			<h5 id="archive_tags">What's the purpose of the archive tags?
			</h5>
			<p>The purpose is to identify subjects that have been the subject of substantial, recurring debate in many sectors of fandom and provide an easy way to warn for those subjects (though a choice not to warn is always acceptable as well).  We also decided to limit the archive tags to a small number of subjects out of concerns for enforcement.  Concepts like "dubious consent" vary substantially from person to person, and we decided that we could not reasonably expect fair enforcement of a rule requiring warnings (or a signal that the author chose not to warn) for concepts beyond those listed in the archive warnings.
			</p>
			<h5 id="underage_tag">What do you mean by "underage" in the archive tags?
			</h5>
			<p>Underage refers to descriptions or depictions of sexual activity by characters under the age of eighteen (18).  In general, we rely on authors to use their judgment about the line between reference and description or depiction.  Sexual activity does not include dating activity such as kissing, but again, we rely on authors to use their judgment about what is generally understood to be sexual activity.  An author may always specify the age of the characters.
			</p>
			<h5 id="why_18">Why is "underage" defined as "under 18"?
			</h5>
			<p>Though there is no international consensus, there is a trend to focus on 18 as an important age in regulating depictions of sexual activity (as opposed to actual sexual activity/age of consent, which is regulated in many more varied ways).  Thus, we decided that 18 would be helpful for the maximum number of users, including audiences as well as creators, though we recognize that no solution is perfect for everyone.  We encourage creators and recommenders to be more specific in tags or summaries where this would be useful to potential audiences.
			</p>
			<p><em>Note from the Content Policy committee:</em> With the exception of user icons, the Archive hosts only text, but we do plan to expand over time, and we do allow embeds of certain types of files <a href="https://archiveofourown.org/archive_faqs/8">hosted elsewhere</a>, which are also subject to the Content Policy.  Because regulations of sexually explicit content are generally concerned with visual depictions, there is potentially more flexibility for textual depictions.  The current rule is for 18 across the board, but we welcome suggestions on alternatives, especially from people with an interest in fan art.
			</p>
			<h5 id="whither_robots">What about robots, computer simulations, elves, aliens, vampires who are three hundred years old but were turned into vampires at age 12, etc.?
			</h5>
			<p>The core use of the underage label is to identify fanworks depicting sexual activity by humans under the age of eighteen as measured in Earth years.  Please use your judgment for other situations.  If the fanwork does not include a depiction of sexual activity with a human under the age of eighteen as measured in Earth years, then we will not generally consider it "underage," though creators may use the tag if they feel it accurately represents their intent.  As always, we encourage creators and recommenders to be more specific in tags or summaries where this would be useful to potential audiences.
			</p>
			<h5 id="age_unclear">What about when a vignette or other fanwork doesn't specify the characters' ages?
			</h5>
			<p>The presumption is that the characters are of age unless the fanwork's creator indicates otherwise.
			</p>
			<h5 id="rape">What if there's only a brief reference to rape in a story&#8211am I required to use either "rape" or "choose not to use archive warnings," or can I still choose "none of these warnings apply" if I think that's a better description?
			</h5>
			<p>This is the kind of decision that is up to the discretion of authors.  In general, we will not recategorize a fanwork in response to a complaint when the content at issue is a reference or is otherwise not graphic.
			</p>
			<h5 id="hiding_warnings">You say that logged-in users can hide warnings.  Why is that?
			</h5>
			<p>Some people consider warnings as spoilers and try to avoid them.  This is part of our attempt to make the archive user-customizable.
			</p>
			<h5 id="not_logged_in">If I'm not logged in, what can I see?
			</h5>
			<p>You can see anything rated "general" or "teen" without logging in or clicking anything else.  For the other ratings ("mature," "explicit," and "not rated") you will be asked to agree that you are willing to see such content.
			</p>
			<h5 id="trigger">Something that I consider really immoral, dangerous, triggering, or outrageous is not on the archive list for warnings.
			</h5>
			<p>We're very sorry.  We encourage you to use the additional tags, summaries, and user-provided bookmarks and recommendations to screen for fanworks you'll enjoy, and you may wish to comment to creators when you feel that further warnings would be desirable. The content policy committee would also like to hear your suggestions for the tag system.
			</p>
			<h5 id="embeds">How will you apply the ratings and warnings policy to embedded images, videos, etc.?
			</h5>
			<p>In making rating/warning decisions, creators should take into account anything visible, including embedded images and videos.  As with all other content, creators' decisions are presumed reasonable, and using "not rated" or "chose not to use Archive warnings" will always be sufficient.
			</p>
			<h5 id="rating_open_doors">How will the ratings/warnings policy apply to fanworks that come in through Open Doors?
			</h5>
			<p>We will import the original ratings, warnings, and other associated information as part of Open Doors as best we can.  However, the rating and warning systems used by older archives preserved through Open Doors may differ from our system.  Therefore, an Open Doors work that can't be mapped to an Archive rating will be treated as if it were marked "not rated" and "choose not to use archive warnings" unless the maintainer of the collection (or the original creator, if she/he "claims" the work) specifically selects other ratings and warnings for it.
			</p>
			<h5 id="explicit_tags">How explicit or graphic can the summaries and tags on my fanworks be?
			</h5>
			<p>Explicit or graphic content in itself does not violate the content policy.  Please use your judgment about what will best identify and describe your fanworks.
			</p>
			<h5 id="hated_tags">Someone has added a tag I hate to one of my fanworks!
			</h5>
			<p>We're very sorry.  In general, user-provided tags can be positive or negative.  Like any other content, tags are subject to the content policy, so if the tag violates the harassment, personal information, or other content policies, please report it. User-provided tags will not automatically be displayed on fanworks, in order to allow you to avoid them.
			</p>
			<h5 id="user_vs_creator_tags">So user-added tags will be displayed differently than creator-added tags?  How does that work?
			</h5>
			<p>The tags displayed on the fanwork itself will only be the creator-placed tags.  As a site user, you will see user tags in several different situations.  These are the current plans:
			</p>
      <p>
        <ol>
        <li>If you use Tag Search, you'll be able to find fanworks that anyone, whether creator or user, has labelled "wingfic."</li>
        <li>If you use Work Search, you'll see tags from the creator.</li>
        <li>You will be able to see when other people have publicly bookmarked a work.  When you're looking at a given user's bookmark for a particular fanwork, you'll be able to see that user's tags.</li>
        <li>You will be able to see a list of a user's public bookmarks, with associated tags, and a list of the public bookmarks for a fandom or other canonical tags, with associated tags.</li>
        </ol>
      </p>
			<h5 id="original_fiction">Can I archive original fiction?
			</h5>
			<p>Yes and no. Although some users may want a place for all their creative work, our current vision of the Archive is of a place dedicated to fanworks in particular. The archive was designed to serve the <a href="http://transformativeworks.org/about/">mission</a> of the Organization for Transformative Works (<abbr title="Organization for Transformative Works">OTW</abbr>), which was "established by fans to serve the interests of fans by providing access to and preserving the history of fanworks and fan culture in its myriad forms."
			</p>
			<p>
      Because our long-term plans include hosting fanworks of all kinds, not just fan fiction, we concluded that it was better to draw a line between fanworks and non-fanworks and only host the former, in order to avoid becoming a general repository for all sorts of creative works. In addition, we will enforce the noncommercialization policy strictly, including a ban on works posted to promote the sale of the author's other works, even if those are not hosted on the site.
      </p>
      <p>
      However, there are a number of varieties of works produced by fans that do not fit comfortably into a narrow definition of fanfiction, fanart, vids, or other types of fanworks.  Some of these do fall within our mission.  In particular, original fiction that is part of an Open Doors project is allowed, as are types of original fiction and quasi-original fiction produced within a fandom context.  Examples include such things as anthropomorfic, original fiction that is produced as part of a fandom challenge, exchange, or charity event, and genres such as Original Slash, Original BL, and Regency romances produced in Jane Austen fandom.
      </p>
      <p>
      At such time as we are able to host art and vids, we anticipate similar policies will apply to those mediums: Art and vids will be considered fannish even in cases where they do not directly depict characters and elements from or use footage from an existing media source if they were created in a fandom context for a fandom audience.  This may include such things as fanart that is intended to be for a particular canon but which does not contain readily identifiable canon characters or elements, art and vids produced as part of a fandom challenge, exchange, or charity event, illustrations of fanfiction, and vids that comment on a particular canon without using any clips from it (e.g., fan-produced videos set in a particular universe).  
      </p>
      <p>
      In general, when there is doubt as to whether a particular work counts as a fanwork, we will trust the judgment of the work's creator.
      </p>
      <h5 id="defining_fanworks">How will you draw the line between fanworks and non-fanworks?
			</h5>
			<p>The presumption is that a work is a fanwork, but if it's clear from context&mdash;tags, author's notes, etc.&mdash;that it's not, it may be removed for violating the Content Policy. Please note that alternate universes/alternate realities or fanworks set in the distant past/future of a particular canon are still fanworks. Original works that are not based on a specific media source (canon) may also count as fanworks so long as they are fannish in nature. Please see "Can I archive original fiction?" above for more detail.
			</p>
	  <h5 id="nontextual_fanworks"> What  about nontextual works (like pictures of Daleks I crocheted)?
      </h5>
      <p>We currently don't host nontextual works other than user icons, though <a href="https://archiveofourown.org/archive_faqs/8">you can embed various kinds of files that are hosted elsewhere</a>.  If it's a fannish transformative work or part of one, and otherwise complies with the content policy including the rating/warning policy, embeds are fine.  Just be aware that we don't allow all kinds of embeds, for technical reasons, and that embeds may break for various reasons including trouble with the host site.
      </p>
      <h5 id="fanwork_commentary">What should I do about recs/commentary on fanworks?
      </h5>
      <p><a href="https://archiveofourown.org/archive_faqs/15">Our bookmarking feature</a> is designed for your recommendations or commentary on specific works by other creators. You can bookmark fanworks hosted on the Archive or fanworks hosted elsewhere.
      </p>
      <h5 id="directors_cut">What about 'directors' cut' or 'commentary' versions of my own fanworks?
      </h5>
      <p>We consider those versions of your fanworks, so post them as you would any other fanwork, though we suggest that you distinguish them from non-commentary versions, for example by adding [Directors' Cut] in the title or tagging them to indicate the difference between the original and the 'DVD-style' version.
      </p>
      <h5 id="characters_read">What about 'characters read' or DVD commentary-style/MST3K-style versions of other works?
      </h5>
      <p>If you have permission from the author or if the work is in the public domain, you're fine. In other cases, if you are reproducing a substantial part of the original (rather than just having your characters react to their reading or using occasional quotes) in a way that someone could just ignore your additions and read a substantial, continuous part of the original, then that's beyond what we're prepared to host.
      </p>
      <h5 id="song_or_poem">May I post the full lyrics of a song or an entire poem that isn't in the public domain without the author's permission?
      </h5>
      <p>No.
      </p>
      <h5 id="post_other">May I post someone else's fanworks, giving them credit?
      </h5>
      <p>If you are an archivist seeking to back up your archive of works submitted by other creators, please contact <a href="http://transformativeworks.org/projects/opendoors">our Open Doors team</a>, which can assist you with importing and/or backing up your archive within the Archive of Our Own.  If you are not the authorized archivist, you may not post another creator's fanworks without permission.
      </p>
		
            <h4 id="tags_and_warnings">Tags and Warnings
			</h4>
			<p id="tags">This is the list of archive tags that authors will be able to choose from when posting a story.
			</p>
			<h5 class="heading">Archive Tags
			</h5>
			<p>Authors must choose at least one of these tags. The default is "choose not to use archive warnings."
			</p>
      <p>
        <ul>
          <li>choose not to use archive warnings</li>
          <li>none of these warnings apply</li>
          <li>graphic depictions of violence</li>
          <li>major character death</li>
          <li>rape/non-con</li>
          <li>underage</li>
        </ul>
      </p>
			<h5 class="heading">Additional (Optional) Tags
			</h5>
			<p>Creators may also choose to add additional tags to their work. These tags can be serious or humorous. They can be warnings or promises, or whatever else the creator chooses.  Tags may be made synonymous for purposes of filtering by our Tag Wranglers, but your tags will continue to appear in their original form on your work.
			</p>
			<h3 id="specialized_faq">Assorted Specialized Policies</h3>
			<h4 id="collections">Collections</h4>
			<h5 id="collections_def">What do you mean by "collections"?</h5>
			<p>Collections are groups of works collected together under one heading. Collections can be fic or art fests, exchanges, 'big bangs' matching artists, authors, and/or podficcers, or other types of creative challenges, as well as simple collections of fanworks chosen by the collection maintainer. <a href="https://archiveofourown.org/archive_faqs/18">Learn more about collections.</a>
			</p>
			<h5 class="heading">What's the point of having separate rules for collections/challenges?</h5>
			<p>The rules are basically the same as for everything else on the Archive. This just allows another way to group fanworks by areas of interest. There is one important special rule: if the collection maintainer says in the rules that submissions are final, then you can't withdraw your contribution from the collection, though you can always orphan it. We put this rule in place to allow gift exchanges. Ordinarily, removing a fanwork from the archive is sad, but it's up to you. But when you've added a fanwork as a gift, and possibly received a fanwork as a gift in return, we think it's fair to say that the other participants should continue to enjoy the benefit of your contribution. In those cases, orphaning allows you to sever your connection with the fanwork while not removing it from the collection. This policy was based on prior experience with the Yuletide Rare Fandoms gift exchange.
			</p>
			<h5 class="heading">I think my fanwork would be perfect for a collection, but the maintainer won't add it to the collection!
			</h5>
			<p>Unless there's an independent violation of the Content Policy, we won't intervene in collection decisions, even if they are arbitrary, biased, or wrong. You may want to add tags to your fanwork that will be of interest to people who are fans of relevant collections.
			</p>
			<h5 class="heading">How can I start a collection?</h5>
			<p><a href="https://archiveofourown.org/archive_faqs/25">Please consult our Tutorials.</a></p>
			<h4 id="next_of_kin">Fannish Next-of-Kin</h4>
			<h5 class="heading">What does "fannish next-of-kin" mean?</h5>
			<p>The Archive allows you to choose someone to manage your fannish works if you die or are permanently incapacitated.
			</p>
			<h5 class="heading">What does my fannish next-of-kin get to do?</h5>
			<p>We will transfer control of your archive account to your next-of-kin. After that, they can follow whatever guidelines you set for them. You might ask them to leave all of your fanworks alone but transfer control of any challenges you were running to people of your or their choice. You might ask them to orphan all of your fanworks and close your account.
			</p>
			<h5 class="heading">How do I choose someone?</h5>
			<p>That's up to you. It should be someone reliable, someone you trust to make decisions about your fanworks.
			</p>
			<h5 class="heading">What do I do once I've chosen someone?</h5>
			<p>Both you and your fannish next-of-kin need to send a message to otw-abuse@transformativeworks.org indicating that you want to have him/her as your fannish next-of-kin and that s/he agrees. You need to provide your Archive usernames for our records. When we receive matching requests, we will confirm that a fannish next-of-kin arrangement is in place.
			</p>
			<h5 class="heading">If they're <em>my</em> next-of-kin, am I <em>theirs</em>?</h5>
			<p>The relationship can be reciprocal if you want, but it doesn't have to be. However, you can only have one person as your fannish next-of-kin at a time.
			</p>
			<h5 class="heading">Why can't I have more than one fannish next-of-kin?</h5>
			<p>We want to know who has the final say. This arrangement exists precisely so that we don't have to mediate disputes over what you would have wanted.
			</p>
			<h5 class="heading">What happens if my fannish next-of-kin also dies?</h5>
			<p>You would need to choose a new person. Your fannish next-of-kin can also designate someone else as their own fannish next-of-kin. If A designates B as a fannish next-of-kin, then dies, and B designates C as B's fannish next-of-kin, when B dies C can control all the accounts that B controlled, which at that point would include A's.
			</p>
			<h5 class="heading">What if my fannish next-of-kin decides s/he's tired of being my fannish next-of-kin?</h5>
			<p>Either party can revoke a fannish next-of-kin agreement by sending a message to otw-abuse@transformativeworks.org. We will inform the other party that the agreement has been ended. Please include your username and the username of the other person involved in the agreement so we can find the right record.
			</p>
			<p>When a fan is dead or incapacitated, the fannish next-of-kin will have control of the account and can make any decisions about it, including handing it off to someone else; the Archive cannot control whether or not anyone shares password information with anyone else. If the fannish next-of-kin lets us know that s/he wants to stop managing the account, we will permanently suspend the account, which means that all existing content will stay in place, but nothing may be changed or added.
			</p>
			<h5 class="heading">What if I decide I don't like my fannish next-of-kin agreement?</h5>
			<p>Send an e-mail saying that you want to terminate the agreement. Please include your username and the username of the other person involved in the agreement so we can find the right record. The Abuse Committee will e-mail the parties involved in the agreement to let them know. Either party in an agreement can terminate it. You are free to choose a new fannish next-of-kin.
			</p>
			<h5 class="heading">What if my fannish next-of-kin does something I wouldn't like?</h5>
			<p>Please choose someone you trust. It would be difficult or impossible for the Archive to enforce the exact terms of your agreement. All we will do is verify your status and transfer account control to the appropriate person.
			</p>
			<h5 class="heading">How can my fannish next-of-kin get control of my fanworks?</h5>
			<p>A fannish next-of-kin can activate the agreement by sending a message to otw-abuse@transformativeworks.org that you are dead or permanently incapacitated. The Archive will send a message to the email address associated with your account. If we do not receive a response from that address within ten days, we will transfer control of your account to your fannish next-of-kin. The Archive will not do any independent investigation into whether you are dead or incapacitated.
			</p>
			<h5 class="heading">Why won't the Archive check to see whether I am really dead or incapacitated?</h5>
			<p>We don't want to be in the position of collecting and possessing personal information of the kind that we'd need to confirm what your fannish next-of-kin says. It is your responsibility to choose someone you trust. If you want a custom arrangement, we suggest you make private arrangements with someone you trust to handle your passwords and accounts in the event of your death or incapacity.
			</p>
			<h5 class="heading">What happens if I die before choosing someone?</h5>
			<p>Your account will remain just as you left it. No one will be able to delete, orphan, or modify your fanworks except in response to a ToS violation.
			</p>
			<h5 class="heading">Why should I bother choosing someone?</h5>
			<p>It can be useful to have someone you trust as a fellow fan to make decisions about your account.</p>
			<h5 class="heading">Help! Something went wrong: control of my account has been transfered, but I'm still hale and hearty!
			</h5>
			<p>If rumors of your death were greatly exaggerated, please contact otw-abuse@transformativeworks.org right away. Whether you've turned up after being lost in the Amazon for a decade or whether someone is just trying to pull a fast one, we'll do our best to get you your account back ASAP.
			</p>
			<h4 id="orphaning">Orphaning</h4>
			<h5 class="heading">You mention that an orphaning request might come from someone who doesn't have an active account. How could that happen?
			</h5>
			<p>Someone whose account has been permanently suspended, or someone whose fanworks are archived in a collection that we are preserving through Open Doors, might submit an orphaning request. In that case, we'd attempt to verify their identity according to the procedures set forth in the Orphaning policy.
			</p>
            <h5 id="reverse_orphan">Can  orphaning be reversed?</h5>
            <p>Usually not.  If you orphan a work inadvertently, or wish to rewrite it and repost under your name, and you can verify your identity as the author in a way we consider reliable enough, we may be able to reverse the orphaning.  But orphaning may be irreversible in some cases, so please use this option carefully.
            </p>
			<h4 id="anonymous">Anonymous Works</h4>
			<h5 class="heading">What's up with anonymous works?</h5>
			<p>Anonymous works are different from orphaned works.  This function is designed to allow anonymous challenges/exchanges to be hosted on the Archive.  A collection can have rules about anonymity, and if you submit a work to be part of that collection, the collection maintainer would be able to apply those rules to your work.  So, for a typical challenge, you might sign up to respond to a prompt by a certain deadline; you'd submit a story to the challenge collection, where it would appear anonymously for a certain period of time; then, on the reveal date, the collection maintainer would reveal everyone's identity, including yours.  If you want to orphan an anonymous work, you can do that too.
			</p>
			<p>Anonymous, non-orphaned works don't have strong anonymity: the collection maintainer, as well as archive staff, will be able to see your pseud even during the anonymity period.
			</p>
			<h4 id="open_doors">Open Doors</h4>
			<p>Refer to <a href="http://opendoors.transformativeworks.org/faq-page">our Open Doors FAQ.</a></p>
			<h4 id="tag_wrangling">Tag Wrangling</h4>
			<h5 class="heading">What is tag wrangling?</h5>
			<p>User-provided tags may be subject to tag wrangling. Tag wrangling is the process of moderating the tags and in general trying to tame them so the tags are more useful.
			</p>
			<p>What we do is create organization among all those tags by creating 'Canonical' tags and then adding synonym tags to the Canonical tag. This helps in the media listings, filters, searches, the tag cloud and possibly other areas, as the Canonical tag is used in preference to the synonyms.
			</p>
			<p>By creating synonyms, when a canonical tag is filtered, it will bring up all fics using both the canonical term and the synonym term. By doing this, we give the authors the freedom to use what tags they choose, but still create order in the archive so that the tags are actually 'useful'.
			</p>
			<p>Tag wrangling is about form, not content. Form includes disambiguation (where a fandom name is the same as a character name, for example: Doctor Who or Harry Potter) and similar issues such as spelling, capitalization, and typographical conventions (for example, we may wrangle tags so that a search for wing!fic also retrieves works tagged wingfic). Form does not include, for example, the difference between rape and nonconsensual sex. The Abuse team will handle disputes about tag wrangling.
			</p>
			<p><strong>Please Note:</strong> Tag Wrangling is an experimental feature. It is likely to have odd glitches. If you notice any, please report them using the feedback link at the bottom of every archive page.
			</p>
		</div>
	</div>