<h1>Terms of Service <acronym title="frequently asked questions">FAQ</acronym></h1>

<h2>Table of Contents</h2>

<ul>
  <li>
    <a href="#general_faq">General Principles <acronym>FAQ</acronym></a>    
  </li>
  <li>
    <a href="#age_faq">Age Policy <acronym>FAQ</acronym></a>
  </li>
  <li>
    <a href="#privacy_faq">Privacy Policy <acronym>FAQ</acronym></a>
  </li>
  <li>
    <a href="#content_faq">Content Policy and Abuse Procedures <acronym>FAQ</acronym></a>
  </li>
  <li>
    <a href="#specialized_faq">Assorted Specialized Policies <acronym>FAQ</acronym></a> (Forthcoming.)</p>
  </li>
</ul>

<hr />

<a name="general_faq"><h2>General Principles</h2></a>

<p><a name="max_inclusiveness">Q: <strong>Why does the archive have a goal of maximum inclusiveness?</strong></a></p></p>

<p>A: There are a number of wonderful specialized archives.  Our aim with this archive is to provide a place to preserve as many fanworks as possible.  At the same time, the archive software can be used by anyone to create their own archives, including archives limited to particular topics, fandoms, or ratings.</p>

<p><a name="NY_law">Q: <strong>Why is the agreement between the archive and archive users governed by the laws of New York?</strong></a></p>

<p>A: Given the great variation among laws in different places, we want our agreement with you to be governed by predictable and consistent laws.</p>

<p><a name="merchantability">Q: <strong>What is an implied warranty of merchantability?</strong></a></p>

<p>A: An implied warranty of merchantability is a legal agreement between a seller and a buyer that goods will be reasonably fit for the general purpose for which they are sold.  In the United States this warranty is governed by the Uniform Commercial Code (UCC), which allows sellers to disclaim it, thereby shifting the risk back to the buyer.</p>

<p><a name="fitness">Q: <strong>What is an implied warranty of fitness for a particular purpose?</strong></a></p>

<p>A: An implied warranty of fitness for a particular purpose is a legal agreement that exists when a buyer relies upon the seller to provide goods to fit a specific request.  This warranty requires that the seller know or have reason to know of a specific purpose to which the goods are going to be put, and know that the buyer is relying on the seller's expertise or judgment.  In the United States this warranty is governed by the Uniform Commercial Code (UCC), which allows sellers to disclaim it, thereby shifting the risk back to the buyer.</p>

<p><a name="out_of_date">Q: <strong>Under what circumstances would you suspend an account for an out-of-date e-mail address?</strong></a></p>

<p>A: If we need to communicate with you to resolve an abuse complaint, and the e-mail bounces, we will have to resolve it without your participation, which means you won't be able to tell your side of the story. If your e-mail continues to bounce, we will suspend your account because we need to be able to communicate with you if necessary.</p>

<p>In that situation, you can get your account reinstated by associating it with a working email address and, if necessary, dealing with whatever problem led to the abuse complaint in the first place. </p>

<p>Suspension for bouncing isn't a strike. Suspension for bouncing would never lead to permanent suspension, though a sufficient number of sustained abuse complaints while the email was bouncing could lead to permanent suspension.</p>

<p>If we send a routine e-mail about general site policies and it bounces, that will not lead to account suspension, though whatever policies we announce will still apply to all account holders. We will only suspend accounts when individual abuse-related communications bounce.</p>

<p><a name="non_us_resident">Q: <strong>I am a non-US resident.  What does the Archive policy on US law mean for me?</strong></a></p>

<p>A: The Archive welcomes fans from all over the globe, but it is set up under US law.  We believe that US law governs the Archive, which includes the relationship between the Archive and its users and the definitions of terms in the ToS.  Other laws may govern your behavior, however, and you are responsible for knowing them and complying with them.</p>

<p><a name="impersonation">Q: <strong> What do you mean by banning "impersonation"?  Can I archive first-person real-person fiction?  Can I use a celebrity name as a pseudonym?</strong></a></p>

<p>A: Roleplay is permitted when the assumption of such a persona is clearly disclosed (e.g., in a user profile or in another manner appropriate under the circumstances) and it doesn't otherwise violate the Content Policy, including the harassment policy.   Fiction marked as such, including real-person fiction in first-person format, is not impersionation. Please consult the <%= link_to 'content policy', tos_path(:anchor => 'content') -%> for further information.</p>

<p><a name="worldwide_nonexclusive"> Q: <strong>What do we mean by "world-wide, royalty-free, nonexclusive license"?</strong></a></p>

<p>A: This means the archive can make your content available to other people (subject to any login requirements that apply) without paying you. We will never charge for access to the archive or otherwise sell your content. You can put your content anywhere else you want, too.</p>

<p><a name="age_faq"><h2>Age Policy</h2></a></p>

<p><a name="under_13">Q: <strong>Why are children under the age of 13 not permitted to have an account or upload Content?</strong></a></p>

<p>A: In the U.S., the Children's Online Privacy Protection Act governs the collection of personal information (which can include things like usernames) from children under 13.  Requiring users to be over 13 is the easiest way for us to comply with this law.</p>

<p><a name="privacy_faq"><h2>Privacy Policy</h2></a></p>

<p><a name="cookies">Q: <strong>Why do you use cookies?</strong></a></p>

<p>A: Cookies may be required to customize your experience of the site. You will be able to browse the site without cookies, but it will be a significantly degraded experience, in which, for example, you may have to affirm that you are of age to see explicit content across each chapter of an eighteen-page epic.  There are many good ways to remove both browser history and cookies between sessions, and we encourage people who are concerned about privacy to investigate more global solutions.  For example, Firefox can clear all your private data between sessions.</p>

<p><a name="content_faq"><h2>Content Policies and Abuse Procedures</h2></a></p>

<p><a name="suspension">Q: <strong>What sort of things would lead to permanent suspension?</strong></a></p>

<p>A: It's impossible to define everything in advance.  We are most concerned with people who are actively and deliberately hostile to the community.  Wholesale plagiarism and deliberate disclosure of another person's real-life name or other identifying information readily justify permanent suspension, whereas a personal conflict that gets out of control may justify temporary suspension.  Small and honest mistakes, even if they are annoying, are more likely to draw warnings.</p>

<p><a name="discretion">Q: <strong>What constrains the abuse team's discretion?</strong></a></p>

<p>A: Our commitment is to build a community that welcomes anyone with a willingness to learn the rules but defends itself against people who deliberately flout them.  Our discretion is aimed at that objective.  Procedurally, permanent suspensions for violations other than spam or threatening the technical integrity of the site require a majority vote of the abuse team.  Majority rule builds in checks on individual discretion without trying to resolve every possible situation in advance.</p>

<p><a name="need_to_know">Q: <strong>What do you mean by "only people who have a need to know" about a complaint will be informed of it?</strong></a></p>

<p>A: Abuse and complaint information is kept confidential.  The abuse team guards all such information carefully, and all members of the abuse team have agreed to an industry-standard confidentiality policy.  On occasion, the abuse team may need to consult with the Systems committee, to request specific technical or log information to aid our investigation, for example, or the Legal committee, to discuss precise legal requirements.  We may also contact the subject of a complaint, to request his or her perspective or to inform him or her of penalties his or her actions have incurred.  For information about what details we would release to the subject of a complaint, please see our <%= link_to 'Privacy Policy', tos_path(:anchor => 'privacy') -%> and <%= link_to 'other Abuse FAQs', tos_path(:anchor => 'content') -%>.</p>

<p><a name="recusal">Q: <strong>What happens if someone who's a friend of someone on the abuse team is involved in a complaint?</strong></a></p>

<p>A: We expect the members of the abuse team to behave professionally, even though <acronym>OTW</acronym> is entirely volunteer-staffed.  We take the responsibilities of serving on the abuse team seriously, and a member of the team with a personal relationship to either party in an abuse situation is expected to recuse his or herself entirely from the case, and, of course, to maintain our standards of confidentiality at all times; failure to do so may be grounds for dismissal from the team.</p>

<p><a name="account_status">Q: <strong>What do the different account statuses mean?</strong></a></p>

<p>We define account statuses the following way:</p>

<p><em>Warning</em>: at its discretion, the abuse team may issue a warning, rather than a suspension, in the instance of minor violations of the ToS.  A user who has recently received a warning and who violates the ToS again, especially in the same or a similar manner, is likely to incur a suspension.  </p>

<p><em>Suspension</em>: the abuse team may issue a time-limited ban on the uploading of new content and creation of new accounts; suspension occurs as the result of strikes incurred for violating the Archive's ToS. During this time, the suspended user can remove, but not edit, content uploaded prior to the suspension.</p>

<p><em>Permanent Suspension</em>: the abuse team may issue a permanent ban on the uploading of new content. Permanently suspended users cannot create new accounts or upload content to Archive, though they retain the right to remove, but not edit, content uploaded prior to the permanent suspension.</p>

<p><a name="anonymity">Q: <strong>If I complain non-anonymously, will the subject be told who complained?</strong></a></p>

<p>A: Only people who need to know about a complaint will be informed about it.  The subject of a complaint may be among those who need to know. No information other than that provided in the complaint will be passed on, and the complainant has complete control over what information is submitted to Abuse. Complaints can be submitted anonymously. Legal names and other information sufficient to identify a person in the physical world will never be disclosed as part of a standard abuse complaint. For further clarification, please see our <%= link_to 'Privacy Policy', tos_path(:anchor => 'privacy') -%>.</p>

<p><a name="informed_of_complaints">Q: <strong>Will I be informed of complaints against me?</strong></a></p>

<p>A: In general, the abuse team will only communicate with the subject of a complaint if there appears to be a violation of the abuse policy, or if the abuse team needs more information to resolve the issue.</p>

<p><a name="suspended_accounts">Q. <strong>How would the suspended user control their nonobjectionable content without an account?</strong></a></p>

<p>A: Nonobjectionable fanworks are not removed from the site when a user is suspended. Suspended users who wish to delete or orphan their fanworks may contact the abuse team to have this done for them.</p>

<p><a name="deleted_accounts">Q. <strong>What information is available about a permanently suspended or deleted account?  Can I reuse a userID that belonged to a deleted account?</strong></a></p>

<p>A: Permanent suspension doesn't delete accounts; unless deleted by the user, any existing content that doesn't violate the content policy remains. The technical details aren't settled, but because of the ability to create multiple overlapping pseudonyms, it is likely that a userID that has been deleted by the user won't be available to other people.</p>

<p><a name="spam_faq"><em>Spam and Commercial Promotion</em></a></p>

<p><a name="no_commerce">Q: <strong>How strict is the "no commerce" rule?</strong></a></p>

<p>A: We want the archive to remain a noncommercial space.  That means that it isn't the right place for offering merchandise, even fan-related merchandise.  Linking to a personal page is fine, even if the personal page offers items for sale, but the archive is not advertising space.  If the abuse team issues a warning or sustains a complaint about commercial activities, the original poster can always appeal.</p>

<p><a name="charity_drives">Q: <strong>What about charity drives?</strong></a></p>

<p>A: The archive will host fanworks of any origin, including fanworks created in response to charity drives or other challenges.  A link to a charity drive to explain the origin of a fanwork is appropriate.  Solicitation itself, however, should take place outside the archive.  We concluded that this policy was the easiest to apply fairly to everyone, given the wide range of possible solicitation activities.</p>

<p><a name="spam_filter">Q: <strong>What's this about the spam filter?  Can I be permanently suspended if I fail the filter?</strong></a></p>

<p>If you're logged in, you shouldn't see a spam filter, so the situation shouldn't arise.  If we find that accounts are being created simply to spam other users, we will permanently suspend those accounts.  If you're a human being reading this <acronym>FAQ</acronym>, you shouldn't worry about the automated spam-control measures.</p>

<p><a name="technical_integrity"><em>Technical integrity</em></a></p>

<p><a name="interfere">Q: <strong>What do you mean by "attempting to interfere with the technical integrity of the site"?</strong></a></p>

<p>A: Basically, we mean attempts to hack the site or spread viruses or other unwanted programs through it.  If a user deliberately exploits a code vulnerability in order to install unwanted programs, redirect users to spam sites, or other destructive behavior, that's attempting to interfere with the technical integrity of the site.</p>

<p><a name="nifty_formatting">Q: <strong>Does that mean I can't have nifty formatting in my story?</strong></a></p>

<p>A: No, this is just a security policy.  As for formatting: you will be able to have plenty of nifty formatting, but not everything imaginable.  As a practical security matter, we will not be allowing javascript in stories, and only a limited subset of HTML.  Something elaborately custom-coded would have to go on your own webspace. That is just because there is no secure way to allow people to start uploading unfiltered code.  Our limits are designed in part to improve accessibility for all users, but we aren't trying to impose any editorial standard.  The basic reason is simply that it's not technically safe to allow unfiltered code.</p>

<p><a name="harassment"><em>Harassment</em></a></p>

<p><a name="harassment_coverage">Q: <strong>Does the harassment policy cover everyone, or just archive users?</strong></a></p>

<p>A: Both archive users and non-users might potentially complain about harassment.  In today's online environment, the line between non-user and user can be blurry, and so our policy covers both users and non-users.  Writing <acronym>RPF</acronym> (real-person fiction), however, never constitutes harassment in and of itself, even if the content is objectionable.  Please see the <%= link_to 'harassment policy', tos_path(:anchor => 'harassment') -%> for more information.</p>

<p><a name="plagiarism"><em>Plagiarism</em></a></p>

<p><a name="anon_report">Q: <strong>Can a person submit a plagiarism complaint anonymously, or without being the author of the plagiarized work?</strong></a></p>

<p>A: Yes.  Except in the case of <%= link_to 'copyright complaints', tos_path(:anchor => 'copyright') -%>, a complaining person may submit a complaint via the web form, which does not require identifying information.  </p>

<p><a name="pseudonyms"><em>Pseudonyms</em></a></p>

<p><a name="different_pseudonyms">Q: <strong>Why would I want to have different pseudonyms connected to the same account?</strong></a></p>

<p>A: We distinguish between usernames and pseudonyms, allowing multiple pseudonyms for each username.  Pseudonyms are useful when more than one person wants to use a particular name; they allow multiple Sarahs or Kittens to coexist but be distinguished.  Also, if you have used different fannish names over time or in different fandoms, you can keep them all on the archive using pseudonyms.</p>

<p><a name="icon_policy"><em>User Icons</em></a></p>

<p><a name="icon_use">Q: <strong>Why are the rules for user icons more restrictive than the general archive rules?</strong></a></p>

<p>A: Right now, the design calls for user icons to appear on pages, such as user profiles, that are entirely unrated.  The design provides for only one user icon per pseudonym, rather than multiple icons, which means that whatever icon a user picks will be visible to any browser.  If there is substantial interest in changing the system, we may revise the archive so that a user may have multiple icons and/or may rate his or her profile just as a fanwork may be rated, in which case we will change the user icon policy.  The icon policy is <strong>not</strong> the general fanart policy.  We do anticipate eventually hosting fanart and treating it like textual fanworks, governed mainly by ratings and warnings rather than by content restrictions.</p>

<p><a name="ratings_and_warnings"><em>Ratings and Warnings</em></a></p>

<p><a name="permissible_content">Q: <strong>What kind of content do you allow?</strong></a></p>

<p>A: We will not remove content from the archive because it contains explicit material, as long as it doesn't violate any other part of the content policy (e.g., the harassment policy).  </p>

<p>One basic consequence is that <em>users are responsible for reading and heeding the warnings provided by the creator.</em> Risk-averse users should keep in mind that not all content will carry full warnings. If you want to know more, you may also wish to consult the tags that people other than the creator have used to categorize the fanwork.  </p>

<p>Some creators do not want to put specific ratings or warnings on their works.  Our policy aims to enable creators to choose appropriate labels or to opt not to use ratings and warnings, with the understanding that some users will avoid unrated or unwarned content.</p>

<p>Though creators are not required to use ratings or warnings, they are often extremely useful to users.  Ratings or warnings can attract some readers who are looking for specific content, and they can also warn off readers who are trying to avoid that content.  Because fanworks may deal with controversial and painful issues, we encourage creators to choose ratings and warnings that help users make decisions about what to read.  The "not rated" and "choose not to warn" options will, of course, help users make decisions as well, though without much detail.</p>

<p><a name="fanwork_info">Q: <strong>What sort of information do I need to provide for my fanworks?</strong></a></p>

<p>A: The aim of the archive is to let fanwork creators and audiences find each other.  Choosing at least one fandom is therefore the basic requirement.   If we don't have your fandom listed, you can always add it.  After that, you can add pairings (if you want), a summary, and other information.  </p>

<p>The archive also uses rating and warning tags.  Our goal is to provide the maximum amount of control and flexibility for all users of the archive, both creators and audiences, so that each user can customize his/her experience.  It's always possible for creators to use "not rated" or "choose not to warn," but audiences will always be able to avoid unrated or unwarned fanworks if that's how they want to use the archive. </p>

<p>From the user's perspective, users who wish to avoid warnings will be able to hide them.  Author-supplied warnings are displayed by default unless and until a user changes his or her preferences.  </p>

<p>Users who wish to serve as filters for other users may also use recommendation tags.  These tags will serve as an extra source of information for other users who are trying to determine whether or not to access a work.  Users will have to choose to reveal other users' tags (again, this can either be done as a general preference or for a specific fanwork).  They will be able to do so before or after accessing any fanwork.</p>

<p>This system is designed to offer numerous different ways to customize the experience on the archive, which should in general accommodate users' desires for warnings or to avoid warnings, along with authors' ability to choose the appropriate warning or to choose not to provide warnings.  In most cases, users can control their experiences by accessing only fanworks that have ratings and warnings that are acceptable to them, and creators can use their artistic judgment about what ratings and/or warnings, if any, ought to be on a fanwork.</p>

<p><a name="default_warning">Q: <strong>If I don't choose, what's the default?</strong></a></p>

<p>A: The default is "not rated" and "choose not to warn."</p>

<p><a name="consequences">Q: <strong>What's the consequence of a violation of the ratings/warnings policy?</strong></a></p>

<p>A: Please see the <%= link_to 'Content Policy', tos_path(:anchor => 'content') -%> for details.  If we sustain a complaint about ratings, the fanwork will remain available on the archive, but it will have the "not rated" label.  If we sustain a complaint about warnings, the fanwork will remain available on the archive, but it will have the "choose not to warn for some content" label.</p>

<p><a name="why_minimal">Q: <strong>The ratings/warnings policy is really minimal.  Why is this?</strong></a></p>

<p>A: We believe that appropriate ratings and warnings are often in the eye of the beholder.  Users who feel that a fanwork lacks an appropriate rating/warning are encouraged to try to resolve the issue with the creator. Users may also add tags of their own to a fanwork, which other users can consult for more information.</p>

<p><a name="ratings_vs_warnings">Q: <strong>What's the difference between ratings and warnings?</strong></a></p>

<p>A: Ratings are a measure of the intensity of overall content. Warnings refer to more specific subjects and can be used to complete the sentences:</p>

<p>I prefer not to read works that contain X</p>
<br />I search out and enjoy works that contain X

<p><a name="screening">Q: <strong>Do the archive maintainers screen works as they're uploaded for compliance with the ratings/warnings policy?</strong></a></p>

<p>A: No.</p>

<p><a name="beta">Q: <strong>How will this work while the archive is in beta?</strong></a></p>

<p>A: Since many features will not yet be available in the early version of the archive, the Content Policy only applies to active features.  Because we're just getting started, we will emphasize communication and dialogue about policies; everyone, including the archive maintainers, will be learning how this works.</p>

<p><a name="rating_chapters">Q: <strong>Can chapters of a larger work be rated/warned separately from each other?</strong></a></p>

<p>A: Not in the initial version of the archive, but we have put it on the roadmap for later addition.</p>

<p><a name="choosing_not_to_rate_or_warn">Q: <strong>Can I use "not rated" but not "choose not to warn," or vice versa?</strong></a></p>


<p>A: Yes, absolutely.  So you could use "not rated" for a story that has a warning for rape, or you could rate a story "explicit" but choose not to give specific warnings.  </p>

<p><a name="rating_slash_vs_het">Q: <strong>Do you distinguish between same-sex and opposite-sex relationships or activities for ratings purposes?</strong></a></p>

<p>A: No.  Please note that the creator's choice of rating is presumed appropriate.  In assessing abuse complaints, we will not treat slash any differently than het.</p>

<p><a name="defining_ratings">Q: <strong>What's the difference between "general" and "teen and up" or "mature" and "explicit"?</strong></a></p>

<p>A: This is left to the creator's judgment.  People disagree passionately about the nature and explicitness of content to which younger audiences should be exposed.  The creator's discretion to choose between "general" and "teen and up" or between "mature" and "explicit" is absolute: we will not mediate any disputes about those decisions.  Instead, we encourage creators to consider community norms, whether fandom-specific or more general, in selecting a rating. </p>

<p><a name="teen_vs_mature">Q: <strong>What's the difference between "teen and up" and "mature"?</strong></a></p>

<p>A: Likewise, this is almost entirely up to the creator's judgment.  In response to valid complaints about highly explicit content, the abuse team may redesignate a fanwork marked "general" or "teen and up" to "not rated," as explained in the abuse policy [link], but our policy is generally to defer to the creator's decision.  </p>

<p><a name="not_rated">Q: <strong>Suppose I'm searching for explicit fanworks.  How will "not rated" fanworks be treated in my search?</strong></a></p>

<p>A: You will be able to choose to include or exclude "not rated" fanworks from a ratings-based search.</p>

<p><a name="primary_vs_optional_tags">Q: <strong>What are "primary" and "optional" tags?</strong></a></p>

<p>A: In addition to ratings, the Archive provides <a href="#tags">two separate lists of tags</a> for creators to choose from when uploading a fanwork.  These tags allow creators to ensure that their stories are accurately labeled.  They are also helpful for many users in finding and categorizing work, or avoiding work which they may not want to see.</p>

<p>When uploading a fanwork to the Archive, creators must choose at least one item from the primary tags list.  Along with some specific warnings, the list allows creators to select "choose not to warn," "choose not to warn for some content," and "none of these warnings apply."  </p>

<p>Creators may also choose to add more tags to their work.  The  Archive provides an optional tags list, as well as the ability to write in new tags.  These tags can be serious or humorous.  They can be warnings or promises, or whatever else the creator chooses.</p>

<p>Please see <%= link_to 'our ratings and warnings policy', tos_path(:anchor => 'ratings') -%> for more information.</p>

<p><a name="primary_tags">Q: <strong>What's the purpose of the primary tags?</strong></a></p>

<p>A: The purpose is to identify subjects that have been the subject of substantial, recurring debate in significant sectors of fandom and provide an easy way to warn for those subjects (though "choose not to warn" is always acceptable as well).  The primary tags do not include all significant story elements (e.g., surprise endings).</p>

<p><a name="underage_tag">Q: <strong>What do you mean by "underage" in the primary tags?</strong></a></p>

<p>A: Underage refers to descriptions or depictions of sexual activity by characters under the age of eighteen (18).  In general, we rely on authors to use their judgment about the line between reference and description or depiction.  Sexual activity does not include dating activity such as kissing, but again, we rely on authors to use their judgment about what is generally understood to be sexual activity.  An author may always specify the age of the characters.</p>

<p><a name="why_18">Q: <strong>Why is "underage" defined as "under 18"?</strong></a></p>

<p>A: Though there is no international consensus, there is a trend to focus on 18 as an important age in regulating depictions of sexual activity (as opposed to actual sexual activity, which is regulated in many more varied ways).  We encourage creators and recommenders to be more specific in tags or summaries where this would be useful to potential audiences.  </p>

<p><em>Note from the Content Policy committee:</em> The archive will launch with text-only hosting, but we do plan to expand over time.  Because regulations of sexually explicit content are generally concerned with visual depictions, there is potentially more flexibility for textual depictions.  When visual depictions are at issue, however, 18 is likely to be an important age for tagging.  So the issue is one of consistency: will our system be better/easier to use if it uses 18 across the board, or will it be better if it uses 18 for visuals and some other age for written depictions?  The current proposal is for 18 across the board, but we welcome suggestions on alternatives, especially from people with an interest in fan art.</p>

<p><a name="whither_robots">Q: <strong>What about robots, computer simulations, elves, aliens, vampires who are three hundred years old but were turned into vampires at age 12, etc.?</strong></a></p>

<p>A: The core use of the underage label is to identify fanworks depicting sexual activity by humans under the age of eighteen as measured in Earth years.  Please use your judgment for other situations.  If the fanwork does not include a depiction of sexual activity with a human under the age of eighteen as measured in Earth years, then we will not generally consider it "underage," though creators may use the tag if they feel it accurately represents their intent.  As always, we encourage creators and recommenders to be more specific in tags or summaries where this would be useful to potential audiences.</p>

<p><a name="age_unclear">Q: <strong>What about when a vignette or other fanwork doesn't specify the characters' ages?</strong></a></p>

<p>A: The presumption is that the characters are of age unless the fanwork's creator indicates otherwise.</p>

<p><a name="rape">Q: <strong>What if there's only a brief reference to rape in a story--am I required to use either "rape" or "choose not to warn," or can I still choose "none of these warnings apply" if I think that's a better description?</strong></a></p>

<p>A: This is the kind of decision that is up to the discretion of authors.  In general, we will not recategorize a fanwork in response to a complaint when the content at issue is a reference or is otherwise not graphic.</p>

<p><a name="hiding_warnings">Q: <strong>You say that logged-in users can hide warnings.  Why is that?</strong></a></p>

<p>A: Some people consider warnings as spoilers and try to avoid them.  This is part of our attempt to make the archive user-customizable.</p>

<p><a name="not_logged_in">Q: <strong>If I'm not logged in, what can I see?</strong></a></p>

<p>A: You can see anything rated "general" or "teen" without logging in or clicking anything else.  For the other ratings ("mature," "explicit," and "not rated") you will be asked to agree that you are willing to see such content.</p>

<p><a name="trigger">Q: <strong>Something that I consider really immoral, dangerous, triggering, or outrageous is not on the primary list for warnings.</strong></a></p>

<p>A: We're very sorry.  We encourage you to use the optional tags, summaries, and user-provided tags to screen for fanworks you'll enjoy, and we also encourage you to comment to creators when they might want to use further warnings.  We would also like to hear your suggestions for the tag system at content@transformativeworks.org.  </p>

<p><a name="embeds">Q: <strong>How will you apply the ratings and warnings policy to embedded images, videos, etc.?</strong></a></p>

<p>A: We don't yet have a hosting policy for non-text fanworks.  In making rating/warning decisions, creators should take into account anything visible, including embedded images and videos.  As with all other content, creators' decisions are presumed reasonable, and using "not rated"/"choose not to warn" will always be sufficient.</p>

<p><a name="rating_open_doors">Q: <strong>How will the ratings/warnings policy apply to fanworks that come in through Open Doors?</strong></a></p>

<p>A: We will import the original ratings, warnings, and other associated information as part of Open Doors.  However, the rating and warning systems used by older archives preserved through Open Doors may differ from our system.  Therefore, an Open Doors work will be marked "Open Doors."  For purposes of implementing the content policy, and for searching or otherwise screening based on ratings or warnings, an Open Doors work will be treated as if it were marked "not rated" and "choose not to warn for some content" unless the maintainer of the collection specifically selects other ratings and warnings for it.</p>

<p><a name="explicit_tags">Q: <strong>How explicit or graphic can the summaries and tags on my fanworks be?</strong></a></p>

<p>A: Explicit or graphic content in itself does not violate the content policy.  Please use your judgment about what will best identify and describe your fanworks.</p>

<p><a name="hated_tags">Q: <strong>Someone has added a tag I hate to one of my fanworks!</strong></a></p>

<p>A: We're very sorry.  In general, user-provided tags can be positive or negative.  Like any other content, tags are subject to the content policy, so if the tag violates the harassment, personal information, or other content policies, please report it. User-provided tags will not automatically be displayed on fanworks, in order to allow you to avoid them.</p>

<p><a name="user_vs_creator_tags">Q: <strong>So user-added tags will be displayed differently than creator-added tags?  How does that work?</strong></a></p>

<p>A: The tags displayed on the fanwork itself will only be the creator-placed tags.  As a site user, you will see user tags in several different situations.  These are the current plans: (1) You'll be able to search tags generally, so you'll be able to find fanworks that anyone, whether creator or user, has labelled "wingfic."  (2) When you're browsing and looking at story summaries, you'll see tags from the author as well as tags from other users to whose tags you've chosen to subscribe.   (3) When you're looking at a given user's bookmark for a particular fanwork, you'll be able to see that user's tags.</p>

<p><a name="original_fiction">Q: <strong>Can I archive original fiction?</strong></a></p>

<p>A: No.  Although some users may want a place for all their creative work, our current vision of the Archive is of a place dedicated to fanworks in particular.  The archive was designed to serve the <a href="http://www.transformativeworks.org/about/">mission</a> of the Organization for Transformative Works (<acronym>OTW</acronym>), which was "established by fans to serve the interests of fans by providing access to and preserving the history of fanworks and fan culture in its myriad forms."</p>

<p>Because our long-term plans include hosting fanworks of all kinds, not just fan fiction, we concluded that it was better to draw a line between fanworks and non-fanworks and only host the former, in order to avoid becoming a general repository for all sorts of creative works.  There remains significant debate on this topic, however, and we intend to revisit it after the archive has been open for some time.  We welcome feedback from archive users at [content email].</p>

<p><em>Exception</em>: Some Open Doors projects may contain both fanworks and non-fanworks.  Once we accept an Open Doors project for preservation, all its components will be hosted on the archive.   </p>

<p><a name="defining_fanworks">Q: <strong>How will you draw the line between fanworks and non-fanworks?</strong></a></p>

<p>A: The presumption is that a work is a fanwork, but if it's clear from context&mdash;tags, author's notes, etc.&mdash;that it's not, it may be removed for violating the Content Policy.  Please note that alternate universes/alternate realities or fanworks set in the distant past/future of a particular canon are still fanworks.  </p>

<p><a name="tags and warnings"><em>Tags and Warnings</em></a></p>

<p><a name="tags">This is a draft of the list of tags that authors will be able to choose from when posting a story.</a></p>

<p>PRIMARY TAGS</p>
<p><em>Authors must choose at least one of these tags.  The default is "choose not to warn."</em></p>

<p>
  choose not to warn
<br />choose not to warn for some content
<br />none of these warnings apply
<br />extreme violence
<br />major character death
<br />rape/non-con
<br />underage 
</p>

<p>OPTIONAL TAGS</p>
<p><em>If they want to, authors may choose from a list of suggested tags, or add their own "freestyle" tags.  (Note: Authors can add as many of their own labels as they want, so we will try to generate a list of popular tags over time.  These are just ones we thought of; they are neither necessary nor comprehensive.)</em></p>

<p>angst
<br />amnesia
<br />animal abuse
<br />animal transformation
<br />apocalypse
<br />AU (alternate universe)
<br />BDSM
<br />bodyswap
<br />child abuse
<br />crackfic
<br />crossdressing
<br />darkfic
<br />drabble
<br />drug abuse
<br />dub-con (dubious consent)
<br />femslash
<br />fluff
<br />gen
<br />graphic violence
<br />het
<br />humor
<br />incest 
<br />kidfic
<br />kink
<br />minor character death
<br />mpreg
<br />original character death
<br />porn
<br />PWP
<br />religious content
<br />romance
<br />sex pollen
<br />slash
<br />tentacles 
<br />time travel
<br />torture
<br />wingfic
