<h1><%= t('gifts.gifts_in_collection', :default => "Gifts in {{collection}}", :collection => h(@collection.title)) -%></h1>

<%= render :partial => 'gifts/gift_search' -%>

<table>
  <tr>
    <th>Gift</th>
    <th>Recipient</th>
    <th>Author</th>
    <th>Author Has Received?</th>
  </tr>
  <%- for gift in @gifts -%>
    <tr>
      <td>
        <%= link_to sanitize_title_for_display(gift.work.title, :tags => %w(em i b strong strike small)), 
                    collection_work_path(@collection, gift.work) %>
      </td>
      <td>
        <%=h gift.recipient_name -%>
      </td>
      <td>
        <%=h gift.work.pseuds.collect {|p| "#{p.byline} (#{p.user.email})"}.join(", ") -%>
      </td>
      <td>
        <%= @has_received[gift.id] %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  Note: M* - Manual: This means that this creator has received a story in this collection, but under a different pseudonym. 
  That might happen if the creator used a different pseud to post their story than the one
  their author used as the recipient name, or it might be the case that the creator has also posted a story for 
  a different user (eg as a proxy for someone who doesn't have an archive account), and has not gotten a story
  for herself. 
</p>
