<dl>
  <dt class="heading"><%= t(".sender") %></dt>
  <dd><%= creator_link(@invitation) %></dd>
  <dt class="heading"><%= t(".invitation_token") %></dt>
  <dd><%= @invitation.token %></dd>
  <dt class="heading"><%= t(".copy_link") %></dt>
  <dd>
    <% unless @invitation.redeemed_at %>
      <%= link_to t(".copy_and_use"), signup_path(invitation_token: @invitation.token) %>
    <% end %>
  </dd>
  <dt class="heading"><%= t(".sent_to") %></dt>
  <dd>
    <% if @invitation.redeemed_at %>
      <%= @invitation.invitee_email %>
    <% else %>
      <%= form_for(@invitation) do |f| %>
        <%= error_messages_for @invitation %>
        <p><%= f.label :invitee_email, t(".email_address_label") %> <%= f.text_field :invitee_email %></p>
        <p><%= hidden_field_tag :user_id, @user.try(:login) %></p>
        <p class="submit actions"><%= f.submit %></p>
      <% end %>
    <% end %>
  </dd>
  <dt class="heading"><%= t(".redeemed_by") %></dt>
  <dd><%= invitee_link(@invitation) || "-" %></dd>
  <dt class="heading"><%= t(".created_at") %></dt>
  <dd><%= @invitation.created_at || "-"  %></dd>
  <dt class="heading"><%= t(".sent_at") %></dt>
  <dd><%= @invitation.sent_at || "-"  %></dd>
  <dt class="heading"><%= t(".last_resent_at") %></dt>
  <dd><%= @invitation.resent_at || "-" %></dd>
  <dt class="heading"><%= t(".redeemed_at") %></dt>
  <dd><%= @invitation.redeemed_at || "-" %></dd>
</dl>
