<% unless invitations.blank? %>
  <table summary="<%= t(".list_of_your_invitations") %>">
    <caption><%= t(".invitation_information") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t(".token") %></th>
        <th scope="col"><%= t(".sent_to") %></th>
        <th scope="col"><%= t(".username") %></th>
        <th scope="col"><%= t(".external_author") %></th>
        <th scope="col"><%= t(".copy_link") %></th>
      </tr>
    </thead>
    <tbody>
      <% for invitation in invitations %>
        <tr>
          <td><%= link_to invitation.token, (invitation.creator.is_a?(User) ? [invitation.creator, invitation] : invitation) %></td>
          <td><%= invitation.invitee_email %></td>
          <td><%= invitee_link(invitation) %></td>
          <td>
            <%= invitation.external_author ? "#{invitation.external_author.email} (#{invitation.external_author.names.collect(&:name).delete_if { |name| name == invitation.external_author.email }
.join(',')})" : "" %>
          </td>
          <td>
            <% unless invitation.redeemed_at %>
            <% if invitation.external_author %>
              <%= link_to t(".copy_and_use"), claim_path(invitation_token: invitation.token) %>
            <% else %>
              <%= link_to t(".copy_and_use"), signup_path(invitation_token: invitation.token) %><% end %>
            <% end %>
          </td>
          <% if logged_in_as_admin? && invitation.redeemed_at.blank? %>
            <td><%= link_to(t(".delete"), invitation, data: { confirm: t(".delete_confirmation") }, method: :delete) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
