<h3 class="heading"><%= ts('User History') %></h3>
<div class="wrapper">
	<table id="user_history" summary="<%= ts('Shows what notable actions, such as creating an account, a user performed, and when they did them.') %>">
	  <caption><%= ts('History of User Actions') %></caption>
    <thead>
	    <tr>
        <th scope="col"><%= ts('Date / Time') %></th>
        <th scope="col"><%= ts('Action') %></th>
        <th scope="col"><%= ts('Details') %></th>
      </tr>
    </thead>
    <tbody>
      <% unless @log_items.blank?
        @log_items.each do |item| %>
        <tr>
          <td><%= item.created_at %> (<abbr class="timeago" title="<%= item.created_at %>"><%= item.created_at.iso8601 %></abbr>)</td>
          <td><%= log_item_action_name(item.action) %><%= item.role.name if item.role %><%= item.enddate if item.enddate %></td>
          <td><%= item.note %></td>
        </tr>
        <% end %>
      <% end %>
      <tr>
        <td><%= @user.created_at %> (<abbr class="timeago" title="<%= @user.created_at %>"><%= @user.created_at.iso8601 %></abbr>)</td>
        <td><%= ts('Account Created') %></td>
        <td><%= ts('System Generated') %></td>
      </tr>
      <tr>
        <td>
          <% if @user.last_login_at.nil? %>
            <%= ts('No logins recorded') %>
          <% else %>
            <%= @user.last_login_at %> (<abbr class="timeago" title="<%= @user.last_login_at %>"><%= @user.last_login_at.iso8601 %></abbr>) 
          <% end %>
        </td>
        <td><%= ts('Last Login') %></td>
        <td><%= ts('System Generated') %></td>
      </tr>
      <tr>
        <td>
          <% if @user.last_active_at.nil? %>
            <%= ts('No activity recorded') %>
          <% else %>
            <%= @user.last_active_at %> (<abbr class="timeago" title="<%= @user.last_active_at %>"><%= @user.last_active_at.iso8601 %></abbr>) 
          <% end %>
        </td>
        <td><%= ts('Last Activity') %></td>
        <td><%= ts('System Generated') %></td>
      </tr>
    </tbody> 
  </table>
</div>
