<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>

<!--main content-->
<%= form_tag destroy_user_creations_admin_user_path(@user), method: :post, class: "simple destroy" do %>

  <p class="caution notice">
    <%= t(".caution_html", bookmarks: @bookmarks.size, series: @series.size, collections: @collections.size) %>
  </p>

  <%= render "user_creations_summary", works: @works, comments: @comments %>
 
  <p class="actions">
    <%= submit_tag t(".submit"), data: { confirm: t(".confirm") } %>
  </p>
<% end %>
<!--/content-->
