<h1><%=h "All Users:".t -%></h1>

<%= alpha_paginated_section -%>

<table id="admin_users_table">
<caption><%=h "List of all current users in the archive".t -%></caption>
<tr>
	<th scope="col"><%=h "Username".t -%></th>
	<th scope="col"><%=h "Email".t -%></th>
	<th scope="col"><%=h "Translator".t -%></th>
	<th scope="col"><%=h "Tag Wrangler".t -%></th>
	<th scope="col"><%=h "Suspended".t -%></th>
	<th scope="col"><%=h "Banned".t -%></th>
	<th scope="col"><%=h "Update".t -%></th>
</tr>
	<%- @users.each do |user| -%>
	<tr id="user_<%= user.id %>">
    <%= render :partial => 'user_form', :locals => {:user => user} %>
  </tr> 
<%- end -%>
</table>

<%= alpha_paginated_section -%>