<h1><%=h t('all_users', :default => "All Users:") -%></h1>

<%= alpha_paginated_section -%>

<table id="admin_users_table">
<caption><%=h t('list', :default => "List of all current users in the archive") -%></caption>
<tr>
	<th scope="col"><%=h t('username', :default => "Username") -%></th>
	<th scope="col"><%=h t('email', :default => "Email") -%></th>
	<th scope="col"><%=h t('translator', :default => "Translator") -%></th>
	<th scope="col"><%=h t('tag_wrangler', :default => "Tag Wrangler") -%></th>
	<th scope="col"><%=h t('suspended', :default => "Suspended") -%></th>
	<th scope="col"><%=h t('banned', :default => "Banned") -%></th>
	<th scope="col"><%=h t('update', :default => "Update") -%></th>
</tr>
	<%- @users.each do |user| -%>
	<tr id="user_<%= user.id %>">
    <%= render :partial => 'user_form', :locals => {:user => user} %>
  </tr> 
<%- end -%>
</table>

<%= alpha_paginated_section -%>