<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t('admin.admin_users.show.page_heading', default: "User") %>: <%= @user.login %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <ul class="navigation actions" role="navigation">
    <li>
      <%= button_to t('admin.admin_users.show.subnav.send_activation', default: "Send Activation Email"), {:action => 'send_activation', :id => @user}, disabled: @user.active? %>
    </li>
    <li>
      <%= button_to t('admin.admin_users.show.subnav.activate_user', default: "Activate User Account"), {:action => 'activate', :id => @user}, disabled: @user.active? %>
    </li>
    <li>
      <%= link_to t('admin.admin_users.show.subnav.manage_user', default: "Manage User Roles"), {:action => "index", :query => @user.login, :role => '0'} %>
    </li>
  </ul>
  <!--/subnav-->

  <!--main content-->
  <h3 class="heading"><%= t('admin.admin_users.show.form_heading', default: "Abuse Administration") %></h3>
  <%= form_tag :action => "update_user", :controller => "admin/admin_users" do %>
    <%= hidden_field_tag 'user_login', @user.login %>
    <fieldset>
      <legend><%= t('admin.admin_users.show.form.fnok.legend', default: "Fannish Next of Kin") %></legend>
      <h4 class="heading"><%= t('admin.admin_users.show.form.fnok.heading', default: "Fannish Next of Kin") %></h4>
      <dl>
        <dt>
          <%= label_tag 'next_of_kin_name', t('admin.admin_users.show.form.fnok.name', default: "Fannish next of kin's username") %>
        </dt>
        <dd>
          <%= text_field_tag 'next_of_kin_name', @user.fannish_next_of_kin.try(:kin_name), autocomplete: "off" %>
        </dd>
        <dt>
          <%= label_tag 'next_of_kin_email', t('admin.admin_users.show.form.fnok.email', default: "Fannish next of kin's email") %>
        </dt>
        <dd>
          <%= text_field_tag 'next_of_kin_email', @user.fannish_next_of_kin.try(:kin_email), autocomplete: "off" %>
        </dd>
      </dl>
    </fieldset>
    <fieldset>
      <legend><%= t('admin.admin_users.show.form.admin_actions.legend', default: "Warnings and Suspensions") %></legend>
      <h4 class="heading"><%= t('admin.admin_users.show.form.admin_actions.heading', default: "Warnings and Suspensions") %></h4>
      <ul>
        <li>
          <%= radio_button_tag 'admin_action', 'warn' %>
          <%= label_tag 'admin_action_warn', t('admin.admin_users.show.form.admin_actions.warn_label', default: "Record warning") %>
        </li>
        <li>
          <% if @user.suspended? %>
            <%= radio_button_tag 'admin_action', 'unsuspend', false %>
            <%= label_tag 'admin_action_unsuspend', t('admin.admin_users.show.form.admin_actions.unsuspend_label', default: "Lift temporary suspension, effective immediately.") %>
          <% else %>
            <%= radio_button_tag 'admin_action', 'suspend', false, disabled: @user.banned? %>
            <%= label_tag 'admin_action_suspend', t('admin.admin_users.show.form.admin_actions.suspend_label', default: "Suspend: enter a whole number of days") %>
            <%= text_field_tag 'suspend_days', '', class: 'number', size: 2, disabled: @user.banned? %>
            <%= live_validation_for_field('suspend_days', presence: false, numericality: true) %> 
          <% end %>
        </li> 
        <li>
          <% if @user.banned? %> 
            <%= radio_button_tag 'admin_action', 'unban', false %>
            <%= label_tag 'admin_action_unban', t('admin.admin_users.show.form.admin_actions.unban_label', default: "Lift permanent suspension, effective immediately.") %>
          <% else %>
            <%= radio_button_tag 'admin_action', 'ban', false %>
            <%= label_tag 'admin_action_ban', t('admin.admin_users.show.form.admin_actions.ban_label', default: "Suspend permanently (ban user)") %>
          <% end %>
        </li>
        <li>
          <%= radio_button_tag 'admin_action', 'spamban', false %>
          <%= label_tag 'admin_action_spamban', ts("Spammer: ban and delete all creations") %>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend><%= t('admin.admin_users.show.form.notes.legend', default: "Notes") %></legend>
      <h4 class="heading"><%= label_tag 'admin_note', t('admin.admin_users.show.form.notes.heading_label', default: "Notes") %></h4>
      <p class="note">
        <%= t('admin.admin_users.show.form.notes.required_note', default: "Required when adding or removing a warning or suspension to an account.") %>
      </p>
      <p>
        <%= text_area_tag 'admin_note', nil, class: 'observe_textlength' %>
        <%= generate_countdown_html('admin_note', ArchiveConfig.LOGNOTE_MAX) %>
      </p>
    </fieldset>

    <p class="submit"><%= submit_tag t('admin.admin_users.show.form.submit', default: "Update") %></p>
  <% end %>

  <%= render 'user_history', user: @user %>
  <!--/content-->
</div>
