<h3><%=h t('intro', :default => "The following abuse report has been made:") %></h3>
<p><%=h t('email', :default => "Email of the person who reported the abuse, if given") %>: <%= mail_to(@email, @email) %></p> 
<p><%=h t('url', :default => "URL of the page the abuse is on") %>: <%= link_to(@url, @url) %></p>
<p><%=h t('description', :default => "Description of the abuse") %>:</p>
<%=h @comment %>
