<% content_for :message do %>

  <p>The following archive notice has been sent:</p>

  Subject: <%= style_bold(@subject) %><br>
  To users: <%= @user_login_string %><br>

  <%= style_quote(raw @message) %>

<% end %>

<% content_for :sent_at do %>
  <%= Time.now.to_s(:time_for_mailers) %>
<% end %>

<% content_for :sent_by do %>
  <%= @admin_login %>
<% end %>



