<% content_for :message do %>

  <p><%= style_bold("Here's some user feedback on the Archive!") %></p>
  <p>Username: <%= @feedback.username.present? ? (raw @feedback.username) : "Anonymous user" %></p>
  <% unless @feedback.email.blank? %>
    <p>Email address: <%= raw @feedback.email %></p>
  <% end %>
  <p>Language: <%= @feedback.language %></p>
  <% unless ArchiveConfig.REVISION.blank? %>
    <p>
      Archive revision: (rev. <%= ArchiveConfig.REVISION %>)
    </p>
  <% end %>
  <% unless @feedback.rollout.blank? %>
    <p>Rollout: <%= raw @feedback.rollout %><p>
  <% end %>
  <% unless @feedback.user_agent.blank? %>
    <p>User agent: <%= raw @feedback.user_agent %></p>
  <% end %>


  Feedback:
  <b><%= (raw @feedback.summary) %></b>
  <%= (raw @feedback.comment) %>

<% end %>

<% content_for :sent_at do %>
  <%= Time.now.to_s(:time_for_mailers) %>
<% end %>



