<!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts("Technical reports") %></h2>
  <p></p>
  <!--/descriptions-->

  <!--subnav-->
  <!--/subnav-->

  <!--main content-->

<table>
<tr><td colspan="2" style=" text-align: center"><%= ts("Page views per minute") %></td></tr>
<tr><td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/7Ho3iF1OcBN" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
<td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/9ISnPNjnL5p" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
</tr>

<tr><td colspan="2" style=" text-align: center"><%= ts("Browser load times") %></td></tr>
<tr><td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/aUtsY9Oxddf" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
<td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/6q8JihpRLoR" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
</tr>

<tr><td colspan="2" style=" text-align: center"><%= ts("Application Response times") %></td></tr>
<tr><td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/faJq1T8jSDp" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
<td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/jEMyaZRm75W" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
</tr>

<tr><td colspan="2" style=" text-align: center"><%= ts("Worldwide ")%><a target='_blank' href="http://en.wikipedia.org/wiki/Apdex"><%= ts("Apdex") %></a><%= ts(" Scores") %></td></tr>
<tr><td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/jsyFGBwmQXr" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
<td style=" text-align: center">
<iframe src="https://rpm.newrelic.com/public/charts/3wSEyhYHhmv" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</td>
</tr>

</table>

