<!--Descriptive page name, messages and instructions-->
  <h2 class="heading">
    <%= @fandom.name %>
  </h2>

  <ul class="index group">
    <% for work in @works %>
      <% tag_groups = work.tags.group_by { |t| t.type.to_s } %>
      <li class="work picture blurb group" role="article">
        <div class="header module">
<!--title, author and fandom-->
          <h4 class="heading" title="title">
      	    <%= link_to work.title.html_safe, static_collection_work_path(@collection, work) %>
       		  <%= ts("by") %> <%= byline(work, :visibility => 'public') %>
            <% unless work.recipients.blank? %>
            <%= ts("for") %> <%= recipients_link(work) %>
            <% end %>
          </h4>

      	  <h5 class="heading" title="fandom">
            <%= tag_groups['Fandom'].map{|tag| tag.name}.join(', ') %>
      	  </h5>
		<div class="icon"></div>
        </div>

<!--tags-->	  
      	<h6 class="landmark heading"><%= ts("Tags") %></h6>
      	<p class="tags">
      	  <% tags = (tag_groups['Rating'] || []) + 
      	            (tag_groups['Warning'] || []) + 
      	            (tag_groups['Category'] || []) + 
      	            (tag_groups['Relationship'] || []) + 
      	            (tag_groups['Character'] || []) + 
      	            (tag_groups['Freeform'] || []) %>
      	  <%= tags.map{|tag| warning_display_name(tag.name)}.join(', ') %>      
      	</p>

<!--summary-->	
      	<% unless work.summary.blank? %>
      		<h6 class="landmark heading"><%= ts("Summary") %></h6>
      		<blockquote class="userstuff summary" title="summary">
      		  <%=raw strip_images(sanitize_field(work, :summary)) %>
      		</blockquote>
      	<% end %>

<!--stats-->
      	<dl class="stats" title="stats">
      		<dt><%= ts("Words") %>: </dt>
      		<dd><%= number_with_delimiter(work.word_count) %></dd>
      		<dt><%= ts("Chapters") %>: </dt>
      		<dd><%= work.chapter_total_display %></dd>
      	</dl>
      </li>
    <% end %>
  </ul>

