<%= render :partial => 'admin/admin_nav' %>
<h1><%=h 'AO3 News (includes Release Notes)' %></h1>

<ul class="navigation"><li><%= link_to 'Create New AO3 News Post', new_admin_post_path %></li></ul>
		
<table>
	<thead>
		<tr>
		<th scope="col"><%=h 'Title' -%></th>
		<th scope="col"><%=h 'Posted' -%></th>
		<th scope="col"><%=h 'Updated' -%></th>
		<th scope="col" colspan="3"><%=h 'Controls' -%></th>
	</tr>
	</thead>
	<tbody>	
  <% @admin_posts.each do |admin_post| %>
	<tr>
		<td><%= link_to sanitize_title_for_display(admin_post.title), admin_post %></td>
		<td><%=h admin_post.created_at %></td>
		<td><%=h admin_post.updated_at %></td>
	    <td><%= link_to "Show", admin_post %></td>
        <td><%= link_to "Edit", edit_admin_post_path(admin_post) %></td>
        <td><%= link_to "Delete", admin_post, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
  <% end %> 
</tbody>
</table>
		<div class="pagination">
			  <%= will_paginate @admin_posts %>
		</div>			
		
</div>
