<div id="work-form">
	<% form_for(@admin_post) do |f| %>
	<%= f.error_messages %>
	
	<p class="notice required"><%=h '* Required information' %></p>
	  <p>
	    <%= f.label :title, t('form_title', :default => "*Title"), :class => "required" %><br />
	    <%= f.text_field :title %>
	  </p>
 <fieldset>
	<p>
	<%= f.label :content, t('form_content', :default => "Post Content") %>
    </p>
  <div id="toggleText" style="display: block">
  <p>Plain text with limited html <%= link_to_help "html-help" -%><br/><code>a href, b, big, blockquote, br, caption, center, cite, code, col, colgroup, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, table, tr, td, th, tbody, thead, tfoot, ul</code></p>
  </div>
  <% use_tinymce -%>
  <p class="rtf-html-switch">
    <span><a id="displayText" href="javascript:addEditor('content');javascript:toggle();"><%=h 'Rich text' %></a></span>
    <span><a id="displayText" href="javascript:removeEditor('content');javascript:toggle();"><%=h 'HTML' %></a></span>
  </p>

	<p>
		<%= f.text_area :content, :class => "mce-editor", :id => "content" %>
      	<%= live_validation_for_field('content', 
  				:maximum_length => ArchiveConfig.CONTENT_MAX, :minimum_length => ArchiveConfig.CONTENT_MIN, 
  				:tooLongMessage => t('validations.content.too_long', :default => 'We salute your ambition! But sadly the content must be less than {{max}} letters long.', :max => ArchiveConfig.CONTENT_MAX.to_s),
  				:tooShortMessage => t('validations.content.too_short', :default => 'Brevity is the soul of wit, but your content does have to be at least {{min}} letters long.', :min => ArchiveConfig.CONTENT_MIN.to_s),
  			  :failureMessage => t('validations.content.failure', :default => 'You need to post some content here.'))
  		-%>
    <%= generate_countdown_html("content", ArchiveConfig.CONTENT_MAX) -%>
	</p>
</fieldset>
<fieldset>
<legend><%= t('form_post', :default => 'Post') %></legend>
    <p class="submit">
		<%= submit_tag t('form_post', :default => 'Post'), :name => 'post_button' %>
    </p>
</fieldset>
	<% end %>
</div>