<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>
<!--/descriptions-->
<!--subnav-->
<%= render 'filters' %>
<%= render :partial => 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading"><%= t(".landmark") %></h3>
<dl class="news index group">
  <%= render partial: "admin_post_blurb", collection: @admin_posts, as: :admin_post %>
</dl>
<!--/content-->
<!--subnav-->
<%= will_paginate @admin_posts %>
<!--/subnav-->
