<!--Descriptive page name, messages and instructions-->
<% if logged_in_as_admin? %>
<%= render :partial => "admin_index" %>
<% else %>
<h2><%= 'AO3 News' %></h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation" role="navigation">
  <li><%= link_to_rss admin_posts_path(:rss) %></li>
</ul>
  <!--/subnav-->

<!--main content-->
<% @admin_posts.each do |admin_post| %>

   <div class="admin module" role="article">
      <div class="admin-header">
      <h3>
        <%= link_to admin_post.title, admin_post %>
      </h3>
        <h4>
          Published: <%= admin_post.created_at %>  
            <% if logged_in_as_admin? %>
              <%= link_to ts("Edit Post"), edit_admin_post_path(@admin_post), :class => "navigation" %>
            <% end %>
        </h4>
      </div>
      <div class="admin-content userstuff">
        <%=raw sanitize_field(admin_post, :content) %>
      </div>
      <!-- BEGIN comment section -->
        <h3 class="landmark">Comment</h3>
        <ul class="navigation">
          <% if admin_post.count_visible_comments > 0 %>
          <li><%= link_to ( admin_post.count_visible_comments == 1 ? 
                            ts("Read %{comment_count} Comment", :comment_count => admin_post.count_visible_comments.to_s) : 
                            ts("Read %{comment_count} Comments", :comment_count => admin_post.count_visible_comments.to_s)),
                          admin_post_path(:id => admin_post.id, :anchor => "comments", :show_comments => true) %></li> 
          <% end %>
          <li><%= link_to ts("Add Comment"), admin_post_path(:id => admin_post.id, :anchor => "comments", :add_comment => true) %></li>
        </ul>  
      <!-- END comment section -->
  
  </div>
<% end %>
<!--/content-->
<hr class="clear" />

<!--subnav-->
    <%= will_paginate @admin_posts %>
<!--/subnav-->
<% end %>