<div class="admin home">
  <% if logged_in_as_admin? %>
    <%= render :partial => "admin_index" %>
  <% else %>
    <div class="primary header module">
      <!--Descriptive page name, messages and instructions-->
      <h2 class="heading"><%= link_to ts("AO3 News"), admin_posts_path %></h2>
      <div class="icon"></div>
      <!--/descriptions-->

      <!--subnav-->
      <ul class="navigation actions" role="navigation">
        <li><%= render 'filters' %></li>
        <li><%= link_to_rss admin_posts_path(:rss) %></li>
      </ul>
      <!--/subnav-->
    </div>
  <!--main content-->
  <% @admin_posts.each do |admin_post| %>

  <div class="module group" role="article">
    <div class="header">
      <h3 class="heading">
        <%= link_to admin_post.title.html_safe, admin_post %>
      </h3>
      <h4 class="heading">
        <%= ts('Published:') %> <span class="datetime"><%= admin_post.created_at %></span> 
        <% if logged_in_as_admin? %>
          <span class="actions"><%= link_to ts("Edit Post"), edit_admin_post_path(@admin_post) %></span>
        <% end %>
      </h4>
    </div>
    <div class="userstuff">
      <%=raw sanitize_field(admin_post, :content) %>
    </div>
    <% if admin_post.tags.length > 0 %>
      <ul class="tags">
        <% for tag in admin_post.tags %>
          <li><%= link_to tag.name, admin_posts_path(:tag => tag.id), :class => "tag" %></li>
        <% end %>
      </ul>
    <% end %>
    <!-- BEGIN comment section -->
    <h3 class="landmark heading"><%= ts("Comment") %></h3>
    <ul class="actions" role="navigation">
      <% if admin_post.count_visible_comments > 0 %>
        <li><%= link_to ( admin_post.count_visible_comments == 1 ? 
                        ts("Read %{comment_count} Comment", :comment_count => admin_post.count_visible_comments.to_s) : 
                        ts("Read %{comment_count} Comments", :comment_count => admin_post.count_visible_comments.to_s)),
                        admin_post_path(:id => admin_post.id, :anchor => "comments", :show_comments => true) %></li>
      <% end %>
      <li><%= link_to ts("Add Comment"), admin_post_path(:id => admin_post.id, :anchor => "comments", :add_comment => true) %></li>
    </ul>  
    <!-- END comment section -->
  </div>
  <% end %>
  <!--/content-->
  <hr class="clear" />

  <!--subnav-->
    <%= will_paginate @admin_posts %>
  <!--/subnav-->
  <% end %>
</div>
