<!--Descriptive page name, messages and instructions-->
<h2><%=h 'AO3 News' %></h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation" role="navigation">
	<li><%= link_to t('.admin_posts_link_text', :default => 'Back to AO3 News Index'), admin_posts_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
	<div class="admin-header">
		<h3>
			<%= sanitize_title_for_display @admin_post.title %>
		</h3>
			<h4>
				Published:<%=h @admin_post.created_at %>  
        <%- if logged_in_as_admin? -%>
				    <%= link_to t('.edit', :default => 'Edit Post', :class => 'navigation'), edit_admin_post_path(@admin_post) %>
				<%- end -%>
      </h4>
  </div>
  <div class="admin-content user-generated-view">
	    <%=sanitize_and_format_for_display @admin_post.content %>
  </div>
</div>
<!--/content-->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @admin_post} %>
<!-- END comment section -->
