<div class="admin home">
<!--Descriptive page name, messages and instructions-->
  <div class="primary header module">
    <h2 class="heading"><%= link_to ts("AO3 News"), admin_posts_path %></h2>
<!--/descriptions-->
    <div class="icon"></div>
    <!--subnav-->
    <ul class="navigation actions" role="navigation">
      <% if @previous_admin_post %>
        <li><%= link_to("Previous Post", @previous_admin_post) %></li>
      <% end %>
      <% if @next_admin_post %>
        <li><%= link_to("Next Post", @next_admin_post) %></li>
      <% end %>
      <li><%= link_to_rss admin_posts_path(:rss) %></li>
    </ul>
    <!--/subnav-->
  </div>
<!--main content-->
<div role="article" class="group">
  <div class="header">
    <h3 class="heading">
      <%= @admin_post.title %>
    </h3>
      <h4 class="heading">
        Published: <%= @admin_post.created_at %>  
        <% if logged_in_as_admin? %>
            <%= link_to ts("Edit Post"), edit_admin_post_path(@admin_post), :class => 'action' %>
        <% end %>
      </h4>
    <% if @admin_post.translated_post %>
      <h4 class="heading">Original: <%= link_to @admin_post.translated_post.title, @admin_post.translated_post %></h4>
    <% elsif !@admin_post.translations.empty? %>
      <h4 class="heading">Translations:</h4>
      <dl class="language index group">
        <% for admin_post in @admin_post.translations %>
          <dt>
            <%= link_to admin_post.language.name, language_admin_posts_path(admin_post.language) %>
          </dt>
          <dd>
            <%= link_to admin_post.title, admin_post %>
          </dd>
        <% end %>
      </dl>
    <% end %>
  </div>
  <div class="userstuff">
      <%=raw sanitize_field(@admin_post, :content) %>
  </div>
  <% if @admin_post.tags.length > 0 %>
  <ul class="tags">
    <% for tag in @admin_post.tags %>
      <li><%= link_to tag.name, admin_posts_path(:tag => tag.id) %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<!--/content-->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @admin_post} %>
<!-- END comment section -->
</div>
