<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Saved Works') %></h2>
<p><%= ts("Your private list of works to read or view later. You can also bookmark works if you want to be able to share, filter or search them.") %></p>
<!--/descriptions-->

<!--subnav-->
<% if @saved_works.present? %>
  <ul class="sorting navigation actions" role="navigation">
    <li><h4 class="heading"><%= ts("Sort By") %></h4></li>
    <li><%= span_if_current ts("Date Added"), user_saved_works_path(@user, sort: 'added'), params[:sort] != 'updated' %></li>
    <li><%= span_if_current ts("Date Updated"), user_saved_works_path(@user, sort: 'updated') %></li>
  </ul>
<% end %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading"><%= ts("List of Saved Works") %></h3>
<% if @saved_works.present? %>
  <ol class="works index">
    <% @saved_works.each do |saved_work| %>
      <li id="work_<%= saved_work.work_id %>" class="work blurb group" role="article">
        <%= render 'works/work_module', :work => saved_work.work %>
        <div class="user module group">
          <h4 class="viewed heading">
            <span><%= ts("Saved:") %></span> <%= set_format_for_date(saved_work.created_at) %>
          </h4>

          <ul class="navigation actions" role="menu">
            <li>
              <%= link_to ts("Remove"), user_saved_work_path(current_user, saved_work), confirm: ts('Are you sure?'), method: :delete, class: 'delete_saved_work', remote: true %>
              </li>
          </ul>
        </div>
      </li>
    <% end %>
  </ol>
<% end %>
<!--/content-->

<!--subnav-->
	  <%= will_paginate @works %>
<!--/subnav-->
