<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>

<!--main content-->
<%= form_with url: remove_pseud_admin_user_creation_path(@work), method: :put, class: "simple destroy" do |f| %>
  <% if @orphan_pseuds.length > 1 %>
    <p class="caution notice">
      <%= t(".choose") %>
    </p>
    <ul>
      <%= f.collection_check_boxes :pseuds, @orphan_pseuds, :id, :byline, { include_hidden: false } do |builder| %>
        <li>
          <%= builder.check_box %>
          <%= builder.label %>
        </li>
      <% end %>
    </ul>
    <p class="actions">
      <%= f.submit t(".submit_multiple") %>
    </p>
  <% else %>
    <p class="caution notice">
      <%= t(".caution") %>
    </p>
    <p class="actions">
      <%= f.submit t(".submit_one") %>
    </p>
  <% end %>
<% end %>
<!--/content-->
