
<fieldset class="preface">
  <legend>Archive Skin</legend>
  <h3>Archive Skin</h3>

  <dl>
    <dt><%= f.label :title, t('skin_title', :default => 'Title') %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :description, t('skin_description', :default => 'Description') -%></dt>
    <dd><%= f.text_field :description %></dd>

    <dt>
      <%= f.label :css, t('skin_css', :default => 'CSS') %> 
      <%= link_to_help "skins-creating" -%>
      <p id="plainTextNotes" style="display: block"><%= allowed_css_instructions -%></p>
      <p class="notes">
        <%= label_tag :css_keyword_autofinder, t("skins.autofinder", :default => "Allowed Value Autocomplete:")%>
        <%= text_field_tag :css_keyword_autofinder %>
        <%= autocomplete_text_field("css_keyword_autofinder", :methodname => "css_keyword") -%>
      </p>
    </dt>
    <dd><%= f.text_area :css, :cols => 70 %></dd>

    <dt><%= f.label :public, t('skin_public', :default => 'Apply to make this a public skin?') %> <%= link_to_help "skins-approval" -%></dt>
    <dd><%= f.check_box :public %></dd>
  </dl>
</fieldset>