
<fieldset class="preface">
  <legend>Archive Skin</legend>
  <h3>Archive Skin</h3>

  <dl>      
    <dt><%= label_tag "skin_type", ts('Type') %> <%= link_to_help "skins-basics" %></dt>
    <% if @skin.type %>
      <dd><%= @skin.type == 'WorkSkin' ? ts("Work Skin") : ts("Site Skin") %></dd>
    <% else %>      
      <dd><%= select_tag "skin_type", options_for_select(Skin::TYPE_OPTIONS, params[:skin_type]) %></dd>
    <% end %>
    
    <dt><%= f.label :title, ts('Title') %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :description, ts('Description') %></dt>
    <dd><%= f.text_field :description %></dd>
      
    <dt>
      <%= f.label :css, ts('CSS') %> 
      <%= link_to_help "skins-creating" %>
    </dt>
    <dd><%= f.text_area :css, :cols => 70 %></dd>

    <dt><%= f.label :icon, ts("Upload a preview (png, jpeg or gif)") %></dt>
    <dd><%= f.file_field :icon %></dd>

    <dt><%= f.label :public, ts('Apply to make this a public skin?') %> <%= link_to_help "skins-approval" %></dt>
    <dd><%= f.check_box :public %></dd>
  </dl>
</fieldset>
