<% index ||= 1 %>
<div class="removeme">
  <fieldset>
    <p class="actions cancel" title="cancel"><%= link_to_remove_section ts("x"), form %></p>
    <dl>
      <dt>
        <%= ts("Parent #") %><%= form.text_field :position, :class => "number", :value => (form.object.position || index), :title => "position of parent as integer" %>
      </dt>
      <dd>
        <%= form.text_field :parent_skin_title, autocomplete_options("site_skins", :autocomplete_token_limit => 1, :title => "title of parent skin") %>
      </dd>
    </dl>
  </fieldset>
</div>
<div class="last_id" style="display:none;"><%= index.is_a?(String) ? index : index+1 %></div>