<% if (logged_in? && !skin.is_a?(WorkSkin)) || skin.editable? %>
  <ul class="actions" role="menu">
    <% if logged_in? && !skin.is_a?(WorkSkin) && !skin.unusable? %>
      <li>
        <%= form_for(current_user.preference, :url => {:controller => :preferences, :action => :update, :user_id => current_user}, :method => "put") do |f| %>
          <% if skin.id == current_user.preference.skin_id %>
            <%= f.hidden_field :skin_id, :value => Skin.default.id %>
            <%= f.submit ts("Stop Using") %>
          <% else %>
            <%= f.hidden_field :skin_id, :value => skin.id %>
            <%= f.submit ts("Use") %>
          <% end %>
        <% end %>
      </li>
      <li><%= span_if_current ts("Preview"), preview_skin_path(skin) %></li>
    <% end %>
    
    <% if (logged_in? || logged_in_as_admin?) && skin.cached? %>
      <li><%= link_to ts("Set For Session"), set_skin_path(skin) %></li>
    <% end %>
        
    <% if skin.editable? %>
      <li><%= span_if_current ts('Edit'), edit_skin_url(skin) %></li>
      <% unless logged_in_as_admin? %>
        <li><%= link_to ts('Delete'), skin, :confirm => ts('Are you sure?'), :method => :delete %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
