<!--subnav-->
<h3 class="landmark heading"><%= ts("Skin Type Navigation") %></h3>

  <ul class="navigation actions" role="navigation">
  <% if logged_in? %>
    <li><h4 class="heading"><%= ts("My Skins:") %></h4></li>
    <li>
      <%= span_if_current ts("Site Skins"), user_skins_path(current_user, :work_skins => nil), current_page?(user_skins_path(current_user)) && params[:work_skins].blank? %>
    </li>
    <li>
      <%= span_if_current ts("Work Skins"), user_skins_path(current_user, :work_skins => true) %>
    </li>
  <% end %>
    <li><h4 class="heading"><%= ts("Public Skins:") %></h4></li>
    <li>
      <%= span_if_current ts("Public Site Skins"), skins_path(:work_skins => nil), current_page?(skins_path) && params[:work_skins].blank? %>
    </li>
    <li>
      <%= span_if_current ts("Public Work Skins"), skins_path(:work_skins => true) %>
    </li>
  </ul>

<!--/subnav-->
