<!--subnav-->
<h3 class="landmark heading"><%= ts('Skin Type Navigation') %></h3>

  <ul class="actions" role="navigation">
  <% if logged_in? %>
    <li>
      <%= span_if_current ts('My Site Skins'), user_skins_path(current_user, :skin_type => 'Site'), current_page?(user_skins_path(current_user)) && (params[:skin_type].blank? || params[:skin_type] == 'Site')  %>
    </li>
    <li>
      <%= span_if_current ts('My Work Skins'), user_skins_path(current_user, :skin_type => 'WorkSkin') %>
    </li>
  <% end %>
  <% unless action_name == 'new' %>
    <li>
      <%= span_if_current ts('Public Site Skins'), skins_path(:skin_type => 'Site'), current_page?(skins_path) && (params[:skin_type].blank? || params[:skin_type] == 'Site') %>
    </li>
    <li>
      <%= span_if_current ts('Public Work Skins'), skins_path(:skin_type => 'WorkSkin') %>
    </li>
  <% end %>
  </ul>


<!--/subnav-->
