<!--subnav-->
<h3 class="landmark heading">Navigation</h3>
<ul class="navigation actions" role="navigation">

    
  <% if logged_in? %>
    <li>
      <%= span_if_current ts("Site Skins"), url_for(:work_skins => false) %>
    </li>
    <li>
      <%= span_if_current ts("Work Skins"), url_for(:work_skins => true) %>
    </li>
    <li>
      <%= span_if_current ts('My Skins'), user_skins_path(current_user) %>
    </li>
    <li>
      <%= span_if_current ts('Public Skins'), skins_path %>
    </li>
  <% else %>
    <li>
      <%= span_if_current ts("Public Site Skins"), url_for(:work_skins => false) %>
    </li>
    <li>
      <%= span_if_current ts("Public Work Skins"), url_for(:work_skins => true) %>
    </li>
  <% end %>

  
  <% if session[:site_skin] %>
    <li><%= link_to ts("Revert to Default Skin"), unset_skins_path %></li>
  <% end %>
  
	<% if logged_in? %>
	  <% if current_user.preference.skin_id && session[:site_skin].blank? %>
	    <li>
    	  <%= form_for(current_user.preference, :url => {:controller => :preferences, :action => :update, :user_id => current_user}, :method => "put") do |f| %>
          <%= f.hidden_field :skin_id, :value => Skin.default.id %>
          <%= f.submit ts("Revert to Default Skin") %>
        <% end %>
      </li>
    <% end %>
	
    <% unless controller.action_name == "new" %>
      <li><%= link_to ts('Create Skin'), new_skin_path %></li>
    <% end %>
    
    <!-- wizard-to-custom-css switchers for new and edit -->
    <% if controller.action_name == "new" ||  (controller.action_name == "edit" && !@skin.is_a?(WorkSkin)) %>
      <% if params[:wizard] %>
        <li id="form-link">
           <%= link_to( ts('Write Custom CSS Instead?'),
             {:url => {:controller => :skins, :action => controller.action_name, :wizard => false}},
             :href => url_for(:controller => :skins, :action => controller.action_name, :wizard => false)) %>
        </li>
      <% else %>
        <li id="wizard-link">
          <%= link_to( ts('Use Wizard Instead?'),
            {:url => {:controller => :skins, :action => controller.action_name, :wizard => true}},
            :href => url_for(:controller => :skins, :action => controller.action_name, :wizard => true)) %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<!--/subnav-->
