<fieldset class="preface profile">
  <legend>Archive Skin Wizard</legend>
  <h3>Archive Skin Wizard</h3>
  <p id="plainTextNotes" style="display: block"><%= allowed_css_instructions %></p>

  <dl>
    <dt><%= f.label :title, t('skin_title', :default => 'Title') %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :description, t('skin_description', :default => 'Description') %></dt>
    <dd><%= f.text_field :description %></dd>

    <dt>
      <%= f.label :margin, t('skin_margin', :default => 'Margin width (as percentage of page size)') %>
      <p><%= t('skin_margin_default', :default => 'default: 3') %></p>
    </dt>
    <dd><%= f.text_field :margin %> %</dd>
  
    <dt>
      <%= f.label :font, t('font', :default => "Font family (comma-separated)") %>
      <p><%= t('skin_font_default', :default => 'default: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif')%></p>
    </dt>
    <dd>
      <%= f.text_field :font %>
      <%= autocomplete_text_field("skin_font", :methodname => "css_keyword") %>
    </dd>
  
    <dt>
      <%= f.label :background_color, t('background_color', :default => 'Background color (name or hex code)') %>
      <p><%= t('background_color_default', :default => 'default: #FFFEF9') %></p>
    </dt>
    <dd>
      <%= f.text_field :background_color %>
      <%= autocomplete_text_field("skin_background_color", :methodname => "css_keyword", :no_comma => true) %>
    </dd>
  
    <dt>
      <%= f.label :foreground_color, t('foreground_color', :default => 'Foreground color (name or hex code)') %>
      <p><%=t('foreground_color_default', :default => 'default: #222222') %></p>
    </dt>
    <dd>
      <%= f.text_field :foreground_color %>
      <%= autocomplete_text_field("skin_foreground_color", :methodname => "css_keyword", :no_comma => true) %>
    </dd>
  
    <dt>
      <%= f.label :base_em, t('font_size_percentage', :default => 'Percent of base font size') %>
      <p><%=t('font_size_percentage_default', :default => 'default: 100') %></p>
    </dt>
    <dd><%= f.text_field :base_em %> %</dd>
    
    <%= hidden_field_tag "wizard", true %>
    
  </dl>

</fieldset>