<fieldset class="preface profile">
  <legend>Archive Skin Wizard</legend>
  <h3>Archive Skin Wizard</h3>
  <p id="plainTextNotes" style="display: block"><%= allowed_css_instructions %></p>

  <dl>
    <dt><%= f.label :title, ts('Title') %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :description, ts('Description') %></dt>
    <dd><%= f.text_field :description %></dd>

    <dt>
      <%= f.label :margin, ts('Margin width (%)') %>
    </dt>
    <dd><%= f.text_field :margin %> <%= link_to_help('skins-wizard-margin') %></dd>

    <dt>
      <%= f.label :font, ts("Font family") %>
    </dt>
    <dd>
      <%= f.text_field :font %> <%= link_to_help('skins-wizard-font') %>
    </dd>
  
    <dt>
      <%= f.label :background_color, t('background_color', :default => 'Background color (name or hex code)') %>
      <p><%= t('background_color_default', :default => 'default: #FFFEF9') %></p>
    </dt>
    <dd>
      <%= f.text_field :background_color %>
      <%= autocomplete_text_field("skin_background_color", :methodname => "css_keyword", :no_comma => true) %>
    </dd>
  
    <dt>
      <%= f.label :foreground_color, t('foreground_color', :default => 'Foreground color (name or hex code)') %>
      <p><%=t('foreground_color_default', :default => 'default: #222222') %></p>
    </dt>
    <dd>
      <%= f.text_field :foreground_color %>
      <%= autocomplete_text_field("skin_foreground_color", :methodname => "css_keyword", :no_comma => true) %>
    </dd>
  
    <dt>
      <%= f.label :base_em, ts('Percent of base font size') %>
      <p><%=ts('default: 100') %></p>
    </dt>
    <dd><%= f.text_field :base_em %> %</dd>
    
    <dt>
      <%= f.label :paragraph_margin, ts('Vertical gap between paragraphs') %>
      <p><%=ts('default: 1.5') %></p>
    </dt>
    <dd><%= f.text_field :paragraph_margin %></dd>
    
    <%= hidden_field_tag "wizard", true %>
    
  </dl>

</fieldset>