<h2><%= t('edit_skin', :default => 'Edit Archive Skin')  %></h2>

<%= error_messages_for :skin %>

<!--subnav-->
<%= render :partial => "skin_top_navigation" -%>
<!--/subnav-->

<h3 class="landmark">Edit Archive Skin Form</h3>
<%= form_for(@skin, :html => {:multipart => true}) do |f| -%>

  <%- if params[:wizard] -%>
    <%= render :partial => 'wizard_form', :locals => {:f => f} %>
  <%- else -%>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <%- end -%>

  <%= f.submit t('update_skin_button', :default => 'Update')  %>

<% end -%>
