<!--BACK END: if this is only accessed via the user dashboard it needs the user dashboard view-->
<h2><%= ts('Edit Archive Skin')  %></h2>

<%= error_messages_for :skin %>

<!--subnav-->
<%= render :partial => "skin_top_navigation" %>
<!--/subnav-->

<h3 class="landmark"><%= ts("Edit Archive Skin Form") %></h3>
<%= form_for(@skin, :html => {:multipart => true}) do |f| %>

  <% if params[:wizard] %>
    <%= render :partial => 'wizard_form', :locals => {:f => f} %>
  <% else %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>

  <p class="submit"><%= f.submit ts('Update')  %></p>

<% end %>
