<% work_skin = params[:skin_type] && params[:skin_type] == "WorkSkin" %>

<h2 class="heading"><%= @title %></h2>

<p class="notes">
  <% if work_skin %>
    With work skins you can customize the way your own works are shown to others. 
  <% else %>
    With site skins you can customize <abbr title="Archive Of Our Own">AO3</abbr> for your own browser.
  <% end %>
  <%= link_to_help "skins-basics" %>
</p>

<%= render :partial => "skin_top_navigation" %>

<h3 class="landmark heading">List of Skins</h3>

<% if @skins.empty? %>
  <p>
    No <%= work_skin ? "work" : "site" %> skins here yet! 
    <% if logged_in? %>Why not try <%= link_to ts('making one'), new_skin_path(:skin_type => work_skin ? "WorkSkin" : "Skin") %>?<% end %>
  </p>
<% else %>
  <ul class="index group">
  <% for skin in @skins %>
    <li class="skins <% if skin.editable? %>own<% end %> picture blurb group">
      <div class="header module">
        <h4 class="heading" title="title">
          <%= link_to h(skin.title), skin %>
          <span class="byline">
            by <%= skin.byline %>
          </span>
        </h4>
		    <% if @user %>
          <% if skin.official? %> 
            <p class="status approved">(Approved)</p>
          <% elsif skin.rejected? %>
            <p class="status declined">(Declined: <%= link_to_help "skins-approval" %> <%= skin.admin_note %>)</p> 
          <% elsif skin.public? %> 
            <p class="status unread">(Not yet reviewed) <%= link_to_help "skins-approval" %></p>
          <% end %>
        <% end %>
        <div class="icon"><%= skin_preview_display(skin) %></div>
		    <p class="datetime"><%= set_format_for_date(skin.created_at) %></p>
      </div>
      
      <!--summary/descriptions-->
      <h6 class="landmark heading">Description</h6>
      <blockquote class="userstuff summary">
	<!--BACK END:  please enclose the text "No Description Provided" in <p>-->
        <%=raw skin.description.blank? ? h(ts("(No Description Provided)")) : strip_images(sanitize_field(skin, :description)) %>
      </blockquote>
    
      <%= render :partial => "skin_navigation", :locals => {:skin => skin} %>

    </li>
  <% end %>
  </ul>
<% end %>