

<h2><%= @title %></h2>

<!--subnav-->
<h3 class="landmark">Navigation</h3>
<ul class="navigation" role="navigation">
	<li><%= link_to t('.public', :default => 'Public skins'), skins_url %></li>
	<% if logged_in? %>
    <li><%= link_to t('.mine', :default => 'My skins'), skins_url(:q => 'mine') %></li>
    <li><%= link_to t('.new', :default => 'Create new skin'), new_skin_url %></li>
    <li><%= link_to t('.change', :default => 'Change your skin'), user_preferences_path(@current_user) -%></li>
  <% end %>
</ul>
<!--/subnav-->



<% for s in @skins -%>
  <div class="skin">
    <h4><%= link_to h(s.title), s %>
    <% if @user %>
      <% if s.official? %> (Approved)
      <% elsif s.public? %> (Not yet approved)
        <%= link_to_help "skins-approval" -%>
      <% end %>
    <% else %>
      by <%= s.byline %>
    <% end %>
    <% if s.editable? %>
      <%= link_to t('.edit', :default => 'Edit skin'), edit_skin_url(s) %>
    <% end %>
    </h4>
  </div>
<% end -%>
