<!--BACK END: if this is only accessed via the user dashboard it needs the user dashboard view-->
<h2><%= ts('Create New Archive Skin')  %></h2>

<%= error_messages_for :skin %>

<%= render :partial => "skin_top_navigation" %>

<h3 class="landmark"><%= ts("New Archive Skin Form") %></h3>

<%= form_for(@skin, :html => {:multipart => true}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="submit actions"><%= f.submit ts('Create')  %></p>

<% end %>
