
<h2><%= t('new_skin', :default => 'Create New Archive Skin')  %></h2>

<%= error_messages_for :skin %>

<ul class="navigation">
  <li id="wizard-link">
    <%= link_to( t('.wizard', :default => 'Use Wizard Instead?'),
      {:url => {:controller => :skins, :action => :new, :wizard => true}},
      :href => url_for(:controller => :skins, :action => :new, :wizard => true)) -%>
  </li>
</ul>

<h3 class="landmark">New Archive Skin Form</h3>

<% form_for(@skin, :html => {:multipart => true}) do |f| -%>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= f.submit t('create_skin_button', :default => 'Create')  %>

<% end -%>
