<!--BACK END: if this is only accessed via the user dashboard it needs the user dashboard view-->
<h2 class="heading"><%= ts('Create New Site Skin')  %></h2>

<%= render :partial => 'skin_top_navigation' %>

<%= error_messages_for :skin %>

<p class="notes">
  <%= ts('This wizard only creates site skins. You can also %{link} which can be used to add styling to works that you post.', :link => link_to(ts('create a work skin'), url_for(:skin_type => 'WorkSkin'))).html_safe %>
  <%= link_to_help 'skins-basics' %>
</p>

<%= render :partial => 'skin_type_navigation' %>


<h3 class="landmark heading"><%= ts('New Archive Site Skin Wizard') %></h3>

<%= form_for @skin do |f| %>
  <%= render 'wizard_form', :f => f %>
<% end %>
