<!--BACK END: if this is only accessed via the user dashboard it needs the user dashboard view-->
<<<<<<< HEAD
<h2 class="heading"><%= ts("Create New Archive Site Skin")  %></h2>
=======
<h2 class="heading"><%= ts('Create New Archive Site Skin')  %></h2>
>>>>>>> Changed title of Wizard to indicate that it only creates site skins.

<%= error_messages_for :skin %>

<%= render :partial => "skin_top_navigation" %>

<<<<<<< HEAD
<h3 class="landmark heading"><%= ts("New Archive Site Skin Wizard") %>"</h3>
=======
<h3 class="landmark heading">New Archive Site Skin Wizard</h3>
>>>>>>> Changed title of Wizard to indicate that it only creates site skins.

<%= form_for @skin do |f| %>
  <%= render 'wizard_form', :f => f %>
<% end %>
