<!--BACK END: if this is only accessed via the user dashboard it needs the user dashboard view-->
<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%= ts('Create New Archive Skin')  %></h2>

<%= error_messages_for :skin %>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => "skin_top_navigation" %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading">New Archive Skin Wizard</h3>

<%= form_for @skin do |f| %>
  <%= render 'wizard_form', :f => f %>
<% end %>
<!--/content-->
