<!--BACK END: this is accessed via the user dashboard so needs the user dashboard view and so therefore a navigation pathway back-->
<div class="skins home">
  
  <div class="primary header module">
    <h2 class="heading">
      <%= @skin.title %> <%= ts("skin by") %> <%= skin_author_link(@skin) %>    
    </h2>
    <blockquote class="userstuff">
      <%= @skin.description.blank? ? ts("(No Description Provided)") : raw(sanitize_field(@skin, :description)) %>
    </blockquote>
    <dl class="stats">
      <dt><%= ts("Users:") %></dt><dd><%= @skin.preferences.count %></dd>
      <dt><%= ts("Role:") %></dt><dd><%= @skin.role %></dd>
      <dt><%= ts("Media:") %></dt><dd><%= @skin.get_media %></dd>
      <dt><%= ts("Condition:") %></dt>
      <dd>
        <% unless @skin.ie_condition.present? || @skin.unusable? %>normal<% end %>
        <% if @skin.ie_condition.present? %><abbr title="Internet Explorer"><%= @skin.ie_condition %></abbr><% end %>
        <% if @skin.unusable? %>parent only<% end %>
      </dd>
    </dl>
    	<%= render :partial => "skin_top_navigation" %>
    	<p class="icon"><%= skin_preview_display(@skin) %></p>
  </div>

  <% unless @skin.css.blank? && @skin.filename.blank? %>
    <div class="css module">
      <h3 class="heading"><abbr title="cascading style sheets">CSS</abbr></h3>
      <blockquote><pre><%= @skin.get_css %></pre></blockquote>
    </div>
  <% end %>
  
  <% unless @skin.parent_skins.empty? %>
    <div class="parents module">
      <h3 class="heading"><%= ts("Parent Skins") %></h3>
      <ul class="index group">
      <% @skin.parent_skins.each do |parent| %>
        <li><%= link_to parent.title, skin_path(parent) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>      

  <% if @skin.margin || !@skin.font.blank? || !@skin.background_color.blank? || !@skin.foreground_color.blank? || @skin.base_em || @skin.paragraph_margin || !@skin.headercolor.blank? || !@skin.accent_color.blank? %>
    <div class="wizard module">
  		<h3 class="heading"><%= ts("Wizard Settings") %></h3>
      <p class="notes"><%= ts("(Can be overridden by custom <abbr title='cascading style sheets'>CSS</abbr>)").html_safe %></p>
  
      <div class="wrapper">
        <!--REVIEW: is this meta? It doesn't match-->
        <dl class="meta group">
          <% if @skin.margin %>
            <dt><%= ts("Margin:") %></dt><dd><%= @skin.margin %></dd>
          <% end %>
          <% unless @skin.font.blank? %>
            <dt><%= ts("Font:") %></dt><dd><%= @skin.font %></dd>
          <% end %>
          <% unless @skin.background_color.blank? %>
            <dt><%= ts("Background color:") %></dt><dd><%= @skin.background_color %></dd>
          <% end %>
          <% unless @skin.foreground_color.blank? %>
            <dt><%= ts("Foreground color:") %></dt><dd><%= @skin.foreground_color %></dd>
          <% end %>
          <% if @skin.base_em %>
            <dt><%= ts("Relative font size:") %></dt><dd><%= @skin.base_em %></dd>
          <% end %>
          <% if @skin.paragraph_margin %>
            <dt><%= ts("Paragraph margin:") %></dt><dd><%= @skin.paragraph_margin %></dd>
          <% end %>
          <% unless @skin.headercolor.blank? %>
            <dt><%= ts("Header color:") %></dt><dd><%= @skin.headercolor %></dd>
          <% end %>
          <% unless @skin.accent_color.blank? %>
            <dt><%= ts("Accent color:") %></dt><dd><%= @skin.accent_color %></dd>
          <% end %>
        </dl>
      </div<>
    </div>
  <% end %>

  <%= render :partial => "skin_navigation", :locals => {:skin => @skin} %>

</div>
