<!--Descriptive page name, messages and instructions-->
<h2><%=h t('.update_preferences', :default => 'Update My Preferences') %></h2>
<%= error_messages_for :preference %>

<!--/descriptions-->

<!--subnav-->
<h3 class="landmark">Navigation</h3>
<ul class="navigation" role="navigation">
	<li><%= link_to t('.edit_profile', :default => "Edit My Profile"), edit_user_path(@user) %></li>
	<li><%= link_to t('.manage_pseuds', :default => 'Manage My Pseuds'), user_pseuds_path(@user) %></li>
	<li><%= link_to t('.change_username', :default => "Change My Username"), url_for(:controller => :users, :action => :edit_username, :id => @user.login) %></li>
	<li><%= link_to t('.orphan_works', :default => 'Orphan My Works'), new_orphan_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<%- form_for(@preference, :url => { :action => "update", :user_id => @user }) do |f| -%>
<h4>Privacy</h4>
  <ul>
  	<li>
   	  <%= f.check_box :email_visible %>
   	  <%= f.label :email_visible, t('.display_email', :default => "Display Email Address") %>
   	</li>

  	<li>
    	  <%= f.check_box :date_of_birth_visible %>
    	  <%= f.label :date_of_birth_visible, t('.display_birthday', :default => "Display Date of Birth") %>
  	</li>
  </ul>
<h4>Site Display</h4>
  <ul>
  	<li>
    	  <%= f.check_box :adult %>
    	  <%= f.label :adult, t('.show_adult_content', :default => "Show me adult content without prompting") %>
  	</li>

  	<li>
    	  <%= f.check_box :view_full_works %>
    	  <%= f.label :view_full_works, t('.view_full_works', :default => "Always view entire work by default") %>
  	</li>

  	<li>
    	  <%= f.check_box :hide_warnings %>
    	  <%= f.label :hide_warnings, t('.hide_warnings', :default => "Hide warnings by default (you will still have the option of revealing them)")  %>
  	</li>

  	<li>
  	  <%= f.check_box :hide_freeform %>
  	  <%= f.label :hide_freeform, t('.hide_freeform', :default => "Hide freeform tags by default (you will still have the option of revealing them)")  %>
	  </li>

    <li>
      <%= f.select :skin_id, @available_skins.collect{|s| [s.title, s.id]} %>
      <%= f.label :skin_id, t('skin', :default => "skin")%>
      (<%= link_to t('.index', :default => 'Public skins'), skins_path -%>)
    </li>

  </ul>
<h4>Statistics</h4>
  <ul>
    <li>
      <%= f.check_box :hide_all_hit_counts -%>
      <%= f.label :hide_all_hit_counts, t('.preferences.hide_all_hit_counts', :default => "Don't show me any hit counts.") -%>
    </li>

    <li>
      <%= f.check_box :hide_private_hit_count -%>
      <%= f.label :hide_private_hit_count, t('.preferences.hide_private_hit_count', :default => "Don't show me hits on my works.") -%>
    </li>

    <li>
      <%= f.check_box :hide_public_hit_count -%>
      <%= f.label :hide_public_hit_count, t('.preferences.hide_public_hit_count', :default => "Don't publicly display hits on my works.") -%>
    </li>
  </ul>
<h4>Comments</h4>
  <ul>
  	<li>
    	  <%= f.check_box :comment_emails_off %>
    	  <%= f.label :comment_emails_off, t('.comment_notifications_email', :default => "Turn off comment notification emails")  %>
  	</li>

  	<li>
    	  <%= f.check_box :comment_inbox_off %>
    	  <%= f.label :comment_inbox_off, t('.comment_notifications_inbox', :default => "Turn off comment notification messages to your Inbox")  %>
  	</li>

  	<li>
    	  <%= f.check_box :admin_emails_off %>
    	  <%= f.label :admin_emails_off, t('.admin_notifications_email', :default => "Turn off admin notification emails")  %>
  	</li>

  	<li>
    	  <%= f.check_box :comment_copy_to_self_off %>
    	  <%= f.label :comment_copy_to_self_off, t('.own_comments', :default => "Turn off copies of your own comments")  %>
  	</li>
  </ul>
<h4>Collections, Challenges and Gifts</h4>
  <ul>
  	<li>
  	  <%= f.check_box :automatically_approve_collections -%>
  	  <%= f.label :pref, t('.preferences.automatically_approve_collections', :default => "Automatically approve when a moderator adds your work to a collection in the archive.") -%>
  	</li>

  	<li>
    	  <%= f.check_box :collection_emails_off %>
    	  <%= f.label :collection_emails_off, t('.preferences.collection_emails_off', :default => "Turn off notification emails from Collections.") %>
  	</li>

  	<li>
    	  <%= f.check_box :collection_inbox_off %>
    	  <%= f.label :collection_inbox_off, t('.preferences.collection_inbox_off', :default => "Turn off Inbox messages from Collections.") %>
  	</li>

  	<li>
    	  <%= f.check_box :recipient_emails_off %>
    	  <%= f.label :recipient_emails_off, t('.preferences.recipient_emails_off', :default => "Turn off gift work notification emails.") %>
  	</li>
  </ul>
<h4>Misc</h4>
  <ul>
    <li>
      <%= f.label :time_zone, t('.gift_exchange.time_zone', :default => "Your time zone: ")%>
      <%= f.time_zone_select :time_zone, nil, :default => Time.zone.name %>
    </li>

  	<li>
  	  <%= f.check_box :history_enabled %>
  	  <%= f.label :history_enabled, t('.enable_history', :default => "Enable Viewing History") %>
  	</li>

    <li>
    	<%= f.check_box :first_login %>
    	<%= f.label :first_login, t('.first_login_display', :default => "Turn on the first login help banner")  %>
    </li>

    <li>
      <%= f.label :work_title_format, t('.format_titles', :default => "Format the titles on your works and series")  %>:
			<%= f.text_field :work_title_format %>
			<%= link_to_help "work_title_format" -%>
    </li>
  </ul>


  	<p class="submit">
    	<%= f.submit t('.forms.update', :default => "Update") %>
  	</p>
<%- end -%>
<hr class="clear" />
<!--/content-->


