<h1><%=h 'Update My Preferences'.t %></h1>
<ul class="navigation">
	<li><%= link_to "edit my account".t, edit_user_path(@user) %></li>
	<li><%= link_to 'manage my pseuds'.t, user_pseuds_path(@user) %></li>
	<li><%= link_to 'orphan my works'.t, orphans_path %></li>
</ul>

<%= error_messages_for :preference %>

<%- form_for(@preference, :url => { :action => "update", :user_id => @user }) do |f| -%>  
  <ul>
    <li><%= f.check_box :history_enabled %> <%= f.label :history_enabled, "Enable History".t %></li>
    <li><%= f.check_box :email_visible %> <%= f.label :email_visible, "Display Email Address".t %></li>
    <li><%= f.check_box :date_of_birth_visible %> <%= f.label :date_of_birth_visible, "Display Date of Birth".t %></li>
    <li><%= f.check_box :adult %> <%= f.label :adult, "Show me adult content without prompting".t %></li>
	<li><%= f.check_box :hide_warnings %> <%= f.label :hide_warnings, "Hide warnings by default (you will still have the option of revealing them)".t  %></li>
  </ul>		 

  <p class="submit">
    <%= f.submit "Update".t %>
  </p>
<%- end -%>
<hr class="clear" />



