<h1><%=h "Forgot your password?" .t %></h1>
<p><%=h "Never fear - if you've forgotten your password, we can send you a  link to reset it." .t %></p>
<p><%=h "Please tell us the user name or email address you used when you signed up for your Archive account." .t %></p>

<%- form_tag passwords_path do -%>
  <p>
  	<%= label_tag 'login', 'Email address'.t + ' <strong>' + 'or'.t + '</strong> ' + 'user name:',  -%>
  	<br />
	<%= flash_field(:login) -%>	
  	<%= text_field_tag 'login', '',  :tabindex => '1' -%> 
  	<br />
    <%= submit_tag 'Reset password'.t %>
  </p>

<%- end -%>
