<h2>
  <%= 'Edit ' .t + @tag.class::NAME %>:
  <%= link_to @tag.name, tag_works_path(@tag) %>
</h2>

<%= error_messages_for :tag %>

<%- unless logged_in_as_admin? -%>
  <p>Note: actions which are restricted to admins are not offered</p>
<%- end -%>
  <p>Note: some actions are not offered on merged tags</p>

<%- form_for :tag, @tag, :url => { :action => "update"}, :html => { :method => :put } do |f| -%>
  <dl>
    <%- if @tag.is_a? Media -%>
      <%- if logged_in_as_admin? -%>
        <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
        <dd><%=h 'Checking this will remove the tag from its merger'.t %></dd>
      <%- end -%>
    <%- else -%>
      <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
      <dd><%=h 'Checking this will remove the tag from its merger'.t %></dd>
    <%- end -%>
    <dt>Merged into:</dt>
    <dd><%= link_to_tag @tag.merger %></dd>
    <%- unless @merge_possibilites.blank? -%>
      <dt><%= 'Change Merger'.t %>:</dt>
      <dd><%= select_tag :merger_id, options_from_collection_for_select( @merge_possibilites, :id, :name, @tag.merger.id) %></dd>
    <%- end -%>
  </dl>
  <p class="submit">
    <%= submit_tag "Update Tag" %>  
  </p>
<%- end -%>

<%= tag_wrangler_footer %>
