<h2>
  <%= 'Edit ' .t + @tag.class::NAME %>:
  <%= link_to @tag.name, tag_works_path(@tag) %>
</h2>

<%= error_messages_for :tag %>

<%- unless logged_in_as_admin? -%>
  <p>Note: actions which are restricted to admins are not offered</p>
<%- end -%>

<%- form_for :tag, @tag, :url => { :action => "update"}, :html => { :method => :put } do |f| -%>
  <dl>
    <%- if logged_in_as_admin? -%>
      <dt><%= f.label :name, 'Name'.t %>:</dt> 
      <dd><%= f.text_field :name %></dd>
      <dt></dt>
      <dd><%=h "Changing the name should be done with extreme caution.".t %></dd>
      <dt></dt>
      <dd><%=h "Be aware that one person's typo is another person's freedom of expression.".t %></dd>
      <%- if @tag.is_a?(Rating) -%>
        <dt><%= f.check_box("adult") %><%= f.label :adult, 'Adult'.t %>?</dt> 
        <dd><%=h 'This tag indicates adult content.'%></dd>
      <%- end %>
      <dt><%=h 'Category'.t %></dt>
      <%- Tag::TYPES.each do |type| -%>
        <dd><%= f.radio_button(:type, type) %><%= f.label :type, type %></dd>
      <%- end -%>    
      <dt></dt>
      <dd><%=h "Changing the category may have unexpected repercussions.".t %></dd>
    <%- end -%>
    <%- if @tag.class.name =~ /Rating|Warning|Category|Media/ -%>
      <%- if logged_in_as_admin? -%>
        <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
        <dd><%=h 'Uncheck this and choose a Merger if it should not be canonical'.t %></dd>
      <%- end -%>
    <%- else -%>
      <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
      <dd><%=h 'Uncheck this and choose a Merger if it should not be canonical'.t %></dd>
      <%- unless @merge_possibilites.blank?-%>
        <dt><%= 'Merge into'.t %>:</dt>
        <dd><%= select_tag :merger_id, "<option value=''>Select Merger</option>" + options_from_collection_for_select( @merge_possibilites, :id, :name, :select => "") %></dd>
      <%- end -%>
    <%- end -%>
    <%- if @tag.is_a?(Fandom) && @tag.media -%>
      <dt>Media:</dt>
      <dd><%= link_to_tag @tag.media %></dd>
      <%- unless @media.blank? -%>
        <dt><%= 'Move to new media'.t %>:</dt>
        <dd><%= select_tag :media_id, options_from_collection_for_select( @media, :id, :name, @tag.media.id) %></dd>
      <%- end -%>
    <%- end -%>
    <%- if @tag.fandom -%>
      <dt>Fandom:</dt>
      <dd><%= link_to_tag @tag.fandom %></dd>
      <%- unless @fandoms.blank? -%>
        <dt><%= 'Move to new fandom'.t %>:</dt>
        <dd><%= select_tag :fandom_id, options_from_collection_for_select( @fandoms, :id, :name, @tag.fandom.id) %></dd>
      <%- end -%>
    <%- end -%>
    <%- unless @tag.parents.blank? %>
      <dt><%= 'These tags are parents of this tag'.t %></dt>
      <%-  @tag.parents.uniq.compact.sort.group_by(&:type).each do |type, tags| -%>
        <dt><%= type.pluralize %>:</dt>
        <%- tags.each do |tag| -%>
          <dd>
            <%= check_box_tag "tag_ids[" + tag.id.to_s + "]" %>
            <%= link_to tag.name, edit_tag_path(tag) %>&nbsp;(<%= link_to tag.visible_taggables_count, tag_works_path(tag) %>)
          </dd>
        <%- end -%>
      <%- end -%>
    <%- end -%>      
    <% unless @possible_children.blank? %>
      <dt><%= "These tags are possible children.".t %></dt>
      <%-  @possible_children.each_pair do |type, tags| -%>
        <dt><%= type.pluralize %>:</dt>
        <%- tags.each do |tag| -%>
          <dd>
            <%= check_box_tag "tag_ids[" + tag.id.to_s + "]" %>
            <%= link_to tag.name, edit_tag_path(tag) %>&nbsp;(<%= link_to tag.visible_taggables_count, tag_works_path(tag) %>)
          </dd>
        <%- end -%>
      <%- end -%>
    <%- end -%>
    <% unless @tag.children.blank? %>
      <dt><%= 'These tags are children of this tag'.t -%></dt>
      <%-  @tag.children.uniq.compact.sort.group_by(&:type).each do |type, tags| -%>
        <dt><%= type.pluralize %>:</dt>
        <%- tags.each do |tag| -%>
          <dd>
            <%= check_box_tag "tag_ids[" + tag.id.to_s + "]" %>
            <%= link_to tag.name, edit_tag_path(tag) %>&nbsp;(<%= link_to tag.visible_taggables_count, tag_works_path(tag) %>)
          </dd>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </dl>
  <p class="submit">
    <%= submit_tag "Update Tag" %>  
    <%= submit_tag "Remove Parents and/or Children" unless @tag.parents.blank? && @tag.children.blank? %>  
    <%= submit_tag "Add Children" unless @possible_children.blank? %> 
  </p>
<%- end -%>

<%= tag_wrangler_footer %>
