<h2>
  <%= 'Edit ' .t + @tag.class::NAME %>:
  <%= link_to @tag.name, tag_path(@tag) %>
</h2>

<%= error_messages_for :tag %>

<%- unless logged_in_as_admin? -%>
  <p>Note: actions which are restricted to admins are not offered</p>
<%- end -%>

<%- form_for :tag, @tag, :url => { :action => "update"}, :html => { :method => :put } do |f| -%>
  <dl>
    <%- if logged_in_as_admin? -%>
      <dt><%= f.label :name, 'Name'.t %>:</dt> 
      <dd><%= f.text_field :name %></dd>
      <dt></dt>
      <dd><%=h "Changing the name should be done with extreme caution.".t %></dd>
      <dt></dt>
      <dd><%=h "Be aware that one person's typo is another person's freedom of expression.".t %></dd>
      <dt><%=h 'Category'.t %></dt>
      <%- Tag::TYPES.each do |type| -%>
        <dd><%= f.radio_button(:type, type) %><%= f.label :type, type %></dd>
      <%- end -%>    
      <dt></dt>
      <dd><%=h "Changing the category may have unexpected repercussions.".t %></dd>
    <%- end -%>
    <%- unless Tag.canonical.blank?-%>
      <dt><%= 'Disambiguators'.t %>:</dt>
      <dd><%= select_tag :tag_id, "<option value=''>Select Disambiguator</option>" + options_from_collection_for_select( Tag.canonical.sort.sort_by(&:type), :id, :name, "") %></dd>
    <%- end -%>
    <% unless @tag.children.blank? %>
      <dt><%= 'These tags are disambiguators of this tag'.t -%></dt>
      <%-  @tag.children.sort.group_by(&:type).each do |type, tags| -%>
        <dt><%= type.pluralize %>:</dt>
        <%- tags.each do |tag| -%>
          <dd>
            <%= check_box_tag "tag_ids[" + tag.id.to_s + "]" %>
            <%= link_to tag.name, edit_tag_path(tag) %>&nbsp;(<%= link_to tag.visible_taggables_count, tag_works_path(tag) %>)
          </dd>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </dl>
  <p class="submit">
    <%= submit_tag "Add Disambiguator" unless Tag.canonical.blank? %>  
    <%= submit_tag "Remove Disambiguators" unless @tag.children.blank? %>  
    <%= submit_tag "Update Tag" %>  
  </p>
<%- end -%>

<%= tag_wrangler_footer %>
