<h2><%= 'Edit Tag: ' + link_to_tag(@tag) %></h2>

<p><%= tag_comment_link(@tag) %></p>  

<table>
<caption>Uses:</caption>
  <tr>
    <th>Type</th>
    <th>Count</th>
  </tr>
  <tr>
    <td><%= link_to 'Works', {:controller => :works, :action => :index, :tag_id => @tag} %></td>
    <td><%= @tag.visible_works_count %></td>
  </tr>
  <tr>
    <td><%= "Drafts" %></td>
    <td><%= @tag.works.unposted.count %></td>
  </tr>
  <tr>
    <td><%= link_to "Bookmarks", {:controller => :bookmarks, :action => :index, :tag_id => @tag} %></td>
    <td><%= @tag.visible_bookmarks_count %></td>
  </tr>
  <tr>
    <td><%= "Private Bookmarks" %></td>
    <td><%= @tag.bookmarks.not_public.count %></td>
  </tr>
  <tr>
    <td><%= "External Works" %></td>
    <td><%= @tag.visible_external_works_count %></td>
  </tr>                              
</table>
     
<%= error_messages_for :tag %>
<%- form_for :tag, @tag, :url => { :action => "update", :id => @tag}, :html => { :method => :put } do |f| -%>

<fieldset>
  <legend>Tag info:</legend>
  <dl>
    <dt><%= f.label :name, 'Name' %></dt>
    <dd>
      <%= f.text_field :name, :size => @tag.name.length %>
      <%- unless logged_in_as_admin? -%>
      <p>Only changes to capitalization are permitted.</p>  
      <%- end -%>
    </dd>
    
    <dt><%= 'Category' %></dt>
    <!-- FRONT-END: this is important info, so it would be good to have a way to make it stand out a little more -->       
    <dd><%= @tag.type %></dd>
    
    <%- if @wranglers -%>
    <dt><%= 'Wranglers' %></dt>
    <dd><%= wrangler_list(@wranglers) %></dd>
    <%- end -%>
    
    <dt><%= f.label :canonical, 'Canonical' %></dt>
    <dd>
      <%= f.check_box("canonical", :disabled => !(logged_in_as_admin? || Tag::USER_DEFINED.include?(@tag.class.name)) || !@tag.mergers.empty? || !@tag.children.empty? ) %>&nbsp;
      <%= "This is the official name for the " + @tag.class.name %>
      <%- if @tag.canonical? && (!@tag.mergers.empty? || !@tag.children.empty?) -%>
      <p><%= link_to 'Make tag non-canonical and unhook all associations', {:controller => :tags, :action => :update, 'tag[canonical]' => 0, :id => @tag}, :method => :put, :confirm => "Are you sure?" -%></p>  
      <%- end -%>
    </dd>
    
    <dt><%= f.label :ambiguous, 'Ambiguous' %></dt>
    <dd><%= f.check_box :ambiguous %>&nbsp;<%= "This tag is ambiguous." %></dd>

    <%- if @tag.is_a?(Rating)-%>
    <dt><%= f.label :adult, 'Adult' %></dt>
    <dd><%= f.check_box("adult", :disabled => !logged_in_as_admin? )%>&nbsp;<%=h 'This tag indicates adult content.'%></dd>
    <%- end %>

    <dt><%= f.label :syn_string, 'Synonym of' %></dt>
    <dd>
      <%= f.text_field :syn_string, :size => ArchiveConfig.TAG_MAX %><%= autocomplete_text_field_with_type @tag, "tag_syn_string" -%>
      <p>Choose an existing tag or add a new tag name here to create a new canonical and associate this tag with it.</p>
      <%- if @tag.merger -%>
        <p>Edit <%= link_to_edit_tag(@tag.merger) %></p>
      <%- elsif @tag.canonical? -%>
        <!-- FRONT-END: if we have some sort of ACHTUNG! class, this would be a good place for it. -->      
        <p>Adding a synonym to a canonical tag will make it non-canonical and move its associations to the other tag. (Be careful with this!)</p>
      <%- end -%>  
    </dd>
  </dl>
</fieldset>
    
<%- if Tag::USER_DEFINED.include?(@tag[:type]) -%>
<fieldset>
  <legend>Parent tags:</legend>
  <dl>    
    <%- @tag.parent_types.each do |tag_type| -%>
      <dt><%= f.label tag_type.underscore + '_string', tag_category_name(tag_type) %></dt>
      <dd>
        <%= f.text_field tag_type.underscore + '_string', :size => ArchiveConfig.TAG_MAX %>
        <%= autocomplete_text_field_with_type @tag, "tag_#{tag_type.underscore}_string" -%><br />
        <%- if @parents[tag_type] -%>
          <%- @parents[tag_type].in_groups(2, false) do |tag_list| -%>
          <ul class="tag-column">
          <%- for tag in tag_list -%>
            <li>
              <%= link_to_edit_tag(tag) %>
              <span class="fake-tooltip">
                <%= link_to 'remove', {:controller => :tags, :action => :remove_association, :id => @tag, :to_remove => tag.name} %> 
              </span>              
            </li>
          <%- end -%>
          </ul>
          <%- end -%>
        <%- end -%>
      </dd> 
    <%- end -%>  
  </dl>
</fieldset>

<%- if @tag.canonical? %>
<fieldset>
  <legend>Child tags:</legend>
  <p><%= link_to 'wrangle all child tags', {:controller => :tags, :action => :wrangle, :id => @tag} %></p>
  <dl>    
    <%- @tag.child_types.each do |tag_type| -%>
      <dt><%= f.label tag_type.underscore + '_string', tag_category_name(tag_type) %></dt>
      <dd>
        <%= f.text_area tag_type.underscore + '_string', :size => "100x5" %>
        <%= autocomplete_text_field_with_type @tag, "tag_#{tag_type.underscore}_string" -%><br />
        <%- if @children[tag_type] -%>
          <%- @children[tag_type][0..19].in_groups(2, false) do |tag_list| -%>
          <ul class="tag-column">
          <%- for tag in tag_list -%>
            <li>
              <%= link_to_edit_tag(tag) %>
              <span class="fake-tooltip">
                <%= link_to 'remove', {:controller => :tags, :action => :remove_association, :id => @tag, :to_remove => tag.name} %>
              </span>              
            </li>
          <%- end -%>
          </ul>
          <%- end -%>
          <%- if @children[tag_type].length > 20 -%>
          <p><%= link_to "See all (#{@tag.send(tag_type.underscore.pluralize).count})", {:controller => :tags, :action => :wrangle, :id => @tag, :show => tag_type.underscore.pluralize} %></p>   
          <%- end -%>
        <%- end -%>    
      </dd> 
    <%- end -%>  
  </dl>
</fieldset>
<%- end -%>

<%- end -%>  
  
  <p class="submit">
  <%= submit_tag "Save changes" %>
  </p>
<%- end -%>

<%- if logged_in_as_admin? -%>
<p>Last updated by <%= @tag.last_wrangler.andand.login || '---' %> on <%= @tag.updated_at %></p>  
<%- end -%>

<%= tag_wrangler_footer %>