<h2>
  <%= 'Edit ' .t + @tag.class::NAME %>:
  <%= link_to @tag.name, tag_path(@tag) %>
</h2>

<%= error_messages_for :tag %>

<%- unless logged_in_as_admin? -%>
  <p>Note: actions which are restricted to admins are not offered</p>
<%- end -%>

<%- form_for :tag, @tag, :url => { :action => "update"}, :html => { :method => :put } do |f| -%>
  <dl>
    <%- if logged_in_as_admin? -%>
      <dt><%= f.label :name, 'Name'.t %>:</dt> 
      <dd><%= f.text_field :name %></dd>
      <dt></dt>
      <dd><%=h "Changing the name should be done with extreme caution.".t %></dd>
      <dt></dt>
      <dd><%=h "Be aware that one person's typo is another person's freedom of expression.".t %></dd>
      <%- if @tag.is_a?(Rating) -%>
        <dt><%= f.check_box("adult") %><%= f.label :adult, 'Adult'.t %>?</dt> 
        <dd><%=h 'This tag indicates adult content.'%></dd>
      <%- end %>
      <dt><%=h 'Category'.t %></dt>
      <%- Tag::TYPES.each do |type| -%>
        <dd><%= f.radio_button(:type, type) %><%= f.label :type, type %></dd>
      <%- end -%>    
      <dt></dt>
      <dd><%=h "Changing the category may have unexpected repercussions.".t %></dd>
    <%- end -%>
    <%- if @tag.is_a? Media -%>
      <%- if logged_in_as_admin? -%>
        <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
        <dd><%=h 'Check this to make the tag show up in lists and menus'.t %></dd>
      <%- end -%>
    <%- else -%>
      <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %>?</dt>
      <dd><%=h 'Check this to make the tag show up in lists and menus'.t %></dd>
    <%- end -%>
    <dt><%= check_box_tag("ambiguous") %><%= f.label :ambiguous, 'Ambiguous'.t %>?</dt> 
    <dd><%=h 'This tag is ambiguous.'%></dd>
    <%- unless @merge_possibilites.blank?-%>
      <dt><%= 'Merge into'.t %>:</dt>
      <dd><%= select_tag :merger_id, "<option value=''>Select Merger</option>" + options_from_collection_for_select( @merge_possibilites, :id, :name, :select => "") %></dd>
    <%- end -%>
    <%- if @tag.is_a?(Fandom) && @tag.media -%>
      <dt>Media:</dt>
      <dd><%= link_to_tag @tag.media %></dd>
      <%- unless @media.blank? -%>
        <dt><%= 'Move to new media'.t %>:</dt>
        <dd><%= select_tag :media_id, "<option value=''>Select Media</option>" + options_from_collection_for_select( @media, :id, :name, :select => "") %></dd>
      <%- end -%>
    <%- end -%>
    <%- if @tag.fandom -%>
      <dt>Fandom:</dt>
      <dd><%= link_to_tag @tag.fandom %></dd>
    <%- end -%>
    <%- unless @fandoms.blank? -%>
      <dt><%= 'Move to new fandom'.t %>:</dt>
      <dd><%= select_tag :fandom_id, "<option value=''>Select Fandom</option>" + options_from_collection_for_select( @fandoms, :id, :name, :select => "") %></dd>
    <%- end -%>
  </dl>
  <p class="submit">
    <%= submit_tag "Update Tag" %>  
  </p>
<%- end -%>

<%= tag_wrangler_footer %>
