<!--SEARCHBROWSE-->
<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%= ts("Tags") %></h2>
<!--/descriptions-->

<!--subnav-->
<% unless @collection %>
  <ul class="navigation actions" role="navigation">
    <li class="search"><%= render 'tags/search_form' %></li>
    <% if user_signed_in? %><li><%= link_to ts("Tag Sets"), tag_sets_path %></li><% end %>
    <li><%= span_if_current(ts('Most Popular'), tags_path, params[:show].blank?) %></li>
    <li><%= span_if_current ts('Random'), tags_path(:show => "random") %></li>
  </ul>
<% end %>
<!--/subnav-->

<!--main content-->
<% unless @collection %>
  <h3 class="landmark heading">
    <% if params[:show] == "random" %>
      <%= ts('Browse Random Tags')%>
    <% else %>
      <%= ts('Browse Popular Tags')%>
    <% end %>
  </h3>
<% end %>

<% if @tags %>
  <ul class="tags cloud index group">
    <!--FRONT END REVIEW: these classes are irregular-->
    <% tag_cloud @tags, %w(cloud1 cloud2 cloud3 cloud4 cloud5 cloud6 cloud7 cloud8) do |tag, css_class| %>
      <li><%= link_to_tag_works_with_text(tag, tag.name, :class => css_class.dup) %></li>
    <% end %>
  </ul>
<% end %>
<!--/content-->