<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("Tags") %></h2>

<% unless @collection %>
  <ul class="navigation actions" role="navigation">
    <li class="search"><%= render 'tags/search_form' %></li>
    <% if logged_in? %>
      <li><%= link_to ts("Tag Sets"), tag_sets_path %></li>
    <% end %>
    <li><%= span_if_current(ts('Most Popular'), tags_path, params[:show].blank?) %></li>
    <li><%= span_if_current(ts('Random'), tags_path(:show => 'random')) %></li>
  </ul>
<% end %> 

<% unless @collection %>
  <h3 class="landmark heading">
    <% if params[:show] == "random" %>
      <%= ts('Browse Random Tags')%>
    <% else %>
      <%= ts('Browse Popular Tags')%>
    <% end %>
  </h3>
<% end %>

<ol class="concise tags index group">
  <% @tags.each do |tag| %>
    <li>
      <% if @collection %>
        <%= link_to_tag_works_with_text(tag, (tag.name + " (#{tag.count})"))
 %>
      <% elsif logged_in? || logged_in_as_admin? %>
        <%= link_to_tag_works_with_text(tag, (tag.name + " (#{tag.filter_count.unhidden_works_count})"))
 %>
      <% else %>
        <%= link_to_tag_works_with_text(tag, (tag.name + " (#{tag.filter_count.public_works_count})"))
 %>
      <% end %>
    </li>
  <% end %>
</ol>
