<style type="text/css">
  .droppable { color: red;}
</style>

<p><b>Drag tags to one of the the following:</b><p>


<div id="banned_container" >
  <div id="banned" class="droppable" >
    Ban
  </div>
</div>
<%= drop_receiving_element("banned", :url =>
  { :controller => "tags", :action => "update", :tag => {:banned => true} }) %>

<p>

<div id="not_banned_container" >
  <div id="not_banned" class="droppable" >
    Remove Ban
  </div>
</div>
<%= drop_receiving_element("not_banned", :url =>
    { :controller => "tags", :action => "update", :tag => {:banned => false} }) %>

<p>

<div id="canonical_container">
  <div id="canonical" class="droppable" >
    Make canonical
  </div>
</div>
<%= drop_receiving_element("canonical", :url =>
    { :controller => "tags", :action => "update", :tag => {:canonical => true} }) %>

<p>

<div id="not_canonical_container">
  <div id="not_canonical" class="droppable" >
    Remove canonical flag
  </div>
</div>
<%= drop_receiving_element("not_canonical", :url =>
    { :controller => "tags", :action => "update", :tag => {:canonical => false} }) %>

<p>

<div id="ambiguous_container">
  <div id="ambiguous" class="droppable">
    <%= TagCategory.ambiguous.name %>
  </div>
</div>
<%= drop_receiving_element("ambiguous", :url =>
   { :controller => "tags", :action => "update", :tag => {:tag_category_id => TagCategory.ambiguous.id}}
   , :confirm => "WARNING! Changes category irreversibly (except to #{TagCategory.default.name}). Are you sure you want to do this?" 
   )%>

<p>

<div id="freeform_container">
  <div id="freeform" class="droppable">
    <%=TagCategory.default.name %>
  </div>
  <%= drop_receiving_element("freeform", :url =>
    { :controller => "tags", :action => "update", :tag => {:tag_category_id => TagCategory.default.id}}
    , :confirm => "WARNING! Changes category irreversibly (except to #{TagCategory.ambiguous.name}). Are you sure you want to do this?"    
    )%>
</div>

<p>
    <div id="changed_container" >
      <b>Tags you've modified:</b>
      <p>
    </div>

  <p>

<% (@categories + [TagCategory.ambiguous]).each do |category| -%>
  <p><b><%= category.name %> Tags:</b>
  <% category.tags.each do |tag| -%>
    <div id="<%= tag.id -%>">
      <%= render :partial => 'tag', :locals => { :tag => tag }%>
    </div>
    <%= draggable_element(tag.id.to_s, :scroll => 'window') %>
  <% end %> 
  </p>
<% end %> 

<%= link_to 'Create new tag', new_tag_path %>
<%= link_to 'Tag Categories', tag_categories_path %>
<%= link_to 'Tag Relationships', tag_relationships_path %>
<%= link_to 'Taggings', taggings_path %>
