<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("Tags") %></h2>

<div class="navigation actions module">
  <h3 class="landmark heading"><%= ts("Sorting and Navigation") %></h3>
  <% unless @collection %>
    <ul class="navigation actions" role="navigation">
      <% if logged_in? %>
        <li><%= link_to ts("Tag Sets"), tag_sets_path %></li>
      <% end %>
      <li><%= span_if_current(ts("Most Popular"), tags_path, params[:show].blank?) %></li>
      <li><%= span_if_current(ts("Random"), tags_path(:show => 'random')) %></li>
    </ul>
    <ul class="sorting actions hidden" role="menu">
      <li><h4 class="heading"><%= ts("Display As") %></h4></li>
      <li><a id="tag-list" href="#" class="current"><%= ts("List") %></a></li>
      <li><a id="tag-cloud" href="#"><%= ts("Cloud") %></a></li>
      <li><h4 class="heading"><%= ts("Sort By") %></h4></li>
      <li><a id="by-uses" href="#" class="current"><%= ts("Uses") %></a></li>
      <li><a id="by-name" href="#"><%= ts("Name") %></a></li>
    </ul>
  <% end %>
</div>

<% unless @collection %>
  <h3 class="landmark heading">
    <%= params[:show] == "random" ? ts('Listing Random Tags') : ts('Listing Popular Tags') %>
  </h3>
<% end %>

<ol class="concise tags index group">
  <% tag_cloud @tags, %w(micro milli centi deci base deka hecto kilo mega) do |tag, css_class| %>
    <li>
      <% if @collection %>
        <%= link_to_tag_works_with_text(tag, (tag.name + '<span class="count">' + ' (<span>' + "#{tag.count}" + '</span>)</span>').html_safe, :class => css_class.dup) %>
      <% elsif logged_in? || logged_in_as_admin? %>
        <%= link_to_tag_works_with_text(tag, (tag.name + '<span class="count">' + ' (<span>' + "#{tag.filter_count.unhidden_works_count}" + '</span>)</span>').html_safe, :class => css_class.dup) %>
      <% else %>
        <%= link_to_tag_works_with_text(tag, (tag.name + '<span class="count">' + ' (<span>' + "#{tag.filter_count.public_works_count}"  + '</span>)</span>').html_safe, :class => css_class.dup) %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= content_for :footer_js do %>
  <script src="/javascripts/jquery.tinysort.min.js" type="text/javascript"></script>
  <%= javascript_tag do %>
    $j(document).ready(function() {
      $j(".actions").removeClass("hidden");
      $j("#tag-cloud").click(function(e) {
        e.preventDefault();
        $j(".tags").addClass("cloud");
        $j("#tag-list").removeClass("current");
        $j(this).addClass("current");
      });
      $j("#tag-list").click(function(e) {
        e.preventDefault();
        $j(".tags").removeClass("cloud");
        $j("#tag-cloud").removeClass("current");
        $j(this).addClass("current");
      });
      $j("#by-name").click(function(e) {
        e.preventDefault();
        $j(".tags li").tsort();
        $j("#by-uses").removeClass("current");
        $j(this).addClass("current");
      });
      $j("#by-uses").click(function(e) {
        e.preventDefault();
        $j(".tags li").tsort(".count span", {order: "desc"});
        $j("#by-name").removeClass("current");
        $j(this).addClass("current");      
      });
    });
  <% end %>
<% end %>