<!--SEARCHBROWSE-->
<h2 class="heading"><%= ts("Tags") %></h2>

<% unless @collection %>
  <ul role="navigation" class="navigation actions" role="navigation">
    <li class="search"><%= render 'tags/search_form' %></li>
    <% if logged_in? %><li><%= link_to ts("Tag Sets"), tag_sets_path %></li><% end %>
    <li>
      <% if params[:show] == "random" %>
        <%= link_to ts('Most Popular'), tags_path %>
      <% else %>
        <%= span_if_current ts('Most Popular'), tags_path %>
      <% end %>
    </li>
    <li><%= span_if_current ts('Random'), tags_path(:show => "random") %></li>
  </ul>
<% end %>

<% unless @collection %>
  <h3 class="landmark heading">
    <% if params[:show] == "popular" %>
      <%= ts('Browse Popular Tags')%>
    <% else %>
      <%= ts('Browse Random Tags')%>
    <% end %>
  </h3>
<% end %>

<% if @tags %>
  <ul class="tags cloud index group">
    <!--FRONT END REVIEW: these classes are irregular-->
    <% tag_cloud @tags, %w(cloud1 cloud2 cloud3 cloud4 cloud5 cloud6 cloud7 cloud8) do |tag, css_class| %>
      <li><%= link_to_tag_works_with_text(tag, tag.name, :class => css_class.dup) %></li>
    <% end %>
  </ul>
<% end %>
