<h1>New tag</h1>

<%= error_messages_for :tag %>

<% form_for(@tag) do |f| %>
  <p>
  Name: <%= f.text_field("name") %>
  </p>
  <p>
  <%= f.check_box("banned") %>Banned    (this tag will not show up anywhere)
  <br>
  <%= f.check_box("canonical") %>Canonical    (this tag will show up in selections and lists)
  <br>
  <%= f.check_box("adult") %>Adult    (this tag indicates adult content, any work tagged with this will trigger the "do you agree to see this" page)
  </p>
  <p>
  <% TagCategory.ordered(:all).each do |category| -%>
    <%= f.radio_button("tag_category_id", category.id) %><%= category.display_name %>
  <% end -%>
  </p>
  <p>
  Please be careful.
  </p>
  <p>Once you've created a tag you can never change its name, nor can you delete it (although it can be banned. and if it is not banned, and it is not being used to tag anything, or is itself being tagged, it may be purged).
  </p>
  <p>
  Once you have selected a category, you will not be able to change it to anything other than <%= link_to TagCategory.ambiguous.display_name, tag_category_path(TagCategory.ambiguous) %> or <%= link_to TagCategory.default.display_name, tag_category_path(TagCategory.default) %>
  </p>
  <%= f.submit %>
  <% end %>
  <p>
  If, after you have created a tag, you need to change it's banned or canonical status, go to the <%= link_to 'category page', tag_categories_path %> and select the tags link in the category it is in.
  </p>
<%= tag_wrangler_footer %>

