<h1><%=h 'New tag'.t %></h1>

<%= error_messages_for :tag %>

<p>Only attributes that apply to all tags are available. Once you have saved the tag, the attributes that are particular for that tag category will be available for editing</p>

<%- form_for @tag do |f| -%>
  <dl>
    <dt><%= f.label :name, 'Name'.t %></dt> 
    <dd><%= f.text_field :name %></dd>
    
    <dt><%= f.check_box("banned") %><%= f.label :banned, 'Banned'.t %></dt>
    <dd><%=h 'This tag will not show up anywhere'.t %></dd>

    <dt><%=h 'Category'.t %></dt>
    <%- Tag::TYPES.each do |type| -%>
    <dd><%= f.radio_button("type", type) %><%= f.label :type, type %></dd>
    <%- end -%>    
  </dl>
  
  <p><%= f.submit %></p>
<%- end -%>

<%= tag_wrangler_footer %>

