<h1><%=h 'New tag'.t %></h1>

<%= error_messages_for :tag %>

<%- form_for(@tag) do |f| -%>
  <dl>  
    <dt><%= f.label :name, 'Name'.t %></dt> 
    <dd><%= f.text_field("name") %></dd>

    <dt><%= f.check_box("banned") %><%= f.label :banned, 'Banned'.t %></dt>
    <dd><%=h 'This tag will not show up anywhere'.t %></dd>

    <dt><%= f.check_box("canonical") %><%= f.label :canonical, 'Canonical'.t %></dt>
    <dd><%=h 'This is the official name for a fandom/pairing/character/etc.'.t %></dd>

    <dt><%= f.check_box("adult") %><%= f.label :adult, 'Adult'.t %></dt>    
    <dd><%=h 'This tag indicates adult content; any work tagged with this will trigger the "do you agree to see this" page'.t %></dd>

    <dt><%=h 'Category'.t %></dt>
    <%- TagCategory.ordered(:all).each do |category| -%>
    <dd><%= f.radio_button("tag_category_id", category.id) %><%= f.label :tag_category_id, category.display_name %></dd>
    <%- end -%>    
  </dl>
  
  <h3><%=h 'Please be careful!'.t %></h3>
  <p>
    <%=h "Once you've created a tag you can never change its name, nor can you delete it (although it can be banned. and if it is not banned, and it is not being used to tag anything, or is itself being tagged, it may be purged).".t %>
    <%=h 'Once you have selected a category, you will not be able to change it to anything other than'.t %> <%= link_to TagCategory.ambiguous.display_name, tag_category_path(TagCategory.ambiguous) %> <%=h 'or'.t %> <%= link_to TagCategory.default.display_name, tag_category_path(TagCategory.default) %>.
  </p>
  
  <p><%= f.submit %></p>
<%- end -%>

<%= tag_wrangler_footer %>

