<h2><% ts('Tag Search: Beta') %></h2>

<%= render :partial => 'tags/search_form' %>

<% if @tags %>
  <p><strong><%= @tags.total_entries %> Found</strong><%= link_to_help "tag-search-results-help" %></p>
  <h3 class="landmark">Tags List</h3>
  <ol class="tag index">
    <% for tag in @tags %>
      <% unless tag.nil? %>
        <li><%= tag_search_result(tag) %></li>
      <% end %>
    <% end %>
  </ol>
  <%= will_paginate @tags %>
<% end %>