<h1>Tag Search: Alpha</h1>

<%- form_tag url_for(:controller => 'tags', :action => 'search'), :method => :get do -%>
<p>
  <%= text_field_tag :query, params[:query]  %> 
  <%= submit_tag "Search tags" %>
</p> 
<%- end -%>

<p>Canonical tags are <span class='canonical'>highlighted</span>.</p>
<p>New tags will be out of alphabetical order.</p>
<p><em>book*</em> will find <em>book</em> and <em>books</em>.</p>
<p>Space means AND: <em>John Beckett</em> will find <em>John Beckett</em> and <em>Carson Beckett/John Sheppard</em>.</p> 

<%- if @tags -%>
  <%- begin -%>
    <%= will_paginate @tags %>
    <strong><%= @tags.total_entries %> Found</strong>
    <ul>
    <% for tag in @tags %>
      <li><%= tag_search_result(tag) %></li>
    <% end %>
    </ul>
  <% rescue Riddle::ConnectionError %>
    <span class='error'>Search appears to be down right now. Please try again later.</span>
  <%- end -%>
<%- end -%>

<%= tag_wrangler_footer %>
