<h2><%= @tag.name %></h2>

<% unless @works.size == 0 %>
  <h3><%=h 'Works that have been tagged with this tag or one of its synonyms'.t %></h3>
  <% @works.each do |work| %>
    <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <% end %>
<% end %>

<% unless @bookmarks.size == 0 %>
  <h3><%=h 'Bookmarks that have been tagged with this tag or one of its synonyms'.t %></h3>
  <% @bookmarks.each do |bookmark| %>
    <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark }%>
  <% end %>
<% end %>

<% unless @tags.size == 0 %>
  <h3><%=h 'Related Tags'.t %></h3>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
<% end %>

<% unless @ambiguous.size == 0 %>
  <h3><%=h 'Possibly Related Tags'.t %></h3>
  <% @ambiguous.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
<% end %>
  
<p><%= link_to 'All tags'.t, tags_path %></p>
