<h2>
  <%= @tag.name %>
</h2>

<%= error_messages_for :tag %>

<%- if logged_in_as_admin? || current_user.is_a?(User) && current_user.is_tag_wrangler? -%>
  <p><%= link_to 'Edit '.t + @tag.name, edit_tag_path(@tag) %></p>
<%- end -%>

<p><%= "This tag belongs to the".t %> <%= @tag.class::NAME %> <%= "Category".t %>.</p>

<%- if @tag.canonical -%>
  <p>This tag is a common tag. You can use this tag to
    <%= link_to 'filter works'.t ,     
        tag_works_path(@tag) %>.
  </p>
<%- end -%>

<%- if @tag.is_a?(Rating) && @tag.adult -%>
  <p><%=h 'This tag indicates adult content.'%></p>
<%- end -%>


<%- unless @tag.parents.blank? -%>
  <p>Parent tags (more general):</p>
  <%- @tag.parents.uniq.compact.sort.each do |parent| %>
    <%= link_to_tag parent %>
  <%- end -%>
<%- end -%>

<%- if @tag.merger -%>
  <p>This tag has been merged into <%= link_to_tag @tag.merger %> for filtering.</p>
  <p>Works tagged with this tag will show up in <%= link_to @tag.merger.name + "'s", tag_works_path(@tag.merger) %> filter.
<%- end -%>

<%- unless @tag.mergers.blank? -%>
  <p>Tags with the same meaning:</p>
  <%- @tag.mergers.each do |merger| %>
    <%= link_to_tag merger %>
  <%- end -%>
<%- end -%>

<%- unless @tag.children.blank? -%>
  <p>Child tags (more specific):</p>
  <%- @tag.children.uniq.compact.sort.group_by(&:type).each do |type, tags| %>
    <p><%= type.constantize::NAME.pluralize %>:</p>
    <% tags.each do |child| %>
      <%= link_to_tag child %>
    <%- end -%>
  <%- end -%>
<%- end -%>

<%- if @works -%>
  <p>This tag has not been marked common and can't be filtered on (yet).<p>
  <p>Works which have used it as a tag:</p>
  <% paginated_section @works, {:previous_label => '&laquo; Previous'.t, :next_label => 'Next &raquo;'.t} do %>
    <ul class="work-list">
      <%- for work in @works -%>
        <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
      <%- end -%>
    </ul>
  <% end %>
<%- end -%>
