<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= t(".page_heading") %>
</h2>

<p>
  <%= t(".details_html",
        tos_link: link_to(t(".tos"), tos_path),
        content_policy_link: link_to(t(".content_policy"), content_path),
        privacy_policy_link: link_to(t(".privacy_policy"), privacy_path)) %>
</p>
<!--/descriptions-->

<!--main content-->
<h3 class="heading"><%= t(".request_invitation_header") %></h3>

<%= form_for(@invite_request, html: { class: "simple" }) do |f| %>
  <%= error_messages_for @invite_request %>
  <fieldset>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit t(".add_to_list") %>
    </p>
  </fieldset>
<% end %>

<p>
  <%= t(".already_requested_html", check_status_link: link_to(t(".check_waitlist_position"), status_invite_requests_path)) %>
  <%= t(".waiting_list_count", count: InviteRequest.count) %>
  <%= t(".invitations_per_day", count: AdminSetting.current.invite_from_queue_number) %>
</p>
<!--/content-->
