<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Editing invite_request</h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to 'Show', @invite_request %></li>
	<li><%= link_to 'Back', invite_requests_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<%= form_for(@invite_request) do |f| %>
  <%= error_messages_for @invite_request %>
  <dl>
  	<dt><%= f.label :email %></dt>
    <dd><%= f.text_field :email %></dd>
    <dt><%= f.label :position %></dt>
    <dd><%= f.text_field :position %></dd>
  </dl>
  <p class="submit actions">
    <%= f.submit 'Update' %>
  </p>
<% end %>
<!--/content-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to 'Show', @invite_request %></li>
	<li><%= link_to 'Back', invite_requests_path %></li>
</ul>
<!--/subnav-->