<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Manage the invite queue</h2>
<!--/descriptions-->


<!--main content-->
  <%= form_tag reorder_invite_requests_url do %>
    <p><%= submit_tag t('.reorder_queue', :default => 'Fix the order of the queue')  %></p>
  <% end %>

<table summary="Lists each request/email and its current place in the queue. You can also delete each request">
<caption>Manage the Invite Queue</caption>
<thead>
	<tr>
	<th scope="col">Queue Position</th>
	<th scope="col">Email Address</th>
	<th scope="col">Action</th>
	</tr>
<% for request in @invite_requests %>
<tr>
  <td><%=h request.position %></td>
  <td><%=h request.email %></td>
  <td><%= link_to t('.delete_link', :default => 'Delete'), request, :confirm => t('.links.are_you_sure', :default => 'Are you sure?'), :method => :delete %></td>
</tr>
<% end %>
</table>
<!--/content-->.
.
<!--subnav-->
<!--/subnav-->
