<div class="admin">
<!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts("Manage the Invitation Queue") %></h2>
<!--/descriptions-->

<!--subnav-->
  <ul class="navigation actions" role="navigation">
    <li>
      <%= form_tag reorder_invite_requests_url do %>
        <p><%= submit_tag ts("Reorder Queue") %></p>
      <% end %>
    </li>
    <li class="search" role="search">
      <%= form_tag manage_invite_requests_path, method: :get,
          id: "invite-request-search", class: "simple search" do %>
        <fieldset>
          <%= text_field_tag :query, params[:query],
              title: ts("Find invitation requests from") %>
          <%= submit_tag ts("Search Queue") %>
        </fieldset>
      <% end %>
    </li>
  </ul>
<!--/subnav-->

<!--main content-->
  <table summary="<%= ts("Lists each request/email and its current place in the queue. You can also delete each request.") %>">
    <caption><%= ts("Manage the Invitation Queue") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= ts("Queue Position") %></th>
        <th scope="col"><%= ts("Email Address") %></th>
        <th scope="col"><%= ts("Action") %></th>
      </tr>
    </thead>
    <tbody>
      <% @invite_requests.each do |request| %>
        <tr>
          <td><%= request.position %></td>
          <td><%= request.email %></td>
          <td>
            <%= form_tag invite_request_path(request, page: params[:page], query: params[:query]), method: "delete", class: "ajax-remove" do |f| %>
              <%= submit_tag ts("Delete") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--/content-->

<!--subnav-->
  <%= will_paginate @invite_requests %>
<!--/subnav-->
</div>
