<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Manage the invite queue</h2>
<!--/descriptions-->


<!--main content-->
  <%= form_tag reorder_invite_requests_url do %>
    <p><%= submit_tag ts('Fix the order of the queue')  %></p>
  <% end %>

<table summary="Lists each request/email and its current place in the queue. You can also delete each request">
<caption>Manage the Invite Queue</caption>
<thead>
	<tr>
	<th scope="col">Queue Position</th>
	<th scope="col">Email Address</th>
	<th scope="col">Action</th>
	</tr>
<% @invite_requests.each do |request| %>
<tr>
  <td><%=h request.position %></td>
  <td><%=h request.email %></td>
  <td><%= link_to ts('Delete'), request, :confirm => ts('Are you sure?'), :method => :delete %></td>
</tr>
<% end %>
</table>
<!--/content-->.
.
<!--subnav-->
<%= will_paginate @invite_requests %>
<!--/subnav-->
