<!--Descriptive page name, messages and instructions-->
<h2 class="heading">New invite_request</h2>
<!--/descriptions-->


<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_for(@invite_request) do |f| %>
  <%= error_messages_for @invite_request %>

  <dl>
    <dt><%= f.label :email %></dt>
    <dd><%= f.text_field :email %></dd>
    <dt><%= f.label :position %></dt>
    <dd><%= f.text_field :position %></dd>
  	<dt class="landmark">Submit</dt>
	<dd class="submit actions"> <%= f.submit 'Create' %></dd>
</dl>
<% end %>

<!--subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to 'Back', invite_requests_path %></li>
</ul>
<!--/subnav-->