<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= t(".heading") %>
</h2>

<p>
  <%= t(".waiting_list", count: InviteRequest.count) %>
  <% if AdminSetting.current.invite_from_queue_enabled? %>
    <%= t(".send_rate", invites: AdminSetting.current.invite_from_queue_number) %>
  <% end %>
</p>
<!--/descriptions-->

<!--main content-->
<%= form_tag show_invite_request_path, { remote: true, method: :get, class: "simple" } do %>
  <fieldset>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <span class="submit actions">
        <%= submit_tag t(".search") %>
      </span>
    </p>
  </fieldset>
<% end %>

<div id="invite-status"></div>
<!--/content-->
