<h1><%= ts('Devmode') %></h1>
<table summary="<%= ts('Development tasks and links to the pages for doing them.') %>" id="devmode">
  <caption><%= ts('Shortcuts for Development Mode') %></caption>
  <tr>
    <th scope="col"><%= ts('Task') %></th>
    <th scope="col"><%= ts('Page') %></th>
  <tr>
    <td>Generate users</td>
    <td><a href="devmode/seedusers">Create seed users</a></td>
  </tr>
  <tr>
    <td>Generate works</td>
    <td><a href="devmode/seedworks">Create seed works, comments, etc.</a> - Don't do it on a database you value!</td>
  </tr>
  <tr>
    <td>Inspect controllers/views</td>
    <td><a href="devmode/list_controllers">See a dynamic list of active controllers, and drill down through views.</a></td>
  </tr>
  <tr>
    <td>Unregister all imported works</td>
    <td><a href="devmode/unregister_imports">Unregister all imported works</a> - Causes the archive to forget every URL that's ever been imported, so they can be imported again.</td>
  </tr>
  <tr>
    <td>Show profiling logs</td>
    <td><a href="devmode/profile_logs">Show profile logs</a></td>
  </tr>
</table>
