<h1><%= ts('Devmode') %></h1>

<ul>
  <li><a href="devmode/seedusers"><%= ts("Create seed users") %></a></li>
  <li><a href="devmode/seedworks"><%= ts("Create seed works, comments, etc.") %></a> <span class="warning">Don't do it on a database you value!</span></li>
  <li><a href="devmode/list_controllers"><%= ts("See a dynamic list of active controllers, and drill down through views.") %></a></li>
  <li><a href="devmode/unregister_imports"><%= ts("Unregister all imported works") %></a> <span>Causes the archive to forget every URL that's ever been imported, so they can be imported again.</span></li>
  <li><a href="devmode/profile_logs"><%= ts("Show profile logs") %></a></li>
</ul>
