<%= link_to ts("Devmode top"), devmode_path %>
<h1><%= ts("Controller Info") %></h1>
    <% if @errors %>
      <div class="error">
        <%= @errors %>
      </div>
    <% end %>
<div class="form">
  <table summary="<%= ts('A dynamic list of active controllers.') %>">
    <caption><%= ts('Active Controllers') %></caption>
    <tr>
      <th scope="col"><%= ts('Controller name') %></th>
      <th scope="col"><%= ts('View methods') %></th>
      <th scope="col"><%= ts('Other methods') %></th>
    </tr>
    <% for controller_info in @controllers %>
      <tr>
        <td><%=h controller_info[0] %></td>
        <td>
          <% for view_method in controller_info[1] %>
            <%= link_to h(view_method),
                :action => 'inspect_view',
                :controller_name => controller_info[0],
                :view_name => view_method
            %>,
          <% end %>
        </td>
        <td><%=h controller_info[2].inspect %></td>
      </tr>
    <% end %>
  </table>
</div>
