<%= link_to ts("Devmode top"), devmode_path %>
<h1><%= ts("Seed Works") %></h1>
    <% if @errors %>
      <div class="error">
        <%= @errors %>
        <%= "<!-- #{@errors.inspect} -->" %>
      </div>
    <% end %>
<p>
  This operation currently does not handle series, collections, parent/inspiration links, or restricted works.
</p>
<div class="form">
    <form name="seedusers" method="post" action="">
      <table summary="<%= ts('') %>">
        <caption><%= ts('') %></caption>
        <% for name, l in @params %>
          <% if l.nil? %>
            </table>
            <h3 class="heading"><%= name %></h3>
            <table summary="<%= ts('Functions and generated HTML for creating seed data.') %>">
            <caption><%= name %></caption>
            <thead>
              <tr>
                <th scope="col"><%= ts("Function") %></th>
                <th scope="col"><%= ts("Generated HTML") %></th>
                <th scope="col"><%= ts("Description") %></th>
              </tr>
            </thead>
            <tbody>
          <% else %>
            <% display_name = name %>
            <% input_type, default = l[0], l[1] %>
            <% desc = l.length >= 3? l[2]: '' %>
            <tr>
              <th scope="row"><%= display_name %></th>
              <td><%= "<input name=\"#{name}\" type=\"#{input_type}\" value=\"#{default}\"/>"%></td>
              <td><%= desc %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <p class="warning error">This may time out! The process will continue to run, and works will be added. (If it errors, it does so quickly...)</p>
      <input type="submit" name="seed" value="Create seed works"/>
    </form>
</div>
