<%= link_to ts("Devmode top"), devmode_path %>
<h1><%= ts("Seed Users") %></h1>
    <% if @errors %>
      <div class="error">
        <%= @errors %>
      </div>
    <% end %>
<div class="form">
    <form name="seedusers" method="post" action="">
      <p>Using this form, you may create many users quickly :).</p>
        <ul class="devmode">
          <li>{user_count} sequentially numbered users will be created, starting from {user_start}</li>
          <li>Usernames will be generated sequentially in the form "{user_prefix}{number}"</li>
          <li>E-mail addresses will be generated similarly in the form "{email_prefix}{number}{email_suffix}"</li>
          <li>Password will be set to {password}</li>
          <li>If you select the {prevalidate} option, then users will be activated automatically, and e-mail addresses can be falsified.</li>
        </ul>

      <table summary="<%= ts('Functions for generating seed users.') %>">
        <caption><%= ts('Functions for Creating Seed Users') %></caption>
        <thead>
          <tr>
            <th span="col"><%= ts("Function") %></th>
            <th span="col"><%= ts("Generated HTML") %></th>
          </tr>
        </thead>
        <tbody>
          <% for name, (type_name, default) in @params %>
            <tr>
              <th span="row"> <%= name %> </th>
              <td><%= "<input name=\"#{name}\" type=\"#{type_name}\" value=\"#{default}\"/>"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <input type="submit" name="seed" value="Create seed users"/>
    </form>
</div>
