<%= form_for(@admin_blacklisted_email) do |f| %>
  <% if @admin_blacklisted_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_blacklisted_email.errors.count, "error") %> prohibited this admin_blacklisted_email from being saved:</h2>

      <ul>
      <% @admin_blacklisted_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
