<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Orphan All Works by') %> <%= pseud.name %></h2>

<p class="caution">
<%= ts("Are you sure you want to") %>
<strong><%= ts("permanently") %></strong>
<%= ts("remove all identifying information from all the works you've posted to 
the archive under this pseud, along with their chapters, 
associated series and any feedback replies you may have left?") %>
</p>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_tag orphans_path do %>
  <%= render :partial => 'orphans/choose_pseud' %>
  <%= hidden_field_tag 'pseud_id', pseud.id %> 
  <p class="submit actions"><%= submit_tag ts("Yes, I'm sure") %></p>
<% end %>
<!--/content-->
