<!--Descriptive page name, messages and instructions-->
<h2><%= ts('Orphan Work') %></h2>

<p class="caution">
<%= ts('Are you sure you want to') %>
<strong><%= ts("permanently")%></strong>
<%= ts('remove all identifying data from your work ') + work.title.html_safe + ts(', its chapters, associated series and any feedback replies you may have left on it?') %>
</p>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_tag orphans_path do %>
  
  <%= render :partial => 'orphans/choose_pseud' %>
  
  <p><%= hidden_field_tag 'work_id', work.id %></p>
  <p class="submit actions"><%= submit_tag ts("Yes, I'm sure") %></p>
<% end %>
<!--/content-->

<!--subnav-->
<!--/subnav-->
