<h1><%=h 'Orphan All Works'.t %></h1>

<p><%=h 'Are you sure you want to'.t %> <strong><%=h 'permanently'.t %></strong> <%=h "remove all identifying information from all the works you've posted to the archive, along with their chapters, associated series and any feedback replies you may have left?".t %></p>

<%- form_tag orphans_path do -%>
  <%= render :partial => 'orphans/choose_pseud' %>
  <p class="submit"><%= submit_tag "Yes, I'm sure".t %></p>
<%- end -%>