<h1><%=h t('orphan_pseud_orphan_all', :default => 'Orphan All Works by {{name}}', :name => pseud.name) %>'</h1>

<p><%= t('orphan_pseud_are_you_sure', :default => 'Are you sure you want to <strong>permanently</strong> remove all identifying information from all the works you've posted to the archive under this pseud, along with their chapters, associated series and any feedback replies you may have left?") %></p>

<%- form_tag orphans_path do -%>
  <%= render :partial => 'orphans/choose_pseud' %>
  <%= hidden_field_tag 'pseud_id', pseud.id %> 
  <p class="submit"><%= submit_tag t('orphan_pseud_yes', :default => "Yes, I'm sure") %></p>
<%- end -%>