<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%=h ts('Orphan All Works') %></h2>

<p class="caution">
<%= ts("Are you sure you want to") %>
<strong><%= ts("permanently") %></strong>
<%= ts("remove all identifying information from all the works you've posted to 
the archive, along with their chapters, 
associated series and any feedback replies you may have left?") %>
</p>

<%= form_tag orphans_path do %>
  <%= render :partial => 'orphans/choose_pseud' %>
  <p class="submit actions"><%= submit_tag ts("Yes, I'm sure") %></p>
<% end %>
