<fieldset>
  <h2>Invite new users</h2>
  
  <p>Send an invite code to the following email address</p>
  <% form_for :invitation, @invitation, :url => {:controller => 'admin/admin_invitations', :action => :create} do |f| %>
    <dl>
      <dt><%= f.label :invitee_email, t('email address', :default => 'Email address') %></dt>
      <dd><%= f.text_field :invitee_email %></dd>
    </dl>
    <p><%= f.submit t('submit_invite', :default => 'Invite user')  %></p>
  <% end %>
  
  <p>Send invite codes to people in our <%= link_to 'invitations queue', invite_requests_path %></p>
  <p>(There are currently <%= InviteRequest.count %> requests in the queue.)</p>
  <% form_tag url_for(:controller => 'admin/admin_invitations', :action => 'invite_from_queue') do %>
    <dl>
      <dt><%= label_tag :invite_from_queue, t('invite_from_queue', :default => 'Number of people to invite:') %></dt>
      <dd><%= text_field_tag :invite_from_queue  %></dt>
    </dl>
    <p><%= submit_tag t('submit_queue', :default => 'Invite from queue')  %></p>
  <% end %>
</fieldset>

<fieldset>
  <h2>Give invite codes to current users</h2>
  
  <% form_tag url_for(:controller => 'admin/admin_invitations', :action => 'grant_invites_to_users') do %>
    <dl>
      <dt><%= label_tag :number_of_invites, t('number_of_invites', :default => 'Number of invites:') %></dt>
      <dd><%= text_field_tag :number_of_invites %></dt>

      <dt><%= label_tag :user_group, t('user_group', :default => 'Users:') %></dt>
      <dd><%= select_tag :user_group, "<option>All</option><option>With no unused invites</option>"  %></dt>
    </dl>
    <p><%= submit_tag "Generate invites" %></p>
  <% end %>
</fieldset>

<fieldset>
  <h2>Track invitations</h2>
    <% form_tag url_for(:controller => 'admin/admin_invitations', :action => 'find'), :method => :get do %>
    <dl>
      <dt><%= label_tag :user_name, t('user_name', :default => 'Enter a user name:') %></dt>
      <dd><%= text_field_tag :user_name  %></dt>
      <dt><%= label_tag :token, t('user_name', :default => 'Enter an invite token:') %></dt>
      <dd><%= text_field_tag :token  %></dt>
    </dl>
    <p><%= submit_tag "Go" %></p>
  <% end %>

</fieldset>
