<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :subscribable_id %><br />
    <%= f.text_field :subscribable_id %>
  </div>
  <div class="field">
    <%= f.label :subscribable_type %><br />
    <%= f.text_field :subscribable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
