<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Listing subscriptions") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<dl class="subscription index group">
<% @subscriptions.each do |subscription| %>
  <dt>
    <%= link_to(subscription.name, subscription.subscribable) %>
    (<%= subscription.subscribable_type %>)
    <% if %w(Work Series).include?(subscription.subscribable_type) %>
      <%= ts("by %{names}", :names => byline(subscription.subscribable)).html_safe %>
    <% end %>
  </dt>
  <dd>
    <%= form_for [current_user, subscription], :html => {:method => :delete} do |f| %>
      <%= f.submit ts("Unsubscribe from %{name}", :name => subscription.name).html_safe %>
    <% end %>
  </dd>
<% end %>
</dl>
