<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= params[:type].blank? ? ts('My Subscriptions') : 
  ts('My %{type} Subscriptions', type: params[:type].to_s.singularize.titleize)
  %>
</h2>
<!--/descriptions-->

<!--subnav-->
<h3 class="landmark heading"><%= ts('Navigation') %></h3>
<ul class="navigation actions" role="navigation">
  <li>
    <%= span_if_current ts('All Subscriptions'),
    user_subscriptions_path(@user), params[:type].blank? %>
  </li>
  <li>
    <%= span_if_current ts('Series Subscriptions'),
    user_subscriptions_path(@user, :type => "series"), 
    params[:type] == "series" %>
  </li>
  <li>
    <%= span_if_current ts('User Subscriptions'),
    user_subscriptions_path(@user, :type => "users"), 
    params[:type] == "users" %>
  </li>
  <li>
    <%= span_if_current ts('Work Subscriptions'),
    user_subscriptions_path(@user, :type => "works"), 
    params[:type] == "works" %>
  </li>
</ul>
<!--/subnav-->

<!--main content-->
<%= will_paginate @subscriptions %>

<h3 class="landmark heading"><%= ts('List of Subscriptions') %></h3>
<dl class="subscription index group">
  <% @subscriptions.each do |subscription| %>
    <dt>
      <% if subscription.subscribable.nil? %>
        <%= subscription.name %>
      <% else %>
        <%= link_to(subscription.name, subscription.subscribable) %>
      <% end %>
      <% if params[:type].blank? && subscription.subscribable_type == "Work" %>
        <%= t(".work") %>
      <% end %>
      <% if params[:type].blank? && subscription.subscribable_type == "Series" %>
        <%= t(".series") %>
      <% end %>
      <% unless subscription.subscribable.nil? || subscription.subscribable_type == "User" %>
        <%= t(".byline", :creators => byline(subscription.subscribable)).html_safe %>
      <% end %>
    </dt>
    <dd>
      <%= form_for [current_user, subscription], :html => {:method => :delete} do |f| %>
        <%= f.submit t(".unsubscribe", :name => subscription.name).html_safe %>
      <% end %>
    </dd>
  <% end %>
</dl>

<%= will_paginate @subscriptions %>
<!--/content-->