

<% if participant %>
<li id="participant_<%= participant.id %>">
  <%= form_for(participant, :as => :collection_participant, :url => {:controller => "collection_participants", :action => "update"}) do |form| %>
    <span class="byline"><%= link_to participant.pseud.byline, user_path(participant.pseud.user) %><%= form.hidden_field :id %><%= form.hidden_field :collection_id %></span>

  <ul class="actions" role="menu">
      <li title="select role"><%= form.select(:participant_role, CollectionParticipant::PARTICIPANT_ROLE_OPTIONS, {}, :id => participant.pseud.user.login + "_role") %></li>
      <li><%= form.submit ts("Update"), :id => participant.pseud.user.login + "_submit" %></li>
  <% end %>
      <li><%= button_to ts("Remove"), collection_participant_path(@collection, participant), 
    :confirm => ts('Are you certain you want to remove %{participant}?', 
              :participant => participant.pseud.name), 
              :method => :delete %>
      </li>
  </ul>
</li>
<% end %>