<h1>Participants in <%= @collection.title -%></h1>

<table id="collection_participants_table">
<caption><%=h t('list', :default => "List of participants") -%></caption>
<tr>
  <th scope="col"><%=h t('participant', :default => "Participant") -%></th>
  <th scope="col"><%=h t('role', :default => "Role") -%></th>
  <th scope="col"><%=h t('manage', :default => "Manage") -%></th>
</tr>
<%- @collection_participants.each do |participant| -%>
  <%= render :partial => 'participant_form', :locals => {:participant => participant} %>
<%- end -%>
</table>

<%= render :partial => 'add_participants_form' -%>
