<div id="work">
  <%= render :partial => 'downloads/download_preface.html' %>

  <div id="chapters" class="userstuff">
    <% if @chapters.size > 1 %>
      <% for chapter in @chapters %>
        <%= render :partial => 'downloads/download_chapter.html', :locals => {:chapter => chapter} %>
      <% end %>
    <% else %>
      <%=raw sanitize_field(@chapters.first, :content) %>
    <% end %>
  </div>

  <%= render :partial => 'downloads/download_afterword.html' %>

  <div class="kudos">
        <%= form_for Kudo.new do |kudo_form| %>
          <%= kudo_form.hidden_field :commentable_id, :value => @work.id %>
          <%= kudo_form.hidden_field :commentable_type, :value => "Work" %>
          <%= kudo_form.submit ts("Kudos ♥") %>
        <% end %>
  </div>

</div>
