<div id="<%= tag.id -%>">
  <%= link_to tag.name, tag, :popup => true %>
  <% if tag.canonical? %>(<%=h 'Canonical'.t %>)<% end -%>
  <% if tag.banned? %>(<%=h 'Banned!'.t %>)<% end -%>
  <% if tag.adult? %>(<%=h 'Adult!'.t %>)<% end -%>
  <br />
</div>
