<h2><%=h 'TagWrangler:'.t %> <%= @tag_category.display_name %> <%=h 'tag category'.t %> </h2>

<p><%=h 'Drag a tag by its handle'.t %> (<img src="/images/drag.png" alt="drag me" />) <%=h 'and drop it on the following line to move it to the'.t %> <%= @tag_category.display_name %> <%=h 'category, or onto an'.t %> <%= @tag_category.display_name %> <%=h 'Tag, in order to create a'.t %> <%= link_to TagRelationship.disambiguate.name, tag_relationship_path(TagRelationship.disambiguate) %> <%=h 'relationship'.t %></p>

<div id=<%= @tag_category.display_name %> class="droppable">
    <%=h 'Move to'.t %> <%= @tag_category.display_name %> <%=h 'category'.t %>
</div>
<%= drop_receiving_element(@tag_category.display_name, 
   :url => { :action => 'change_tag', :tag => {:tag_category_id => @tag_category.id}},
   :confirm => "WARNING! Changes category irreversibly (except to #{TagCategory.default.display_name}). Are you sure you want to do this?"
   )%>

<p><strong><%= @tag_category.display_name %> Tags:</strong>
<div id="change">
  <% @tag_category.tags.each do |tag| -%>
    <%= render :partial => 'droppable', :locals => { :tag => tag }%>
  <% end %> 
</div>

<% TagCategory.official(:include => 'tags').each do |category| -%>
  <p><strong><%= category.display_name %> <%=h 'Tags:'.t %></strong>
  <% category.tags.each do |tag| -%>
    <%= render :partial => 'draggable', :locals => { :tag => tag }%>
  <% end %>
<% end %>

<%= tag_wrangler_footer %>


