<h2>TagWrangler: Edit <%= @tag_category.display_name %> tag category </h2>

<%= error_messages_for :tag_category %>
<% form_for(@tag_category) do |f| %>
  <p>Name: <%= f.text_field("display_name") %>
  <%= render :partial => 'reo' %>
  <%= f.submit %>
<% end %>
<%= tag_wrangler_footer %>
