<h2><%=h 'TagWrangler: Category wrangling'.t %></h2>
<table id="tag-wrangling">
<caption><!--A summary of the table contents and purpose here please--></caption>
  <tr>
    <th scope="col"><%=h 'Name'.t %></th>
    <th scope="col"><%=h 'Required'.t %></th>
    <th scope="col"><%=h 'Exclusive'.t %></th>
    <th scope="col"><%=h 'Work menu'.t %></th>
  </tr>
  <tr>
    <td><%=h 'Unsorted'.t %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <%- if logged_in_as_admin? -%><td></td><%- end -%>
    <td><%= link_to 'show tags'.t, tag_category_path(0) %></td>
  </tr>
  <% @tag_categories.each do |tag_category| %>
  <tr>
    <td><%= tag_category.display_name %></td>
    <td><% if tag_category.required %>X<% end %></td>
    <td><% if tag_category.exclusive %>X<% end %></td>
    <td><% if tag_category.official %>X<% end %></td>
    <td><%= link_to 'edit'.t, edit_tag_category_path(tag_category) %></td>
    <%- if logged_in_as_admin? -%>
    <td>
        <%= link_to "delete".t, tag_category, :confirm => "This will move all its tags into the unsorted category, are you sure?".t, :method => :delete %><% if tag_category == TagCategory.default_tag_category || tag_category == TagCategory.ambiguous_tag_category -%>*<% end -%>
    </td>
    <%- end -%>
    <td><%= link_to 'show tags'.t, tag_category_path(tag_category) %></td>
  </tr>
  <% end %>
</table>

<%- if logged_in_as_admin? -%>
<p><%=h '*Note: If deleted, this category will be re-generated (without any tags) when you refresh the page'.t %></p>
<%- end -%>

<%= tag_wrangler_footer %>
