<h2>TagWrangler: Set Adult, Banned and Canonical Flags for <%= @tag_category.display_name %> tags</h2>
<p>Drag a tag by it's handle (<img src="/images/drag.png" alt="drag me">) and drop it on one of the following four lines:</p>

<% ['banned', 'canonical', 'adult'].each do |kind| %>
  <p><div id=<%=kind%> class="droppable" >mark <%= kind.capitalize %></div>
  <p><div id="not_<%=kind%>" class="droppable" >remove the <%= kind.capitalize %> flag</div>
  <%= drop_receiving_element(kind, :url =>
    { :action => "update_tag", :tag => {kind => true} }) %>
  <%= drop_receiving_element("not_#{kind}", :url =>
    { :action => "update_tag", :tag => {kind => false} }) %>
<% end %>

<p><b><%= @tag_category.display_name %> Tags:</b>
<% @tag_category.tags.each do |tag| -%>
  <%= render :partial => 'draggable', :locals => { :tag => tag }%>
<% end %> 

<%= tag_wrangler_footer %>
