<h2><%=h 'TagWrangler: Set Adult, Banned and Canonical Flags for'.t %> <%= @tag_category.display_name %> <%=h 'tags'.t %></h2>
<p><%=h 'Drag a tag by its handle'.t %> (<img src="/images/drag.png" alt="drag me">) <%=h 'and drop it on one of the following four lines:'.t %></p>

<% ['banned', 'canonical', 'adult'].each do |kind| %>
  <p><div id=<%=kind%> class="droppable" >mark <%= kind.capitalize %></div>
  <p><div id="not_<%=kind%>" class="droppable" >remove the <%= kind.capitalize %> flag</div>
  <%= drop_receiving_element(kind, :url =>
    { :action => "update_tag", :tag => {kind => true} }) %>
  <%= drop_receiving_element("not_#{kind}", :url =>
    { :action => "update_tag", :tag => {kind => false} }) %>
<% end %>

<p><b><%= @tag_category.display_name %> <%=h 'Tags:'.t %></b>
<% @tag_category.tags.each do |tag| -%>
  <%= render :partial => 'draggable', :locals => { :tag => tag }%>
<% end %> 

<%= tag_wrangler_footer %>
