<!--Descriptive page name, messages and instructions-->
<h2><%= t('log_in', :default => "Log in as Admin") %></h2>
<!--/descriptions-->

<!--main content-->
<%- form_tag(:controller => 'admin/admin_session', :action => :create) do -%>
	<dl>
		<dt><%= label_tag :admin_login, t('name', :default => "Admin user name") %></dt>
  			<dd><%= text_field_tag 'admin_login' %></dd>
		<dt><%= label_tag :admin_password, t('password', :default => "Admin password") %></dt>
  			<dd><%= password_field_tag 'admin_password' %></dd>
	</dl>
  	<p class="submit"><%= submit_tag t('submit', :default => 'Log in') %></p>
<%- end -%>
<!--/content-->