<!--Descriptive page name, messages and instructions-->
<h2><%= @fandom.name %></h2>
<!--/descriptions-->

<!--subnavigation, sorting and actions-->
<ul class="navigation" role="navigation">
  <li><%= link_to "Works", tag_works_path(@fandom) %></li>
  <li><%= link_to "Bookmarks", tag_bookmarks_path(@fandom) %></li>
</ul>
<!--subnav-->

<!--main content-->
<h3>Characters and Relationships</h3>
<%- unless @characters.blank? -%>
<ul>
  <%- for character in @characters -%>
  <li>
    <%= link_to character.name, tag_works_path(character) %>
    <%- unless character.relationships.empty? -%>
    <ul>
      <%- for relationship in character.relationships -%>
      <li><%= link_to relationship.name, tag_works_path(relationship) %></li>
      <%- end -%>
    </ul>
    <%- end -%>
  </li>
  <%- end -%>
</ul>
<%- end -%>
<!--/content-->
