<!--ZONE- TAGS, ZONE HOME? Descriptive page name, messages and instructions-->
<h2 class="heading">Fandoms in need of a wrangler</h2>
<!--/descriptions-->

<!--subnav-->
<%= will_paginate(@fandoms) %>

<!--sorting subnav-->
<ul class="sorting actions" role="menu">
  <li><h4 class="heading"><%= ts('Sort By') %></h4></li>
  <li><%= link_to ts('Name'), unassigned_fandoms_path %></li>
  <li><%= link_to ts('Work Count'), unassigned_fandoms_path(:sort => :count) %></li>
</ul>
<!---/subnav-->
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading">Listing fandoms</h3>

<% unless @fandoms.blank? %>
  <ul class="fandoms">
    <% for fandom in @fandoms %>
      <li>
        <%= link_to fandom.name + " (#{fandom.count})", {:controller => :tags, :action => :show, :id => fandom.to_param} %>
      </li>
    <% end %>
  </ul>
<% end %>

<!--subnav-->
<h3 class="landmark heading"><%= ts('Filters') %></h3>
<%= form_tag unassigned_fandoms_path, :class => 'filters', :method => :get do %>
  <dl class="filters" role="menu">
    <dt>Filter by Media</dt>
    <dd>
      <p>Show only:</p>
      <%= select_tag :media_id, options_for_select([''] + Media.canonical.by_name.map{|m| m.name}, params[:media_id]) %>
    </dd>
  </dl>
  <p class="submit actions"><%= submit_tag 'Go' %></p>  
<% end %>

<h3 class="landmark heading">Next Page</h3>
<%= will_paginate(@fandoms) %>
<!--/subnav-->
