<div id="work-form" class="work-form">
  <%- form_for(@external_work) do |f| -%>
    <fieldset>
      <legend>Work Preface</legend>
      <dl>
        <dt><%= f.label :url, t('.form_url', :default => "URL: ") %></dt>
        <dd>
    	    <%= f.text_field :url %>
        </dd>
        <dt><%= f.label :author, t('.form_author', :default => "Author: ") %></dt>
        <dd>
          <%= f.text_field :author %>
          <%= generate_countdown_html("bookmark_external_author", ExternalWork::AUTHOR_LENGTH_MAX) -%>      
        </dd>
        <dt><%= f.label :title, t('.form_title', :default => "Title: ") %></dt>
        <dd>
          <%= f.text_field :title %>
          <%= generate_countdown_html("bookmark_external_title", ArchiveConfig.TITLE_MAX) -%>      
        </dd>
        <dt>
        <%= f.label :summary, t('.form_authors_summary', :default => "Author's Summary") %>
        <%=h t('.form_please_paste', :default => "(please copy and paste from original work)") %></dt>
        <dd>
          <%= f.text_area :summary, :rows => 5, :class => "summary-field"%>
          <%= generate_countdown_html("bookmark_external_summary", ArchiveConfig.SUMMARY_MAX) -%>      
        </dd>
      </dl>
    </fieldset>
  
    <%= render :partial => 'works/work_tags_form', :locals => {:work => @external_work, :include_blank => false} %>  
    <p class="submit"><%= f.submit %></p>
  <%- end -%>
</div>
