<!--Descriptive page name, messages and instructions-->
<%= error_messages_for :feedback %>

<h2 class="heading"><%= ts("Support and Feedback") %></h2>
<!--/descriptions-->

<!--subnav-->
<h4 class="landmark heading"><%= ts("Reference Links") %></h4>
<ul class="navigation actions" role="navigation">
  <li><%= link_to ts("FAQs & Tutorials"), archive_faqs_path %></li>
  <li><%= link_to ts("Release Notes"), admin_posts_path(:tag => 1) %></li>
  <li><%= link_to ts("Known Issues"), known_issues_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<% if @admin_setting.disable_support_form %>
  <div class="userstuff">
    <%= raw sanitize_field(@admin_setting, :disabled_support_form_text) %>
  </div>
<% else %>
  <h3 class="heading"><%= ts("Please use this form for questions about how to use the Archive and for reporting any technical problems.") %></h3>
  <div class="userstuff">
    <p><%= ts("For current updates on Archive performance or downtime, please check out our Twitter feed: %{twitter_link}.",  twitter_link: link_to(ts("@AO3_Status"), "https://twitter.com/AO3_Status")).html_safe %></p>
    <p><%= ts("For reports of violations of the Terms of Service such as harassment, spam, or plagiarism, or if you believe your account has been hacked, please %{contact_abuse_link} instead. We cannot act on these reports or provide information about Policy and Abuse cases.", contact_abuse_link: link_to(ts("contact our Policy and Abuse team"), new_abuse_report_path)).html_safe %></p>
    <p><%= ts("Some issues you can contact Support about include:") %></p>
    <ul>
      <li><%= ts("Bugs, errors, or unexpected site behavior") %></li>
      <li><%= ts("Questions about how to use the site") %></li>
      <li><%= ts("Problems setting up your account") %></li>
      <li><%= ts("Lost password or email preventing access to your account") %></li>
      <li><%= ts("Requests to canonize or change tags") %></li>
      <li><%= ts("Feature requests for future development") %></li>
      <li><%= ts("Questions about orphaned works") %></li>
      <li><%= ts("Works labeled with the wrong language") %></li>
      <li><%= ts("General site policy questions") %></li>
    </ul>
    <p><%= ts("<strong>We respond to every report we receive, but we are a small volunteer team.</strong> For this reason, we ask you to not submit multiple reports regarding any one issue, or encourage other people to report the same issue, unless there is additional information to offer.").html_safe %></p>
    <p><%= ts("<strong>We can answer Support inquiries in %{list}.</strong> Please allow for additional delay for responses in any language other than English.", list: @support_languages.map(&:name).to_sentence).html_safe %></p>
  </div>
  <%= form_for(@feedback, html: {class: "post feedback"}) do |f| %>
    <fieldset>
      <legend><%= ts("Contact Information") %></legend>
      <p class="notice" id="email-field-description">
        <%= ts("Our spam filter does collect IP addresses, but we never see them.") %>
      </p>
      <dl>
        <dt><%= f.label :username, ts("Your name (optional)") %></dt>
        <dd>
          <%= f.text_field :username %>
        </dd>
        <dt class="required"><%= f.label :email, ts("Your email (required)") %></dt>
        <dd class="required">
          <%= f.text_field :email, size: 60, "aria-describedby" => "email-field-description" %>
        </dd>
      </dl>
    </fieldset>

    <fieldset>
      <legend><%= ts("Describe Your Feedback") %></legend>
      <dl>
        <dt class="required">
          <%= f.label :language, ts("Select language (required)") %>
        </dt>
        <dd class="required">
          <%= f.collection_select(:language, @support_languages, :name, :name, { selected: @feedback.language || Language.default.name }) %>
        </dd>
        <dt class="required">
          <%= f.label :summary, ts("Brief summary of your question or problem (required)") %>
        </dt>
        <dd class="required">
          <%= f.text_field :summary, size: 60, class: "observe_textlength" %>
          <%= generate_countdown_html("feedback_summary", ArchiveConfig.FEEDBACK_SUMMARY_MAX_DISPLAYED) %>
          <%= live_validation_for_field("feedback_summary",
                failureMessage: ts("Please enter a brief summary of your message")) %>
        </dd>
        <dt class="required">
          <%= f.label :comment, ts("Your question or problem (required)") %>
        </dt>
        <dd class="required">
          <p id="comment-field-description">
            <%= ts("Please be as specific as possible, including error messages and/or links") %>
          </p>
          <%= f.text_area :comment, cols: 60, "aria-describedby" => "comment-field-description" %>
          <%= live_validation_for_field("feedback_comment",
                failureMessage: ts("Please enter your feedback")) %>
        </dd>
      </dl>
    </fieldset>

    <fieldset>
      <legend><%= ts("Send Your Feedback") %></legend>
      <p class="submit actions">
        <%= f.submit ts("Send"), data: { disable_with: ts("Please wait...") } %>
      </p>
    </fieldset>
  <% end %>
<% end %>
<!--/content-->
