<%= error_messages_for :feedback %>

<h2 class="heading"><%= ts('Support and Feedback') %></h2>

<h3 class="heading"><%= ts("We love to hear from our users! If you'd like to ask for help, make a suggestion, or give us feedback, please use this form.") %></h3>

<p><%= ts("For live updates on Archive performance, please check out our Twitter feed:") %> <a href="http://twitter.com/ao3_status">@AO3_status</a>.</p>

<p><%= ts("We're still in our beta phase, so there are lots of improvements and") %> <a href="http://transformativeworks.org/node/96" title="Archive Roadmap">new features planned</a>. <%= ts("Please do use this form to let us know about your experience of using the site - good and bad.
  If you'd like a reply, make sure you include your email address, but anonymous feedback is welcomed as well.") %></p>

<p><%= ts("When reporting an issue, please remember that more info is always welcome. Let us know what error pages/messages you're seeing. Include links if applicable!") %></p>

<p><%= ts("If you're looking for help, you can find answers to many common questions in our") %> <%= link_to ts("FAQ section"), archive_faqs_path %></p> 

<p><%= ts("You may also want to check out our") %> <%= link_to ts("Known Issues"), known_issues_path %>.</p>

<%= form_for(@feedback, :html => {:class => "post feedback"}) do |f| %>
  <fieldset>
  <legend><%= ts('Describe Your Feedback') %></legend>
  <dl>
    <dt><%= f.label :category, ts("Please select a category") %>:</dt>
    <dd>
      <%= f.select("category", [ 
            [Feedback::BUGS_BUG_NAME, Feedback::BUGS_BUG], 
            [Feedback::BUGS_FEEDBACK_NAME, Feedback::BUGS_FEEDBACK],  
            [Feedback::BUGS_MISC_NAME, Feedback::BUGS_MISC], 
            [Feedback::BUGS_ASSISTANCE_NAME, Feedback::BUGS_ASSISTANCE], 
            [Feedback::BUGS_LANG_NAME, Feedback::BUGS_LANG], 
            [Feedback::BUGS_TAGS_NAME, Feedback::BUGS_TAGS] ], 
         :selected => Feedback::BUGS_MISC) %>
     </dd>
     <dt><%= f.label :summary, "Brief summary (required):" %></dt>
     <dd>
       <%= f.text_field :summary, :size => 60, :class => "observe_textlength" %>
       <%= generate_countdown_html("feedback_summary", ArchiveConfig.FEEDBACK_SUMMARY_MAX) %>
       <p>
       <%= live_validation_for_field('feedback_summary', :failureMessage => 'Please enter a brief summary of your message') %>
       </p>
     </dd>
     <dt><%= f.label :comment, ts("Your comment (required)") %>:</dt>
     <dd>
       <%= f.text_area :comment, :cols => 60 %>
       <p><%= live_validation_for_field('feedback_comment', :failureMessage => 'Please enter your message') %></p>
     </dd>
     <dt><%= f.label :email, ts("Your email (optional)") %>:</dt>
     <dd><%= f.text_field :email, :size => 60 %></dd>
   </dl>
  </fieldset>
  <fieldset>
    <legend><%= ts('Send Feedback') %></legend>
    <%= f.hidden_field :user_agent, :value => request.env["HTTP_USER_AGENT"] %>
    <%= f.hidden_field :ip_address, :value => request.remote_ip %>
    <p class="submit actions"><%= f.submit ts("Send feedback") %></p>
  </fieldset>
<% end %>