<%= error_messages_for :feedback %>

<h1><%= t('support', :default => 'Support and Feedback') %></h1>

<h3><%= t('contact_us', :default => "We love to hear from our users! If you'd like to ask for help, make a suggestion, or give us feedback, please use this form.") %></h3>


<p class="message"><%= t('try_faq', :default => "If you're looking for help, you can find answers to many common questions in our FAQ section.")%> <%= t('try_known_issues', :default => "You may also like to check out our Known Issues to see if your problem is something we've already identified.") %> 
  <%= t('submit_request', :default => "If you can't find what you're looking for, then please submit a support request here and we'll get back to you.") %></p>

<p class="message"><%= t('still_beta', :default => "We're still in our beta phase, so there are still lots of improvements and new features planned. Please do use this form to let us know about your experience of using the site - good and bad.") %></p>

<br />

<%- form_for(@feedback) do |f| -%>

  <p class="message"><%= f.label :category, "Please select a category:"%></p>
  <p>
    <%= f.select("category", { Feedback::BUGS_MISC_NAME => Feedback::BUGS_MISC, Feedback::BUGS_ASSISTANCE_NAME => Feedback::BUGS_ASSISTANCE, Feedback::BUGS_BUG_NAME => Feedback::BUGS_BUG, 
      Feedback::BUGS_FEEDBACK_NAME => Feedback::BUGS_FEEDBACK, Feedback::BUGS_TAGS_NAME => Feedback::BUGS_TAGS }, :selected => Feedback::BUGS_MISC) -%>
  </p>
  
  <p class="message"><%= f.label :summary, "Brief summary (required):" %></p>
  <p><%= f.text_field :summary, :size => 60 %></p>
  <%= live_validation_for_field('feedback_summary', :failureMessage => 'Please enter a brief summary of your message') %>
  
  <p class="message"><%= f.label :comment, "Your comment (required): " %></p>
	<p><%= f.text_area :comment, :cols => 60 %></p>
  <%= live_validation_for_field('feedback_comment', :failureMessage => 'Please enter your message') %>
	
  <p class="message"><%= f.label :email, "Your email (optional):" %></p>
  <p><%= f.text_field :email, :size => 60 %></p>
  <p><%= label_tag('cc_me', "Email me a copy of my message (optional): ") %><%= check_box_tag('cc_me', false) %></p>
    
  <%= f.hidden_field :user_agent, :value => request.env["HTTP_USER_AGENT"] %>
	
  <p class="submit"><%= f.submit t('send', :default => "Send feedback") %></p>
  
<%- end -%>


