<%= error_messages_for :feedback %>

<% form_for(@feedback) do |f| %>
  <p class="message"><%=h "Thanks for your time testing the archive! We appreciate the help a lot." .t %>
  </p>	
  <p class="message"><%= f.label :comment, "If you have any additional feedback about the archive - comments, concerns,
	haikus - you can leave them here." .t %>
	<%=h " We promise to read it all!" .t %></p>
  <p>
	    <%= f.text_area :comment, :cols => 60 %>
  </p>

  <p>
    <%= f.submit "Send feedback".t %>
  </p>
<% end %>


