<bug>
  <% if @report.description.present? %>
    <description><%= cdata_section(@report.description.html_safe) %></description>
  <% end %>
  <project-id><%= @report.project_id %></project-id>
  <% if @report.title.present? %>
    <title><%= cdata_section(@report.title.html_safe) %></title>
  <% end %>
  <% if @report.category.present? %>
    <category-id type='integer'><%= cdata_section(@report.category) %></category-id>
  <% end %>
  <% if @report.email.present? %>
    <custom-1389><%= cdata_section(@report.email) %></custom-1389>
  <% end %>
  <% if @report.user_agent.present? %>
    <custom-1407><%= cdata_section(@report.user_agent) %></custom-1407>
  <% end %>
  <% if @report.user_agent.present? %>
    <custom-1573><%= cdata_section(@report.site_revision) %></custom-1573>
  <% end %>
</bug>
