<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t(".page_heading") %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <!--/subnav-->

  <!--main content-->
  <div class="wrapper">
    <table id="admin_activities_table" summary="<%= t(".activities_table.summary") %>">
      <caption><%= t(".activities_table.caption") %></caption>
      <colgroup>
        <col class="name" />
        <col />
      </colgroup>
      <thead>
        <tr>
        <th scope="col"><%= t(".activities_table.date") %></th>
        <th scope="col"><%= t(".activities_table.admin") %></th>
        <th scope="col"><%= t(".activities_table.action") %></th>
        <th scope="col"><%= t(".activities_table.target") %></th>
      </tr>
      </thead>
      <tbody>
        <% for admin_activity in @activities %>
          <tr id="admin_activity_<%= admin_activity.id %>">
            <td><%= link_to admin_activity.created_at, admin_activity %></td>
            <td><%= admin_activity_login_string(admin_activity) %></td>
            <td><%= admin_activity.action %></td>
            <td><%= admin_activity_target_link(admin_activity) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!--/content-->
  <!--subnav-->
  <%= will_paginate @activities %>
  <!--/subnav-->
</div>
