<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t(".page_heading") %></h2>
  <!--/descriptions-->

  <!--subnav-->
  <ul class="navigation actions" role="navigation">
    <li><%= link_to t(".navigation.index"), admin_activities_path %></li>
  </ul>
  <!--/subnav-->

  <!--main content-->
  <h3 class="landmark heading"><%= t(".landmark.details") %></h3>
  <div class="wrapper">
    <dl class="meta group" role="article">
      <dt><%= t(".date") %></dt>
      <dd><%= @activity.created_at %></dd>

      <dt><%= t(".admin") %></dt>
      <dd><%= admin_activity_login_string(@activity) %></dd>

      <dt><%= t(".action") %></dt>
      <dd><%= @activity.action %></dd>

      <dt><%= t(".target") %></dt>
      <dd><%= admin_activity_target_link(@activity) %></dd>

      <dt><%= t(".summary") %></dt>
      <dd><%= admin_activity_summary(@activity) %></dd>
    </dl>
  </div>
  <!--/content-->
</div>
