<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Editing translation_note</h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_for(@translation_note) do |f| %>
  <%= error_messages_for @translation_note %>

  <p>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :namespace %>
    <%= f.text_field :namespace %>
  </p>
  <p>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :locale %>
    <%= f.text_field :locale %>
  </p>
  <p class="submit actions">
    <%= f.submit "Update" %>
  </p>
<% end %>
<!--/content-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to 'Show', @translation_note %></li>
	<li><%= link_to 'Back', translation_notes_path %></li>
</ul>
<!--/subnav-->