<!--Descriptive page name, messages and instructions-->
<h2 class="heading">New translation_note</h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_for(@translation_note) do |f| %>
  <%= error_messages_for @translation_note %>

  <p>
    <%= f.label :namespace %>
    <p><%= f.select :namespace, @namespaces, :selected => @current_namespace %></p>
  </p>
  <p>
    <%= f.label :note, 'Your notes:' %>
    <%= f.text_area :note %>
  </p>
  <p class="submit actions">
    <%= f.submit "Create" %>
  </p>
<% end %>
<!--/content-->

<!--/subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to 'Back', translations_path %></li>
</ul>
<!--/subnav-->