<p>
  <b>Note:</b>
  <%=h @translation_note.note %>
</p>

<p>
  <b>Namespace:</b>
  <%=h @translation_note.namespace %>
</p>

<p>
  <b>User:</b>
  <%=h @translation_note.user %>
</p>

<p>
  <b>Locale:</b>
  <%=h @translation_note.locale %>
</p>


<%= link_to 'Edit', edit_translation_note_path(@translation_note) %> |
<%= link_to 'Back', translation_notes_path %>
