<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".two_factor_authentication_set_up") %></h2>
<!--/descriptions-->

<!--main content-->
<fieldset>
  <h3 class="heading"><%= t(".step_1.heading") %></h3>
  <p><%= t(".step_1.scan_code") %></p>
  <p><%= qr_code_as_svg(current_admin.otp_qr_code_uri) %></p>
  <p><%= t(".step_1.manually_enter_code") %></p>
  <code class="big">
    <%= current_admin.otp_secret.scan(/.{1,4}/).join(" ") %>
  </code>
</fieldset>

<fieldset>
  <h3 class="heading"><%= t(".step_2.heading") %></h3>
  <p><%= t(".step_2.instructions") %></p>
  <%= form_for(current_admin, url: totp_setup_form_admin_preferences_path, method: :post) do |form| %>
    <dl>
      <dt><%= form.label :password, t(".step_2.account_password") %></dt>
      <dd><%= form.password_field :password %></dd>
      <dt><%= form.label :otp_attempt, t(".step_2.otp_code") %></dt>
      <dd><%= form.text_field :otp_attempt %></dd>
    </dl>
    
    <dt class="landmark"><%= label_tag :submit, t(".submit") %></dt>
    <dd class="submit actions">
      <%= submit_tag t(".confirm_and_enable") %>
    </dd>
  <% end %>
</fieldset>
<!--/content-->
