<h1>Fandoms</h1>
<ol>
<%- for medium in @media -%>
  <li id="medium_<%= medium.id %>" class="category <%= cycle :odd, :even %>">
    <h3><%= link_to medium.name, medium_path(medium) %></h3>
    <ol>
      <%- @fandom_listing[medium][:fandoms].each do |pair| -%>
      <li><%= link_to pair[0].name + " (" + pair[1].to_s + ")", tag_path(pair[0]) %></li>
      <%- end -%>
    </ol>
    
    <%- if @fandom_listing[medium][:more] -%>
    <p><%= link_to "All " + medium.name + "...", medium_path(medium) %></p>
    <%- end -%>
  </li>
<%- end -%>
</ol>