<!--descriptive page name and system messages, descriptions, and instructions.-->
<h2><%= ts('Fandoms') %></h2>
<!--/descriptions-->

<!--main content-->
<ul class="fandom index">
<% for medium in @media %>
  <li id="medium_<%= medium.id %>" class="category <%= cycle :odd, :even %>">
    <h3><%= link_to medium.name, medium_fandoms_path(medium) %></h3>

    <ol>
    <% for fandom in @fandom_listing[medium] %>
      <li>
        <%= link_to_tag_works_with_text(fandom, fandom.name) %>
        <% if fandom.respond_to?(:count) %>
          (<%= fandom.count.to_s %>)
        <% end %>
      </li>
    <% end %>
    </ol>

    <% unless @fandom_listing[medium].size < 5 %>
    <p><%= link_to ts("All %{media_type}...", :media_type => medium.name), medium_fandoms_path(medium) %></p>
    <% end %>
  </li>
<% end %>
</ul>
<!--/content-->
