<h1 class="language"><%= "Please choose language for translation.".t %></h1>
<p>
  <%=h "Strings which have not yet been translated are marked with asterisks.".t %>
<p>
    <span class="globalize_bug"><%= "Use this sparingly".t %></span>: <%= link_to "Get strings to translate".t, :action => "get_translatable_strings" %>
</p>

<% if Locale.language -%>
<h1 class="language"><%= "Language: " .t + Locale.language.native_name %></h1>
<% end -%>
<% if !Locale.base? -%>
<dl id="translation_form">
    <dt class="header">
        <%= 'Base Language'.t -%>
    </dt>
    <dd class="header">
        <%= 'Translation'.t %>
    </dd>
    <br/>
    <% @view_translations.each do |tr| -%>
    <dt>
    	<% unless tr.text -%>
		  ***
		<% end -%>
        <%= tr.tr_key -%>
    </dt>
    <dd id="tr_<%= tr.id %>">
        <%= render :partial => 'translation_text' %>
        <%- form_tag ( :action => :set_translation_text, :id => tr.id ) do %>
        <%= text_area_tag 'translation', tr.text || tr.tr_key, :cols => 35, :rows => rows_for_words(tr.text || tr.tr_key) %>
        <%= submit_tag( "translate".t ) %>
        <% end -%>
    </dd>
    <br/>
    <% end -%>
</dl>
<% end -%>

