<p>
  <strong>Chapter <%=h chapter.position %></strong><br/>
  <strong>
    Author: 
    <%= render :partial => 'pseuds/byline', :locals => { :creation => chapter } -%>
  </strong>

  <%- if chapter.metadata -%>
    <p>Title: <%=h chapter.metadata.title %></p>
    <p>Summary: <%=h chapter.metadata.summary %></p>
    <p>Notes: <%=h chapter.metadata.notes %></p>
  <%- end -%>

  <p>
    <%=h chapter.content %>
  </p>
  
  <p>
    <%= link_to 'Show chapter', [@work, chapter] %> 
    
    <%- if is_author_of?(@work) -%> |
      <%= link_to 'Edit chapter', [:edit, @work, chapter] %>
      <%- if chapter.position > 1 -%> |
        <%= link_to 'Destroy chapter', [@work, chapter], :confirm => 'Are you sure?', :method => :delete %><br/>
      <%- end -%>
    <%- end -%>
  </p> 
</p>