<% form_for([@work, chapter], :html => {:name => "storyForm"}) do |f| %>
    <p>
      Chapter <%= f.text_field :current_position, :class => "number-field" %> of <%= f.text_field :wip_length, :class => "number-field" %> 
    </p>

  
  <!-- Author dropdown (pseud_id) -->
		<%- if @pseuds.size > 1 -%>
  	  <p class="field-left">
  	<%- else -%>
		  <p style="display:none;">
		<%- end -%>	
    <%= label :pseud, :id, "Select author/pseudonym(s)" %><br />
    <select name="chapter[author_attributes][ids][]" multiple="multiple">
      <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
    </select> 
    </p>

		<%- if @pseuds.size > 1 -%>
      <p class="field-right"> 
        <%= link_to 'Create pseud?', new_user_pseud_path(current_user) %><br />
		<%- else -%>
		  <p class="field-left">
		<%- end -%>  
    <%= link_to_function('Add co-authors?', "Element.toggle('co-authors')") %>
      </p>

	<p class="clearboth"></p>

  <div id="co-authors"> 	  
    <p id="coauthormanage">
      <p>
        <span class="storylabel"><label for="storycoauthor">Enter co-author name(s):</label></span>
     	  <%= text_field_with_auto_complete :pseud, :byline, { :size => 50 }, 
            { :url => {:controller => 'pseuds', :action => 'choose_coauthors'}, :method => :get, :param_name => 'search', 
              :tokens => ',', :min_chars => 2, :skip_style => true } %>
      </p> 
    </p>
   </div>
    
    <p>
      <b>Chapter Title</b><br />
      <%= f.text_field :title, :live => true %> 
    </p>

    <p>
      <b>Chapter Summary</b><br />
      <%= f.text_area :summary, :live => true %>
    </p>

    <p>
      <b>Chapter Notes</b><br />
      <%= f.text_area :notes, :live => true %>
    </p>

  <p>
    <b>Chapter text</b><br />
	<% use_tinymce -%>
		<p><a href="javascript:addEditor('content');">Rich text</a>  <a href="javascript:removeEditor('content');">HTML</a></p>
    <%= f.text_area :content, :live => true, :class => "mce-editor", :id => "content" %>
  </p>

  <p>
    <%= submit_tag 'Preview', :name => 'preview_button' %>
    <%= button_to_function "Cancel", "javascript:history.back()" %>
  </p>
<% end %>
