<!-- This partial requires local variable 'chapter' -->
<div class="chapter <%= 'draft' unless chapter.posted? %>">
<!-- chapter management -->  
  <%- if is_author_of?(@work) -%>
	<h3 class="landmark">Chapter Management</h3>
      <ul class="chapter navigation" role="navigation">
        <% unless chapter.posted? -%>
          <li><%= link_to t('.chapter_post', :default => 'Post Chapter'), [:post, @work, chapter], :method => :post -%></li>
        <%- end -%>
        <%- if @preview_mode and @preview_mode == true -%>
          <li><%= link_to t('.chapter_revert', :default => 'Revert To Saved'), [:edit, @work, chapter] -%></li>
        <%- else -%>
          <li><%= link_to t('.chapter_edit', :default => 'Edit Chapter'), [:edit, @work, chapter] -%></li>
        <%- end -%>
        <%- if @work.chapters.count > 1 -%>
          <li><%= link_to t('.chapter_delete', :default => 'Delete Chapter'), [@work, chapter], :confirm => 'Are you sure?', :method => :delete %></li>
        <%- end -%>
      </ul>
  <%- end -%>

<div class="chapter preface" role="complementary">
  <h3 class="title">
    <%= chapter_link(chapter) %>
    <%- unless chapter.title.blank? -%>: <%=h chapter.title %>
    <%- end -%>
  </h3>
<!-- only display byline if different from the main byline -->
  <%- if (chapter.pseuds != @work.pseuds) || @preview_mode -%>
    <h4 class="byline"><%=h t('.chapter_chapter_by', :default => 'Chapter by') %> <%= byline(chapter) -%></h4>
  <%- end -%>
 
<!-- we want to hide this information by default if javascript is available -->
<%- if (@work.number_of_posted_chapters > 1) || @work.chaptered? -%>
  <%- unless chapter.summary.blank? -%>
  <div id="summary" class="summary module">
    <h3><%=h t('.chapter_summary', :default => 'Summary:') %></h3>
    <blockquote class="user-generated-view">
	<%=sanitize_and_format_for_display chapter.summary -%>
	</blockquote>
  </div>
  <%- end -%>
  
  <%- unless chapter.notes.blank? && chapter.endnotes.blank? -%>
  <div id="notes" class="notes module">
    <h3><%=h t('.chapter_notes', :default => 'Notes:') %></h3>
    <%- if chapter.notes.blank? -%>
      <p>
        <%= t('.link_to_c_endnotes', :default => "See the end of the chapter for {{notes_link}}.", :notes_link => (link_to t('.notes_link', :default => "notes"), :anchor => "chapter_#{chapter.position.to_s}_endnotes")) %>
      </p>
    <%- else -%>
      <blockquote class="user-generated-view"><%=sanitize_and_format_for_display chapter.notes -%></blockquote>
      <%- unless chapter.endnotes.blank? -%>
        <p><%= t('.link_more_c_endnotes', :default => "See the end of the chapter for more {{notes_link}}.", :notes_link => (link_to t('.notes_link', :default => "notes"), :anchor => "chapter_#{chapter.position.to_s}_endnotes")) %>
        </p>
      <%- end -%>     
    <%- end -%> 
  </div>
  <%- end -%>
<%- end -%> 
</div>

<!--main content-->
<div id="module" class="user-generated-view" role="article">
	<h3 class="landmark">Chapter Text</h3>	
<%=sanitize_and_format_for_display chapter.content %>
</div>
<!--/main-->

<%- unless chapter.endnotes.blank? -%>
  <div class="chapter preface footnote module" id="chapter_<%= chapter.position.to_s %>_endnotes">
   <h3><%=h t('.chapter_notes', :default => 'Notes:') %></h3>
      <blockquote class="user-generated-view"><%=sanitize_and_format_for_display chapter.endnotes -%></blockquote>
  </div>
<%- end -%>
  

  
</div>