<div id="story-form">
<% form_for([@work, chapter], :html => {:name => "storyForm"}) do |f| %>
    <p>
      <%=h 'Chapter'.t %> <%= f.text_field :current_position, :class => "number-field" %> <%=h 'of'.t %> <%= f.text_field :wip_length, :class => "number-field" %> 
    </p>
   
    <p>
      <%= f.label :title, h('Chapter title').t %><br />
      <%= f.text_field :title, :class => "storyinputfield", :live => true %> 
    </p>

    <p>
      <%= f.label :content, h('Chapter, in plain text with limited HTML*').t, :class => "required" %><br />
		  <%- use_tinymce -%>
		  <a href="javascript:addEditor('content');"><%=h 'Rich text'.t %></a>  <a href="javascript:removeEditor('content');"><%=h 'HTML'.t %></a><br />
		  <%= f.text_area :content, :class => "mce-editor", :id => "content" %>
		</p>
		
		<script>
			var content = new LiveValidation('content', { validMessage: 'Thanks, that length looks good.', wait: 500 });
			content.add(Validate.Length, {"failureMessage": "must be less than 16777215 letters long.", "maximum": 16777215, "validMessage": ""});
			content.add(Validate.Presence, {"failureMessage": "is required.", "validMessage": ""})
		</script>
		
		  <!-- Author dropdown (pseud_id) -->
		<%- if @pseuds.size > 1 -%>
  	  <p class="field-left">
  	<%- else -%>
		  <p style="display:none;">
		<%- end -%>	
    <%= label :pseud, :id, h('Select author/pseudonym(s)').t %><br />
    <select name="chapter[author_attributes][ids][]" multiple="multiple">
      <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
    </select> 
    </p>

		<%- if @pseuds.size > 1 -%>
      <p class="field-right"> 
        <%= link_to 'Create pseud?'.t, new_user_pseud_path(current_user) %><br />
		<%- else -%>
		  <p class="field-left">
		<%- end -%>  
    <%= link_to_function(h('Add co-authors?').t, "Element.toggle('co-authors')") %>
      </p>

	<p class="clearboth"></p>

  <div id="co-authors"> 	  
    <p id="coauthormanage">
        <span class="storylabel"><%= f.label :storycoauthor, "Enter co-author name(s):".t %></label></span>
     	  <%= text_field_with_auto_complete :pseud, :byline, { :size => 50 }, 
            { :url => {:controller => 'pseuds', :action => 'choose_coauthors'}, :method => :get, :param_name => 'search', 
              :tokens => ',', :min_chars => 2, :skip_style => true } %>
    </p>
   </div>
	 <br />

    <p>
      <%= f.label :summary, "Chapter summary (max %d letters)".t/ArchiveConfig.SUMMARY_MAX %><br />
      <%= f.text_area :summary, :live => true %>
    </p>

    <p>
      <%= f.label :notes, "Chapter notes (max %d letters)".t/ArchiveConfig.NOTES_MAX %><br />
      <%= f.text_area :notes, :live => true %>
    </p>

  <p class="field-right">
    <%= submit_tag h('Preview').t, :name => 'preview_button' %>
    <%= button_to_function h('Cancel').t, "javascript:history.back()" %>
  </p>
<% end %>
</div>