<!-- This partial requires local variable 'chapter' -->
<p>
  <div class="chapter-title">	
  <strong><%= link_to "Chapter #{chapter.position.to_s}", [@work, chapter] %></strong>
  <% if chapter.metadata && chapter.metadata.title -%>: <%=h chapter.metadata.title %><% end -%>

  <!-- chapter management -->  
  <%- if is_author_of?(@work) -%>
   <span class="chapter-control">
   (<% unless chapter.posted? -%>
    <%= link_to 'post', [:post, @work, chapter] -%> |
    <% end -%>
    <%= link_to 'edit', [:edit, @work, chapter] -%> 
    <%- if @work.chapters.count > 1 -%>
      | <%= link_to 'delete', [@work, chapter], :confirm => 'Are you sure?', :method => :delete %> )
    <%- end -%>
	</span>	
  <%- end -%>

  <!-- only display byline if different from the main byline -->
  <% if chapter.pseuds != @work.pseuds -%>
  	<br />Chapter by <%= byline(chapter) -%>
  <% end -%>
  </div>
  
  <!-- we want to hide this information by default if javascript is available -->
  <% if chapter.metadata && chapter.metadata.summary -%><br /><%=sanitize_format chapter.metadata.summary -%><% end -%>
  <% if chapter.metadata && chapter.metadata.notes -%><br /><%=sanitize_format chapter.metadata.notes -%><% end -%>
  
  <p>
    <%=sanitize_format chapter.content %>
  </p>
  
</p>
