<div id="work-form">
<% form_for([@work, chapter], :html => {:name => "storyForm"}) do |f| %>

<fieldset id="chapter-ordering">
	<legend><%= t('chapters.new.form_naming', :default => 'Naming and Ordering') %></legend>
	<p>
		<%= f.label :title, t('chapters.new.form_title', :default => 'Chapter title') %>
		<%= f.text_field :title, :class => "storyinputfield", :live => true %>
    <%= link_to_help "story-title" -%>
  </p>
	<p>
    <%= f.label :current_position, t('chapters.new.form_position', :default => 'Chapter number') %> 
		<%= f.text_field :current_position, :class => "number-field" %> 
		<%= f.label :wip_length, t('chapters.new.form_x_of_x', :default => 'of'), :title => t('chapters.new.form_of_total', :default => 'of total chapters') %> 
		<%= f.text_field :wip_length, :class => "number-field" %> 
  </p>
</fieldset>

<fieldset>
<legend><%= t('chapters.new.form_summary_and_notes', :default => 'Chapter Preface') %></legend>
    <dl class="preface">      

      <%= render :partial => 'pseuds/byline', :locals =>{:form => f, :type => 'chapter'} %>

      <dt class="summary"><%= f.label :summary, t('chapters.new.form_summary', :default => "Chapter summary (max {{max}} letters)", :max => ArchiveConfig.SUMMARY_MAX.to_s) %></dt>
      <dd class="summary"><%= f.text_area :summary, :live => true %></dd>
      <dt class="notes"><%= f.label :notes, t('chapters.new.form_notes', :default => "Chapter notes (max {{max}} letters)", :max => ArchiveConfig.NOTES_MAX.to_s) %></dt>
      <dd class="notes"><%= f.text_area :notes, :live => true %></dd>
    </dl>
</fieldset>

<fieldset>
	<legend><%= t('chapters.new.form_chapter_text', :default => 'Chapter Text') -%></legend>
 	<p>
    <%= f.label :content, t('chapters.new.form_content', :default => "Chapter, in plain text with limited HTML*"), :class => "required" %><%= link_to_help "html-help" -%>
  </p>
	<p id=""><code>a href, b, blockquote, br, center, cite, code, del, dd, dt, dl, div, em, h1, h2, h3, h4, h5, h6, i, ins, li, ol, pre, q, small, span, strike, strong, sub, sup, ul</code></p>
  <p class="rtf-html-switch">
		<% use_tinymce -%>
	    <span><a href="javascript:addEditor('content');"><%=h 'Rich text' %></a></span>
	    <span><a href="javascript:removeEditor('content');"><%=h 'HTML' %></a></span>
	</p>
	<p>
		<%= f.text_area :content, :class => "mce-editor", :id => "content" %>
      	<%= live_validation_for_field('content', 
  				:maximum_length => ArchiveConfig.CONTENT_MAX, :minimum_length => ArchiveConfig.CONTENT_MIN, 
  				:tooLongMessage => t('validations.content.too_long', :default => 'We salute your ambition! But sadly the content must be less than {{max}} letters long. (Maybe you want to create a multi-chaptered work?)', :max => ArchiveConfig.CONTENT_MAX.to_s),
  				:tooShortMessage => t('validations.content.too_short', :default => 'Brevity is the soul of wit, but your content does have to be at least {{min}} letters long.', :min => ArchiveConfig.CONTENT_MIN.to_s),
  			  :failureMessage => t('validations.content.failure', :default => 'You need to post some story content here.'))
  		-%>
	</p>
</fieldset>

<fieldset>
<legend><%= t('chapters.new.form_post', :default => 'Post Chapter') %></legend>
    <p class="submit">
      <%= submit_tag t('forms.preview', :default => 'Preview'), :name => 'preview_button' %>
      <%= submit_tag t('forms.cancel', :default => 'Cancel'), :name => 'cancel_button' %>
    </p>
</fieldset>
<% end %>
</div>