<% form_for([@work, chapter]) do |f| %>
  
  <!-- Author dropdown (pseud_id) -->
	<p class="field-left">
	  <%= label :pseud, :id, "Select author/pseudonym(s)" %><br />
 	  <select name="chapter[author_attributes][ids][]" multiple="multiple">
      <%= options_from_collection_for_select(@pseuds, :id, :name, @selected) %>
    </select> 
	</p>

  <p class="field-right"> 
    <%= link_to 'Create pseud?', new_user_pseud_path(current_user) %><br />  
    <%= link_to_function('Add co-authors?', "Element.toggle('co-authors')") %>
  </p>

	<p class="clearboth"></p>
	
	<% fields_for "chapter[author_attributes]" do |a| %>
	<noscript>
  	<div id="no_js_co-authors">
  	  <label for="storycoauthor">Enter co-author name(s): </label><br />
  	  <%= a.text_field :name %>
  	</div>
  	<%= hidden_field "no_script", :true %>
	</noscript>
 	<%- end -%>

  <div id="co-authors" style="display : none;"> 	  
    <p id="coauthormanage">
      <p>
        <span class="storylabel"><label for="storycoauthor">Enter co-author name(s):</label></span>
       	<%= text_field_with_auto_complete :pseud, :name, { :size => 30 }, { :tokens => ',', :skip_style => true } %>
       	<%= link_to_remote "Choose co-authors", :url=>{ :controller => :pseuds, :action => :choose_coauthors }, :with => "'names='+$F('pseud_name')+'&creation=chapter'" %>
     	</p> 
    </p>
        
    <%= link_to_function "Clear co-authors", update_page {|page| page.replace_html 'return_coauthors'} %>
   </div>
   
   <div id="return_coauthors">
   </div>
    
  <% fields_for_metadata(chapter.metadata ||= Metadata.new) do |m| %>
    <p>
      <b>Chapter Title</b><br />
      <%= m.text_field :title %> 
      <script>
        var chapter_metadata_attributes_title = new LiveValidation('chapter_metadata_attributes_title', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        chapter_metadata_attributes_title.add(Validate.Length, {"failureMessage": "must be less than 255 letters long.", "maximum": 255, "validMessage": ""});
      </script>
    </p>

    <p>
      <b>Chapter Summary</b><br />
      <%= m.text_area :summary %>
      <script>
        var chapter_metadata_attributes_summary = new LiveValidation('chapter_metadata_attributes_summary', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        chapter_metadata_attributes_summary.add(Validate.Length, {"failureMessage": "must be less than 1250 letters long.", "maximum": 1250, "validMessage": ""})
      </script>
    </p>

    <p>
      <b>Chapter Notes</b><br />
      <%= m.text_area :notes %>
      <script>
        var chapter_metadata_attributes_notes = new LiveValidation('chapter_metadata_attributes_notes', { validMessage: 'Thanks, that length looks good.', wait: 500 });
        chapter_metadata_attributes_notes.add(Validate.Length, {"failureMessage": "must be less than 2500 letters long.", "maximum": 2500, "validMessage": ""})
      </script>
    </p>
  <% end %>

  <p>
    <b>Chapter text</b><br />
    <%= f.text_area :content, :live => true %>
  </p>
  
  <% fields_for :work_attributes, chapter.work do |w| %>
    <p>
      <b>Is this the last chapter?</b><br />
      <%= w.check_box :is_complete %> Yes
    </p>
  <% end %>

  <p>
    <%= submit_tag 'Preview', :name => 'preview_button' %>
    <%= button_to_function "Cancel", "javascript:history.back()" %>
  </p>
<% end %>
