<!-- This partial requires local variable 'chapter' -->

  <div class="chapter-title">	
  <strong><%= chapter_link(chapter) %></strong>
  <% if chapter.title -%>: <%=h chapter.title %><% end -%>

  <!-- chapter management -->  
  <%- if is_author_of?(@work) -%>
   <span class="chapter-control">
   (<% unless chapter.posted? -%>
    <%= link_to 'post', [:post, @work, chapter], :method => :post -%> |
    <% end -%>
    <%= link_to 'edit', [:edit, @work, chapter] -%> 
    <%- if @work.chapters.count > 1 -%>
      | <%= link_to 'delete', [@work, chapter], :confirm => 'Are you sure?', :method => :delete %> )
    <%- end -%>
	</span>	
  <%- end -%>

  <!-- only display byline if different from the main byline -->
  <% if chapter.pseuds != @work.pseuds -%>
  	<br />Chapter by <%= byline(chapter) -%>
  <% end -%>
  </div>
  
  <!-- we want to hide this information by default if javascript is available -->
	<!-- Shows work info on the first chapter of multi-chapter work except when this
	partial is being displayed as part of a full work, when the work details come above
	the chapters -->
	<%- if chapter == @work.first_chapter -%>
		<%- unless (hide_work_info ||= false) -%>
	    <% if @work.summary -%><br /><%=sanitize_format @work.summary -%><% end -%>
      <% if @work.notes -%><br /><%=sanitize_format @work.notes -%><% end -%>
			<% if @work.is_wip -%><br /><p><%= wip_message(@work) %></p><% end -%>
		<%- end -%>
	<%- else -%>
    <% if chapter.summary -%><br /><%=sanitize_format chapter.summary -%><% end -%>
    <% if chapter.notes -%><br /><%=sanitize_format chapter.notes -%><% end -%>
	<% end %>
	
  <br />
  <p>
    <%=sanitize_format chapter.content %>
  </p>
  
