<h3 class="landmark heading">Chapter Management</h3>
<ul class="chapter navigation actions" role="menu">
  <% unless chapter.posted? %>
    <li class="draft-chapter"><%= ts("This chapter is a draft and hasn't been posted yet!") %></li>
    <li>
      <%= form_tag post_work_chapter_path(work, chapter) do %>
      <%= submit_tag 'Post Chapter' %>
      <% end %>
    </li>
  <% end %>
  <% if preview_mode == true %>
    <li><%= link_to ts('Revert To Saved'), [:edit, work, chapter] %></li>
  <% else %>
    <li><%= link_to ts('Edit Chapter'), [:edit, work, chapter] %></li>
  <% end %>
  <% if work.chapters.count > 1 %>
    <li><%= link_to ts('Delete Chapter'), [work, chapter], :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
</ul>
