<!-- expects a local variable "form" -->

<!-- put in all the information uploaded in hidden fields -->
<select name="chapter[author_attributes][ids][]" multiple="multiple" style="display:none;">
<%= options_from_collection_for_select(@allpseuds, :id, :name, @selected_pseuds) %>  
</select>

<%= form.hidden_field :title, :value => "#{@chapter.title}" %>
<%= form.hidden_field :summary, :value => "#{@chapter.summary}" %>
<%= form.hidden_field :chapter_notes, :value => "#{@chapter.notes}" %>
<%= form.hidden_field :chapter_endnotes, :value => "#{@chapter.endnotes}" %>
<%= form.hidden_field :chapter_content, :value => "#{@chapter.content}" %>

<%= form.hidden_field :wip_length, :value => "#{@chapter.wip_length}" %>
<%= form.hidden_field :position, :value => "#{@chapter.position}" %>
<%= form.hidden_field :published_at, :value => "#{@chapter.published_at}" %></p>
