<%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } %>

<%- form_for([@work, @chapter]) do |f| -%>

  <select name="chapter[author_attributes][ids][]" multiple="multiple" style="display : none;">
    <%= options_from_collection_for_select(@chapter.authors, :id, :name, @chapter.authors.collect {|pseud| pseud.id.to_i }) %>
  </select>
  
  <% if @chapter.metadata %>
    <% fields_for_metadata(@chapter.metadata) do |m| %>
      <%= m.hidden_field :title, :value => "#{@chapter.metadata.title}" %>
      <%= m.hidden_field :summary, :value => "#{@chapter.metadata.summary}" %>
      <%= m.hidden_field :notes, :value => "#{@chapter.metadata.notes}" %>
    <% end %> 
  <% end %>

  <%= f.hidden_field :content, :value => "#{@chapter.content}" %>
  
  <%- unless @chapter.posted -%>
    <p><%= f.check_box :posted %> Post! </p> 
  <%- end -%>

  <p class="field-right">
    <%= submit_tag 'Update', :name => 'update_button' %>
    <%= submit_tag 'Edit', :name => 'edit_button' %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %> 
  </p>

  <p class="clearbothdrop"></p>

<% end %>