<!-- barebones style for ebook downloads, for separate-chapter style ebooks -->

<!-- require absolute URLs -->
<% @downloading = true %>

<% if !@work.unrevealed? || logged_in_as_admin? || is_author_of?(@work) || (@work.unrevealed? && can_see_work(@work, current_user)) %>

  <% if @chapter == @work.first_chapter %>
    <!-- BEGIN work --> 
    <p class="landmark"><a name="top">&nbsp;</a></p>
  
    <p class="message">
      Posted originally on the <a href="<%= ArchiveConfig.APP_URL %>"><%= ArchiveConfig.APP_NAME %></a> 
      at <a href="<%= work_url(@work) %>"><%= work_url(@work) %></a>.
    </p>

    <!--work description, metadata, notes and messages-->
  	<%= render :partial => 'works/work_header' %>
    <!--/descriptions-->
  <% end %>

  <!--main content-->
  <div id="chapters" class="user-generated-view" role="article">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter, :hide_work_info => true} %>
  </div>
  <!--/main-->

  <% if @chapter == @work.last_chapter %>    
    <!--work description, metadata, notes and messages-->
      <% unless @work.endnotes.blank? %>
        <div class="preface" role="complementary">
          <div id="work_endnotes" class="footnotes">
            <h3><%=h t('.notes', :default => "Notes:") %></h3>
            <blockquote class="user-generated-view"><%=sanitize_and_format_for_display @work.endnotes %></blockquote>
          </div>
        </div>
      <% end %>
    <!-- /descriptions-->

    <!--subnav-->
    <% unless @work.series.blank? %>
      <!--subnav, backwards and forwards, ideally incorporated with chapter control in top subnav-->
      <p class="series footnote">
        <%= show_series_data(@work) %>
      </p>
    <!--/subnav-->
    <% end %>

  	<%= render :partial => 'works/work_footer' %>
    <!--/subnav-->

    <p class="message">Please <a href="<%= work_url(@work, :add_comment => true, :anchor => "comments") %>">drop by the archive and comment</a> to let the author know if you enjoyed their work!</p>
    <!-- END work -->
  <% end %>

<% end %>