<h1><%=h 'Edit Chapter'.t %></h1>

<%= error_messages_for :chapter %>

<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => "Update".t } %>

<ul class="navigation">
	<li><%= link_to 'Show'.t, [@work, @chapter] %></li> 
	<li><%= link_to 'Back'.t, work_chapters_path %></li>
</ul>
