<!--Descriptive page name, messages and instructions-->

<h2 class="heading"><%= ts("Edit Chapter") %></h2>

<%= error_messages_for :chapter %>

<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
  <li>
    <%= link_to ts("Delete Chapter"), [:confirm_delete, @work, @chapter],
                data: { confirm: ts("Are you sure you want to delete this chapter? This will delete all comments on the chapter as well and cannot be undone!") } %>
  </li>
  <% if @work.pseuds.size > 1 && @chapter.pseuds.size > 1 && current_user.is_author_of?(@chapter) %>
    <li>
      <%= button_to ts("Remove Me As Chapter Co-Creator"),
            remove_user_creatorship_chapter_path(@chapter),
            confirm: ts("Are you sure you want to remove yourself as a co-creator of this chapter?"),
            method: :patch %>
    </li>
  <% end %>
</ul>
<!--/subnav-->

<!--main content-->
<%= render 'chapter_form', chapter: @chapter %>
<!--/content-->
