<%= error_messages_for :chapter %>

<h2><%=h 'Add chapter'.t %></h2>
<p class="required"><%=h '* Required field'.t %></p>
<h3><%=h @work.title %></h3>

<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => "Create".t } %>

