<% if @work.work_skin && !Preference.disable_work_skin?(params[:style]) %>
  <% cache("#{@work.work_skin.id}-#{@work.work_skin.updated_at}-work-skin") do %>
    <%= render "skins/skin_style_block", :skin => @work.work_skin %>
  <% end %><!-- end cache for work skin -->
<% end %>

<div id="chapters">
  <div id="workskin">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } %>
  </div>
</div>

<%= form_for([@work, @chapter]) do |f| %>

  <%= render :partial => 'hidden_fields', :locals => {:form => f} %>

  <p class="submit actions">
    <% if @chapter.posted? %>
      <%= submit_tag ts('Update'), :name => 'update_button' %>
    <% else %>
      <%= submit_tag ts('Post'), :name => 'post_button' %>
      <%= submit_tag ts("Save Without Posting"), :name => 'save_button' %>
    <% end %>
    <%= submit_tag ts('Edit'), :name => 'edit_button' %>
    <%= submit_tag ts('Cancel'), :name => 'cancel_button' %> 
  </p>

<% end %>