<% if @work.work_skin && !Preference.disable_work_skin?(params[:style]) %>
  <% cache("#{@work.work_skin.id}-#{@work.work_skin.updated_at}-work-skin") do %>
    <%= render "skins/skin_style_block", :skin => @work.work_skin %>
  <% end %><!-- end cache for work skin -->
<% end %>

<div id="chapters">
  <div id="workskin">
    <%= render @chapter %>
  </div>
</div>

<%= form_for([@work, @chapter]) do |f| %>

  <%= render 'hidden_fields', :form => f %>

  <ul class="actions">
    <% if @chapter.posted? %>
      <li><%= submit_tag ts('Update'), :name => 'update_button' %></li>
    <% else %>
      <li><%= submit_tag ts('Post'), :name => 'post_button', :disable_with =>  ts("Please wait...") %></li>
      <li><%= submit_tag ts("Save Without Posting"), :name => 'save_button' %></li>
    <% end %>
    <li><%= submit_tag ts('Edit'), :name => 'edit_button' %></li>
    <li><%= submit_tag ts('Cancel'), :name => 'cancel_button' %></li> 
    <li><%= link_to ts('Discard Draft'), [@work, @chapter], :confirm => ts('Are you sure?'), :method => :delete %></li>
  </ul>

<% end %>
