<!-- BEGIN work --> 
<div class="work-show">
  <%= render :partial => 'works/work_header' -%>

  <div id="chapters">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } -%>
	  <%= render :partial => 'chapters/chapter_control', :locals => {:work => @work, :chapter => @chapter } -%>
  </div>

  <%= render :partial => 'works/work_footer' -%>
  
</div>
<!-- END work -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @chapter} %>
<!-- END comment section -->
