<%= render "works/work_notices" %>
<% if policy(@work).show_admin_options? %>
  <%= render "admin/admin_options", item: @work %>
<% end %>
<% if !@work.unrevealed? || logged_in_as_admin? || can_access_unrevealed_work(@work, current_user) %>
  <div class="work">
    <p class="landmark"><a name="top">&nbsp;</a></p>

    <%= render "works/work_header_navigation" %>

    <%= render "works/meta", work: @work %>

    <%= render "works/work_skin" %>

    <div id="workskin">
      <%= render "works/preface" %>
    <div id="chapters">
        <%= render "chapters/chapter", chapter: @chapter %>
      </div>

      <% inspired_by = get_inspired_by(@work) %>
      <% last_chapter = @work.posted? ? @work.last_posted_chapter : @work.last_chapter %>
      <% if @chapter == last_chapter && (@work.endnotes.present? || @work.series.present? || inspired_by.present?) %>
        <div class="afterword preface group">
          <% if !@work.endnotes.blank? %>
            <%= render "works/work_endnotes" %>
          <% end %>
          <% unless @preview_mode || @work.series.blank? %>
            <%= render "works/work_series_links" %>
          <% end %>
          <% unless inspired_by.empty? %>
            <%= render "works/work_approved_children", inspired_by: inspired_by %>
          <% end %>
        </div>
        <% end %>

    </div>
    </div>
  <%= render "comments/commentable", commentable: @chapter %>
  <% if @next_chapter %>
    <script type="speculationrules">
      {
        "prerender": [
          {
            "source": "list",
            "urls": ["<%= work_chapter_path(@work, @next_chapter, anchor: "workskin") %>"]
          }
        ]
      }
    </script>
  <% end %>
<% end %>
<%= render "hit_count/include" %>