<p>
  <strong>Chapter <%=h @chapter.position %></strong><br/>
  <strong>
    Author: 
    <%= render :partial => 'pseuds/byline', :locals => { :creation => @chapter } -%>
  </strong>

  <%- if @chapter.metadata -%>
    <p>Title: <%=h @chapter.metadata.title %></p>
    <p>Summary: <%=h @chapter.metadata.summary %></p>
    <p>Notes: <%=h @chapter.metadata.notes %></p>
  <%- end -%>

  <p>
    <%=h @chapter.content %>
  </p>
  
  <p>
    <%= link_to 'Back', work_chapters_path(@work) %>
    <%- if logged_in? && @work.pseuds - current_user.pseuds != @work.pseuds -%> |   
      <%= link_to 'Edit chapter', [:edit, @work, @chapter] %> |
      <%= link_to 'Add a new chapter', new_work_chapter_path(@work) %>
      <%- if @chapter.position > 1 -%> |
        <%= link_to 'Destroy chapter', [@work, @chapter], :confirm => 'Are you sure?', :method => :delete %><br/>
      <%- end -%>
    <%- end -%> 
  </p> 
</p>
