<!-- BEGIN work --> 
<div class="work"><p><a name="top">&nbsp;</a></p>
  <%= render :partial => 'works/work_header' -%>

  <div id="chapters">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } -%>
    <%- if !@work.endnotes.blank? && @chapter == @work.last_chapter -%>
      <div id="work_endnotes" class="chapter preface footnotes module" role="complementary">
          <h3><%=h "Notes:" %></h3>
          <blockquote class="user-generated-view"><%=sanitize_and_format_for_display @work.endnotes %></blockquote>
      </div>    
    <%- end -%>
	  <!-- Series links -->
    <%- unless @preview_mode || @work.series.blank? || @chapter != @work.last_chapter-%>
      <%= render :partial => 'works/series_links' -%>
    <%- end -%>
  </div>

  <%= render :partial => 'works/work_footer' -%>
  
</div>
<!-- END work -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @chapter} %>
<!-- END comment section -->
