<!-- BEGIN work --> 
<div class="work-show"><a name="top" />
  <%= render :partial => 'works/work_header' -%>

  <div id="chapters">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } -%>
	  <!-- Series links -->
    <%- unless @preview_mode || @work.series.blank? || @chapter != @work.last_chapter-%>
      <%= render :partial => 'works/series_links' -%>
    <%- end -%>
    <%= render :partial => 'chapters/chapter_control', :locals => {:work => @work, :chapter => @chapter } -%>
  </div>

  <%= render :partial => 'works/work_footer' -%>
  
  <div id="go_to_top_link"><%= link_to image_tag("arrow-up.gif") + "top", chapter_path(@chapter, :anchor => "top")%></div>
</div>
<!-- END work -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @chapter} %>
<!-- END comment section -->
