<!-- BEGIN work --> 
<div class="work-show"><a name="top" />
  <%= render :partial => 'works/work_header' -%>

  <div id="chapters" class="user-generated-view">
    <%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } -%>
    <%- if !@work.endnotes.blank? && @chapter == @work.last_chapter -%>
      <div class="preface">
        <blockquote id="work_endnotes" class="notes">
          <h3><%=h "Notes:" %></h3>
          <%=sanitize_and_format_for_display @work.endnotes %>
        </blockquote>
      </div>    
    <%- end -%>
	  <!-- Series links -->
    <%- unless @preview_mode || @work.series.blank? || @chapter != @work.last_chapter-%>
      <%= render :partial => 'works/series_links' -%>
    <%- end -%>
    <%= render :partial => 'chapters/chapter_control', :locals => {:work => @work, :chapter => @chapter } -%>
  </div>

  <%= render :partial => 'works/work_footer' -%>
  
  <div id="link-to-top"><%= link_to image_tag("arrow-up.gif") + t('works_top_link_text', :default => "top"), :anchor => "top" %></div>
</div>
<!-- END work -->

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @chapter} %>
<!-- END comment section -->
