<h2>Change your password</h2>

<div id="loginform">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <dl>
    <dt><%= f.label :password, ts('New password:') %></dt>
    <dd><%= f.password_field :password, autofocus: true, autocomplete: 'off' %>
      <% if @minimum_password_length %>
        <em>(<%= ts("%{length} characters minimum", length: @minimum_password_length) %>)</em>
      <% end %>
    </dd>

    <dt><%= f.label :password_confirmation, ts('Confirm new password:') %></dt>
    <dd><%= f.password_field :password_confirmation, autocomplete: 'off' %></dd>

    <dt class="landmark"><%= ts('Submit') %></dt>
    <dd class="submit actions"><%= f.submit ts('Change my password'), class: 'submit' %></dd>
  </dl>
<% end %>
</div>