<!--Descriptive page name, messages and instructions-->
<h3 class="heading"><%= ts("Forgotten your password?") %></h3>
<p>
  <%= ts("If you've forgotten your password, we can send you a temporary one.") %> 
  <%= ts("Please tell us the user name or email address you used when you signed up for your Archive account.") %>
</p>
<p>
  <%= ts("If the temporary password doesn't work, please visit <a href=\"http://archiveofourown.org/admin_posts/1277\">Problems When Logging In</a> for help.".html_safe) %>
</p>
<!--/descriptions-->

<!--main content-->
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <%= f.label :reset_password_for, ts("Email address <strong>or</strong> user name:".html_safe) %>
    <%= f.text_field :reset_password_for, autofocus: true %>

    <%= f.submit ts('Reset Password') %>
  </p>
<% end %>
<!--/content-->
