<h1>Listing favorite_tags</h1>

<table>
  <tr>
    <th>#</th>
    <th>user_id</th>
    <th>tag_id</th>
    <th>tag_name</th>
    <th>link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favorite_tags.each do |favorite_tag| %>
  <tr>
    <th><%= favorite_tag.id %></td>
    <td><%= favorite_tag.user_id %></td>
    <td><%= favorite_tag.tag_id %></td>
    <td><%= favorite_tag.tag_name %></td>
    <td><%= link_to_tag_works(favorite_tag.tag) %></td>
    <td><%= link_to 'Show', favorite_tag %></td>
    <td><%= link_to 'Edit', edit_favorite_tag_path(favorite_tag) %></td>
    <td><%= link_to 'Destroy', favorite_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favorite tag', new_favorite_tag_path %>
