<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @favorite_tag.user_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @favorite_tag.tag_id %>
</p>


<%= link_to 'Edit', edit_favorite_tag_path(@favorite_tag) %> |
<%= link_to 'Back', favorite_tags_path %>
