<% if @by_fandom %>
  <h2>Bulk Wrangle Fandoms</h2>
  <p>Click on a <%= Fandom::NAME %> to wrangle it and its unwrangled tags.
  <p>Select the checkboxes next to the fandom to assign them to the selected media and mark them canonical.</p>
  <%= form_tag tag_wranglings_path %>
    <%= select_tag "media", "<option value="">No Media</option>" + 
        options_from_collection_for_select(Media.canonical, :id, :name), :select => "" %>
    <p>! fandom does not belong to a media, * fandom is not canonical</p>
    <table>
      <%- @by_fandom.in_groups_of(4) do |group| %>
        <tr>
          <% group.each do |pair| %>
            <% if pair %>
              <td>
                <%- fandom = pair[0] -%>
                <%- if fandom.is_a? Fandom -%>
                  <%= check_box_tag "tag[" + fandom.id.to_s + "]" %>
                  <%- unless fandom.canonical? -%>*<%- end -%>
                  <%- unless fandom.media_id -%>!<%- end -%>
                  <%= link_to fandom.name, {:fandom_id => fandom.id}, {:target => "_blank"} -%>&nbsp;(<%= pair[1].to_s %>)
                <%- else -%>                  
                  <%= link_to "No associated fandom", {:no_fandom => true}, {:target => "_blank"} -%>&nbsp;(<%= pair[1].to_s %>)
                <%- end -%>               
              </td>
            <% end %>
          <% end %>
        </tr>
      <%- end -%>
    </table>
  <%= submit_tag "Assign to Media" %>  
<%- end -%>
