<%- if @fandom %>
  <p><strong>Wrangle a Fandom tag</strong></p>
  <div>
    <%- remote_form_for :tag, @fandom, :url => { :fandom_id => fandom.id } do |f| -%>
      <p>If this fandom is canonical, rename it if necessary and chose a media<p>
      <p>If this fandom is <strong>not</strong> canonical, rename it to the canonical name and don't chose a media<p>
      <%= f.label :name, 'Name'.t %><%= f.text_field :name %>
      <%= f.collection_select :media_id, Media.canonical, :id, :name, {:prompt => 'Choose a Medium'} %>
      <p><%= f.submit %></p>
    <%- end -%>
  </div>
  <p>Recent works in this fandom (for reference):</p>
  <% @works.each do |work| %>
    <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <% end %>
<%- end -%>
