<div id="tag-wrangler-footer">
  <ul> 
    <li><%= link_to('New tag'.t, new_tag_path) %></li> 
    <li><%= link_to('Tag categories'.t, tag_categories_path) %></li>  
    <li><%= link_to('New category'.t, new_tag_category_path) %></li> 
    <li><%= link_to('Tag relationships'.t, tag_wranglings_path) %></li> 
    <li><%= link_to('New kind of relationship'.t, new_tag_relationship_kind_path) %></li> 
  </ul>
</div>