<ul id="tag-wrangler-footer">
	<li><%= link_to_unless_current('Tag wrangling'.t, tag_wranglings_path) %></li>
	<li><%= link_to_unless_current('Tags'.t, tags_path) %></li>		
    <li><%= link_to_unless_current('New tag'.t, new_tag_path) %></li> 
    <li><%= link_to_unless_current('Tag categories'.t, tag_categories_path) %></li>  
    <li><%= link_to_unless_current('New category'.t, new_tag_category_path) %></li> 
    <li><%= link_to_unless_current('Tag relationship kinds'.t, tag_relationship_kinds_path) %></li> 
    <li><%= link_to_unless_current('New tag relationship kind'.t, new_tag_relationship_kind_path) %></li> 
  </ul>