<%- if @category1 %>
  <%- form_remote_tag :url => {:controller => :tag_relationships, :action => :batch_create} do -%>
    <%= hidden_field_tag('tag_relationship[tag_relationship_kind_id]', @tag_relationship_kind.id) %>
  <table>
  <td>
    Assign <%= @category1.display_name %> to 
    <%= collection_select('tag_relationship', 'related_tag_id', @potential_related_tags, :id, :name) %>
  </td>
    
    <%- @potential_tags.in_groups_of(3) do |row_tags| %>
      <tr>
      <%- for tag in row_tags -%>
        <%- if tag %>
          <td id="tag_<%= tag.id %>"><%= check_box_tag("tag[#{tag.id}]", tag.id) %> 
            <%= link_to_remote tag.name, :url => { :action => :index, :tag => tag.id, :category1 => @category1.name, :category2 => @category2.name}, :method => :get %></td>
        <%- end %>
      <%- end -%>
      </tr>
    <%- end -%>
  <td>
   <%= submit_tag 'Save changes' %>
  </td>
 </table>
  <%- end -%>
<%- end -%>