<%- if @potential_tags.blank? %>
  <% unless @category1.blank? %>
    <p>No Unwrangled tags in <%= @category1.display_name %></p>
  <% end %>
<% else %>
  <%- if @potential_related_tags.blank? %>
    <table>
      <tr>
        <td colspan="3">
          No canonical tags in <%= @category2.display_name %>
        </td>
      </tr>
  <% else %>
    <%- form_remote_tag :url => {:controller => :tag_relationships, :action => :batch_create} do -%>
      <%= hidden_field_tag('tag_relationship[tag_relationship_kind_id]', @tag_relationship_kind.id) %>
        <table>
        <tr>
      		<td colspan="3">
            Assign selected <%= @category1.display_name %>(s) as <%= @tag_relationship_kind.name %> of <%= collection_select('tag_relationship', 'related_tag_id', @potential_related_tags, :id, :name) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="3">
        Click on a tag to select it for editing individually
      </td>
    </tr>
    <%- @potential_tags.in_groups_of(3) do |row_tags| %>
      <tr>
        <%- for tag in row_tags -%>
          <%- if tag %>
            <td id="tag_<%= tag.id %>">
              <%= check_box_tag("tag[#{tag.id}]", tag.id) %> 
              <%= link_to_remote tag.name, :url => { :action => :index, :tag => tag.id, :category1 => @category1.name, :category2 => @category2.name}, :method => :get %>
            </td>
          <%- end %>
        <%- end -%>
      </tr>
    <%- end -%>
    <%- unless @potential_related_tags.blank? %>
      <tr>
    		<td colspan="3">
          <%= submit_tag 'Save changes' %>
        </td>
      </tr>
    <%- end -%>
    </table>
  </div>
<%- end -%>
<div id="individual-tag-edit">
  <%= render :partial  => 'tags/form' %>
</div>
