<% if @unwrangled %>
  <h2>Bulk Wrangle Tags</h2>
  <p>Select the checkbox next to the tag to do bulk assignment on the tags.</p>
  <p>Click on a tag to wrangle it individually. 
  <%= form_tag tag_wranglings_path %>
  <% synonyms = false %>
  <% @unwrangled.each do |type, tags| %>
    <h3><%= type %> Tags</h3>
    <% unless type.constantize.canonical.by_fandom(@fandom).sort.blank? %>
      <% synonyms = true %>
      <%- if type == "Pairing" %>
      <p>Note: Marking a pairing canonical marks all of its characters canonical as well</p>
      <%- end %>
      <% if type == "Freeform" %>
        <p>Note: Marking a freeform tag canonical creates a canonical genre tag</p>
        <%= select_tag type, "<option value=''>Select Canonical #{Genre::NAME}</option>" + 
          options_from_collection_for_select( (Genre.canonical.by_fandom(@fandom) + Genre.canonical.by_fandom(nil)).sort, :id, :name, :select => "") %>
      <% else %>
        <%= select_tag type, "<option value=''>Select Canonical #{type.constantize::NAME}</option>" + 
          options_from_collection_for_select( (type.constantize.canonical.by_fandom(@fandom) + type.constantize.canonical.by_fandom(nil) ).sort, :id, :name, :select => "") %>
      <% end %>
    <% end %>
    <table>
      <%- tags.in_groups_of(4) do |group| %>
        <tr>
          <% group.each do |tag| %>
            <% if tag %>
              <td>
                <%= check_box_tag "tag[" + tag.id.to_s + "]" %>
                <%= link_to tag.name, edit_tag_path(tag), {:target => "_blank"} %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <%- end -%>
    </table>
  <% end %>
  <%= submit_tag "Mark all Canonical"%>  
  <%= submit_tag "Mark all Banned" %>  
  <%= submit_tag "Remove from Fandom" %>  
  <%= submit_tag "Mark all as Synonyms of the chosen tags"  if synonyms  %>  
<%- end -%>