<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Tag Wrangling Discussion') %></h2>
<!--/descriptions-->

<%= will_paginate(@comments) %>
<div class="wrapper">
	<table summary="<%= ts('A message board displaying discussions about tags.') %>">
		<caption><%= ts('Tag Wrangling Discussions') %></caption>
		<thead>
			<tr>
    			<th scope="col"><%= ts('Tag') %></th>
    			<th scope="col"><%= ts('Comment') %></th>
    			<th scope="col"><%= ts('Replies') %></th>
    			<th scope="col"><%= ts('Thread Started By') %></th>
    			<th scope="col"><%= ts('Last Reply By') %></th>
    			<th scope="col"><%= ts('Last Updated At') %></th>
  			</tr>
		</thead>
		<tbody>
  <% for comment in @comments %>
  	<tr>
    	<th scope="row"><%= link_to_tag(comment.parent) %></th>
    	<td><%= link_to strip_tags(comment.comment_content[0..50]) + '...', comment, :title => strip_tags(comment.comment_content) %></td>
    	<td><%= comment.count_all_comments %></td>
    	<td>
    	  <% if comment.pseud %>
    	  <%= link_to comment.pseud.name, [comment.pseud.user, comment.pseud] %>
    	  <% else %>
    	  <%=h comment.name %>
    	  <% end %>
    	</td>
    	<td><%= last_reply_by(comment) %></td>
    	<td><%= comment.updated_at %></td>
  	</tr>  
  <% end %>
	</tbody>
</table>
</div>
<div class="clear"><!--presentational, phase me out--></div>

<%= will_paginate(@comments) %>