<ul class="navigation">
  <li><%= link_to 'Home'.t, tag_wranglings_path %></li>
  <% for categ in Tag::TYPES do %>
  <li><%= link_to_unless_current categ, edit_tag_wrangling_path(categ) %></li>
  <%- end -%>
</ul>

<h2>Wrangle <%= @category %> tags
<% if !@tags.blank? %>
  <%- if @fandom %>
      in <%= @fandom.name %>
  <%- elsif @media %>
      in <%= @media.name %>
  <%- end -%>
<%- end -%>
</h2>

<%- if @fandoms %>
  <%- form_tag tag_wranglings_path do -%>
    <%= hidden_field_tag(:id, @category) %>
    <dt>Select Fandom:</dt>
    <dd><%= select("fandom", 'fandom_id', @fandoms.collect {|f| [ f.name, f.id ] }) %></dd>
    <p class="submit"><%= submit_tag "Wrangle" %></p>
  <%- end -%>
<%- elsif @medias %>
  <%- form_tag tag_wranglings_path do -%>
    <%= hidden_field_tag(:id, @category) %>
    <dt>Select Media:</dt>
    <dd><%= select("media", 'media_id', @medias.collect {|f| [ f.name, f.id ] }) %></dd>
    <p class="submit"><%= submit_tag "Wrangle" %></p>
  <%- end -%>
<%- end -%>

<% if !@tags.blank? %>

<hr />

  <%- form_tag tag_wranglings_path do -%>
    <p><%= hidden_field_tag(:id, @category) %></p>
    <%- if @fandom -%>
      <p><%= hidden_field_tag("fandom[fandom_id]", @fandom.id) %></p>
    <%- elsif @media -%>
      <p><%= hidden_field_tag("media[media_id]", @media.id) %></p>
    <%- end -%>
    
    <table>
	<caption><!--a short summary of this table's function and content here pls!--></caption>
	<thead>
	<tr>
        <th scope="col">Tag</th>
        <th scope="col">Count</th>
      <%- if logged_in_as_admin? %>
        <th scope="col">Banned</th>
      <%- end -%>
      <%- if @category == Rating::NAME %>
        <th scope="col">Adult</th>
      <%- end -%>
        <th scope="col">Canonical</th>
        <th scope="col">Synonym</th>
      </tr>
	</thead>
 <tbody>
    <%- @tags.each do |tag| %>
    <tr>
      <td><%= label :tag, tag.id, link_to_edit_tag(tag) %></td>
      <td><%= tag.taggings_count %></td>
      <%- if logged_in_as_admin? %>
        <td><%= check_box_tag("banned[]", tag.id, tag.banned, :id => "banned_#{tag.id}") %></td>
      <%- end -%>
      <%- if @category == Rating::NAME %>
        <td><%= check_box_tag("adult[]", tag.id, tag.adult, :id => "adult_#{tag.id}") %></td>
      <% end %>
      <td><%= check_box_tag("canonical[]", tag.id, tag.canonical, :id => "tag_#{tag.id}") %></td>
      <% unless tag.canonical %>
        <td>
          <%- if @fandom -%>
            <%= hidden_field_tag("fandom[fandom_id]", @fandom.id) %>
            <%= select("merger", tag.id, (tag.class.by_fandom(@fandom).canonical - [tag]).collect {|p| [ p.name, p.id ] }, { :include_blank => true, :selected => tag.merger.andand.id}) %>
          <%- elsif @media -%>
            <%= hidden_field_tag("media[media_id]", @media.id) %>
            <%= select("merger", tag.id, (tag.class.by_media(@media).canonical - [tag]).collect {|p| [ p.name, p.id ] }, { :include_blank => true, :selected => tag.merger.andand.id}) %>
          <%- elsif @ambiguity -%>
             <%= select("merger", tag.id, (tag.class.canonical - [tag]).collect {|p| [ p.name, p.id ] }, { :include_blank => true, :selected => tag.merger.andand.id}) %>
          <%- else -%>
             <%= select("merger", tag.id, (tag.class.no_parent.canonical - [tag]).collect {|p| [ p.name, p.id ] }, { :include_blank => true, :selected => tag.merger.andand.id}) %>
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
    <%- end -%>
    <!-- end tags each do -->
    </tbody>
</table>
    <%- if logged_in_as_admin? && @category == Banned::NAME %>
      <p class="message">Note, you cannot mass wrangle tags from this page, as you must individually wrangle which category it should be moved into when unbanned</p>
    <%- elsif !@tags.blank? -%>
      <p class="submit"><%= submit_tag "Update all tags" %></p>
    <%- end -%>
    
  <%- end -%>
  <!-- end form_tag -->
  
<%- end -%>

<%= tag_wrangler_footer %>