<h1>Manage Tags</h1>

<div id="error"></div>

<div id="fandoms">
  <%= render :partial => 'tag_wranglings/fandoms' %>
</div>

<div id="fandom-edit">
  <%= render :partial  => 'tag_wranglings/fandom' %>
</div>

<div id="tags-edit">
  <%= render :partial  => 'tag_wranglings/tags' %>
</div>

<div id="tag-edit">
  <%= render :partial  => 'tag_wranglings/tag' %>
</div>

<%= tag_wrangler_footer %> 
