<h2><%=h 'Tag Wrangling'.t %></h2>

<h3><%=h 'Mass Assign to Fandom (or Media)'.t %></h3>
<ul>
<% for category in (Tag::USER_DEFINED - ["Ambiguity"]) do %>
  <li>
    <%= link_to_unless_current category, assign_tag_wrangling_path(category) %> (
      <%= category.constantize.no_parent.count %>)
  </li>
<%- end -%>
</ul>
<h3><%=h 'Mass wrangle tags by Category'.t %></h3>
<ul>
<% for category in Tag::TYPES do %>
  <li><%= link_to_unless_current category, edit_tag_wrangling_path(category) %></li>
<% end %>
</ul>

<%= tag_wrangler_footer %>
