<div class="tag wrangling home">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= t(".page_heading") %></h2>
  <% unless params[:show] %>
    <h4 class="landmark heading"><%= t(".notes.landmark") %></h4>
    <ul class="notes">
      <li>
        <%= t(".notes.wrangle_to_guidelines_html",
              wrangling_guidelines_link: link_to(t(".notes.wrangling_guidelines"), wrangling_guidelines_path)) %>
      </li>
      <li>
        <%= t(".notes.contact_supervisor_html",
              question_for_supervisor_bold: tag.strong(t(".notes.question_for_supervisor")),
              tw_wranglers_slack_link: link_to(t(".notes.tw_wranglers_slack"), "https://transformativeworks.slack.com/archives/C0BD05W83"),
              tw_wranglers_quietroom_slack_link: link_to(t(".notes.tw_wranglers_quietroom_slack"), "https://transformativeworks.slack.com/archives/C08LKQFN5E3")) %>
      </li>
      <li>
        <%= t(".notes.contact_chair_html",
              question_for_chair_bold: tag.strong(t(".notes.question_for_chair")),
              tag_wranglers_chair_email_link: mail_to("tagwranglers-chair@transformativeworks.org"),
              tw_wranglers_slack_link: link_to(t(".notes.tw_wranglers_slack"), "https://transformativeworks.slack.com/archives/C0BD05W83"),
              tw_wranglers_quietroom_slack_link: link_to(t(".notes.tw_wranglers_quietroom_slack"), "https://transformativeworks.slack.com/archives/C08LKQFN5E3")) %>
      </li>
    </ul>

    <h3 class="heading"><%= t(".general_resources.heading") %></h3>
    <ul>
      <li>
        <%= t(".general_resources.tag_wrangling_committee_html",
              tag_wrangling_committee_link: link_to(t(".general_resources.tag_wrangling_committee"), "http://wiki.transformativeworks.org/mediawiki/Category:Tag_Wrangling_Committee")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wrangling_training_html",
              tag_wrangling_training_link: link_to(t(".general_resources.tag_wrangling_training"), "https://wiki.transformativeworks.org/mediawiki/Category:Tag_Wrangler_Training")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wrangling_moodle_html",
              tag_wrangling_moodle_link: link_to(t(".general_resources.tag_wrangling_moodle"), "https://moodle.transformativeworks.org/login/index.php")) %>
      </li>
      <li>
        <%= t(".general_resources.current_wrangling_limitations_html",
              current_wrangling_limitations_link: link_to(t(".general_resources.current_wrangling_limitations"), "https://wiki.transformativeworks.org/mediawiki/Current_Wrangling_Limitations")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wrangling_faq_html",
              tag_wrangling_faq_link: link_to(t(".general_resources.tag_wrangling_faq"), "https://wiki.transformativeworks.org/mediawiki/Tag_Wrangling_FAQ")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wrangling_communication_policy_html",
              tag_wrangling_communication_policy_link: link_to(t(".general_resources.tag_wrangling_communication_policy"), "https://wiki.transformativeworks.org/mediawiki/Wrangling_Communication_Policy")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wranglers_mailing_list_html",
              tag_wranglers_mailing_list_link: link_to(t(".general_resources.tag_wranglers_mailing_list"), "https://groups.google.com/a/transformativeworks.org/g/tagwranglers")) %>
      </li>
      <li>
        <%= t(".general_resources.vacations_and_retiring_html",
              vacations_and_retiring_link: link_to(t(".general_resources.vacations_and_retiring"), "https://wiki.transformativeworks.org/mediawiki/Vacations_and_Retiring_from_Wrangling")) %>
      </li>
      <li>
        <%= t(".general_resources.tag_wrangling_bugs_html",
              tag_wrangling_bugs_link: link_to(t(".general_resources.tag_wrangling_bugs"), "https://wiki.transformativeworks.org/mediawiki/Tag_Wrangling_Bugs_and_Feature_Wishlist")) %>
      </li>
      <li>
        <%= t(".general_resources.otw_slack_chat_html",
              otw_slack_chat_link: link_to(t(".general_resources.otw_slack_chat"), "https://transformativeworks.slack.com/"),
              tag_wrangling_slack_tutorial_link: link_to(t(".general_resources.tag_wrangling_slack_tutorial"), "https://wiki.transformativeworks.org/mediawiki/Tag_Wrangling_Slack_Tutorial")) %>
      </li>
      <li>
        <%= t(".general_resources.fandoms_in_need_of_cowranglers_html",
              fandoms_in_need_of_cowranglers_link: link_to(t(".general_resources.fandoms_in_need_of_cowranglers"), "https://wiki.transformativeworks.org/mediawiki/Fandoms_in_need_of_Cowranglers")) %>
      </li>
      <li>
        <%= t(".general_resources.unassigned_fandoms_html",
              unassigned_fandoms_link: link_to(t(".general_resources.unassigned_fandoms"), unassigned_fandoms_path(sort: "count"))) %>
      </li>
      <li>
        <%= t(".general_resources.ao3_catch_and_release_html",
              ao3_catch_and_release_link: link_to(t(".general_resources.ao3_catch_and_release"), tag_wrangler_path("Ao3_Catch_and_Release")),
              ao3_wrangling_project_faq_link: link_to(t(".general_resources.ao3_wrangling_project_faq"), "https://wiki.transformativeworks.org/mediawiki/AO3_Wrangling_Project_FAQ")) %>
      </li>
      <li>
        <%= t(".general_resources.fandom_and_megafandom_directory_html",
              fandom_and_megafandom_directory_link: link_to(t(".general_resources.fandom_and_megafandom_directory"), "https://wiki.transformativeworks.org/mediawiki/Category:Fandoms_%26_Megafandoms")) %>
      </li>
    </ul>
  <% end %>

  <!--/descriptions-->

  <!--subnav-->
  <!--/subnav-->

  <!--main content-->
  <!--Eventually, something less redundant will go here-->
  <% unless params[:show].blank? %>
    <h3 class="heading"><%= ts('Mass Wrangle New/Unwrangled Tags') %></h3>
  <% end %>

  <% if @tags && @tags.empty? %>
    <p><%= ts('There are no unwrangled tags in this category at the moment.') %></p>
  <% elsif @tags %>
    <%= will_paginate @tags %>

    <%= form_tag url_for(controller: 'tag_wranglings', action: 'wrangle'), method: :post, id: 'wrangulator' do %>
      <fieldset>
        <legend><%= ts('Assign and Mass Select') %></legend>

        <dl>
          <% if params[:show] == 'fandoms' %>
            <dt><%= label_tag :media, ts('Wrangle to Media') %></dt>
            <dd><%= select_tag :media, options_for_select(@media_names) %></dd>
          <% else %>
            <dt><%= label_tag :fandom_string, ts('Wrangle to Fandom(s)') %></dt>
            <dd title="<%= ts('wrangle to fandom(s)') %>"><%= text_field_tag 'fandom_string', params[:fandom_string], autocomplete_options('fandom') %></dd>
          <% end %>
          <dt class="landmark"><%= ts('Submit') %></dt>
          <dd class="submit"><%= submit_tag ts('Wrangle') %></dd>
        </dl>
      </fieldset>

      <fieldset class="table">
        <legend><%= ts('Choose tags from a table') %></legend>

        <h3 class="landmark heading"><%= ts('Individual Selection Table') %></h3>

        <div class="wrapper">
          <table summary="<%= ts('A subset of tags listed by name, with options to edit, wrangle, or view works tagged thus. Also listed is when each tag was created, whether each is canonical, and the number of works tagged thus.') %>" id="wrangulise">
            <caption><%= @tags.first.class.to_s.pluralize %> <%= ts('to be Wrangled') %></caption>

            <colgroup>
              <col class="name" />
              <col span="3" />
            </colgroup>
            
            <thead role="navigation">
              
              <tr>
                <th scope="col">
                  <%= sort_link ts('Tag Name'), :name %>
                  <ul class="actions" role="menu">
                    <li><a id="wrangle_all_select" title="<%= ts('select') %>"><%= ts('All') %></a></li>
                    <li><a id="wrangle_all_deselect" title="<%= ts('select') %>"><%= ts('None') %></a></li>
                  </ul>
                </th>
                <th scope="col" title="<%= ts('sort by') %>">
                  <%= sort_link ts('Created'), :created_at, {sort_default: true} %>
                </th>
                <th scope="col">
                  <%= ts('Canonical') %>
                  <ul class="actions" role="menu">
                    <li><a id="canonize_all_select" title="<%= ts('select') %>"><%= ts('All') %></a></li>
                    <li><a id="canonize_all_deselect" title="<%= ts('select') %>"><%= ts('None') %></a></li>
                  </ul>
                </th>
                <th scope="col" title="<%= ts('sort by') %>">
                  <%= sort_link ts('Taggings'), :taggings_count_cache, { desc_default: true } %>
                </th>
                <th scope="col"><%= ts('Manage') %></th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th scope="row" colspan="4"><%= ts('Action:') %></th>
                <td><span class="submit actions"><%= submit_tag ts('Wrangle') %></span></td>
              </tr>
            </tfoot>

            <tbody>
              <% @tags.each do |tag| %>
                <% if tag.unwrangled? %>
                  <tr>
                    <th scope="row" title="<%= ts("tag") %>">
                      <%= check_box_tag "selected_tags[]", tag.id, nil, id: "selected_tags_#{tag.id}" %>
                      <%= label_tag "selected_tags_#{tag.id}", tag.name.to_s %>
                    </th>

                    <td title="<%= ts("created") %>"><%= l(tag.created_at.to_date) %></td>

                    <td title="<%= ts("canonical?") %>">
                      <% if tag.canonical? %>
                        <%= ts("Yes") %>
                      <% else %>
                        <%= check_box_tag "canonicals[]", tag.id, tag.canonical?, id: "canonicals_#{tag.id}" %>
                      <% end %>
                    </td>

                    <td title="<%= ts("taggings") %>"><%= tag.taggings_count_cache %></td>

                    <td>
                      <ul class="actions">
                        <li><%= link_to t(".manage.edit"), edit_tag_path(tag) %></li>
                        <li><%= link_to t(".manage.wrangle"), wrangle_tag_path(tag) %></li>
                        <li><%= link_to t(".manage.works"), tag_works_path(tag) %></li>
                        <li><%= link_to t(".manage.comments", count: tag.count_visible_comments), tag_comments_path(tag) %></li>
                      </ul>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </fieldset>

      <div>
        <%= hidden_field_tag :show, params[:show] %>
        <%= hidden_field_tag :sort_column, params[:sort_column] %>
        <%= hidden_field_tag :sort_direction, params[:sort_direction] %>
        <%= hidden_field_tag :page, params[:page] %>
      </div>
    <% end %>
    <!--/content-->
    <div class="clear"><!--presentational, phase me out--></div>

    <!--subnav-->
    <%= will_paginate @tags %>
  <% end %>
  <!--/subnav-->
</div>

<% content_for :footer_js do %>
  <%= javascript_include_tag 'select_all', skip_pipeline: true %>
<% end %>
