<h1>Manage Tags</h1>

<div id="error"></div>

<div id="fandoms">
  <%= render :partial => 'fandoms' %>
</div>

<div id="fandom-edit">
  <%= render :partial  => 'fandom' %>
</div>

<div id="tags-edit">
  <%= render :partial  => 'tags' %>
</div>

<div id="works-reference">
  <%= render :partial  => 'works' %>
</div>

<%= tag_wrangler_footer %> 
