<h1>Manage Tag Relationships</h1>

<div id="error"></div>

<div>
Assign 
  <%= link_to_remote 'fandoms to a media', :url => {:action => :index, :category1 => 'Fandom', :category2 => 'Media'}, :method => :get %>
  |
  <%= link_to_remote 'characters to a fandom', :url => {:action => :index, :category1 => 'Character', :category2 => 'Fandom'}, :method => :get %>
  |
  <%= link_to_remote 'characters to a pairing', :url => {:action => :index, :category1 => 'Character', :category2 => 'Pairing'}, :method => :get %>
  |
  <%= link_to_remote 'custom assignment', :url => {:action => :index, :customize => true}, :method => :get %>
</div>

<div id="customized-form">
  <%= render :partial  => 'tag_wranglings/customized' %>
</div>

<div id="tag-relationship-form">
  <%= render :partial  => 'tag_wranglings/sort_by_category' %>
</div>

<%= tag_wrangler_footer %> 
