<h1>Manage Tag Relationships</h1>

<div id="error"></div>

<div>
Assign 
  <%= link_to_remote 'fandoms to a media', :url => {:action => :index, :category1 => 'Fandom', :category2 => 'Media'}, :method => :get %>
  |
  <%= link_to_remote 'characters to a fandom', :url => {:action => :index, :category1 => 'Character', :category2 => 'Fandom'}, :method => :get %>
  |
  <%= link_to_remote 'characters to a pairing', :url => {:action => :index, :category1 => 'Character', :category2 => 'Pairing'}, :method => :get %>
  | 
  <%= link_to_remote 'free tags to a free tag', :url => {:action => :index, :category1 => 'default', :category2 => 'default'}, :method => :get %>
</div>

<div id="tag-relationship-form">
</div>

<div>
  <p><strong>
  Manage selected tag individually
  </strong>
  <br>
  (Click on a tag to select it for editing)
  </p>
  <div id="individual-tag-edit">
  </div>
</div>

<%= tag_wrangler_footer %> 
