<h2>
  TagWrangler: <%= @category.name %> tags
  <%- if @fandom %>
    in Fandom <%= @fandom.name %>
  <%- elsif @fandoms %>
    without a Fandom
  <%-end -%>
</h2>
<%- form_tag tag_wranglings_path do -%>
<dl>
  <%= hidden_field_tag(:id, @category.name) %>
  <%- if @fandoms %>
    <dt>Tags by Fandom:</dt>
    <dd><%= select("fandom", 'fandom_id', @fandoms.collect {|f| [ f.name_plus_size(@category, false), f.id ] }, { :include_blank => true, :selected => (@fandom.id if @fandom)}) %></dd>
    <p class = "submit"><%= submit_tag "Show Fandom" %></p>
  <%- end -%>
</dl>
<table>
  <caption>Tag attributes</caption>
  <tr>
    <th scope="col">Tag</th>
    <th scope="col">Count</th>
    <%- if @category == Rating %>
      <th scope="col">Adult</th>
    <% end %>
    <th scope="col">Canonical</th>
    <th scope="col">Synonym</th>
    <%- if @category == Fandom %>
      <th scope="col">Media</th>
    <% end %>
  </tr>
  <tr>
    <%- @tags.each do |tag| %>
      <th scope="row"><%= link_to_edit_tag(tag) %></th>
      <td><%= tag.taggings_count %></td>
      <%- if @category == Rating %>
        <td><%= check_box_tag("adult[]", tag.id, tag.adult, {:disabled => true}) %></td>
      <% end %>
      <td><%= check_box_tag("canonical[]", tag.id, tag.canonical, {:disabled => true}) %></td>
      <% if tag.merger %>
        <% if tag.merger %>
          <td>
            <%= tag.merger.name %>
          </td>
        <%- end -%>
      <% else %>
        <td></td>
      <%- end -%>
      <%- if @category == Fandom %>
        <td>
          <% if tag.media %>
            <%= tag.media.name %>
          <%- end -%>
        </td>
      <%- end -%>
  </tr>
  <%- end -%>
<%- end -%>
</table>

<%= tag_wrangler_footer %>
