<!--Descriptive page name, messages and instructions-->
<h2>Manage Approved Skins</h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/skins/navigation' %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark">Manage Skins</h3>

<% form_tag url_for(:controller => 'admin/skins', :action => 'update'), {:method => :post} do %>

  <!-- review of approved skins -->
  <fieldset>
    <legend>Approved Skins</legend>
    <h3>Approved Skins</h3>

    <table id="approved">
      <tr>
        <th>Skin</th>
        <th>Creator</th>
        <th>Admin Note</th>
        <th>Unapprove</th>
      </tr>
      <% @approved_skins.each_with_index do |skin, i| %>
        <tr>
          <td><%= link_to skin.title, skin_path(skin) -%></td>
          <td><%= skin_author_link(skin) %></td>
          <td><%=h skin.admin_note -%></td>
          <td><%= check_box_tag "make_unofficial[]", skin.id, false, :id => "make_unofficial_#{skin.id}" %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>

  <p class="submit"><%= submit_tag "Update" %></p>

<% end %>