<!--Descriptive page name, messages and instructions-->
<h2><%= ts('Manage Rejected Skins') %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/skins/navigation' %>
<!--/subnav-->

<!--main content-->
<h3 class="landmark"><%= ts('Manage Skins') %></h3>

<%=  form_tag url_for(:controller => 'admin/skins', :action => 'update'), {:method => :put} do %>
  <!-- review of rejected skins -->
  <fieldset>
    <legend>Rejected Skins</legend>
    <h3>Rejected Skins</h3>
    <table id="rejected">
      <tr>
        <th>Skin</th>
        <th>Type</th>
        <th>Creator</th>
        <th>Admin Note</th>
        <th>Unreject</th>
      </tr>
      <% @rejected_skins.each_with_index do |skin, i| %>
        <tr>
          <td><%= link_to skin.title, skin_path(skin) %></td>
          <td><%= skin.type == 'WorkSkin' ? 'Work Skin' : 'Site Skin' %></td>
          <td><%= skin_author_link(skin) %></td>
          <td><%=h skin.admin_note %></td>
          <td><%= check_box_tag "make_unrejected[]", skin.id, false, :id => "make_unrejected_#{skin.id}" %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>

  <p class="submit"><%= submit_tag "Update" %></p>

<% end %>

<!--/content-->

<!--subnav-->
<!--/subnav-->
