<!-- display a summary version of what users have requested and offered -->

<h3><%= ts("Requested %{tag_type}", :tag_type => @tag_type.pluralize.capitalize) %> (<%= @requested.count.keys.size %>)</h3>

<p class="note">Format: Tag [<span class="requested"># requests</span>, <span class="offered"># offers</span>], sorted by need</p>
<ul>
  <% @requested.sort {|a,b| sort_by_distance(a, b)}.each do |requested_tag| %>
    <%= @past_first ? "&diams;".html_safe : (@past_first = true; "") %>
    <li class="requested">
      <span class = "requested<%= @offered[requested_tag.id] > 0 ? ' offered' : '' %>">
      <%= requested_tag.name %></span>[<span class="requested"><%= requested_tag.count -%></span>,<span class="offered"><%= @offered[requested_tag.id] -%></span>]
    </li>
  <% end %>
</ul> 
    
