<!-- display a summary version of what users have requested and offered -->
<!-- requires locals :challenge_collection :tag_type :summary_tags :generated_live -->
<h2 class="heading"><%= ts("Signup Summary for %{challenge_collection}", :challenge_collection => challenge_collection.title.html_safe) %></h2>

<% unless generated_live %>
  <p>
    <%= ts("Last generated at:") %> <span class="datetime"><%= time_in_zone(Time.now, (challenge_collection.challenge.time_zone || Time.zone.name)) %></span>
    <%= ts("(Generated hourly on request while signups are open.)") %>
  </p>
<% end %>

<h3 class="heading"><%= ts("Requested %{tag_type}", :tag_type => tag_type.pluralize.capitalize) %></h3>
<!---->
<p class="note">
  Key: <strong><span class="requested offered"><%= tag_type.capitalize %></span> 
       [<span class="requested" title="requested"># requests</span>, <span class="offered" title="offered"># offers</span>]</strong>, 
       listed by fewest offers and most requests
</p>

<dl class="index group">
  <% summary_tags.each do |tag| %>
    <dt>
      <span class="<%= tag.requests > 0 ? 'requested' : ''%> <%= tag.offers > 0 ? 'offered' : '' %>" title="<%= tag.requests > 0 ? 'requested' : ''%> <%= tag.offers > 0 ? 'offered' : '' %>">
        <%= tag.name %>
      </span>
    </dt>
     <dd> (<span class="requested" title="requested"><%= tag.requests.to_i -%></span>,
      <span class="offered" title="offered"><%= tag.offers.to_i -%></span>)
    </dd>
  <% end %>
</dl> 

