<% @challenge ||= @collection.challenge -%>
<% show_req_url = @challenge.request_restriction.url_allowed && !params[:hide_urls] %>
<% show_off_url = @challenge.offer_restriction.url_allowed && !params[:hide_urls] %>
<% show_req_description = @challenge.request_restriction.description_allowed && !params[:hide_descriptions] %>
<% show_off_description = @challenge.offer_restriction.description_allowed && !params[:hide_descriptions] %>

<ul class="navigation">
<% if show_off_description || show_req_description %>
  <li><%= link_to t('gift_exchange.hide_desc', :default => "Hide Descriptions"), 
      collection_signups_path(@collection, :hide_descriptions => true, :hide_urls => params[:hide_urls]) -%></li>
<% elsif params[:hide_descriptions] %>
  <li><%= link_to t('gift_exchange.show_desc', :default => "Show Descriptions"), 
      collection_signups_path(@collection, :hide_descriptions => false, :hide_urls => params[:hide_urls]) -%></li>
<% end %>
<% if show_off_url|| show_req_url %>
  <li><%= link_to t('gift_exchange.hide_url', :default => "Hide URLs"), 
      collection_signups_path(@collection, :hide_descriptions => params[:hide_descriptions], :hide_urls => true) -%></li>
<% elsif params[:hide_urls] %>
  <li><%= link_to t('gift_exchange.show_desc', :default => "Show URLs"), 
      collection_signups_path(@collection, :hide_descriptions => params[:hide_descriptions], :hide_urls => false) -%></li>
<% end %>


</ul>

<table>
  <tr>
    <th rowspan=2>Pseud</th>
    <% @challenge.requests_num_allowed.times do |i| %>
    <th colspan=<%= show_req_url ? (show_req_description ? '3' : '2') : (show_req_description ? '2' : '1') -%>>
      <%= t("gift_exchange.request#{i+1}", :default => "Request {{num}}", :num => i+1) %>
    </th>
    <% end %>
    <% @challenge.offers_num_allowed.times do |i| %>
    <th colspan=<%= show_off_url ? (show_off_description ? '3' : '2') : (show_off_description ? '2' : '1') -%>>
      <%= t("gift_exchange.offer#{i+1}", :default => "Offer {{num}}", :num => i+1) %></th>
    <% end %>
    <th rowspan=2 abbr="options" scope="col"><%=h t('editing options', :default =>"Editing Options") %></th>
  </tr>
  <tr>
    <% @challenge.requests_num_allowed.times do |i| %>
      <th>Tags</th>
      <% if show_req_description %><th>Description</th><% end %>
      <% if show_req_url %><th>URL</th><% end %>
    <% end %>
    <% @challenge.offers_num_allowed.times do |i| %>
      <th>Tags</th>
      <% if show_off_description %><th>Description</th><% end %>
      <% if show_off_url %><th>URL</th><% end %>
    <% end %>
  </tr>
    
  </tr>

  <% @challenge_signups.each do |challenge_signup| %>
  <tr>
    <td><%=h challenge_signup.pseud.name %></td>
    <% @challenge.requests_num_allowed.times do |i| %>
      <% prompt = challenge_signup.requests[i] %>
      <td><%= !prompt || prompt.tag_set.tags.empty? ? "" : "<ul>" + tag_link_list(prompt.tag_set.tags) + "</ul>" -%></td>
      <% if show_req_description %>
        <td><%= !prompt || prompt.description.blank? ? "" : sanitize_and_format_for_display(prompt.description) -%></td>
      <% end %>
      <% if show_req_url %>
        <td><%= !prompt || prompt.url.blank? ? "" : link_to(prompt.url, prompt.url) -%></td>
      <% end %>
    <% end %>
    <% @challenge.offers_num_allowed.times do |i| %>
      <% prompt = challenge_signup.offers[i] %>
      <td><%= !prompt || prompt.tag_set.tags.empty? ? "" : "<ul>" + tag_link_list(prompt.tag_set.tags) + "</ul>" -%></td>
      <% if show_off_description %>
        <td><%= !prompt || prompt.description.blank? ? "" : sanitize_and_format_for_display(prompt.description) -%></td>
      <% end %>
      <% if show_off_url %>
        <td><%= !prompt || prompt.url.blank? ? "" : link_to(prompt.url, prompt.url) -%></td>
      <% end %>
    <% end %>
    
    <td class="navigation">
      <ul class="navigation">
        <li><%= link_to t('challenge_signups.show', :default => "Show"), collection_signup_path(@collection, challenge_signup) %></li>
        <% if challenge_signup.user == current_user %>
          <li><%= link_to t('challenge_signups.edit', :default => "Edit"), edit_collection_signup_path(@collection, challenge_signup) %></li>
        <% end %>
        <% if challenge_signup.user == current_user || @collection.user_is_maintainer?(current_user) %>
          <li><%= link_to t('challenge_signups.delete', :default => "Delete"), 
                  collection_signup_path(@collection, challenge_signup), :confirm => 'Are you sure?', :method => :delete %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</table>

