<!--descriptions-->
<h2 class="heading">
  <% if @query %>
    <%= search_header @challenge_signups, nil, t(".heading.for_search") %>
  <% else %>
    <%= t(".heading.for_collection", collection: @collection.title) %>
  <% end %>
</h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions">
  <li class="search" role="search">
    <%= form_tag collection_signups_path(@collection), class: "simple search", method: :get do |form| %>
      <fieldset>
        <%= text_field_tag "query", @query, title: t(".navigation.search"), autocomplete: "on" %>
        <%= submit_tag t(".navigation.search_by_pseud") %>
      </fieldset>
    <% end %>
  </li>
  <li>
    <%= link_to t(".navigation.download_csv"), collection_signups_path(@collection, format: :csv) %>
    <%= link_to_help "csv-download" %>
  </li>
</ul>
<!--/subnav-->

<!--main content-->
<% if @challenge_signups.empty? %>
  <p><%= t(".no_sign_ups_yet") %></p>
<% else %>
  <%= will_paginate(@challenge_signups) %>

  <dl class="index group">
    <% @challenge_signups.each do |signup| %>
      <dt class="participant" title="<%= t(".participant_username") %>">
        <%= link_to signup.pseud.name, collection_signup_path(@collection, signup) %>
        <%= mailto_link signup.pseud.user, subject: "[#{h(@collection.title)}] Message from Collection Maintainer" %>
      </dt>
      <dd>
        <%= render "challenge_signups/signup_controls", challenge_signup: signup, subnav: false %>
        <ul class="actions">
          <li>
            <%= link_to t(".requests_html", down_arrow: "&#8595;"), "#", class: "requests_#{signup.id}_open" %>
            <%= link_to t(".close_requests_html", up_arrow: "&#8593;"), "#", class: "requests_#{signup.id}_close" %>
          </li>
          <li>
            <%= link_to t(".offers_html", down_arrow: "&#8595;"), "#", class: "offers_#{signup.id}_open" %>
            <%= link_to t(".close_offers_html", up_arrow: "&#8593;"), "#", class: "offers_#{signup.id}_close" %>
          </li>
        </ul>
        <div class="toggled" id="<%= "requests_#{signup.id}" %>">
          <%= render "challenge_signups/show_requests", challenge_signup: signup %>
        </div>
        <div class="toggled" id="<%= "offers_#{signup.id}" %>">
          <%= render "challenge_signups/show_offers", challenge_signup: signup %>
        </div>
      </dd>
    <% end %>
  </dl>

  <%= will_paginate(@challenge_signups) %>
<% end %>
<!--/content-->
