<!-- display a summary version of what users have requested and offered -->
<h3><%= ts("Requested %{tag_type}", :tag_type => @tag_type.pluralize.capitalize) %> (<%= @requested.count.keys.size %>)</h3>

<p class="note">
  Key: <span class=requested><%= @tag_type.capitalize %></span> 
       [<span class="requested"># requests</span>, <span class="offered"># offers</span>], 
       sorted by fewest offers
</p>

<ul>
  <!-- we sort by fewest # offers, and if equal offers then fewers # requests -->
  <% @requested.sort {|a,b| @offered[a.id] == @offered[b.id] ? a.count <=> b.count : @offered[a.id] <=> @offered[b.id]}.each do |requested_tag| %>
    <li class="requested">
      <span class = "requested<%= @offered[requested_tag.id] > 0 ? ' offered' : '' %>">
      <%= requested_tag.name %></span>[<span class="requested"><%= requested_tag.count -%></span>,<span class="offered"><%= @offered[requested_tag.id] -%></span>]
    </li>
  <% end %>
</ul> 
