<h1>Listing poems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Book</th>
  </tr>

<% for poem in @poems %>
  <tr>
    <td><%=h poem.title %></td>
    <td><%=h poem.author %></td>
    <td><%=h poem.book %></td>
    <td><%= link_to 'Show', poem %></td>
    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    <td><%= link_to 'Destroy', poem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poem', new_poem_path %>
