<%= render :partial => 'admin/admin_nav' %>

<h1><%= t("archive_faq", :default => "Archive FAQ") -%></h1>

<%- if @archive_faqs.empty? -%>
<table>
	<tr>
		<td>
  		<%= link_to 'Create New Archive FAQ', new_archive_faq_path %>
		</td>
	<tr>
</table>		
<% end %>

<% @archive_faqs.each do |archive_faq| %>
  <div class="navigation">
    <span class="navitem"><%= link_to "Show", archive_faq %></span>
    <span class="navitem"><%= link_to "Edit", edit_archive_faq_path(archive_faq) %></span>
    <span class="navitem"><%= link_to "Delete", archive_faq, :confirm => 'Are you sure?', :method => :delete %></span>
  </div>
  <div id="tos" class="work-show">
    <h6>Updated at: <%=h archive_faq.updated_at %></h6>
    <%= sanitize_and_format_for_display archive_faq.content %>
  </div>
<% end %>  
	
<br />