<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t("archive_faq", :default => "Archive FAQ") %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<ul class="navigation actions" role="navigation">
  <li><%= link_to "Add a new section", new_archive_faq_path %></li>
  <li><%= link_to "Reorder FAQs", manage_archive_faqs_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<!--FRONT END: TABLEWATCH!! SUGGEST DL.INDEX PATTERN-->
<div class="wrapper">
	<table summary="This table lists Archive FAQs by title, date posted and date updated, and lets you show, edit, and delete each FAQ.">
	<caption>Manage Archive FAQs</caption>
	<colgroup>
	<col class="name" />
	<col span="5" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col"><%=h 'Title' %></th>
			<th scope="col"><%=h 'Posted' %></th>
			<th scope="col"><%=h 'Updated' %></th>
			<th scope="col" colspan="3"><%=h 'Actions' %></th>
		</tr>
	</thead>
	<tbody>	
  <% @archive_faqs.each do |archive_faq| %>
    <tr>
      <th scope="row"><%= link_to archive_faq.title, archive_faq %></th>
      <td><%=h archive_faq.created_at %></td>
      <td><%=h archive_faq.updated_at %></td>
      <td class="actions"><%= link_to "Show", archive_faq %></td>
      <td class="actions"><%= link_to "Edit", edit_archive_faq_path(archive_faq) %></td>
      <td class="actions"><%= link_to "Delete", archive_faq, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %> 
</tbody>
</table>
</div>
<!--/content-->
