<div id="work-form" class="post create faq">
  <%= form_for(@archive_faq) do |form| %>
      <%= error_messages_for @archive_faq %>

      <fieldset>
        <dl class="text">
          <dt><%= form.label :title, ts("Category Name") %></dt>
          <dd><%= form.text_field :title, :id => "title" %>
            <%= live_validation_for_field('title', :failureMessage => ts("Please enter a Category Name.")) %>
          </dd>
          <%= form.fields_for :questions, do |builder| %>
              <%= render 'question_answer_fields', :form => builder %>
          <% end %>
          <p class="actions" role="button">
            <% linktext = ts("Add another Question?") %>
            <%= link_to_add_section(linktext, form, :questions, "question_answer_fields", :required => false) %>

          </p>

      </fieldset>
      <dt class="landmark heading">("Post") %></dt>
      <dd class="submit actions">
        <%= submit_tag ts('Post'), :name => 'post_button' %>
      </dd>
      </dl>
  <% end %>
</div>