<div id="manage-archive-faqs">
  <% form_tag url_for(:action => 'update_positions') do %>
  <ul id="sortable_series_list">
    <% for archive_faq in @archive_faqs %>
      <li id="archive_faq_<%= archive_faq.id %>">
        <%= text_field_tag 'archive_faqs[]', nil, :size => 3, :maxlength => 3, :class => 'serial-position-field' -%>
        <span id='position-for-<%= archive_faq.id %>'><%= archive_faq.position %></span>. 
        <h3><%=h archive_faq.title %></h3>
      </li>
    <% end %>    
  </ul>
  <p class="submit"><%= submit_tag "Update Positions" %></p>
  <% end %>
</div>

<%= sortable_element('sortable_series_list', :url => {:action => :update_positions}) %>