<%= form_for(@archive_faq,  :html => {:class => "create faq"}) do |form| %>
  <%= error_messages_for @archive_faq %>
  <fieldset>
  <legend><%= ts("Set Preferences") %></legend>
  <h3 class="landmark heading">Set Prefs</h3>
  <dl>
    <dt>
      <%= form.label :language_id, ts("Choose a language") %>
    </dt>
    <dd>
      <select id="archive_faq_language_id" name="archive_faq[language_id]">
        <%= options_from_collection_for_select(Language.default_order, :id, :name, @archive_faq.language_id || Language.default.id) %>
      </select>
    </dd>
    <dt>
      <%= form.label :translated_faq_id, ts("Is this a translation of another FAQ?") %>
    </dt>
    <dd>
      <%= form.collection_select(:translated_faq_id, @translatable_faqs, :id, :title, {:prompt => true}) %>
    </dd>
    <dt>
      <%= form.label :notify_translations, ts("Notify Translation Committee of changes you made in this FAQ Section?")  %>
    </dt>
    <dd>
      <%= form.check_box :notify_translations %>
    </dd>
  </dl>
  </fieldset>
  <fieldset>
    <dl class="text">
      <dt><%= form.label :title, ts("Category Name") %></dt>
      <dd><%= form.text_field :title, :id => "title" %>
        <%= live_validation_for_field('title', :failureMessage => ts("Please enter a Category Name.")) %>
      </dd>
      <%= form.fields_for :questions do |builder| %>
        <%= render 'question_answer_fields', :form => builder %>
      <% end %>
      <p class="actions" role="button">
        <% linktext = ts("Add another Question?") %>
        <%= link_to_add_section(linktext, form, :questions, "question_answer_fields", :required => false) %>
      </p>
      <dt class="landmark heading"><% ts("Post") %></dt>
      <dd class="submit actions">
        <%= submit_tag ts('Post'), :name => 'post_button' %>
      </dd>
    </dl>
  </fieldset>
<% end %>