<div id="manage-archive-faqs-questions">
  <%= form_tag url_for(:action => 'update_question_positions') do %>
      <ul id="sortable_archive_faq_question_list">
        <% for question in @archive_faq_questions.questions %>
            <li id="question_<%= question.id %>" class="question-position-list">
              <%= text_field_tag "questions_attributes[]", nil, :size => 3, :maxlength => 3, :id => "question_#{question.id}", :class => "number" %>
              <span id='position-for-<%= question.id %>'><%= question.position %></span>.
              <h3 class="heading"><%= question.question %></h3>
            </li>
        <% end %>
      </ul>
      <p class="submit actions"><%= submit_tag "Update Question Positions" %></p>
  <% end %>
</div>
<% for q in @archive_faq_questions.questions %>
<p>Question is <%= q.question  %></p>
<p>ID is <%= q.id %></p>
<p>Position is <%= q.position %></p>
<% end %>

