<!--Descriptive page name, messages and instructions-->
<% if logged_in_as_admin? %>
    <%= render :partial => "admin_index" %>
<% else %>
<h2 class="heading"><%= ts("Archive FAQ") %></h2>
<!--/descriptions-->

<!--main content-->
<div class="admin userstuff">
  <p><%= ts("Some commonly asked questions about the Archive are answered here.
    Questions and answers about our Terms of Service can be found in the") %> <%= link_to ts("TOS FAQ"), tos_faq_path %>.
    <%= ts("You may also like to check out our") %> <%= link_to ts("Known Issues"), known_issues_path %>.
    <%= ts("If you need more help, please submit a ") %><%= link_to ts("Support request"), feedbacks_path %>.</p>

  <% unless @archive_faqs.blank?  %>
    <h3 id="categories" class="heading"><%= ts("Available Categories") %></h3>
      <ol role="navigation" class="faq index group">
        <% for faq in @archive_faqs %>
          <li class="category">
          <a href="javascript:void(0)" class="title"><%= faq.title %></a>
            <ul>
              <% for q in faq.questions %>
                <li>
                  <%= link_to q.question, archive_faq_path(faq, :anchor => q.anchor) %>
                  <% unless q.screencast.to_s.empty? %>
                    <br/>
                    <%= ts("Screencast: ") %><%= raw sanitize_field(q, :screencast) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ol>
  <% end %>
</div>
<script type="text/javascript">
    $j(document).ready(function() {
        $j("div.admin.userstuff ol>li>a").click(function() { $j(this).next().toggle(); }).next().hide();
    });
</script>
<% end %>