<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= link_to ts("Archive FAQ"), archive_faqs_path %> > <%= @archive_faq.title %></h2>
<!--/descriptions-->

<!--subnav-->

<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
  <% if logged_in_as_admin? %>
      <div class="header">
        <h3 class="heading">
          Updated: <%=h @archive_faq.updated_at %> | <%= link_to 'Edit', edit_archive_faq_path(@archive_faq) %>
        </h3>
      </div>
  <% end %>
  <div class="userstuff">
    <% for q in @archive_faq.questions %>
        <h3 id="<%= q.anchor %>"><%= q.question %></h3>
        <%= raw sanitize_field(q, :content) %>
        <% unless q.screencast.to_s == "" %>
            <%= raw sanitize_field(q, :screencast) %>
        <% end %>
    <% end %>
  </div>
</div>
<!--/content-->