<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t("archive_faq", :default => "Archive FAQ") %></h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
	<li><%= link_to t('.back_to_archive_faq_text', :default => 'Back to Archive FAQ'), archive_faqs_path %></li>
</ul>
<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
  <div class="header">
    <h3 class="heading">
      <%= @archive_faq.title %>
    </h3>
    <% if logged_in_as_admin? %>
      <h4 class="heading">
        Updated: <%=h @archive_faq.updated_at %> | <%= link_to 'Edit', edit_archive_faq_path(@archive_faq) %>
      </h4>
    <% end %>
  </div>
  <div class="userstuff">
    <%=raw sanitize_field(@archive_faq, :content) %>
  </div>
</div>
<!--/content-->