<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= link_to t("archive_faq", :default => "Archive FAQ"), archive_faqs_path %> > <%= @archive_faq.title %></h2>
<!--/descriptions-->

<!--subnav-->

<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
  <div class="header">
    <% if logged_in_as_admin? %>
      <h3 class="heading">
        Updated: <%=h @archive_faq.updated_at %> | <%= link_to 'Edit', edit_archive_faq_path(@archive_faq) %>
      </h3>
    <% end %>
  </div>
  <div class="faq userstuff">
    <%=raw sanitize_field(@archive_faq, :content) %>
  </div>
</div>
<!--/content-->