<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= link_to ts("Archive FAQ"), archive_faqs_path %> > <%= @archive_faq.title %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="admin" role="article">
  <% if logged_in_as_admin? %>
    <div class="header">
      <h3 class="heading">
        Updated: <%=h @archive_faq.updated_at %> | <%= link_to 'Edit', edit_archive_faq_path(@archive_faq) %>
      </h3>
    </div>
  <% end %>
  
  <% if @archive_faq.questions.blank?  %>
    <p class="notice"><%= ts("We're sorry, there are currently no entries in this category.") %></p>
  <% else %>
    <div class="userstuff">

      <h3 id="categories" class="heading"><%= ts("Table of Contents for #{@archive_faq.title}") %></h3>
      <ol class="toc" role="navigation">
        <% for q in @archive_faq.questions %>
          <li><%= link_to q.question, archive_faq_path(@archive_faq, :anchor => q.anchor) %></li>
        <% end %>
      </ol>

      <% for q in @archive_faq.questions %>
        <h3 id="<%= q.anchor %>"><%= q.question %></h3>
        <%= raw sanitize_field(q, :content) %>
        <% unless q.screencast.to_s == "" %>
          <%= raw sanitize_field(q, :screencast) %>
        <% end %>
      <% end %>
      
    </div>
  <% end %>
</div>
<!--/content-->