<h1>Editing cat</h1>

<%= error_messages_for :cat %>

<% form_for(@cat) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Breed</b><br />
    <%= f.text_field :breed %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cat %> |
<%= link_to 'Back', cats_path %>
