<h1>Listing cats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
  </tr>

<% for cat in @cats %>
  <tr>
    <td><%=h cat.name %></td>
    <td><%=h cat.breed %></td>
    <td><%= link_to 'Show', cat %></td>
    <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
    <td><%= link_to 'Destroy', cat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cat', new_cat_path %>
