<h1>Editing tagging</h1>

<%= error_messages_for :tagging %>

<% form_for(@tagging) do |f| %>
  <p>
  <%= @tagging.taggable.name %>
  <%= f.select("tag_relationship_id", TagRelationship.find(:all).collect {|p| [ p.verb_phrase, p.id ] }, {:include_blank => 'points to'}) %>

  <%= @tagging.tag.name %>

    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tagging %> |
<%= link_to 'Back', taggings_path %>
