<h1>New tagging</h1>

<%= error_messages_for :tagging %>

<% form_for(@tagging) do |f| %>
  <p>
    <%= f.select('taggable_id', @tags.collect {|t| [t.name, t.id] }) %>
  <%= f.select("tag_relationship_id", TagRelationship.find(:all).collect {|p| [ p.verb_phrase, p.id ] }, {:include_blank => 'points to'}) %>
    <%= f.select('tag_id', @tags.collect {|t| [t.name, t.id]} )%>

    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', taggings_path %>
