<h1><%=h 'Listing related_works'.t %></h1>
<table>
  <caption><!--this needs to be a short summary of what the table shows--></caption>
	<tr>
    	<th scope="col"><%=h 'Parent'.t %></th>
    	<th scope="col"><%=h 'Work'.t %></th>
    	<th scope="col"><%=h 'Reciprocal'.t %></th>
	</tr>
<% for related_work in @related_works %>
	<tr>
    	<th scope="row"><%=h related_work.parent_id %></th>
    	<td><%=h related_work.work %></td>
    	<td><%=h related_work.reciprocal %></td>
    	<td><%= link_to 'Show'.t, related_work %></td>
    	<td><%= link_to 'Edit'.t, edit_related_work_path(related_work) %></td>
    	<td><%= link_to 'Destroy'.t, related_work, :confirm => 'Are you sure?'.t, :method => :delete %></td>
	</tr>
<% end %>
</table>

<p><%= link_to 'New related_work'.t, new_related_work_path %></p>
