<h1>Listing related_works</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Work</th>
    <th>Reciprocal</th>
  </tr>

<% for related_work in @related_works %>
  <tr>
    <td><%=h related_work.parent_id %></td>
    <td><%=h related_work.work %></td>
    <td><%=h related_work.reciprocal %></td>
    <td><%= link_to 'Show', related_work %></td>
    <td><%= link_to 'Edit', edit_related_work_path(related_work) %></td>
    <td><%= link_to 'Destroy', related_work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New related_work', new_related_work_path %>
