<h1><%=h 'Listing related_works' %></h1>
<table>
  <caption><!--this needs to be a short summary of what the table shows--></caption>
	<tr>
    	<th scope="col"><%=h 'Parent' %></th>
    	<th scope="col"><%=h 'Work' %></th>
    	<th scope="col"><%=h 'Reciprocal' %></th>
	</tr>
<% for related_work in @related_works %>
	<tr>
    	<th scope="row"><%=h related_work.parent_id %></th>
    	<td><%=h related_work.work %></td>
    	<td><%=h related_work.reciprocal %></td>
    	<td><%= link_to 'Show', related_work %></td>
    	<td><%= link_to 'Edit', edit_related_work_path(related_work) %></td>
    	<td><%= link_to 'Destroy', related_work, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<ul class="navigation">
<li><%= link_to 'New related_work', new_related_work_path %></li>
</ul>
