<!--Descriptive page name, messages and instructions-->
<% if @user %>
<h2><%= @user.login %>'s Related Works</h2>
<% end %>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<% unless @translations_of_user.blank? %>  
  <h3>Translations of <%= @user.login %>'s works</h3>
  
  <table id="translationsofme">
    <thead>
      <tr>
        <th>Translation</th>
        <th>Original</th>
        <th>Language</th>
        <% if current_user == @user %>
        <th>Approve/remove link</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @translations_of_user.each do |related_work| %>
      <% if related_work.parent && related_work.work %>
      <tr>
        <% if related_work.work.unrevealed? %>
          <td><%= "A work in an unrevealed challenge" %></td>
        <% else %>
          <td><%= link_to related_work.work.title.html_safe, related_work.work %> by <%= byline(related_work.work) %></td>
          <td><%= link_to related_work.parent.title.html_safe, related_work.parent %></td>
          <td>
              From <%= language_link(related_work.parent) %> to <%= language_link(related_work.work) %>
          </td>
          <% if current_user == @user %>
            <% if related_work.reciprocal? %>
              <td><%= link_to "Remove", related_work %></td>
            <% else %>
              <td><%= link_to "Approve", related_work %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>  
 
<% unless @translations_by_user.blank? %>  
  <h3>Works <%= @user.login %> has translated</h3>
  
  <table id="mytranslations">
    <thead>
      <tr>
      <tr>
        <th>Original</th>
        <th>Translation</th>
        <th>Language</th>
        <% if current_user == @user %>
        <th>Remove connection</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @translations_by_user.each do |related_work| %>
      <% if related_work.parent && related_work.work %>
      <tr>
        <% if related_work.work.unrevealed? || related_work.work.anonymous? %>
        <td><%= "A work in an unrevealed or anonymous challenge" %></td>
        <% else %>
          <td><%= link_to related_work.parent.title, related_work.parent %> by <%= byline(related_work.parent) %></td>
          <td><%= link_to related_work.work.title, related_work.work %></td>
          <td>
            From <%= language_link(related_work.parent) %> to <%= language_link(related_work.work) %>
          </td>
          <% if current_user == @user %>
          <td><%= link_to "Remove", {:controller => :related_works, :action => :destroy, :id => related_work.id},  :confirm => ts('Are you sure?'), :method => :delete %></td>
          <% end %>
        <% end %>
      </tr>    
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
 
<% unless @remixes_of_user.blank? %>
  <h3>Works inspired by <%= @user.login %>'s works</h3>

  <table id="inspiredbyme">
    <thead>
      <tr>
        <th>Remix/Inspired Work</th>
        <th>Original</th>
        <% if current_user == @user %>
        <th>Approve/remove link</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @remixes_of_user.each do |related_work| %>
      <% if related_work.parent && related_work.work %>
      <tr>
        <% if related_work.work.unrevealed? %>
          <td><%= "A work in an unrevealed challenge" %></td>
        <% else %>
          <td><%= link_to related_work.work.title.html_safe, related_work.work %> by <%= byline(related_work.work) %></td>
          <td><%= link_to related_work.parent.title.html_safe, related_work.parent %></td>
          <% if current_user == @user %>
            <% if related_work.reciprocal? %>
              <td><%= link_to "Remove", related_work %></td>
            <% else %>
              <td><%= link_to "Approve", related_work %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>  
  
<% unless @remixes_by_user.blank? %>
  <h3>Works <%= @user.login %>'s works were inspired by</h3>
  
  <table id="myinspirations">
    <thead> 
      <tr>
        <th>Original</th>
        <th>Remix/Inspired Work</th>
        <% if current_user == @user %>
        <th>Remove connection</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @remixes_by_user.each do |related_work| %>
      <% unless related_work.translation? %>
        <% if related_work.parent && related_work.work %>
        <tr>
          <% if related_work.work.unrevealed? || related_work.work.anonymous? %>
          <td><%= "A work in an unrevealed or anonymous challenge" %></td>
          <% else %>
            <td><%= link_to related_work.parent.title, related_work.parent %> by <%= byline(related_work.parent) %></td>
            <td><%= link_to related_work.work.title, related_work.work %></td>
            <% if current_user == @user %>
            <td><%= link_to "Remove", {:controller => :related_works, :action => :destroy, :id => related_work.id},  :confirm => ts('Are you sure?'), :method => :delete %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
  
<!--/main content-->