<h1><%=h 'New related_work'.t %></h1>

<% form_for(@related_work) do |f| %>
  <%= f.error_messages %>
	<dl>
		<dt><%= f.label :parent_id %></dt>
    		<dd><%= f.text_field :parent_id %></dd>
		<dt><%= f.label :work %></dt>
    		<dd><%= f.text_field :work %></dd>
		<dt><%= f.label :reciprocal %></dt>
    		<dd><%= f.check_box :reciprocal %></dd>
	</dl>
	<p class="submit">
    <%= f.submit "Create".t %>
	</p>
<% end %>

<ul class="navigation">
<li><%= link_to 'Back'.t, related_works_path %></li>
</ul>
