<h1>Approve Link</h1>

<p>Would you like to create a link from your story <%= link_to @related_work.parent.metadata.title, @related_work.parent %> to 
<%= link_to @related_work.work.metadata.title, @related_work.parent %> by <%= print_pseud_list(@related_work.work.pseuds) %>?</p>

<p>(Nothing will be linked directly from your stories without your express approval.)</p> 

<% form_for(@related_work) do |f| %>
  <p>
    <%= f.check_box :reciprocal %> <%= f.label :reciprocal, "Yes, link me!" %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
