<div class="collection home">

    <h2 class="heading">Claims for <%= @collection.title %></h2>

    <% if logged_in? %>
      <ul class="navigation actions" role="navigation">
        <li><%= link_to ts("My Claims"), user_claims_path(current_user) %></li>
    </ul>
  <% end %>


<% # BACK END TODO this is broken, you can't use paginate twice in the same page on two separate sets of data like this, but it's already broken this way on beta so leaving it for now %>

<% unless @unposted_claims.empty? %>
  <div class="unposted claims listbox">
    <h3 class="heading">Unposted Claims</h3>
  <%= will_paginate @unposted_claims -%>
  <ul class="index">
    <% @unposted_claims.each do |claim| %>
      <%= render "challenge_claims/claim_blurb", :claim => claim %>
    <% end %>
  </ul>
  <%= will_paginate @unposted_claims -%>
</div>
<% end %>

<% unless @posted_claims.empty? %>
  <div class="posted claims listbox">
      <h3 class="heading">Posted Claims</h3>
  <%= will_paginate @posted_claims -%>
  <ul class="index">
    <% @posted_claims.each do |claim| %>
      <%= render "challenge_claims/claim_blurb", :claim => claim %>
    <% end %>
  </ul>
  <%= will_paginate @posted_claims -%>
</div>
<% end %>

</div>


