<h1><%=h 'Editing community'.t %></h1>

<% form_for(@community) do |f| %>
  <%= f.error_messages %>
	<dl>
		<dt><%= f.label :name %></dt>
    	<dd><%= f.text_field :name %></dd>
  		<dt><%= f.label :description %></dt>
    	<dd><%= f.text_area :description %></dd>
  		<dt><%= f.label :open_membership %></dt>
    	<dd><%= f.check_box :open_membership %></dt>
  	</dl>
  	<p class="submit">
    	<%= f.submit "Update".t %>
  	</p>
<% end %>
<ul class="navigation">
<li><%= link_to 'Show'.t, @community %></li>
<li><%= link_to 'Back'.t, communities_path %></li>
</ul>
