<h1><%=h 'New community'.t %></h1>

<% form_for(@community) do |f| %>
  <%= f.error_messages %>
	<dl>
		<dt><%= f.label :name %></dt>
    	<dd><%= f.text_field :name %><dd>
		<dt><%= f.label :description %></dt>
    	<dd><%= f.text_area :description %></dd>
		<dt><%= f.label :open_membership %></dt>
    	<dd><%= f.check_box :open_membership %></dd>
	</dl>
  <p>
    <%= f.submit "Create".t %>
  </p>
<% end %>

<p><%= link_to 'Back'.t, communities_path %></p>
