<p>
  <b><%=h 'Name:'.t %></b>
  <%=h @community.name %>
</p>

<p>
  <b><%=h 'Description:'.t %></b>
  <%=h @community.description %>
</p>

<p>
  <b><%=h 'Open membership:'.t %></b>
  <%=h @community.open_membership %>
</p>


<%= link_to 'Edit'.t, edit_community_path(@community) %> |
<%= link_to 'Back'.t, communities_path %>
