<p>
  <strong><%=h 'Name:'.t %></strong>
  <%=h @community.name %>
</p>

<p>
  <strong><%=h 'Description:'.t %></strong>
  <%=h @community.description %>
</p>

<p>
  <strong><%=h 'Open membership:'.t %></strong>
  <%=h @community.open_membership %>
</p>


<%= link_to 'Edit'.t, edit_community_path(@community) %> |
<%= link_to 'Back'.t, communities_path %>
