<h2><%= ts("Tag Wrangling Requests For %{title}", :title => @tag_set.title) %></h2>

<h3 class="landmark">Navigation</h3>
<ul class="navigation" role="navigation">
  <li><%= link_to ts("Back To Tag Set"), tag_set_path(@tag_set) %></li>
	<% if @tag_set.user_is_owner?(current_user) %>
    <li><%= link_to ts("Request Tag Wrangling"), request_wrangling_tag_set_path(@tag_set) %></li>
  <% end %>
</ul>

<% if @requests.empty? %>
  <%= ts("No requests submitted yet!")%>
<% else %>
  <ul>    
    <%= @requests.each do |request| %>
      <li>
      </li>
    <% end %>
  </ul>
<% end %>
  
  