 <p class="message"><%= ts("Please verify the names of your co-authors") %></p>

<%= form_for(@series) do |f| %>

  <%= render 'pseuds/coauthor_form', :creation => @series, :form => f %>

  <%= render 'hidden_fields', :form => f %>

  <p class="submit cancel actions">
    <%= submit_tag ts('Save'), :name => 'save_button' %>
    <%= link_to ts("Cancel"), series_path %>
  </p>

<% end %>
