<!-- expects a local variable "form" -->

<!-- put in all the information uploaded in hidden fields -->
<div>
  <%= form.hidden_field :title, :value => "#{@series.title}" %>
  <%= form.hidden_field :summary, :value => "#{@series.summary}" %>
  <%= form.hidden_field :series_notes, :value => "#{@series.series_notes}" %>
  <% unless @coauthors.blank? %>
    <select name="series[author_attributes][coauthors][]" multiple="multiple" style="display:none;">
      <%= options_from_collection_for_select(@coauthors, :id, :name, @selected_pseuds) %>
    </select>
  <% end %>
  <select name="series[author_attributes][ids][]" multiple="multiple" style="display:none;">
    <%= options_from_collection_for_select(@allpseuds, :id, :name, @selected_pseuds) %>
  </select>
</div>
