<% # expects "series" %>

<!--title etc-->
<div class="header module">
	<h4 class="heading" title="<%= ts('Series Title') %>">
		<%= link_to series.title, series %>
		<%= ts('by') %>
		<%= byline(series) %>
		<% if series.restricted %>
	    <span class="restricted">
        <span class="symbol" aria-hidden="true" data-icon="&#xe0a8;" title="<%= ts("Restricted") %>"></span>
        <span class="landmark"><%= ts("Restricted") %></span>
      </span>
		<% end %>
		<% if series.hidden_by_admin %>
      <span class="flagged">
        <span class="symbol" aria-hidden="true" data-icon="&#xe0a8;" title="<%= ts("Hidden by Administrator") %>"></span>
        <span class="landmark"><%= ts("Hidden by Administrator") %></span>
      </span>
    <% end %>
	</h4>
	<h5 class="heading" title="<%= ts('fandoms') %>">
    <%= series.work_tags.select{|tag| tag.type == "Fandom"}.sort.collect{|tag| link_to_tag_works(tag) }.join(', ').html_safe %>
  </h5>
  <%= get_symbols_for(series) %>
	<p class="datetime"><%= set_format_for_date(series.revised_at) %></p>
</div>

<!--tags-->
<ul class="tags commas">
  <%= blurb_tag_block(series) %>
</ul>
    
<!--summary-->
<% unless series.summary.blank? %>
	<h6 class="landmark heading"><%= ts("Summary") %></h6>
  <blockquote class="userstuff summary" title="<%= ts('summary') %>"><%=raw strip_images(sanitize_field(series, :summary)) %></blockquote>
<% end %>
<!--stats-->
<dl class="stats" title="<%= ts('stats') %>">
  <dt><%= ts('Words:') %></dt> 
  <dd><%= number_with_delimiter(series.visible_word_count) %></dd>
  <dt><%= ts('Works:') %></dt> 
  <dd><%= series.visible_work_count %></dd>
  <% if (bookmark_count = series.bookmarks.is_public.count) > 0 %>
  	<dt><%= ts('Bookmarks:') %></dt>
    <dd><%= link_to_bookmarkable_bookmarks(series, bookmark_count.to_s) %></dd>
  <% end %>
</dl>
