<li class="work series" id="series_<%=h series.id %>_blurb">
	<ul class="work">
		<li class="heading">
			<ul class="required-tags">
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			</ul>
			<h3 title="Series Title">
				<%= link_to sanitize_title_for_display(series.title), series %>
				<%=h 'by' %>
				<%= byline(series) -%>
				<%- if series.restricted %>
					<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)") -%>
				<%- end -%>
				<% if series.hidden_by_admin %>
					<%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)") %>
				<% end %>
			</h3>
			
		<h4>&nbsp;<!--fandom will go here--></h4>
		<p class="update"><%= time_ago_in_words(series.updated_at) %></p>
		</li>
		<li>
			<dl class="tags">
			<dt><%=h 'Tags' + ': ' %></dt>
			<dd>
			<ul>
				<% series.works.select{|work| work.visible(current_user)}.collect(&:tags).flatten.compact.uniq.each do |tag| %>
				<li><%= link_to_tag(tag) -%></li>
				<% end %>
			</ul>
			</dd>
			</dl>
		</li>
		<li class="summary">
			<%= sanitize_and_format_for_display series.summary %>
		</li>
		<li class="stats">
			<dl>
			<dt><%=h 'Words' + ': ' %></dt> 
				<dd><%= number_with_delimiter(series.works.select{|work| work.visible(current_user)}.collect(&:word_count).sum) %></dd>
			<dt><%=h 'Works' + ': ' %></dt> 
				<dd><%=h series.serial_works.select{|sw| sw.work.visible(current_user)}.size %></dd>
			</dl>
		</li>
	</ul>
</li>