<li class="work series" id="series_<%=h series.id %>_blurb">
	<ul class="work">
		<li class="heading">
			<ul class="required-tags">
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			<li><img src="/images/category-none.png" alt="" title="dummy icons for layout purpose" /></li>
			</ul>
			<h3 title="Series Title">
				<%= link_to sanitize_title_for_display(series.title), series %>
				<%=h 'by' %>
				<%= byline(series) -%>
				<%- if series.restricted %>
					<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") -%>
				<%- end -%>
				<% if series.hidden_by_admin %>
					<%= image_tag("lockred.png", :size => "15x15", :alt => "(Hidden by Admin)", :title => "Hidden by Administrator") %>
				<% end %>
			</h3>
			
		<h4><% author_fandoms = series.works.visible.collect(&:fandom_tags).flatten.compact.uniq
           unless author_fandoms.size <1 -%>
		         <%= author_fandoms.collect{|tag| link_to_tag(tag) }.join(', ') %>
		    <% end %>
		</h4>
		<p class="update"><%= set_format_for_date(series.revised_at) %></p>
		</li>
		<li class="tagslist">
    <ul class="column">
		  <%- author_tags = series.works.visible.collect{|w| [w.categories, w.ratings, w.cast_tags, w.freeform_tags]}.transpose.flatten.uniq
      unless author_tags.size < 1 -%>
			  <li class="blurb tags">
			    <div class="label"><%=h 'Tags' + ': ' %></div>
			    <div class="item">
			      <%= author_tags.collect{|tag| link_to_tag(tag) }.join(', ') %>
			    </div>
			  </li>
      <%- end -%>  
      <%- author_warnings = series.works.visible.collect(&:warning_tags).flatten.compact.uniq 
      unless author_warnings.size < 1 -%>
        <li class="blurb tags">
          <div class="label"><%=h 'Warnings:' %></div>
          <div class="item" id="series_<%= series.id %>_category_warning">
            <%- if hide_warnings?(series) -%>
              <%= show_warnings_link(series) %>
            <%- else -%>
              <%= author_warnings.collect{|tag| link_to_tag(tag)}.join(', ') %>
            <%- end -%>
          </div>
        </li>
      <%- end -%>
    </ul>
		</li>
		<%- unless series.summary.blank? %>
  		<li class="summary">
  			<%= sanitize_and_format_for_display series.summary %>
  		</li>
		<%- end -%>
		<li class="stats">
			<dl>
			<dt><%=h 'Words' + ': ' %></dt> 
				<dd><%= number_with_delimiter(series.works.select{|work| work.visible(current_user)}.collect(&:word_count).sum) %></dd>
			<dt><%=h 'Works' + ': ' %></dt> 
				<dd><%=h series.serial_works.select{|sw| sw.work.visible(current_user)}.size %></dd>
			</dl>
		</li>
    <%- if is_author_of?(series) -%>
	    <li class="navigation"><%= link_to t('links.edit', :default => 'Edit'), edit_series_path(series) -%></li>
    <%- end -%>
	</ul>
</li>
