<ul class="navigation actions" role="navigation">
  <% if logged_in? && is_author_of?(@series) %>
    <li><%= span_if_current ts("Edit Series"), edit_series_path(@series) %></li>
    <li><%= link_to ts("Delete Series"), confirm_delete_series_path(@series), data: {confirm: ts('Are you sure you want to delete this series? This will NOT delete the individual works.')} %></li>
    <li><%= link_to ts("Reorder Series"), manage_series_path(@series) %></li>
    <li><%= link_to ts("Orphan Series"), {:controller => 'orphans', :action => 'new', :series_id => @series.id} %></li>
    <% unless (@series.pseuds - current_user.pseuds).empty? %>
      <li><%= link_to ts("Remove Me As Co-Creator"), edit_series_path(@series, :remove => 'me'), data: {confirm: series_removal_confirmation(@series, current_user)} %></li>
    <% end %>
  <% end %>

  <% if logged_in? %>
    <li><%= span_if_current ts("Series"), series_path(@series) %></li>
  <% end %>

  <% if current_user.is_a?(User) && @subscription %>
    <li>
      <%= render "subscriptions/form", subscription: @subscription %>
    </li>
  <% end %>

  <% if current_user.is_a?(User) %>
    <% @bookmark ||= bookmark_if_exists(@series) %>
    <li><%= link_to (@bookmark ? ts("Edit Series Bookmark") : ts("Bookmark Series")), "#bookmark-form", class: "bookmark_form_placement_open" %></li>
  <% end %>

  <% if downloadable?(@series) && @admin_settings.downloads_enabled? %>
    <li class="download" aria-haspopup="true">
      <a href="#"><%= ts("Download") %></a>
      <ul class="expandable secondary">
        <% ArchiveConfig.DOWNLOAD_FORMATS.each do |format| %>
          <li><%= link_to ts(format.upcase), download_url_for(@series, format) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
