<h1>Editing series</h1>
<p><%= link_to 'Delete series', @series, :confirm => 'Are you sure?', :method => :delete %></p>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :title, "Series Title" %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :summary, "Series Description" %><br />
    <%= f.text_area :summary %> 
  </p>
  
  <p>
    <%= f.label :notes, "Series Notes" %><br />
    <%= f.text_area :notes %>
  <%- end -%>
  </p>    

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @series %> |
<%= link_to 'Back', series_path %>
