<h1><%=h 'Editing series'.t %></h1>
<p><%= link_to 'Delete series'.t, @series, :confirm => 'Are you sure?'.t, :method => :delete %></p>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>
<dl>
	<dt><%= f.label :title, "Series Title".t %></dt>
	<dd><%= f.text_field :title %></dd>
	<dt><%= f.label :summary, "Series Description".t %><dt>
	<dd><%= f.text_area :summary %> </dd>
	<dt><%= f.label :notes, "Series Notes".t %><dt>
	<dd><%= f.text_area :notes %></dd>    
</dl>
<p>
	<%= f.submit "Update".t %>
</p>
<% end %>

<%= link_to 'Show'.t, @series %> |
<%= link_to 'Back'.t, series_path %>