<h1><%=h 'Editing series'.t %></h1>
<p><%= link_to 'Delete series'.t, @series, :confirm => 'Are you sure?'.t, :method => :delete %></p>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :title, "Series Title".t %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :summary, "Series Description".t %><br />
    <%= f.text_area :summary %> 
  </p>
  
  <p>
    <%= f.label :notes, "Series Notes".t %><br />
    <%= f.text_area :notes %>
  </p>    

  <p>
    <%= f.submit "Update".t %>
  </p>
<% end %>

<%= link_to 'Show'.t, @series %> |
<%= link_to 'Back'.t, series_path %>