<h1><%=h 'Editing series' %></h1>
<ul class="navigation">
<li><%= link_to 'Delete Series', @series, :confirm => 'Are you sure?', :method => :delete %></li>
<li><%= link_to 'Show', @series %></li>
<li><%= link_to 'Back', series_path %></li>
</ul>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>
<dl>
	<dt><%= f.label :title, "Series Title" %></dt>
	<dd><%= f.text_field :title %></dd><br />
  <%= render :partial => 'pseuds/byline', :locals => {:form => f, :type => 'series'} -%>
	<dt><%= f.label :summary, "Series Description" %><dt>
	<dd>
    <%= f.text_area :summary %>
    <%= generate_countdown_html("series_summary", ArchiveConfig.SUMMARY_MAX) -%>
  </dd>
	<dt><%= f.label :notes, "Series Notes" %><dt>
	<dd>
    <%= f.text_area :notes %>
    <%= generate_countdown_html("series_notes", ArchiveConfig.NOTES_MAX) -%>
</dd>
</dl>
<p class="submit">
	<%= f.submit "Update" %>
</p>
<% end %>
