<!--Descriptive page name, messages and instructions-->
<h2>
	<%=h @series.title %>
	<%- if @series.restricted %>
		<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") -%>
	<%- end -%>
</h2>
<!--/descriptions-->

<!--subnav-->
<%- if logged_in? -%>
<h3 class="landmark">Actions</h3>
<ul class="navigation" role="navigation">
  <li><%= bookmark_link(bookmarkable=@series, blurb=false) %></li>
  <%- if is_author_of?(@series) -%>
    <li><%= link_to "Edit", edit_series_path(@series) %></li>
    <li><%= link_to 'Delete Series', @series, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "Reorder Series", manage_series_path(@series) %></li>
  <%- end -%>
</ul>
<%- end -%>
<!--/subnav-->

<!--main content-->
<h3 class="landmark">Series Metadata</h3>
<div class="wrapper">
	<dl class="series meta">
    <dt><%=h 'Series begun:' %></dt>
    <dd><%=h @series.published_at.to_date %></dd>
    <dt><%=h 'Series updated: ' %></dt>
    <dd><%= @series.revised_at ? @series.revised_at.to_date : @series.published_at %></dd>

    <dt><%=h 'Works included:' %></dt>
    <dd><%= @serial_works.length %></dd>

    <dt><%=h 'Word count:' %></dt>
    <dd><%= number_with_delimiter(@serial_works.collect{|sw| sw.work.word_count}.sum) %></dd>

    <% if @series.pseuds.many?%>
      <dt><%=h 'Authors:' %></dt>
      <dd><%= byline(@series) %></dd>
    <% else %>
      <dt><%=h 'Author:' %></dt>
      <dd><%= byline(@series) %></dd>
    <% end %>

  <%- unless @series.summary.blank? -%>
      <dt><%=h 'Description:' %></dt>
      <dd><blockquote class="user-generated-view"><%= sanitize_and_format_for_display @series.summary %></blockquote></dd>
	<%- end -%>
	<%- unless @series.notes.blank? -%>
      <dt><%=h 'Notes:' %></dt>
      <dd><blockquote class="user-generated-view"><%= sanitize_and_format_for_display @series.notes %></blockquote></dd>
	<%- end -%>
</dl>
</div>
<div id="dynamic-bookmark" style="display:none;">	
</div>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<h3 class="landmark">List of Series</h3>
<ul class="series work index">
  <%- for serial in @serial_works -%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => serial.work} %>
  <%- end -%>
</ul>
<!--/content-->

<!--subnav-->
<!--/subnav-->
