<h1>
	<%=h @series.title %>
	<%- if @series.restricted %>
		<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") -%>
	<%- end -%>
</h1>
<div class="work-meta series-meta">
  <div class="meta tags">
    <span class="label"><%=h 'Series begun:' %></span>
    <span class="item"><%=h @series.published_at.to_date %></span>
  </div>
	<div class="meta tags">
    <span class="label"><%=h 'Series updated: ' %></span>
    <span class="item"><%= @series.revised_at ? @series.revised_at.to_date : @series.published_at %></span>
  </div>
  <div class="meta tags">
    <span class="label"><%=h 'Works included:' %></span>
    <span class="item"><%= @serial_works.length %></span>
  </div>
  <div class="meta tags">
    <span class="label"><%=h 'Word count:' %></span>
    <span class="item"><%= number_with_delimiter(@serial_works.collect{|sw| sw.work.word_count}.sum) %></span>
  </div>
  <div class="meta tags">
    <% if @series.pseuds.many?%>
      <span class="label"><%=h 'Authors:' %></span>
      <span class="item"><%= byline(@series) %></span>
    <% else %>
      <span class="label"><%=h 'Author:' %></span>
      <span class="item"><%= byline(@series) %></span>
    <% end %>
  </div>
  <%- unless @series.summary.blank? -%>
		<div class="meta tags">
      <span class="label"><%=h 'Description:' %></span>
      <span class="item"><%= @series.summary %></span>
    </div>
	<%- end -%>
	<%- unless @series.notes.blank? -%>
		<div class="meta tags">
      <span class="label"><%=h 'Notes:' %></span>
      <span class="item"><%= @series.notes %></span>
    </div>
	<%- end -%>
</div>

<ul class="navigation">
  <li><%= bookmark_link(bookmarkable=@series, blurb=false) %></li>
  <%- if is_author_of?(@series) -%>
    <li><%= link_to "Edit", edit_series_path(@series) %></li>
    <li><%= link_to 'Delete Series', @series, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "Reorder Series", manage_series_path(@series) %></li>
  <%- end -%>
</ul>

<div id="dynamic-bookmark" style="display:none;">	
</div>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<ul class="work-list" id="series-work-list">
  <%- for serial in @serial_works -%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => serial.work} %>
  <%- end -%>
</ul>

