<h1><%=h @series.title %></h1>
<p>
  Series begun: <%=h @series.created_at.localize("%d %B %Y") %><br />
  Works included: <%= @series.works.length %><br />
  Authors: <%= print_pseud_list(@series.pseuds) %>
</p>

<p><strong>Description: </strong> <%= @series.summary unless @series.summary.blank? %></p>

<p><strong>Notes: </strong> <%= @series.notes unless @series.notes.blank? %></p>

<%- if is_author_of?(@series) -%>
  <p>
    <%= link_to "Edit", edit_series_path(@series) %> | 
    <%= link_to 'Delete series', @series, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<%- end -%>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<ol>
  <%- for work in @series.works -%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <%- end -%>
</ol>
