<h1>
	<%=h @series.title %>
	<%- if @series.restricted %>
		<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") -%>
	<%- end -%>
</h1>
<div class="work-meta series-meta">
  <ul class="column">
  <li class="meta tags">
    <div class="label"><%=h 'Series begun:' %></div>
    <div class="item"><%=h @series.published_at.to_date %></div>
  </li>
	<li class="meta tags">
    <div class="label"><%=h 'Series updated: ' %></div>
    <div class="item"><%= @series.revised_at ? @series.revised_at.to_date : @series.published_at %></div>
  </li>
  <li class="meta tags">
    <div class="label"><%=h 'Works included:' %></div>
    <div class="item"><%= @serial_works.length %></div>
  </li>
  <li class="meta tags">
    <div class="label"><%=h 'Word count:' %></div>
    <div class="item"><%= number_with_delimiter(@serial_works.collect{|sw| sw.work.word_count}.sum) %></div>
  </li>
  <li class="meta tags">
    <% if @series.pseuds.many?%>
      <div class="label"><%=h 'Authors:' %></div>
      <div class="item"><%= byline(@series) %></div>
    <% else %>
      <div class="label"><%=h 'Author:' %></div>
      <div class="item"><%= byline(@series) %></div>
    <% end %>
  </li>
  <%- unless @series.summary.blank? -%>
		<li class="meta tags">
      <div class="label"><%=h 'Description:' %></div>
      <div class="item"><%= @series.summary %></div>
    </li>
	<%- end -%>
	<%- unless @series.notes.blank? -%>
		<li class="meta tags">
      <div class="label"><%=h 'Notes:' %></div>
      <div class="item"><%= @series.notes %></div>
    </li>
	<%- end -%>
  </ul>
  <div class="spacer">&nbsp;</div>
</div>

<ul class="navigation">
  <li><%= bookmark_link(bookmarkable=@series, blurb=false) %></li>
  <%- if is_author_of?(@series) -%>
    <li><%= link_to "Edit", edit_series_path(@series) %></li>
    <li><%= link_to 'Delete Series', @series, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "Reorder Series", manage_series_path(@series) %></li>
  <%- end -%>
</ul>

<div id="dynamic-bookmark" style="display:none;">	
</div>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<ul class="work-list" id="series-work-list">
  <%- for serial in @serial_works -%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => serial.work} %>
  <%- end -%>
</ul>

