<h1>
	<%=h @series.title %>
	<%- if @series.restricted %>
		<%= image_tag("lockblue.png", :size => "15x15", :alt => "(Restricted)", :title => "Restricted") -%>
	<%- end -%>
</h1>
<dl class="work-meta series-meta">
  <dt><%=h 'Series begun:' %></dt>
    <dd><%=h @series.created_at %></dd>
  <dt><%=h 'Works included:' %></dt>
 		<dd><%= @serial_works.length %></dd>
  <dt><%=h 'Authors:' %></dt>
 		<dd><%= byline(@series) %></dd>
	<%- unless @series.summary.blank? -%>
		<dt><%=h 'Description:' %></dt>
			<dd><%= @series.summary %></dd>
	<%- end -%>
	<%- unless @series.notes.blank? -%>
		<dt><%=h 'Notes:' %></dt>
			<dd><%= @series.notes %></dd>
	<%- end -%>
</dl>

<%- if is_author_of?(@series) -%>
  <ul class="navigation">
    <li><%= link_to "Edit", edit_series_path(@series) %></li>
    <li><%= link_to 'Delete Series', @series, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "Reorder Series", manage_series_path(@series) %></li>
  </ul>
<%- end -%>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<ul class="work-list" id="series-work-list">
  <%- for serial in @serial_works -%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => serial.work} %>
  <%- end -%>
</ul>
