<h1><%=h @series.title %></h1>
<dl id="series-meta">
	<dt><%=h 'Series begun:'.t %></dt>
		<dd><%=h @series.created_at.localize("%d %B %Y") %></dd>
  	<dt><%=h 'Works included:'.t %></dt>
 		<dd><%= @serial_works.length %></dd>
  	<dt><%=h 'Authors:'.t %></dt>
 		<dd><%= print_pseud_list(@series.pseuds) %></dd>
		<%- unless @series.summary.blank? -%>
			<dt><%=h 'Description:'.t %></dt>
			<dd><%= @series.summary %></dd>
			<%- end -%>
		<%- unless @series.notes.blank? -%>
				<dt><%=h 'Description:'.t %></dt>
				<dd><%= @series.notes %></dd>
			<%- end -%>
</dl>

<%- if is_author_of?(@series) -%>
  <ul class="navigation">
    <li><%= link_to "Edit".t, edit_series_path(@series) %></li>
    <li><%= link_to 'Delete series'.t, @series, :confirm => 'Are you sure?'.t, :method => :delete %></li>
    <li><%= link_to "Reorder series".t, manage_series_path(@series) %></li>
  </ul>
<%- end -%>

<%- if logged_in_as_admin? -%>
<!-- BEGIN admin options -->
<%= render :partial => 'admin/admin_options', :locals => {:item => @series} %>
<%- end -%>

<ul class="story-list" id="series-story-list">
  <%- for serial in @serial_works -%>
    <%- if serial.work.visible(current_user) -%>
      <%= render :partial => 'works/work_blurb', :locals => {:work => serial.work} %>
    <%- else -%>
      <li>(<%= "This work is temporarily unavailable.".t %>)</li>
    <%- end -%>
    <%- if is_author_of?(@series) -%>
      <li><ul class="navigation">
		<li><%= link_to 'Remove from series'.t, serial, :confirm => 'Are you sure?'.t, :method => :delete %></li>
		</ul></li>
    <%- end -%>
    </ul>
  </li>
  <%- end -%>
</ul>
