<div class="user home profile">
  <%= render 'users/header' %>

  <!--main content-->
  <% if @profile.title.present? %>
    <h3 class="heading"><%=h @profile.title %></h3>
  <% end %>

  <div class="wrapper">
    <dl class="meta">
      <dt class="pseuds"><%= ts("My pseuds:") %></dt>
      <dd class="pseuds"><%= print_pseud_list(@user, @pseuds) %></dd>
      <dt><%= ts("I joined on:") %></dt>
      <dd><%= l(@profile.created_at) %></dd>
      <dt><%= ts("My user ID is:") %></dt>
      <dd><%= @user.id %></dd>
      <% if @profile.location.present? %>
        <dt class="location"><%=h ts("I live in:") %></dt>
        <dd><%=h @profile.location %></dd>
      <% end %>
      <% if @profile.date_of_birth %>
        <dt class="birthday"><%=h ts("My birthday:") %></dt>
        <dd class="birthday"><%=l(@profile.date_of_birth) %></dd>
      <% end %>
      <% if @profile.email %>
        <dt class="email"><%=h ts("My email address:") %></dt>
        <dd class="email"><%= mail_to @profile.email, nil, :encode => "hex" %></dd>
      <% end %>
    </dl>
  </div>

  <% if @profile.about_me.present? %>
    <div class="bio module">
      <h3 class="heading"><%=h ts("Bio") %></h3>
      <blockquote class="userstuff"><%=raw sanitize_field(@profile, :about_me) %></blockquote>
    </div>
  <% end %>
  <!--/content-->

  <!--subnav-->
  <% if logged_in? && current_user == @user %>
  <h3 class="landmark heading"><%= ts("Actions") %></h3>
  <ul class="navigation actions" role="navigation">
    <li><%= link_to ts("Edit My Works"), show_multiple_user_works_path(@user) %></li>
    <li><%= link_to ts("Edit My Profile"), edit_user_path(@user) %></li>
    <li><%= link_to ts("Set My Preferences"), user_preferences_path(@user) %></li>
    <li><%= link_to ts("Manage My Pseuds"), user_pseuds_path(@user) %></li>
    <li><%= link_to ts("Delete My Account"), @user, data: {confirm: ts('This will permanently delete your account and cannot be undone. Are you sure?')}, :method => :delete %></li>
  </ul>
  <% elsif policy(@user.profile).can_edit_profile? %>
    <h3 class="landmark heading"><%= t("admin.admin_options.landmark") %></h3>
    <ul class="navigation actions" role="navigation">
      <li><%= link_to ts("Edit Profile"), edit_user_path(@user) %></li>
    </ul>
  <% end %>
  <!--/subnav-->

</div>
