<div id="user-profile">
  <%= render :partial => 'users/header', :locals => {:user => @user} %>

  <h2><%=h "About ".t %><%=h @user.login %></h2>
  <p><%= "Member since: ".t %><%= @user.created_at.localize("%B %Y") %></p>
  <p><%= "Beta tester".t %></p>
  <p>Look, it's a catchy subtitle!</p>

  <%- if logged_in? && current_user == @user -%>
    <p><%= link_to "set my preferences".t, edit_user_path(@user) %></p>
  <%- end -%>


  <table id="user-data">
    <tr id="user-pseuds">
      <td class="user-data-label"><span id="user-pseuds-label"><%= "My pseuds:".t %></span></td>
      <td><%= print_pseuds(@user) %></td>
    </tr>

    <tr id="user-location">
      <td class="user-data-label"><span id="user-location-label"><%=h "I live in:".t %></span></td>
      <td><%=h @user.profile.location -%></td>
    </tr>

    <%- if @user.preference.date_of_birth_visible -%>
    <tr id="user-birthday">
      <td class="user-data-label"><span id="user-birthday-label"><%=h "My birthday:".t %></span></td>
      <td><%=h @user.profile.date_of_birth -%></td> 
    </tr>
    <%- end -%>
  
    <%- if @user.preference.email_visible -%>
    <tr id="user-email">
      <td class="user-data-label"><span id="user-email-label"><%=h "My email address:".t %></span></td>
      <td><%= mail_to @user.email, nil, :encode => "hex" %></td>
    </tr>
    <%- end -%>
  </table>

  <div id="user-bio">
    <p><%=h "About me:".t %></p>
    <p><%=sanitize_format @user.profile.about_me -%></p>
  </div>
</div>
