<div class="user profile module">
  <%= render :partial => 'users/header', :locals => {:user => @user} %>

<div class="user module">
<h3><%=h t('about', :default => "About {{name}}", :name => @user.login) %></h3>
<p class="datetime"><%= t('member_since', :default => "Member since: {{date}}", :date => l(@user.created_at.to_date)) %></p>
<h4><%=h @user.profile.title %></h4>
<div class="wrapper">
  <dl class="user meta">
    <dt class="pseuds"><%= link_to t('my_pseuds', :default => "My pseuds:"), user_pseuds_path(@user) %></dt>
      <dd class="pseuds"><%= print_pseud_list(@user.pseuds) %></dd>
    <%- if @user.profile.location? -%>
    <dt class="location"><%=h t('location', :default => "I live in:") %></dt>
      <dd><%=h @user.profile.location -%></dd>
    <%- end -%>
    <%- if @user.preference.try(:date_of_birth_visible) -%>
    <dt class="birthday"><%=h t('birthday', :default => "My birthday:") %></dt>
      <dd class="birthday"><%=l(@user.profile.date_of_birth) unless @user.profile.date_of_birth.blank? -%></dd> 
    <%- end -%>
    <%- if @user.preference.try(:email_visible) -%>
    <dt class="email"><%=h t('email', :default => "My email address:") %></dt>
      <dd class="email"><%= mail_to @user.email, nil, :encode => "hex" %></dd>
    <%- end -%>
  </dl>
</div>
</div>
  <%- unless @user.profile.about_me.blank? -%>
    <div class="user module">
      <h3><%=h t('bio', :default => "Bio:") %></h3>
      <blockquote class="user-generated-view"><%=sanitize_and_format_for_display @user.profile.about_me -%></blockquote>
    </div>
  <%- end -%>
  
  <%- if logged_in? && current_user == @user -%>
  <h3 class="landmark">Actions</h3>
<ul class="navigation" role="navigation">
    <li><%= link_to t('edit_profile', :default => "Edit My Profile"), edit_user_path(@user) %></li>
    <li><%= link_to t('set_preferences', :default => "Set My Preferences"), user_preferences_path(@user) %></li>
	<li><%= link_to t('manage_pseuds', :default => "Manage My Pseuds"), user_pseuds_path(@user) %></li>
	<li><%= link_to t('delete_account', :default => "Delete My Account"), @user, :confirm => t('deletion_warning', :default => 'This will permanently delete your account and cannot be undone. Are you sure?'), :method => :delete %></li>
  </ul>
  <%- end -%>
</div>
