<div id="user-profile">
  <%= render :partial => 'users/header', :locals => {:user => @user} %>

  <h2><%=h "About ".t %><%=h @user.login %></h2>

  <p><%= "Member since: ".t %><%= @user.created_at.localize("%B %Y") %></p>

  <%- if @user.is_beta_tester? -%>
    <p><%= "Beta tester".t %></p>
  <%- end -%>
  
  <p><%=h @user.profile.title %></p>

  <%- if logged_in? && current_user == @user -%>
    <p><%= link_to "set my preferences".t, user_preferences_path(@user) %></p>
  <%- end -%>

  <dl id="user-data">
    <dt class="pseuds"><%= "My pseuds:".t %></dt>
      <dd class="pseuds"><%= print_pseuds(@user) %></dd>
    <dt class="location"><%=h "I live in:".t %></dt>
      <dd><%=h @user.profile.location -%></dd>
    <%- if @user.preference.date_of_birth_visible -%>
    <dt class="birthday"><%=h "My birthday:".t %></dt>
      <dd class="birthday"><%=h @user.profile.date_of_birth -%></dd> 
	<%- end -%>
	<%- if @user.preference.email_visible -%>
    <dt class="email"><%=h "My email address:".t %></dt>
      <dd class="email"><%= mail_to @user.email, nil, :encode => "hex" %></dd>
    <%- end -%>
  </dl>

  <div id="user-bio">
    <h3><%=h "About me:".t %></h3>
    <%=sanitize_and_format_for_display @user.profile.about_me -%>
  </div>
  
  <%- if logged_in? && current_user == @user -%>
    <p><%= link_to "Edit profile".t, edit_user_path(@user) %></p>
  <%- end -%>
</div>
