<div class="user home profile">
  <%= render 'users/header' %>

  <!--main content-->
  <% if @profile.title.present? %>
    <h3 class="heading"><%=h @profile.title %></h3>
  <% end %>

  <div class="wrapper">
    <dl class="meta">
      <dt class="pseuds"><%= ts("My pseuds:") %></dt>
      <dd class="pseuds"><%= print_pseud_list(@user, @pseuds) %></dd>
      <dt><%= ts("I joined on:") %></dt>
      <dd><%= l(@user.created_at.to_date) %></dd>
      <dt><%= ts("My user ID is:") %></dt>
      <dd><%= @user.id %></dd>
    </dl>
  </div>

  <% if @profile.about_me.present? %>
    <div class="bio module">
      <h3 class="heading"><%=h ts("Bio") %></h3>
      <blockquote class="userstuff"><%=raw sanitize_field(@profile, :about_me) %></blockquote>
    </div>
  <% end %>
  <!--/content-->

  <!--subnav-->
  <% if logged_in? && current_user == @user %>
  <h3 class="landmark heading"><%= ts("Actions") %></h3>
  <ul class="navigation actions">
    <li><%= link_to t(".edit_my_works"), show_multiple_user_works_path(@user) %></li>
    <li><%= link_to t(".edit_my_profile"), edit_user_profile_path(@user) %></li>
    <li><%= link_to t(".edit_my_preferences"), user_preferences_path(@user) %></li>
    <li><%= link_to t(".edit_my_pseuds"), user_pseuds_path(@user) %></li>
    <li><%= link_to t(".delete_my_account"), @user, data: { confirm: t(".delete_account_confirmation") }, method: :delete %></li>
  </ul>
  <% elsif policy(@user.profile).full_access? %>
    <h3 class="landmark heading"><%= t("admin.admin_options.landmark") %></h3>
    <ul class="navigation actions">
      <li><%= link_to t(".edit_profile"), edit_user_profile_path(@user) %></li>
    </ul>
  <% end %>
  <!--/subnav-->

</div>
