<h2 class="heading"><%= ts("Statistics") %></h2>

<h3 class="landmark heading"><%= ts('Navigation and Sorting') %></h3>
<%= render "stats/navigation" %>

<ol class="year actions">
  <% @years.each do |year| %>
    <li>
      <% if @current_year == year %>
        <span class="current"><%= year %></span>
      <% else %>
        <%= link_to year, request.parameters.merge({:year => year}) %>
      <% end %>
    </li>
  <% end %>
</ol>

<h3 class="heading"><%= ts("Totals") %></h3>
<div class="wrapper">
  <dl class="work meta group" role="complementary">
    <% [:author_subscriptions, :kudos, :comments, :bookmarks, :subscriptions, :word_count].each do |stat| %>
      <dt><%= (stat.to_s.titleize == "Comments") ? ts("Comment Threads") : stat.to_s.titleize%></dt>
      <dd><%= @totals[stat] %></dd>
    <% end %>
    <% unless @user.preference.hide_hit_counts %>
      <dt><%= ts("Hits") %></dt>
      <dd><%= @totals[:hits] %></dd>
    <% end %>
  </dl>
</div>

<noscript><img src="<%= @image_chart %>" class="statistics chart"></noscript>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div id="stat_chart" class="statistics chart"></div>
<%= render_chart(@chart, 'stat_chart') %>

<h3 class="landmark heading"><%= ts('View Sorting and Actions') %></h3>
<ul class="sorting actions" role="menu">
  <li><h4 class="heading"><%= ts('Sort By') %></h4></li>
  <% unless @user.preference.hide_hit_counts %>
    <li><%= sort_link ts("Date"), "date" %></li>
    <li><%= sort_link ts('Hits'), "hits", {:desc_default => true} %></li>
  <% end %>
  <li><%= sort_link ts('Kudos'), "kudos.count", {:desc_default => true} %></li>
  <li><%= sort_link ts('Comment Threads'), "comments.count", {:desc_default => true} %></li>
  <li><%= sort_link ts('Bookmarks'), "bookmarks.count", {:desc_default => true} %></li>
  <li><%= sort_link ts('Subscriptions'), "subscriptions.count", {:desc_default => true} %></li>
  <li><%= sort_link ts('Word Count'), "word_count", {:desc_default => true} %></li>
</ul>

<ul class="view actions" role="menu">
  <% if params[:flat_view] %>
    <li><%= link_to ts("Group By Fandom"), url_for(params.merge :flat_view => nil) %></li>
  <% else %>
    <li><%= link_to ts("Flat View"), url_for(params.merge :flat_view => true) %></li>
  <% end %>
</ul>

<h3 class="landmark heading"><%= ts('Listing Statistics') %></h3>
<ul class="statistics index">
  <% @works.keys.sort.each do |fandom| %>
    <li class="fandom listbox group">
      <h5 class="heading">
        <%= fandom %>
      </h5>
      <ul class="index">
        <% @works[fandom].each do |work| %>
          <li class="<%= cycle 'odd', 'even', :name => "tigerstriping" %>">
            <dl>
              <dt>
                <%= link_to work.title, work_path(:id => work.id) %> 
                <% if params[:flat_view] %><span class="fandom">(<%= work.fandom_string %>)</span><% end %>
                <span class="wordcount">(<%= ts("%{wordcount} words", :wordcount => work.word_count) %>)</span>
              </dt>
              <dd>
                <dl class="stats">
                  <% if (work_subscriber_count = Subscription.where(:subscribable_id => work.id, :subscribable_type => 'Work').count) > 0 %>
                    <dt><%= ts("Subscribers") %></dt><dd><%= work_subscriber_count %></dd>
                  <% end %>
                  <% unless @user.preference.hide_hit_counts %>
                    <dt><%= ts("Hits") %></dt><dd><%= work.hits %></dd>
                  <% end %>
                  <% # dt ts("Downloads") /dt dd work.downloads /dd %>
                  <dt><%= ts("Kudos") %></dt><dd><%= work.kudos.count %></dd>
                  <dt><%= ts("Comment Threads") %></dt><dd><%= work.comments.count %></dd>
                  <dt><%= ts("Bookmarks") %></dt><dd><%= work.bookmarks.count %></dd>
                  <% # dt ts("Newest Link") /dt %>
                    <% # dd %>
                    <% # work.work_links.last.try(:url) || ts("none yet") %> 
                    <% # ( link_to ts("see all"), work_links_path(:work_id => work.id) /a ) %>
                  <% # /dd %>
                </dl>
              </dd>
            </dl>
          </li>
        <% end %>
      </ul>
    </li>
    <% reset_cycle("tigerstriping") %>
  <% end %>
</ul>
