<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%= ts("Statistics") %></h2>
<!--/descriptions-->

<!--subnav-->
<h3 class="landmark heading"><%= ts('Navigation and Sorting') %></h3>
<%= render "stats/navigation" %>
<!--subnav-->

<!--main content-->
<ol class="year actions">
  <% @years.each do |year| %>
    <li>
      <% if @current_year == year %>
        <span class="current"><%= year %></span>
      <% else %>
        <%= link_to year, current_path_with(year: year) %>
      <% end %>
    </li>
  <% end %>
</ol>

<h3 class="heading"><%= ts("Totals") %></h3>
<div class="wrapper">
  <dl class="statistics meta group" role="complementary">
    <% { user_subscriptions: t(".user_subscriptions"),
         kudos: t(".kudos"), 
         comment_thread_count: t(".comment_threads"),
         work_bookmarks: t(".work_bookmarks"), 
         work_subscriptions: t(".work_subscriptions"), 
         series_bookmarks: t(".series_bookmarks"), 
         series_subscriptions: t(".series_subscriptions"),
         word_count: t(".word_count") }.each do |stat, stat_text| %>
      <% stat == :word_count ? html_class = "words" : html_class = stat.to_s.humanize.downcase %>
      <dt class="<%= html_class %>"><%= stat_text %>:</dt>
      <dd class="<%= html_class %>"><%= number_with_delimiter(@totals[stat]) %></dd>
    <% end %>
    <dt class="hits"><%= t(".hits") %>:</dt>
    <dd class="hits"><%= number_with_delimiter(@totals[:hits]) %></dd>
  </dl>
</div>

<noscript><img src="<%= @image_chart %>" class="statistics chart"></noscript>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div id="stat_chart" class="statistics chart"></div>
<%= render_chart(@chart, 'stat_chart') %>

<div class="actions module">
  <h3 class="landmark heading"><%= t(".landmark_heading") %></h3>
  <ul class="sorting actions" role="menu">
    <li><h4 class="heading"><%= ts('Sort By') %></h4></li>
    <li><%= sort_link t(".date"), "date" %></li>
    <li><%= sort_link t(".hits"), "hits", { desc_default: true } %></li>
    <li><%= sort_link t(".kudos"), "kudos_count", { desc_default: true } %></li>
    <li><%= sort_link t(".comment_threads"), "comment_thread_count", { desc_default: true } %></li>
    <li><%= sort_link t(".bookmarks"), "bookmarks_count", { desc_default: true } %></li>
    <li><%= sort_link t(".subscriptions"), "subscriptions_count", { desc_default: true } %></li>
    <li><%= sort_link t(".word_count"), "word_count", { desc_default: true } %></li>
  </ul>

  <ul class="view actions" role="menu">
  <li><%= span_if_current t(".fandoms_view"), current_path_with(view_type: nil), @view_type == "fandom" %></li>
  <li><%= span_if_current t(".flat_view"), current_path_with(view_type: "flat"), @view_type == "flat" %></li>
  <li><%= span_if_current t(".types_view"), current_path_with(view_type: "type"), @view_type == "type" %></li>
  </ul>
</div>

<h3 class="landmark heading"><%= t(".listing_statistics") %></h3>
<ul class="statistics index group">
  <% @works.keys.sort.each do |fandom| %>
    <li class="fandom listbox group">
      <h5 class="heading">
        <%= fandom %>
      </h5>
      <ul class="index group">
        <% @works[fandom].each do |work| %>
          <li>
            <dl>
              <dt>
                <%= link_to work.title, work.item_path %> 
                <% if work.series? %>(Series)<% end %>
                <% if (params[:view_type] != nil && params[:view_type] != "fandom") %><span class="fandom">(<%= work.fandom_string %>)</span><% end %>
                <% if work.work? %><span class="words">
                  (<%= t(".word_count_with_input", wordcount: number_with_delimiter(work.word_count)) %>)</span>
                <% end %>
              </dt>
              <dd>
                <dl class="stats">
                  <% if work.series? %>
                    <dt class="work_count"><%= t(".work_count") %>:</dt>
                    <dd class="work_count"><%= number_with_delimiter(work.work_count) %> </dd>
                  <% end %>
                  <% if work.subscriptions_count > 0 %>
                    <dt class="subscriptions"><%= t(".subscriptions") %>:</dt>
                    <dd class="subscriptions">
                      <%= number_with_delimiter(work.subscriptions_count) %>
                      </dd>
                  <% end %>
                  <% if work.work? %>
                    <dt class="hits"><%= t(".hits") %>:</dt>
                    <dd class="hits"><%= number_with_delimiter(work.hits) %> </dd>
                    <%# dt ts("Downloads:") /dt dd work.downloads /dd %>
                    <dt class="kudos"><%= t(".kudos") %>:</dt>
                    <dd class="kudos"><%= number_with_delimiter(work.kudos_count) %></dd>
                    <dt class="comments"><%= t(".comment_threads") %>:</dt>
                    <dd class="comments"><%= number_with_delimiter(work.comment_thread_count) %></dd>
                  <% end %>
                  <dt class="bookmark-count"><%= t(".bookmarks") %>:</dt>
                  <dd class="bookmark-count"><%= number_with_delimiter(work.bookmarks_count) %></dd>
                </dl>
              </dd>
            </dl>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<!--/content-->
