<% if logged_in? %>
  <div id="greeting">
    <p class="icon">
      <span class="landmark">Hi, <%= link_to current_user.login, user_path(current_user) %>!</span>
    <%= icon_display(current_user) %>
    </p>
    <ul class="navigation actions" role="navigation">
	    <li><%= link_to ts("post new"), new_work_path %></li>
      <li><%= link_to ts("log out"), logout_path %></li>
    </ul>
  </div>

<% elsif logged_in_as_admin? %>
  <div id="greeting">
	  <p class="icon"><%= icon_display(current_user) %></p>
	  <ul class="navigation actions" role="navigation">
      <li><span class="current">Admin</span></li>
      <li><%= link_to ts("log out"), admin_logout_path %></li>
  </div>
<% end %>
