<% @user_session = UserSession.new unless @user_session %>
<%= form_for @user_session do %>
	<p>
    <%= image_tag("legacy/openid.png", :alt => '', :class => 'openid', :title => 'Open Id') %>
    <%= text_field_tag "openid_url", '', :class => 'text' %>
  </p>
  <p class="footnote">
    <%= link_to 'password login', {:controller => :user_sessions, :action => 'passwd_small'}, :remote => true,
         :class => 'footnote' %>
  </p>
  <p class="submit actions">
    <%= submit_tag ts("Log in") %>
  </p>
<% end %>
