<% @user_session = UserSession.new unless @user_session %>
<%= form_for @user_session do |f| %>
	<p>
    <%= f.label :login, ts("User name:") %>
    <%= f.text_field :login, :class => 'text', :size => nil %>
    <%= f.label :password, ts("Password:") %>
    <%= f.password_field :password, :class => 'text', :size => nil %>
  </p>
  <!--BACK END: could pos have this as label action like in tagsets?-->
  <p><span class="action">
    <%= f.check_box :remember_me %>
    <%= f.label 'remember_me', ts("Remember me") %>
  </span></p>
  <p class="submit actions">
    <%= f.submit ts("Log in") %>
  </p>
    
  <p class="footnote actions"><%= link_to ts("forgot password?"), new_password_path %></p>
<% end %>
