<% if params[:restricted] %>
  <h3 class="heading"><%= ts('Sorry!') %></h3>
  <p>
    <%= ts('This work is only available to registered users of the Archive.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <% if @admin_settings.account_creation_enabled? %>
      <%= link_to ts("Or join us for free - it's easy."), new_user_path %>
    <% end %>
  </p>
<% elsif params[:high_load] %>
  <h3 class="heading"><%= ts('We are very sorry.') %></h3>
  <p>
    <%= ts('Due to current high load, downloads are currently available to registered users of the Archive only.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <% if @admin_settings.account_creation_enabled? %>
      <%= link_to ts("Or join us for free - it's easy."), new_user_path %>
    <% end %>
  </p>
<% elsif params[:restricted_commenting] %>
  <h3 class="heading"><%= ts('Sorry!') %></h3>
  <p>
    <%= ts('Commenting on this work is only available to registered users of the Archive.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <% if @admin_settings.account_creation_enabled? %>
      <%= link_to ts("Or join us for free - it's easy."), new_user_path %>
    <% end %>
  </p>
<% else %>
  <h3 class="heading"><%= ts('Log in') %></h3>
  <p>
    <strong><%= ts('Reminder:') %></strong>
    <%= ts("This site is in beta. Things may break or crash without notice.") %>
    <%= ts("Please report any pesky bugs and") %>
    <%= link_to ts('give us your feedback'), feedbacks_path %>!
  </p>
<% end %>

<div id="loginform">
  <%= render "user_sessions/passwd" %>
</div>

<p>
  <%= ts("Forgot your password or user name?") %> <%= link_to ts("Reset password"), new_password_path %>
  <% if @admin_settings.account_creation_enabled? %>
    <br \><%= ts("Don't have an account?") %> <%= link_to ts('Create an account now.'), new_user_path %>
  <% end %>
</p>
