<% if params[:restricted] %>
  <h3 class="heading"><%= ts('Sorry!') %></h3>
  <p>
    <%= ts('This work is only available to registered users of the Archive.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <%= new_account_link %>
  </p>
<% elsif params[:high_load] %>
  <h3 class="heading"><%= ts('We are very sorry.') %></h3>
  <p>
    <%= ts('Due to current high load, downloads are currently available to registered users of the Archive only.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <%= new_account_link %>
  </p>
<% elsif params[:restricted_commenting] %>
  <h3 class="heading"><%= ts('Sorry!') %></h3>
  <p>
    <%= ts('Commenting on this work is only available to registered users of the Archive.') %>
    <%= ts('If you already have an Archive of Our Own account, log in now.') %>
    <%= new_account_link %>
  </p>
<% else %>
  <h3 class="heading"><%= ts('Log in') %></h3>
  <p>
    <strong><%= ts('Reminder:') %></strong>
    <%= ts("This site is in beta. Things may break or crash without notice.") %>
    <%= ts("Please report any pesky bugs and") %>
    <%= link_to ts('give us your feedback'), feedbacks_path %>!
  </p>
<% end %>

<div id="loginform">
  <%= render "user_sessions/passwd" %>
</div>

<p> 
  <%= ts("Forgot your password or user name?") %> <%= link_to ts("Reset password"), new_password_path %> or <%= new_account_link %>
</p>
