<h2 class="heading"><%= t(".title") %></h2>

<div class="notice">
  <p><%= t(".will.intro") %></p>

  <ul>
    <li><%= t(".will.commenting") %></li>
    <li><%= t(".will.replying") %></li>
  </ul>

  <p><%= t(".will_not.intro") %></p>

  <ul>
    <li><%= t(".will_not.comments_on_works") %></li>
    <li><%= t(".will_not.comments_elsewhere") %></li>
    <li><%= t(".will_not.hide_works") %></li>
  </ul>
</div>

<% # form for blocking users %>

<%= form_tag confirm_block_user_blocked_users_path(@user), method: :get, class: "single simple post" do %>
  <fieldset>
    <legend><%= t(".legend") %></legend>
    <p>
      <%= label_tag :blocked_id, t(".label"), class: "landmark" %>
      <%= text_field_tag :blocked_id, "", autocomplete_options("pseud", data: { autocomplete_token_limit: 1 }) %>
      <%= submit_tag t(".button") %>
    </p>
  </fieldset>
<% end %>

<h3 class="landmark heading"><%= t("heading.landmark.blocked") %> %></h3>
<% if @blocks.present? %>
  <ul class="pseud index group">
    <%= render partial: "blocked_user_blurb", collection: @blocks, as: :block %>
  </ul>
<% else %>
  <p><%= t(".none") %></p>
<% end %>

<%= will_paginate @blocks %>
