<!-- Co-Author stuff -->

<dt class="byline<%= @pseuds.size > 1 ? "" : " hidden" %>">
  <%= label_tag "#{type}_author_attributes_ids_", ts("Author / Pseud(s)") %>
</dt>
<dd class="byline<%= @pseuds.size > 1 ? "" : " hidden" %>">
  <%= select_tag "#{type}[author_attributes][ids][]",
      options_from_collection_for_select(@pseuds, :id, :name, @selected_pseuds), :multiple => true %>
</dd>

<% unless @coauthors.blank? %>
  <select name="<%= type %>[author_attributes][coauthors][]" multiple="multiple" class="hidden">
    <%= options_from_collection_for_select(@coauthors, :id, :name, @selected_pseuds) %>
  </select>
<% end %>

<% if @coauthors.size > 0 %>
  <dt class="byline"><%= ts("Current Co-authors:") %> </dt>
    <dd class="byline">
      <ul>
        <% for author in @coauthors %>
          <li><%= author.byline %></li>
        <% end %>
      </ul>
    </dd>
<% end %>

<dt class="byline coauthors">
 <%= label_tag "co-authors-options-show", ts('Add co-authors?') %> 
</dt>
<dd class="byline coauthors">
  <%= check_box_tag "co-authors-options-show", "1", nil, :class => "toggle_formfield" %>

<fieldset id="co-authors-options" title="Add Co Authors">
<%= text_field :pseud, :byline, autocomplete_options("pseud", :size => 50) %>
</fieldset>
</dd>
