<!-- expects a local variable "form" -->
<% unless creation.invalid_pseuds.blank? %>
  <h4 class="heading"><%= ts('These pseuds are invalid:') %> </h4>
  <ul>
    <% for name in creation.invalid_pseuds %>
      <li><%= name %><% if creation.disallowed_pseuds.include?(name) %> does not allow others to add them as a co-creator.<% end %></li>
    <% end %>
  </ul>
  <p><%= form.label :pseud, ts('Try again:') %></p>
  <p title="try again">
    <%= text_field :pseud, :byline, autocomplete_options("pseud", :size => 50) %>
  </p>
<% end %>

<% @valid_p = [] %>
<% unless creation.ambiguous_pseuds.blank? %>
  <% creation.ambiguous_pseuds.each_pair do |name, pseuds| %>
    <% @valid_p = @valid_p + pseuds.reject{ |p| creation.disallowed_pseuds.include?(p.byline) } %>
  <% end %>
  <% if @valid_p.size == 1 %>
    <p><label for="<%= creation.class.to_s.downcase %>[author_attributes][ambiguous_pseuds][]"><%= ts("There is one user with the pseud %{name}", :name => name) %></label></p>
  <% else %>
    <p><label for="<%= creation.class.to_s.downcase %>[author_attributes][ambiguous_pseuds][]"><%= ts("There are %{number} valid users. Please choose the ones you want:", name: name, number: @valid_p.size ) %></label></p>
  <% end %>
  <select multiple name="<%= creation.class.to_s.downcase %>[author_attributes][ambiguous_pseuds][]">
    <%= options_from_collection_for_select(@valid_p, :id, :byline, []) %>
  </select>
<% end %>

