<%- unless creation.invalid_pseuds.blank? -%> 
  <p>These pseuds are invalid: </p>
  <ul>
  <%- for name in creation.invalid_pseuds -%>
    <li><%= name %></li>
  <%- end -%>
  </ul>
  <p>Try again:</p>
  <%= text_field_with_auto_complete :pseud, :byline, { :size => 50 }, 
      { :url => {:controller => 'pseuds', :action => 'choose_coauthors'}, :method => :get, :param_name => 'search', 
        :tokens => ',', :min_chars => 2, :skip_style => true } %>
<%- end -%> 

<%- unless creation.ambiguous_pseuds.blank? -%>
  <%- creation.ambiguous_pseuds.each_pair do |name, pseuds| -%>
    <p>There's more than one user with the pseud "<%=h name %>". Please choose the one you want: </p>
    <select name="<%= creation.class.to_s.downcase %>[author_attributes][ambiguous_pseuds][]">
      <%= options_from_collection_for_select(pseuds, :id, :user_name) %>
    </select>  
  <%- end -%>  
<%- end -%>