<!--WORKING ON THIS 01/09/08. WILL BE FIXED BY 02/09/08 -lim-->
<% form_for([@user, @pseud]) do |f| %>
<p><%= f.label :name, 'Name'.t %>
	<% if @pseud.name && @user.login == @pseud.name -%>
		<strong class="warning"><%=h @pseud.name -%></strong> (<%=h "cannot change your fallback pseud".t -%>)
	<% else -%>
    	<%= f.text_field :name %>
	<% end -%>
	</p>
	<p><%= f.label :is_default, 'Is default'.t %> <%= f.check_box :is_default %></p>
 <p><%= f.label :description, 'Description'.t %></dt>
    <dd><%= f.text_area :description, :rows => 4, :cols => 60 -%></dd>


  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
