
<% form_for([@user, @pseud], :html => {:multipart => true}) do |f| %>
<dl>
<dt>
<%= f.label :name, 'Name' %></dt>
<dd>
<% if @pseud.name && @user.login == @pseud.name -%>
  <strong class="warning"><%=h @pseud.name -%></strong> (<%=h "cannot change your fallback pseud" -%>)
<% else -%>
<%= f.text_field :name %>
<% end -%>
<%= f.check_box :is_default, {:disabled => (@pseud.name && @user.login == @pseud.name && @pseud.is_default?)} %> <%= f.label :is_default, 'Is default' %>
<%= generate_countdown_html("pseud_name", Pseud::NAME_LENGTH_MAX) if @pseud.name && @user.login != @pseud.name -%>
</dd>
 <dt><%= f.label :description, 'Description' %></dt>
 <dd>
    <code>a href, em, strong, i, b</code><br />
    <%= f.text_area :description, :rows => 4, :cols => 60 -%>
    <%= generate_countdown_html("pseud_description", Pseud::DESCRIPTION_MAX) -%>
 </dd>
 
 <dt>Icon</dt>
 <dd>
   <p class="icon">
     <%= image_tag(@pseud.icon.url(:standard), :alt => @pseud.icon_alt_text, :class => "icon") %>
   </p>
   <%- if @pseud.icon_file_name -%>
     <%= f.check_box :delete_icon, {:checked => false} %>
     <%= f.label :delete_icon, 'Delete this icon and revert to archive default icon' %><br/>
   <%- end -%>
   <%= f.label :icon, "Upload a new icon:" %>
   <%= f.file_field :icon %>
   <p>You may currently have one icon for each pseud. Icons may be in png, jpeg or gif format.</p>
 </dd>
 
 <dt><%= f.label :icon_alt_text, 'Icon alt text for screenreaders' %><%= link_to_help "icon-alt-text" -%></dt>
 <dd>
    <%= f.text_field :icon_alt_text %>
    <%= generate_countdown_html("pseud_icon_alt_text", Pseud::ICON_ALT_MAX) -%>
 </dd>

</dd>
 
</dl>
 <p class="submit">
    <%= f.submit button_text %>
  </p>
<% end %>
