<% form_for([@user, @pseud]) do |f| %>
  <p>
    <strong><%=h 'Name'.t %></strong><br />
	<% if @pseud.name && @user.login == @pseud.name -%>
		<strong><%=h @pseud.name -%></strong> (<%=h "cannot change your fallback pseud".t -%>)
	<% else -%>
    	<%= f.text_field :name %>
	<% end -%>
  </p>

  <p>
    <strong><%=h 'Description'.t %></strong><br />
    <%= f.text_area :description, :rows => 4, :cols => 60 -%>
  </p>

  <p>
    <strong><%=h 'Is default'.t %></strong><br />
    <%= f.check_box :is_default %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
