
<%= form_for([@user, @pseud], :html => {:multipart => true}) do |f| %>
<dl>
  <dt><%= f.label :name, ts("Name") %></dt>
  <dd>
    <% if @pseud.name && @user.login == @pseud.name %>
      <strong class="warning"><%= @pseud.name %></strong> (<%= ts("cannot change your fallback pseud") %>)
    <% else %>
      <%= f.text_field :name, :class => "observe_textlength" %>
    <% end %>
    <%= f.check_box :is_default, {:disabled => (@pseud.name && @user.login == @pseud.name && @pseud.is_default?)} %> <%= f.label :is_default, 'Is default' %>
    <%= generate_countdown_html("pseud_name", Pseud::NAME_LENGTH_MAX) if @pseud.name && @user.login != @pseud.name %>
  </dd>
  <dt><%= f.label :description, ts("Description") %></dt>
  <dd>
    <code>a href, em, strong, i, b</code><br />
    <%= f.text_area :description, :rows => 4, :cols => 60, :class => "observe_textlength" %>
    <%= generate_countdown_html("pseud_description", Pseud::DESCRIPTION_MAX) %>
  </dd>
 
  <dt><%= ts("Icon") %></dt>
  <dd>
    <p class="icon">
      <%= standard_icon_display(@user, @pseud) %>
    </p>
    <% if @pseud.icon_file_name %>
      <%= f.check_box :delete_icon, {:checked => false} %>
      %= f.label :delete_icon, ts("Delete this icon and revert to archive default icon") %><br/>
    <% end %>
    <%= f.label :icon, ts("Upload a new icon:") %>
    <%= f.file_field :icon %>
    <p><%= ts("You may currently have one icon for each pseud. Icons may be in png, jpeg or gif format.") %></p>
  </dd>
 
  <dt><%= f.label :icon_alt_text, ts("Icon alt text for screenreaders") %><%= link_to_help "icon-alt-text" %></dt>
  <dd>
    <%= f.text_field :icon_alt_text, :class => "observe_textlength" %>
    <%= generate_countdown_html("pseud_icon_alt_text", ArchiveConfig.ICON_ALT_MAX) %>
  </dd>

 <dt class="landmark">Submit</dt>
 <dd class="submit">  <%= f.submit button_text %></dd>
</dl>

<% end %>
