<h2 class="heading"><%=h 'Pseud deletion' %></h2>

<p>
  When you delete your pseud, any works and series you have written under it will be transferred to
  your default pseud. Any comments you have left using it will be made anonymous.
</p>

<% if @pseud.bookmarks %>
  <%= form_tag({:action => "destroy"}, :method => :delete) do %>
    <p>You have saved <%= @pseud.bookmarks.count %> bookmark(s) using this pseud. You can choose whether to
    delete them or transfer them to your default pseud.
    </p>

    <p>
    <%= radio_button_tag 'bookmarks_action', "delete_bookmarks", true %>
    <%= label_tag 'bookmarks_action_delete_bookmarks', 'Delete these bookmarks' %>
    </p>

    <p>
    <%= radio_button_tag 'bookmarks_action', "transfer_bookmarks" %>
    <%= label_tag 'bookmarks_action_transfer_bookmarks', "Transfer these bookmarks to the default pseud" %>
    </p>

    <p class="submit cancel actions">
		  <%= submit_tag "Submit", data: {confirm: "Are you sure? This can't be undone!"} %> <%= submit_tag 'Cancel', :name => 'cancel_button', :class => 'cancel' %>
    </p>
  <% end %>
<% end %>
