<h1><%=h 'Editing pseud' %></h1>

<%= error_messages_for :pseud %>
<%= render :partial => 'pseuds_form', :locals => { :button_text => "Update" } %>

<ul class="navigation">
	<li><%= link_to 'Show', [@user, @pseud] %></li>
	<li><%= link_to 'Back to Pseuds', user_pseuds_path(@user) %></li>
</ul>
