<h1><%=h 'Editing pseud'.t %></h1>

<%= error_messages_for :pseud %>

<%= render :partial => 'pseuds_form', :locals => { :button_text => "Update".t } %>

<p>
	<%= link_to 'Show'.t, [@user, @pseud] %> |
	<%= link_to 'Back'.t, user_pseuds_path(@user) %>
</p>
