<h1><%= t('editing_pseud', :default => 'Editing pseud') %></h1>

<%= error_messages_for :pseud %>
<%= render :partial => 'pseuds_form', :locals => { :button_text => t('forms.update', :default => "Update") } %>

<ul class="navigation">
	<li><%= link_to t('show_link', :default => 'Show'), [@user, @pseud] %></li>
	<li><%= link_to t('index_link', :default => 'Back to Pseuds'), user_pseuds_path(@user) %></li>
</ul>
