<h1><%= "Pseuds for %s".t / @user.login -%></h1>

<table>
  <tr>
    <th><%=h 'Name'.t %></th>
    <th><%=h 'Description'.t %></th>
    <th><%=h 'Is default'.t %></th>
  </tr>

<% for pseud in @pseuds %>
  <tr>
    <td><%=h pseud.name %></td>
    <td><%=h pseud.description %></td>
    <td><%=h pseud.is_default %></td>
    <td><%= link_to 'Show'.t, [@user, pseud] %>
	<% if current_user == @user -%>
     | <%= link_to 'Edit'.t, [:edit, @user, pseud] -%>
     | <%= link_to 'Orphan Stories'.t, {:controller => 'orphans', :action => 'new', :pseud_id => pseud.id} -%>
		 <% unless @user.login == pseud.name || pseud.is_default -%>
 		 | <%= link_to 'Destroy'.t, [@user, pseud], :confirm => 'Are you sure?'.t, :method => :delete %>
		 <% end -%>
	<% end -%>
	</td>
  </tr>
<% end %>
</table>



<br />

<p>
	<% if current_user == @user -%>
	<%= link_to 'New pseud'.t, new_user_pseud_path(@user) %>
	<% end -%>
</p>