<h1><%= t('pseuds_for', :default => "Pseuds for {{user}}", :user => @user.login) -%></h1>

<% if current_user == @user -%>
<div class="navigation">
<span class="navitem"><%= link_to t('new_pseud', :default => 'New Pseud'), new_user_pseud_path(@user) %></span>
</div>
<% end -%>
<ul class="pseuds-list">
  <% for pseud in @pseuds %>
  <li>
    <p class="pseud-name"><%=link_to pseud.name, [@user, pseud] %>
<%- if pseud.is_default then %> (<%= t('default_pseud', :default => 'Default') %>) <% end %>
    </p>
    <%- unless pseud.description.blank? -%>
      <p class="pseud-desc"><%= sanitize_description_for_display pseud.description %></p>
    <%- end -%>
      <% if current_user == @user -%>
    <div class="navigation">
        <span class="navitem"><%= link_to t('edit_link', :default => 'Edit'), [:edit, @user, pseud] -%></span>
        <%- unless pseud.works.blank? %>
          <span class="navitem"><%= link_to t('orphan_link', :default => 'Orphan Works'), {:controller => 'orphans', :action => 'new', :pseud_id => pseud.id} -%></span>
        <%- end -%>
        <% unless @user.login == pseud.name || pseud.is_default -%>
          <span class="navitem"><%= link_to t('delete_link', :default => 'Delete'), [@user, pseud], :confirm => t('links.are_you_sure', :default => 'Are you sure?'), :method => :delete %></span>
        <% end -%>
    </div>
  <% end -%>
  </li>
<% end %>
</ul>

<% if current_user == @user -%>
<div class="navigation">
<span class="navitem"><%= link_to t('new_pseud', :default => 'New Pseud'), new_user_pseud_path(@user) %></span>
</div>
<% end -%>

