<h1><%= "Pseuds for %s" / @user.login -%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Is default</th>
  </tr>

<% for pseud in @pseuds %>
  <tr>
    <td><%=h pseud.name %></td>
    <td><%=h pseud.description %></td>
    <td><%=h pseud.is_default %></td>
    <td><%= link_to 'Show', [@user, pseud] %>
	<% if current_user == @user -%>
     | <%= link_to 'Edit', [:edit, @user, pseud] -%>
     | <%= link_to 'Orphan Stories', {:controller => 'orphans', :action => 'new', :pseud_id => pseud.id} -%>
		 <% unless @user.login == pseud.name || pseud.is_default -%>
 		 | <%= link_to 'Destroy', [@user, pseud], :confirm => 'Are you sure?', :method => :delete %>
		 <% end -%>
	<% end -%>
	</td>
  </tr>
<% end %>
</table>



<br />

<p>
	<% if current_user == @user -%>
	<%= link_to 'New pseud', new_user_pseud_path(@user) %>
	<% end -%>
</p>