<h1><%= t('pseuds_for', :default => "Pseuds for {{user}}", :user => @user.login) -%></h1>

<% if current_user == @user -%>
<ul class="navigation">
<li><%= link_to t('new_pseud', :default => 'New Pseud'), new_user_pseud_path(@user) %></li>
</ul>
<% end -%>
<ul class="pseuds-list">
  <% for pseud in @pseuds %>
  <li>
    <p class="pseud-name"><%=link_to pseud.name, [@user, pseud] %>
<%- if pseud.is_default then %> (<%= t('default_pseud', :default => 'Default') %>) <% end %>
    </p>
    <p class="pseud-desc"><%= pseud.description %></p>
      <% if current_user == @user -%>
    <ul class="navigation">
        <li><%= link_to t('edit_link', :default => 'Edit'), [:edit, @user, pseud] -%></li>
        <li><%= link_to t('orphan_link', :default => 'Orphan Works'), {:controller => 'orphans', :action => 'new', :pseud_id => pseud.id} -%>
        <% unless @user.login == pseud.name || pseud.is_default -%></li>
          <li><%= link_to t('delete_link', :default => 'Delete'), [@user, pseud], :confirm => t('links.are_you_sure', :default => 'Are you sure?'), :method => :delete %></li>
        <% end -%>
    </ul>
  <% end -%>
  </li>
<% end %>
</ul>

<% if current_user == @user -%>
<ul class="navigation">
<li><%= link_to t('new_pseud', :default => 'New Pseud'), new_user_pseud_path(@user) %></li>
</ul>
<% end -%>

