<p>
  <b><%=h 'User:'.t %></b>
  <%=h @pseud.user.login %>
</p>

<p>
  <b><%=h 'Name:'.t %></b>
  <%=h @pseud.name %>
</p>

<p>
  <b><%=h 'Description:'.t %></b>
  <%=h @pseud.description %>
</p>

<p>
  <b><%=h 'Is default:'.t %></b>
  <%=h @pseud.is_default %>
</p>

<p>
	<%= link_to 'Edit'.t, [:edit, @user, @pseud] %> |
	<%= link_to 'Back'.t, user_pseuds_path(@user) %>
</p>