<p>
  <b>User:</b>
  <%=h @pseud.user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @pseud.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @pseud.description %>
</p>

<p>
  <b>Is default:</b>
  <%=h @pseud.is_default %>
</p>

<p>
	<%= link_to 'Edit', [:edit, @user, @pseud] %> |
	<%= link_to 'Back', user_pseuds_path(@user) %>
</p>