<dl>
	<dt><%=h 'User:'.t %></dt>
  	<dd><%=h @pseud.user.login %></dd>
	<dt><%=h 'Name:'.t %></dt>
  	<dd><%=h @pseud.name %></dd>
	<dt><%=h 'Description:'.t %></dt>
  	<dd><%=h @pseud.description %></dd>
	<dt><%=h 'Is default:'.t %></dt>
  	<dd><%=h @pseud.is_default %></dd>
</dl>
	
<ul class="navigation">
	<li><%= link_to 'Edit'.t, [:edit, @user, @pseud] %></li>
	<li><%= link_to 'Back'.t, user_pseuds_path(@user) %></li>
</ul>
