<table id="invitations_by_status" summary="<%= ts('How many invitation tokens have been redeemed, sent but unredeemed, and unsent.') %>">
	<caption><%= ts('Invitations by Status') %></caption>
	<thead>
		<tr>
			<th scope="col"><%= ts('Status') %></th>
			<th scope="col"><%= ts('Total') %></th>
		</tr>
	</thead>
	<tbody>
	  <% @invitations_by_status.each_pair do |status, count| %>
		<tr>
			<th scope="row"><%= status.to_s %></th>
			<td><%= count.to_s %></td>
		</tr>
    <% end %>
	</tbody>
</table>

<table id="invitations_by_week" summary="<%= ts('Number of invitations created and redeemed by week for the last fourteen weeks.') %>">
	<caption><%= ts('Invitations Created per Week') %></caption>
	<thead>
		<tr>
			<th scope="col"><%= ts('Action') %></th>
			<%= @graph_dates.collect {|d| '<th scope="col">' + d.strftime('%m-%d-%y') + '</th>'}.join.html_safe %>
		</tr>
	</thead>
	<tbody>
	  <tr>
			<th scope="row"><%= ts('invitations created') %></th>
			<% @graph_dates.each do |date| %>
			<td><%= @invitations_created_weekly[date] ? @invitations_created_weekly[date].length : 0 %></td>
			<% end %>
		</tr>
		<tr>
			<th scope="row"><%= ts('invitations redeemed') %></th>
			<% @graph_dates.each do |date| %>
			<td><%= @invitations_redeemed_weekly[date] ? @invitations_redeemed_weekly[date].length : 0 %></td>
			<% end %>
		</tr>
	</tbody>
</table>
