<table id="users_by_week" summary="<%= ts('How many new user accounts were created per week over the last fourteen weeks.') %>">
	<caption><%= ts('Users Created per Week') %></caption>
	<thead>
		<tr>
			<th scope="col"><%= ts('Action') %></th>
			<%= @graph_dates.collect {|d| '<th scope="col">' + d.strftime('%m-%d-%y') + '</th>'}.join.html_safe %>
		</tr>
	</thead>
	<tbody>
	  <tr>
			<th scope="row"><%= ts('users created') %></th>
			<% @graph_dates.each do |date| %>
			<td><%= @users_created_weekly[date] ? @users_created_weekly[date].length : 0 %></td>
			<% end %>
		</tr>
	</tbody>
</table>
