<table id="works_by_week" summary="<%= ts('Number of works created per week over the last fourteen weeks.') %>">
	<caption><%= ts('Works Created per Week') %></caption>
	<thead>
		<tr>
			<th span='col'><%= ts('Action') %></th>
			<%= @graph_dates.collect {|d| '<th span="col">' + d.strftime('%m-%d-%y') + '</th>'}.join.html_safe %>
		</tr>
	</thead>
	<tbody>
	  <tr>
			<th scope="row"><%= ts('works created') %></th>
			<% @graph_dates.each do |date| %>
			<td><%= @works_created_weekly[date] ? @works_created_weekly[date].length : 0 %></td>
			<% end %>
		</tr>
	</tbody>
</table>
