<h2 class="heading"><%= t(".title") %></h2>

<!--subnav-->
<h3 class="landmark heading">Navigation</h3>
<ul class="navigation actions" role="navigation">
  <li><%= span_if_current t(".blocked_users"), user_blocked_users_path %></li>
  <li><%= span_if_current t(".muted_users"), user_muted_users_path %></li>
</ul>

<div class="notice">
  <p><%= t(".will.intro") %></p>

  <ul>
    <li><%= t(".will.commenting") %></li>
    <li><%= t(".will.replying") %></li>
  </ul>

  <p><%= t(".will_not.intro") %></p>

  <ul>
    <li><%= t(".will_not.hide_works") %></li>
    <li><%= t(".will_not.comments_on_works") %></li>
    <li><%= t(".will_not.comments_elsewhere") %></li>
  </ul>
</div>

<%# form for muting users %>

<%= form_tag confirm_mute_user_muted_users_path(@user), method: :get, class: "single simple post" do %>
  <fieldset>
    <legend><%= t(".legend") %></legend>
    <p>
      <%= label_tag :muted_id, t(".label"), class: "landmark" %>
      <%= text_field_tag :muted_id, "", autocomplete_options("pseud", data: { autocomplete_token_limit: 1 }) %>
      <span class="submit actions"><%= submit_tag t(".button") %></span>
    </p>
  </fieldset>
<% end %>

<h3 class="landmark heading"><%= t("heading.landmark.muted") %> %></h3>
<% if @mutes.present? %>
  <ul class="pseud index group">
    <%= render partial: "muted_user_blurb", collection: @mutes, as: :mute %>
  </ul>
<% else %>
  <p><%= t(".none") %></p>
<% end %>

<%= will_paginate @mutes %>
