<!-- BEGIN footer -->
<div id="footer" role="contentinfo" class="region">
	<h3 class="landmark heading">Footer</h3>
  <div id="globalize"><!-- locales_menu --></div>
	<p class="beta"><span class="landmark"><abbr title="Archive Of Our Own">AO3</abbr> Beta</span></p>

  <%= yield :footer_js %>

  <ul class="navigation actions" role="navigation">
    <% unless Skin.in_chooser.empty?%>
      <li>
        <a href="#" class="skin_chooser_open"><%= ts("Choose Skin") %> &#8595;</a>
        <a href="#" class="skin_chooser_close"><%= ts("Close") %> &#8593;</a>
        <ul id="skin_chooser" class="toggled secondary">
          <li><%= link_to ts("Default"), unset_skins_path %></li>
          <% Skin.in_chooser.order(:title).each do |s| %>
            <li><%= link_to s.title, set_skin_path(s) %></li>
          <% end %>
        </ul>
        &#8212; 
      </li>
    <% end %>
    <li><%= link_to "Terms of Service", tos_path %></li>
    <li>&#8212; <%= link_to "Site Map", site_map_path %></li>
    <li>&#8212; <%= link_to 'Report Abuse', new_abuse_report_path %></li>
    <li>&#8212; <%= link_to 'Support and Feedback', new_feedback_report_path %></li>
    <li>&#8212; <%= link_to 'Donate', donate_path %></li>
    <li>&#8212; <%= link_to 'FAQ', archive_faqs_path %></li>
    <li>&#8212; <%= link_to 'Known Issues', known_issues_path %></li>
    <% if (logged_in_as_admin? || logged_in? && current_user.is_tag_wrangler?) %>
      <li>&#8212; <%= link_to 'Tag Wrangling', tag_wranglings_path %></li>
    <% end %>
    <% if Rails.env.development? && ArchiveConfig.DEVELOPMENT_PROFILING_ENABLED %>
      <li>&#8212; <%= link_to 'Devmode', devmode_path %></li>
    <% end %>
    <li>&#8212; <a href="http://creativecommons.org/licenses/GPL/2.0/" title="View License">GPL/CC</a> <%=h t('.layout.footer.by_the_otw', :default => 'by the') %> <a href="http://transformativeworks.org/" title="The Organization for Transformative Works">OTW</a></li>
    <% unless ArchiveConfig.REVISION.blank? %>
      <li>&#8212; <%= link_to ts('otwarchive %{rev_number}', :rev_number => ArchiveConfig.REVISION), "https://github.com/otwcode/otwarchive/commits/#{ArchiveConfig.REVISION}" %></li>
    <% end %>
  </ul>
</div>
<!-- END footer -->
<% if Rails.env.development? && ArchiveConfig.DEVELOPMENT_PROFILING_ENABLED %>
<div id="debug">
  <h1>Development Notice</h1>
  <p>
    This is a development site. That means, please don't put in
    anything you need to keep secure or want to preserve.
    All the contents of this site (including user accounts) can and
    probably will be wiped without notice as we work.
  </p>
  <p>
    Please <strong>do</strong>
    help us out and <a href="http://code.google.com/p/otwarchive/issues/list">report any problems</a>!
  </p>
  <p>
    These links below here are just to provide debugging info for your friendly neighborhood coders,
    please ignore.
  </p>
  <script language="javascript">document.cookie = 'profile=No; path=/; expires=1900-01-01T00:00:00 '</script>
  <!-- <a href="#" onclick="document.cookie = 'profile=' + (new Date()).toGMTString() + '; path=/; '; return false;">Profile next request</a> -->
  <dl class="debug_navigation">
    <dt>
      <a href="#" onclick="Element.toggle('params_debug_info'); return false;">params</a>
    </dt>
    <dd id="params_debug_info" class="debug_info" style="display:none">
      <%= debug(params) %>
    </dd>
    <dt>
      <a href="#" onclick="Element.toggle('session_debug_info'); return false;">session</a>
    </dt>
    <dd id="session_debug_info" class="debug_info" style="display:none">
      <%= debug(session) %>
    </dd>
    <dt>
      <a href="#" onclick="Element.toggle('env_debug_info'); return false;">env</a>
    </dt>
    <dd id="env_debug_info" class="debug_info" style="display:none">
      <%= debug(request.env) %>
    </dd>
    <dt>
      <a href="#" onclick="Element.toggle('request_debug_info'); return false;">request</a>
    </dt>
    <dd id="request_debug_info" class="debug_info" style="display:none">
      <%= debug(request) %>
    </dd>
  </dl>
</div>
<% end %>

