<!-- BEGIN footer -->
<div id="footer" role="contentinfo" class="region">
  <h3 class="landmark heading"><%= t(".landmark") %></h3>
  <ul class="navigation actions" role="navigation">
    <% if logged_in? || logged_in_as_admin? %>
      <% cache(skin_chooser_key, skip_digest: true) do %>
        <% unless Skin.in_chooser.empty? %>
          <li class="module group">
            <h4 class="heading"><%= t(".customize.header") %></h4>
            <ul class="menu">
              <li><%= link_to t(".customize.default"), unset_skins_path %></li>
              <% Skin.in_chooser.order(:title).each do |s| %>
                <li><%= link_to s.title, set_skin_path(s) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    <% end %>
    <li class="module group">
      <h4 class="heading"><%= t(".about.header") %></h4>
      <ul class="menu">
        <li><%= link_to t(".about.site_map"), site_map_path %></li>
        <li><%= link_to t(".about.diversity_statement"), diversity_path %></li>
        <li><%= link_to t(".about.tos"), tos_path %></li>
        <li><%= link_to t(".about.content_policy"), content_path %></li>
        <li><%= link_to t(".about.privacy_policy"), privacy_path %></li>
        <li><%= link_to t(".about.dmca_policy"), dmca_path %> </li>
      </ul>
    </li>
    <li class="module group">
      <h4 class="heading"><%= t(".contact_us.header") %></h4>
      <ul class="menu">
        <li><%= link_to t(".contact_us.pac"), new_abuse_report_path %></li>
        <li><%= link_to t(".contact_us.support"), new_feedback_report_path %></li>
      </ul>
    </li>
    <li class="module group">
      <h4 class="heading"><%= t(".development.header") %></h4>
      <ul class="menu">
        <% unless ArchiveConfig.REVISION.blank? %>
          <li>
            <%= link_to t(".development.archive_version", version_number: ArchiveConfig.REVISION),
                  "https://github.com/otwcode/otwarchive/commits/#{ArchiveConfig.REVISION}" %>
          </li>
        <% end %>
        <li><%= link_to t(".development.known_issues"), known_issues_path %></li>
        <li>
          <%= t(".development.license_details_html",
                license_link: link_to(t(".development.gpl_2_0_or_later"),
                  "https://www.gnu.org/licenses/old-licenses/gpl-2.0.html",
                  title: t(".development.view_license")),
                otw_link: link_to(t(".otw.abbreviated"),
                  "https://transformativeworks.org/",
                  title: t(".otw.full"))) %>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- END footer -->
