<!-- BEGIN header -->
<%- if @collection -%>
<!-- custom css for header -->
<style type="text/css">
#header  {  background:#7887AF url(<%= @collection.header_image_url || (@collection_parent ? @collection_parent.header_image_url : '') -%>);}
</style>
<%- end -%>

<div id="header">
	<% if @collection %>
	  <h1 class="collection"><%= link_to "&lt;&lt; #{ArchiveConfig.APP_NAME}", media_path -%></h1>
	<% end %>
  <div id="login-block">
  <%- if logged_in? || logged_in_as_admin? -%>
    <%= render :partial => 'session/greeting' -%>
  <% else -%>
    <ul id="greeting" class="logged-out">
      <li>
		    <%= render :partial => 'session/login' -%>
        <a id='signin_closed' onclick='toggleLogin("signin")' style='display:none;'><%=h t('layout.header.sign_in', :default => 'Sign in') %></a>
        <a id='signin_open' onclick='toggleLogin("signin")'><%=h t('links.cancel', :default => 'Cancel') %></a>
		  </li>
    </ul>
  <% end -%>
  <%= render :partial => 'works/search_box' %>
</div>

  <% if @collection -%>
    <h1 class="collections"><%= @collection.title ? @collection.title : (@collection_parent ? @collection_parent.title : t('layouts.new_collection', :default => "New Collection")) -%>
  <% else -%>
    <h1><%= link_to ArchiveConfig.APP_NAME, root_path %>
  <% end -%>
  <% unless ArchiveConfig.REVISION.blank? %>(BETA <%=h t('revision', :default => 'rev. {{rev_number}}', :rev_number => ArchiveConfig.REVISION) %>)<% end %>
	</h1>

  <ul id="main-navigation">
    <% if @collection %>
      <li><%= span_if_current('collection home', !@collection.new_record? ? collection_path(@collection) : (@collection_parent ? collection_path(@collection_parent) : collections_path)) %></li>
    <% else %>
      <li><%= logged_in? ? span_if_current('my home', user_path(current_user)) : span_if_current('home', root_path) %></li>
    <% end %>
    <li><%= span_if_current('fandoms', @collection ? collection_media_path(@collection) : media_path) -%></li>
    <li><%= span_if_current('works', @collection ? collection_works_path(@collection) : works_path) -%></li>
    <li><%= span_if_current('people', @collection ? collection_people_path(@collection) : people_path) -%></li>
    <li><%= span_if_current('bookmarks', @collection ? collection_bookmarks_path(@collection) : bookmarks_path) -%></li>
    <li><%= span_if_current('tags', @collection ? collection_tags_path(@collection) : tags_path) -%></li>
    <li><%= span_if_current('collections', collections_path) -%></li>
    
    <%- if logged_in_as_admin? -%>
      <%= render :partial => 'admin/header' -%>
    <%- end -%>
  </ul>
  <div class="clear"></div>
</div>

<!-- END header -->

