<div id="tos_banner" class="hidden" style="position: absolute; top: 0; width: 100%; z-index: 999">
  <h2 class="heading"><span>Archive of Our Own</span></h2>
  <div id="tos_banner_content">
    <p class="text">
      Archive of Our Own (AO3) allows users to make profiles, post Content/works, post comments, give Kudos, create Collections and Bookmarks, participate in Challenges and import works. Any information you post, such as in a comment, profile, work, or Content that you post or import onto AO3, including any summaries, notes and tags, will be accessible by the public unless you explicitly make a work available only to those with AO3 Accounts, and it will be available to AO3 personnel. To learn more, check out our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.
    </p>

    <p class="ticky">
      <input type="checkbox" id="tos_agree" />
      <label for="tos_agree"><%= ts("I have read & understood the new Terms of Service and Privacy Policy") %></label>
    </p>

    <% if current_user.nil? %>
      <p class="submit">
        <%= button_tag ts("I agree/consent to its terms"), disabled: true, type: "button", id: "accept_tos" %>
      </p>
    <% else %>
      <%= form_tag end_tos_popup_user_path(current_user),
            method: :post,
            remote: true do %>
        <p class="submit">
          <%= submit_tag ts("I agree/consent to its terms"), disabled: true, id: "accept_tos" %>
        </p>
      <% end %>
    <% end %>

  </div>
</div>

<% # content_for footer renders this when we don't want it %>
<%= javascript_tag do %>
  $j(document).ready(function() {
    var banner = $j('#tos_banner');
    var outer = $j('#outer');
    var button = $j('#accept_tos');

    setTimeout(makeTOS, 1500);

    function makeTOS() {
      $j.when(banner.fadeIn(500)).done(function() {
        outer.addClass('hidden');
        outer.attr('aria-hidden', 'true');
      });

      $j('#tos_agree').on("click", function() {
        button.attr('disabled', !this.checked);
        if (this.checked) {
          button.on("click", function() {
            // Expires in 20 years, like a Rails permanent cookie
            $j.cookie('accepted_tos', '<%= @current_tos_version %>', { expires: 7300 });
            outer.removeClass('hidden');
            outer.removeAttr('aria-hidden');
            $j.when(banner.fadeOut(500)).done(function() {
              banner.remove();
            });
          });
        };
      }).change();
    };
  });
<% end %>
