<div id="tos_prompt" class="hidden">
  <h2 class="heading">
    <span><%= t(".page_heading") %></span>
  </h2>
  <div class="agreement">
    <p>
      <%= t(".summary_html",
            content_link: link_to(t(".content"), tos_faq_path(anchor: "define_content"))) %>
    </p>
    <p>
      <%= t(".learn_more_html",
            tos_link: link_to(t(".tos"), tos_path),
            content_policy_link: link_to(t(".content_policy"), content_path),
            privacy_policy_link: link_to(t(".privacy_policy"), privacy_path)) %>
    </p>

    <p class="confirmation">
      <input type="checkbox" id="tos_agree" />
      <label for="tos_agree"><%= t(".read_and_understood") %></label>
    </p>

    <p class="confirmation">
      <input type="checkbox" id="data_processing_agree" />
      <label for="data_processing_agree"><%= t(".data_processing_agreement") %></label>
    </p>

    <% if current_user.nil? %>
      <p class="submit">
        <%= button_tag t(".agree_and_consent"), disabled: true, type: "button", id: "accept_tos" %>
      </p>
    <% else %>
      <%= form_tag end_tos_prompt_user_path(current_user),
            method: :post,
            remote: true do %>
        <p class="submit">
          <%= submit_tag t(".agree_and_consent"), disabled: true, id: "accept_tos" %>
        </p>
      <% end %>
    <% end %>

  </div>
</div>

<%# content_for footer renders this when we don't want it %>
<%= javascript_tag do %>
  $j(document).ready(function() {
    var body = document.body;
    var container = $j("#tos_prompt");
    var outer = document.getElementById("outer");
    var button = document.getElementById("accept_tos");
    var tosCheckbox = document.getElementById("tos_agree");
    var dataProcessingCheckbox = document.getElementById("data_processing_agree");

    dataProcessingCheckbox.onclick = checkboxClicked;
    tosCheckbox.onclick = checkboxClicked;
    button.onclick = acceptTOSPrompt;

    setTimeout(showTOSPrompt, 1500);

    function showTOSPrompt() {
      body.style.overflow = "hidden";
      $j.when(container.fadeIn(500)).done(function() {
        outer.style.visibility = "hidden";
        outer.setAttribute("aria-hidden", "true");
      });
    }

    function checkboxClicked() {
      button.disabled = !tosCheckbox.checked || !dataProcessingCheckbox.checked;
    }

    function acceptTOSPrompt() {
      acceptTOS();
      body.style.overflow = "";
      outer.style.visibility = "";
      outer.removeAttribute("aria-hidden");
      $j.when(container.fadeOut(500)).done(function() {
        container.remove();
      });
    }
  });
<% end %>
