<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
	  <%- if defined?(@page_title) -%>
	    <%= @page_title -%>
	  <%- else -%>
  	  <%=h ArchiveConfig.APP_NAME .t %> 
  	  <% unless ArchiveConfig.REVISION.blank? -%>(rev. <%= ArchiveConfig.REVISION %>)<% end %>
  	  &raquo;
  	  <%= controller.controller_name %>
      <%= controller.action_name %>
  	  <%- if defined?(@page_subtitle) -%>
        &raquo;
  	    <%= @page_subtitle -%>
  	  <%- end -%>
  	<%- end -%>
  </title>

	<%= render :partial => 'layouts/includes' %>

  </head>

  <body onload="hideLogin();">
  <ul id="skiplinks"><li><a href="#main"><%=h 'Main Content'.t %></a></li></ul>
	<%= render :partial => 'layouts/header' %>
  
	  <!-- BEGIN sidebar -->
	  <%- if @user && !@hide_dashboard -%> 
	  <div id="dashboard-sidebar">
	    <%= render :partial => 'users/sidebar' %>
	  </div>
	  <%- end -%>
	  <!-- END sidebar -->
  
	  <!-- BEGIN main -->
	  <div id="main" class="<%= classes_for_main %>">
	    <%= flash_div :error, :warning, :notice %>
	    <%= yield  %>
	  </div>
	  <!-- END main -->
		
	  <%= render :partial => 'layouts/footer' %>

  </body>
</html>