<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <base href="<%= ArchiveConfig.APP_URL -%>">
  	<%= render :partial => 'layouts/includes' %>
  </head>
  <body>

	  <!-- BEGIN main -->
	  <div id="main" class="<%= classes_for_main %>" role="main">
	    <%= yield  %>
	  </div>
	  <!-- END main -->
	  
	</body>
</html>