<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="generator" content="HTML Tidy, see www.w3.org" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			<%=h ArchiveConfig.APP_NAME  %>
			<% unless ArchiveConfig.REVISION.blank? -%>(rev.
			<%= ArchiveConfig.REVISION %>)
			<% end %>&gt;&gt;
			<%= controller.controller_name %>
			<%= controller.action_name %>
		</title>
		<%= render :partial => 'layouts/includes' %>
	</head>
	<body onload="hideFormFields(); initSelect('languages_menu')">
    <!-- BEGIN main -->
		<div id="main" class="<%= controller.controller_name + '-' + controller.action_name -%> session">
			<%= flash_div :error, :warning, :notice %>
			<h1><%= link_to ArchiveConfig.APP_NAME , :controller => 'home', :action => 'index' %></h1>
			<h2><%=h t('layout.session.project_of_otw', :default => "A project of the") %> <a href="http://transformativeworks.org"><%=h "Organization For Transformative Works" %></a></h2>
			<p id="logo">
				<%= image_tag(ArchiveConfig.LOGO, :alt => ArchiveConfig.ALT_LOGO) -%>
			</p>
				<div id="signin">
					<%= yield %>
				</div>
		</div>
    <!-- END main -->
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>