<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.unaddressed") %></p>

  <p><%= t(".request_to_change_email_html", username: style_bold(@resource.login), app_name: ArchiveConfig.APP_SHORT_NAME) %></p>

  <p><%= t(".made_request.html", count: @resource.class.confirm_within.in_days.to_i, confirm_email_change_link: link_to(t(".confirm_email_change"), reconfirm_email_user_url(@resource, confirmation_token: @token))) %></p>

  <p><%= t(".confirm_by.html", date: l(@resource.confirmation_sent_at + @resource.class.confirm_within), email_change_form_link: link_to(t(".email_change_form"), change_email_user_url(@user))) %></p>

  <p><%= t(".did_not_make_request") %></p>
<% end %>
