<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal_html", name: style_bold(@resource.login)) %></p>
  <p><%= t(".intro") %></p>
  <p><%= style_link t(".link_title"), edit_user_password_url(reset_password_token: @token) %></p>
  <p><%= t(".expiration") %></p>
  <p><%= t(".unrequested") %></p>
<% end %>
