<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.addressed_html", name: style_bold(@resource.login)) %></p>
  <p><%= t(".intro", app_name: ArchiveConfig.APP_SHORT_NAME) %></p>
  <p>
    <%= t(".instructions.html",
          intro_bold: style_bold(t(".instructions.intro",
            choose_new_password_link: style_link(t(".choose_new_password"), edit_user_password_url(reset_password_token: @token)),
            count: ArchiveConfig.DAYS_UNTIL_RESET_PASSWORD_LINK_EXPIRES)),
          new_password_reset_link: style_link(t(".new_password_reset"), new_user_password_url),
          contact_support_link: style_link(t(".contact_support"), new_feedback_report_url)) %>
  </p>

  <p><%= t(".ignore_if_not_requested.html", safely_ignore_bold: style_bold(t(".ignore_if_not_requested.safely_ignore"))) %></p>

  <p><%= t(".reset_emails_clarification.html",
           app_name: ArchiveConfig.APP_SHORT_NAME,
           choose_new_password_link: style_link(t(".choose_new_password"), edit_user_password_url(reset_password_token: @token)),
           change_your_password_link: style_link(t(".change_your_password"), change_password_user_url(@user))) %></p>

  <p><%= t(".contact_policy_abuse_instructions.html", app_name: ArchiveConfig.APP_SHORT_NAME, contact_policy_abuse_link: style_link(t(".contact_policy_abuse"), new_abuse_report_url)) %></p>
<% end %>
