<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".heading") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--main content-->
<!-- TODO add ajax -->
<%= form_for resource, as: :user_registration, url: registration_path(resource_name), :html => {:id => "user_registration_form"} do |f| %>
  <%= hidden_field_tag :invitation_token, resource.invitation_token %>

  <fieldset>
    <legend><%= t(".legend.user") %></legend>
    <%= render :partial => "passwd", :locals => {:f => f} %>
  </fieldset>

  <fieldset>
    <legend><%= t(".legend.legal") %></legend>
    <%= render :partial => "legal", :locals => {:f => f} %>
  </fieldset>

  <fieldset>
    <legend><%= t(".submit") %></legend>
    <p class="submit cancel actions">
      <%= link_to t(".cancel"), root_path %>
      <%= submit_tag t(".submit"), data: { disable_with: t(".wait") } %>
    </p>
  </fieldset>
<% end %>
<!--/content-->
